Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

add comment
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
Labels: node

rm unnecessary Number -> bigint type conversions
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

fix hasAcceptableOperatorCount() for sponsorships which we've already staked to
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

always unstake from expired sponsorship
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

changelog
  CHANGELOG.md
Labels: docs

rename stakes -> myCurrentStakes
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/src/plugins/autostaker/types.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

rename unstakedAmount -> myUnstakedAmount
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/src/plugins/autostaker/types.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

inline OperatorState interface
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/src/plugins/autostaker/types.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

inline OperatorConfig and EnvironmentConfig interfaces
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/src/plugins/autostaker/types.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

AutostakerPluginConfig fields in same order as in adjustStakes()
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/config.schema.json
Labels: node

chore: bump config version
  package-lock.json
  packages/cli-tools/package.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: node, sdk, test-utils, cli-tools

chore: bump config version (#3146)
  package-lock.json
  packages/cli-tools/package.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: node, sdk, test-utils, cli-tools

release: v103.0.0-rc.20
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

config defaults
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/config.schema.json
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/src/plugins/autostaker/types.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

PlumTree can now be enabled from the sdk
  packages/sdk/src/NetworkNodeFacade.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/publish/Publisher.ts
  packages/sdk/src/subscribe/Subscription.ts
  packages/sdk/src/subscribe/SubscriptionSession.ts
  packages/trackerless-network/src/exports.ts
Labels: network, sdk

fix build
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/utils/addStreamToStorageNode.ts
Labels: sdk

fix test build
  packages/sdk/src/StreamrClient.ts
  packages/sdk/test/unit/SubscriptionSession.test.ts
  packages/sdk/test/unit/resendSubscription.test.ts
Labels: sdk

refactor getAnyItemFromSet
  packages/sdk/src/subscribe/SubscriptionSession.ts
Labels: sdk

add StreamPartDeliveryOptions to exports
  packages/sdk/src/exports.ts
Labels: sdk

Subsription deliveryOptions can be undefined
  packages/sdk/src/subscribe/Subscription.ts
  packages/sdk/src/utils/addStreamToStorageNode.ts
  packages/sdk/test/unit/SubscriptionSession.test.ts
  packages/sdk/test/unit/resendSubscription.test.ts
Labels: sdk

bump version
  package-lock.json
  packages/cli-tools/package.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: node, sdk, test-utils, cli-tools

chore: Bump `@streamr/config` to v5.8.0 (#3149)
  package-lock.json
  packages/cli-tools/package.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: node, sdk, test-utils, cli-tools

feat(node): [NET-1455] Autostaker plugin (#3086)
  CHANGELOG.md
  packages/node/src/pluginRegistry.ts
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/config.schema.json
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/src/plugins/autostaker/types.ts
  packages/node/test/smoke/autostaker.test.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
  packages/utils/src/sum.ts
Labels: docs, node, utils

release: v103.0.0
  CHANGELOG.md
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: docs, node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

rename to plumtreeOptimization
  packages/trackerless-network/src/ContentDeliveryManager.ts
  packages/trackerless-network/src/content-delivery-layer/createContentDeliveryLayerNode.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

changelog
  CHANGELOG.md
Labels: docs

rename PlumTree to Plumtree
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/content-delivery-layer/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/content-delivery-layer/ContentDeliveryRpcLocal.ts
  packages/trackerless-network/src/content-delivery-layer/createContentDeliveryLayerNode.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PausedNeighbors.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PlumtreeManager.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PlumtreeRpcLocal.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PlumtreeRpcRemote.ts
  packages/trackerless-network/test/unit/PlumTreeManager.test.ts
  packages/trackerless-network/test/unit/PlumTreeRpcLocal.test.ts
Labels: network

refactor(network): rename PlumTree to Plumtree (#3150)
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/content-delivery-layer/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/content-delivery-layer/ContentDeliveryRpcLocal.ts
  packages/trackerless-network/src/content-delivery-layer/createContentDeliveryLayerNode.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PausedNeighbors.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PlumtreeManager.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PlumtreeRpcLocal.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PlumtreeRpcRemote.ts
  packages/trackerless-network/test/unit/PlumTreeManager.test.ts
  packages/trackerless-network/test/unit/PlumTreeRpcLocal.test.ts
Labels: network

change log
  CHANGELOG.md
Labels: docs

don't mention the sdk
  CHANGELOG.md
Labels: docs

feat(network): [NET-1473] PlumTree can now be enabled from the sdk (#3147)
  CHANGELOG.md
  packages/sdk/src/NetworkNodeFacade.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/exports.ts
  packages/sdk/src/publish/Publisher.ts
  packages/sdk/src/subscribe/Subscription.ts
  packages/sdk/src/subscribe/SubscriptionSession.ts
  packages/sdk/src/utils/addStreamToStorageNode.ts
  packages/sdk/test/unit/SubscriptionSession.test.ts
  packages/sdk/test/unit/resendSubscription.test.ts
  packages/trackerless-network/src/ContentDeliveryManager.ts
  packages/trackerless-network/src/content-delivery-layer/createContentDeliveryLayerNode.ts
  packages/trackerless-network/src/exports.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: docs, network, sdk

createFnParseInt()
  packages/cli-tools/bin/streamr-internal-operator-create.ts
Labels: cli-tools

new command
  packages/cli-tools/bin/streamr-internal-operator-update.ts
  packages/cli-tools/bin/streamr-internal.ts
Labels: cli-tools

fix(cli-tools): Redundancy factor as number (#3152)
  packages/cli-tools/bin/streamr-internal-operator-create.ts
Labels: cli-tools

feat(cli-tools): Internal `operator-update` command (#3153)
  packages/cli-tools/bin/streamr-internal-operator-update.ts
  packages/cli-tools/bin/streamr-internal.ts
Labels: cli-tools

fix(network): reduce the number of nodes in the test to fix flakyness (#3141)
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

unstake() has amount parameter
  packages/cli-tools/bin/streamr-internal-operator-unstake.ts
  packages/cli-tools/bin/streamr-internal.ts
  packages/cli-tools/test/internal-operator.test.ts
  packages/node/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: node, sdk, cli-tools

update test
  packages/cli-tools/bin/streamr-internal-operator-unstake.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
Labels: node, cli-tools

feat(sdk, cli-tools): [NET-1475] Unstake has `amount` parameter (#3154)
  packages/cli-tools/bin/streamr-internal-operator-unstake.ts
  packages/cli-tools/bin/streamr-internal.ts
  packages/cli-tools/test/internal-operator.test.ts
  packages/node/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: node, sdk, cli-tools

update pre-baked unstaking
  packages/node/test/smoke/inspect.test.ts
Labels: node

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'
