Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

log nonce
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk

wait for the promises returned from stake/unstake
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

manual nonce control
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/src/exports.ts
Labels: node, sdk

bump autostaker tx timeout to 3 min
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

Remove browser on unload listener clean up
  packages/trackerless-network/src/NetworkStack.ts
Labels: network

upgrade version
  package-lock.json
  packages/browser-test-runner/package.json
  packages/sdk/package.json
Labels: sdk

configure jest externals
  packages/browser-test-runner/src/createKarmaConfig.ts
Labels: none

update changelog entry
  CHANGELOG.md
Labels: docs

update log statement
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

Autostaker uses fixed gas limit and nonce on stake/unstake, wait bugfix (#3237)
  CHANGELOG.md
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/src/exports.ts
Labels: docs, node, sdk

release: v103.1.2
  CHANGELOG.md
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: docs, node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

deps: Bump `webpack` to v5.103.0 (#3242)
  package-lock.json
  packages/browser-test-runner/package.json
  packages/browser-test-runner/src/createKarmaConfig.ts
  packages/sdk/package.json
Labels: sdk

update README
  packages/sdk/README.md
Labels: sdk

output hex instead of binary buffer
  packages/cli-tools/bin/streamr-stream-subscribe.ts
  packages/cli-tools/test/stream-publish-subscribe.test.ts
Labels: cli-tools

eslint
  packages/cli-tools/bin/streamr-stream-subscribe.ts
Labels: cli-tools

changelog
  CHANGELOG.md
Labels: docs

Add information about destroying the client in how-to-use.md
  docs/docs/usage/sdk/how-to-use.md
Labels: none

cleanig up section
  docs/docs/usage/sdk/how-to-use.md
Labels: none

Tweak & tighten types
  packages/utils/src/Defer.ts
  packages/utils/src/ENSName.ts
  packages/utils/src/EthereumAddress.ts
  packages/utils/src/Metric.ts
  packages/utils/src/ObservableEventEmitter.ts
  packages/utils/src/SigningUtil.ts
  packages/utils/src/StreamID.ts
  packages/utils/src/StreamPartID.ts
  packages/utils/src/TheGraphClient.ts
  packages/utils/src/UserID.ts
  packages/utils/src/initEventGateway.ts
  packages/utils/src/isENSName.ts
  packages/utils/src/lengthPrefixedFrameUtils.ts
  packages/utils/src/toEthereumAddressOrENSName.ts
  packages/utils/src/until.ts
Labels: utils

feat: Add plugin configuration via environment variables
  IMPLEMENTATION_SUMMARY.md
  PLUGIN_ENV_CONFIG_IMPLEMENTATION.md
  README_NET-1629.md
  VERIFICATION_CHECKLIST.md
  packages/node/configs/autostaker-example.env.example
  packages/node/configs/autostaker-example.json
  packages/node/configs/multiple-plugins-example.env.example
  packages/node/configuration.md
  packages/node/plugins.md
  packages/node/test-plugin-env-config.sh
  packages/node/test/integration/config.test.ts
  packages/node/test/unit/config.test.ts
Labels: docs, node

refactor: Tweak & tighten types for `@streamr/utils` (#3249)
  packages/utils/src/Defer.ts
  packages/utils/src/ENSName.ts
  packages/utils/src/EthereumAddress.ts
  packages/utils/src/Metric.ts
  packages/utils/src/ObservableEventEmitter.ts
  packages/utils/src/SigningUtil.ts
  packages/utils/src/StreamID.ts
  packages/utils/src/StreamPartID.ts
  packages/utils/src/TheGraphClient.ts
  packages/utils/src/UserID.ts
  packages/utils/src/initEventGateway.ts
  packages/utils/src/isENSName.ts
  packages/utils/src/lengthPrefixedFrameUtils.ts
  packages/utils/src/toEthereumAddressOrENSName.ts
  packages/utils/src/until.ts
Labels: utils

Tweak exports field
  packages/utils/package.json
Labels: utils

Redo packaging for `utils` package
  package-lock.json
  packages/utils/jest.config.ts
  packages/utils/package.json
  packages/utils/rollup.config.ts
  packages/utils/src/SigningUtil.ts
  packages/utils/src/browser/crypto.ts
  packages/utils/src/browser/os.ts
  packages/utils/src/crossPlatformCrypto.ts
  packages/utils/src/exports.ts
  packages/utils/src/keyToArrayIndex.ts
  packages/utils/src/node/crypto.ts
  packages/utils/tsconfig.browser.json
  packages/utils/tsconfig.jest.json
  packages/utils/tsconfig.json
  packages/utils/tsconfig.node.json
  packages/utils/tsconfig.rollup.json
Labels: utils

Use designated tsconfig for karma
  packages/browser-test-runner/src/createWebpackConfig.ts
  packages/proto-rpc/tsconfig.browser.json
  packages/proto-rpc/tsconfig.karma.json
  packages/utils/karma.config.js
  packages/utils/tsconfig.karma.json
Labels: proto-rpc, utils

Fix tests
  packages/utils/package.json
Labels: utils

Build cjs for jest
  packages/utils/package.json
  packages/utils/rollup.config.ts
Labels: utils

Fix eslint for utils
  packages/utils/test/Metric.test.ts
  packages/utils/test/composeAbortSignals.test.ts
  packages/utils/tsconfig.jest.json
  packages/utils/tsconfig.json
Labels: utils

Re-add `check` script
  packages/utils/package.json
Labels: utils

Missing types
  packages/utils/tsconfig.karma.json
Labels: utils

Build cjs for jasminized jest (karma)
  packages/utils/package.json
  packages/utils/rollup.config.ts
Labels: utils

Explicitly incl. webpack in frameworks
  packages/browser-test-runner/src/createKarmaConfig.ts
Labels: none

Avoid custom entries – karma doesn't allow them anyway
  packages/browser-test-runner/src/createKarmaConfig.ts
  packages/browser-test-runner/src/createWebpackConfig.ts
Labels: none

Custom filenames it also doesn't allow
  packages/browser-test-runner/src/createWebpackConfig.ts
Labels: none

This works
  packages/dht/tsconfig.karma.json
  packages/proto-rpc/tsconfig.karma.json
Labels: dht, proto-rpc

Drop extra comma – doesn't help much
  packages/utils/tsconfig.karma.json
Labels: utils

This helps
  packages/proto-rpc/tsconfig.karma.json
  packages/utils/package.json
Labels: proto-rpc, utils

`autocertifier-client` has got no test dir
  packages/autocertifier-client/tsconfig.browser.json
Labels: none

Browser tsconfigs should not know about `jest` and `node`
  packages/dht/tsconfig.browser.json
  packages/proto-rpc/tsconfig.browser.json
  tsconfig.browser.json
Labels: dht, proto-rpc

Further clean-up
  packages/trackerless-network/tsconfig.browser.json
  packages/trackerless-network/tsconfig.karma.json
Labels: network

Explicitly enable `webpack` framework
  packages/browser-test-runner/src/createKarmaConfig.ts
Labels: none
