Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

no longer call broadcast when replaying
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeRpcLocal.ts
Labels: network

fix problems with curve
  package-lock.json
  packages/cli-tools/bin/streamr-keys-generate.ts
  packages/dht/src/dht/DhtNode.ts
  packages/sdk/src/identity/ECDSAKeyPairIdentity.ts
  packages/sdk/src/identity/EthereumKeyPairIdentity.ts
  packages/sdk/src/identity/EthereumProviderIdentity.ts
  packages/sdk/src/identity/KeyPairIdentity.ts
  packages/sdk/src/identity/MLDSAKeyPairIdentity.ts
  packages/sdk/src/identity/identityConfig.ts
  packages/sdk/src/utils/encryptionCompliance.ts
  packages/utils/package.json
  packages/utils/src/signingUtils.ts
  packages/utils/test/signingUtils.test.ts
Labels: dht, sdk, utils, cli-tools

signingUtil supports both compressed and uncompressed public keys for ecdsa
  packages/utils/src/signingUtils.ts
  packages/utils/test/signingUtils.test.ts
Labels: utils

cleanup
  packages/sdk/src/identity/EthereumKeyPairIdentity.ts
  packages/sdk/src/identity/identityConfig.ts
  packages/sdk/test/integration/Resends.test.ts
  packages/sdk/test/integration/Subscriber2.test.ts
  packages/sdk/test/integration/gap-fill.test.ts
  packages/sdk/test/integration/parallel-key-exchange.test.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/Decrypt.test.ts
  packages/sdk/test/unit/EthereumKeyPairIdentity.test.ts
  packages/sdk/test/unit/GroupKeyManager.test.ts
  packages/sdk/test/unit/MessageFactory.test.ts
  packages/sdk/test/unit/messagePipeline.test.ts
  packages/utils/src/signingUtils.ts
Labels: sdk, utils

first draft
  packages/node/bin/autostaker-manual-test.sh
  packages/node/src/config/validateConfig.ts
  packages/node/src/pluginRegistry.ts
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/config.schema.json
Labels: node

cleanup
  packages/cli-tools/bin/streamr-keys-generate.ts
  packages/sdk/src/identity/ECDSAKeyPairIdentity.ts
  packages/sdk/src/identity/EthereumKeyPairIdentity.ts
  packages/sdk/src/identity/MLDSAKeyPairIdentity.ts
  packages/sdk/src/identity/identityConfig.ts
  packages/sdk/test/unit/ECDSAKeyPairIdentity.test.ts
  packages/sdk/test/unit/ERC1271ContractFacade.test.ts
  packages/sdk/test/unit/MLDSAKeyPairIdentity.test.ts
  packages/utils/src/signingUtils.ts
  packages/utils/test/signingUtils.test.ts
Labels: sdk, utils, cli-tools

expose internal method
  packages/sdk/src/StreamrClient.ts
Labels: sdk

update docs
  docs/docs/streamr-network/security/signing-and-verification.md
Labels: none

update changelog
  CHANGELOG.md
Labels: docs

cleanup
  packages/sdk/src/identity/ECDSAKeyPairIdentity.ts
  packages/sdk/src/identity/EthereumKeyPairIdentity.ts
Labels: sdk

chore(sdk): Add `StreamrClient#getTheGraphClient()` internal method (#3087)
  packages/sdk/src/StreamrClient.ts
Labels: sdk

add await
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeRpcLocal.ts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

delegate()
  packages/cli-tools/bin/streamr-internal-operator-undelegate.ts
  packages/node/test/smoke/profit.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: node, sdk, cli-tools

stake() and unstake()
  packages/cli-tools/bin/streamr-internal-operator-stake.ts
  packages/cli-tools/bin/streamr-internal-operator-unstake.ts
  packages/node/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/node/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/node/test/integration/plugins/operator/maintainOperatorValue.test.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/test/end-to-end/Operator.test.ts
Labels: node, sdk, cli-tools

SetupOperatorContractReturnType contains operatorContractAddress instead of operatorContract
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/node/test/integration/plugins/operator/announceNodeToContract.test.ts
  packages/node/test/integration/plugins/operator/announceNodeToStream.test.ts
  packages/node/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/node/test/integration/plugins/operator/maintainOperatorValue.test.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/test/end-to-end/Operator.test.ts
Labels: node, sdk

fix: call connect()
  packages/node/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
Labels: node

reduce oscillation
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
Labels: network

fix: call connect()
  packages/node/test/integration/plugins/operator/maintainOperatorValue.test.ts
Labels: node

check if paused neighbors are in the neighbors struct
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeRpcLocal.ts
Labels: network

add comment
  packages/sdk/src/identity/identityConfig.ts
Labels: sdk

cache jwk version of privateKey in ECDSAKeyPairIdentity
  packages/sdk/src/identity/ECDSAKeyPairIdentity.ts
  packages/utils/src/signingUtils.ts
  packages/utils/test/signingUtils.test.ts
Labels: sdk, utils

end to end test
  packages/trackerless-network/test/end-to-end/websocket-plum-tree.test.ts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

fixed unit tests
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
  packages/trackerless-network/test/unit/PlumTreeManager.test.ts
  packages/trackerless-network/test/unit/PlumTreeRpcLocal.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

operatorAddress -> operatorContractAddress
  packages/cli-tools/bin/streamr-internal-operator-delegate.ts
  packages/cli-tools/bin/streamr-internal-operator-stake.ts
  packages/cli-tools/bin/streamr-internal-operator-undelegate.ts
  packages/cli-tools/bin/streamr-internal-operator-unstake.ts
  packages/cli-tools/test/internal-operator.test.ts
Labels: cli-tools

refactor(sdk): Use addresses instead of contract objects in `operatorContractUtils` (#3089)
  packages/cli-tools/bin/streamr-internal-operator-delegate.ts
  packages/cli-tools/bin/streamr-internal-operator-stake.ts
  packages/cli-tools/bin/streamr-internal-operator-undelegate.ts
  packages/cli-tools/bin/streamr-internal-operator-unstake.ts
  packages/cli-tools/test/internal-operator.test.ts
  packages/node/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/node/test/integration/plugins/operator/announceNodeToContract.test.ts
  packages/node/test/integration/plugins/operator/announceNodeToStream.test.ts
  packages/node/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/node/test/integration/plugins/operator/maintainOperatorValue.test.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/test/end-to-end/Operator.test.ts
Labels: node, sdk, cli-tools

upgrade to network-contracts v9
  package-lock.json
  packages/node/package.json
  packages/node/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
Labels: node

PR fixes: first round of comments
  docs/docs/streamr-network/security/end-to-end-encryption.md
  packages/cli-tools/bin/streamr-keys-generate.ts
  packages/cli-tools/src/client.ts
  packages/cli-tools/src/command.ts
  packages/cli-tools/src/common.ts
  packages/sdk/src/Message.ts
  packages/sdk/src/protocol/StreamMessage.ts
Labels: sdk, cli-tools

rm unnecessary argument
  packages/cli-tools/test/internal-sponsorship-sponsor.test.ts
Labels: cli-tools

sdk: use contracts from @streamr/network-contracts
  package-lock.json
  packages/sdk/package.json
  packages/sdk/src/contracts/Operator.ts
  packages/sdk/src/contracts/StorageNodeRegistry.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/StreamStorageRegistry.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/src/ethereumArtifacts/NodeRegistry.d.ts
  packages/sdk/src/ethereumArtifacts/NodeRegistryAbi.json
  packages/sdk/src/ethereumArtifacts/Operator.d.ts
  packages/sdk/src/ethereumArtifacts/OperatorAbi.json
  packages/sdk/src/ethereumArtifacts/OperatorFactory.d.ts
  packages/sdk/src/ethereumArtifacts/OperatorFactoryAbi.json
  packages/sdk/src/ethereumArtifacts/Sponsorship.d.ts
  packages/sdk/src/ethereumArtifacts/SponsorshipAbi.json
  packages/sdk/src/ethereumArtifacts/SponsorshipFactory.d.ts
  packages/sdk/src/ethereumArtifacts/SponsorshipFactoryAbi.json
  packages/sdk/src/ethereumArtifacts/StreamRegistryV5.d.ts
  packages/sdk/src/ethereumArtifacts/StreamRegistryV5Abi.json
  packages/sdk/src/ethereumArtifacts/StreamStorageRegistryV2.d.ts
  packages/sdk/src/ethereumArtifacts/StreamStorageRegistryV2Abi.json
  packages/sdk/test/end-to-end/Operator.test.ts
  packages/sdk/test/end-to-end/decorated-contract.test.ts
Labels: sdk

eslint
  packages/sdk/src/contracts/Operator.ts
  packages/sdk/src/contracts/StorageNodeRegistry.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/StreamStorageRegistry.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/test/end-to-end/Operator.test.ts
  packages/sdk/test/end-to-end/decorated-contract.test.ts
Labels: sdk

simplify imports
  packages/node/test/smoke/profit.test.ts
  packages/sdk/src/contracts/Operator.ts
  packages/sdk/src/contracts/StorageNodeRegistry.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/StreamStorageRegistry.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/test/end-to-end/Operator.test.ts
  packages/sdk/test/end-to-end/decorated-contract.test.ts
Labels: node, sdk

PR fixes for second round of comments
  CHANGELOG.md
  docs/docs/streamr-network/security/quantum-security.md
  docs/docs/streamr-network/security/signing-and-verification.md
  packages/cli-tools/bin/streamr-identity-generate.ts
  packages/cli-tools/bin/streamr-identity-whoami.ts
  packages/cli-tools/bin/streamr-identity.ts
  packages/cli-tools/bin/streamr.ts
  packages/utils/src/signingUtils.ts
Labels: docs, utils, cli-tools

pause based on message chain id
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/logic/ContentDeliveryRpcLocal.ts
  packages/trackerless-network/src/logic/plumtree/PausedNeighbors.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeRpcLocal.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeRpcRemote.ts
  packages/trackerless-network/test/end-to-end/websocket-plum-tree.test.ts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
  packages/trackerless-network/test/unit/PlumTreeManager.test.ts
  packages/trackerless-network/test/unit/PlumTreeRpcLocal.test.ts
Labels: network

rm unnecessary createTestWallet option
  packages/node/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
Labels: node

move setupOperatorContract() to test-utils
  package-lock.json
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/node/test/integration/plugins/operator/announceNodeToContract.test.ts
  packages/node/test/integration/plugins/operator/announceNodeToStream.test.ts
  packages/node/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/node/test/integration/plugins/operator/maintainOperatorValue.test.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/src/exports.ts
  packages/sdk/test/end-to-end/Operator.test.ts
  packages/test-utils/package.json
  packages/test-utils/src/index.ts
Labels: node, sdk, test-utils

fix ethereum provider comment
  packages/sdk/src/Config.ts
Labels: sdk

allow subscribing to public data despite requireQuantumResistantEncryption setting
  packages/sdk/src/Config.ts
  packages/sdk/src/subscribe/messagePipeline.ts
  packages/sdk/src/utils/encryptionCompliance.ts
  packages/sdk/test/integration/quantum-policy.test.ts
Labels: sdk

rename getUserIdString to getUserId
  docs/docs/usage/identity.md
  docs/docs/usage/sdk/utility-functions.md
  packages/cli-tools/bin/streamr-identity-generate.ts
  packages/sdk/src/NetworkNodeFacade.ts
  packages/sdk/src/PersistenceManager.ts
  packages/sdk/src/StreamIDBuilder.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/encryption/GroupKeyManager.ts
  packages/sdk/src/encryption/PublisherKeyExchange.ts
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
  packages/sdk/src/identity/EthereumProviderIdentity.ts
  packages/sdk/src/identity/Identity.ts
  packages/sdk/src/identity/KeyPairIdentity.ts
  packages/sdk/src/publish/GroupKeyQueue.ts
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/test/integration/quantum-policy.test.ts
  packages/sdk/test/test-utils/fake/FakeStreamRegistry.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/EthereumKeyPairIdentity.test.ts
  packages/sdk/test/unit/GroupKeyQueue.test.ts
  packages/sdk/test/unit/Publisher.test.ts
  packages/sdk/test/unit/StreamIDBuilder.test.ts
  packages/sdk/test/unit/validateStreamMessage2.test.ts
  packages/sdk/test/unit/waitForAssignmentsToPropagate.test.ts
Labels: sdk, cli-tools

rename getUserIdBytes to getUserIdRaw
  packages/sdk/src/identity/EthereumProviderIdentity.ts
  packages/sdk/src/identity/Identity.ts
  packages/sdk/src/identity/KeyPairIdentity.ts
Labels: sdk

rename identityConfig to IdentityMapping
  packages/cli-tools/bin/streamr-identity-generate.ts
  packages/sdk/src/Config.ts
  packages/sdk/src/Message.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/exports.ts
  packages/sdk/src/identity/Identity.ts
  packages/sdk/src/identity/IdentityMapping.ts
  packages/sdk/src/identity/MLDSAKeyPairIdentity.ts
  packages/sdk/src/signature/SignatureValidator.ts
  packages/sdk/test/end-to-end/MemoryLeaks.test.ts
Labels: sdk, cli-tools
