Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

DestroySignal to tests
  packages/sdk/test/unit/MessageFactory.test.ts
  packages/sdk/test/unit/SignatureValidator.test.ts
  packages/sdk/test/unit/messagePipeline.test.ts
  packages/sdk/test/unit/validateStreamMessage.test.ts
  packages/sdk/test/unit/validateStreamMessage2.test.ts
Labels: sdk

eslint
  packages/sdk/src/signature/ServerSignatureValidation.ts
  packages/sdk/src/signature/SignatureValidator.ts
  packages/sdk/src/signature/signatureValidation.ts
Labels: sdk

npm run version
  packages/sdk/package.json
Labels: sdk

refactors
  packages/sdk/src/signature/BrowserSignatureValidation.mts
  packages/sdk/src/signature/SignatureValidationWorker.ts
Labels: sdk

fix issue with StreamMessage passing
  packages/sdk/src/signature/SignatureValidationWorker.ts
Labels: sdk

revert
  packages/sdk/src/signature/SignatureValidationWorker.ts
Labels: sdk

nodejs workers for validation
  packages/sdk/src/signature/ServerSignatureValidation.ts
  packages/sdk/src/signature/SignatureValidationWorker.ts
  packages/sdk/test/unit/SignatureValidator.test.ts
Labels: sdk

most unit tests work now
  packages/sdk/src/signature/SignatureValidationWorker.ts
  packages/sdk/test/unit/SignatureValidator.test.ts
Labels: sdk

SignatureValidationData
  packages/sdk/src/signature/BrowserSignatureValidation.mts
  packages/sdk/src/signature/ServerSignatureValidation.ts
  packages/sdk/src/signature/SignatureValidationWorker.ts
  packages/sdk/src/signature/createLegacySignaturePayload.ts
  packages/sdk/src/signature/createSignaturePayload.ts
  packages/sdk/src/signature/signatureValidation.ts
Labels: sdk

esöint
  packages/sdk/src/signature/ServerSignatureValidation.ts
  packages/sdk/src/signature/signatureValidation.ts
  packages/sdk/test/unit/SignatureValidator.test.ts
Labels: sdk

Make `LoggerFactory` use logger's types
  packages/sdk/src/utils/LoggerFactory.ts
  packages/utils/src/Logger.ts
  packages/utils/src/exports.ts
Labels: sdk, utils

Make `executeSafePromise` work in browser without polyfills
  packages/utils/src/executeSafePromise.ts
Labels: utils

feat: Add test coverage for `executeSafePromise` error handling paths (#3311)
  packages/utils/test/executeSafePromise.test.ts
Labels: utils

Drop redundant `@ts-expect-error`
  packages/utils/test/executeSafePromise.test.ts
Labels: utils

Revert "Drop redundant `@ts-expect-error`"
  packages/utils/test/executeSafePromise.test.ts
Labels: utils

Revert "feat: Add test coverage for `executeSafePromise` error handling paths (#3311)"
  packages/utils/test/executeSafePromise.test.ts
Labels: utils

refactor: Make `executeSafePromise` work in browsers without polyfills (#3310)
  packages/utils/src/executeSafePromise.ts
Labels: utils

Clear jest's cache without real config validation
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

Keep `|| true`
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

refactor: Clear jest's cache without validating jest configs (#3312)
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

Change logger identifier from 'utils' to 'sdk-utils' in SDK package (#3314)
  packages/sdk/src/utils/utils.ts
Labels: sdk

Change logger identifier from 'index' to 'test-utils' (#3316)
  packages/test-utils/src/index.ts
Labels: test-utils

Change logger identifier from 'utils' to 'sdk-test-utils' for clarity (#3315)
  packages/sdk/test/test-utils/utils.ts
Labels: sdk

Use 1 logger per file
  packages/node/test/smoke/inspect.test.ts
  packages/sdk/src/encryption/PublisherKeyExchange.ts
Labels: node, sdk

Missed a spot
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/sdk/test/browser-smoke-test/server.js
Labels: dht, sdk

1 more
  packages/utils/test/Logger.test.ts
Labels: utils

Fix tests
  packages/utils/test/Logger.test.ts
Labels: utils

refactor: Use explicit module names instead of `module` for logging (round 2) (#3317)
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/sdk/test/browser-smoke-test/server.js
  packages/utils/test/Logger.test.ts
Labels: dht, sdk, utils

Bundle `utils` for NodeJS and browser
  Dockerfile.node
  package-lock.json
  packages/utils/jest.config.ts
  packages/utils/karma.config.ts
  packages/utils/package.json
  packages/utils/rollup.config.mts
  packages/utils/src/Logger.ts
  packages/utils/src/SigningUtil.ts
  packages/utils/src/browser/crypto.ts
  packages/utils/src/browser/env.ts
  packages/utils/src/browser/os.ts
  packages/utils/src/crossPlatformCrypto.ts
  packages/utils/src/exports-browser.ts
  packages/utils/src/exports.ts
  packages/utils/src/keyToArrayIndex.ts
  packages/utils/src/node/crypto.ts
  packages/utils/src/node/env.ts
  packages/utils/test/Metric.test.ts
  packages/utils/test/composeAbortSignals.test.ts
  packages/utils/tsconfig.browser.json
  packages/utils/tsconfig.json
  packages/utils/tsconfig.node.json
  packages/utils/tsconfig.rollup.json
  tsconfig.browser.json
Labels: utils

Simplify rollup stack
  package-lock.json
  packages/utils/package.json
  packages/utils/rollup.config.mts
  packages/utils/tsconfig.json
  packages/utils/tsconfig.rollup.json
Labels: utils

Fix exports (use explicit default)
  packages/utils/package.json
Labels: utils

Use local keccak const
  packages/utils/src/SigningUtil.ts
Labels: utils

Point to proper `crypto` object in browser-y envs
  packages/utils/src/browser/crypto.ts
Labels: utils

Skip redundant to-binary conversion
  packages/utils/src/browser/crypto.ts
Labels: utils

Reset w/ rimraf
  package-lock.json
  packages/utils/package.json
Labels: utils

Comment on buffer-shim's role
  packages/utils/src/exports-browser.ts
Labels: utils

Reset reusable Keccak instance in SigningUtil before hashing
  packages/utils/src/SigningUtil.ts
Labels: utils

Let's try without root-level `types`
  packages/utils/package.json
Labels: utils

Bundle `utils` for node and browser
  Dockerfile.node
  package-lock.json
  packages/utils/jest.config.ts
  packages/utils/karma.config.ts
  packages/utils/package.json
  packages/utils/rollup.config.mts
  packages/utils/src/Logger.ts
  packages/utils/src/SigningUtil.ts
  packages/utils/src/browser/crypto.ts
  packages/utils/src/browser/env.ts
  packages/utils/src/browser/os.ts
  packages/utils/src/crossPlatformCrypto.ts
  packages/utils/src/exports-browser.ts
  packages/utils/src/exports.ts
  packages/utils/src/keyToArrayIndex.ts
  packages/utils/src/node/crypto.ts
  packages/utils/src/node/env.ts
  packages/utils/test/Metric.test.ts
  packages/utils/test/composeAbortSignals.test.ts
  packages/utils/tsconfig.browser.json
  packages/utils/tsconfig.json
  packages/utils/tsconfig.node.json
  tsconfig.browser.json
Labels: utils

Switch to lazy inits
  packages/utils/src/binaryUtils.ts
  packages/utils/src/executeSafePromise.ts
Labels: utils

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'
