Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

fix the Autocertifier to use the StreamrWebsocketPort instead of the http requests port
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

fix: the Autocertifier-server to use the StreamrWebsocketPort when storing domains (#3213)
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

Add deleteRecordsByIpAddress method
  packages/autocertifier-server/src/AutoCertifierServer.ts
  packages/autocertifier-server/src/Route53Api.ts
Labels: none

do deletion in the correct place
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

add logging
  packages/autocertifier-server/src/Route53Api.ts
Labels: none

pagination handling
  packages/autocertifier-server/src/Route53Api.ts
Labels: none

eslint
  packages/autocertifier-server/src/Route53Api.ts
Labels: none

remove domains from route53 based on ip and port combination
  packages/autocertifier-server/src/AutoCertifierServer.ts
  packages/autocertifier-server/src/Database.ts
Labels: none

logging
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

fix domain name
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

Remove entries from AWS based on ip and port combination
  packages/autocertifier-server/src/AutoCertifierServer.ts
  packages/autocertifier-server/src/Database.ts
  packages/autocertifier-server/src/Route53Api.ts
Labels: none

fix promise await
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

Add modifiedAt field to sundomains table
  packages/autocertifier-server/src/Database.ts
  packages/autocertifier-server/test/unit/Database.test.ts
Labels: none

Add modifiedAt field when createing a new subdomain
  packages/autocertifier-server/src/Database.ts
  packages/autocertifier-server/test/unit/Database.test.ts
Labels: none

fix eslint
  packages/autocertifier-server/src/Database.ts
Labels: none

feat(Autocertifier-server): Keep track of modification times for subdomain updates (#3216)
  packages/autocertifier-server/src/Database.ts
  packages/autocertifier-server/test/unit/Database.test.ts
Labels: none

Add indexing to the Database
  packages/autocertifier-server/src/Database.ts
Labels: none

feat(Autocertifier-server): Add indexing to the Database (#3217)
  packages/autocertifier-server/src/Database.ts
Labels: none

feat(Autocertifier): [NET-1504] Autocertifier-server self cleanup (#3215)
  packages/autocertifier-server/src/AutoCertifierServer.ts
  packages/autocertifier-server/src/Database.ts
Labels: none

debug logs
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

use allSettled
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

use allSetteld
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

fix(Autocertifier-server): Fix error when cleaning up subdomains (#3218)
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

release: v103.1.0
  CHANGELOG.md
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: docs, node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

Update default withdrawLimitSafetyFraction to 0.9
  packages/node/src/plugins/operator/config.schema.json
Labels: node

remove exit event handlers from trackerless-network
  packages/trackerless-network/src/NetworkStack.ts
Labels: network

Add exit handlers to streamr-node.ts
  packages/node/bin/streamr-node.ts
  packages/node/src/broker.ts
Labels: node

bump gas limit on stake/unstake
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk

autostaker retries actions
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

bump @streamr/config
  package-lock.json
  packages/cli-tools/package.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: node, sdk, test-utils, cli-tools

add blockNumber to sponsorshipCreated event and hope for the best
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/sdk/src/contracts/SponsorshipFactory.ts
Labels: node, sdk

update sponsorshipCreated test to check for blockNumber
  packages/sdk/test/end-to-end/sponsorship-created-event.test.ts
Labels: sdk

hack for extracting the block number
  packages/sdk/src/contracts/SponsorshipFactory.ts
Labels: sdk

more type safety for blockNumber in event transform
  packages/sdk/src/contracts/ChainEventPoller.ts
  packages/sdk/src/contracts/Operator.ts
  packages/sdk/src/contracts/SponsorshipFactory.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/StreamStorageRegistry.ts
  packages/sdk/src/contracts/contract.ts
Labels: sdk

fix unit tests
  packages/sdk/test/unit/ChainEventPoller.test.ts
  packages/sdk/test/unit/Operator.test.ts
Labels: sdk

first unstake in parallel, then stake in parallel
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

broadcast stake/unstake transactions sequentially, but wait for them in parallel
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: node, sdk

add debug logging
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk

add back the accidentally removed info logging
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

add info logging when all transactions have been executed
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'
