Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

fix build, support new signature type
  packages/sdk/src/Message.ts
  packages/sdk/src/contracts/ERC1271ContractFacade.ts
  packages/sdk/src/encryption/PublisherKeyExchange.ts
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
  packages/sdk/src/encryption/decrypt.ts
  packages/sdk/src/exports.ts
  packages/sdk/src/identity/EthereumPrivateKeyIdentity.ts
  packages/sdk/src/identity/EthereumProviderIdentity.ts
  packages/sdk/src/identity/Identity.ts
  packages/sdk/src/identity/MLDSAKeyPairIdentity.ts
  packages/sdk/src/protocol/StreamMessage.ts
  packages/sdk/src/protocol/StreamMessageTranslator.ts
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/src/publish/Publisher.ts
  packages/sdk/src/signature/MessageSigner.ts
  packages/sdk/src/signature/SignatureValidator.ts
  packages/sdk/src/signature/createLegacySignaturePayload.ts
  packages/sdk/test/integration/Resends.test.ts
  packages/sdk/test/integration/gap-fill.test.ts
  packages/sdk/test/integration/parallel-key-exchange.test.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/MessageFactory.test.ts
  packages/sdk/test/unit/resendSubscription.test.ts
Labels: sdk

cleanup
  packages/sdk/src/NetworkNodeFacade.ts
  packages/sdk/src/PersistenceManager.ts
  packages/sdk/src/StreamIDBuilder.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/Operator.ts
  packages/sdk/src/contracts/StorageNodeRegistry.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/StreamStorageRegistry.ts
  packages/sdk/src/encryption/GroupKeyManager.ts
  packages/sdk/src/identity/EthereumProviderIdentity.ts
  packages/sdk/src/publish/GroupKeyQueue.ts
  packages/sdk/src/publish/Publisher.ts
  packages/sdk/test/test-utils/fake/FakeStreamRegistry.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/GroupKeyQueue.test.ts
  packages/sdk/test/unit/MetricsPublisher.test.ts
  packages/sdk/test/unit/Publisher.test.ts
  packages/sdk/test/unit/resendSubscription.test.ts
  packages/sdk/test/unit/validateStreamMessage2.test.ts
  packages/sdk/test/unit/waitForAssignmentsToPropagate.test.ts
Labels: sdk

make key pairs configurable
  packages/sdk/bin/generate-config-validator.js
  packages/sdk/src/Config.ts
  packages/sdk/src/Message.ts
  packages/sdk/src/MetricsPublisher.ts
  packages/sdk/src/NetworkNodeFacade.ts
  packages/sdk/src/PersistenceManager.ts
  packages/sdk/src/StreamIDBuilder.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/encryption/GroupKeyManager.ts
  packages/sdk/src/encryption/PublisherKeyExchange.ts
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
  packages/sdk/src/exports.ts
  packages/sdk/src/identity/EthereumKeyPairIdentity.ts
  packages/sdk/src/identity/EthereumPrivateKeyIdentity.ts
  packages/sdk/src/identity/EthereumProviderIdentity.ts
  packages/sdk/src/identity/Identity.ts
  packages/sdk/src/identity/KeyPairIdentity.ts
  packages/sdk/src/identity/MLDSAKeyPairIdentity.ts
  packages/sdk/src/identity/createIdentityFromConfig.ts
  packages/sdk/src/publish/GroupKeyQueue.ts
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/test/integration/Resends.test.ts
  packages/sdk/test/integration/Subscriber2.test.ts
  packages/sdk/test/integration/gap-fill.test.ts
  packages/sdk/test/integration/parallel-key-exchange.test.ts
  packages/sdk/test/test-utils/fake/FakeStreamRegistry.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/Config.test.ts
  packages/sdk/test/unit/Decrypt.test.ts
  packages/sdk/test/unit/EthereumPrivateKeyIdentity.test.ts
  packages/sdk/test/unit/GroupKeyManager.test.ts
  packages/sdk/test/unit/GroupKeyQueue.test.ts
  packages/sdk/test/unit/MessageFactory.test.ts
  packages/sdk/test/unit/Publisher.test.ts
  packages/sdk/test/unit/messagePipeline.test.ts
  packages/sdk/test/unit/validateStreamMessage2.test.ts
  packages/sdk/test/unit/waitForAssignmentsToPropagate.test.ts
Labels: sdk

validate key lengths
  packages/sdk/src/identity/EthereumKeyPairIdentity.ts
  packages/sdk/src/identity/KeyPairIdentity.ts
  packages/sdk/src/identity/MLDSAKeyPairIdentity.ts
  packages/sdk/src/identity/createIdentityFromConfig.ts
Labels: sdk

fix(DHT): `findClosestNodes` queries can be ran via the External API (#3057)
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/ExternalApiRpcLocal.ts
  packages/dht/src/dht/ExternalApiRpcRemote.ts
  packages/dht/test/integration/DhtNodeExternalAPI.test.ts
Labels: dht

use accessor
  packages/node/src/broker.ts
Labels: node

optionality is not needed as the type is StrictStreamrClientConfig
  packages/node/src/broker.ts
Labels: node

changelog
  CHANGELOG.md
Labels: docs

unify changelog
  CHANGELOG.md
Labels: docs

rm interface
  packages/node/src/plugins/operator/OperatorPlugin.ts
Labels: node

Buffer high/low handling for webrtc connections
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
Labels: dht

set buffered amount low in browsers
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
Labels: dht

eslint
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
Labels: dht

update comment
  packages/sdk/src/contracts/Operator.ts
Labels: sdk

fix(node): Use `StreamrClient#getConfig()` to check WebRTC private address config (#3070)
  CHANGELOG.md
  packages/node/src/broker.ts
Labels: docs, node

fix build
  packages/sdk/bin/generate-config-validator.js
  packages/sdk/src/NetworkNodeFacade.ts
  packages/sdk/src/PersistenceManager.ts
  packages/sdk/src/StreamIDBuilder.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/encryption/GroupKeyManager.ts
  packages/sdk/src/encryption/PublisherKeyExchange.ts
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
  packages/sdk/src/generated/validateConfig.js
  packages/sdk/src/publish/GroupKeyQueue.ts
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/test/test-utils/fake/FakeStreamRegistry.ts
  packages/sdk/test/unit/GroupKeyQueue.test.ts
  packages/sdk/test/unit/Publisher.test.ts
  packages/sdk/test/unit/validateStreamMessage2.test.ts
  packages/sdk/test/unit/waitForAssignmentsToPropagate.test.ts
Labels: sdk

sdk tests passing
  packages/sdk/bin/generate-config-validator.js
  packages/sdk/src/generated/validateConfig.js
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/Config.test.ts
  packages/sdk/test/unit/StreamIDBuilder.test.ts
Labels: sdk

make it harder to forget to add a new SignatureType to Message class
  packages/sdk/src/Message.ts
Labels: sdk

cleanup
  packages/sdk/src/Config.ts
  packages/sdk/src/Message.ts
  packages/sdk/src/identity/createIdentityFromConfig.ts
Labels: sdk

minor cleanup
  packages/sdk/src/encryption/PublisherKeyExchange.ts
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
Labels: sdk

support publicKey and keyType in cli tool
  packages/cli-tools/src/client.ts
  packages/cli-tools/src/command.ts
Labels: cli-tools

- Add and config options as well as related checks
  packages/sdk/src/Config.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/encryption/PublisherKeyExchange.ts
  packages/sdk/src/exports.ts
  packages/sdk/src/generated/validateConfig.js
  packages/sdk/src/identity/EthereumKeyPairIdentity.ts
  packages/sdk/src/identity/EthereumProviderIdentity.ts
  packages/sdk/src/identity/Identity.ts
  packages/sdk/src/identity/MLDSAKeyPairIdentity.ts
  packages/sdk/src/identity/createIdentityFromConfig.ts
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/src/subscribe/messagePipeline.ts
  packages/sdk/src/utils/encryptionCompliance.ts
Labels: sdk

add generate() methods to KeyPairIdentities
  packages/sdk/src/Config.ts
  packages/sdk/src/exports.ts
  packages/sdk/src/generated/validateConfig.js
  packages/sdk/src/identity/EthereumKeyPairIdentity.ts
  packages/sdk/src/identity/EthereumProviderIdentity.ts
  packages/sdk/src/identity/Identity.ts
  packages/sdk/src/identity/MLDSAKeyPairIdentity.ts
  packages/sdk/src/identity/createIdentityFromConfig.ts
  packages/sdk/src/publish/Publisher.ts
Labels: sdk

cli tool for generating key pairs
  packages/cli-tools/bin/streamr-keys-generate.ts
  packages/cli-tools/bin/streamr-keys-whoami.ts
  packages/cli-tools/bin/streamr-keys.ts
  packages/cli-tools/src/command.ts
  packages/sdk/src/exports.ts
  packages/sdk/src/identity/KeyPairIdentity.ts
  packages/sdk/src/identity/createIdentityFromConfig.ts
Labels: sdk, cli-tools

feat(DHT): [NET-938] WebRTCbuffer threshold high low handling (#3071)
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
Labels: dht

release: v103.0.0-rc.3
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

add tests, fix tests
  packages/sdk/src/Config.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
  packages/sdk/src/generated/validateConfig.js
  packages/sdk/src/identity/createIdentityFromConfig.ts
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/src/signature/SignatureValidator.ts
  packages/sdk/src/subscribe/messagePipeline.ts
  packages/sdk/src/utils/encryptionCompliance.ts
  packages/sdk/src/utils/persistence/ServerPersistence.ts
  packages/sdk/test/benchmarks/signingUtils.test.ts
  packages/sdk/test/integration/Resends.test.ts
  packages/sdk/test/integration/gap-fill.test.ts
  packages/sdk/test/integration/parallel-key-exchange.test.ts
  packages/sdk/test/integration/quantum-policy.test.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/EthereumKeyPairIdentity.test.ts
  packages/sdk/test/unit/MessageFactory.test.ts
  packages/sdk/test/unit/Publisher.test.ts
  packages/sdk/test/unit/resendSubscription.test.ts
Labels: sdk

implement onNeighborListChanged event
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/IConnection.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/transport/ITransport.ts
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/NeighborList.ts
  packages/trackerless-network/src/logic/NodeList.ts
  packages/trackerless-network/src/logic/createContentDeliveryLayerNode.ts
  packages/trackerless-network/test/unit/ContentDeliveryLayerNode.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network, dht

eslint
  packages/trackerless-network/src/logic/NeighborList.ts
Labels: network

refactor to a more straightforward implementation
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/ContentDeliveryRpcRemote.ts
  packages/trackerless-network/src/logic/NeighborList.ts
  packages/trackerless-network/src/logic/NodeList.ts
  packages/trackerless-network/src/logic/createContentDeliveryLayerNode.ts
  packages/trackerless-network/test/unit/ContentDeliveryLayerNode.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

EthereumKeyPairIdentity accepts private keys with and without 0x
  packages/sdk/src/exports.ts
  packages/sdk/src/identity/EthereumKeyPairIdentity.ts
  packages/sdk/src/identity/createIdentityFromConfig.ts
  packages/sdk/test/unit/EthereumKeyPairIdentity.test.ts
Labels: sdk

add user-level api for the neighborListUpdated event
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
Labels: network

add key pair validation and tests
  packages/sdk/src/identity/EthereumKeyPairIdentity.ts
  packages/sdk/src/identity/KeyPairIdentity.ts
  packages/sdk/src/identity/MLDSAKeyPairIdentity.ts
  packages/sdk/test/unit/EthereumKeyPairIdentity.test.ts
  packages/sdk/test/unit/MLDSAKeyPairIdentity.test.ts
Labels: sdk

release: v103.0.0-rc.4
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

release: v103.0.0-rc.4
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

release: v103.0.0-rc.5
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

output
  packages/cli-tools/bin/streamr-internal-operator-create.ts
Labels: cli-tools

operator-create command
  packages/cli-tools/bin/streamr-internal-operator-create.ts
  packages/cli-tools/bin/streamr-internal.ts
Labels: cli-tools

nodeAddresses
  packages/cli-tools/bin/streamr-internal-operator-create.ts
  packages/cli-tools/src/common.ts
Labels: cli-tools

field type of DeployOperatorContractOpts#deployer
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk
