Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

fix(node) [NET-1426]: Fix raising flag on empty inspection array (#3006)
  CHANGELOG.md
  packages/node/src/plugins/operator/inspectRandomNode.ts
Labels: docs, node

bump @streamr/config to 5.5.1
  package-lock.json
  packages/node/package.json
Labels: node

bump @streamr/config to 5.5.1
  package-lock.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: sdk, test-utils

deps: bump @streamr/config to 5.5.1 (#3014)
  package-lock.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: node, sdk, test-utils

release: v102.1.0
  CHANGELOG.md
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: docs, node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

Fix exports
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/browser-test-runner/package.json
  packages/dht/package.json
  packages/dht/scripts/postbuild.sh
  packages/dht/scripts/rewrite-package.ts
  packages/dht/tsconfig.browser.json
  packages/dht/tsconfig.node.json
  packages/sdk/copy-package.js
  packages/sdk/copy-package.sh
  packages/sdk/package.json
  packages/sdk/scripts/postbuild.sh
  packages/sdk/scripts/rewrite-package.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/tsconfig.browser.json
  packages/sdk/tsconfig.node.json
  packages/sdk/webpack.config.js
  packages/test-utils/package.json
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/utils/package.json
Labels: network, dht, sdk, test-utils, utils

Squish
  release.sh
Labels: none

Consistency
  release.sh
Labels: none

replace querystring usage with browser-compatible UrlSearchParams()
  packages/dht/src/connection/websocket/WebsocketServerConnector.ts
Labels: dht

Drop `querystring` dependency
  package-lock.json
  packages/dht/package.json
Labels: dht

Clean-up the remainings
  packages/browser-test-runner/src/createWebpackConfig.ts
  packages/browser-test-runner/src/preload.js
Labels: none

Add tsx to sdk and dht
  package-lock.json
  packages/dht/package.json
  packages/sdk/package.json
Labels: dht, sdk

We don't use no bower
  packages/sdk/test/exports/webpack.config.js
Labels: sdk

deprecate old constant
  packages/sdk/src/Config.ts
Labels: sdk

add new STREAMR_STORAGE_DEFAULT constant
  packages/sdk/src/Config.ts
  packages/sdk/src/exports.ts
Labels: sdk

update docs
  docs/docs/usage/streams/store-and-retrieve.md
Labels: none

add changelog entries
  CHANGELOG.md
Labels: docs

Redefine SDK's webpack config for karma
  packages/sdk/karma-end-to-end.config.js
  packages/sdk/karma-integration.config.js
  packages/sdk/karma-unit.config.js
  packages/sdk/webpack-karma.config.js
Labels: sdk

Fix lint
  eslint.config.mjs
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
Labels: network

Drop redundant fallbacks
  packages/sdk/webpack.config.js
Labels: sdk

Export test-utils for browser
  packages/test-utils/package.json
Labels: test-utils

Fix typos in CHANGELOG.md
  CHANGELOG.md
Labels: docs

Fix typos in README.md
  README.md
Labels: docs

Fix typos in docs/docs/usage/streams/signature-verification.md
  docs/docs/usage/streams/signature-verification.md
Labels: none

Fix typos in docs/docs/usage/streams/partitioning.md
  docs/docs/usage/streams/partitioning.md
Labels: none

Fix typos in docs/docs/guides/use-any-language-or-device.md
  docs/docs/guides/use-any-language-or-device.md
Labels: none

Fix typos in docs/docs/guides/how-to-run-streamr-node.md
  docs/docs/guides/how-to-run-streamr-node.md
Labels: none

Fix typos in docs/docs/help/operator-faq.md
  docs/docs/help/operator-faq.md
Labels: none

Fix typos in packages/dht/README.md
  packages/dht/README.md
Labels: dht

add HexString type
  packages/sdk/src/Config.ts
Labels: sdk

Restrict importing from lodash
  eslint.config.mjs
Labels: none

Get the action param directly
  packages/dht/src/connection/websocket/WebsocketServerConnector.ts
Labels: dht

chore: change name to STREAMR_STORAGE_NODE_ADDRESS
  CHANGELOG.md
  docs/docs/usage/streams/store-and-retrieve.md
  packages/sdk/src/Config.ts
  packages/sdk/src/exports.ts
Labels: docs, sdk

remove word cluster from CHANGELOG
  CHANGELOG.md
Labels: docs

chore(sdk) [NET-1394]: add new storage node cluster address (#3020)
  CHANGELOG.md
  docs/docs/usage/streams/store-and-retrieve.md
  packages/sdk/src/Config.ts
  packages/sdk/src/exports.ts
Labels: docs, sdk

chore(dht): Use `URLSearchParams` to parse search params (#3017)
  package-lock.json
  packages/browser-test-runner/src/createWebpackConfig.ts
  packages/browser-test-runner/src/preload.js
  packages/dht/package.json
  packages/dht/src/connection/websocket/WebsocketServerConnector.ts
Labels: dht

Squish
  release.sh
Labels: none

Fix lint
  eslint.config.mjs
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
Labels: network

Consistency
  release.sh
Labels: none

Redefine SDK's webpack config for karma
  packages/sdk/karma-end-to-end.config.js
  packages/sdk/karma-integration.config.js
  packages/sdk/karma-unit.config.js
  packages/sdk/webpack-karma.config.js
Labels: sdk

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'
