Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

getTargetStakes() includes expired sponsorships
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
Labels: node

simpler comparison
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
Labels: node

getSelectedSponsorships()
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
Labels: node

getTargetStakes() calls getSelectedSponsorships()
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
Labels: node

use WeiAmount type
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/src/plugins/autostaker/types.ts
Labels: node

improve test
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

sort only by adjustment type
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
Labels: node

rm comment
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

rename variable
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
Labels: node

rename local variables
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
Labels: node

rename totalPayoutWeiPerSec -> payoutPerSec
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/src/plugins/autostaker/types.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

rename unstakedWei -> unstakedAmount
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/src/plugins/autostaker/types.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

logging
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

rm manual test
  packages/node/bin/autostaker-manual-test.sh
Labels: node

filter out small transactions
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/src/plugins/autostaker/types.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

reduce logging in TheGraphClient
  packages/utils/src/TheGraphClient.ts
Labels: utils

select sponsorships based on operatorContractAddress if totalPayoutWeiPerSec values are same
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/src/plugins/autostaker/types.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

rename minimumStakeWei -> minStakePerSponsorship
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/src/plugins/autostaker/types.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

maxSponsorshipCount in plugin config
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/config.schema.json
Labels: node

eslint
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
Labels: node

use scheduleAtApproximateInterval()
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

minTransactionDataTokenAmount in plugin config
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/config.schema.json
  packages/node/src/plugins/autostaker/types.ts
Labels: node

rename minTransactionWei -> minTransactionAmount
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/src/plugins/autostaker/types.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

scheduleAtApproximateInterval()
  packages/utils/src/exports.ts
  packages/utils/src/scheduleAtApproximateInterval.ts
  packages/utils/test/scheduleAtApproximateInterval.test.ts
Labels: utils

smoke test
  packages/node/test/smoke/autostaker.test.ts
Labels: node

scheduleAtApproximateInterval()
  packages/utils/src/exports.ts
  packages/utils/src/scheduleAtApproximateInterval.ts
  packages/utils/test/scheduleAtApproximateInterval.test.ts
Labels: utils

use JSDoc comment
  packages/utils/src/scheduleAtApproximateInterval.ts
Labels: utils

rm unnecessary optional chaining
  packages/utils/src/scheduleAtApproximateInterval.ts
  packages/utils/src/scheduleAtInterval.ts
Labels: utils

fix test name
  packages/utils/test/scheduleAtApproximateInterval.test.ts
Labels: utils

reduce logging in TheGraphClient
  packages/utils/src/TheGraphClient.ts
Labels: utils

rm ethereum-private-key addition (not needed as we don't configure private key)
  packages/node/src/config/validateConfig.ts
Labels: node

Update packages/utils/test/scheduleAtApproximateInterval.test.ts
  packages/utils/test/scheduleAtApproximateInterval.test.ts
Labels: utils

Update packages/utils/test/scheduleAtApproximateInterval.test.ts
  packages/utils/test/scheduleAtApproximateInterval.test.ts
Labels: utils

improve test name
  packages/utils/test/scheduleAtInterval.test.ts
Labels: utils

update wait time
  packages/utils/test/scheduleAtApproximateInterval.test.ts
Labels: utils

update test options
  packages/utils/test/scheduleAtApproximateInterval.test.ts
Labels: utils

eslint
  packages/utils/test/scheduleAtApproximateInterval.test.ts
Labels: utils

rm unnecessary filter in getStakeableSponsorships()
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

update documentation about NodeJS and NPM versions
  README.md
  docs/docs/guides/nodejs.md
  docs/docs/guides/use-any-language-or-device.md
  docs/docs/guides/web-app-frameworks.md
  docs/docs/usage/cli-tool.md
  docs/docs/usage/sdk/how-to-use.md
  packages/cli-tools/README.md
  packages/sdk/README.md
Labels: docs, sdk, cli-tools

changelog
  CHANGELOG.md
Labels: docs
