Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

unify naming and refactor selectParallelTargets
  packages/trackerless-network/src/content-delivery-layer/neighbor-discovery/Handshaker.ts
Labels: network

fix typo
  packages/node/test/smoke/inspect.test.ts
Labels: node

test(node): Update inspection smoke test (#3155)
  packages/node/test/smoke/inspect.test.ts
Labels: node

changelog
  CHANGELOG.md
Labels: docs

upgrade dependencies
  package-lock.json
  package.json
  packages/browser-test-runner/package.json
  packages/dht/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
Labels: network, dht, sdk, test-utils

rm obsolete field
  packages/sdk/src/contracts/searchStreams.ts
Labels: sdk

improve assertion
  packages/cli-tools/test/internal-operator.test.ts
Labels: cli-tools

use sponsorship contract address so that slashing is taken in to account
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk

implement [Symbol.asyncDispose]()
  packages/sdk/src/utils/Pipeline.ts
  packages/sdk/src/utils/PushBuffer.ts
Labels: sdk

fix(sdk): Use sponsorship contract in `unstake()` (#3162)
  packages/cli-tools/test/internal-operator.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk, cli-tools

chore(sdk): [NET-1462] `StreamrClient#searchStreams()` queries using `Stream` entity (#3132)
  CHANGELOG.md
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/searchStreams.ts
  packages/utils/src/TheGraphClient.ts
Labels: docs, sdk, utils

assert staked amounts
  packages/node/test/smoke/autostaker.test.ts
Labels: node

rm sum.ts from the utils package
  packages/utils/src/sum.ts
Labels: utils

move sum() to separate file
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/src/plugins/autostaker/sum.ts
Labels: node

calculate myStakedAmount instead of querying it
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

style
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

fix field type
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

fix Bucket error to match the test
  packages/node/src/plugins/storage/Bucket.ts
Labels: node

test: decrease delegated amount
  packages/node/test/smoke/autostaker.test.ts
Labels: node

implement undelegationQueueAmount handling
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/src/plugins/autostaker/types.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

simplify logging
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

use setupTestOperatorContract()
  packages/node/test/smoke/autostaker.test.ts
Labels: node

check leader from fleet state
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/config.schema.json
  packages/node/src/plugins/operator/OperatorFleetState.ts
  packages/node/test/smoke/autostaker.test.ts
Labels: node

feat(node): Undelegation queue in Autostaker (#3163)
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/src/plugins/autostaker/sum.ts
  packages/node/src/plugins/autostaker/types.ts
  packages/node/test/smoke/autostaker.test.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

feat(node): Leader check in Autostaker (#3164)
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/config.schema.json
  packages/node/src/plugins/operator/OperatorFleetState.ts
  packages/node/test/smoke/autostaker.test.ts
Labels: node

first draft of fix
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

fix to empty stakings situation
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
Labels: node

add test case
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

fix eslint
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
Labels: node

feat(node) [NET-1477]: changes to autostaker plugin adjustment phase (#3165)
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

release: v103.1.0-rc.0
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

logging improvements
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

Update packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

chore(node) [NET-1482]: logging improvements and log action plan (#3168)
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

docs: autostaker plugin
  docs/docs/guides/how-to-run-autostaker-plugin.md
Labels: none

refactor(trackerless-network): unify naming and refactor selectParallelTargets (#3156)
  packages/trackerless-network/src/content-delivery-layer/neighbor-discovery/Handshaker.ts
Labels: network

Setting for max paused neighbors
  packages/trackerless-network/src/ContentDeliveryManager.ts
  packages/trackerless-network/src/content-delivery-layer/createContentDeliveryLayerNode.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PlumtreeManager.ts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

fix eslint, increase number of nodes in plumtree propagation test
  packages/trackerless-network/src/ContentDeliveryManager.ts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

downgrade jest
  package-lock.json
  package.json
  packages/browser-test-runner/package.json
  packages/sdk/package.json
Labels: sdk

downgrade rest of jest
  package-lock.json
  packages/dht/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
Labels: network, dht, sdk, test-utils
