Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

keep the process.exit
  packages/cli-tools/src/command.ts
Labels: cli-tools

Update CHANGELOG
  CHANGELOG.md
Labels: docs

release: v103.3.0
  CHANGELOG.md
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: docs, node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

Add comment explaining `servedFiles` config in SDK's Karma
  packages/sdk/createKarmaConfig.ts
Labels: sdk

Workerize signing
  packages/sdk/createKarmaConfig.ts
  packages/sdk/jest.config.ts
  packages/sdk/rollup.config.mts
  packages/sdk/src/_browser/createSigningWorker.ts
  packages/sdk/src/_jest/createSigningWorker.ts
  packages/sdk/src/_karma/createSigningWorker.ts
  packages/sdk/src/_nodejs/createSigningWorker.ts
  packages/sdk/src/identity/Identity.ts
  packages/sdk/src/identity/KeyPairIdentity.ts
  packages/sdk/src/signature/MessageSigner.ts
  packages/sdk/src/signature/Signing.ts
  packages/sdk/src/signature/SigningWorker.ts
  packages/sdk/src/signature/signingUtils.ts
Labels: sdk

Consolidate worker rollup
  packages/sdk/rollup.config.mts
Labels: sdk

Make eslint happy
  packages/sdk/src/identity/Identity.ts
  packages/sdk/src/signature/MessageSigner.ts
Labels: sdk

Stick to mjs
  packages/sdk/rollup.config.mts
Labels: sdk

Simplify signing worker types
  packages/sdk/src/signature/MessageSigner.ts
  packages/sdk/src/signature/createSignaturePayload.ts
  packages/sdk/src/signature/signingUtils.ts
Labels: sdk

Make Identity#getPrivateKey() synchronous
  packages/sdk/src/identity/Identity.ts
  packages/sdk/src/identity/KeyPairIdentity.ts
  packages/sdk/src/signature/MessageSigner.ts
Labels: sdk

Reuse MessageSigner instance in test to avoid worker startup overhead
  packages/sdk/test/unit/waitForAssignmentsToPropagate.test.ts
Labels: sdk

Inline browser worker dependencies to avoid chunk copying issues
  packages/sdk/rollup.config.mts
Labels: sdk

Extract SigningService from MessageSigner for clearer separation of concerns
  packages/sdk/src/signature/MessageSigner.ts
  packages/sdk/src/signature/Signing.ts
  packages/sdk/src/signature/SigningService.ts
  packages/sdk/test/end-to-end/publish-subscribe-raw.test.ts
  packages/sdk/test/integration/Resends.test.ts
  packages/sdk/test/integration/Subscriber2.test.ts
  packages/sdk/test/integration/gap-fill.test.ts
  packages/sdk/test/integration/parallel-key-exchange.test.ts
  packages/sdk/test/integration/waitForStorage.test.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/MessageFactory.test.ts
  packages/sdk/test/unit/MessageStream.test.ts
  packages/sdk/test/unit/PushPipeline.test.ts
  packages/sdk/test/unit/messagePipeline.test.ts
  packages/sdk/test/unit/resendSubscription.test.ts
  packages/sdk/test/unit/validateStreamMessage2.test.ts
  packages/sdk/test/unit/waitForAssignmentsToPropagate.test.ts
Labels: sdk

Add unit tests for SigningService with actual worker
  packages/sdk/test/unit/SigningService.test.ts
Labels: sdk

Eslint
  packages/sdk/test/unit/SigningService.test.ts
Labels: sdk

Export DestroySignal and SigningService from SDK for external usage
  packages/cli-tools/test/stream-publish.test.ts
  packages/sdk/src/exports.ts
  packages/sdk/test/integration/sequential-resend-subscribe.test.ts
Labels: sdk, cli-tools

Register SigningService in FakeEnvironment dependency container
  packages/sdk/test/test-utils/fake/FakeEnvironment.ts
Labels: sdk

Increase test timeout for CLI tools
  packages/cli-tools/jest.config.ts
Labels: cli-tools

Use transferable objects for signing worker communication
  packages/sdk/src/signature/SigningWorker.ts
Labels: sdk

Refactor encryption to use workers
  packages/sdk/jest.config.ts
  packages/sdk/rollup.config.mts
  packages/sdk/src/_browser/createEncryptionWorker.ts
  packages/sdk/src/_jest/createEncryptionWorker.ts
  packages/sdk/src/_karma/createEncryptionWorker.ts
  packages/sdk/src/_nodejs/createEncryptionWorker.ts
  packages/sdk/src/encryption/EncryptionService.ts
  packages/sdk/src/encryption/EncryptionUtil.ts
  packages/sdk/src/encryption/EncryptionWorker.ts
  packages/sdk/src/encryption/GroupKey.ts
  packages/sdk/src/encryption/aesUtils.ts
  packages/sdk/src/encryption/decrypt.ts
  packages/sdk/src/encryption/encryptionUtils.ts
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/src/publish/Publisher.ts
  packages/sdk/src/subscribe/MessagePipelineFactory.ts
  packages/sdk/src/subscribe/messagePipeline.ts
  packages/sdk/test/integration/Resends.test.ts
  packages/sdk/test/integration/gap-fill.test.ts
  packages/sdk/test/integration/parallel-key-exchange.test.ts
  packages/sdk/test/test-utils/fake/FakeEnvironment.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/Decrypt.test.ts
  packages/sdk/test/unit/EncryptionService.test.ts
  packages/sdk/test/unit/EncryptionUtil.test.ts
  packages/sdk/test/unit/MessageFactory.test.ts
  packages/sdk/test/unit/Publisher.test.ts
  packages/sdk/test/unit/aesUtils.test.ts
  packages/sdk/test/unit/messagePipeline.test.ts
  packages/sdk/test/unit/resendSubscription.test.ts
Labels: sdk

Remove unused EncryptionService.decryptWithAES method
  packages/sdk/src/encryption/EncryptionService.ts
  packages/sdk/src/encryption/EncryptionWorker.ts
  packages/sdk/src/encryption/encryptionUtils.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/EncryptionService.test.ts
Labels: sdk

Fix comlink serialization by converting Buffer to Uint8Array at worker boundary
  packages/sdk/src/encryption/EncryptionService.ts
  packages/sdk/src/encryption/EncryptionUtil.ts
  packages/sdk/src/encryption/EncryptionWorker.ts
  packages/sdk/src/encryption/aesUtils.ts
  packages/sdk/test/unit/EncryptionUtil.test.ts
  packages/sdk/test/unit/aesUtils.test.ts
Labels: sdk

Make karma to the actual Karma-specific `createEncryptionWorker` factory
  packages/sdk/createKarmaConfig.ts
Labels: sdk

Return plain Uint8Array from EcdsaSecp256k1Evm.createSignature
  packages/utils/src/SigningUtil.ts
  packages/utils/test/SigningUtil.test.ts
Labels: utils

Convert protobuf binary fields to plain Uint8Array on deserialization
  packages/sdk/src/protocol/StreamMessageTranslator.ts
Labels: sdk

Return plain Uint8Array from hexToBinary as declared
  packages/utils/src/binaryUtils.ts
Labels: utils

Revert `SigningUtil` test to use `toStrictEqual`
  packages/utils/test/SigningUtil.test.ts
Labels: utils

Bump key request timeout
  packages/sdk/test/integration/update-encryption-key.test.ts
Labels: sdk

Polyfill timers already in DHT
  package-lock.json
  packages/dht/package.json
  packages/dht/rollup.config.mts
  packages/dht/src/exports.ts
  packages/sdk/package.json
  packages/sdk/rollup.config.mts
  packages/sdk/src/StreamrClient.ts
Labels: dht, sdk

Format
  packages/dht/rollup.config.mts
Labels: dht

Let's revert the removal in SDK – keep timers, even if redundant
  package-lock.json
  packages/sdk/package.json
  packages/sdk/rollup.config.mts
  packages/sdk/src/StreamrClient.ts
Labels: sdk

Update CHANGELOG.md
  CHANGELOG.md
Labels: docs

refactor: Add `timers` polyfill to DHT package for standalone browser usage (#3379)
  CHANGELOG.md
  package-lock.json
  packages/dht/package.json
  packages/dht/rollup.config.mts
  packages/dht/src/exports.ts
  packages/sdk/src/StreamrClient.ts
Labels: docs, dht, sdk

release: v103.3.1
  CHANGELOG.md
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: docs, node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

network should be runnable in a worker now
  package-lock.json
  packages/dht/.gitignore
  packages/dht/package.json
  packages/dht/src/browser/DirectWebrtcConnection.ts
  packages/dht/src/browser/WebrtcBridge.ts
  packages/dht/src/browser/WebrtcConnection.ts
  packages/dht/src/browser/WorkerWebrtcConnection.ts
  packages/dht/src/browser/installWebrtcBridge.ts
  packages/dht/src/browser/isWorkerEnvironment.ts
  packages/dht/src/exports.ts
  packages/dht/src/nodejs/installWebrtcBridge.ts
Labels: dht

v103.1.2-rc.0
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

update package.json
  package-lock.json
  packages/dht/package.json
  packages/dht/test/playwright/bundle.mjs
  packages/dht/test/playwright/fixtures/index-network.html
  packages/dht/test/playwright/fixtures/index.html
  packages/dht/test/playwright/fixtures/main-network.ts
  packages/dht/test/playwright/fixtures/main.ts
  packages/dht/test/playwright/fixtures/worker-node.ts
  packages/dht/test/playwright/fixtures/worker.ts
  packages/dht/test/playwright/playwright.config.ts
  packages/dht/test/playwright/serve.mjs
  packages/dht/test/playwright/webrtc-bridge-network.spec.ts
  packages/dht/test/playwright/webrtc-bridge.spec.ts
Labels: dht

fix webrtcbridge issues
  packages/dht/src/browser/WebrtcBridge.ts
  packages/dht/src/browser/WorkerWebrtcConnection.ts
Labels: dht

fix: resolve Plumtree recovery bugs and harden pause/resume protocol
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/content-delivery-layer/plumtree/PausedNeighbors.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PlumtreeManager.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PlumtreeRpcLocal.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PlumtreeRpcRemote.ts
  packages/trackerless-network/test/unit/PlumTreeManager.test.ts
  packages/trackerless-network/test/unit/PlumTreeRpcLocal.test.ts
Labels: network

103.5.0-rc.0
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'
