Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

Incl. source maps for the remaining outputs
  packages/browser-test-runner/rollup.config.mts
Labels: none

Pack karma-setup.js, too
  packages/browser-test-runner/package.json
Labels: none

For consistency, define "missing" externals
  packages/browser-test-runner/rollup.config.mts
Labels: none

Incl. .map files
  packages/browser-test-runner/package.json
Labels: none

refactor: Bundle `browser-test-runner` (#3333)
  package-lock.json
  packages/autocertifier-client/package.json
  packages/browser-test-runner/package.json
  packages/browser-test-runner/rollup.config.mts
  packages/browser-test-runner/src/createKarmaConfig.ts
  packages/browser-test-runner/src/createWebpackConfig.ts
  packages/browser-test-runner/src/karma-setup.js
  packages/browser-test-runner/tsconfig.json
  packages/utils/package.json
Labels: utils

Bundle `test-utils`
  package-lock.json
  packages/test-utils/customMatcherTypes.d.ts
  packages/test-utils/package.json
  packages/test-utils/rollup.config.mts
  packages/test-utils/setupCustomMatchers.js
  packages/test-utils/src/customMatcherTypes.ts
  packages/test-utils/src/customMatchers.ts
  packages/test-utils/src/index.ts
  packages/test-utils/src/setupCustomMatchers.ts
  packages/test-utils/test/customMatchers.test.ts
  packages/test-utils/tsconfig.json
Labels: test-utils

Fix type exports
  packages/test-utils/rollup.config.mts
Labels: test-utils

Stick to `customMatchers` as the matcher types carrier
  packages/sdk/test/types/global.d.ts
  packages/test-utils/package.json
  tsconfig.jest.json
  tsconfig.karma.json
Labels: sdk, test-utils

Sync rollup versions
  package-lock.json
  packages/test-utils/package.json
Labels: test-utils

Bundle `cdn-location`
  Dockerfile.node
  package-lock.json
  packages/cdn-location/package.json
  packages/cdn-location/rollup.config.mts
  packages/cdn-location/tsconfig.json
Labels: none

refactor: Bundle `cdn-location` (#3335)
  Dockerfile.node
  package-lock.json
  packages/cdn-location/package.json
  packages/cdn-location/rollup.config.mts
  packages/cdn-location/tsconfig.json
Labels: none

Properly expose types for `/setupCustomMatchers`
  packages/test-utils/package.json
Labels: test-utils

Adjust final package contents (`files`)
  packages/test-utils/package.json
Labels: test-utils

Bundle `geoip-location`
  Dockerfile.node
  package-lock.json
  packages/geoip-location/package.json
  packages/geoip-location/rollup.config.mts
  packages/geoip-location/tsconfig.json
Labels: none

refactor: Bundle `test-utils`; clean-up the testing setup (#3334)
  package-lock.json
  packages/sdk/test/types/global.d.ts
  packages/test-utils/customMatcherTypes.d.ts
  packages/test-utils/package.json
  packages/test-utils/rollup.config.mts
  packages/test-utils/setupCustomMatchers.js
  packages/test-utils/src/customMatcherTypes.ts
  packages/test-utils/src/customMatchers.ts
  packages/test-utils/src/index.ts
  packages/test-utils/src/setupCustomMatchers.ts
  packages/test-utils/test/customMatchers.test.ts
  packages/test-utils/tsconfig.json
  tsconfig.jest.json
  tsconfig.karma.json
Labels: sdk, test-utils

Disable the main export for browser
  packages/geoip-location/package.json
Labels: none

Bundle `proto-rpc`
  package-lock.json
  packages/proto-rpc/package.json
  packages/proto-rpc/rollup.config.mts
  packages/proto-rpc/tsconfig.json
Labels: proto-rpc

Tweak the package
  packages/geoip-location/package.json
Labels: none

Fix exports
  packages/proto-rpc/package.json
Labels: proto-rpc

refactor: Bundle `geoip-location` (#3336)
  Dockerfile.node
  package-lock.json
  packages/geoip-location/package.json
  packages/geoip-location/rollup.config.mts
  packages/geoip-location/tsconfig.json
Labels: none

Bundle `proto-rpc` (#3337)
  package-lock.json
  packages/proto-rpc/package.json
  packages/proto-rpc/rollup.config.mts
  packages/proto-rpc/tsconfig.json
Labels: proto-rpc

Add/update dev deps
  package-lock.json
  packages/dht/package.json
  packages/utils/package.json
Labels: dht, utils

Fix tsconfigs for jest
  packages/dht/tsconfig.jest.json
Labels: dht

Simplify trackerless-network's karma config
  packages/trackerless-network/karma.config.ts
Labels: network

Make WebsocketServer explicitly fail in browser env
  packages/dht/src/browser/WebsocketServer.ts
Labels: dht

Typo
  packages/dht/karma.config.ts
Labels: dht

Typo
  packages/dht/karma.config.ts
Labels: dht

Fix the order of conditional exports (dht + utils)
  packages/dht/package.json
  packages/utils/package.json
Labels: dht, utils

Trim
  packages/dht/tsconfig.browser.json
Labels: dht

Bundle `trackerless-network`
  package-lock.json
  packages/trackerless-network/package.json
  packages/trackerless-network/rollup.config.mts
  packages/trackerless-network/src/ContentDeliveryManager.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PlumtreeManager.ts
  packages/trackerless-network/tsconfig.json
  packages/utils/package.json
  packages/utils/src/browser/crypto.ts
  packages/utils/src/exports.ts
  packages/utils/src/nodejs/crypto.ts
Labels: network, utils

Fix tests (round 1?)
  packages/trackerless-network/tsconfig.json
  packages/trackerless-network/tsconfig.node.json
Labels: network

Fix build
  packages/trackerless-network/tsconfig.generated.json
Labels: network

Tweak
  packages/utils/src/browser/crypto.ts
Labels: utils

refactor: Bundle `trackerless-network` (#3339)
  package-lock.json
  packages/trackerless-network/package.json
  packages/trackerless-network/rollup.config.mts
  packages/trackerless-network/src/ContentDeliveryManager.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PlumtreeManager.ts
  packages/trackerless-network/tsconfig.generated.json
  packages/trackerless-network/tsconfig.json
  packages/trackerless-network/tsconfig.node.json
  packages/utils/package.json
  packages/utils/src/browser/crypto.ts
  packages/utils/src/exports.ts
  packages/utils/src/nodejs/crypto.ts
Labels: network, utils

Def explicit browser export of the `autocertifier-client`
  packages/autocertifier-client/package.json
  packages/autocertifier-client/rollup.config.mts
  packages/autocertifier-client/src/AutoCertifierClient.ts
  packages/autocertifier-client/src/consts.ts
  packages/autocertifier-client/src/exports-browser.ts
  packages/autocertifier-client/src/exports.ts
  packages/dht/rollup.config.mts
  packages/dht/src/browser/defaultAutoCertifierClientFactory.ts
Labels: dht

Fix DHT tests
  packages/dht/karma.config.ts
Labels: dht

Typo
  packages/autocertifier-client/src/exports.ts
Labels: none

feat: Bundle a limited version of `autocertifier-client` for the browser (#3340)
  packages/autocertifier-client/package.json
  packages/autocertifier-client/rollup.config.mts
  packages/autocertifier-client/src/AutoCertifierClient.ts
  packages/autocertifier-client/src/consts.ts
  packages/autocertifier-client/src/exports-browser.ts
  packages/autocertifier-client/src/exports.ts
  packages/dht/karma.config.ts
  packages/dht/rollup.config.mts
  packages/dht/src/browser/defaultAutoCertifierClientFactory.ts
Labels: dht

Clean-up process only if available
  packages/trackerless-network/src/NetworkStack.ts
Labels: network

Add todos; tweak
  packages/trackerless-network/src/NetworkStack.ts
Labels: network

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'
