Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

Clean-up process only if available (#3341)
  packages/trackerless-network/src/NetworkStack.ts
Labels: network

Expose cross-env `createCipheriv` and `createDecipheriv` from `utils`
  package-lock.json
  packages/utils/package.json
  packages/utils/rollup.config.mts
  packages/utils/src/browser/crypto.ts
  packages/utils/src/browserify-aes.d.ts
  packages/utils/src/exports.ts
  packages/utils/src/nodejs/crypto.ts
Labels: utils

List `@types/readable-stream` in dev deps of `utils` packages
  package-lock.json
  packages/utils/package.json
Labels: utils

Tweaks
  packages/utils/src/browser/crypto.ts
Labels: utils

feat: Expose cross-env cipher utils from `utils` package (#3342)
  package-lock.json
  packages/utils/package.json
  packages/utils/rollup.config.mts
  packages/utils/src/browser/crypto.ts
  packages/utils/src/browserify-aes.d.ts
  packages/utils/src/exports.ts
  packages/utils/src/nodejs/crypto.ts
Labels: utils

release: v103.2.0-experiment.0
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

increase tiemout
  packages/sdk/test/integration/update-encryption-key.test.ts
Labels: sdk

`defaultAutoCertifierClientFactory` → `createDefaultAutocertifierClient`
  packages/dht/src/browser/createDefaultAutocertifierClient.ts
  packages/dht/src/connection/websocket/AutoCertifierClientFacade.ts
  packages/dht/src/nodejs/createDefaultAutocertifierClient.ts
Labels: dht

Use `utf8ToBinary` in `computeSha1` (DRY)
  packages/utils/src/browser/crypto.ts
Labels: utils

Fix imports
  packages/utils/src/browser/crypto.ts
Labels: utils

refactor: Address feedback on bundles + minor tweaks (#3343)
  packages/dht/src/browser/createDefaultAutocertifierClient.ts
  packages/dht/src/connection/websocket/AutoCertifierClientFacade.ts
  packages/dht/src/nodejs/createDefaultAutocertifierClient.ts
  packages/utils/src/browser/crypto.ts
Labels: dht, utils

Add explicit `node` exports
  packages/autocertifier-client/package.json
  packages/dht/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Labels: dht, test-utils, utils

Missed `default`
  packages/utils/package.json
Labels: utils

refactor: Explicit `node` exports for jest (mainly) (#3344)
  packages/autocertifier-client/package.json
  packages/dht/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Labels: dht, test-utils, utils

Make experiments releasable via gh
  .github/workflows/publish-npm.yml
Labels: ci

release: v103.2.0-experiment.1
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

increase logging when creating a subdomain
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

log error case
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

log level
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

wait for dns propagation
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

Revert "wait for dns propagation"
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

Add error logging for upsert operation
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

comment delete records
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

batch deleteRecords
  packages/autocertifier-server/src/AutoCertifierServer.ts
  packages/autocertifier-server/src/Route53Api.ts
Labels: none

fix acme deleteion
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

batch deleteRecords
  packages/autocertifier-server/src/AutoCertifierServer.ts
  packages/autocertifier-server/src/Route53Api.ts
Labels: none

remove large log line
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

increase logging
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

feat(autocertifier-server): Delete unused DNS records in batches from Route53 (#3346)
  packages/autocertifier-server/src/AutoCertifierServer.ts
  packages/autocertifier-server/src/Route53Api.ts
Labels: none

error logging
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

add wait to allow acme record to propagate
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

increase timeout
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

wait for acme record to propagate
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

fix(autocertifier-server): Wait for acme-challenge record to propagate (#3347)
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: docs

Fix incorrect header image URL
  README.md
Labels: docs

Update other outdated URLs
  docs/docs/guides/use-any-language-or-device.md
  docs/docs/usage/cli-tool.md
  packages/cli-tools/README.md
  packages/node/README.md
  packages/node/plugins.md
  packages/node/src/broker.ts
  packages/sdk/README.md
  packages/trackerless-network/package.json
Labels: node, network, sdk, cli-tools

Update CHANGELOG
  CHANGELOG.md
Labels: docs

Incl. PR #
  CHANGELOG.md
Labels: docs

fix: Fix incorrect header image URL in README (#3348)
  CHANGELOG.md
  README.md
  docs/docs/guides/use-any-language-or-device.md
  docs/docs/usage/cli-tool.md
  packages/cli-tools/README.md
  packages/node/README.md
  packages/node/plugins.md
  packages/node/src/broker.ts
  packages/sdk/README.md
  packages/trackerless-network/package.json
Labels: docs, node, network, sdk, cli-tools

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'
