Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

Comment on the package.json rewriting
  packages/dht/scripts/rewrite-package.ts
  packages/sdk/scripts/rewrite-package.ts
Labels: dht, sdk

Fix exports
  package-lock.json
  packages/autocertifier-server/package.json
  packages/browser-test-runner/package.json
  packages/dht/package.json
  packages/dht/scripts/postbuild.sh
  packages/dht/scripts/rewrite-package.ts
  packages/dht/tsconfig.browser.json
  packages/dht/tsconfig.node.json
  packages/sdk/copy-package.js
  packages/sdk/copy-package.sh
  packages/sdk/package.json
  packages/sdk/scripts/postbuild.sh
  packages/sdk/scripts/rewrite-package.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/test/exports/webpack.config.js
  packages/sdk/tsconfig.browser.json
  packages/sdk/tsconfig.node.json
  packages/sdk/webpack.config.js
  packages/test-utils/package.json
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/utils/package.json
Labels: network, dht, sdk, test-utils, utils

Drop redundant fallbacks
  packages/sdk/webpack.config.js
Labels: sdk

Precisely define the necessary fallbacks
  packages/browser-test-runner/src/createWebpackConfig.ts
  packages/dht/karma.config.js
  packages/proto-rpc/karma.config.js
  packages/trackerless-network/karma.config.js
  packages/utils/karma.config.js
Labels: network, dht, proto-rpc, utils

…and externals
  packages/browser-test-runner/src/createWebpackConfig.ts
  packages/dht/karma.config.js
  packages/trackerless-network/karma.config.js
Labels: network, dht

release: v102.2.0-rc.0
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

Link package.json rewriters
  eslint.config.mjs
  packages/dht/tsconfig.jest.json
  packages/sdk/scripts/rewrite-package.ts
  packages/sdk/tsconfig.jest.json
Labels: dht, sdk

Load pings that are always there
  packages/dht/test/integration/ConnectionLocking.test.ts
  packages/dht/test/unit/createPeerDescriptor.test.ts
Labels: dht

Typo
  eslint.config.mjs
Labels: none

Comment on the explicit import of `timers`
  packages/sdk/src/StreamrClient.ts
Labels: sdk

Dots
  packages/browser-test-runner/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Labels: test-utils, utils

Drop unnecessary packages
  package-lock.json
  packages/browser-test-runner/package.json
  packages/sdk/package.json
Labels: sdk

Fix builds (sdk & dht)
  package-lock.json
  packages/dht/package.json
  packages/dht/scripts/postbuild.sh
  packages/dht/scripts/rewrite-package.ts
  packages/sdk/package.json
  packages/sdk/scripts/postbuild.sh
  packages/sdk/scripts/rewrite-package.ts
Labels: dht, sdk

no longer push notebook checkpoints
  packages/trackerless-network/experiment/plotters/.gitignore
  packages/trackerless-network/experiment/plotters/.ipynb_checkpoints/cdf-checkpoint.ipynb
  packages/trackerless-network/experiment/plotters/.ipynb_checkpoints/propagation-checkpoint.ipynb
  packages/trackerless-network/experiment/plotters/.ipynb_checkpoints/routing-checkpoint.ipynb
  packages/trackerless-network/experiment/plotters/.ipynb_checkpoints/scalingjoin-checkpoint.ipynb
  packages/trackerless-network/experiment/plotters/.ipynb_checkpoints/timetodata-checkpoint.ipynb
Labels: network

update for new env
  packages/trackerless-network/experiment/plotters/cdf.ipynb
  packages/trackerless-network/experiment/plotters/propagation.ipynb
  packages/trackerless-network/experiment/plotters/routing.ipynb
  packages/trackerless-network/experiment/plotters/scalingjoin.ipynb
  packages/trackerless-network/experiment/plotters/timetodata.ipynb
Labels: network

Publish DHT from within the dist directory
  release.sh
Labels: none

release: v102.2.0-rc.1
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

Document how to use v102.2 in a Webpack app
  docs/docs/usage/sdk/how-to-use.md
Labels: none

Document how to use v102.2 for a Rollup bundle
  docs/docs/usage/sdk/how-to-use.md
Labels: none

Add instruction for a couple other scenarios
  docs/docs/usage/sdk/how-to-use.md
Labels: none

Update changelog
  CHANGELOG.md
Labels: docs

Copy
  docs/docs/usage/sdk/how-to-use.md
Labels: none

Publish SDK from its root folder (not dist)
  packages/sdk/.npmignore
  packages/sdk/package.json
  packages/sdk/scripts/postbuild.sh
  packages/sdk/scripts/rewrite-package.ts
  packages/sdk/tsconfig.node.json
  release.sh
Labels: sdk

Revert "Publish DHT from within the dist directory"
  release.sh
Labels: none

Define the contents of the dht package in its package.json (via `files`)
  packages/dht/.npmignore
  packages/dht/package.json
Labels: dht

Exclude .tsbuildinfo files
  packages/dht/package.json
  packages/sdk/package.json
Labels: dht, sdk

Fix missing migration files
  packages/sdk/package.json
  packages/sdk/scripts/postbuild.sh
Labels: sdk

Clarify comments
  packages/dht/scripts/rewrite-package.ts
Labels: dht

Don't copy README to dist
  packages/dht/scripts/postbuild.sh
Labels: dht

Fix external persistance mapping
  packages/sdk/package.json
Labels: sdk

Un-private the SDK
  packages/sdk/package.json
Labels: sdk

upgrade dependency
  package-lock.json
  package.json
Labels: none

upgrade deps
  docs/package-lock.json
  docs/package.json
  package-lock.json
  package.json
Labels: none

naive ip checking on wss connection
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/websocket/WebsocketServerConnector.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/WebrtcConnectionManagement.test.ts
  packages/dht/test/integration/WebsocketConnectionManagement.test.ts
  packages/dht/test/unit/DiscoverySession.test.ts
  packages/dht/test/unit/PeerManager.test.ts
  packages/dht/test/utils/utils.ts
Labels: dht

chore: Bump `eslint-config-streamr-ts` (#3031)
  package-lock.json
  package.json
Labels: none

chore: Bump `typescript` v5.8 (#3032)
  docs/package-lock.json
  docs/package.json
  package-lock.json
  package.json
Labels: none

fix build
  packages/autocertifier-server/src/StreamrChallenger.ts
  packages/autocertifier-server/test/integration/StreamrChallenger.test.ts
  packages/node/bin/entry-point.ts
  packages/sdk/src/utils/utils.ts
  packages/sdk/test/end-to-end/publish-subscribe.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryRpcRemote.test.ts
  packages/trackerless-network/test/integration/HandshakeRpcRemote.test.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/integration/NeighborUpdateRpcRemote.test.ts
  packages/trackerless-network/test/unit/HandshakeRpcLocal.test.ts
  packages/trackerless-network/test/unit/NodeList.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: node, network, sdk

refactor(network): Default configs as constants for layer2 (#2997)
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/createContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
  packages/trackerless-network/src/logic/propagation/Propagation.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
Labels: network

use createMockDescriptor in trackerless-network tests
  packages/trackerless-network/test/integration/ContentDeliveryRpcRemote.test.ts
  packages/trackerless-network/test/integration/HandshakeRpcRemote.test.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/integration/NeighborUpdateRpcRemote.test.ts
  packages/trackerless-network/test/unit/HandshakeRpcLocal.test.ts
  packages/trackerless-network/test/unit/NodeList.test.ts
Labels: network

No longer create PeerDescriptors manually if utility functions can be used
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/WebsocketConnectionManagement.test.ts
Labels: dht
