Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

fix build
  packages/dht/src/find-node.ts
Labels: dht

external find closest nodes
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/ExternalApiRpcLocal.ts
  packages/dht/src/dht/ExternalApiRpcRemote.ts
Labels: dht

EncryptionUtil supports ML-KEM
  package-lock.json
  packages/sdk/package.json
  packages/sdk/src/encryption/EncryptionUtil.ts
  packages/sdk/test/unit/EncryptionUtil.test.ts
Labels: sdk

rename rsaPublicKey to publicKey
  packages/sdk/src/encryption/PublisherKeyExchange.ts
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
  packages/sdk/src/protocol/GroupKeyRequest.ts
  packages/sdk/src/protocol/GroupKeyRequestTranslator.ts
  packages/sdk/src/signature/createSignaturePayload.ts
  packages/sdk/test/integration/SubscriberKeyExchange.test.ts
  packages/sdk/test/unit/validateStreamMessage2.test.ts
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
Labels: network, sdk

key exchange using ML-KEM
  packages/sdk/src/Config.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/encryption/EncryptionUtil.ts
  packages/sdk/src/encryption/GroupKey.ts
  packages/sdk/src/encryption/KeyExchangeKeyPair.ts
  packages/sdk/src/encryption/MLKEMKeyPair.ts
  packages/sdk/src/encryption/PublisherKeyExchange.ts
  packages/sdk/src/encryption/RSAKeyPair.ts
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
  packages/sdk/src/generated/validateConfig.js
  packages/sdk/src/protocol/GroupKeyRequest.ts
  packages/sdk/src/protocol/GroupKeyRequestTranslator.ts
  packages/sdk/src/protocol/GroupKeyResponse.ts
  packages/sdk/src/protocol/GroupKeyResponseTranslator.ts
  packages/sdk/test/unit/EncryptionUtil.test.ts
  packages/sdk/test/unit/RSAKeyPair.test.ts
  packages/trackerless-network/protos/NetworkRpc.proto
Labels: network, sdk

version upgrade
  package-lock.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: node, sdk, test-utils

Bump `@streamr/config` to v5.5.2 (#3058)
  package-lock.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: node, sdk, test-utils

add comment
  packages/dht/src/dht/DhtNode.ts
Labels: dht

release: v103.0.0-rc.1
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

refactor out OldGroupKey, fix tests
  packages/sdk/src/encryption/EncryptionUtil.ts
  packages/sdk/src/encryption/GroupKey.ts
  packages/sdk/src/encryption/KeyExchangeKeyPair.ts
  packages/sdk/src/encryption/MLKEMKeyPair.ts
  packages/sdk/src/encryption/PublisherKeyExchange.ts
  packages/sdk/src/encryption/RSAKeyPair.ts
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
  packages/sdk/src/exports.ts
  packages/sdk/src/protocol/EncryptedGroupKey.ts
  packages/sdk/src/protocol/GroupKeyRequest.ts
  packages/sdk/src/protocol/GroupKeyRequestTranslator.ts
  packages/sdk/src/protocol/GroupKeyResponse.ts
  packages/sdk/src/protocol/GroupKeyResponseTranslator.ts
  packages/sdk/src/protocol/StreamMessage.ts
  packages/sdk/src/protocol/StreamMessageTranslator.ts
  packages/sdk/src/protocol/oldStreamMessageBinaryUtils.ts
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/src/signature/createLegacySignaturePayload.ts
  packages/sdk/src/signature/createSignaturePayload.ts
  packages/sdk/src/utils/validateStreamMessage.ts
  packages/sdk/test/integration/PublisherKeyExchange.test.ts
  packages/sdk/test/integration/SubscriberKeyExchange.test.ts
  packages/sdk/test/integration/resend-and-subscribe.test.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/EncryptionUtil.test.ts
  packages/sdk/test/unit/GroupKeyResponseTranslator.test.ts
  packages/sdk/test/unit/StreamMessage.test.ts
  packages/sdk/test/unit/validateStreamMessage2.test.ts
  packages/trackerless-network/src/exports.ts
Labels: network, sdk

key derivation works cross platform
  packages/sdk/src/encryption/EncryptionUtil.ts
  packages/sdk/src/encryption/PublisherKeyExchange.ts
  packages/sdk/src/encryption/RSAKeyPair.ts
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
  packages/sdk/src/utils/crossPlatformCrypto.ts
  packages/sdk/test/unit/EncryptionUtil.test.ts
Labels: sdk

update docs
  docs/docs/streamr-network/security/end-to-end-encryption.md
Labels: none

add --quantum option to cli-tools
  packages/cli-tools/src/client.ts
  packages/cli-tools/src/command.ts
Labels: cli-tools

add detail to docs
  docs/docs/streamr-network/security/end-to-end-encryption.md
Labels: none

add detail to docs
  docs/docs/streamr-network/security/end-to-end-encryption.md
Labels: none

add comment
  packages/trackerless-network/protos/NetworkRpc.proto
Labels: network

update changelog
  CHANGELOG.md
Labels: docs

fix compile error in test
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
Labels: network

refactor(DHT): executeRecursiveOperation helper method in DhtNode (#3055)
  packages/dht/src/dht/DhtNode.ts
Labels: dht

fix build
  packages/dht/src/dht/DhtNode.ts
Labels: dht

external API works for closestNodesRequests
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/ExternalApiRpcRemote.ts
Labels: dht

test
  packages/dht/test/integration/DhtNodeExternalAPI.test.ts
Labels: dht

add the encryption type to debug logging
  packages/sdk/src/encryption/PublisherKeyExchange.ts
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
Labels: sdk

lint
  packages/dht/src/dht/ExternalApiRpcRemote.ts
Labels: dht

peer review fixes
  packages/sdk/src/encryption/EncryptionUtil.ts
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
  packages/sdk/src/exports.ts
  packages/sdk/test/integration/PublisherKeyExchange.test.ts
Labels: sdk

Update packages/dht/test/integration/DhtNodeExternalAPI.test.ts
  packages/dht/test/integration/DhtNodeExternalAPI.test.ts
Labels: dht

rename protobuf msg GroupKey to EncryptedGroupKey
  packages/sdk/src/encryption/EncryptionUtil.ts
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/exports.ts
Labels: network, sdk

use addManagedEventListener for transport events
  packages/dht/src/dht/DhtNode.ts
Labels: dht

ingore eslint in AddManagedEventListener
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
Labels: network

fix npm run check
  packages/dht/test/integration/RouteMessage.test.ts
Labels: dht

eslint
  packages/dht/src/dht/DhtNode.ts
Labels: dht

changelog
  CHANGELOG.md
Labels: docs

remove obsolete field
  packages/dht/src/transport/RoutingRpcCommunicator.ts
Labels: dht

fix(dht): [NET-1448] Memory leak in `DhtNode` (#3065)
  CHANGELOG.md
  packages/dht/src/dht/DhtNode.ts
Labels: docs, dht

refactor(dht): Simplify `RoutingRpcCommunicator` (#3066)
  packages/dht/src/transport/RoutingRpcCommunicator.ts
Labels: dht

use nullish coalescing operator
  packages/cli-tools/src/resend.ts
  packages/proto-rpc/src/toProtoRpcClient.ts
  packages/sdk/src/PersistenceManager.ts
  packages/sdk/src/RpcProviderSource.ts
  packages/sdk/src/utils/Gate.ts
  packages/sdk/src/utils/iterators.ts
  packages/sdk/src/utils/persistence/ServerPersistence.ts
  packages/sdk/src/utils/validateStreamMessage.ts
  packages/utils/src/Gate.ts
Labels: proto-rpc, sdk, utils, cli-tools

chore: Prefer nullish coalescing operator (#3067)
  packages/cli-tools/src/resend.ts
  packages/proto-rpc/src/toProtoRpcClient.ts
  packages/sdk/src/PersistenceManager.ts
  packages/sdk/src/RpcProviderSource.ts
  packages/sdk/src/utils/Gate.ts
  packages/sdk/src/utils/iterators.ts
  packages/sdk/src/utils/persistence/ServerPersistence.ts
  packages/sdk/src/utils/validateStreamMessage.ts
  packages/utils/src/Gate.ts
Labels: proto-rpc, sdk, utils, cli-tools

release: v103.0.0-rc.2
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

add ML-DSA-87, signingUtils test passing
  packages/dht/src/helpers/createPeerDescriptor.ts
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/utils/utils.ts
  packages/utils/src/exports.ts
  packages/utils/src/signingUtils.ts
  packages/utils/test/signingUtils.test.ts
Labels: network, dht, utils

identity refactor
  packages/sdk/src/Authentication.ts
  packages/sdk/src/NetworkNodeFacade.ts
  packages/sdk/src/PersistenceManager.ts
  packages/sdk/src/StreamIDBuilder.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/Operator.ts
  packages/sdk/src/contracts/StorageNodeRegistry.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/StreamStorageRegistry.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/src/encryption/GroupKeyManager.ts
  packages/sdk/src/encryption/PublisherKeyExchange.ts
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
  packages/sdk/src/exports.ts
  packages/sdk/src/identity/EthereumPrivateKeyIdentity.ts
  packages/sdk/src/identity/EthereumProviderIdentity.ts
  packages/sdk/src/identity/Identity.ts
  packages/sdk/src/identity/KeyPairIdentity.ts
  packages/sdk/src/identity/MLDSAKeyPairIdentity.ts
  packages/sdk/src/publish/GroupKeyQueue.ts
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/src/publish/Publisher.ts
  packages/sdk/src/signature/MessageSigner.ts
  packages/sdk/test/end-to-end/MemoryLeaks.test.ts
  packages/sdk/test/integration/Resends.test.ts
  packages/sdk/test/integration/Subscriber2.test.ts
  packages/sdk/test/integration/gap-fill.test.ts
  packages/sdk/test/integration/parallel-key-exchange.test.ts
  packages/sdk/test/test-utils/fake/FakeStreamRegistry.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/Authentication.test.ts
  packages/sdk/test/unit/Decrypt.test.ts
  packages/sdk/test/unit/GroupKeyManager.test.ts
  packages/sdk/test/unit/GroupKeyQueue.test.ts
  packages/sdk/test/unit/MessageFactory.test.ts
  packages/sdk/test/unit/StreamIDBuilder.test.ts
  packages/sdk/test/unit/messagePipeline.test.ts
  packages/sdk/test/unit/validateStreamMessage2.test.ts
  packages/sdk/test/unit/waitForAssignmentsToPropagate.test.ts
Labels: sdk
