Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

fix: test explicitly
  packages/cli-tools/test/environment.test.ts
Labels: cli-tools

fix: lint
  packages/sdk/test/unit/Config.test.ts
Labels: sdk

feat(sdk): add "peaq" environment (#3111)
  packages/cli-tools/test/environment.test.ts
  packages/sdk/src/Config.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/generated/validateConfig.js
  packages/sdk/test/unit/Config.test.ts
Labels: sdk, cli-tools

release: v103.0.0-rc.16
  CHANGELOG.md
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: docs, node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

fix multiple publishers test case
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

fix works after new nodes join test case
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

remove test flakyness by propagating messages in a tight loop
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

Update README.md
  README.md
Labels: docs

fix eslint
  packages/trackerless-network/src/ContentDeliveryManager.ts
  packages/trackerless-network/test/unit/DuplicateMessageDetector.test.ts
Labels: network

fix import
  packages/trackerless-network/test/unit/InspectSession.test.ts
Labels: network

fix(network): fix import of `waitForEvent3` in InspectSession.test.ts (#3115)
  packages/trackerless-network/test/unit/InspectSession.test.ts
Labels: network

Define explicit "exports" for SDK
  packages/sdk/package.json
Labels: sdk

add download rate metering
  packages/dht/src/connection/IConnection.ts
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/trackerless-network/src/logic/ContentDeliveryRpcRemote.ts
Labels: network, dht

fix potential memory leak when removing event listener
  packages/trackerless-network/src/content-delivery-layer/NodeList.ts
Labels: network

update node-datachannel to v0.27.0
  package-lock.json
  packages/dht/package.json
Labels: dht

ci(dht): update node-datachannel to latest version v0.27.0 (#3118)
  package-lock.json
  packages/dht/package.json
Labels: dht

DhtNodeEvents extends TransportEvents
  packages/dht/src/dht/DhtNode.ts
  packages/dht/test/integration/RouteMessage.test.ts
Labels: dht

WebrtcConnectionEvents extends ConnectionEvents
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/connection/webrtc/IWebrtcConnection.ts
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
Labels: dht

re-order TransportEvents
  packages/dht/src/transport/ITransport.ts
Labels: dht

rm unnecessary alias
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
Labels: dht

refactor(dht): Simplify event definitions (#3119)
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/connection/webrtc/IWebrtcConnection.ts
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/transport/ITransport.ts
  packages/dht/test/integration/RouteMessage.test.ts
Labels: dht

test passed 150 times
  packages/trackerless-network/test/integration/streamEntryPointReplacing.test.ts
Labels: network

eslint
  packages/trackerless-network/test/integration/streamEntryPointReplacing.test.ts
Labels: network

fix(network): fix flaky test `StreamEntryPointReplacing` (#3120)
  packages/trackerless-network/test/integration/streamEntryPointReplacing.test.ts
Labels: network

fix(network): Fix PlumTreePropagation test (#3112)
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

release: v103.0.0-rc.17
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

waitForEvent() as generic function
  packages/utils/src/waitForEvent.ts
Labels: utils

add missing IAutoCertifierClient#off() function
  packages/dht/src/connection/websocket/AutoCertifierClientFacade.ts
Labels: dht

NET-1457: Define explicit "exports" for SDK (#3117)
  packages/sdk/package.json
Labels: sdk

use waitForEvent() instead of waitForEvent3()
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/websocket/AutoCertifierClientFacade.ts
  packages/dht/test/end-to-end/Layer0MixedConnectionTypes.test.ts
  packages/dht/test/end-to-end/Layer0Webrtc.test.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/WebsocketConnectionManagement.test.ts
  packages/dht/test/unit/PendingConnection.test.ts
  packages/dht/test/unit/WebrtcConnection.test.ts
  packages/geoip-location/test/unit/tarHelper.test.ts
  packages/trackerless-network/src/content-delivery-layer/inspection/Inspector.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryManager.test.ts
  packages/trackerless-network/test/unit/InspectSession.test.ts
Labels: network, dht

rm waitForEvent3()
  packages/utils/src/exports.ts
  packages/utils/src/waitForEvent3.ts
  packages/utils/test/waitForEvent3.test.ts
Labels: utils

waitForEvent3() etc. as generic functions
  packages/dht/src/connection/connectivityChecker.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/utils/src/waitForEvent3.ts
Labels: dht, utils

rename runAndWaitForEvents3(), raceEvents3() and runAndRaceEvents3()
  packages/dht/src/connection/connectivityChecker.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/utils/src/exports.ts
  packages/utils/src/raceEvents.ts
Labels: dht, utils

fix ecdsa verification on safari
  packages/utils/src/SigningUtil.ts
  packages/utils/test/SigningUtil.test.ts
Labels: utils

fix comment
  packages/utils/src/SigningUtil.ts
Labels: utils

naming cleanup
  packages/utils/src/SigningUtil.ts
Labels: utils

cleanup
  packages/utils/src/SigningUtil.ts
Labels: utils

bugfix: fix ecdsa verification on safari (#3123)
  packages/utils/src/SigningUtil.ts
  packages/utils/test/SigningUtil.test.ts
Labels: utils

release: v103.0.0-rc.18
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

refactor: Use `waitForEvent()` instead of `waitForEvent3()` (#3122)
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/connectivityChecker.ts
  packages/dht/src/connection/websocket/AutoCertifierClientFacade.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/test/end-to-end/Layer0MixedConnectionTypes.test.ts
  packages/dht/test/end-to-end/Layer0Webrtc.test.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/WebsocketConnectionManagement.test.ts
  packages/dht/test/unit/PendingConnection.test.ts
  packages/dht/test/unit/WebrtcConnection.test.ts
  packages/geoip-location/test/unit/tarHelper.test.ts
  packages/trackerless-network/src/content-delivery-layer/inspection/Inspector.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryManager.test.ts
  packages/trackerless-network/test/unit/InspectSession.test.ts
  packages/utils/src/exports.ts
  packages/utils/src/raceEvents.ts
  packages/utils/src/waitForEvent.ts
  packages/utils/src/waitForEvent3.ts
  packages/utils/test/waitForEvent3.test.ts
Labels: network, dht, utils
