Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

feat: clean up listener on abort
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

test: add metadata assertion
  packages/sdk/test/end-to-end/sponsorship-created-event.test.ts
Labels: sdk

chore: remove metadata field
  packages/sdk/src/contracts/SponsorshipFactory.ts
  packages/sdk/test/end-to-end/sponsorship-created-event.test.ts
Labels: sdk

feat(sdk, node) [NET-1486]: trigger autostaker on new sponsorhip created event (#3191)
  CHANGELOG.md
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/sdk/src/Config.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/contracts/SponsorshipFactory.ts
  packages/sdk/src/events.ts
  packages/sdk/src/exports.ts
  packages/sdk/src/generated/validateConfig.js
  packages/sdk/test/end-to-end/sponsorship-created-event.test.ts
Labels: docs, node, sdk

chore: remove sorting of stakes
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
Labels: node

refactor: add explicit break to when excess is known to be handled
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
Labels: node

tests: adjust tests
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

feat(node) [NET-1485]: introduce more fine-grained excess token handling in autostaker algorithm (#3189)
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

release: v103.1.0-rc.1
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

chore(node): change autostaker default values
  packages/node/src/plugins/autostaker/config.schema.json
Labels: node

feat(node): add autostakerEnabled to heartbeat
  packages/node/src/plugins/operator/OperatorPlugin.ts
  packages/node/src/plugins/operator/announceNodeToStream.ts
  packages/node/src/plugins/operator/heartbeatUtils.ts
  packages/node/test/integration/plugins/operator/announceNodeToStream.test.ts
  packages/node/test/unit/plugins/operator/heartbeatUtils.test.ts
Labels: node

fix typos
  packages/node/src/plugins/operator/heartbeatUtils.ts
  packages/node/test/unit/plugins/operator/heartbeatUtils.test.ts
Labels: node

fix eslint
  packages/node/test/integration/plugins/operator/announceNodeToStream.test.ts
Labels: node

fix test
  packages/node/test/unit/plugins/operator/OperatorFleetState.test.ts
Labels: node

docs: autostaker plugin
  docs/docs/guides/how-to-run-autostaker-plugin.md
Labels: none

write more about docs
  docs/docs/guides/how-to-run-autostaker-plugin.md
Labels: none

update docs
  docs/docs/guides/how-to-run-autostaker-plugin.md
Labels: none

feat(node) [NET-1499]: add `autostakerEnabled` status field to operator heartbeats (#3198)
  packages/node/src/plugins/operator/OperatorPlugin.ts
  packages/node/src/plugins/operator/announceNodeToStream.ts
  packages/node/src/plugins/operator/heartbeatUtils.ts
  packages/node/test/integration/plugins/operator/announceNodeToStream.test.ts
  packages/node/test/unit/plugins/operator/OperatorFleetState.test.ts
  packages/node/test/unit/plugins/operator/heartbeatUtils.test.ts
Labels: node

address PR review comments
  docs/docs/guides/how-to-run-autostaker-plugin.md
  docs/static/img/staking-agent-selector-in-hub.png
Labels: none

docs: autostaker plugin (#3169)
  docs/docs/guides/how-to-run-autostaker-plugin.md
  docs/static/img/staking-agent-selector-in-hub.png
Labels: none

release: v103.1.0-rc.2
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

feat: log first activation message
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

feat: run interval lower bound 5 minute
  packages/node/src/plugins/autostaker/config.schema.json
Labels: node

feat: handle sponsorships over limit
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

hotfix: autostaker changes (#3202)
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/config.schema.json
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

release: v103.1.0-rc.3
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

add invalidate()
  packages/utils/src/Cache.ts
  packages/utils/test/Cache.test.ts
Labels: utils

feat(utils): Add `Cache#invalidate()` (#3203)
  packages/utils/src/Cache.ts
  packages/utils/test/Cache.test.ts
Labels: utils

feat: allow maxSponsorshipCount=0
  packages/node/src/plugins/autostaker/config.schema.json
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

release: v103.1.0-rc.4
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

disable warning in pTransaction
  packages/utils/src/pTransaction.ts
Labels: utils

rm Promise.allSettled as the close() doesn't return Promise
  packages/dht/src/connection/websocket/WebsocketClientConnector.ts
  packages/dht/src/connection/websocket/WebsocketServerConnector.ts
Labels: dht

fix await in parallel-publish test
  packages/sdk/test/integration/parallel-publish.test.ts
Labels: sdk

ConnectionManager#getConnectedEndpoints() helper method
  packages/dht/src/connection/ConnectionManager.ts
Labels: dht

fix await in ContentDeliveryLayerNode-Layer1Node-Latencies test and in ContentDeliveryLayerNode-Layer1Node
  packages/trackerless-network/test/integration/ContentDeliveryLayerNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryLayerNode-Layer1Node.test.ts
Labels: network

rm Promise.all as the stop() doesn't return Promise
  packages/trackerless-network/test/integration/ContentDeliveryLayerNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryLayerNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
  packages/trackerless-network/test/integration/Propagation.test.ts
Labels: network

disable warnings in tests
  packages/dht/test/integration/ConnectionLocking.test.ts
  packages/sdk/test/integration/GroupKeyPersistence.test.ts
  packages/trackerless-network/test/end-to-end/content-delivery-layer-node-with-real-connections.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryManager.test.ts
  packages/trackerless-network/test/unit/InspectSession.test.ts
Labels: network, dht, sdk

chore: Fix `@typescript-eslint/await-thenable` warnings (#3209)
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/websocket/WebsocketClientConnector.ts
  packages/dht/src/connection/websocket/WebsocketServerConnector.ts
  packages/dht/test/integration/ConnectionLocking.test.ts
  packages/sdk/test/integration/GroupKeyPersistence.test.ts
  packages/sdk/test/integration/parallel-publish.test.ts
  packages/trackerless-network/test/end-to-end/content-delivery-layer-node-with-real-connections.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryLayerNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryLayerNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryManager.test.ts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
  packages/trackerless-network/test/integration/Propagation.test.ts
  packages/trackerless-network/test/unit/InspectSession.test.ts
  packages/utils/src/pTransaction.ts
Labels: network, dht, sdk, utils

release: v103.1.0-rc.5
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

groupSubdomainsByIp
  packages/autocertifier-server/bin/groupSubdomainsByIp.ts
  packages/autocertifier-server/package.json
Labels: none

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'
