Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

IdentityMapping is internal
  packages/sdk/src/identity/IdentityMapping.ts
Labels: sdk

minor polish based on the rest of the PR feedback
  packages/cli-tools/README.md
  packages/cli-tools/bin/streamr-identity-whoami.ts
  packages/cli-tools/src/command.ts
  packages/sdk/src/StreamrClientError.ts
  packages/sdk/src/identity/KeyPairIdentity.ts
  packages/sdk/src/signature/SignatureValidator.ts
  packages/sdk/src/subscribe/messagePipeline.ts
  packages/sdk/src/utils/encryptionCompliance.ts
  packages/sdk/test/integration/quantum-policy.test.ts
  packages/sdk/test/unit/validateStreamMessage2.test.ts
Labels: sdk, cli-tools

fix eslint
  packages/sdk/test/integration/quantum-policy.test.ts
Labels: sdk

fix cli tool test
  packages/cli-tools/test/identity.test.ts
Labels: cli-tools

bump @noble/post-quantum to pass version check
  package-lock.json
  packages/utils/package.json
Labels: utils

set KeyPairIdentity fields to protected
  packages/sdk/src/identity/KeyPairIdentity.ts
Labels: sdk

@streamr/config v5.5.3
  package-lock.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: node, sdk, test-utils

changelog
  CHANGELOG.md
Labels: docs

release: v102.1.1
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

v102.1.1 changelog
  CHANGELOG.md
Labels: docs

add comment
  packages/sdk/src/identity/KeyPairIdentity.ts
Labels: sdk

remove unnecessary validation
  packages/cli-tools/bin/streamr-identity-generate.ts
Labels: cli-tools

address latest round of PR comments
  packages/sdk/src/StreamrClientError.ts
  packages/sdk/src/encryption/PublisherKeyExchange.ts
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/src/subscribe/messagePipeline.ts
  packages/sdk/src/utils/encryptionCompliance.ts
  packages/sdk/test/integration/quantum-policy.test.ts
Labels: sdk

StrictStreamrClientConfig always contains value for environment
  packages/sdk/src/Config.ts
Labels: sdk

and environmentId parameter, create curried functions for testing
  package-lock.json
  packages/cli-tools/bin/streamr-internal-operator-create.ts
  packages/cli-tools/bin/streamr-internal-sponsorship-create.ts
  packages/cli-tools/package.json
  packages/cli-tools/test/internal-operator.test.ts
  packages/cli-tools/test/internal-sponsorship-sponsor.test.ts
  packages/cli-tools/test/utils.ts
  packages/node/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/node/test/integration/plugins/operator/announceNodeToContract.test.ts
  packages/node/test/integration/plugins/operator/announceNodeToStream.test.ts
  packages/node/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/node/test/integration/plugins/operator/maintainOperatorValue.test.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
  packages/node/test/utils.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/test/end-to-end/Operator.test.ts
  packages/sdk/test/test-utils/utils.ts
  packages/test-utils/src/index.ts
Labels: node, sdk, test-utils, cli-tools

eslint
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/test/test-utils/utils.ts
Labels: sdk

setupOperatorContract -> setupTestOperatorContract
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/node/test/integration/plugins/operator/announceNodeToContract.test.ts
  packages/node/test/integration/plugins/operator/announceNodeToStream.test.ts
  packages/node/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/node/test/integration/plugins/operator/maintainOperatorValue.test.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
  packages/sdk/test/end-to-end/Operator.test.ts
  packages/test-utils/src/index.ts
Labels: node, sdk, test-utils

fix problem with onMetadata
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

add comments
  packages/trackerless-network/src/logic/ContentDeliveryRpcLocal.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
Labels: network

remove unnecessary resume call
  packages/trackerless-network/src/logic/ContentDeliveryRpcLocal.ts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

message buffer per message chain id
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeRpcLocal.ts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

wait for two metadata messages to arrive before real data
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
Labels: network

refactor SigningUtil to abstract class
  CHANGELOG.md
  packages/cli-tools/bin/streamr-identity-generate.ts
  packages/cli-tools/src/command.ts
  packages/dht/src/helpers/createPeerDescriptor.ts
  packages/sdk/src/Config.ts
  packages/sdk/src/Message.ts
  packages/sdk/src/contracts/ERC1271ContractFacade.ts
  packages/sdk/src/exports.ts
  packages/sdk/src/identity/ECDSAKeyPairIdentity.ts
  packages/sdk/src/identity/EthereumKeyPairIdentity.ts
  packages/sdk/src/identity/IdentityMapping.ts
  packages/sdk/src/identity/MLDSAKeyPairIdentity.ts
  packages/sdk/src/signature/SignatureValidator.ts
  packages/sdk/test/benchmarks/signingUtils.test.ts
  packages/sdk/test/test-utils/fake/FakeERC1271ContractFacade.ts
  packages/sdk/test/unit/ECDSAKeyPairIdentity.test.ts
  packages/sdk/test/unit/ERC1271ContractFacade.test.ts
  packages/sdk/test/unit/MLDSAKeyPairIdentity.test.ts
  packages/utils/src/exports.ts
  packages/utils/src/signingUtils.ts
  packages/utils/test/signingUtils.test.ts
Labels: docs, dht, sdk, utils, cli-tools

eslint
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
Labels: network

fix test
  packages/trackerless-network/test/unit/PlumTreeManager.test.ts
Labels: network

Update PlumTreeManager.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
Labels: network

touch something to try and get CI going
  DELETEME
Labels: none

rename KeyPairType to KeyType
  CHANGELOG.md
  packages/cli-tools/src/command.ts
  packages/sdk/src/Config.ts
  packages/sdk/src/Message.ts
  packages/sdk/src/exports.ts
  packages/sdk/src/identity/IdentityMapping.ts
  packages/utils/src/exports.ts
  packages/utils/src/signingUtils.ts
Labels: docs, sdk, utils, cli-tools

rename SUPPORTED_KEY_PAIR_TYPES to KEY_TYPES
  packages/cli-tools/bin/streamr-identity-generate.ts
  packages/cli-tools/src/command.ts
  packages/sdk/src/identity/IdentityMapping.ts
  packages/utils/src/exports.ts
  packages/utils/src/signingUtils.ts
Labels: sdk, utils, cli-tools

use base64 encoding, which seems to work with JWK, instead of the (correct) base64url
  packages/utils/src/signingUtils.ts
Labels: utils

fix dht tests
  packages/dht/test/benchmark/hybrid-network-simulation/RingContactList.test.ts
  packages/dht/test/unit/createPeerDescriptor.test.ts
Labels: dht

fix cli-tools
  packages/cli-tools/bin/streamr-identity-generate.ts
Labels: cli-tools

fix dht benchmark
  packages/dht/test/benchmark/hybrid-network-simulation/RingContactList.test.ts
Labels: dht

work around platform-specific differences
  packages/utils/src/signingUtils.ts
Labels: utils

refactor(sdk): Use contracts from `@streamr/network-contracts` (#3090)
  package-lock.json
  packages/cli-tools/test/internal-sponsorship-sponsor.test.ts
  packages/node/package.json
  packages/node/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
  packages/sdk/package.json
  packages/sdk/src/contracts/Operator.ts
  packages/sdk/src/contracts/StorageNodeRegistry.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/StreamStorageRegistry.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/src/ethereumArtifacts/NodeRegistry.d.ts
  packages/sdk/src/ethereumArtifacts/NodeRegistryAbi.json
  packages/sdk/src/ethereumArtifacts/Operator.d.ts
  packages/sdk/src/ethereumArtifacts/OperatorAbi.json
  packages/sdk/src/ethereumArtifacts/OperatorFactory.d.ts
  packages/sdk/src/ethereumArtifacts/OperatorFactoryAbi.json
  packages/sdk/src/ethereumArtifacts/Sponsorship.d.ts
  packages/sdk/src/ethereumArtifacts/SponsorshipAbi.json
  packages/sdk/src/ethereumArtifacts/SponsorshipFactory.d.ts
  packages/sdk/src/ethereumArtifacts/SponsorshipFactoryAbi.json
  packages/sdk/src/ethereumArtifacts/StreamRegistryV5.d.ts
  packages/sdk/src/ethereumArtifacts/StreamRegistryV5Abi.json
  packages/sdk/src/ethereumArtifacts/StreamStorageRegistryV2.d.ts
  packages/sdk/src/ethereumArtifacts/StreamStorageRegistryV2Abi.json
  packages/sdk/test/end-to-end/Operator.test.ts
  packages/sdk/test/end-to-end/decorated-contract.test.ts
Labels: node, sdk, cli-tools

test: move `setupOperatorContract()` to `test-utils` (#3092)
  package-lock.json
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/node/test/integration/plugins/operator/announceNodeToContract.test.ts
  packages/node/test/integration/plugins/operator/announceNodeToStream.test.ts
  packages/node/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/node/test/integration/plugins/operator/maintainOperatorValue.test.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/src/exports.ts
  packages/sdk/test/end-to-end/Operator.test.ts
  packages/test-utils/package.json
  packages/test-utils/src/index.ts
Labels: node, sdk, test-utils

refactor(sdk): `environmentId` parameter for contract deploy utils (#3094)
  package-lock.json
  packages/cli-tools/bin/streamr-internal-operator-create.ts
  packages/cli-tools/bin/streamr-internal-sponsorship-create.ts
  packages/cli-tools/package.json
  packages/cli-tools/test/internal-operator.test.ts
  packages/cli-tools/test/internal-sponsorship-sponsor.test.ts
  packages/cli-tools/test/utils.ts
  packages/node/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/node/test/integration/plugins/operator/announceNodeToContract.test.ts
  packages/node/test/integration/plugins/operator/announceNodeToStream.test.ts
  packages/node/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/node/test/integration/plugins/operator/maintainOperatorValue.test.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
  packages/node/test/utils.ts
  packages/sdk/src/Config.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/test/end-to-end/Operator.test.ts
  packages/sdk/test/test-utils/utils.ts
  packages/test-utils/src/index.ts
Labels: node, sdk, test-utils, cli-tools

better test
  packages/trackerless-network/test/unit/PlumTreeManager.test.ts
Labels: network

formatting
  packages/trackerless-network/src/logic/plumtree/PausedNeighbors.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
Labels: network

unit test
  packages/trackerless-network/test/unit/PlumTreeManager.test.ts
Labels: network
