Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

103.6.0-rc.0
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

logging for finding iphone problems
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/dht/src/GapDiagnostics.ts
  packages/dht/src/browser/DirectWebrtcConnection.ts
  packages/dht/src/browser/WorkerWebrtcConnection.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/exports.ts
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/trackerless-network/src/GapDiagnostics.ts
  packages/trackerless-network/src/content-delivery-layer/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/content-delivery-layer/ContentDeliveryRpcLocal.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PlumtreeManager.ts
  packages/trackerless-network/src/content-delivery-layer/propagation/Propagation.ts
  packages/trackerless-network/src/exports.ts
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

proto-rpc: drop per-message server-side timeout for notifications (P1)
  docs/rpc-hot-path-optimization.md
  packages/proto-rpc/src/ServerRegistry.ts
  packages/proto-rpc/test/unit/ServerRegistry.test.ts
Labels: proto-rpc

proto-rpc: direct-drive client, bypass UnaryCall + collapse deferreds
  packages/proto-rpc/src/ClientTransport.ts
  packages/proto-rpc/src/RpcCommunicator.ts
  packages/proto-rpc/src/toProtoRpcClient.ts
  packages/proto-rpc/test/integration/toProtoRpcClient.test.ts
  packages/proto-rpc/test/unit/RpcCommunicator.test.ts
Labels: proto-rpc

trackerless-network: opt-in suppressOwnMessageLoopback
  packages/trackerless-network/src/ContentDeliveryManager.ts
  packages/trackerless-network/src/content-delivery-layer/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/content-delivery-layer/createContentDeliveryLayerNode.ts
  packages/trackerless-network/test/unit/ContentDeliveryLayerNode.test.ts
Labels: network

reduce logging to try on real device
  packages/dht/src/GapDiagnostics.ts
  packages/dht/src/browser/WorkerWebrtcConnection.ts
Labels: dht

103.8.0-rc.3
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

bump config
  docs/docs/usage/configuration.md
  package-lock.json
  packages/cli-tools/package.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: node, sdk, test-utils, cli-tools

fix geoip test assertions
  packages/dht/test/integration/GeoIpConnectivityChecking.test.ts
  packages/geoip-location/test/unit/GeoIpLocator-intervals.test.ts
  packages/geoip-location/test/unit/GeoIpLocator-no-network-at-monthly.test.ts
  packages/geoip-location/test/unit/GeoIpLocator.test.ts
Labels: dht

release: v103.3.2
  CHANGELOG.md
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: docs, node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

update npm publish action to use npm trusted publishers
  .github/workflows/publish-npm.yml
Labels: ci

use minimum node/npm version required for trusted publishing
  .github/workflows/publish-npm.yml
  .github/workflows/reusable/cached-build/action.yml
  .nvmrc
Labels: ci

try bumping npm version in GA
  .github/workflows/reusable/cached-build/action.yml
Labels: ci

dht: log connection types ([conn-type] console lines)
  packages/dht/src/browser/DirectWebrtcConnection.ts
  packages/dht/src/browser/WebrtcBridge.ts
  packages/dht/src/browser/WebsocketClientConnection.ts
  packages/dht/src/browser/WorkerWebrtcConnection.ts
  packages/dht/src/browser/rtcConnectionInfo.ts
  packages/dht/src/connection/ConnectionDiagnostics.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/IConnection.ts
  packages/dht/src/connection/websocket/AbstractWebsocketClientConnection.ts
  packages/dht/src/connection/websocket/WebsocketServerConnection.ts
  packages/dht/src/exports.ts
  packages/dht/src/nodejs/WebrtcConnection.ts
  packages/dht/src/nodejs/WebsocketClientConnection.ts
Labels: dht

103.8.0-rc.4
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

dht/trackerless-network: setIceServers() for live TURN credential refresh
  packages/dht/src/browser/DirectWebrtcConnection.ts
  packages/dht/src/browser/WorkerWebrtcConnection.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ConnectorFacade.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/control-layer/ControlLayerNode.ts
Labels: network, dht

103.8.0-rc.5
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

dht/trackerless-network: getConnectionInfos() — live per-connection type report
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/exports.ts
  packages/dht/test/integration/WebrtcConnectionManagement.test.ts
  packages/dht/test/integration/WebsocketConnectionManagement.test.ts
  packages/dht/test/unit/ManagedConnection.test.ts
  packages/dht/test/utils/mock/MockConnection.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/control-layer/ControlLayerNode.ts
Labels: network, dht

103.8.0-rc.6
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

trackerless-network: stall-mechanism probes (dupReject classification, neighbor churn, propagation rejoin flush) + 103.8.0-rc.7
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/trackerless-network/src/GapDiagnostics.ts
  packages/trackerless-network/src/content-delivery-layer/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/content-delivery-layer/ContentDeliveryRpcLocal.ts
  packages/trackerless-network/src/content-delivery-layer/DuplicateMessageDetector.ts
  packages/trackerless-network/src/content-delivery-layer/neighbor-discovery/NeighborUpdateManager.ts
  packages/trackerless-network/src/content-delivery-layer/propagation/Propagation.ts
  packages/trackerless-network/src/content-delivery-layer/propagation/PropagationTaskStore.ts
  packages/trackerless-network/src/utils.ts
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

dht: keep WebRTC datachannel sends FIFO under backpressure (new messages no longer bypass the queued backlog) + orderGuard probe; 103.8.0-rc.8
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/dht/src/GapDiagnostics.ts
  packages/dht/src/browser/DirectWebrtcConnection.ts
  packages/dht/src/browser/WorkerWebrtcConnection.ts
  packages/dht/src/nodejs/WebrtcConnection.ts
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

trackerless-network: a failed/timed-out neighborUpdate no longer removes the neighbor (was: any RPC error ⇒ removeMe); 103.8.0-rc.9
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/trackerless-network/src/content-delivery-layer/neighbor-discovery/NeighborUpdateRpcRemote.ts
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools
