Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

`Scope` → `LoggerModule`
  packages/utils/src/Logger.ts
Labels: utils

use encyrption keys config in GroupKeyManager
  packages/sdk/src/Config.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/encryption/GroupKeyManager.ts
  packages/sdk/src/generated/validateConfig.js
Labels: sdk

refactor: Unbind `Logger` from NodeJS `module` object (by type) (#3283)
  packages/utils/src/Logger.ts
Labels: utils

set explicit keys for the GroupKeyQueue if available
  packages/sdk/src/encryption/GroupKeyManager.ts
  packages/sdk/src/publish/Publisher.ts
Labels: sdk

eslint
  packages/sdk/src/Config.ts
  packages/sdk/src/publish/Publisher.ts
Labels: sdk

fix tet build
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/GroupKeyManager.test.ts
  packages/sdk/test/unit/messagePipeline.test.ts
Labels: sdk

fix unit and integration tests
  packages/sdk/src/encryption/GroupKeyManager.ts
  packages/sdk/test/test-utils/utils.ts
Labels: sdk

eslint
  packages/sdk/src/encryption/GroupKeyManager.ts
Labels: sdk

feat(sdk): Raw publish (#3280)
  CHANGELOG.md
  packages/sdk/src/StreamrClient.ts
  packages/sdk/test/end-to-end/publish-subscribe-raw.test.ts
Labels: docs, sdk

docs(sdk): Changelog links (#3281)
  CHANGELOG.md
Labels: docs

feat(cli-tools): Binary publish (#3282)
  CHANGELOG.md
  packages/cli-tools/bin/streamr-stream-publish.ts
  packages/cli-tools/bin/streamr-stream-subscribe.ts
  packages/cli-tools/test/mock-data.test.ts
  packages/cli-tools/test/stream-publish.test.ts
  packages/cli-tools/test/stream-subscribe.test.ts
  packages/cli-tools/test/utils.ts
  packages/sdk/src/exports.ts
Labels: docs, sdk, cli-tools

Reindent tsconfigs
  packages/autocertifier-client/tsconfig.jest.json
  packages/autocertifier-client/tsconfig.node.json
  packages/autocertifier-server/tsconfig.jest.json
  packages/autocertifier-server/tsconfig.node.json
  packages/browser-test-runner/tsconfig.node.json
  packages/cdn-location/tsconfig.jest.json
  packages/cdn-location/tsconfig.node.json
  packages/cli-tools/tsconfig.json
  packages/cli-tools/tsconfig.node.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.node.json
  packages/geoip-location/tsconfig.jest.json
  packages/geoip-location/tsconfig.node.json
  packages/node/tsconfig.jest.json
  packages/node/tsconfig.node.json
  packages/proto-rpc/tsconfig.jest.json
  packages/proto-rpc/tsconfig.node.json
  packages/sdk/tsconfig.browser.json
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.node.json
  packages/test-utils/tsconfig.jest.json
  packages/test-utils/tsconfig.node.json
  packages/trackerless-network/tsconfig.jest.json
  packages/trackerless-network/tsconfig.node.json
  tsconfig.browser.json
  tsconfig.jest.json
  tsconfig.node.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, cli-tools

Remove "browser" tsconfig jsons
  packages/autocertifier-server/tsconfig.browser.json
  packages/cdn-location/tsconfig.browser.json
  packages/dht/tsconfig.browser.json
  packages/dht/tsconfig.karma.json
  packages/geoip-location/tsconfig.browser.json
  packages/proto-rpc/tsconfig.browser.json
  packages/proto-rpc/tsconfig.karma.json
  packages/sdk/tsconfig.browser.json
  packages/trackerless-network/tsconfig.browser.json
  packages/trackerless-network/tsconfig.karma.json
  packages/utils/tsconfig.browser.json
  packages/utils/tsconfig.karma.json
Labels: network, dht, proto-rpc, sdk, utils

Remove unnecessary globbing
  packages/autocertifier-client/tsconfig.jest.json
  packages/autocertifier-client/tsconfig.node.json
  packages/autocertifier-server/tsconfig.jest.json
  packages/autocertifier-server/tsconfig.node.json
  packages/browser-test-runner/tsconfig.node.json
  packages/cdn-location/tsconfig.jest.json
  packages/cdn-location/tsconfig.node.json
  packages/cli-tools/tsconfig.jest.json
  packages/cli-tools/tsconfig.node.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.node.json
  packages/geoip-location/tsconfig.jest.json
  packages/geoip-location/tsconfig.node.json
  packages/node/tsconfig.jest.json
  packages/node/tsconfig.node.json
  packages/proto-rpc/tsconfig.jest.json
  packages/proto-rpc/tsconfig.node.json
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.node.json
  packages/test-utils/tsconfig.jest.json
  packages/test-utils/tsconfig.node.json
  packages/trackerless-network/tsconfig.jest.json
  packages/trackerless-network/tsconfig.node.json
  packages/utils/tsconfig.jest.json
  packages/utils/tsconfig.node.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

Fix tabs
  packages/geoip-location/tsconfig.node.json
Labels: none

Define proper package-level tsconfig.json files
  packages/autocertifier-client/tsconfig.json
  packages/autocertifier-server/tsconfig.json
  packages/cdn-location/tsconfig.json
  packages/cli-tools/tsconfig.json
  packages/dht/scripts/postbuild.sh
  packages/dht/tsconfig.json
  packages/geoip-location/tsconfig.json
  packages/node/tsconfig.json
  packages/proto-rpc/tsconfig.json
  packages/sdk/tsconfig.json
  packages/test-utils/tsconfig.json
  packages/trackerless-network/tsconfig.json
  packages/utils/tsconfig.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

Fix sdk's karma
  packages/sdk/webpack-karma.config.ts
Labels: sdk

Pass explicit group key as current group key so that there is no need to do rekey()
  packages/sdk/src/publish/GroupKeyQueue.ts
  packages/sdk/src/publish/Publisher.ts
Labels: sdk

If explicit keys are defined only those keys are used
  packages/sdk/src/StreamrClientError.ts
  packages/sdk/src/encryption/GroupKeyManager.ts
Labels: sdk

test
  packages/sdk/test/integration/explicit-encryption-keys.test.ts
Labels: sdk

Remove .prettierrc (unused)
  .prettierrc
Labels: none

Import `WebSocketServer` properly
  packages/dht/src/connection/websocket/WebsocketServer.ts
Labels: dht

formatting
  packages/sdk/src/Config.ts
  packages/sdk/src/encryption/GroupKeyManager.ts
Labels: sdk

identity in createGroupKeyManager is required
  packages/sdk/test/test-utils/utils.ts
Labels: sdk

local variable identity
  packages/sdk/test/unit/GroupKeyManager.test.ts
  packages/sdk/test/unit/messagePipeline.test.ts
Labels: sdk

fix eslint
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/Decrypt.test.ts
  packages/sdk/test/unit/GroupKeyQueue.test.ts
  packages/sdk/test/unit/Publisher.test.ts
Labels: sdk

improve configuration
  packages/sdk/src/config.schema.json
  packages/sdk/src/generated/validateConfig.js
Labels: sdk

refactor: Reindent tsconfigs (#3285)
  packages/autocertifier-client/tsconfig.jest.json
  packages/autocertifier-client/tsconfig.node.json
  packages/autocertifier-server/tsconfig.jest.json
  packages/autocertifier-server/tsconfig.node.json
  packages/browser-test-runner/tsconfig.node.json
  packages/cdn-location/tsconfig.jest.json
  packages/cdn-location/tsconfig.node.json
  packages/cli-tools/tsconfig.json
  packages/cli-tools/tsconfig.node.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.node.json
  packages/geoip-location/tsconfig.jest.json
  packages/geoip-location/tsconfig.node.json
  packages/node/tsconfig.jest.json
  packages/node/tsconfig.node.json
  packages/proto-rpc/tsconfig.jest.json
  packages/proto-rpc/tsconfig.node.json
  packages/sdk/tsconfig.browser.json
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.node.json
  packages/test-utils/tsconfig.jest.json
  packages/test-utils/tsconfig.node.json
  packages/trackerless-network/tsconfig.jest.json
  packages/trackerless-network/tsconfig.node.json
  tsconfig.browser.json
  tsconfig.jest.json
  tsconfig.node.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, cli-tools

Rename root "browser" tsconfig to tsconfig.karma.json
  packages/dht/tsconfig.karma.json
  packages/proto-rpc/tsconfig.karma.json
  packages/trackerless-network/tsconfig.karma.json
  packages/utils/tsconfig.karma.json
  tsconfig.karma.json
Labels: network, dht, proto-rpc, utils

refactor: Remove .prettierrc (unused) (#3289)
  .prettierrc
Labels: none

refactor: Import `WebSocketServer` properly (#3290)
  packages/dht/src/connection/websocket/WebsocketServer.ts
Labels: dht

refactor: Remove "browser" tsconfig jsons (#3286)
  packages/autocertifier-server/tsconfig.browser.json
  packages/cdn-location/tsconfig.browser.json
  packages/dht/tsconfig.browser.json
  packages/dht/tsconfig.karma.json
  packages/geoip-location/tsconfig.browser.json
  packages/proto-rpc/tsconfig.browser.json
  packages/proto-rpc/tsconfig.karma.json
  packages/sdk/tsconfig.browser.json
  packages/trackerless-network/tsconfig.browser.json
  packages/trackerless-network/tsconfig.karma.json
  packages/utils/tsconfig.browser.json
  packages/utils/tsconfig.karma.json
  tsconfig.karma.json
Labels: network, dht, proto-rpc, sdk, utils

refactor: Remove unnecessary globbing from `tsconfig` files (#3287)
  packages/autocertifier-client/tsconfig.jest.json
  packages/autocertifier-client/tsconfig.node.json
  packages/autocertifier-server/tsconfig.jest.json
  packages/autocertifier-server/tsconfig.node.json
  packages/browser-test-runner/tsconfig.node.json
  packages/cdn-location/tsconfig.jest.json
  packages/cdn-location/tsconfig.node.json
  packages/cli-tools/tsconfig.jest.json
  packages/cli-tools/tsconfig.node.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.node.json
  packages/geoip-location/tsconfig.jest.json
  packages/geoip-location/tsconfig.node.json
  packages/node/tsconfig.jest.json
  packages/node/tsconfig.node.json
  packages/proto-rpc/tsconfig.jest.json
  packages/proto-rpc/tsconfig.node.json
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.node.json
  packages/test-utils/tsconfig.jest.json
  packages/test-utils/tsconfig.node.json
  packages/trackerless-network/tsconfig.jest.json
  packages/trackerless-network/tsconfig.node.json
  packages/utils/tsconfig.jest.json
  packages/utils/tsconfig.node.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

refactor: Define proper package-level `tsconfig.json` files (#3288)
  packages/autocertifier-client/tsconfig.json
  packages/autocertifier-server/tsconfig.json
  packages/cdn-location/tsconfig.json
  packages/cli-tools/tsconfig.json
  packages/dht/scripts/postbuild.sh
  packages/dht/tsconfig.json
  packages/geoip-location/tsconfig.json
  packages/node/tsconfig.json
  packages/proto-rpc/tsconfig.json
  packages/sdk/tsconfig.json
  packages/sdk/webpack-karma.config.ts
  packages/test-utils/tsconfig.json
  packages/trackerless-network/tsconfig.json
  packages/utils/tsconfig.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

Clean-up autocertifier tsconfigs
  packages/autocertifier-client/package.json
  packages/autocertifier-client/tsconfig.jest.json
  packages/autocertifier-client/tsconfig.json
  packages/autocertifier-client/tsconfig.node.json
  packages/autocertifier-server/package.json
  packages/autocertifier-server/tsconfig.jest.json
  packages/autocertifier-server/tsconfig.json
  packages/autocertifier-server/tsconfig.node.json
  packages/cdn-location/tsconfig.jest.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.node.json
Labels: dht

Clean-up tsconfigs for the `browser-test-runner` package
  packages/browser-test-runner/eslint.config.mjs
  packages/browser-test-runner/package.json
  packages/browser-test-runner/tsconfig.json
Labels: none

refactor [NET-1643]: Clean-up `autocertifier-client` & `autocertifier-server` tsconfigs (#3267)
  packages/autocertifier-client/package.json
  packages/autocertifier-client/tsconfig.jest.json
  packages/autocertifier-client/tsconfig.json
  packages/autocertifier-client/tsconfig.node.json
  packages/autocertifier-server/package.json
  packages/autocertifier-server/tsconfig.jest.json
  packages/autocertifier-server/tsconfig.json
  packages/autocertifier-server/tsconfig.node.json
  packages/cdn-location/tsconfig.jest.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.node.json
Labels: dht

refactor [NET-1644]: Clean-up tsconfigs for the `browser-test-runner` package (#3268)
  packages/browser-test-runner/eslint.config.mjs
  packages/browser-test-runner/package.json
  packages/browser-test-runner/tsconfig.json
Labels: none

Clean-up tsconfigs for the `cdn-location` package
  packages/cdn-location/package.json
  packages/cdn-location/tsconfig.data-generation.json
  packages/cdn-location/tsconfig.jest.json
  packages/cdn-location/tsconfig.json
  packages/cdn-location/tsconfig.node.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.node.json
Labels: dht

Clean-up tsconfigs for the `cli-tools` package
  packages/cli-tools/package.json
  packages/cli-tools/tsconfig.jest.json
  packages/cli-tools/tsconfig.json
  packages/cli-tools/tsconfig.node.json
Labels: cli-tools
