Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

remove StreamrClient.generateEthereumAccount
  packages/sdk/src/StreamrClient.ts
Labels: sdk

cli tools polish
  packages/cli-tools/bin/streamr-keys-generate.ts
  packages/cli-tools/bin/streamr.ts
  packages/cli-tools/src/command.ts
  packages/cli-tools/src/permission.ts
Labels: cli-tools

ensure environment
  packages/cli-tools/bin/streamr-internal-operator-create.ts
Labels: cli-tools

field type of DeploySponsorshipContractOpts#deployer
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk

sponsorship-create command
  packages/cli-tools/bin/streamr-internal-sponsorship-create.ts
  packages/cli-tools/bin/streamr-internal.ts
Labels: cli-tools

ensure environment
  packages/cli-tools/bin/streamr-internal-sponsorship-create.ts
Labels: cli-tools

option naming
  packages/cli-tools/bin/streamr-internal-sponsorship-create.ts
Labels: cli-tools

output
  packages/cli-tools/bin/streamr-internal-sponsorship-create.ts
Labels: cli-tools

option naming
  packages/cli-tools/bin/streamr-internal-operator-create.ts
Labels: cli-tools

chore(node): Remove `OperatorServiceConfig` interface (#3072)
  packages/node/src/plugins/operator/OperatorPlugin.ts
  packages/sdk/src/contracts/Operator.ts
Labels: node, sdk

disable BrowserWebRTCClient additional buffering and disable removing neighbors that respond too slow
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
Labels: network, dht

release: v103.0.0-rc.6
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

release: v103.0.0-rc.7
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

release: v103.0.0-rc.8
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

plum tree ready to test
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/ContentDeliveryRpcLocal.ts
  packages/trackerless-network/src/logic/createContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeRpcLocal.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeRpcRemote.ts
Labels: network

minOperatorCount is optional
  packages/cli-tools/bin/streamr-internal-sponsorship-create.ts
Labels: cli-tools

update identity, signing, and encryption docs
  docs/docs/streamr-network/security/_category_.json
  docs/docs/streamr-network/security/end-to-end-encryption.md
  docs/docs/streamr-network/security/key-encryption.md
  docs/docs/streamr-network/security/quantum-security.md
  docs/docs/streamr-network/security/signing-and-verification.md
  docs/docs/usage/authenticate.md
  docs/docs/usage/identity.md
Labels: none

add docs article about quantum security
  docs/docs/streamr-network/security/quantum-security.md
Labels: none

buffredAmout change event should now propagate to the user level
  packages/dht/src/transport/ITransport.ts
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/DiscoveryLayerNode.ts
Labels: network, dht

release: v103.0.0-rc.9
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

ABIs in minimal format
  packages/sdk/src/ethereumArtifacts/DATAv2Abi.json
  packages/sdk/src/ethereumArtifacts/IERC1271Abi.json
  packages/sdk/src/ethereumArtifacts/NodeRegistryAbi.json
  packages/sdk/src/ethereumArtifacts/OperatorAbi.json
  packages/sdk/src/ethereumArtifacts/OperatorFactoryAbi.json
  packages/sdk/src/ethereumArtifacts/SponsorshipAbi.json
  packages/sdk/src/ethereumArtifacts/SponsorshipFactoryAbi.json
  packages/sdk/src/ethereumArtifacts/StreamRegistryV5Abi.json
  packages/sdk/src/ethereumArtifacts/StreamStorageRegistryV2Abi.json
Labels: sdk

keep named event parameters
  packages/sdk/src/ethereumArtifacts/DATAv2Abi.json
  packages/sdk/src/ethereumArtifacts/NodeRegistryAbi.json
  packages/sdk/src/ethereumArtifacts/OperatorAbi.json
  packages/sdk/src/ethereumArtifacts/OperatorFactoryAbi.json
  packages/sdk/src/ethereumArtifacts/SponsorshipAbi.json
  packages/sdk/src/ethereumArtifacts/SponsorshipFactoryAbi.json
  packages/sdk/src/ethereumArtifacts/StreamRegistryV5Abi.json
  packages/sdk/src/ethereumArtifacts/StreamStorageRegistryV2Abi.json
Labels: sdk

emit statistics object instead of the mere bufferedAmount
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/IConnection.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/exports.ts
  packages/dht/src/transport/ITransport.ts
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/ContentDeliveryRpcRemote.ts
  packages/trackerless-network/src/logic/NodeList.ts
Labels: network, dht

keep all named parameters
  packages/sdk/src/ethereumArtifacts/DATAv2Abi.json
  packages/sdk/src/ethereumArtifacts/IERC1271Abi.json
  packages/sdk/src/ethereumArtifacts/NodeRegistryAbi.json
  packages/sdk/src/ethereumArtifacts/OperatorAbi.json
  packages/sdk/src/ethereumArtifacts/OperatorFactoryAbi.json
  packages/sdk/src/ethereumArtifacts/SponsorshipAbi.json
  packages/sdk/src/ethereumArtifacts/SponsorshipFactoryAbi.json
  packages/sdk/src/ethereumArtifacts/StreamRegistryV5Abi.json
  packages/sdk/src/ethereumArtifacts/StreamStorageRegistryV2Abi.json
Labels: sdk

add calculating uploadrate from peerConnection getStats()
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
Labels: dht

release: v103.0.0-rc.10
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

mint for self
  packages/cli-tools/bin/streamr-internal-token-mint.ts
Labels: cli-tools

apply note style for permission commands
  packages/cli-tools/src/permission.ts
Labels: cli-tools

logging
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk

delegate() and sponsor() as direct contract calls
  packages/cli-tools/bin/streamr-internal-operator-delegate.ts
  packages/cli-tools/bin/streamr-internal-sponsorship-sponsor.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk, cli-tools

rm transferTokens()
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk

Revert "rm transferTokens()"
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk

get token contract from operator/sponsorship
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk

simplify getTestTokenContract() ABI
  packages/test-utils/src/index.ts
Labels: test-utils

update docs
  docs/docs/guides/nodejs.md
  docs/docs/guides/web-app-frameworks.md
  docs/docs/usage/identity.md
  docs/docs/usage/streams/signature-verification.md
  docs/docusaurus.config.ts
  docs/package-lock.json
  docs/package.json
Labels: none

make eslint happy
  package-lock.json
  packages/cli-tools/src/command.ts
  packages/sdk/src/identity/EthereumProviderIdentity.ts
  packages/sdk/src/signature/SignatureValidator.ts
  packages/utils/package.json
  packages/utils/src/signingUtils.ts
  packages/utils/test/signingUtils.test.ts
Labels: sdk, utils, cli-tools

doc: usage docs for the tokenomics smart contracts
  docs/docs/streamr-network/incentives/network-incentives.md
  docs/docs/streamr-network/smart-contracts.md
Labels: none

remove delegator data argument from transferTokens() call
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk

fix cli tool test
  packages/cli-tools/bin/streamr-keys-generate.ts
  packages/cli-tools/test/keys.test.ts
  packages/cli-tools/test/wallet.test.ts
Labels: cli-tools

update quantum doc
  docs/docs/streamr-network/security/quantum-security.md
Labels: none

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'
