Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

add constant
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

fix sdk package
  packages/sdk/src/utils/Pipeline.ts
  packages/sdk/src/utils/PushBuffer.ts
Labels: sdk

fix(node): fix ConfigWizard
  packages/node/src/config/ConfigWizard.ts
Labels: node

rename changed eslint rule name
  eslint.config.mjs
Labels: none

fix eslintconfig of browser-test-runner
  packages/browser-test-runner/eslint.config.mjs
Labels: none

No longer send pause messages if the maxNeighborPaused option is met
  packages/trackerless-network/src/content-delivery-layer/plumtree/PausedNeighbors.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PlumtreeManager.ts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

adjust geoip tests
  packages/geoip-location/test/unit/GeoIpLocator-no-network-at-monthly.test.ts
  packages/geoip-location/test/unit/GeoIpLocator.test.ts
Labels: none

fix location
  packages/geoip-location/test/unit/GeoIpLocator-intervals.test.ts
Labels: none

fix location
  packages/dht/test/integration/GeoIpConnectivityChecking.test.ts
Labels: dht

fix ConfigWizard.test.ts
  packages/node/test/unit/ConfigWizard.test.ts
Labels: node

revert test changes
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

fix until conditions
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

increase test timeouts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

adjust geoip tests
  packages/geoip-location/test/unit/GeoIpLocator-no-network-at-monthly.test.ts
  packages/geoip-location/test/unit/GeoIpLocator.test.ts
Labels: none

fix location
  packages/geoip-location/test/unit/GeoIpLocator-intervals.test.ts
Labels: none

fix location
  packages/dht/test/integration/GeoIpConnectivityChecking.test.ts
Labels: dht

fix: Fix geoip tests reference latitude and longitude (#3181)
  packages/dht/test/integration/GeoIpConnectivityChecking.test.ts
  packages/geoip-location/test/unit/GeoIpLocator-intervals.test.ts
  packages/geoip-location/test/unit/GeoIpLocator-no-network-at-monthly.test.ts
  packages/geoip-location/test/unit/GeoIpLocator.test.ts
Labels: dht

refactor test and reduce number of nodes down to 16
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

feat(network): Setting for max paused neighbors in Plumtree (#3177)
  packages/trackerless-network/src/ContentDeliveryManager.ts
  packages/trackerless-network/src/content-delivery-layer/createContentDeliveryLayerNode.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PlumtreeManager.ts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

feat(network): No longer send pause messages if the maxNeighborPaused option is met (#3179)
  packages/trackerless-network/src/content-delivery-layer/plumtree/PausedNeighbors.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PlumtreeManager.ts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

bump jests
  package-lock.json
  package.json
  packages/browser-test-runner/package.json
  packages/dht/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
Labels: network, dht, sdk, test-utils

add process to karma preload
  packages/browser-test-runner/src/karma-setup.js
  packages/browser-test-runner/src/preload.js
Labels: none

ad-hoc fix
  packages/sdk/test/test-utils/jestGlobalsMock.ts
  packages/sdk/webpack-karma.config.js
Labels: sdk

eslint disable
  packages/sdk/test/test-utils/jestGlobalsMock.ts
Labels: sdk

fix test
  packages/node/test/unit/plugins/storage/Bucket.test.ts
Labels: node

deps: update jest to v30 (#3182)
  package-lock.json
  package.json
  packages/browser-test-runner/package.json
  packages/browser-test-runner/src/karma-setup.js
  packages/browser-test-runner/src/preload.js
  packages/dht/package.json
  packages/node/test/unit/plugins/storage/Bucket.test.ts
  packages/sdk/package.json
  packages/sdk/test/test-utils/jestGlobalsMock.ts
  packages/sdk/webpack-karma.config.js
  packages/test-utils/package.json
  packages/trackerless-network/package.json
Labels: node, network, dht, sdk, test-utils

feat: more fine-tuned handling of excess tokens in payout proportional strategy
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
Labels: node

Update packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
Labels: node

fix test
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

add clarifying comment
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
Labels: node

remove unneeded export
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
Labels: node

test: test for simulating staker
  packages/node/test/unit/plugins/autostaker/randomizedAdjustStakes.test.ts
Labels: node

feat(sdk): new sponsorhip created event
  packages/sdk/src/Config.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/contracts/SponsorshipFactory.ts
  packages/sdk/src/events.ts
  packages/sdk/src/generated/validateConfig.js
  packages/sdk/test/end-to-end/sponsorship-created-event.test.ts
Labels: sdk

feat(node): run autostaker on new sponsorhip creation event
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

add CHANGELOG entries
  CHANGELOG.md
Labels: docs

docs: more succint expression in CHANGELOG
  CHANGELOG.md
Labels: docs

refactor(sdK): remove unused code from SponsorhipFactory
  packages/sdk/src/contracts/SponsorshipFactory.ts
Labels: sdk

refactor: rename method
  packages/sdk/src/contracts/SponsorshipFactory.ts
Labels: sdk

chore: export SponsorshipCreatedEvent
  packages/sdk/src/exports.ts
Labels: sdk

rename variable: alreadyRunning -> running
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node
