Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

fix eslint
  packages/cli-tools/test/keys.test.ts
Labels: cli-tools

rm obsolete parameter
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk

rm comments
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk

fix api-docs build
  docs/api-docs-smoke-test.sh
  packages/sdk/src/exports.ts
  packages/sdk/src/identity/createIdentityFromConfig.ts
Labels: sdk

cleanup references to StreamrClient.generateEthereumAccount()
  docs/docs/usage/sdk/utility-functions.md
  docs/docs/usage/streams/subscribing.md
  packages/sdk/README.md
  packages/sdk/src/ethereumUtils.ts
  packages/sdk/test/benchmarks/publish.js
  packages/sdk/test/benchmarks/raw-pipeline.js
  packages/sdk/test/benchmarks/resend.js
  packages/sdk/test/benchmarks/subscribe.js
  packages/sdk/test/exports/tests/commonjs.js
  packages/sdk/test/exports/tests/esm.mjs
  packages/sdk/test/exports/tests/typescript.ts
Labels: sdk

refactor(sdk): Operator contract utils without token ABI (#3081)
  packages/cli-tools/bin/streamr-internal-operator-delegate.ts
  packages/cli-tools/bin/streamr-internal-sponsorship-sponsor.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/test-utils/src/index.ts
Labels: sdk, test-utils, cli-tools

update changelog
  CHANGELOG.md
Labels: docs

remove old TODO
  packages/sdk/src/identity/EthereumProviderIdentity.ts
Labels: sdk

fix build weirdness
  packages/sdk/test/benchmarks/publish.js
  packages/sdk/test/benchmarks/raw-pipeline.js
Labels: sdk

update comment
  packages/sdk/src/Config.ts
Labels: sdk

add comments
  packages/sdk/src/identity/Identity.ts
  packages/sdk/src/identity/createIdentityFromConfig.ts
Labels: sdk

make it even easier to configure new key types
  packages/cli-tools/bin/streamr-keys-generate.ts
  packages/cli-tools/src/command.ts
  packages/sdk/src/Config.ts
  packages/sdk/src/Message.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/exports.ts
  packages/sdk/src/identity/Identity.ts
  packages/sdk/src/identity/identityConfig.ts
  packages/sdk/src/signature/SignatureValidator.ts
  packages/sdk/test/end-to-end/MemoryLeaks.test.ts
  packages/utils/src/exports.ts
  packages/utils/src/signingUtils.ts
Labels: sdk, utils, cli-tools

fix eslint
  packages/cli-tools/bin/streamr-keys-generate.ts
Labels: cli-tools

doc: better recommendation
  docs/docs/streamr-network/smart-contracts.md
Labels: none

fix missing SignatureType
  packages/sdk/src/Message.ts
  packages/sdk/src/exports.ts
Labels: sdk

naming polish
  packages/sdk/src/signature/SignatureValidator.ts
Labels: sdk

improve changelog
  CHANGELOG.md
Labels: docs

feat(cli-tools): Add internal `operator-create` command (#3077)
  packages/cli-tools/bin/streamr-internal-operator-create.ts
  packages/cli-tools/bin/streamr-internal.ts
  packages/cli-tools/src/common.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk, cli-tools

feat(cli-tools): Add internal `sponsorship-create` command (#3078)
  packages/cli-tools/bin/streamr-internal-sponsorship-create.ts
  packages/cli-tools/bin/streamr-internal.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk, cli-tools

Working Plum Tree optimisation
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/ContentDeliveryRpcLocal.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeRpcLocal.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeRpcRemote.ts
  packages/trackerless-network/test/end-to-end/plum-tree-optimisation.test.ts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

chore(sdk) [NET-1452]: Optimize ABI JSON files (#3079)
  packages/sdk/src/ethereumArtifacts/DATAv2Abi.json
  packages/sdk/src/ethereumArtifacts/IERC1271Abi.json
  packages/sdk/src/ethereumArtifacts/NodeRegistryAbi.json
  packages/sdk/src/ethereumArtifacts/OperatorAbi.json
  packages/sdk/src/ethereumArtifacts/OperatorFactoryAbi.json
  packages/sdk/src/ethereumArtifacts/SponsorshipAbi.json
  packages/sdk/src/ethereumArtifacts/SponsorshipFactoryAbi.json
  packages/sdk/src/ethereumArtifacts/StreamRegistryV5Abi.json
  packages/sdk/src/ethereumArtifacts/StreamStorageRegistryV2Abi.json
Labels: sdk

tests
  packages/trackerless-network/test/end-to-end/plum-tree-optimisation.test.ts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

add awaits
  packages/trackerless-network/src/logic/ContentDeliveryRpcLocal.ts
Labels: network

remove redundant e2e test
  packages/trackerless-network/test/end-to-end/plum-tree-optimisation.test.ts
Labels: network

feat(cli-tools): Internal `token-mint` command can mint for the authenticated user (#3080)
  packages/cli-tools/bin/streamr-internal-token-mint.ts
  packages/cli-tools/src/permission.ts
Labels: cli-tools

PlumTreeRpcLocal unit test
  packages/trackerless-network/test/unit/PlumTreeRpcLocal.test.ts
Labels: network

Unit tests
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
  packages/trackerless-network/test/unit/PlumTreeManager.test.ts
  packages/trackerless-network/test/unit/PlumTreeRpcLocal.test.ts
Labels: network

change field type
  packages/sdk/src/Message.ts
Labels: sdk

changelog
  CHANGELOG.md
Labels: docs

update test
  packages/sdk/test/end-to-end/erc1271-publish-subscribe.test.ts
Labels: sdk

eslint
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
Labels: dht

add ECDSA_SECP256R1 to signingUtils
  packages/sdk/src/encryption/EncryptionUtil.ts
  packages/sdk/src/encryption/RSAKeyPair.ts
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/utils/src/crossPlatformCrypto.ts
  packages/utils/src/exports.ts
  packages/utils/src/signingUtils.ts
  packages/utils/test/signingUtils.test.ts
Labels: network, sdk, utils

add ecdsa, refactor signingUtils methods to async
  packages/dht/src/helpers/createPeerDescriptor.ts
  packages/sdk/src/identity/ECDSAKeyPairIdentity.ts
  packages/sdk/src/identity/EthereumKeyPairIdentity.ts
  packages/sdk/src/identity/EthereumProviderIdentity.ts
  packages/sdk/src/identity/KeyPairIdentity.ts
  packages/sdk/src/identity/identityConfig.ts
  packages/sdk/src/utils/encryptionCompliance.ts
  packages/sdk/test/unit/ECDSAKeyPairIdentity.test.ts
  packages/utils/src/exports.ts
  packages/utils/src/signingUtils.ts
Labels: dht, sdk, utils

remove unused field
  packages/trackerless-network/protos/NetworkRpc.proto
Labels: network

add latency to propagation test
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

add churn test
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

test timeouts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

fromTimestamp buffer sending
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeRpcLocal.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeRpcRemote.ts
Labels: network

getLastMessageTimestamp
  packages/trackerless-network/src/logic/ContentDeliveryRpcLocal.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
  packages/trackerless-network/test/unit/PlumTreeManager.test.ts
Labels: network

eslint
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
  packages/trackerless-network/test/unit/PlumTreeManager.test.ts
Labels: network

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'
