Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

Ditch `entry` – karma doesn't care
  packages/browser-test-runner/src/createKarmaConfig.ts
  packages/browser-test-runner/src/createWebpackConfig.ts
  packages/dht/karma.config.js
  packages/proto-rpc/karma.config.js
  packages/trackerless-network/karma.config.js
  packages/utils/karma.config.js
Labels: network, dht, proto-rpc, utils

Ditch custom webpack output filename – same, karma does not care
  packages/browser-test-runner/src/createWebpackConfig.ts
Labels: none

`autocertified-client` doesn't use karma, not browser tconfig
  packages/autocertifier-client/tsconfig.browser.json
Labels: none

Make browser tsconfig unaware of tests
  packages/dht/tsconfig.browser.json
  packages/proto-rpc/tsconfig.browser.json
  packages/trackerless-network/tsconfig.browser.json
  packages/utils/tsconfig.browser.json
  tsconfig.browser.json
Labels: network, dht, proto-rpc, utils

Use designated tsconfig for karma testing
  packages/browser-test-runner/src/createWebpackConfig.ts
  packages/dht/tsconfig.karma.json
  packages/proto-rpc/tsconfig.karma.json
  packages/trackerless-network/tsconfig.karma.json
  packages/utils/tsconfig.karma.json
Labels: network, dht, proto-rpc, utils

Squish even further
  packages/dht/tsconfig.karma.json
  packages/proto-rpc/tsconfig.karma.json
  packages/trackerless-network/tsconfig.karma.json
  packages/utils/tsconfig.karma.json
Labels: network, dht, proto-rpc, utils

Drop redundant .d.ts files
  packages/dht/test/types/global.d.ts
  packages/proto-rpc/tsconfig.karma.json
  packages/trackerless-network/test/types/global.d.ts
  packages/trackerless-network/tsconfig.karma.json
  packages/utils/test/types/global.d.ts
Labels: network, dht, proto-rpc, utils

Fix type checks
  packages/trackerless-network/tsconfig.jest.json
  tsconfig.jest.json
Labels: network

refactor: Clean-up karma setup (#3255)
  packages/browser-test-runner/src/createKarmaConfig.ts
  packages/browser-test-runner/src/createWebpackConfig.ts
  packages/dht/karma.config.js
  packages/proto-rpc/karma.config.js
  packages/trackerless-network/karma.config.js
  packages/utils/karma.config.js
Labels: network, dht, proto-rpc, utils

Drop invalid commas
  packages/dht/tsconfig.karma.json
  packages/utils/tsconfig.karma.json
Labels: dht, utils

implement findProxyNodes
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/OperatorRegistry.ts
  packages/sdk/test/test-utils/fake/FakeOperatorRegistry.ts
Labels: sdk

Incl. node types explicitly in `trackerless-network`
  packages/trackerless-network/tsconfig.jest.json
Labels: network

more useful logic for finding the proxies
  packages/sdk/src/StreamrClient.ts
Labels: sdk

refactor: Clean-up "browser" tsconfig files and give Karma its own tsconfigs (#3256)
  packages/autocertifier-client/tsconfig.browser.json
  packages/browser-test-runner/src/createWebpackConfig.ts
  packages/dht/test/types/global.d.ts
  packages/dht/tsconfig.browser.json
  packages/dht/tsconfig.karma.json
  packages/proto-rpc/tsconfig.browser.json
  packages/proto-rpc/tsconfig.karma.json
  packages/trackerless-network/test/types/global.d.ts
  packages/trackerless-network/tsconfig.browser.json
  packages/trackerless-network/tsconfig.jest.json
  packages/trackerless-network/tsconfig.karma.json
  packages/utils/test/types/global.d.ts
  packages/utils/tsconfig.browser.json
  packages/utils/tsconfig.karma.json
  tsconfig.browser.json
  tsconfig.jest.json
Labels: network, dht, proto-rpc, utils

add parallelism to speed up the discovery
  packages/sdk/src/StreamrClient.ts
Labels: sdk

return the numOfProxies results as quickly as possible
  packages/sdk/src/StreamrClient.ts
Labels: sdk

add a little script for manual testing
  packages/sdk/deleteme.ts
Labels: sdk

update changelog
  CHANGELOG.md
Labels: docs

Bidirectional Proxy Connections in Network
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/content-delivery-layer/proxy/ProxyConnectionRpcLocal.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
Labels: network

SDK tests
  packages/sdk/test/end-to-end/publish-subscribe-via-proxy.test.ts
Labels: sdk

Include generated protos in the repo
  packages/autocertifier-client/.gitignore
  packages/autocertifier-client/generated/packages/autocertifier-client/protos/AutoCertifier.client.ts
  packages/autocertifier-client/generated/packages/autocertifier-client/protos/AutoCertifier.server.ts
  packages/autocertifier-client/generated/packages/autocertifier-client/protos/AutoCertifier.ts
  packages/proto-rpc/.gitignore
  packages/proto-rpc/generated/ProtoRpc.ts
  packages/proto-rpc/generated/google/protobuf/any.ts
  packages/proto-rpc/generated/google/protobuf/empty.ts
  packages/proto-rpc/package.json
  packages/proto-rpc/test/proto/HelloRpc.client.ts
  packages/proto-rpc/test/proto/HelloRpc.server.ts
  packages/proto-rpc/test/proto/HelloRpc.ts
  packages/proto-rpc/test/proto/TestProtos.client.ts
  packages/proto-rpc/test/proto/TestProtos.server.ts
  packages/proto-rpc/test/proto/TestProtos.ts
  packages/proto-rpc/test/proto/WakeUpRpc.client.ts
  packages/proto-rpc/test/proto/WakeUpRpc.server.ts
  packages/proto-rpc/test/proto/WakeUpRpc.ts
  packages/proto-rpc/test/proto/google/protobuf/empty.ts
Labels: proto-rpc

Don't rebuild proto-rpc's test protos on every build
  packages/proto-rpc/package.json
Labels: proto-rpc

Clean-up tsconfigs for `cdn-location` package
  packages/cdn-location/package.json
  packages/cdn-location/tsconfig.browser.json
  packages/cdn-location/tsconfig.data-generation.json
  packages/cdn-location/tsconfig.jest.json
  packages/cdn-location/tsconfig.json
  packages/cdn-location/tsconfig.node.json
Labels: none

Sanitize the main node tsconfig
  tsconfig.node.json
Labels: none

Clean-up autocertifier tsconfigs
  packages/autocertifier-client/package.json
  packages/autocertifier-client/tsconfig.jest.json
  packages/autocertifier-client/tsconfig.json
  packages/autocertifier-client/tsconfig.node.json
  packages/autocertifier-server/package.json
  packages/autocertifier-server/tsconfig.browser.json
  packages/autocertifier-server/tsconfig.jest.json
  packages/autocertifier-server/tsconfig.json
  packages/autocertifier-server/tsconfig.node.json
  packages/cdn-location/tsconfig.jest.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.node.json
Labels: dht

Clean-up tsconfigs for `geoip-location` package
  packages/dht/tsconfig.node.json
  packages/geoip-location/package.json
  packages/geoip-location/tsconfig.browser.json
  packages/geoip-location/tsconfig.jest.json
  packages/geoip-location/tsconfig.json
  packages/geoip-location/tsconfig.node.json
Labels: dht

Clean-up tsconfigs for `node` package
  packages/node/package.json
  packages/node/tsconfig.jest.json
  packages/node/tsconfig.json
  packages/node/tsconfig.node.json
Labels: node

Clean-up tsconfigs for `dht` package
  packages/autocertifier-server/tsconfig.node.json
  packages/dht/package.json
  packages/dht/scripts/postbuild.sh
  packages/dht/tsconfig.browser.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.json
  packages/dht/tsconfig.karma.json
  packages/dht/tsconfig.node.json
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.node.json
  packages/trackerless-network/tsconfig.jest.json
  packages/trackerless-network/tsconfig.node.json
Labels: network, dht, sdk

Simplify autocertifier
  packages/autocertifier-server/tsconfig.jest.json
Labels: none

Clean-up tsconfigs for `cli-tools` package
  packages/cli-tools/package.json
  packages/cli-tools/tsconfig.jest.json
  packages/cli-tools/tsconfig.json
  packages/cli-tools/tsconfig.node.json
Labels: cli-tools

Refactor tsconfig files for the `utils` package
  packages/autocertifier-client/tsconfig.json
  packages/autocertifier-server/tsconfig.jest.json
  packages/autocertifier-server/tsconfig.json
  packages/autocertifier-server/tsconfig.node.json
  packages/cdn-location/tsconfig.jest.json
  packages/cdn-location/tsconfig.node.json
  packages/cli-tools/tsconfig.node.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.node.json
  packages/geoip-location/tsconfig.jest.json
  packages/geoip-location/tsconfig.node.json
  packages/node/tsconfig.jest.json
  packages/node/tsconfig.node.json
  packages/proto-rpc/tsconfig.jest.json
  packages/proto-rpc/tsconfig.node.json
  packages/test-utils/tsconfig.jest.json
  packages/test-utils/tsconfig.node.json
  packages/utils/package.json
  packages/utils/tsconfig.browser.json
  packages/utils/tsconfig.jest.json
  packages/utils/tsconfig.json
  packages/utils/tsconfig.karma.json
  packages/utils/tsconfig.node.json
Labels: node, dht, proto-rpc, test-utils, utils, cli-tools

Clean-up `browser-test-utils`'s tsconfig.json
  packages/browser-test-runner/eslint.config.mjs
  packages/browser-test-runner/package.json
  packages/browser-test-runner/tsconfig.json
Labels: none

Clean-up sdk's tsconfigs
  packages/cli-tools/tsconfig.node.json
  packages/node/tsconfig.node.json
  packages/sdk/package.json
  packages/sdk/src/encryption/RSAKeyPair.ts
  packages/sdk/src/identity/ECDSAKeyPairIdentity.ts
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.json
  packages/sdk/tsconfig.node.json
Labels: node, sdk, cli-tools

Clean-up tsconfigs for `test-utils` package
  packages/autocertifier-server/tsconfig.node.json
  packages/cdn-location/tsconfig.node.json
  packages/dht/tsconfig.node.json
  packages/node/tsconfig.node.json
  packages/proto-rpc/tsconfig.jest.json
  packages/sdk/tsconfig.browser.json
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.node.json
  packages/test-utils/package.json
  packages/test-utils/tsconfig.jest.json
  packages/test-utils/tsconfig.json
  packages/test-utils/tsconfig.node.json
Labels: node, dht, proto-rpc, sdk, test-utils

Clean-up tsconfigs for `proto-rpc` package
  packages/autocertifier-server/tsconfig.node.json
  packages/dht/tsconfig.node.json
  packages/proto-rpc/package.json
  packages/proto-rpc/tsconfig.browser.json
  packages/proto-rpc/tsconfig.jest.json
  packages/proto-rpc/tsconfig.json
  packages/proto-rpc/tsconfig.karma.json
  packages/proto-rpc/tsconfig.node.json
  packages/trackerless-network/tsconfig.jest.json
Labels: network, dht, proto-rpc

Add root & jest.config tsconfigs
  tsconfig.configs.json
  tsconfig.json
Labels: none

Clean-up tsconfigs for `trackerless-network` package
  packages/sdk/tsconfig.browser.json
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.node.json
  packages/trackerless-network/package.json
  packages/trackerless-network/tsconfig.browser.json
  packages/trackerless-network/tsconfig.jest.json
  packages/trackerless-network/tsconfig.json
  packages/trackerless-network/tsconfig.karma.json
  packages/trackerless-network/tsconfig.node.json
Labels: network, sdk

Format
  packages/autocertifier-client/tsconfig.json
  packages/autocertifier-server/tsconfig.jest.json
  packages/autocertifier-server/tsconfig.node.json
  packages/browser-test-runner/tsconfig.json
  packages/cdn-location/tsconfig.data-generation.json
  packages/cdn-location/tsconfig.jest.json
  packages/cdn-location/tsconfig.node.json
  packages/cli-tools/tsconfig.json
  packages/cli-tools/tsconfig.node.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.karma.json
  packages/dht/tsconfig.node.json
  packages/geoip-location/tsconfig.jest.json
  packages/geoip-location/tsconfig.node.json
  packages/node/tsconfig.jest.json
  packages/node/tsconfig.node.json
  packages/sdk/tsconfig.browser.json
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.node.json
  packages/test-utils/tsconfig.jest.json
  packages/test-utils/tsconfig.node.json
  packages/trackerless-network/tsconfig.jest.json
  packages/trackerless-network/tsconfig.karma.json
  packages/trackerless-network/tsconfig.node.json
  packages/utils/tsconfig.karma.json
Labels: node, network, dht, sdk, test-utils, utils, cli-tools

Prevent autocertifier-client's type check from emitting
  packages/autocertifier-client/package.json
Labels: none

Fix karma tsconfigs
  packages/dht/tsconfig.json
  packages/dht/tsconfig.karma.json
  packages/proto-rpc/tsconfig.json
  packages/utils/tsconfig.json
  packages/utils/tsconfig.karma.json
Labels: dht, proto-rpc, utils
