Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

Use `files` in `package.json` to dictate the list of packaged files
  packages/autocertifier-client/.npmignore
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/browser-test-runner/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
Labels: network, test-utils

refactor: Update the lists of files included in packages (#3297)
  packages/autocertifier-client/.npmignore
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/browser-test-runner/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
Labels: network, test-utils

Extend the default types to cover all use cases
  packages/cli-tools/tsconfig.jest.json
  packages/trackerless-network/tsconfig.jest.json
  tsconfig.jest.json
Labels: network, cli-tools

refactor: Unify `types` for jest tsconfigs (#3298)
  packages/cli-tools/tsconfig.jest.json
  packages/trackerless-network/tsconfig.jest.json
  tsconfig.jest.json
Labels: network, cli-tools

Reset the `disableSourceOfProjectReferenceRedirect` flag
  tsconfig.node.json
Labels: none

Scope `disableSourceOfProjectReferenceRedirect` to `cli-tools` package only
  packages/cli-tools/tsconfig.node.json
Labels: cli-tools

refactor: Scope the usage of `disableSourceOfProjectReferenceRedirect` to packages where it's really needed (#3299)
  packages/cli-tools/tsconfig.node.json
  tsconfig.node.json
Labels: cli-tools

bybass stream registries, draft
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/src/utils/validateStreamMessage.ts
Labels: sdk

Skip checking `jest.config.ts` files for now
  packages/autocertifier-server/tsconfig.jest.json
  packages/cdn-location/tsconfig.jest.json
Labels: none

Kill a dangle
  tsconfig.jest.json
Labels: none

validation config works
  packages/sdk/src/Config.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/encryption/PublisherKeyExchange.ts
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
  packages/sdk/src/generated/validateConfig.js
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/src/subscribe/messagePipeline.ts
  packages/sdk/src/utils/validateStreamMessage.ts
  packages/sdk/test/unit/validateStreamMessage.test.ts
  packages/sdk/test/unit/validateStreamMessage2.test.ts
Labels: sdk

test
  packages/sdk/test/integration/disable-contract-validations.test.ts
Labels: sdk

eslint
  packages/sdk/test/integration/disable-contract-validations.test.ts
Labels: sdk

changelog
  CHANGELOG.md
Labels: docs

Actually, use `es2021`
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.json
Labels: sdk

Use default `lib` for the SDK
  packages/sdk/src/encryption/RSAKeyPair.ts
  packages/sdk/src/identity/ECDSAKeyPairIdentity.ts
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.json
Labels: sdk

refactor: Drop `"dom"` lib from SDK's TypeScript config and clarify environment usage (#3303)
  packages/sdk/src/encryption/RSAKeyPair.ts
  packages/sdk/src/identity/ECDSAKeyPairIdentity.ts
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.json
Labels: sdk

Re-enable `noImplicitOverride` onto non-generated source code
  packages/autocertifier-client/tsconfig.generated.json
  packages/autocertifier-client/tsconfig.json
  packages/dht/package.json
  packages/dht/test/unit/PeerManager.test.ts
  packages/dht/test/utils/utils.ts
  packages/dht/tsconfig.generated.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.json
  packages/proto-rpc/package.json
  packages/proto-rpc/tsconfig.generated.json
  packages/proto-rpc/tsconfig.jest.json
  packages/proto-rpc/tsconfig.json
  packages/sdk/package.json
  packages/sdk/src/identity/EthereumKeyPairIdentity.ts
  packages/sdk/tsconfig.generated.json
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.json
  packages/trackerless-network/package.json
  packages/trackerless-network/tsconfig.generated.json
  packages/trackerless-network/tsconfig.jest.json
  packages/trackerless-network/tsconfig.json
Labels: network, dht, proto-rpc, sdk

Pass test/proto through the pipe with diabled `noImplicitOverride`
  packages/proto-rpc/tsconfig.generated.json
  packages/proto-rpc/tsconfig.jest.json
Labels: proto-rpc

Consistency pass; tweaks
  packages/autocertifier-client/tsconfig.generated.json
  packages/dht/tsconfig.generated.json
  packages/proto-rpc/tsconfig.generated.json
  packages/sdk/tsconfig.jest.json
Labels: dht, proto-rpc, sdk

Order of references matters a-lot!
  packages/autocertifier-client/tsconfig.json
  packages/autocertifier-server/tsconfig.json
  packages/cli-tools/tsconfig.json
  packages/dht/tsconfig.json
  packages/proto-rpc/tsconfig.json
  packages/sdk/tsconfig.json
  packages/trackerless-network/tsconfig.json
Labels: network, dht, proto-rpc, sdk, cli-tools

strict validation block in StrictStreamrClientConfig
  packages/sdk/src/Config.ts
Labels: sdk

StrictStreamrClientConfig in MessageFactory
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/test/integration/Resends.test.ts
  packages/sdk/test/integration/gap-fill.test.ts
  packages/sdk/test/integration/parallel-key-exchange.test.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/MessageFactory.test.ts
  packages/sdk/test/unit/Publisher.test.ts
  packages/sdk/test/unit/resendSubscription.test.ts
Labels: sdk

StrictStreamrClientConfig in validateStreamMessage()
  packages/sdk/src/utils/validateStreamMessage.ts
  packages/sdk/test/unit/messagePipeline.test.ts
  packages/sdk/test/unit/validateStreamMessage.test.ts
  packages/sdk/test/unit/validateStreamMessage2.test.ts
Labels: sdk

Add network buffering related network node configs required by streamrtv
  packages/sdk/src/Config.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/generated/validateConfig.js
Labels: sdk

rename doNotBufferWhileConnecting to bufferWhileConnecting
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/rpc-protocol/DhtCallContext.ts
  packages/dht/src/rpc-protocol/DhtRpcOptions.ts
  packages/dht/src/transport/ITransport.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/sdk/src/Config.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/generated/validateConfig.js
  packages/trackerless-network/src/ContentDeliveryManager.ts
  packages/trackerless-network/src/content-delivery-layer/ContentDeliveryRpcRemote.ts
  packages/trackerless-network/src/content-delivery-layer/createContentDeliveryLayerNode.ts
Labels: network, dht, sdk

contentDeliveryBufferWhileConnecting
  packages/sdk/src/Config.ts
  packages/sdk/src/NetworkNodeFacade.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/generated/validateConfig.js
Labels: sdk

Reduce use ternaries
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/src/utils/validateStreamMessage.ts
Labels: sdk

rename test, remove unnecessary destroy calls
  packages/sdk/test/integration/bypass-validation.test.ts
Labels: sdk

fix test name
  packages/dht/test/integration/ConnectionManager.test.ts
Labels: dht

fix comment
  packages/sdk/src/Config.ts
Labels: sdk

feat(sdk): [NET-1661] Configuration options for bypassing validation (#3302)
  CHANGELOG.md
  packages/sdk/src/Config.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/encryption/PublisherKeyExchange.ts
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
  packages/sdk/src/generated/validateConfig.js
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/src/subscribe/messagePipeline.ts
  packages/sdk/src/utils/validateStreamMessage.ts
  packages/sdk/test/integration/Resends.test.ts
  packages/sdk/test/integration/bypass-validation.test.ts
  packages/sdk/test/integration/gap-fill.test.ts
  packages/sdk/test/integration/parallel-key-exchange.test.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/MessageFactory.test.ts
  packages/sdk/test/unit/Publisher.test.ts
  packages/sdk/test/unit/messagePipeline.test.ts
  packages/sdk/test/unit/resendSubscription.test.ts
  packages/sdk/test/unit/validateStreamMessage.test.ts
  packages/sdk/test/unit/validateStreamMessage2.test.ts
Labels: docs, sdk

remove redundant test file
  packages/sdk/test/integration/disable-contract-validations.test.ts
Labels: sdk

changelog
  CHANGELOG.md
Labels: docs

feat(sdk): Add content delivery layer buffer configurations (#3305)
  CHANGELOG.md
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/rpc-protocol/DhtCallContext.ts
  packages/dht/src/rpc-protocol/DhtRpcOptions.ts
  packages/dht/src/transport/ITransport.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/sdk/src/Config.ts
  packages/sdk/src/NetworkNodeFacade.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/generated/validateConfig.js
  packages/trackerless-network/src/ContentDeliveryManager.ts
  packages/trackerless-network/src/content-delivery-layer/ContentDeliveryRpcRemote.ts
  packages/trackerless-network/src/content-delivery-layer/createContentDeliveryLayerNode.ts
Labels: docs, network, dht, sdk

changes
  packages/dht/src/find-node.ts
  packages/sdk/src/run-subscriber.ts
Labels: dht, sdk

release: v103.2.0
  CHANGELOG.md
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: docs, node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

refactor: Incl. generated code (protos, what not) in `clean` scripts; stop tracking sdk's generated config validator (#3292)
  packages/autocertifier-client/package.json
  packages/dht/package.json
  packages/proto-rpc/package.json
  packages/sdk/.gitignore
  packages/sdk/bin/generate-config-validator.js
  packages/sdk/package.json
  packages/sdk/src/generated/validateConfig.js
  packages/trackerless-network/package.json
Labels: network, dht, proto-rpc, sdk

Draft: validation in worker thread
  packages/sdk/package.json
  packages/sdk/src/signature/BrowserSignatureValidation.mts
  packages/sdk/src/signature/ServerSignatureValidation.ts
  packages/sdk/src/signature/SignatureValidationContext.ts
  packages/sdk/src/signature/SignatureValidationWorker.ts
  packages/sdk/src/signature/SignatureValidator.ts
  packages/sdk/src/signature/signatureValidation.ts
  packages/sdk/webpack.config.js
Labels: sdk

package-lock
  package-lock.json
Labels: none

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'
