Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

cleanup
  packages/cli-tools/bin/streamr-stream-publish.ts.orig
  packages/cli-tools/src/common.ts.orig
  packages/sdk/vendor/quick-lru/index.d.ts
  packages/sdk/vendor/quick-lru/index.js
Labels: sdk, cli-tools

hotix: check for jq command in update-versions.sh
  update-versions.sh
Labels: none

release: v102.0.0
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

docs: update CHANGELOG to v102.0.0.
  CHANGELOG.md
Labels: docs

Update yamllint.yml
  .github/workflows/yamllint.yml
Labels: ci

Add more reviewers to dependabot.yaml
  .github/dependabot.yaml
Labels: ci

deps [NET-1401]: update to Node.js 22 (#2981)
  .nvmrc
  Dockerfile.node
  package-lock.json
  package.json
  packages/cli-tools/test/utils.ts
  tsconfig.node.json
Labels: cli-tools

fix eslint (prefer nullish coalescing operator)
  packages/dht/src/dht/routing/RoutingTablesCache.ts
  packages/dht/test/utils/utils.ts
  packages/node/test/utils.ts
  packages/proto-rpc/src/ServerRegistry.ts
  packages/sdk/src/utils/persistence/BrowserPersistence.mts
Labels: node, dht, proto-rpc, sdk

Update packages/cli-tools/test/storage-node.test.ts
  packages/cli-tools/test/storage-node.test.ts
Labels: cli-tools

chore: address PR comments
  packages/cli-tools/test/storage-node.test.ts
Labels: cli-tools

fix eslint
  packages/cli-tools/test/storage-node.test.ts
Labels: cli-tools

feat(cli-tools): commands for storage node management (#2982)
  CHANGELOG.md
  packages/cli-tools/bin/streamr-storage-node-register.ts
  packages/cli-tools/bin/streamr-storage-node-show.ts
  packages/cli-tools/bin/streamr-storage-node-unregister.ts
  packages/cli-tools/bin/streamr-storage-node.ts
  packages/cli-tools/test/storage-node.test.ts
Labels: docs, cli-tools

Configurable propagation buffer sizes
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/createContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/propagation/Propagation.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
Labels: network

docs: fix CHANGELOG
  CHANGELOG.md
Labels: docs

docs: fix CHANGELOG
  CHANGELOG.md
Labels: docs

simplify FakeEnvironment#createClient()
  packages/sdk/test/test-utils/fake/FakeEnvironment.ts
Labels: sdk

refactor fastWallet() usages in tests
  packages/node/test/integration/plugins/subscriber/SubscriberPlugin.test.ts
  packages/sdk/test/end-to-end/contract-call-error.test.ts
  packages/sdk/test/integration/parallel-key-exchange.test.ts
  packages/sdk/test/integration/parallel-publish.test.ts
  packages/sdk/test/integration/resend-and-subscribe.test.ts
  packages/sdk/test/integration/resend-with-existing-key.test.ts
  packages/sdk/test/unit/MessageFactory.test.ts
  packages/sdk/test/unit/validateStreamMessage.test.ts
Labels: node, sdk

fastWallet() -> createTestWallet()
  packages/node/test/integration/broker-subscriptions.test.ts
  packages/sdk/test/benchmarks/signingUtils.test.ts
  packages/sdk/test/end-to-end/Permissions.test.ts
  packages/sdk/test/end-to-end/binary-publish.test.ts
  packages/sdk/test/end-to-end/erc1271-publish-subscribe.test.ts
  packages/sdk/test/end-to-end/publish-subscribe-via-proxy.test.ts
  packages/sdk/test/end-to-end/publish-subscribe.test.ts
  packages/sdk/test/integration/PublisherKeyExchange.test.ts
  packages/sdk/test/integration/Resends2.test.ts
  packages/sdk/test/integration/StreamrClient.test.ts
  packages/sdk/test/integration/Subscriber.test.ts
  packages/sdk/test/integration/Subscriber2.test.ts
  packages/sdk/test/integration/SubscriberKeyExchange.test.ts
  packages/sdk/test/integration/gap-fill.test.ts
  packages/sdk/test/integration/invalid-messages.test.ts
  packages/sdk/test/integration/publisher-key-reuse.test.ts
  packages/sdk/test/integration/unsubscribe.test.ts
  packages/sdk/test/unit/Decrypt.test.ts
  packages/sdk/test/unit/EncryptionUtil.test.ts
  packages/sdk/test/unit/messagePipeline.test.ts
  packages/test-utils/src/index.ts
Labels: node, sdk, test-utils

optional privateKey in createClient() and createTestClient()
  packages/node/test/integration/multiple-publisher-plugins.test.ts
  packages/node/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/node/test/integration/plugins/operator/announceNodeToStream.test.ts
  packages/node/test/utils.ts
  packages/sdk/test/end-to-end/resend.test.ts
  packages/sdk/test/test-utils/utils.ts
Labels: node, sdk

use createTestPrivateKey() in createRandomAuthentication()
  packages/sdk/test/integration/waitForStorage.test.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/Decrypt.test.ts
  packages/sdk/test/unit/GroupKeyQueue.test.ts
  packages/sdk/test/unit/MessageStream.test.ts
  packages/sdk/test/unit/Publisher.test.ts
  packages/sdk/test/unit/PushPipeline.test.ts
  packages/sdk/test/unit/resendSubscription.test.ts
  packages/sdk/test/unit/validateStreamMessage2.test.ts
  packages/sdk/test/unit/waitForAssignmentsToPropagate.test.ts
Labels: sdk

refactor fastPrivateKey() usages in tests
  packages/sdk/test/end-to-end/StreamrClient.test.ts
  packages/sdk/test/integration/NetworkNodeFacade.test.ts
  packages/sdk/test/unit/ERC1271ContractFacade.test.ts
  packages/sdk/test/unit/GroupKeyManager.test.ts
Labels: sdk

fastPrivateKey() -> createTestPrivateKey()
  packages/sdk/test/integration/GroupKeyPersistence.test.ts
  packages/sdk/test/integration/Resends.test.ts
  packages/sdk/test/integration/StreamrClient.test.ts
  packages/sdk/test/integration/revoke-permissions.test.ts
  packages/sdk/test/unit/validateStreamMessage.test.ts
  packages/test-utils/src/index.ts
Labels: sdk, test-utils

use 0x prefix in fastPrivateKey()
  packages/sdk/test/test-utils/utils.ts
  packages/test-utils/src/index.ts
Labels: sdk, test-utils

rm fastWallet()
  packages/test-utils/src/index.ts
Labels: test-utils

do not export fastPrivateKey()
  packages/test-utils/src/index.ts
Labels: test-utils

refactor FakeStorageNode
  packages/sdk/test/test-utils/fake/FakeStorageNode.ts
Labels: sdk

move default values related to propagation to the Propagation.ts file
  packages/trackerless-network/src/logic/createContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/propagation/Propagation.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
Labels: network

hotfix: test flaky-ness by increasing timeout (NET-1416)
  packages/sdk/test/unit/utils.test.ts
Labels: sdk

feat(network): NET-1419 Configurable propagation buffer sizes (#2994)
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/createContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/propagation/Propagation.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
Labels: network

Default configs for layer2
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/createContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
  packages/trackerless-network/src/logic/propagation/Propagation.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
Labels: network

Default configs for layer2
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/createContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
  packages/trackerless-network/src/logic/propagation/Propagation.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
Labels: network

layer1 configs as constants
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/DiscoveryLayerNode.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

deps: keep docs packages up-to-date
  docs/package-lock.json
Labels: none

update docusaurus to 3.7.x
  docs/package-lock.json
  docs/package.json
Labels: none

doc: clarification in a diagram
  docs/static/img/DATA-flows-Sponsorship-contract.jpg
Labels: none

doc: replace staker -> (staked) Operator
  docs/docs/streamr-network/incentives/network-incentives.md
Labels: none

plots
  packages/trackerless-network/experiment/plotters/.ipynb_checkpoints/propagation-checkpoint.ipynb
  packages/trackerless-network/experiment/plotters/.ipynb_checkpoints/scalingjoin-checkpoint.ipynb
  packages/trackerless-network/experiment/plotters/.ipynb_checkpoints/timetodata-checkpoint.ipynb
  packages/trackerless-network/experiment/plotters/propagation.ipynb
  packages/trackerless-network/experiment/plotters/routing.ipynb
  packages/trackerless-network/experiment/plotters/scalingjoin.ipynb
  packages/trackerless-network/experiment/plotters/timetodata.ipynb
Labels: network

Default configs for layer1
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/DiscoveryLayerNode.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

doc: copy profit-sharing to the top, into a worked example scenario
  docs/docs/streamr-network/incentives/network-incentives.md
Labels: none

doc: better wording
  docs/docs/streamr-network/incentives/network-incentives.md
Labels: none
