Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

remove recently pinged cache
  packages/dht/src/dht/PeerManager.ts
Labels: dht

move debug log to trace
  packages/dht/src/dht/PeerManager.ts
Labels: dht

routing table size 20
  packages/dht/src/dht/routing/RoutingSession.ts
Labels: dht

remove unused import
  packages/trackerless-network/experiment/ExperimentController.ts
Labels: network

DHT logging
  packages/dht/src/dht/recursive-operation/RecursiveOperationSession.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RoutingSession.ts
Labels: dht

stats logging
  packages/trackerless-network/experiment/ExperimentNodeWrapper.ts
Labels: network

clean up and undefined checks for logging
  packages/trackerless-network/experiment/ExperimentNodeWrapper.ts
Labels: network

set default_max_messages to 0
  packages/trackerless-network/src/logic/propagation/Propagation.ts
Labels: network

add doNotBufferWhileConnecting option
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/rpc-protocol/DhtCallContext.ts
  packages/dht/src/rpc-protocol/DhtRpcOptions.ts
  packages/dht/src/transport/ITransport.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/trackerless-network/src/logic/ContentDeliveryRpcRemote.ts
  packages/trackerless-network/src/logic/createContentDeliveryLayerNode.ts
Labels: network, dht

add doNotBufferWhileConnecting to one more place
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
Labels: network

remove periodic logging
  packages/trackerless-network/experiment/ExperimentController.ts
  packages/trackerless-network/experiment/ExperimentNodeWrapper.ts
Labels: network

refactor(DHT): Always use createMockPeerDescriptor in DHT tests (#3035)
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/WebrtcConnectionManagement.test.ts
  packages/dht/test/integration/WebsocketConnectionManagement.test.ts
  packages/dht/test/utils/utils.ts
Labels: dht

doNotBufferWhileConnecting transport support
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/rpc-protocol/DhtCallContext.ts
  packages/dht/src/rpc-protocol/DhtRpcOptions.ts
  packages/dht/src/transport/ITransport.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/dht/test/integration/ConnectionManager.test.ts
Labels: dht

use doNotBufferWhileConnecting optionally in propagation
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/ContentDeliveryRpcRemote.ts
  packages/trackerless-network/src/logic/createContentDeliveryLayerNode.ts
Labels: network

fix new config in RoutingRpcCommunicator
  packages/dht/src/transport/RoutingRpcCommunicator.ts
Labels: dht

eslint
  packages/dht/test/integration/ConnectionManager.test.ts
Labels: dht

documentation about filter
  packages/sdk/src/contracts/ChainEventPoller.ts
Labels: sdk

routing experiment scale up
  packages/trackerless-network/experiment/ExperimentController.ts
  packages/trackerless-network/experiment/ExperimentNodeWrapper.ts
Labels: network

eslint
  packages/sdk/src/contracts/ChainEventPoller.ts
Labels: sdk

route batch size to 20
  packages/trackerless-network/experiment/ExperimentNodeWrapper.ts
Labels: network

feat(network): new `doNotBufferWhileConnecting` transport flag. (#3040)
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/rpc-protocol/DhtCallContext.ts
  packages/dht/src/rpc-protocol/DhtRpcOptions.ts
  packages/dht/src/transport/ITransport.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/ContentDeliveryRpcRemote.ts
  packages/trackerless-network/src/logic/createContentDeliveryLayerNode.ts
Labels: network, dht

release: v103.0.0-rc.0
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

increase file close timeout
  packages/trackerless-network/experiment/ResultCalculator.ts
Labels: network

propagation use more entrypoints when joining
  packages/trackerless-network/experiment/ExperimentController.ts
  packages/trackerless-network/experiment/run.ts
Labels: network

increase the number of routing table entries
  packages/dht/src/dht/routing/RoutingSession.ts
Labels: dht

routing table size 5
  packages/dht/src/dht/routing/RoutingSession.ts
Labels: dht

change entry point selcetion logic
  packages/trackerless-network/experiment/ExperimentController.ts
Labels: network

throttle routing experiment
  packages/trackerless-network/experiment/ExperimentNodeWrapper.ts
Labels: network

refactor(sdk): Support multiple contracts in `ChainEventPoller` (#2928)
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/ChainEventPoller.ts
  packages/sdk/src/contracts/Operator.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/StreamStorageRegistry.ts
  packages/sdk/src/contracts/contract.ts
  packages/sdk/test/test-utils/FakeJsonRpcServer.ts
  packages/sdk/test/unit/ChainEventPoller.test.ts
  packages/sdk/test/unit/Operator.test.ts
Labels: sdk

Update how-to-update-your-streamr-node.md
  docs/docs/guides/how-to-update-your-streamr-node.md
Labels: none

cut off unsupported application versions
  package-lock.json
  packages/dht/package.json
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/Handshaker.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/connection/websocket/WebsocketServerConnector.ts
  packages/dht/src/helpers/version.ts
  packages/dht/test/unit/Handshaker.test.ts
Labels: dht

eslint
  packages/dht/src/connection/Handshaker.ts
Labels: dht

npm run versions
  package-lock.json
  packages/dht/package.json
Labels: dht

chore [NET-1433]: replace .npmignore with files property (#3038)
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/.npmignore
  packages/cli-tools/package.json
  packages/geoip-location/package.json
  packages/node/.npmignore
  packages/node/package.json
  packages/proto-rpc/.npmignore
  packages/proto-rpc/package.json
  packages/trackerless-network/.npmignore
  packages/trackerless-network/package.json
  packages/utils/.npmignore
  packages/utils/package.json
Labels: node, network, proto-rpc, utils, cli-tools

docs: typo hotfix
  docs/docs/streamr-network/incentives/network-incentives.md
Labels: none

wait for DHT join
  packages/trackerless-network/src/NetworkStack.ts
Labels: network

node info jsons
  packages/cli-tools/node-info.sh
  packages/cli-tools/node-infos.sh
  packages/cli-tools/output/node-info-094d17ef940af2c3e156e95ff5eec69210528f1c.json
  packages/cli-tools/output/node-info-0aad83b9d32663336bcf8c44ebb5dd12ff8b501b.json
  packages/cli-tools/output/node-info-0f91e9c9b026821d3dfff375c89f3798f242631b.json
  packages/cli-tools/output/node-info-26f649f0613ccb813848b0d7b0ab504bfb1b6a1b.json
  packages/cli-tools/output/node-info-27605788fedd430a2519d1ad729863654f29a81b.json
  packages/cli-tools/output/node-info-31106bad620f87ff70c8942967c6b31a0d5cda1b.json
  packages/cli-tools/output/node-info-38a560a1bad8ae577429321ca8bc5f3a7f830e1b.json
  packages/cli-tools/output/node-info-417f7f66d31373f513d0c2a85fea0c29bf5c1f1b.json
  packages/cli-tools/output/node-info-4ede47513accc3600880f4efcd785032051b1d1c.json
  packages/cli-tools/output/node-info-508046676818fc1b24344dd096945e1a2bae061b.json
  packages/cli-tools/output/node-info-555ce27049c4ad68cfafd3acf56991c58991fe1b.json
  packages/cli-tools/output/node-info-65fd270556ca85b590c5c400ae6b810997808d1c.json
  packages/cli-tools/output/node-info-661d25b19ed9ed3d177e83c8292c00c2eaf92a1c.json
  packages/cli-tools/output/node-info-75e6cb1bb16f0129ba2fd1762d7f4f75c06bf81c.json
  packages/cli-tools/output/node-info-769b295daf6ef463f3e4c30e0e4ad9eaf491c91c.json
  packages/cli-tools/output/node-info-88cca0af6fb71740bc6f4ec8903175e344c0bf1b.json
  packages/cli-tools/output/node-info-8c2d205dd03dc3928030a7a9ffa7805a0282941c.json
  packages/cli-tools/output/node-info-97e4a4e4be3722e6bf3d4021ec56573f6b27ba1c.json
  packages/cli-tools/output/node-info-97e4a4e4be3722e6bf3d4021ec63de0d1101421b.json
  packages/cli-tools/output/node-info-9fe1b6807c166c5e057b5f20047c2088c74a3c1c.json
  packages/cli-tools/output/node-info-a0748ad4b94aab2816f38f8f2ab6bd085745791b.json
  packages/cli-tools/output/node-info-af7a9d1708c81f3658668cc3f0e0722c122d0f1b.json
  packages/cli-tools/output/node-info-b25e5a1f12117a2d83d8d213248e22fb38792a1c.json
  packages/cli-tools/output/node-info-b7922818d3c9588a6f3894f44958b10447cefb1b.json
  packages/cli-tools/output/node-info-baee2e8e23bf9a82db5f66edd0fe1aa07e07771b.json
  packages/cli-tools/output/node-info-bbaf71dd1afd7c88cadcb6770bfe900b3199531c.json
  packages/cli-tools/output/node-info-c898ada0ab2ff5869c0eee09121613b770f4d21b.json
  packages/cli-tools/output/node-info-cea02bac7838f463f6e814177e913cf7de7b571c.json
  packages/cli-tools/output/node-info-d05f38dbe9ebf7946c82b7b87297ac93c802151c.json
  packages/cli-tools/output/node-info-e224fa8affe19eb3fe0d126c9379bdae06a9a81c.json
  packages/cli-tools/output/node-info-e9ab1e2a865a226496522b76cd6254731a919a1c.json
  packages/cli-tools/output/node-info-ead7e9fe4a1f88575e15a9baddf61b7dec20981b.json
Labels: cli-tools

closest nodes
  packages/cli-tools/bin/streamr-internal-node-info.ts
  packages/cli-tools/output/node-info-26f649f0613ccb813848b0d7b0ab504bfb1b6a1b.json
  packages/cli-tools/output/node-info-38a560a1bad8ae577429321ca8bc5f3a7f830e1b.json
  packages/cli-tools/output/node-info-417f7f66d31373f513d0c2a85fea0c29bf5c1f1b.json
  packages/cli-tools/output/node-info-555ce27049c4ad68cfafd3acf56991c58991fe1b.json
  packages/cli-tools/output/node-info-65fd270556ca85b590c5c400ae6b810997808d1c.json
  packages/cli-tools/output/node-info-661d25b19ed9ed3d177e83c8292c00c2eaf92a1c.json
  packages/cli-tools/output/node-info-9fe1b6807c166c5e057b5f20047c2088c74a3c1c.json
  packages/cli-tools/output/node-info-baee2e8e23bf9a82db5f66edd0fe1aa07e07771b.json
Labels: cli-tools

executeRecursiveOperation helper method in DhtNode
  packages/dht/src/dht/DhtNode.ts
Labels: dht

fix eslint
  packages/dht/src/dht/DhtNode.ts
Labels: dht

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'
