Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

Add `ts-loader` to `browser-test-runner` (it's where it belongs)
  package-lock.json
  packages/browser-test-runner/package.json
Labels: none

Let's, after all, inline decorator imports
  packages/sdk/tsconfig.browser.json
  packages/sdk/tsconfig.node.json
Labels: sdk

Update smoke tests
  packages/sdk/rollup.config.mts
  packages/sdk/test/browser-smoke-test/smoke-test.html
  packages/sdk/test/browser-smoke-test/smoke-test.sh
Labels: sdk

Re-wire imports (don't import internals via re-exports)
  packages/sdk/src/StreamrClientError.ts
  packages/sdk/src/contracts/OperatorRegistry.ts
Labels: sdk

Don't use import.meta.url (?)
  packages/sdk/src/PersistenceManager.ts
  packages/sdk/test/unit/ServerPersistence.test.ts
Labels: sdk

Bump `@rollup/plugin-commonjs` to the "most common" version
  package-lock.json
  packages/sdk/package.json
Labels: sdk

Make `generateClientId` `process`-less browser-ready
  packages/sdk/src/utils/utils.ts
Labels: sdk

Fix build; rename "script" bundle
  packages/sdk/package.json
  packages/sdk/rollup.config.mts
Labels: sdk

Refactor sdk's custom matchers setup
  packages/sdk/jest.config.ts
  packages/sdk/test/test-utils/customMatchers.ts
  packages/sdk/test/test-utils/setupCustomMatchers.ts
Labels: sdk

Fix missing tsconfig (fixes SDK's build)
  packages/sdk/tsconfig.jest.json
Labels: sdk

Drop sdk's obsolete webpack setup
  package-lock.json
  packages/sdk/package.json
  packages/sdk/webpack-karma.config.ts
  packages/sdk/webpack.config.js
Labels: sdk

breaking: Stick to named export only
  packages/sdk/src/index.ts
  packages/sdk/test/exports/tests/typescript.ts
Labels: sdk

Fix usage of the `randomBytes` util
  packages/sdk/test/test-utils/utils.ts
Labels: sdk

Fix UMD script references
  docs/docs/usage/sdk/how-to-use.md
  packages/sdk/README.md
Labels: sdk

Remove empty chromedriver path
  packages/sdk/test/browser-smoke-test/nightwatch.conf.js
Labels: sdk

Explain packages bundled directly into browser build of `@streamr/utils`
  package-lock.json
  packages/utils/package.json
  packages/utils/rollup.config.mts
Labels: utils

Missed `ripemd160`
  packages/utils/rollup.config.mts
Labels: utils

Revert package version updates (back to the recent v103.2.2)
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

Update CHANGELOG
  CHANGELOG.md
Labels: docs

After all, let's unwrap `hash-base`
  packages/utils/rollup.config.mts
Labels: utils

Install `web-worker`
  package-lock.json
  packages/sdk/package.json
Labels: sdk

Refactor signature validation – use `web-worker` to unify worker code across envs
  packages/sdk/package.json
  packages/sdk/rollup.config.mts
  packages/sdk/src/_browser/createSignatureValidationWorker.ts
  packages/sdk/src/_nodejs/createSignatureValidationWorker.ts
  packages/sdk/src/signature/BrowserSignatureValidation.mts
  packages/sdk/src/signature/ServerSignatureValidation.ts
  packages/sdk/src/signature/SignatureValidationClient.ts
  packages/sdk/src/signature/SignatureValidationContext.ts
  packages/sdk/src/signature/SignatureValidationWorker.ts
  packages/sdk/src/signature/SignatureValidator.ts
Labels: sdk

Rename `signatureValidation` to `signatureValidationUtils`
  packages/sdk/src/signature/SignatureValidationClient.ts
  packages/sdk/src/signature/SignatureValidationWorker.ts
  packages/sdk/src/signature/signatureValidationUtils.ts
Labels: sdk

Fix filenames
  packages/sdk/src/signature/SignatureValidation.ts
  packages/sdk/src/signature/SignatureValidator.ts
Labels: sdk

Use named exports from `comlink`
  packages/sdk/src/signature/SignatureValidation.ts
  packages/sdk/src/signature/SignatureValidationWorker.ts
Labels: sdk

Custom expose for nodejs (using Comlink's `nodeAdapter`)
  packages/sdk/src/_browser/exposeWorkerApi.ts
  packages/sdk/src/_nodejs/exposeWorkerApi.ts
  packages/sdk/src/signature/SignatureValidationWorker.ts
Labels: sdk

Release proxy
  packages/sdk/src/signature/SignatureValidation.ts
Labels: sdk

After all, use `import.meta.url`
  packages/sdk/src/PersistenceManager.ts
Labels: sdk

Add custom Jest transformer to replace import.meta.url in tests
  packages/sdk/jest.config.ts
  packages/sdk/test/test-utils/importMetaTransformer.js
Labels: sdk

Stick to "allowed" syntax
  packages/sdk/test/test-utils/importMetaTransformer.js
Labels: sdk

Make webpack ignore migrations dir URL
  packages/sdk/src/PersistenceManager.ts
Labels: sdk

Use mjs to fix potential resolution issues
  packages/sdk/jest.config.ts
  packages/sdk/test/test-utils/importMetaTransformer.mjs
Labels: sdk

Drop redundant strict mode directive
  packages/sdk/test/test-utils/importMetaTransformer.mjs
Labels: sdk

fix: ES module compatibility for migrations URL resolution (#3373)
  packages/sdk/jest.config.ts
  packages/sdk/src/PersistenceManager.ts
  packages/sdk/test/test-utils/importMetaTransformer.mjs
Labels: sdk

Run SDK's smoke tests separately
  .github/workflows/validate.yml
Labels: ci

Use publisher that's got monies to spend
  packages/sdk/test/browser-smoke-test/smoke-test.html
Labels: sdk

ci: Run SDK browser smoke tests as a separate workflow job (#3372)
  .github/workflows/validate.yml
  packages/sdk/test/browser-smoke-test/smoke-test.html
Labels: ci, sdk

Fix signature validation tests
  packages/sdk/jest.config.ts
  packages/sdk/rollup.config.mts
  packages/sdk/src/_browser/exposeWorkerApi.ts
  packages/sdk/src/_jest/createSignatureValidationWorker.ts
  packages/sdk/src/_nodejs/createSignatureValidationWorker.ts
  packages/sdk/src/_nodejs/exposeWorkerApi.ts
  packages/sdk/src/signature/SignatureValidationWorker.ts
Labels: sdk

Fix SDK's browser tests
  packages/browser-test-runner/src/createKarmaConfig.ts
  packages/browser-test-runner/src/exports.ts
  packages/sdk/createKarmaConfig.ts
  packages/sdk/rollup.config.mts
  packages/sdk/src/_karma/createSignatureValidationWorker.ts
Labels: sdk

remove process.exit
  packages/cli-tools/src/command.ts
Labels: cli-tools
