Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

Incl. breaking changes (only bundles in dist) into the README
  CHANGELOG.md
Labels: docs

add error logging
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

throw errors
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

do not throw after faield delteRecords
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

Add error handling for delete records operation
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

fix(auto certifier-server): Add error handling for delete records operation (#3349)
  packages/autocertifier-server/src/AutoCertifierServer.ts
Labels: none

batching
  packages/autocertifier-server/src/Route53Api.ts
Labels: none

iterate
  packages/autocertifier-server/src/Route53Api.ts
Labels: none

duplicate check
  packages/autocertifier-server/src/Route53Api.ts
Labels: none

inly remove existing records
  packages/autocertifier-server/src/Route53Api.ts
Labels: none

fix(autocertifier-server): Only delete existing records from route53 (#3350)
  packages/autocertifier-server/src/Route53Api.ts
Labels: none

Annotate type imports/exports; combine
  packages/sdk/src/ConfigTest.ts
  packages/sdk/src/MetricsPublisher.ts
  packages/sdk/src/NetworkNodeFacade.ts
  packages/sdk/src/ProxyNodeFinder.ts
  packages/sdk/src/RpcProviderSource.ts
  packages/sdk/src/contracts/ChainEventPoller.ts
  packages/sdk/src/contracts/ContractFactory.ts
  packages/sdk/src/contracts/Operator.ts
  packages/sdk/src/contracts/OperatorRegistry.ts
  packages/sdk/src/contracts/SponsorshipFactory.ts
  packages/sdk/src/contracts/StorageNodeRegistry.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/StreamStorageRegistry.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/src/encryption/GroupKeyManager.ts
  packages/sdk/src/encryption/PublisherKeyExchange.ts
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
  packages/sdk/src/ethereumUtils.ts
  packages/sdk/src/identity/ECDSAKeyPairIdentity.ts
  packages/sdk/src/identity/EthereumKeyPairIdentity.ts
  packages/sdk/src/identity/EthereumProviderIdentity.ts
  packages/sdk/src/identity/IdentityMapping.ts
  packages/sdk/src/identity/KeyPairIdentity.ts
  packages/sdk/src/identity/MLDSAKeyPairIdentity.ts
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/src/subscribe/messagePipeline.ts
  packages/sdk/src/subscribe/ordering/OrderMessages.ts
  packages/sdk/src/subscribe/resendSubscription.ts
  packages/sdk/src/utils/LoggerFactory.ts
  packages/sdk/src/utils/addStreamToStorageNode.ts
  packages/sdk/src/utils/encryptionCompliance.ts
  packages/sdk/src/utils/utils.ts
  packages/sdk/src/utils/validateStreamMessage.ts
Labels: sdk

Re-route type imports in tests to fix CI
  packages/sdk/test/end-to-end/MemoryLeaks.test.ts
  packages/sdk/test/test-utils/fake/FakeEnvironment.ts
  packages/sdk/test/test-utils/fake/FakeOperatorRegistry.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/Config.test.ts
  packages/sdk/test/unit/MessageFactory.test.ts
  packages/sdk/test/unit/MetricsPublisher.test.ts
  packages/sdk/test/unit/ProxyNodeFinder.test.ts
  packages/sdk/test/unit/Publisher.test.ts
  packages/sdk/test/unit/StreamrClient.test.ts
  packages/sdk/test/unit/messagePipeline.test.ts
  packages/sdk/test/unit/validateStreamMessage.test.ts
  packages/sdk/test/unit/validateStreamMessage2.test.ts
Labels: sdk

Fix `GapFillStrategy` import
  packages/sdk/test/unit/GapFiller.test.ts
Labels: sdk

Fix reflection
  packages/sdk/src/ConfigTypes.ts
Labels: sdk

fix: id can be number after minimization
  packages/utils/src/Logger.ts
Labels: utils

release: v103.2.1
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

Commit missing locks
  package-lock.json
Labels: none

release: v103.2.2
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

Revise CHANGELOG for versions 103.2.0 to 103.2.2
  CHANGELOG.md
Labels: docs

process.exit(0) after a comand is completed to avoid hanging because of workers
  packages/cli-tools/src/command.ts
Labels: cli-tools

destroy ServerSignatureValidation worker
  packages/sdk/src/signature/ServerSignatureValidation.ts
Labels: sdk

fix resend.ts
  packages/cli-tools/src/resend.ts
Labels: cli-tools

Update footnotes in the CHANGELOG
  CHANGELOG.md
Labels: docs

Resolve circular dependency around `Resends`
  packages/sdk/src/subscribe/MessagePipelineFactory.ts
  packages/sdk/src/subscribe/Resends.ts
  packages/sdk/src/subscribe/Subscriber.ts
  packages/sdk/src/subscribe/SubscriptionSession.ts
  packages/sdk/src/subscribe/messagePipeline.ts
  packages/sdk/test/unit/SubscriptionSession.test.ts
Labels: sdk

Remove unnecessary delayed injections and refactor SubscriptionSession to use options object
  packages/sdk/src/subscribe/Resends.ts
  packages/sdk/src/subscribe/Subscriber.ts
  packages/sdk/src/subscribe/SubscriptionSession.ts
  packages/sdk/test/unit/SubscriptionSession.test.ts
Labels: sdk

Fix sdk's karma build
  packages/sdk/karma-setup.js
Labels: sdk

Better diff
  packages/sdk/karma-setup.js
Labels: sdk

Drop redundant `tsyringe` setups
  packages/sdk/src/Config.ts
  packages/sdk/src/ConfigTypes.ts
Labels: sdk

Use token-based injection to resolve remaining circular deps
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
  packages/sdk/src/setupTsyringe.ts
  packages/sdk/src/subscribe/MessagePipelineFactory.ts
  packages/sdk/src/tokens.ts
Labels: sdk

Move the setup
  packages/sdk/jest.setup.ts
Labels: sdk

Register tokens w/ explicit lifecycles
  packages/sdk/src/setupTsyringe.ts
Labels: sdk

Use consistent DI resolution logic
  packages/sdk/src/StreamrClient.ts
Labels: sdk

Revert "Move the setup"
  packages/sdk/jest.setup.ts
Labels: sdk

Remove obsolete class token registrations
  packages/sdk/src/subscribe/Resends.ts
  packages/sdk/src/subscribe/Subscriber.ts
Labels: sdk

Gotta be `@injectable()`
  packages/sdk/src/subscribe/Resends.ts
  packages/sdk/src/subscribe/Subscriber.ts
Labels: sdk

Fix accidental circular dep again
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
  packages/sdk/src/subscribe/MessagePipelineFactory.ts
Labels: sdk

fix: Resolve circular dependencies in the SDK package (#3361)
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
  packages/sdk/src/setupTsyringe.ts
  packages/sdk/src/subscribe/MessagePipelineFactory.ts
  packages/sdk/src/subscribe/Resends.ts
  packages/sdk/src/subscribe/Subscriber.ts
  packages/sdk/src/tokens.ts
Labels: sdk

refactor: Use named imports for `EventEmitter` from `eventemitter3`
  packages/dht/src/connection/Connection.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/PendingConnection.ts
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
  packages/dht/src/connection/websocket/AbstractWebsocketClientConnection.ts
  packages/dht/src/connection/websocket/WebsocketServer.ts
  packages/dht/src/connection/websocket/WebsocketServerConnection.ts
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/contact/ContactList.ts
  packages/dht/src/dht/contact/RingContactList.ts
  packages/dht/src/dht/contact/SortedContactList.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationSession.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/test/unit/AutoCertifierClientFacade.test.ts
  packages/dht/test/unit/Handshaker.test.ts
  packages/dht/test/utils/mock/MockConnection.ts
  packages/geoip-location/test/helpers/TestServer.ts
  packages/node/src/plugins/operator/StreamPartAssignments.ts
  packages/node/test/unit/plugins/operator/MaintainTopologyService.test.ts
  packages/node/test/unit/plugins/operator/StreamPartAssignments.test.ts
  packages/proto-rpc/src/ClientTransport.ts
  packages/proto-rpc/test/integration/toProtoRpcClient.test.ts
  packages/sdk/src/NetworkNodeFacade.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/contract.ts
  packages/sdk/src/subscribe/Subscription.ts
  packages/sdk/src/subscribe/ordering/OrderedMessageChain.ts
  packages/sdk/src/subscribe/resendSubscription.ts
  packages/sdk/src/utils/addStreamToStorageNode.ts
  packages/sdk/test/unit/resendSubscription.test.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PlumtreeManager.ts
Labels: node, network, dht, proto-rpc, sdk

Fix circular dependency by removing redundant tsyringe setup
  packages/sdk/src/PersistenceManager.ts
Labels: sdk
