Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

Use `isolatedModules` (#3104)
  packages/autocertifier-client/src/exports.ts
  packages/dht/src/exports.ts
  packages/node/src/exports.ts
  packages/proto-rpc/src/exports.ts
  packages/sdk/src/exports.ts
  packages/sdk/src/publish/Publisher.ts
  packages/sdk/src/subscribe/Resends.ts
  packages/trackerless-network/src/exports.ts
  packages/utils/src/exports.ts
  packages/utils/src/signingUtils.ts
  tsconfig.browser.json
  tsconfig.jest.json
  tsconfig.node.json
Labels: node, network, dht, proto-rpc, sdk, utils

mark identity fromConfig methods internal
  packages/sdk/src/identity/ECDSAKeyPairIdentity.ts
  packages/sdk/src/identity/EthereumKeyPairIdentity.ts
  packages/sdk/src/identity/EthereumProviderIdentity.ts
  packages/sdk/src/identity/MLDSAKeyPairIdentity.ts
Labels: sdk

refactor(utils,cdn-location): Simplify exports (#3105)
  packages/cdn-location/src/exports.ts
  packages/utils/src/exports.ts
Labels: utils

rm obsolete waitForStableTopology()
  packages/dht/test/integration/Find.test.ts
  packages/dht/test/integration/ReplicateData.test.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/StoreAndDelete.test.ts
  packages/dht/test/utils/utils.ts
Labels: dht

private ConnectionManager#garbageCollectConnections()
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/test/utils/utils.ts
Labels: dht

change Store and StoreAndDelete tests to use default K value
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/StoreAndDelete.test.ts
Labels: dht

rm redundant numberOfNodesPerKBucket parameter
  packages/dht/src/dht/DhtNode.ts
  packages/dht/test/benchmark/Find.test.ts
  packages/dht/test/benchmark/KademliaCorrectness.test.ts
  packages/dht/test/integration/DhtJoinPeerDiscovery.test.ts
  packages/dht/test/integration/Find.test.ts
  packages/dht/test/integration/ReplicateData.test.ts
  packages/dht/test/utils/utils.ts
Labels: dht

use NUMBER_OF_NODES_PER_KBUCKET_DEFAULT instead of local constant
  packages/dht/test/end-to-end/Layer1-Scale-WebSocket.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-Webrtc.test.ts
  packages/dht/test/integration/Layer1-scale.test.ts
  packages/dht/test/utils/utils.ts
Labels: dht

rm unnecessary createMockConnectionDhtNode() parameters
  packages/dht/test/integration/ReplicateData.test.ts
  packages/dht/test/utils/utils.ts
Labels: dht

rm redundant maxConnections parameter
  packages/dht/test/integration/ReplicateData.test.ts
  packages/dht/test/utils/utils.ts
Labels: dht

change Find, Store and StoreAndDelete tests to use default maxConnections value
  packages/dht/test/integration/Find.test.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/StoreAndDelete.test.ts
Labels: dht

rm no-op join
  packages/dht/test/integration/Find.test.ts
Labels: dht

Find, Store, StoreAndDelete and Layer1-scale already had DhtNode's default dhtJoinTimeout, all other tests used value of 45000
  packages/dht/test/integration/Find.test.ts
  packages/dht/test/integration/Layer1-scale.test.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/StoreAndDelete.test.ts
  packages/dht/test/utils/utils.ts
Labels: dht

fix: don't push entry point twice
  packages/dht/test/integration/Store.test.ts
Labels: dht

rm unnecessary createMockConnectionLayer1Node() parameters
  packages/dht/test/integration/Layer1-scale.test.ts
  packages/dht/test/utils/utils.ts
Labels: dht

use random node
  packages/dht/test/integration/Find.test.ts
Labels: dht

test(dht): Optimize topology tests (#3106)
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/test/benchmark/Find.test.ts
  packages/dht/test/benchmark/KademliaCorrectness.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-WebSocket.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-Webrtc.test.ts
  packages/dht/test/integration/DhtJoinPeerDiscovery.test.ts
  packages/dht/test/integration/Find.test.ts
  packages/dht/test/integration/Layer1-scale.test.ts
  packages/dht/test/integration/ReplicateData.test.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/StoreAndDelete.test.ts
  packages/dht/test/utils/utils.ts
Labels: dht

limit number of paused connections in PlumTree to 3 by default
  packages/trackerless-network/src/logic/plumtree/PausedNeighbors.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

fix eslint
  packages/trackerless-network/src/logic/plumtree/PausedNeighbors.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
  packages/trackerless-network/test/unit/PlumTreeManager.test.ts
Labels: network

PR comments
  packages/sdk/src/exports.ts
  packages/sdk/src/identity/KeyPairIdentity.ts
Labels: sdk

test(network): add unit test for onNeighborRemoved in PlumTreeManager (#3102)
  packages/trackerless-network/test/unit/PlumTreeManager.test.ts
Labels: network

add unit test
  packages/trackerless-network/test/unit/PlumTreeManager.test.ts
Labels: network

fix test
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
  packages/trackerless-network/test/unit/PlumTreeRpcLocal.test.ts
Labels: network

release: v103.0.0-rc.13
  DELETEME
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

reduce log level
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
Labels: network

feat(network): Limit number of paused connections in PlumTree (#3107)
  packages/trackerless-network/src/logic/plumtree/PausedNeighbors.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
  packages/trackerless-network/test/unit/PlumTreeManager.test.ts
  packages/trackerless-network/test/unit/PlumTreeRpcLocal.test.ts
Labels: network

chore: update @streamr/config to 5.5.5
  package-lock.json
  packages/cli-tools/package.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: node, sdk, test-utils, cli-tools

chore: update @streamr/config to 5.5.5
  package-lock.json
  packages/cli-tools/package.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: node, sdk, test-utils, cli-tools

update to 5.5.6
  package-lock.json
  packages/cli-tools/package.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: node, sdk, test-utils, cli-tools

build: update @streamr/config to 5.5.6 (#3109)
  package-lock.json
  packages/cli-tools/package.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: node, sdk, test-utils, cli-tools

release: v103.0.0-rc.14
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

fix getting subtle in web workers
  packages/utils/src/crossPlatformCrypto.ts
Labels: utils

fix flaky test
  packages/sdk/test/unit/ECDSAKeyPairIdentity.test.ts
Labels: sdk

bugfix: getting subtle in web workers (#3110)
  packages/sdk/test/unit/ECDSAKeyPairIdentity.test.ts
  packages/utils/src/crossPlatformCrypto.ts
Labels: sdk, utils

release: v103.0.0-rc.15
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

add Peaq environment option
  packages/node/src/config/ConfigWizard.ts
  packages/sdk/src/Config.ts
  packages/sdk/src/config.schema.json
Labels: node, sdk

PR review fixes
  packages/node/src/config/ConfigWizard.ts
  packages/sdk/src/Config.ts
Labels: node, sdk

test: peaq environment ID
  packages/sdk/test/unit/Config.test.ts
Labels: sdk

add changed config validation schema
  packages/sdk/src/generated/validateConfig.js
Labels: sdk

fix: test
  packages/cli-tools/test/environment.test.ts
Labels: cli-tools
