Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

fix type compatibility error caused by @types/node upgrade:
  packages/sdk/src/encryption/RSAKeyPair.ts
Labels: sdk

autofix eslint @typescript-eslint/prefer-optional-chain
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/connection/websocket/AbstractWebsocketClientConnection.ts
  packages/sdk/src/publish/messageChain.ts
  packages/trackerless-network/src/ContentDeliveryManager.ts
Labels: network, dht, sdk

fix casting
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
Labels: dht

update @streamr/config
  package-lock.json
  packages/cli-tools/package.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: node, sdk, test-utils, cli-tools

Default config change: withdrawLimitSafetyFraction to 0.9 (#3222)
  packages/node/src/plugins/operator/config.schema.json
Labels: node

remove exit event
  packages/node/bin/streamr-node.ts
Labels: node

minor cleanup
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: node, sdk

move retry count and delay to constants
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

don't bump gas limit by default in stake/unstake
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: node, sdk

update changelog
  CHANGELOG.md
Labels: docs

remove changelog duplication
  CHANGELOG.md
Labels: docs

Hotfixes for autostaker problems (#3227)
  CHANGELOG.md
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/sdk/src/contracts/ChainEventPoller.ts
  packages/sdk/src/contracts/Operator.ts
  packages/sdk/src/contracts/SponsorshipFactory.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/StreamStorageRegistry.ts
  packages/sdk/src/contracts/contract.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/test/end-to-end/sponsorship-created-event.test.ts
  packages/sdk/test/unit/ChainEventPoller.test.ts
  packages/sdk/test/unit/Operator.test.ts
Labels: docs, node, sdk

release: v103.1.1
  CHANGELOG.md
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: docs, node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

release: v103.1.1
  CHANGELOG.md
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: docs, node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

unit test
  packages/sdk/test/end-to-end/operatorContractUtils.test.ts
Labels: sdk

style
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk

use transferAndCall()
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk

add sponsorAmount option
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/test/end-to-end/operatorContractUtils.test.ts
Labels: sdk

skip browser test
  packages/sdk/test/end-to-end/operatorContractUtils.test.ts
Labels: sdk

feat: Support create-and-fund pattern in sponsorship deployment (#3230)
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/test/end-to-end/operatorContractUtils.test.ts
Labels: sdk

release: v103.1.2-rc.0
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

rm project and parser configs
  eslint.config.mjs
Labels: none

style
  eslint.config.mjs
Labels: none

bump @streamr/config to 5.9.2
  package-lock.json
  packages/cli-tools/package.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: node, sdk, test-utils, cli-tools

add test
  packages/sdk/test/end-to-end/operatorContractUtils.test.ts
Labels: sdk

transactionTimeout
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk

feat: Configurable timeout for operator contract transactions (#3235)
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/test/end-to-end/operatorContractUtils.test.ts
Labels: sdk

Add documentation about calling StreamrClient#destroy
  packages/sdk/README.md
Labels: sdk

chore: Upgrade `eslint` project config for compatibility with `typescript-eslint` v8.46.4 (#3233)
  eslint.config.mjs
Labels: none

configure transaction timeout
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

changelog
  CHANGELOG.md
Labels: docs

pass requiredBlocknumer to createQuery() callback
  packages/utils/src/TheGraphClient.ts
  packages/utils/test/TheGraphClient.test.ts
Labels: utils

autostaker uses fixed gas limit on stake/unstake
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: node, sdk

use requiredBlockNumber in Autostaker
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

eslint
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

changelog
  CHANGELOG.md
Labels: docs

feat: Autostaker transaction timeout (#3236)
  CHANGELOG.md
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: docs, node

feat: `requiredBlockNumber` callback parameter in `TheGraphClient` (#3238)
  CHANGELOG.md
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/utils/src/TheGraphClient.ts
  packages/utils/test/TheGraphClient.test.ts
Labels: docs, node, utils

remove unused bumpGasLimit
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk

add debug logging for stake/unstake
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'
