Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

refactor [NET-1645]: Clean-up tsconfigs for the `cdn-location` package (#3269)
  packages/cdn-location/package.json
  packages/cdn-location/tsconfig.data-generation.json
  packages/cdn-location/tsconfig.jest.json
  packages/cdn-location/tsconfig.json
  packages/cdn-location/tsconfig.node.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.node.json
Labels: dht

Fix types
  packages/cli-tools/bin/streamr-stream-subscribe.ts
Labels: cli-tools

Drop unused imports
  packages/cli-tools/bin/streamr-stream-subscribe.ts
Labels: cli-tools

Clean-up tsconfigs for the `dht` package
  packages/autocertifier-server/tsconfig.node.json
  packages/dht/package.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.json
  packages/dht/tsconfig.karma.json
  packages/dht/tsconfig.node.json
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.node.json
  packages/trackerless-network/tsconfig.jest.json
  packages/trackerless-network/tsconfig.node.json
Labels: network, dht, sdk

Drop unused root tsconfig
  tsconfig.json
Labels: none

Smaller diff
  packages/node/tsconfig.node.json
Labels: node

changelog
  CHANGELOG.md
Labels: docs

Fix tooling inconsistency
  packages/cli-tools/bin/streamr-stream-subscribe.ts
  tsconfig.node.json
Labels: cli-tools

explicitly disable group key exchange if config.encryption.keys is defined
  packages/sdk/src/encryption/PublisherKeyExchange.ts
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
Labels: sdk

Incl. `src/` into jest `tsconfig`
  packages/sdk/tsconfig.jest.json
Labels: sdk

Drop redundant `noEmit` flag
  packages/sdk/tsconfig.jest.json
Labels: sdk

feat(sdk): Explicit encryption keys (#3284)
  CHANGELOG.md
  packages/sdk/src/Config.ts
  packages/sdk/src/StreamrClientError.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/encryption/GroupKeyManager.ts
  packages/sdk/src/encryption/PublisherKeyExchange.ts
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
  packages/sdk/src/generated/validateConfig.js
  packages/sdk/src/publish/GroupKeyQueue.ts
  packages/sdk/src/publish/Publisher.ts
  packages/sdk/test/integration/explicit-encryption-keys.test.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/Decrypt.test.ts
  packages/sdk/test/unit/GroupKeyManager.test.ts
  packages/sdk/test/unit/GroupKeyQueue.test.ts
  packages/sdk/test/unit/Publisher.test.ts
  packages/sdk/test/unit/messagePipeline.test.ts
Labels: docs, sdk

Stop referencing own node tsconfig (breaks type resolution)
  packages/sdk/tsconfig.jest.json
Labels: sdk

Simplify `check` – back to the original
  packages/sdk/package.json
Labels: sdk

Better diff
  packages/sdk/tsconfig.jest.json
Labels: sdk

Reformat
  packages/cli-tools/tsconfig.jest.json
Labels: cli-tools

Drop redundant flag (noEmit)
  packages/cli-tools/tsconfig.jest.json
Labels: cli-tools

Incl. src in jest tsconfig
  packages/cli-tools/tsconfig.jest.json
Labels: cli-tools

Simplify `check`
  packages/cli-tools/package.json
Labels: cli-tools

refactor [NET-1646]: Clean-up tsconfigs for the `cli-tools` package (#3270)
  packages/cli-tools/bin/streamr-stream-subscribe.ts
  packages/cli-tools/package.json
  packages/cli-tools/tsconfig.jest.json
  packages/cli-tools/tsconfig.json
  packages/cli-tools/tsconfig.node.json
  tsconfig.node.json
Labels: cli-tools

Enable `noImplicitOverride` across the board
  packages/autocertifier-client/tsconfig.json
  packages/autocertifier-server/tsconfig.node.json
  packages/cdn-location/tsconfig.node.json
  packages/cli-tools/tsconfig.jest.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.karma.json
  packages/dht/tsconfig.node.json
  packages/geoip-location/tsconfig.node.json
  packages/proto-rpc/tsconfig.jest.json
  packages/proto-rpc/tsconfig.karma.json
  packages/proto-rpc/tsconfig.node.json
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.node.json
  packages/trackerless-network/tsconfig.jest.json
  packages/trackerless-network/tsconfig.karma.json
  packages/trackerless-network/tsconfig.node.json
  packages/utils/tsconfig.karma.json
Labels: network, dht, proto-rpc, sdk, utils, cli-tools

Process protos separately; isolate `noImplicitOverride`
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.node.json
  packages/dht/tsconfig.proto.json
  packages/proto-rpc/tsconfig.jest.json
  packages/proto-rpc/tsconfig.node.json
  packages/proto-rpc/tsconfig.proto.json
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.node.json
  packages/sdk/tsconfig.proto.json
  packages/trackerless-network/tsconfig.jest.json
  packages/trackerless-network/tsconfig.karma.json
  packages/trackerless-network/tsconfig.node.json
  packages/trackerless-network/tsconfig.proto.json
  tsconfig.proto.json
Labels: network, dht, proto-rpc, sdk

Fix our own `noImplicitOverride` issues
  packages/sdk/src/identity/EthereumKeyPairIdentity.ts
Labels: sdk

Fix test-proto
  .github/workflows/reusable/cached-build/action.yml
  packages/dht/test/unit/PeerManager.test.ts
  packages/dht/test/utils/utils.ts
  packages/proto-rpc/package.json
  packages/proto-rpc/test-proto.sh
  packages/proto-rpc/tsconfig.jest.json
  packages/proto-rpc/tsconfig.test-proto.json
Labels: ci, dht, proto-rpc

Ok., more like this!
  packages/proto-rpc/tsconfig.test-proto.json
Labels: proto-rpc

Clean generated as part of `clean` script
  packages/autocertifier-client/package.json
  packages/dht/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/trackerless-network/package.json
Labels: network, dht, proto-rpc, sdk

Remove sdk's generated config validator
  packages/sdk/src/generated/validateConfig.js
Labels: sdk

Stop tracking all sdk's generated code
  packages/sdk/.gitignore
Labels: sdk

Pre-create sdk's `src/generated` folder
  packages/sdk/bin/generate-config-validator.js
Labels: sdk

Reformat for consistency
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.karma.json
  packages/proto-rpc/tsconfig.jest.json
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.node.json
  packages/test-utils/tsconfig.node.json
  packages/trackerless-network/tsconfig.jest.json
  packages/trackerless-network/tsconfig.karma.json
  packages/utils/tsconfig.karma.json
Labels: network, dht, proto-rpc, sdk, test-utils, utils

refactor: Reformat tsconfigs for consistency (#3293)
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.karma.json
  packages/proto-rpc/tsconfig.jest.json
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.node.json
  packages/test-utils/tsconfig.node.json
  packages/trackerless-network/tsconfig.jest.json
  packages/trackerless-network/tsconfig.karma.json
  packages/utils/tsconfig.karma.json
Labels: network, dht, proto-rpc, sdk, test-utils, utils

Reformat
  packages/proto-rpc/tsconfig.karma.json
Labels: proto-rpc

refactor: Reformat tsconfigs for consistency (2nd round) (#3295)
  packages/proto-rpc/tsconfig.karma.json
Labels: proto-rpc

Re-enable `noImplicitOverride` in no-proto-having packages
  packages/autocertifier-server/tsconfig.node.json
  packages/cdn-location/tsconfig.node.json
  packages/cli-tools/tsconfig.jest.json
  packages/geoip-location/tsconfig.node.json
Labels: cli-tools

Re-enable `noImplicitOverride` in karma tsconfigs
  packages/dht/tsconfig.karma.json
  packages/proto-rpc/tsconfig.karma.json
  packages/trackerless-network/tsconfig.karma.json
  packages/utils/tsconfig.karma.json
Labels: network, dht, proto-rpc, utils

refactor: Restore strict `noImplicitOverride` for packages with no protobuf code (#3294)
  packages/autocertifier-server/tsconfig.node.json
  packages/cdn-location/tsconfig.node.json
  packages/cli-tools/tsconfig.jest.json
  packages/dht/tsconfig.karma.json
  packages/geoip-location/tsconfig.node.json
  packages/proto-rpc/tsconfig.karma.json
  packages/trackerless-network/tsconfig.karma.json
  packages/utils/tsconfig.karma.json
Labels: network, dht, proto-rpc, utils, cli-tools

Unify
  packages/dht/tsconfig.karma.json
  packages/proto-rpc/tsconfig.karma.json
  packages/trackerless-network/tsconfig.karma.json
  packages/utils/tsconfig.karma.json
  tsconfig.karma.json
Labels: network, dht, proto-rpc, utils

Use a regular dash
  tsconfig.karma.json
Labels: none

Compress karma tsconfig's `lib`
  tsconfig.karma.json
Labels: none

refactor: Unify Karma tsconfigs (#3296)
  packages/dht/tsconfig.karma.json
  packages/proto-rpc/tsconfig.karma.json
  packages/trackerless-network/tsconfig.karma.json
  packages/utils/tsconfig.karma.json
  tsconfig.karma.json
Labels: network, dht, proto-rpc, utils
