Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

Incl. missing files
  packages/sdk/tsconfig.node.json
Labels: sdk

Skip redundant test-proto generation
  packages/proto-rpc/package.json
Labels: proto-rpc

Make setting directionality optional, bidirectional is the default
  packages/sdk/src/NetworkNodeFacade.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/test/end-to-end/publish-subscribe-via-proxy.test.ts
  packages/sdk/test/test-utils/fake/FakeNetworkNode.ts
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/ContentDeliveryManager.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/content-delivery-layer/proxy/ProxyClient.ts
  packages/trackerless-network/src/content-delivery-layer/proxy/ProxyConnectionRpcLocal.ts
  packages/trackerless-network/src/content-delivery-layer/proxy/ProxyConnectionRpcRemote.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/unit/ContentDeliveryManager.test.ts
  packages/trackerless-network/test/unit/ProxyConnectionRpcRemote.test.ts
Labels: network, sdk

Make prebuild step build all
  packages/proto-rpc/package.json
  packages/proto-rpc/test-proto.sh
  packages/trackerless-network/package.json
Labels: network, proto-rpc

Fix typo
  CHANGELOG.md
Labels: docs

Changelog
  CHANGELOG.md
Labels: docs

refactor ProxyNodeFinder out of StreamrClient
  packages/sdk/src/ProxyNodeFinder.ts
  packages/sdk/src/StreamrClient.ts
Labels: sdk

add unit test for ProxyNodeFinder
  packages/sdk/test/unit/ProxyNodeFinder.test.ts
Labels: sdk

delete deleteme.ts
  packages/sdk/deleteme.ts
Labels: sdk

try to fix browser tests
  packages/sdk/test/unit/ProxyNodeFinder.test.ts
Labels: sdk

[NET-1638] implement findProxyNodes in sdk (#3257)
  CHANGELOG.md
  packages/sdk/src/ProxyNodeFinder.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/OperatorRegistry.ts
  packages/sdk/test/test-utils/fake/FakeOperatorRegistry.ts
  packages/sdk/test/unit/ProxyNodeFinder.test.ts
Labels: docs, sdk

fix(cli-tools): Signature output in `subscribe --with-metadata` (#3245)
  CHANGELOG.md
  packages/cli-tools/bin/streamr-stream-subscribe.ts
  packages/cli-tools/test/stream-publish-subscribe.test.ts
Labels: docs, cli-tools

Build proto-rpc's test protos in prebuild, too
  packages/proto-rpc/package.json
  packages/proto-rpc/test-proto.sh
  packages/trackerless-network/package.json
Labels: network, proto-rpc

Check proto-rpc's tsconfig.node, too
  packages/proto-rpc/package.json
Labels: proto-rpc

Cache proto-rpc's test proto
  .github/workflows/reusable/cached-build/action.yml
Labels: ci

bump autostaker gas limit from 500k to 750k
  CHANGELOG.md
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: docs, node

convert publish-subscribe test to subscribe test
  packages/cli-tools/test/stream-subscribe.test.ts
Labels: cli-tools

add --partition flag to stream publish command
  packages/cli-tools/bin/streamr-stream-publish.ts
Labels: cli-tools

add tests
  packages/cli-tools/test/stream-publish.test.ts
  packages/cli-tools/test/utils.ts
Labels: cli-tools

changelog
  CHANGELOG.md
Labels: docs

fix default value handling
  packages/cli-tools/bin/streamr-stream-publish.ts
Labels: cli-tools

feat [NET-1639]: Bidirectional proxy connections (#3260)
  CHANGELOG.md
  packages/sdk/src/NetworkNodeFacade.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/test/end-to-end/publish-subscribe-via-proxy.test.ts
  packages/sdk/test/test-utils/fake/FakeNetworkNode.ts
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/ContentDeliveryManager.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/content-delivery-layer/proxy/ProxyClient.ts
  packages/trackerless-network/src/content-delivery-layer/proxy/ProxyConnectionRpcLocal.ts
  packages/trackerless-network/src/content-delivery-layer/proxy/ProxyConnectionRpcRemote.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/unit/ContentDeliveryManager.test.ts
  packages/trackerless-network/test/unit/ProxyConnectionRpcRemote.test.ts
Labels: docs, network, sdk

simplify
  packages/cli-tools/bin/streamr-stream-publish.ts
Labels: cli-tools

value is required
  packages/cli-tools/bin/streamr-stream-subscribe.ts
Labels: cli-tools

changelog
  CHANGELOG.md
Labels: docs

add validation
  packages/cli-tools/bin/streamr-stream-publish.ts
Labels: cli-tools

rename variable
  packages/cli-tools/bin/streamr-stream-publish.ts
Labels: cli-tools

add type
  packages/cli-tools/bin/streamr-stream-publish.ts
Labels: cli-tools

no need to initialize to null
  packages/cli-tools/bin/streamr-stream-publish.ts
Labels: cli-tools

add --with-metadata flag
  packages/cli-tools/bin/streamr-stream-publish.ts
Labels: cli-tools

add test
  packages/cli-tools/test/stream-publish.test.ts
Labels: cli-tools

Tighten types for `browser-test-runner`
  packages/browser-test-runner/src/createKarmaConfig.ts
  packages/browser-test-runner/src/createWebpackConfig.ts
Labels: none

add test-utils custom matchers
  packages/cli-tools/jest.config.ts
  packages/cli-tools/tsconfig.jest.json
Labels: cli-tools

add test
  packages/cli-tools/test/stream-publish.test.ts
Labels: cli-tools

rename variable
  packages/cli-tools/test/stream-publish.test.ts
Labels: cli-tools

support hex content also when --with-metadata is used
  packages/cli-tools/bin/streamr-stream-publish.ts
  packages/cli-tools/test/stream-publish.test.ts
Labels: cli-tools

changelog
  CHANGELOG.md
Labels: docs

Convert karma configs to typescript
  packages/dht/karma.config.ts
  packages/dht/package.json
  packages/proto-rpc/karma.config.js
  packages/proto-rpc/karma.config.ts
  packages/proto-rpc/package.json
  packages/sdk/karma-end-to-end.config.js
  packages/sdk/karma-end-to-end.config.ts
  packages/sdk/karma-integration.config.js
  packages/sdk/karma-integration.config.ts
  packages/sdk/karma-setup.js
  packages/sdk/karma-unit.config.js
  packages/sdk/karma-unit.config.ts
  packages/sdk/package.json
  packages/sdk/webpack-karma.config.ts
  packages/sdk/webpack.config.js
  packages/trackerless-network/karma-setup.js
  packages/trackerless-network/karma.config.js
  packages/trackerless-network/karma.config.ts
  packages/trackerless-network/package.json
  packages/utils/karma.config.js
  packages/utils/karma.config.ts
  packages/utils/package.json
Labels: network, dht, proto-rpc, sdk, utils

release: v103.2.0-rc.0
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

feat(cli-tools): Add `--partition` flag to `stream publish` (#3262)
  CHANGELOG.md
  packages/cli-tools/bin/streamr-stream-publish.ts
  packages/cli-tools/test/stream-publish.test.ts
  packages/cli-tools/test/stream-subscribe.test.ts
  packages/cli-tools/test/utils.ts
Labels: docs, cli-tools
