Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

doc: better wording of the "processes"
  docs/docs/streamr-network/incentives/network-incentives.md
Labels: none

doc: remove mention of "free funds"
  docs/docs/streamr-network/incentives/network-incentives.md
Labels: none

doc: comment out future speculation
  docs/docs/streamr-network/incentives/network-incentives.md
Labels: none

doc: comment out future speculation
  docs/docs/streamr-network/incentives/network-incentives.md
Labels: none

ETH-785: add tokenomics contract detailed descriptions (#2761)
  docs/docs/streamr-network/incentives/network-incentives.md
  docs/static/img/DATA-flows-Operator-contract.jpg
  docs/static/img/DATA-flows-Sponsorship-contract.jpg
  docs/static/img/DATA-flows-high-level.jpg
Labels: none

docs: update docs directory (#2999)
  docs/package-lock.json
  docs/package.json
Labels: none

fix linter
  packages/autocertifier-server/test/integration/RestServer-real-http-client.test.ts
Labels: none

chore(autocertifier-client): replace request with fetch
  packages/autocertifier-client/package.json
  packages/autocertifier-client/src/RestClient.ts
Labels: none

Update packages/autocertifier-server/test/integration/RestServer-real-http-client.test.ts
  packages/autocertifier-server/test/integration/RestServer-real-http-client.test.ts
Labels: none

chore(autocertifier-server): replace request with built-in http request
  packages/autocertifier-server/package.json
  packages/autocertifier-server/test/integration/RestServer-real-http-client.test.ts
Labels: none

update package-lock.json
  package-lock.json
Labels: none

fix repetition in RestServer-real-http-client.test.ts
  packages/autocertifier-server/test/integration/RestServer-real-http-client.test.ts
Labels: none

try passing agent trick
  packages/autocertifier-client/src/RestClient.ts
Labels: none

use https for RestClient to allow self-signed certs
  packages/autocertifier-client/src/RestClient.ts
Labels: none

test(autocertifier-server): simplify test
  packages/autocertifier-server/test/integration/RestServer-real-http-client.test.ts
Labels: none

fix eslint
  packages/autocertifier-client/src/RestClient.ts
Labels: none

extract request util
  packages/autocertifier-client/src/RestClient.ts
  packages/autocertifier-client/src/httpRequestUtils.ts
Labels: none

test(autocertifier-server): use same request as in autocertifier-client
  packages/autocertifier-client/src/exports.ts
  packages/autocertifier-server/test/integration/RestServer-real-http-client.test.ts
Labels: none

fix test
  packages/autocertifier-server/test/integration/RestServer-real-http-client.test.ts
Labels: none

fix test
  packages/autocertifier-client/src/httpRequestUtils.ts
Labels: none

fix error type
  packages/autocertifier-client/src/httpRequestUtils.ts
Labels: none

fixes
  packages/autocertifier-client/src/httpRequestUtils.ts
  packages/autocertifier-server/test/integration/RestServer-real-http-client.test.ts
Labels: none

add clarifying comment for usage of rejectUnauthorized
  packages/autocertifier-client/src/httpRequestUtils.ts
Labels: none

refactor: rename function for clarity
  packages/autocertifier-client/src/RestClient.ts
  packages/autocertifier-client/src/exports.ts
  packages/autocertifier-client/src/makeHttpRequest.ts
  packages/autocertifier-server/test/integration/RestServer-real-http-client.test.ts
Labels: none

add error handling incase of invalid json
  packages/autocertifier-client/src/makeHttpRequest.ts
  services.md
Labels: docs

rm commited empty file
  services.md
Labels: docs

fix eslint & error message
  packages/autocertifier-client/src/makeHttpRequest.ts
Labels: none

responsibilities and expectations operator section
  docs/docs/guides/become-an-operator.md
Labels: none

docs: Operator expectations section (#3002)
  docs/docs/guides/become-an-operator.md
Labels: none

chore NET-1404: remove deprecated package `request` from autocert-* (#2996)
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-client/src/RestClient.ts
  packages/autocertifier-client/src/exports.ts
  packages/autocertifier-client/src/makeHttpRequest.ts
  packages/autocertifier-server/package.json
  packages/autocertifier-server/test/integration/RestServer-real-http-client.test.ts
Labels: none

fix
  packages/node/src/plugins/operator/inspectRandomNode.ts
Labels: node

tolerate small difference
  packages/dht/test/integration/GeoIpConnectivityChecking.test.ts
  packages/geoip-location/test/unit/GeoIpLocator-intervals.test.ts
  packages/geoip-location/test/unit/GeoIpLocator-no-network-at-monthly.test.ts
  packages/geoip-location/test/unit/GeoIpLocator.test.ts
Labels: dht

Add changelog entry
  CHANGELOG.md
Labels: docs

test: Adjust coordinate equality check (#3008)
  packages/dht/test/integration/GeoIpConnectivityChecking.test.ts
  packages/geoip-location/test/unit/GeoIpLocator-intervals.test.ts
  packages/geoip-location/test/unit/GeoIpLocator-no-network-at-monthly.test.ts
  packages/geoip-location/test/unit/GeoIpLocator.test.ts
Labels: dht

chore: update node-datachannel
  package-lock.json
  packages/dht/package.json
Labels: dht

modify Dockerfile
  Dockerfile.node
Labels: none

fix Dockerfile
  Dockerfile.node
Labels: none

deps: override prebuild-install to 7.1.3 and update deps
  package-lock.json
  package.json
Labels: none

deps(dht): update node-datachannel to 0.25.0
  package-lock.json
  packages/dht/package.json
Labels: dht

deps [NET-1427]: override prebuild-install and update all deps (#3011)
  package-lock.json
  package.json
Labels: none
