Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

update documentation about NodeJS version
  docs/docs/guides/how-to-run-streamr-node.md
Labels: none

spelling
  CHANGELOG.md
  developer-docs/install-on-apple-silicon.md
  docs/docs/guides/nodejs.md
  docs/docs/guides/use-any-language-or-device.md
  docs/docs/guides/web-app-frameworks.md
  docs/docs/usage/configuration.md
  docs/docs/usage/sdk/how-to-use.md
  packages/autocertifier-server/README.md
  packages/sdk/README.md
Labels: docs, sdk

feat(utils): `scheduleAtApproximateInterval()` (#3136)
  packages/utils/src/exports.ts
  packages/utils/src/scheduleAtApproximateInterval.ts
  packages/utils/src/scheduleAtInterval.ts
  packages/utils/test/scheduleAtApproximateInterval.test.ts
Labels: utils

chore(utils): Reduce logging in `TheGraphClient#waitUntilIndexed()` (#3137)
  packages/utils/src/TheGraphClient.ts
Labels: utils

chore!: [NET-1471] Node v20 required (#3138)
  CHANGELOG.md
  README.md
  docs/docs/guides/how-to-run-streamr-node.md
  docs/docs/guides/nodejs.md
  docs/docs/guides/use-any-language-or-device.md
  docs/docs/guides/web-app-frameworks.md
  docs/docs/usage/cli-tool.md
  docs/docs/usage/sdk/how-to-use.md
  packages/cli-tools/README.md
  packages/sdk/README.md
Labels: docs, sdk, cli-tools

reduce the number of nodes in the test to reduce flakyness
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

docs: Unify Node.js spelling (#3140)
  CHANGELOG.md
  developer-docs/install-on-apple-silicon.md
  docs/docs/guides/nodejs.md
  docs/docs/guides/use-any-language-or-device.md
  docs/docs/guides/web-app-frameworks.md
  docs/docs/usage/configuration.md
  docs/docs/usage/sdk/how-to-use.md
  packages/autocertifier-server/README.md
  packages/sdk/README.md
Labels: docs, sdk

refactor constants
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

improve logging
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

fetchMinStakePerSponsorship()
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

style
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

move sum() to payoutProportionalStrategy.ts
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/utils/src/exports.ts
Labels: node, utils

rm option shortcut
  packages/cli-tools/bin/streamr-internal-sponsorship-create.ts
Labels: cli-tools

feat(sdk): add "iotex" environment
  package-lock.json
  packages/cli-tools/package.json
  packages/cli-tools/test/environment.test.ts
  packages/node/package.json
  packages/sdk/package.json
  packages/sdk/src/Config.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/generated/validateConfig.js
  packages/sdk/test/unit/Config.test.ts
  packages/test-utils/package.json
Labels: node, sdk, test-utils, cli-tools

doc: changelog
  CHANGELOG.md
Labels: docs

feat(sdk): add "iotex" environment (#3142)
  CHANGELOG.md
  package-lock.json
  packages/cli-tools/package.json
  packages/cli-tools/test/environment.test.ts
  packages/node/package.json
  packages/sdk/package.json
  packages/sdk/src/Config.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/generated/validateConfig.js
  packages/sdk/test/unit/Config.test.ts
  packages/test-utils/package.json
Labels: docs, node, sdk, test-utils, cli-tools

release: v103.0.0-rc.19
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

style
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk

DeploySponsorshipContractOpts#maxOperatorCount
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk

explicit wording about the unit
  packages/cli-tools/bin/streamr-internal-sponsorship-create.ts
  packages/cli-tools/bin/streamr-internal-sponsorship-sponsor.ts
Labels: cli-tools

unit test
  packages/cli-tools/test/internal-sponsorship-create.test.ts
Labels: cli-tools

add --max-operator-count
  packages/cli-tools/bin/streamr-internal-sponsorship-create.ts
  packages/cli-tools/test/internal-sponsorship-create.test.ts
Labels: cli-tools

add QueryResultItem#maxOperators
  packages/cli-tools/test/internal-sponsorship-create.test.ts
Labels: cli-tools

--min-stake-duration
  packages/cli-tools/bin/streamr-internal-sponsorship-create.ts
  packages/cli-tools/test/internal-sponsorship-create.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk, cli-tools

required field
  packages/cli-tools/test/internal-operator.test.ts
  packages/cli-tools/test/internal-sponsorship-sponsor.test.ts
  packages/node/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/test/end-to-end/Operator.test.ts
Labels: node, sdk, cli-tools

minimumStakingPeriodSeconds
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

maxAcceptableMinOperatorCount
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/config.schema.json
Labels: node

maxOperators
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

update JSDoc
  packages/sdk/src/StreamrClient.ts
Labels: sdk

feat(cli-tools): Add `--max-operator-count` flag to `sponsorship-create` command (#3143)
  packages/cli-tools/bin/streamr-internal-sponsorship-create.ts
  packages/cli-tools/bin/streamr-internal-sponsorship-sponsor.ts
  packages/cli-tools/test/internal-sponsorship-create.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk, cli-tools

wording
  packages/cli-tools/bin/streamr-internal-sponsorship-create.ts
Labels: cli-tools

feat(cli-tools): Add `--min-stake-duration` flag to `sponsorship-create` command (#3144)
  packages/cli-tools/bin/streamr-internal-sponsorship-create.ts
  packages/cli-tools/test/internal-sponsorship-create.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk, cli-tools

changelog
  CHANGELOG.md
Labels: docs

style
  CHANGELOG.md
Labels: docs

use constant
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
Labels: node

refactor(sdk): Required `earningsPerSecond` field in `deploySponsorshipContract()` (#3145)
  packages/cli-tools/test/internal-operator.test.ts
  packages/cli-tools/test/internal-sponsorship-sponsor.test.ts
  packages/node/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/test/end-to-end/Operator.test.ts
Labels: node, sdk, cli-tools

feat(sdk)!: [NET-1464] Remove orderBy functionality from `StreamrClient#searchStreams()` (#3131)
  CHANGELOG.md
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/searchStreams.ts
  packages/sdk/src/exports.ts
  packages/sdk/test/end-to-end/searchStreams.test.ts
  packages/sdk/test/unit/searchStreams.test.ts
Labels: docs, sdk

MIN_SPONSORSHIP_TOTAL_PAYOUT_PER_SECOND
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

improve tooSmallAdjustments removal
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

rm unnecessary variable
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
Labels: node
