Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

broadcast test
  packages/trackerless-network/test/unit/PlumTreeManager.test.ts
Labels: network

fix duplicate message emits
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
  packages/trackerless-network/test/unit/PlumTreeManager.test.ts
Labels: network

upgrade @streamr/network-contracts
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: node, sdk, test-utils

use DATA token from @streamr/network-contracts
  package-lock.json
  packages/cli-tools/bin/streamr-internal-token-mint.ts
  packages/cli-tools/package.json
Labels: cli-tools

multiple publishers test
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

restrict environment
  packages/cli-tools/bin/streamr-internal-token-mint.ts
Labels: cli-tools

remove unnecessary logic
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
Labels: network

feat(network): [NET-1451] Add option for Plum Tree like optimization of stream message propagation (#3083)
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/ContentDeliveryRpcLocal.ts
  packages/trackerless-network/src/logic/createContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/plumtree/PausedNeighbors.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeRpcLocal.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeRpcRemote.ts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
  packages/trackerless-network/test/unit/PlumTreeManager.test.ts
  packages/trackerless-network/test/unit/PlumTreeRpcLocal.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

release: v103.0.0-rc.11
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

re-enable removing of neighbors who take too long to respond
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
Labels: network

add any casting instead of useless parameters
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/NodeList.ts
Labels: network

refactor(cli-tools): Use DATA token from `@streamr/network-contracts` in `token-mint` command (#3096)
  package-lock.json
  packages/cli-tools/bin/streamr-internal-token-mint.ts
  packages/cli-tools/package.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: node, sdk, test-utils, cli-tools

use getTestTokenContract() from test-utils
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/src/exports.ts
  packages/test-utils/src/index.ts
Labels: node, sdk, test-utils

use getTestAdminWallet() from test-utils
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/src/exports.ts
  packages/sdk/test/end-to-end/Operator.test.ts
  packages/test-utils/src/index.ts
Labels: node, sdk, test-utils

stricter return type for getTestProvider()
  packages/node/test/smoke/inspect.test.ts
  packages/test-utils/src/index.ts
Labels: node, test-utils

use getTestProvider() from test-utils
  packages/node/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/src/exports.ts
  packages/sdk/test/end-to-end/decorated-contract.test.ts
  packages/test-utils/src/index.ts
Labels: node, sdk, test-utils

eslint
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
Labels: node

refactor(sdk): Move test utils from `operatorContractUtils` to `test-utils` (#3097)
  packages/node/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/src/exports.ts
  packages/sdk/test/end-to-end/Operator.test.ts
  packages/sdk/test/end-to-end/decorated-contract.test.ts
  packages/test-utils/src/index.ts
Labels: node, sdk, test-utils

use token from @streamr/network-contracts
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk

rm DATAv2 artifact
  packages/sdk/src/ethereumArtifacts/DATAv2.d.ts
  packages/sdk/src/ethereumArtifacts/DATAv2Abi.json
Labels: sdk

refactor(sdk): `operatorContractUtils#transferTokens()` uses token ABI from `@streamr/network-contracts` (#3098)
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/src/ethereumArtifacts/DATAv2.d.ts
  packages/sdk/src/ethereumArtifacts/DATAv2Abi.json
Labels: sdk

Fixed function binding for event listener
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
Labels: network

fix(network): Fixed function binding for event listener in PlumTreeManager (#3099)
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
Labels: network

release: v103.0.0-rc.12
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: node, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools

review changes
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/IConnection.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/transport/ITransport.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
Labels: network, dht

matic rename in docs
  docs/docs/guides/become-an-operator.md
  docs/docs/guides/how-to-stake-and-earn.md
  docs/docs/guides/nodejs.md
  docs/docs/guides/use-any-language-or-device.md
  docs/docs/guides/web-app-frameworks.md
  docs/docs/help/operator-faq.md
  docs/docs/streamr-network/network-roles/operators.md
  docs/docs/usage/streams/creating-streams.md
  docs/docs/usage/streams/interacting-with-streams.md
  docs/docs/usage/streams/partitioning.md
  docs/docs/usage/streams/permissions.md
  packages/node/src/config/ConfigWizard.ts
  packages/sdk/README.md
Labels: node, sdk

DREL-264 MATIC to POL docs rename (#3100)
  docs/docs/guides/become-an-operator.md
  docs/docs/guides/how-to-stake-and-earn.md
  docs/docs/guides/nodejs.md
  docs/docs/guides/use-any-language-or-device.md
  docs/docs/guides/web-app-frameworks.md
  docs/docs/help/operator-faq.md
  docs/docs/streamr-network/network-roles/operators.md
  docs/docs/usage/streams/creating-streams.md
  docs/docs/usage/streams/interacting-with-streams.md
  docs/docs/usage/streams/partitioning.md
  docs/docs/usage/streams/permissions.md
  packages/node/src/config/ConfigWizard.ts
  packages/sdk/README.md
Labels: node, sdk

check if all neighbors are paused on neighbor removed
  packages/trackerless-network/src/logic/plumtree/PausedNeighbors.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
  packages/trackerless-network/test/unit/PlumTreeManager.test.ts
Labels: network

add unit test
  packages/trackerless-network/test/unit/PlumTreeManager.test.ts
Labels: network

PR fixes round two
  packages/cli-tools/bin/streamr-identity-generate.ts
  packages/sdk/src/Message.ts
  packages/sdk/src/exports.ts
  packages/sdk/src/identity/ECDSAKeyPairIdentity.ts
  packages/sdk/src/identity/EthereumKeyPairIdentity.ts
  packages/sdk/src/identity/IdentityMapping.ts
  packages/sdk/src/signature/SignatureValidator.ts
  packages/sdk/test/benchmarks/SigningUtil.test.ts
  packages/utils/src/SigningUtil.ts
  packages/utils/src/exports.ts
  packages/utils/test/SigningUtil.test.ts
Labels: sdk, utils, cli-tools

fix broken import
  packages/sdk/src/identity/IdentityMapping.ts
Labels: sdk

update test
  packages/node/test/unit/ConfigWizard.test.ts
Labels: node

test(node): Update config wizard test to use POL instead of MATIC (#3103)
  packages/node/test/unit/ConfigWizard.test.ts
Labels: node

use isolatedModules
  tsconfig.jest.json
Labels: none

use type modifier in exports
  packages/autocertifier-client/src/exports.ts
  packages/dht/src/exports.ts
  packages/node/src/exports.ts
  packages/proto-rpc/src/exports.ts
  packages/sdk/src/exports.ts
  packages/trackerless-network/src/exports.ts
  packages/utils/src/exports.ts
  packages/utils/src/signingUtils.ts
Labels: node, network, dht, proto-rpc, sdk, utils

use type modifier for imports of decorated signatures
  packages/sdk/src/publish/Publisher.ts
  packages/sdk/src/subscribe/Resends.ts
Labels: sdk

simplify exports
  packages/cdn-location/src/exports.ts
  packages/utils/src/exports.ts
Labels: utils

use isolatedModules for all tsconfigs
  tsconfig.browser.json
  tsconfig.node.json
Labels: none

changelog
  CHANGELOG.md
Labels: docs

chore(sdk)!: Rename `Message#groupKeyId` field (#3084)
  CHANGELOG.md
  packages/sdk/src/Message.ts
  packages/sdk/test/end-to-end/erc1271-publish-subscribe.test.ts
Labels: docs, sdk

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'
