Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

fix(cli-tools): Value required for `--partition` in `stream subscribe` (#3263)
  CHANGELOG.md
  packages/cli-tools/bin/streamr-stream-subscribe.ts
Labels: docs, cli-tools

Clean-up tsconfigs for the `geoip-location` package
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.node.json
  packages/geoip-location/package.json
  packages/geoip-location/tsconfig.browser.json
  packages/geoip-location/tsconfig.jest.json
  packages/geoip-location/tsconfig.json
  packages/geoip-location/tsconfig.node.json
  tsconfig.json
Labels: dht

feat(cli-tools): Add `--with-metadata` flag to `stream publish` (#3265)
  CHANGELOG.md
  packages/cli-tools/bin/streamr-stream-publish.ts
  packages/cli-tools/jest.config.ts
  packages/cli-tools/test/stream-publish.test.ts
  packages/cli-tools/tsconfig.jest.json
Labels: docs, cli-tools

rafactor: Migrate karma config files to ts and fix types in `browser-test-runner` (#3266)
  packages/browser-test-runner/src/createKarmaConfig.ts
  packages/browser-test-runner/src/createWebpackConfig.ts
  packages/dht/karma.config.ts
  packages/dht/package.json
  packages/proto-rpc/karma.config.js
  packages/proto-rpc/karma.config.ts
  packages/proto-rpc/package.json
  packages/sdk/karma-end-to-end.config.js
  packages/sdk/karma-end-to-end.config.ts
  packages/sdk/karma-integration.config.js
  packages/sdk/karma-integration.config.ts
  packages/sdk/karma-setup.js
  packages/sdk/karma-unit.config.js
  packages/sdk/karma-unit.config.ts
  packages/sdk/package.json
  packages/sdk/webpack-karma.config.ts
  packages/sdk/webpack.config.js
  packages/trackerless-network/karma-setup.js
  packages/trackerless-network/karma.config.js
  packages/trackerless-network/karma.config.ts
  packages/trackerless-network/package.json
  packages/utils/karma.config.js
  packages/utils/karma.config.ts
  packages/utils/package.json
Labels: network, dht, proto-rpc, sdk, utils

Clean-up tsconfigs for the `node` package
  packages/node/package.json
  packages/node/tsconfig.jest.json
  packages/node/tsconfig.json
  packages/node/tsconfig.node.json
  tsconfig.json
Labels: node

Clean-up tsconfigs for the `proto-rpc` package
  .github/workflows/reusable/cached-build/action.yml
  packages/autocertifier-server/tsconfig.jest.json
  packages/autocertifier-server/tsconfig.node.json
  packages/cdn-location/tsconfig.jest.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.node.json
  packages/proto-rpc/package.json
  packages/proto-rpc/test-proto.sh
  packages/proto-rpc/tsconfig.browser.json
  packages/proto-rpc/tsconfig.jest.json
  packages/proto-rpc/tsconfig.json
  packages/proto-rpc/tsconfig.karma.json
  packages/proto-rpc/tsconfig.node.json
  packages/trackerless-network/tsconfig.jest.json
  tsconfig.json
Labels: ci, network, dht, proto-rpc

Fix order for smaller diff
  packages/proto-rpc/package.json
Labels: proto-rpc

Clean-up tsconfigs for the `sdk` package
  packages/cli-tools/tsconfig.node.json
  packages/node/tsconfig.jest.json
  packages/node/tsconfig.node.json
  packages/sdk/package.json
  packages/sdk/src/encryption/RSAKeyPair.ts
  packages/sdk/src/identity/ECDSAKeyPairIdentity.ts
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.json
  packages/sdk/tsconfig.node.json
  tsconfig.json
Labels: node, sdk, cli-tools

Drop sdk's browser tsconfig
  packages/sdk/tsconfig.browser.json
Labels: sdk

Fix browser tests (karma build)
  packages/sdk/webpack-karma.config.ts
Labels: sdk

Clean-up tsconfigs for the `test-utils` package
  packages/autocertifier-server/tsconfig.jest.json
  packages/autocertifier-server/tsconfig.node.json
  packages/cdn-location/tsconfig.jest.json
  packages/cdn-location/tsconfig.node.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.node.json
  packages/node/tsconfig.jest.json
  packages/node/tsconfig.node.json
  packages/proto-rpc/tsconfig.jest.json
  packages/sdk/tsconfig.browser.json
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.node.json
  packages/test-utils/package.json
  packages/test-utils/tsconfig.jest.json
  packages/test-utils/tsconfig.json
  packages/test-utils/tsconfig.node.json
  tsconfig.json
Labels: node, dht, proto-rpc, sdk, test-utils

Clean-up tsconfigs for the `trackerless-network` package
  packages/sdk/tsconfig.browser.json
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.node.json
  packages/trackerless-network/package.json
  packages/trackerless-network/tsconfig.browser.json
  packages/trackerless-network/tsconfig.jest.json
  packages/trackerless-network/tsconfig.json
  packages/trackerless-network/tsconfig.karma.json
  packages/trackerless-network/tsconfig.node.json
  tsconfig.json
Labels: network, sdk

Clean-up tsconfigs for the `utils` package
  packages/autocertifier-client/tsconfig.jest.json
  packages/autocertifier-client/tsconfig.node.json
  packages/autocertifier-server/tsconfig.jest.json
  packages/autocertifier-server/tsconfig.node.json
  packages/cdn-location/tsconfig.jest.json
  packages/cdn-location/tsconfig.node.json
  packages/cli-tools/tsconfig.node.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.node.json
  packages/geoip-location/tsconfig.jest.json
  packages/geoip-location/tsconfig.node.json
  packages/node/tsconfig.jest.json
  packages/node/tsconfig.node.json
  packages/proto-rpc/tsconfig.jest.json
  packages/proto-rpc/tsconfig.node.json
  packages/test-utils/tsconfig.jest.json
  packages/test-utils/tsconfig.node.json
  packages/utils/package.json
  packages/utils/tsconfig.jest.json
  packages/utils/tsconfig.json
  packages/utils/tsconfig.karma.json
  packages/utils/tsconfig.node.json
  tsconfig.json
Labels: node, dht, proto-rpc, test-utils, utils, cli-tools

Drop browser tsconfig
  packages/utils/tsconfig.browser.json
Labels: utils

Build cjs for regular and jasminized jest (karma)
  packages/utils/package.json
  packages/utils/rollup.config.ts
Labels: utils

Clean before & rollup after `build`
  packages/utils/package.json
Labels: utils

Redo packaging for `utils` package
  package-lock.json
  packages/utils/jest.config.ts
  packages/utils/karma.config.ts
  packages/utils/package.json
  packages/utils/rollup.config.ts
  packages/utils/src/SigningUtil.ts
  packages/utils/src/browser/crypto.ts
  packages/utils/src/browser/os.ts
  packages/utils/src/crossPlatformCrypto.ts
  packages/utils/src/exports.ts
  packages/utils/src/keyToArrayIndex.ts
  packages/utils/src/node/crypto.ts
  packages/utils/test/Metric.test.ts
  packages/utils/test/composeAbortSignals.test.ts
  packages/utils/tsconfig.json
  packages/utils/tsconfig.node.json
  packages/utils/tsconfig.rollup.json
Labels: utils

Back to cjs; add browser; fix build
  packages/utils/package.json
  packages/utils/rollup.config.mts
  packages/utils/tsconfig.browser.json
  packages/utils/tsconfig.jest.json
  packages/utils/tsconfig.json
  packages/utils/tsconfig.karma.json
  packages/utils/tsconfig.rollup.json
Labels: utils

Don't clean in prebuild
  packages/utils/package.json
Labels: utils

Explicitly build utils for the docker image
  Dockerfile.node
Labels: none

StreamrClient#publishRaw()
  packages/sdk/src/StreamrClient.ts
Labels: sdk

add test
  packages/sdk/test/end-to-end/publish-subscribe-raw.test.ts
Labels: sdk

changelog
  CHANGELOG.md
Labels: docs

unify changelog style, add links
  CHANGELOG.md
Labels: docs

CommandOutput test util
  packages/cli-tools/test/mock-data.test.ts
  packages/cli-tools/test/stream-subscribe.test.ts
  packages/cli-tools/test/utils.ts
Labels: cli-tools

add --raw and --binary flags to stream publish command
  packages/cli-tools/bin/streamr-stream-publish.ts
Labels: cli-tools

sdk: export MessageSigner
  packages/sdk/src/exports.ts
Labels: sdk

add --binary flag to stream subscribe command
  packages/cli-tools/bin/streamr-stream-subscribe.ts
Labels: cli-tools

add tests
  packages/cli-tools/test/stream-publish.test.ts
  packages/cli-tools/test/stream-subscribe.test.ts
Labels: cli-tools

fix merge
  packages/cli-tools/bin/streamr-stream-publish.ts
Labels: cli-tools

changelog
  CHANGELOG.md
Labels: docs

fix merge
  packages/cli-tools/bin/streamr-stream-publish.ts
Labels: cli-tools

explicit default
  packages/cli-tools/bin/streamr-stream-publish.ts
  packages/cli-tools/bin/streamr-stream-subscribe.ts
Labels: cli-tools

style
  packages/cli-tools/test/stream-publish.test.ts
Labels: cli-tools

Further env-specific adjustments
  package-lock.json
  packages/utils/jest.config.ts
  packages/utils/package.json
  packages/utils/rollup.config.mts
  packages/utils/src/Logger.ts
  packages/utils/src/TheGraphClient.ts
  packages/utils/src/browser/md5.ts
  packages/utils/src/executeSafePromise.ts
  packages/utils/src/exports.ts
  packages/utils/src/keyToArrayIndex.ts
  packages/utils/src/node/md5.ts
  packages/utils/tsconfig.browser.json
  packages/utils/tsconfig.jest.json
  packages/utils/tsconfig.node.json
Labels: utils

Fix tests and linting
  packages/utils/src/Logger.ts
  packages/utils/src/keyToArrayIndex.ts
Labels: utils

Lastly, fix karma
  packages/utils/karma.config.ts
Labels: utils

playwright test setup example
  packages/dht/PLAYWRIGHT_SETUP_COMPLETE.md
  packages/dht/PLAYWRIGHT_SUCCESS.md
  packages/dht/playwright-report/index.html
  packages/dht/playwright.config.ts
  packages/dht/test/playwright-setup/electron-main.js
  packages/dht/test/playwright-setup/electron-test-helper.ts
  packages/dht/test/playwright-setup/preload.js
  packages/dht/test/playwright/MIGRATION_GUIDE.md
  packages/dht/test/playwright/WebsocketServer.test.ts
Labels: dht

add missing package.json items
  package-lock.json
  packages/dht/package.json
  packages/dht/playwright-report/index.html
Labels: dht

Unbind `Logger` from `module` type
  packages/utils/src/Logger.ts
Labels: utils

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'
