Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

refactor: Use named imports for `EventEmitter` from `eventemitter3` (#3366)
  packages/dht/src/connection/Connection.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/PendingConnection.ts
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
  packages/dht/src/connection/websocket/AbstractWebsocketClientConnection.ts
  packages/dht/src/connection/websocket/WebsocketServer.ts
  packages/dht/src/connection/websocket/WebsocketServerConnection.ts
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/contact/ContactList.ts
  packages/dht/src/dht/contact/RingContactList.ts
  packages/dht/src/dht/contact/SortedContactList.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationSession.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/test/unit/AutoCertifierClientFacade.test.ts
  packages/dht/test/unit/Handshaker.test.ts
  packages/dht/test/utils/mock/MockConnection.ts
  packages/geoip-location/test/helpers/TestServer.ts
  packages/node/src/plugins/operator/StreamPartAssignments.ts
  packages/node/test/unit/plugins/operator/MaintainTopologyService.test.ts
  packages/node/test/unit/plugins/operator/StreamPartAssignments.test.ts
  packages/proto-rpc/src/ClientTransport.ts
  packages/proto-rpc/test/integration/toProtoRpcClient.test.ts
  packages/sdk/src/NetworkNodeFacade.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/contract.ts
  packages/sdk/src/subscribe/Subscription.ts
  packages/sdk/src/subscribe/ordering/OrderedMessageChain.ts
  packages/sdk/src/subscribe/resendSubscription.ts
  packages/sdk/src/utils/addStreamToStorageNode.ts
  packages/sdk/test/unit/resendSubscription.test.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PlumtreeManager.ts
Labels: node, network, dht, proto-rpc, sdk

fix(sdk): Fix circular dependency by removing redundant `tsyringe` setup import from `PersistenceManager` (#3367)
  packages/sdk/src/PersistenceManager.ts
Labels: sdk

refactor: Make `browser-test-runner` support `karma-setup.js` or `karma-setup.ts`
  packages/browser-test-runner/src/createKarmaConfig.ts
Labels: none

feat(browser-test-runner): Support TypeScript karma-setup files (#3368)
  packages/browser-test-runner/src/createKarmaConfig.ts
Labels: none

Include a tersered UMD build of the SDK, too
  package-lock.json
  packages/sdk/package.json
  packages/sdk/rollup.config.mts
Labels: sdk

Bundle `sdk`
  package-lock.json
  packages/sdk/bin/tsconfig.json
  packages/sdk/fix-esm.sh
  packages/sdk/package.json
  packages/sdk/rollup.config.mts
  packages/sdk/scripts/postbuild.sh
  packages/sdk/src/exports-browser.ts
  packages/sdk/src/exports-commonjs.js
  packages/sdk/src/exports-esm.mjs
  packages/sdk/src/exports.ts
  packages/sdk/src/index.ts
  packages/sdk/tsconfig.generated.json
  packages/sdk/tsconfig.json
  packages/sdk/tsconfig.node.json
Labels: sdk

Format
  packages/sdk/rollup.config.mts
Labels: sdk

refactor(sdk): Consolidate persistence types into single file
  packages/sdk/src/Persistence.types.ts
  packages/sdk/src/PersistenceManager.ts
  packages/sdk/src/_browser/Persistence.ts
  packages/sdk/src/_nodejs/Persistence.ts
  packages/sdk/src/utils/persistence/PersistenceContext.ts
  packages/sdk/src/utils/persistence/types.ts
Labels: sdk

refactor(sdk): Use cipheriv utils from `@streamr/utils`
  packages/sdk/src/encryption/EncryptionUtil.ts
Labels: sdk

refactor(sdk): Replace `crypto.randomBytes` with `@noble/post-quantum`
  packages/sdk/src/encryption/EncryptionUtil.ts
  packages/sdk/src/encryption/GroupKey.ts
  packages/sdk/src/encryption/GroupKeyManager.ts
  packages/sdk/test/test-utils/fake/FakeNetworkNode.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/GroupKey.test.ts
Labels: sdk

refactor(sdk): Move persistence implementations to platform-specific directories
  packages/sdk/src/PersistenceManager.ts
  packages/sdk/src/_browser/Persistence.ts
  packages/sdk/src/_nodejs/Persistence.ts
Labels: sdk

refactor(sdk): Rename `Persistence.ts` to `types.ts` in persistence utils
  packages/sdk/src/PersistenceManager.ts
  packages/sdk/src/utils/persistence/types.ts
Labels: sdk

Swap `stream` to `readable-stream` for browsers
  package-lock.json
  packages/sdk/package.json
  packages/sdk/rollup.config.mts
  packages/sdk/src/utils/WebStreamToNodeStream.ts
  packages/sdk/src/utils/utils.ts
Labels: sdk

Add `@/` path aliases for `_browser` and `_nodejs` folders in SDK
  packages/sdk/rollup.config.mts
  packages/sdk/tsconfig.browser-generated.json
  packages/sdk/tsconfig.browser.json
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.json
  packages/sdk/tsconfig.node-generated.json
  packages/sdk/tsconfig.node.json
Labels: sdk

Format
  packages/utils/src/browser/crypto.ts
Labels: utils

feat(utils): Add `publicEncrypt` and `privateDecrypt`
  package-lock.json
  packages/sdk/src/encryption/EncryptionUtil.ts
  packages/utils/package.json
  packages/utils/rollup.config.mts
  packages/utils/src/browser/crypto.ts
  packages/utils/src/exports.ts
  packages/utils/src/nodejs/crypto.ts
  packages/utils/src/public-encrypt.d.ts
Labels: sdk, utils

Alias `timers` properly
  package-lock.json
  packages/sdk/package.json
  packages/sdk/rollup.config.mts
Labels: sdk

refactor(sdk): Extract `RSAKeyPair` creation to environment-specific files
  packages/sdk/src/_browser/createRSAKeyPair.ts
  packages/sdk/src/_nodejs/createRSAKeyPair.ts
  packages/sdk/src/encryption/RSAKeyPair.ts
  packages/sdk/src/encryption/types.ts
  packages/utils/src/exports.ts
Labels: sdk, utils

refactor(sdk): Use URL for migrations path instead of string
  packages/sdk/src/Persistence.types.ts
  packages/sdk/src/PersistenceManager.ts
  packages/sdk/src/_nodejs/Persistence.ts
  packages/sdk/test/unit/ServerPersistence.test.ts
Labels: sdk

Format
  packages/utils/src/exports.ts
Labels: utils

Drill to resolve browser-ready modules + custom `randombytes`
  packages/utils/rollup.config.mts
  packages/utils/src/browser/randombytes.ts
Labels: utils

Missing casting
  packages/sdk/test/unit/WebStreamToNodeStream.test.ts
Labels: sdk

Let `nightwatch` pick `chromedriver` automatically
  packages/sdk/test/browser-smoke-test/nightwatch.conf.js
Labels: sdk

Add remaining aliases
  packages/sdk/jest.config.ts
  packages/sdk/webpack.config.js
Labels: sdk

Fix git info passed to jest
  packages/sdk/jest.setup.ts
Labels: sdk

Revert "Resolve yet another circular dependency"
  packages/sdk/src/PersistenceManager.ts
  packages/sdk/src/setupTsyringe.ts
  packages/sdk/src/subscribe/MessagePipelineFactory.ts
  packages/sdk/src/subscribe/Resends.ts
  packages/sdk/src/subscribe/Subscriber.ts
  packages/sdk/src/tokens.ts
Labels: sdk

Properly test Persistance (both browser and node versions)
  packages/sdk/src/Persistence.types.ts
  packages/sdk/src/_browser/Persistence.ts
  packages/sdk/test/unit/Persistence.test.ts
Labels: sdk

Update comment for bundled browser dependencies in rollup config
  packages/utils/rollup.config.mts
Labels: utils

Incl. the umd build in the package
  packages/sdk/package.json
Labels: sdk

Fix `this` → `undefined` rewrite (use `globalThis`)
  packages/sdk/rollup.config.mts
Labels: sdk

Drop fixed `chromedriver` version
  package-lock.json
  packages/sdk/package.json
Labels: sdk

Carry up-to-date asn1.js with the package
  package-lock.json
  packages/utils/package.json
Labels: utils

Fix sdk's karma
  packages/sdk/createKarmaConfig.ts
  packages/sdk/karma-setup.ts
Labels: sdk

Fix sdk's karma tests (attempt 0)
  packages/sdk/createKarmaConfig.ts
  packages/sdk/karma-end-to-end.config.ts
  packages/sdk/karma-integration.config.ts
  packages/sdk/karma-unit.config.ts
  packages/sdk/tsconfig.karma.json
Labels: sdk

There's no `build-browser` anymore – all bundles at once
  release.sh
Labels: none

Incl. all custom matchers, also in Karma
  packages/sdk/test/types/global.d.ts
  packages/sdk/tsconfig.karma.json
Labels: sdk

Resolve yet another circular dependency
  packages/sdk/src/PersistenceManager.ts
  packages/sdk/src/setupTsyringe.ts
  packages/sdk/src/subscribe/MessagePipelineFactory.ts
  packages/sdk/src/subscribe/Resends.ts
  packages/sdk/src/subscribe/Subscriber.ts
  packages/sdk/src/tokens.ts
Labels: sdk

Fix circular dependency by removing redundant tsyringe setup
  packages/sdk/src/PersistenceManager.ts
Labels: sdk

Force karma to use cjs build of DHT
  packages/sdk/createKarmaConfig.ts
Labels: sdk

Fix imports from (now-gone) sdk's index file
  packages/sdk/test/end-to-end/StreamrClient.test.ts
  packages/sdk/test/end-to-end/erc1271-publish-subscribe.test.ts
  packages/sdk/test/end-to-end/operatorContractUtils.test.ts
  packages/sdk/test/end-to-end/publish-subscribe-raw.test.ts
  packages/sdk/test/end-to-end/sponsorship-created-event.test.ts
  packages/sdk/test/integration/PublisherKeyExchange.test.ts
  packages/sdk/test/integration/SubscriberKeyExchange.test.ts
  packages/sdk/test/integration/quantum-policy.test.ts
  packages/sdk/test/test-utils/fake/FakeStreamStorageRegistry.ts
  packages/sdk/test/unit/SubscriptionSession.test.ts
Labels: sdk

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'
