Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

manual test: mulltiple sponsorships
  packages/node/bin/autostaker-manual-test.sh
Labels: node

payoutProportional strategy (mostly copy-paste from autostaker repo)
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/src/plugins/autostaker/types.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
  packages/utils/src/exports.ts
  packages/utils/src/sum.ts
Labels: node, utils

rm runAndWaitForEvents() and runAndRaceEvents() from test-utils
  packages/test-utils/src/index.ts
Labels: test-utils

unit tests
  packages/utils/test/raceEvents.test.ts
Labels: utils

inline runAndWaitForEvents()
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/utils/src/exports.ts
  packages/utils/src/raceEvents.ts
Labels: dht, utils

inline runAndRaceEvents()
  packages/dht/src/connection/connectivityChecker.ts
  packages/utils/src/exports.ts
  packages/utils/src/raceEvents.ts
Labels: dht, utils

chore(test-utils): Remove `runAndWaitForEvents()` and `runAndRaceEvents()` (#3124)
  packages/test-utils/src/index.ts
Labels: test-utils

test(utils): Tests for `raceEvents()` (#3125)
  packages/utils/test/raceEvents.test.ts
Labels: utils

refactor(dht): Inline `runAndWaitForEvents()` and `runAndRaceEvents()` (#3126)
  packages/dht/src/connection/connectivityChecker.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/utils/src/exports.ts
  packages/utils/src/raceEvents.ts
Labels: dht, utils

raceForEvent()
  packages/utils/src/exports.ts
  packages/utils/src/raceForEvent.ts
  packages/utils/test/raceForEvent.test.ts
Labels: utils

use raceForEvent() instead of raceEvents()
  packages/dht/src/connection/connectivityChecker.ts
  packages/dht/src/dht/routing/Router.ts
Labels: dht

rm raceEvents()
  packages/utils/src/exports.ts
  packages/utils/src/raceEvents.ts
Labels: utils

use toIncludeSameMembers() instead of toContainValues()
  packages/dht/test/integration/Mock-Layer1-Layer0.test.ts
Labels: dht

test(dht): Equality check in `Mock-Layer1-Layer0.test.ts` (#3129)
  packages/dht/test/integration/Mock-Layer1-Layer0.test.ts
Labels: dht

improve cleanup
  packages/utils/src/raceForEvent.ts
  packages/utils/test/raceForEvent.test.ts
Labels: utils

add comment
  packages/utils/src/raceForEvent.ts
Labels: utils

style
  packages/utils/src/raceForEvent.ts
Labels: utils

refactor(utils): Simple `raceForEvent()` (#3128)
  packages/dht/src/connection/connectivityChecker.ts
  packages/dht/src/dht/routing/Router.ts
  packages/utils/src/exports.ts
  packages/utils/src/raceEvents.ts
  packages/utils/src/raceForEvent.ts
  packages/utils/test/raceForEvent.test.ts
Labels: dht, utils

stricter test
  packages/sdk/test/end-to-end/searchStreams.test.ts
Labels: sdk

rm orderBy functionality
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/searchStreams.ts
  packages/sdk/src/exports.ts
  packages/sdk/test/unit/searchStreams.test.ts
Labels: sdk

doc: better recommendation
  docs/docs/streamr-network/smart-contracts.md
Labels: none

doc: PR review feedback
  docs/docs/streamr-network/incentives/network-incentives.md
  docs/docs/streamr-network/smart-contracts.md
Labels: none

Update docs/docs/streamr-network/smart-contracts.md
  docs/docs/streamr-network/smart-contracts.md
Labels: none

doc: usage docs for the tokenomics smart contracts
  docs/docs/streamr-network/incentives/network-incentives.md
  docs/docs/streamr-network/smart-contracts.md
Labels: none

doc: review changes
  docs/docs/streamr-network/smart-contracts.md
Labels: none

tiny docs fixes
  docs/docs/streamr-network/security/quantum-security.md
Labels: none

tiny docs tweak
  docs/docs/usage/streams/permissions.md
Labels: none

query the results directly from the Stream entity instead of using StreamPermission entitity
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/searchStreams.ts
  packages/utils/src/TheGraphClient.ts
Labels: sdk, utils

doc: usage docs for the tokenomics smart contracts (#3082)
  docs/docs/streamr-network/incentives/network-incentives.md
  docs/docs/streamr-network/smart-contracts.md
Labels: none

use StreamrClient#getTheGraphClient()
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
Labels: node

grant controller role to the node
  packages/node/bin/autostaker-manual-test.sh
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/config.schema.json
Labels: node

cli-tools command
  packages/cli-tools/bin/streamr-internal-operator-grant-controller-role.ts
  packages/cli-tools/bin/streamr-internal.ts
  packages/cli-tools/test/internal-operator.test.ts
Labels: cli-tools

cli-tools command
  packages/cli-tools/bin/streamr-internal-operator-grant-controller-role.ts
  packages/cli-tools/bin/streamr-internal.ts
  packages/cli-tools/test/internal-operator.test.ts
Labels: cli-tools

feat(cli-tools): Add internal `operator-grant-controller-role` command (#3135)
  packages/cli-tools/bin/streamr-internal-operator-grant-controller-role.ts
  packages/cli-tools/bin/streamr-internal.ts
  packages/cli-tools/test/internal-operator.test.ts
Labels: cli-tools

rename SponsorshipState
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/src/plugins/autostaker/types.ts
Labels: node

rm obsolete totalStakedWei field
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/types.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

rm guard
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node

refactor: getTargetStakes()
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
Labels: node

rename SponsorshipId
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/src/plugins/autostaker/types.ts
Labels: node

tests
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
Labels: node
