Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

Don't pre-init the "root" logger
  packages/utils/src/Logger.ts
Labels: utils

Lazy-init signing utils
  packages/utils/src/SigningUtil.ts
Labels: utils

Don't prefer buildins when targetting browser
  packages/utils/rollup.config.mts
Labels: utils

Export `computeMd5`
  packages/utils/src/exports.ts
Labels: utils

Bundle `autocertifier-client`
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-client/rollup.config.mts
  packages/autocertifier-client/tsconfig.json
Labels: none

Bundle `proto-rpc`
  package-lock.json
  packages/proto-rpc/package.json
  packages/proto-rpc/rollup.config.mts
  packages/proto-rpc/tsconfig.json
Labels: proto-rpc

Bundle `test-utils`
  package-lock.json
  packages/test-utils/customMatcherTypes.d.ts
  packages/test-utils/package.json
  packages/test-utils/rollup.config.mts
  packages/test-utils/setupCustomMatchers.js
  packages/test-utils/src/customMatcherTypes.ts
  packages/test-utils/src/customMatchers.ts
  packages/test-utils/src/setupCustomMatchers.ts
  packages/test-utils/test/customMatchers.test.ts
  packages/test-utils/tsconfig.json
Labels: test-utils

Bundle `geoip-location`
  package-lock.json
  packages/geoip-location/package.json
  packages/geoip-location/rollup.config.mts
  packages/geoip-location/tsconfig.json
Labels: none

Bundle `browser-test-runner`
  package-lock.json
  packages/browser-test-runner/package.json
  packages/browser-test-runner/rollup.config.mts
  packages/browser-test-runner/src/createKarmaConfig.ts
  packages/browser-test-runner/tsconfig.json
Labels: none

Bundle `cdn-location`
  package-lock.json
  packages/cdn-location/package.json
  packages/cdn-location/rollup.config.mts
  packages/cdn-location/tsconfig.json
Labels: none

Bundle `trackerless-network`
  package-lock.json
  packages/trackerless-network/package.json
  packages/trackerless-network/rollup.config.mts
  packages/trackerless-network/src/ContentDeliveryManager.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PlumtreeManager.ts
  packages/trackerless-network/tsconfig.json
  packages/utils/package.json
  packages/utils/src/browser/crypto.ts
  packages/utils/src/exports.ts
  packages/utils/src/node/crypto.ts
Labels: network, utils

Drop redundant dom lib injection
  packages/dht/src/browser/WebrtcConnection.ts
Labels: dht

Explicit karma tsconfig types
  packages/dht/tsconfig.karma.json
  packages/proto-rpc/tsconfig.karma.json
  packages/trackerless-network/tsconfig.karma.json
  packages/utils/tsconfig.karma.json
  tsconfig.karma.json
Labels: network, dht, proto-rpc, utils

Revert "Explicit karma tsconfig types"
  packages/dht/tsconfig.karma.json
  packages/proto-rpc/tsconfig.karma.json
  packages/trackerless-network/tsconfig.karma.json
  packages/utils/tsconfig.karma.json
  tsconfig.karma.json
Labels: network, dht, proto-rpc, utils

Only focus on the different ones
  packages/utils/tsconfig.karma.json
Labels: utils

refactor: Customize tsconfig `types` declaration for `utils` (#3327)
  packages/utils/tsconfig.karma.json
Labels: utils

Update `baseline-browser-mapping` – btr's webpack dep
  package-lock.json
  packages/browser-test-runner/package.json
Labels: none

Revert "Update `baseline-browser-mapping` – btr's webpack dep"
  package-lock.json
  packages/browser-test-runner/package.json
Labels: none

Update just the package, don't add the package as our own
  package-lock.json
Labels: none

chore: Update browser test runner dev deps (#3328)
  package-lock.json
Labels: none

refactor: Enable `noImplicitOverride` on the remaining non-generated code (#3304)
  packages/autocertifier-client/tsconfig.generated.json
  packages/autocertifier-client/tsconfig.json
  packages/autocertifier-server/tsconfig.json
  packages/cli-tools/tsconfig.json
  packages/dht/package.json
  packages/dht/test/unit/PeerManager.test.ts
  packages/dht/test/utils/utils.ts
  packages/dht/tsconfig.generated.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.json
  packages/proto-rpc/package.json
  packages/proto-rpc/tsconfig.generated.json
  packages/proto-rpc/tsconfig.jest.json
  packages/proto-rpc/tsconfig.json
  packages/sdk/package.json
  packages/sdk/src/identity/EthereumKeyPairIdentity.ts
  packages/sdk/tsconfig.generated.json
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.json
  packages/trackerless-network/package.json
  packages/trackerless-network/tsconfig.generated.json
  packages/trackerless-network/tsconfig.jest.json
  packages/trackerless-network/tsconfig.json
Labels: network, dht, proto-rpc, sdk, cli-tools

Rearrange
  packages/utils/jest.config.ts
  packages/utils/package.json
  packages/utils/rollup.config.mts
  packages/utils/src/nodejs/crypto.ts
  packages/utils/src/nodejs/env.ts
  packages/utils/tsconfig.browser.json
  packages/utils/tsconfig.jest.json
  packages/utils/tsconfig.karma.json
  packages/utils/tsconfig.node.json
Labels: utils

refactor [NET-1606]: Bundle `utils` separately for browser and NodeJS (#3321)
  Dockerfile.node
  package-lock.json
  packages/utils/jest.config.ts
  packages/utils/karma.config.ts
  packages/utils/package.json
  packages/utils/rollup.config.mts
  packages/utils/src/Logger.ts
  packages/utils/src/SigningUtil.ts
  packages/utils/src/browser/crypto.ts
  packages/utils/src/browser/env.ts
  packages/utils/src/browser/os.ts
  packages/utils/src/crossPlatformCrypto.ts
  packages/utils/src/exports-browser.ts
  packages/utils/src/exports.ts
  packages/utils/src/keyToArrayIndex.ts
  packages/utils/src/nodejs/crypto.ts
  packages/utils/src/nodejs/env.ts
  packages/utils/test/Metric.test.ts
  packages/utils/test/composeAbortSignals.test.ts
  packages/utils/tsconfig.browser.json
  packages/utils/tsconfig.json
  packages/utils/tsconfig.node.json
  tsconfig.browser.json
Labels: utils

refactor: Side-effect free `utils` (#3322)
  packages/utils/src/Logger.ts
  packages/utils/src/SigningUtil.ts
  packages/utils/src/binaryUtils.ts
  packages/utils/src/executeSafePromise.ts
Labels: utils

Let's see if we can isolate i/o easily
  packages/autocertifier-client/package.json
  packages/autocertifier-client/rollup.config.mts
  packages/autocertifier-client/tsconfig.json
Labels: none

Bundle `autocertifier-client`
  packages/autocertifier-client/package.json
  packages/autocertifier-client/rollup.config.mts
  packages/autocertifier-client/tsconfig.json
Labels: none

Explicit mjs for imports
  packages/autocertifier-client/package.json
  packages/autocertifier-client/rollup.config.mts
Labels: none

Pre-flatten
  packages/autocertifier-client/rollup.config.mts
  packages/autocertifier-client/tsconfig.json
Labels: none

Simplify exports
  packages/autocertifier-client/package.json
Labels: none

Update package-lock
  package-lock.json
Labels: none

Don't use mjs
  packages/autocertifier-client/package.json
  packages/autocertifier-client/rollup.config.mts
  packages/utils/package.json
  packages/utils/rollup.config.mts
Labels: utils

Update `utils` rollup
  package-lock.json
  packages/utils/package.json
Labels: utils

refactor: Bundle `autocertifier-client` (#3330)
  package-lock.json
  packages/autocertifier-client/package.json
  packages/autocertifier-client/rollup.config.mts
  packages/autocertifier-client/tsconfig.json
  packages/utils/package.json
  packages/utils/rollup.config.mts
Labels: utils

Bundle `cdn-location`
  package-lock.json
  packages/cdn-location/package.json
  packages/cdn-location/rollup.config.mts
  packages/cdn-location/tsconfig.json
Labels: none

Bundle `geoip-location`
  package-lock.json
  packages/geoip-location/package.json
  packages/geoip-location/rollup.config.mts
  packages/geoip-location/tsconfig.json
Labels: none

Simplify exports
  packages/cdn-location/package.json
  packages/cdn-location/rollup.config.mts
  packages/geoip-location/package.json
  packages/geoip-location/rollup.config.mts
Labels: none

Update rollup
  package-lock.json
  packages/cdn-location/package.json
  packages/geoip-location/package.json
Labels: none

Update docket image build
  Dockerfile.node
Labels: none

Bundle `browser-test-runner`
  package-lock.json
  packages/browser-test-runner/package.json
  packages/browser-test-runner/rollup.config.mts
  packages/browser-test-runner/src/createKarmaConfig.ts
  packages/browser-test-runner/src/createWebpackConfig.ts
  packages/browser-test-runner/src/karma-setup.js
  packages/browser-test-runner/tsconfig.json
Labels: none

Scope `reset-self` to `dist/` for speed
  packages/autocertifier-client/package.json
  packages/browser-test-runner/package.json
  packages/utils/package.json
Labels: utils

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'
