Repository streamr-dev/network, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, docs, node, browser-test-runner, network, dht, proto-rpc, sdk, test-utils, utils, cli-tools, changelog

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'
docs:
  - changed-files:
      - any-glob-to-any-file: '**.md'
      - any-glob-to-any-file: '*.md'
node:
  - changed-files:
      - any-glob-to-any-file: 'packages/node/*'
      - any-glob-to-any-file: 'packages/node/**/*'
browser-test-runner:
  - changed-files:
      - any-glob-to-any-file: 'package/browser-test-runner/*'
      - any-glob-to-any-file: 'package/browser-test-runner/**/*'
network:
  - changed-files:
      - any-glob-to-any-file: 'packages/trackerless-network/*'
      - any-glob-to-any-file: 'packages/trackerless-network/**/*'
dht:
  - changed-files:
      - any-glob-to-any-file: 'packages/dht/*'
      - any-glob-to-any-file: 'packages/dht/**/*'
proto-rpc:
  - changed-files:
      - any-glob-to-any-file: 'packages/proto-rpc/*'
      - any-glob-to-any-file: 'packages/proto-rpc/**/*'
sdk:
  - changed-files:
      - any-glob-to-any-file: 'packages/sdk/*'
      - any-glob-to-any-file: 'packages/sdk/**/*'
test-utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/test-utils/*'
      - any-glob-to-any-file: 'packages/test-utils/**/*'
utils:
  - changed-files:
      - any-glob-to-any-file: 'packages/utils/*'
      - any-glob-to-any-file: 'packages/utils/**/*'
cli-tools:
  - changed-files:
      - any-glob-to-any-file: 'packages/cli-tools/*'
      - any-glob-to-any-file: 'packages/cli-tools/**/*'
changelog:
  - changed-files:
      - any-glob-to-any-file: 'packages/*/CHANGELOG.md'

esslint
  packages/trackerless-network/test/integration/ContentDeliveryRpcRemote.test.ts
  packages/trackerless-network/test/integration/HandshakeRpcRemote.test.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/integration/NeighborUpdateRpcRemote.test.ts
Labels: network

eslint
  packages/trackerless-network/test/unit/HandshakeRpcLocal.test.ts
Labels: network

Patch usage notes for Gatsby
  docs/docs/usage/sdk/how-to-use.md
Labels: none

SDK: Fix esm export
  packages/sdk/src/exports-esm.mjs
  packages/sdk/src/index.ts
Labels: sdk

Drop rollup docs for now
  docs/docs/usage/sdk/how-to-use.md
Labels: none

Again, fix esm exports
  packages/sdk/src/exports-esm.mjs
  packages/sdk/src/index.ts
Labels: sdk

ci: use ubuntu-latest as docker host machine in docker-build.yml
  .github/workflows/docker-build.yml
Labels: ci

ci: use ubuntu-latest as docker host machine in docker-build.yml (#3037)
  .github/workflows/docker-build.yml
Labels: ci

update package-lock.json
  package-lock.json
Labels: none

chore(sdk): remove lit protcol integration (for now)
  packages/sdk/package.json
  packages/sdk/src/Config.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/encryption/GroupKeyManager.ts
  packages/sdk/src/encryption/LitProtocolFacade.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/GroupKeyManager.test.ts
  packages/sdk/test/unit/StreamrClient.test.ts
  packages/sdk/test/unit/messagePipeline.test.ts
Labels: sdk

docs: update docs
  docs/docs/streamr-network/security/key-encryption.md
  docs/docs/usage/streams/store-and-retrieve.md
Labels: none

fix eslint
  packages/sdk/src/StreamrClient.ts
Labels: sdk

add changelog entry
  CHANGELOG.md
Labels: docs

fix: NET-1428: Ensure proper ESM/CJS entry point in the "browser" export (#3019)
  CHANGELOG.md
  docs/docs/usage/sdk/how-to-use.md
  eslint.config.mjs
  package-lock.json
  packages/autocertifier-server/package.json
  packages/browser-test-runner/package.json
  packages/browser-test-runner/src/createWebpackConfig.ts
  packages/dht/.npmignore
  packages/dht/karma.config.js
  packages/dht/package.json
  packages/dht/scripts/postbuild.sh
  packages/dht/scripts/rewrite-package.ts
  packages/dht/test/integration/ConnectionLocking.test.ts
  packages/dht/test/unit/createPeerDescriptor.test.ts
  packages/dht/tsconfig.browser.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.node.json
  packages/proto-rpc/karma.config.js
  packages/sdk/.npmignore
  packages/sdk/copy-package.js
  packages/sdk/copy-package.sh
  packages/sdk/karma-end-to-end.config.js
  packages/sdk/karma-integration.config.js
  packages/sdk/karma-unit.config.js
  packages/sdk/package.json
  packages/sdk/scripts/postbuild.sh
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/exports-esm.mjs
  packages/sdk/test/exports/webpack.config.js
  packages/sdk/tsconfig.browser.json
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.node.json
  packages/sdk/webpack-karma.config.js
  packages/sdk/webpack.config.js
  packages/trackerless-network/karma.config.js
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/utils/karma.config.js
  release.sh
Labels: docs, network, dht, proto-rpc, sdk, utils

always use createMockPerDescriptor
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/utils/utils.ts
Labels: dht

always use createMockPeerDescriptor
  packages/trackerless-network/test/unit/NodeList.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

eslint
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/WebsocketConnectionManagement.test.ts
Labels: dht

chore(utils): replace .npmignore with files property
  packages/utils/.npmignore
  packages/utils/package.json
Labels: utils

update node-datachannel to 0.26.0
  package-lock.json
  package.json
  packages/dht/package.json
Labels: dht

chore(cdn-location): add files property
  packages/cdn-location/package.json
Labels: none

chore(geoip-location): add files property
  packages/geoip-location/package.json
Labels: none

eslint
  packages/trackerless-network/test/unit/NodeList.test.ts
Labels: network

chore(proto-rpc): replace .npmignore with files property
  packages/proto-rpc/.npmignore
  packages/proto-rpc/package.json
Labels: proto-rpc

chore(autocertifier-client): add files property
  packages/autocertifier-client/package.json
Labels: none

chore(autocertifier-server): add files property
  packages/autocertifier-server/package.json
Labels: none

PR comments
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/WebrtcConnectionManagement.test.ts
Labels: dht

refactor(network): always use createMockDescriptor in trackerless-network tests (#3034)
  packages/trackerless-network/test/integration/ContentDeliveryRpcRemote.test.ts
  packages/trackerless-network/test/integration/HandshakeRpcRemote.test.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/integration/NeighborUpdateRpcRemote.test.ts
  packages/trackerless-network/test/unit/HandshakeRpcLocal.test.ts
  packages/trackerless-network/test/unit/NodeList.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

eslint
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/WebrtcConnectionManagement.test.ts
Labels: dht

use random id in test
  packages/dht/test/integration/WebrtcConnectionManagement.test.ts
Labels: dht

throttle experiments
  packages/trackerless-network/experiment/ExperimentController.ts
Labels: network

fix build
  package-lock.json
Labels: none

chore(sdk)!: remove lit-protocol integration (#3036)
  CHANGELOG.md
  docs/docs/streamr-network/security/key-encryption.md
  docs/docs/usage/streams/store-and-retrieve.md
  package-lock.json
  packages/sdk/package.json
  packages/sdk/src/Config.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/encryption/GroupKeyManager.ts
  packages/sdk/src/encryption/LitProtocolFacade.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/GroupKeyManager.test.ts
  packages/sdk/test/unit/StreamrClient.test.ts
  packages/sdk/test/unit/messagePipeline.test.ts
Labels: docs, sdk

sdk: commit updated validateConfig.js
  packages/sdk/src/generated/validateConfig.js
Labels: sdk

chore(trackerless-network): replace .npmignore with files property
  packages/trackerless-network/.npmignore
  packages/trackerless-network/package.json
Labels: network

chore(node): replace .npmignore with files property
  packages/node/.npmignore
  packages/node/package.json
Labels: node

chore(cli-tools): replace .npmignore with files property
  packages/cli-tools/.npmignore
  packages/cli-tools/package.json
Labels: cli-tools

add more entry points in time to data tests
  packages/trackerless-network/experiment/ExperimentController.ts
Labels: network

chore(DHT): update node-datachannel to 0.26.0 (#3039)
  package-lock.json
  package.json
  packages/dht/package.json
Labels: dht

merged srt plugin with v102.1.0
  Dockerfile.node
  package-lock.json
  packages/node/package.json
  packages/node/src/config/ConfigWizard.ts
  packages/node/src/pluginRegistry.ts
  packages/node/src/plugins/srt/SRTPlugin.ts
  packages/node/src/plugins/srt/config.schema.json
  packages/node/tsconfig.json
Labels: node

increase routing table sizes
  packages/dht/src/dht/routing/RoutingSession.ts
Labels: dht
