Repository streamr-dev/network, pull requests merged in 2021-08, with the labels that each got.

#136 Net 398: add STUN/TURN config to broker
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/src/ConfigWizard.ts
  packages/broker/src/broker.ts
  packages/broker/src/config.ts
  packages/broker/src/helpers/config.schema.json
Labels: broker

#137 Browser-node, abstraction fixes
  packages/broker/test/integration/plugins/legacyWebsocket/ping-pong.test.ts
  packages/broker/test/integration/plugins/storage/DataMetadataEndpoints.test.ts
  packages/network/karma-setup.js
  packages/network/package.json
  packages/network/preload.js
  packages/network/src/connection/BrowserWebRtcConnection.ts
  packages/network/src/connection/ws/AbstractClientWsEndpoint.ts
  packages/network/src/connection/ws/BrowserClientWsEndpoint.ts
  packages/network/src/connection/ws/NodeClientWsEndpoint.ts
  packages/network/src/connection/ws/ServerWsEndpoint.ts
  packages/network/src/identifiers.ts
  packages/network/src/protocol/NodeToNode.ts
  packages/network/src/protocol/TrackerNode.ts
  packages/network/src/protocol/TrackerServer.ts
  packages/network/test/unit/ServerWsEndpoint.test.ts
  packages/protocol/src/utils/index.ts
Labels: broker, network, protocol

#134 NET-289: Update to node16
  .DS_Store
  .github/workflows/broker.yml
  .github/workflows/client-build.yml
  .github/workflows/client-code.yml
  .github/workflows/client-dataunions.yml
  .github/workflows/network.yml
  .github/workflows/protocol.yml
  .github/workflows/test-utils.yml
  .gitignore
  Dockerfile
  packages/.DS_Store
  packages/broker/.gitignore
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/package-lock.json
  packages/broker/src/ConfigWizard.ts
  packages/broker/src/broker.ts
  packages/broker/src/config.ts
  packages/broker/src/helpers/config.schema.json
  packages/broker/test/integration/plugins/legacyWebsocket/ping-pong.test.ts
  packages/broker/test/integration/plugins/storage/DataMetadataEndpoints.test.ts
  packages/broker/test/utils.ts
  packages/cli-tools/package-lock.json
  packages/client/.gitignore
  packages/client/package-lock.json
  packages/client/package.json
  packages/client/test/unit/Connection.test.ts
  packages/cross-client-testing/.gitignore
  packages/dev-config/package-lock.json
  packages/network/.gitignore
  packages/network/karma-setup.js
  packages/network/package-lock.json
  packages/network/package.json
  packages/network/preload.js
  packages/network/src/browser/LocationManager.ts
  packages/network/src/connection/BrowserWebRtcConnection.ts
  packages/network/src/connection/ws/AbstractClientWsEndpoint.ts
  packages/network/src/connection/ws/BrowserClientWsEndpoint.ts
  packages/network/src/connection/ws/NodeClientWsEndpoint.ts
  packages/network/src/connection/ws/ServerWsEndpoint.ts
  packages/network/src/identifiers.ts
  packages/network/src/protocol/NodeToNode.ts
  packages/network/src/protocol/TrackerNode.ts
  packages/network/src/protocol/TrackerServer.ts
  packages/network/test/integration/delivery-of-messages-protocol-layer.test.ts
  packages/network/test/unit/ServerWsEndpoint.test.ts
  packages/network/webpack.config.js
  packages/protocol/.gitignore
  packages/protocol/package-lock.json
  packages/protocol/src/utils/index.ts
  packages/protocol/test/integration/StorageNodeRegistry.test.ts
  packages/protocol/test/integration/TrackerRegistry.test.ts
  packages/test-utils/package-lock.json
Labels: ci, broker, network, client, protocol, test-utils, cli-tools, dev-config

#140 fix: local dev tracker ids
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
Labels: broker

#141 fix: protocol integration tests
  packages/protocol/test/integration/TrackerRegistry.test.ts
Labels: protocol

#139 NET-387 broker: plugin documentation
  packages/broker/README.md
  packages/broker/plugins.md
Labels: broker

#133 NET-384: Config should accept ethereumPrivateKey with and without 0x prefix
  packages/broker/configs/development-1.env.json
  packages/broker/src/helpers/config.schema.json
Labels: broker

#142 Add node utils
  packages/protocol/package-lock.json
  packages/protocol/package.json
  packages/protocol/src/utils/NodeUtil.ts
  packages/protocol/src/utils/index.ts
  packages/protocol/test/unit/utils/NodeUtil.test.ts
Labels: protocol

#128 NET-329: Storage crash in production due to null payloads on cassandra
  packages/broker/src/plugins/storage/Storage.ts
  packages/broker/test/sequential/plugins/storage/CassandraNullPayloads.test.ts
Labels: broker

#147 NET-416: pass nat type and broker version metadata to tracker
  packages/broker/src/plugins/testnetMiner/TestnetMinerPlugin.ts
  packages/broker/test/integration/plugins/testnetMiner/TestnetMinerPlugin.test.ts
  packages/network/src/NetworkNode.ts
  packages/network/src/helpers/trackerHttpEndpoints.ts
  packages/network/src/identifiers.ts
  packages/network/src/logic/Node.ts
  packages/network/src/logic/Tracker.ts
  packages/network/test/integration/tracker-endpoints.test.ts
Labels: broker, network

#146 NET-399: Update Package.json metadata for all monorepo packages
  packages/broker/package.json
  packages/cli-tools/package.json
  packages/client/package.json
  packages/cross-client-testing/package.json
  packages/dev-config/package.json
  packages/network/package.json
  packages/protocol/package.json
  packages/test-utils/package.json
Labels: broker, network, client, protocol, test-utils, cli-tools, dev-config, cross-client-testing

#149 fix: config-wizard default stun
  packages/broker/src/ConfigWizard.ts
Labels: broker

#145 NET-404 broker: config defaults
  packages/broker/plugins.md
  packages/broker/src/broker.ts
  packages/broker/src/config.ts
  packages/broker/src/helpers/config.schema.json
  packages/broker/src/helpers/validateConfig.ts
  packages/broker/src/plugins/legacyWebsocket/config.schema.json
  packages/broker/src/plugins/mqtt/config.schema.json
  packages/broker/src/plugins/storage/config.schema.json
  packages/broker/src/plugins/testnetMiner/config.schema.json
  packages/broker/src/plugins/websocket/config.schema.json
  packages/broker/test/utils.ts
Labels: broker

#132 NET-390: broker (config wizard): safety measures to prevent overwriting private keys
  packages/broker/bin/config-wizard.js
  packages/broker/src/ConfigWizard.ts
  packages/broker/test/unit/ConfigWizard.test.ts
Labels: broker

#143 NET-320: broker metrics into a plugin
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/development-prod-resend.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/src/ConfigWizard.ts
  packages/broker/src/StorageNodeRegistry.ts
  packages/broker/src/broker.ts
  packages/broker/src/config.ts
  packages/broker/src/helpers/config.schema.json
  packages/broker/src/plugins/metrics/ConsoleAndPM2Metrics.ts
  packages/broker/src/plugins/metrics/MetricsPlugin.ts
  packages/broker/src/plugins/metrics/StreamMetrics.ts
  packages/broker/src/plugins/metrics/VolumeLogger.ts
  packages/broker/src/plugins/metrics/config.schema.json
  packages/broker/test/integration/per-node-metrics.test.ts
  packages/broker/test/integration/plugins/storage/StoragePlugin.test.ts
  packages/broker/test/unit/ConfigWizard.test.ts
  packages/broker/test/utils.ts
Labels: broker

#150 network [NET-417]: add HTTP endpoint to tracker to query the streams of a node
  packages/network/src/helpers/trackerHttpEndpoints.ts
  packages/network/src/logic/trackerSummaryUtils.ts
  packages/network/test/integration/tracker-endpoints.test.ts
Labels: network

#144 NET-414: Refactor broker's ConfigWizard
  packages/broker/package.json
  packages/broker/src/ConfigWizard.ts
  packages/broker/test/unit/ConfigWizard.test.ts
Labels: broker

#151 NET-403: Increase default maxClaimDelay in broker-node configuration
  packages/broker/src/ConfigWizard.ts
Labels: broker

#152 NET-400: Add welcome message with mnemonic and node explorer url upon config wizard and broker startup
  packages/broker/src/ConfigWizard.ts
  packages/broker/src/broker.ts
Labels: broker

#154 fix: broker default ports
  packages/broker/plugins.md
  packages/broker/src/helpers/config.schema.json
  packages/broker/src/plugins/websocket/config.schema.json
  packages/broker/test/utils.ts
Labels: broker

#153 NET-430: default STUN addresses
  packages/broker/src/ConfigWizard.ts
  packages/broker/src/plugins/testnetMiner/config.schema.json
Labels: broker

#156 network, broker [NET-347]: report webrtc failed connections
  packages/broker/src/plugins/metrics/StreamMetrics.ts
  packages/network/src/connection/WebRtcConnection.ts
  packages/network/src/connection/WebRtcEndpoint.ts
Labels: broker, network

#159 NET-429: Fix broker's startup logging message
  packages/broker/src/broker.ts
Labels: broker

#158 NET-342: ConfigWizard generation of apiAuthentication.keys
  packages/broker/src/ConfigWizard.ts
  packages/broker/test/unit/ConfigWizard.test.ts
Labels: broker

#160 broker [NET-418]: node metrics implemented without resends
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/development-prod-resend.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/package-lock.json
  packages/broker/package.json
  packages/broker/src/ConfigWizard.ts
  packages/broker/src/helpers/scheduler.ts
  packages/broker/src/plugins/metrics/MetricsPlugin.ts
  packages/broker/src/plugins/metrics/StreamMetrics.ts
  packages/broker/src/plugins/metrics/VolumeLogger.ts
  packages/broker/src/plugins/metrics/config.schema.json
  packages/broker/src/plugins/metrics/node/MetricsPublisher.ts
  packages/broker/src/plugins/metrics/node/NodeMetrics.ts
  packages/broker/src/plugins/metrics/node/Sample.ts
  packages/broker/test/integration/per-node-metrics.test.ts
  packages/broker/test/integration/plugins/metrics/node/NodeMetrics.test.ts
  packages/broker/test/unit/plugins/metrics/node/NodeMetrics.test.ts
  packages/broker/test/utils.ts
Labels: broker

#163 NET-442: Broker's config wizard issue with creating .streamr path in home folder
  packages/broker/src/ConfigWizard.ts
  packages/broker/test/unit/ConfigWizard.test.ts
Labels: broker

#176 fix: separate peer and tracker ping intervals + less aggressive defaults
  packages/network/src/composition.ts
  packages/network/src/connection/WebRtcConnection.ts
  packages/network/src/connection/WebRtcEndpoint.ts
  packages/network/src/connection/ws/AbstractWsEndpoint.ts
  packages/network/test/integration/tracker-node-status.test.ts
  packages/network/test/integration/webrtc-error-scenarios-during-signalling.test.ts
Labels: network

#177 Overlay topology optimizations
  packages/network/src/logic/OverlayTopology.ts
  packages/network/test/benchmarks/join-leave-performance.ts
Labels: network

#178 feat(tracker): accept x-forwarded-for header on connections from 127.0.0.1
  packages/network/src/connection/ws/ServerWsEndpoint.ts
Labels: network

#164 NET-444: Config wizard; user-provided ports written as strings instead of numbers
  packages/broker/src/ConfigWizard.ts
  packages/broker/test/unit/ConfigWizard.test.ts
Labels: broker

#165 ci: Build linux/arm64 Docker container with GitHub Actions
  .github/workflows/broker.yml
Labels: ci, broker
