Repository streamr-dev/network, pull requests merged in 2021-12, with the labels that each got.

#275 refactor: rename StreamOperation -> StreamPermission
  packages/client/src/Stream.ts
  packages/client/src/StreamEndpoints.ts
  packages/client/src/StreamRegistry.ts
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/MultipleClients.test.ts
  packages/client/test/integration/StreamEndpoints.test.ts
Labels: client

#295 broker [NET-268]: Sequence numbers in storage queries
  packages/broker/src/plugins/storage/DataQueryEndpoints.ts
  packages/broker/src/plugins/storage/Storage.ts
  packages/broker/test/integration/plugins/storage/Storage.test.ts
  packages/broker/test/integration/plugins/storage/cassanda-queries.test.ts
  packages/broker/test/unit/plugins/storage/DataQueryEndpoints.test.ts
Labels: broker

#289 Net-582: Client-side
  package-lock.json
  packages/client/package.json
  packages/client/src/BrubeckNode.ts
  packages/client/src/Config.ts
  packages/client/src/Publisher.ts
  packages/client/test/integration/ProxyPublishing.test.ts
  packages/client/test/integration/SubscriberResendsSequential.test.ts
  packages/client/test/unit/WebStreamToNodeStream.test.ts
  packages/cross-client-testing/package.json
  packages/network/src/logic/node/Node.ts
  packages/network/src/logic/node/TrackerConnector.ts
  packages/network/test/integration/publish-only-stream-connection.test.ts
Labels: network, client, cross-client-testing

#290 Node 16
  .github/workflows/client-build.yml
  .github/workflows/client-code.yml
  .github/workflows/protocol.yml
  .github/workflows/test-utils.yml
  package-lock.json
  package.json
  packages/broker/package.json
  packages/cli-tools/package.json
  packages/client/package.json
  packages/client/src/encryption/Encryption.ts
  packages/client/src/encryption/WebCrypto.ts
  packages/client/src/shim/crypto.ts
  packages/client/tsconfig.browser.json
  packages/client/webpack.config.js
  packages/dev-config/package.json
  packages/dev-config/ts/tsconfig.node.json
  packages/network/package.json
  packages/protocol/package.json
  packages/test-utils/package.json
Labels: ci, broker, network, client, protocol, test-utils, cli-tools, dev-config

#287 Net-582: Allow one-way connections on the network layer
  package-lock.json
  packages/broker/package-lock.json
  packages/broker/package.json
  packages/broker/src/broker.ts
  packages/broker/src/config.ts
  packages/broker/src/helpers/config.schema.json
  packages/broker/src/pluginRegistry.ts
  packages/broker/src/plugins/subscriber/SubscriberPlugin.ts
  packages/broker/src/plugins/subscriber/config.schema.json
  packages/broker/test/integration/plugins/subscriber/SubscriberPlugin.test.ts
  packages/broker/test/utils.ts
  packages/client/package.json
  packages/client/src/BrubeckNode.ts
  packages/client/src/Config.ts
  packages/client/src/Publisher.ts
  packages/client/test/integration/ProxyPublishing.test.ts
  packages/client/test/integration/SubscriberResendsSequential.test.ts
  packages/client/test/unit/WebStreamToNodeStream.test.ts
  packages/cross-client-testing/package.json
  packages/network/package-lock.json
  packages/network/package.json
  packages/network/src/connection/WebRtcEndpoint.ts
  packages/network/src/createNetworkNode.ts
  packages/network/src/logic/node/NetworkNode.ts
  packages/network/src/logic/node/Node.ts
  packages/network/src/logic/node/StreamManager.ts
  packages/network/src/logic/node/TrackerConnector.ts
  packages/network/src/logic/node/TrackerManager.ts
  packages/network/src/logic/tracker/Tracker.ts
  packages/network/src/protocol/NodeToNode.ts
  packages/network/test/integration/publish-only-stream-connection.test.ts
  packages/protocol/package-lock.json
  packages/protocol/src/protocol/control_layer/ControlMessage.ts
  packages/protocol/src/protocol/control_layer/index.ts
  packages/protocol/src/protocol/control_layer/publish_stream_connection_request/PublishStreamConnectionRequest.ts
  packages/protocol/src/protocol/control_layer/publish_stream_connection_request/PublishStreamConnectionRequestSerializerV1.ts
  packages/protocol/src/protocol/control_layer/publish_stream_connection_request/PublishStreamConnectionRequestSerializerV2.ts
  packages/protocol/src/protocol/control_layer/publish_stream_connection_request/PublishStreamConnectionResponse.ts
  packages/protocol/src/protocol/control_layer/publish_stream_connection_request/PublishStreamConnectionResponseSerializerV1.ts
  packages/protocol/src/protocol/control_layer/publish_stream_connection_request/PublishStreamConnectionResponseSerializerV2.ts
  packages/protocol/test/unit/protocol/control_layer/PublishStreamConnectionRequest.test.ts
  packages/protocol/test/unit/protocol/control_layer/PublishStreamConnectionRequestSerializerV1.test.ts
  packages/protocol/test/unit/protocol/control_layer/PublishStreamConnectionRequestSerializerV2.test.ts
  packages/protocol/test/unit/protocol/control_layer/PublishStreamConnectionResponse.test.ts
  packages/protocol/test/unit/protocol/control_layer/PublishStreamConnectionResponseSerializerV1.test.ts
  packages/protocol/test/unit/protocol/control_layer/PublishStreamConnectionResponseSerializerV2.test.ts
Labels: broker, network, client, protocol, cross-client-testing

#296 Net-588-scalability: disconnect from tracker after proxy connection attempts
  packages/network/src/logic/node/Node.ts
  packages/network/src/logic/node/TrackerConnector.ts
  packages/network/src/logic/node/TrackerManager.ts
  packages/network/test/integration/publish-only-stream-connection.test.ts
Labels: network

#301 Update node-datachannel to 0.1.14
  package-lock.json
  packages/network/package.json
Labels: network

#305 client: [NET-594]: validate client options
  package-lock.json
  packages/broker/package.json
  packages/client/package.json
  packages/client/src/ConfigBase.ts
  packages/client/src/Ethereum.ts
  packages/client/src/config.schema.json
  packages/client/test/unit/Config.test.ts
  packages/client/tsconfig.json
  packages/client/tsconfig.node.json
Labels: broker, client

#302 replaced DaisyDomergue as the assignee in dependabot config
  .github/dependabot.yaml
Labels: ci

#306 feat(broker, client): Tracker id is an Ethereum address
  packages/broker/bin/tracker.js
  packages/broker/test/integration/broker-drops-future-messages.test.ts
  packages/broker/test/integration/broker-subscriptions.test.ts
  packages/broker/test/integration/broker.test.ts
  packages/broker/test/integration/createMessagingPluginTest.ts
  packages/broker/test/integration/local-propagation.test.ts
  packages/broker/test/integration/plugins/legacyWebsocket/ping-pong.test.ts
  packages/broker/test/integration/plugins/metrics/node/NodeMetrics.test.ts
  packages/broker/test/integration/plugins/mqtt/Bridge.test.ts
  packages/broker/test/integration/plugins/storage/DataMetadataEndpoints.test.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/integration/plugins/storage/StorageNode.test.ts
  packages/broker/test/integration/plugins/subscriber/SubscriberPlugin.test.ts
  packages/broker/test/integration/plugins/testnetMiner/TestnetMinerPlugin.test.ts
  packages/broker/test/utils.ts
  packages/client/src/config.schema.json
  packages/client/test/unit/Config.test.ts
  packages/network/bin/publisher.js
  packages/network/bin/subscriber.js
  packages/network/bin/tracker.js
  packages/network/test/integration/browser-ws-endpoint.test.ts
  packages/network/test/integration/counter-filtering-in-tracker.test.ts
  packages/network/test/integration/delivery-of-messages-protocol-layer.test.ts
  packages/network/test/integration/do-not-propagate-to-sender-optimization.test.ts
  packages/network/test/integration/latency.test.ts
  packages/network/test/integration/message-duplication.test.ts
  packages/network/test/integration/message-propagation.test.ts
  packages/network/test/integration/multi-trackers.test.ts
  packages/network/test/integration/network-stabilization.test.ts
  packages/network/test/integration/node-to-node-protocol-version-negotiation.test.ts
  packages/network/test/integration/nodeMessageBuffering.test.ts
  packages/network/test/integration/publish-only-stream-connection.test.ts
  packages/network/test/integration/rtc-signalling-messages-routing.test.ts
  packages/network/test/integration/tracker-endpoints.test.ts
  packages/network/test/integration/tracker-instructions.test.ts
  packages/network/test/integration/tracker-node-reconnect-instructions.test.ts
  packages/network/test/integration/tracker-node-status.test.ts
  packages/network/test/integration/tracker.test.ts
  packages/network/test/integration/unsubscribe-from-stream.test.ts
  packages/network/test/integration/webrtc-endpoint-back-pressure-handling.test.ts
  packages/network/test/integration/webrtc-error-scenarios-during-signalling.test.ts
  packages/network/test/integration/webrtc-multi-signaller.test.ts
  packages/network/test/integration/ws-endpoint.test.ts
  packages/network/test/unit/NetworkNode.test.ts
  packages/network/test/unit/WebRtcEndpoint.test.ts
Labels: broker, network, client

#304 Speed up memory leak tests
  packages/client/test/utils.ts
Labels: client

#309 broker: [NET-593]: all StreamrClient options are configurable
  packages/broker/bin/broker.js
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/development-prod-resend.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/src/ConfigWizard.ts
  packages/broker/src/Plugin.ts
  packages/broker/src/Publisher.ts
  packages/broker/src/StorageNodeRegistry.ts
  packages/broker/src/StreamFetcher.ts
  packages/broker/src/broker.ts
  packages/broker/src/config.ts
  packages/broker/src/helpers/ConfigAutoMigrate.ts
  packages/broker/src/helpers/config.schema.json
  packages/broker/src/plugins/legacyWebsocket/RequestHandler.ts
  packages/broker/src/plugins/legacyWebsocket/WebsocketPlugin.ts
  packages/broker/src/plugins/legacyWebsocket/WebsocketServer.ts
  packages/broker/src/plugins/metrics/MetricsPlugin.ts
  packages/broker/src/plugins/metrics/node/MetricsPublisher.ts
  packages/broker/src/plugins/storage/StoragePlugin.ts
  packages/broker/src/plugins/storage/config.schema.json
  packages/broker/src/plugins/testnetMiner/TestnetMinerPlugin.ts
  packages/broker/test/integration/StreamFetcher.test.ts
  packages/broker/test/integration/broker.test.ts
  packages/broker/test/integration/plugins/legacyWebsocket/ping-pong.test.ts
  packages/broker/test/integration/plugins/metrics/node/NodeMetrics.test.ts
  packages/broker/test/integration/plugins/storage/DataMetadataEndpoints.test.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/integration/plugins/storage/StorageNode.test.ts
  packages/broker/test/integration/plugins/storage/StoragePlugin.test.ts
  packages/broker/test/integration/plugins/subscriber/SubscriberPlugin.test.ts
  packages/broker/test/unit/ConfigWizard.test.ts
  packages/broker/test/unit/Publisher.test.ts
  packages/broker/test/unit/StorageNodeRegistry.test.ts
  packages/broker/test/utils.ts
  packages/client/src/BrubeckNode.ts
  packages/client/src/Config.ts
  packages/client/src/config.schema.json
  packages/client/src/index-exports.ts
  packages/client/test/unit/Config.test.ts
  packages/network/src/connection/PeerInfo.ts
  packages/network/src/identifiers.ts
  packages/network/src/logic/node/Node.ts
  packages/network/src/logic/node/TrackerManager.ts
  packages/network/src/logic/tracker/LocationManager.ts
  packages/network/test/integration/tracker-endpoints.test.ts
  packages/network/test/integration/tracker-node-status.test.ts
  packages/network/test/unit/LocationManager.test.ts
  packages/network/test/unit/PeerInfo.test.ts
  packages/protocol/test/unit/protocol/tracker_layer/RelayMessageSerializerV2.test.ts
Labels: broker, network, client, protocol

#310 fix: adding theGraph to the test environment in ci
  .github/workflows/broker.yml
  .github/workflows/client-build.yml
  .github/workflows/client-code.yml
  .github/workflows/client-dataunions.yml
  packages/protocol/test/integration/StorageNodeRegistry.test.ts
Labels: ci, broker, client, protocol

#308 ci: Update setup-node to 2.5.0, add nvmrc file.
  .github/workflows/broker.yml
  .github/workflows/client-build.yml
  .github/workflows/client-code.yml
  .github/workflows/client-dataunions.yml
  .github/workflows/cross-client.yml
  .github/workflows/network-browser.yml
  .github/workflows/network.yml
  .github/workflows/protocol.yml
  .github/workflows/test-utils.yml
  .nvmrc
  packages/client/test/integration/Encryption.test.ts
Labels: ci, broker, network, client, protocol, test-utils, cross-client-testing

#311 fix(client): null query parameters
  packages/client/src/Resends.ts
  packages/client/src/Rest.ts
  packages/client/test/unit/Rest.test.ts
Labels: client

#316 fix(network): remove @pm2/io
  .idea/runConfigurations.xml
  packages/network/package.json
  packages/network/src/browser/Pm2Shim.ts
  packages/network/src/logic/tracker/InstructionSender.ts
  packages/network/src/logic/tracker/Tracker.ts
Labels: network

#315 fix: adding stream to storageNode now also waits for theGraph sync
  packages/broker/package.json
  packages/broker/test/utils.ts
  packages/client/src/NodeRegistry.ts
  packages/client/src/shim/node-fetch.ts
Labels: broker, client

#314 feat(client): allow auth.address in StreamrClient options
  packages/client/src/Ethereum.ts
  packages/client/src/config.schema.json
  packages/client/test/unit/Config.test.ts
Labels: client

#317 fix(network): close WS connection, if endpoint already stopped
  packages/network/src/connection/ws/AbstractWsEndpoint.ts
Labels: network

#319 fix: fixed err with storagenode being not synced to theGraph
  packages/broker/package.json
  packages/client/src/NodeRegistry.ts
Labels: broker, client

#322 cleaned up tests that were commented out / disabled on ocr branch
  packages/broker/test/integration/StreamFetcher.test.ts
  packages/broker/test/unit/RequestAuthenticatorMiddleware.test.ts
  packages/broker/test/unit/plugins/storage/DataQueryEndpoints.test.ts
  packages/client/package.json
  packages/client/src/ConfigTest.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/Resends.test.ts
Labels: broker, client

#321 Fix client browser + benchmark tests
  .github/workflows/client-build.yml
  package-lock.json
  packages/client/jest.config.js
  packages/client/jest.setup.js
  packages/client/jest.teardown.js
  packages/client/nightwatch.conf.js
  packages/client/package.json
  packages/client/test/benchmarks/publish.js
  packages/client/test/benchmarks/raw-pipeline.js
  packages/client/test/benchmarks/resend.js
  packages/client/test/benchmarks/subscribe.js
  packages/client/test/browser/browser.html
  packages/client/test/browser/realtime.js
  packages/client/test/browser/resend.js
  packages/client/test/browser/server.js
  packages/client/test/keyserver.js
  packages/client/test/unit/Encryption.test.ts
  packages/client/test/utils.ts
Labels: ci, client

#303 Net-588: reliability
  packages/client/README.md
  packages/network/src/logic/node/Node.ts
  packages/network/src/logic/node/ProxyStreamConnectionManager.ts
  packages/network/src/logic/node/StreamManager.ts
  packages/network/src/logic/node/TrackerConnector.ts
  packages/network/src/logic/node/TrackerManager.ts
  packages/network/test/integration/publish-only-stream-connection.test.ts
Labels: network, client

#325 fix(broker): add io.destroy to appropriate place
  packages/broker/src/plugins/metrics/ConsoleAndPM2Metrics.ts
  packages/broker/src/plugins/metrics/VolumeLogger.ts
Labels: broker

#330 refactor(protocol): rm (unused) CachingStreamMessageValidator
  packages/protocol/src/utils/CachingStreamMessageValidator.ts
  packages/protocol/src/utils/index.ts
  packages/protocol/test/unit/utils/CachingStreamMessageValidator.test.ts
Labels: protocol

#333 fix(client): ConfigTest use env variables
  packages/client/src/ConfigTest.ts
Labels: client

#327 ci(broker): remove core-api from test-integration job
  .github/workflows/broker.yml
Labels: ci, broker

#334 refactor(protocol): move PublishStreamConnectionResponse
  packages/protocol/src/protocol/control_layer/index.ts
  packages/protocol/src/protocol/control_layer/publish_stream_connection_response/PublishStreamConnectionResponse.ts
  packages/protocol/src/protocol/control_layer/publish_stream_connection_response/PublishStreamConnectionResponseSerializerV1.ts
  packages/protocol/src/protocol/control_layer/publish_stream_connection_response/PublishStreamConnectionResponseSerializerV2.ts
Labels: protocol

#335 refactor(protocol): rm unused ParseUtil.ts
  packages/protocol/src/utils/ParseUtil.ts
Labels: protocol
