Repository streamr-dev/network, pull requests merged in 2021-06, with the labels that each got.

#50 cli-tools: permission command execution engine
  packages/cli-tools/bin/streamr-stream-grant-permission.ts
  packages/cli-tools/bin/streamr-stream-revoke-permission.ts
  packages/cli-tools/package.json
Labels: cli-tools

#45 cli-tools: move typescript stuff into devDependencies
  packages/cli-tools/CHANGELOG.md
  packages/cli-tools/bin/streamr-stream-grant-permission.ts
  packages/cli-tools/bin/streamr-stream-revoke-permission.ts
  packages/cli-tools/package.json
Labels: cli-tools

#46 cli-tools: add command for fetching sessionToken
  packages/cli-tools/bin/streamr-misc-get-session-token.ts
  packages/cli-tools/bin/streamr-misc.ts
  packages/cli-tools/bin/streamr.ts
Labels: cli-tools

#51 release broker v22.0.0
  packages/broker/package-lock.json
  packages/broker/package.json
Labels: broker

#40 fix: add show-links.sh and update README
  README.md
  show-links.sh
Labels: docs

#44 NET-328: upgrade client version in broker to 5.4.2 series
  packages/broker/package-lock.json
  packages/broker/package.json
  packages/broker/src/StorageNodeRegistry.ts
  packages/broker/src/StreamFetcher.ts
  packages/broker/src/broker.ts
  packages/broker/src/config.ts
  packages/broker/src/helpers/config.schema.json
  packages/broker/src/plugins/websocket/WebsocketPlugin.ts
  packages/broker/test/integration/SubscriptionManager.test.ts
  packages/broker/test/integration/broker-drops-future-messages.test.ts
  packages/broker/test/integration/broker-resistance-to-invalid-data.test.ts
  packages/broker/test/integration/broker.test.ts
  packages/broker/test/integration/per-node-stream-metrics.test.ts
  packages/broker/test/integration/plugins/storage/resends-cancelled-on-client-disconnect.test.ts
  packages/broker/test/unit/StorageNodeRegistry.test.ts
  packages/broker/test/utils.ts
Labels: broker

#47 API key authentication in HTTP server
  packages/broker/src/broker.ts
  packages/broker/src/httpServer.ts
  packages/broker/test/unit/httpServer.test.ts
Labels: broker

#49 NET-245: Trusted publishHttp plugin
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/src/helpers/parser.ts
  packages/broker/src/httpServer.ts
  packages/broker/src/pluginRegistry.ts
  packages/broker/src/plugins/legacyPublishHttp/DataProduceEndpoints.ts
  packages/broker/src/plugins/legacyPublishHttp/PublishHttpPlugin.ts
  packages/broker/src/plugins/metrics/VolumeEndpoint.ts
  packages/broker/src/plugins/publishHttp/PublishHttpPlugin.ts
  packages/broker/src/plugins/publishHttp/publishEndpoint.ts
  packages/broker/src/plugins/storage/DataMetadataEndpoints.ts
  packages/broker/src/plugins/storage/DataQueryEndpoints.ts
  packages/broker/src/plugins/storage/StorageConfigEndpoints.ts
  packages/broker/test/integration/plugins/legacyPublishHttp/broker-resistance-to-invalid-data.test.ts
  packages/broker/test/integration/plugins/storage/resends-cancelled-on-client-disconnect.test.ts
  packages/broker/test/unit/httpServer.test.ts
  packages/broker/test/unit/plugins/legacyPublishHttp/DataProduceEndpoints.test.ts
  packages/broker/test/unit/plugins/publishHttp/publishEndpoint.test.ts
  packages/broker/test/unit/plugins/storage/DataQueryEndpoints.test.ts
  packages/broker/test/unit/plugins/storage/StorageConfigEndpoints.test.ts
  packages/broker/test/utils.ts
Labels: broker

#25 NET-172: remove storage node & resend handling
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/src/broker.ts
  packages/broker/src/config.ts
  packages/broker/src/helpers/config.schema.json
  packages/broker/test/integration/plugins/storage/resends-cancelled-on-client-disconnect.test.ts
  packages/broker/test/utils.ts
  packages/network/src/NetworkNode.ts
  packages/network/src/composition.ts
  packages/network/src/connection/IWebRtcEndpoint.ts
  packages/network/src/identifiers.ts
  packages/network/src/logic/Node.ts
  packages/network/src/logic/StorageConfig.ts
  packages/network/src/logic/Tracker.ts
  packages/network/src/protocol/NodeToNode.ts
  packages/network/src/protocol/TrackerNode.ts
  packages/network/src/protocol/TrackerServer.ts
  packages/network/src/resend/ResendHandler.ts
  packages/network/src/resend/proxyRequestStream.ts
  packages/network/src/resend/resendStrategies.ts
  packages/network/test/integration/MockStorageConfig.ts
  packages/network/test/integration/delivery-of-messages-protocol-layer.test.ts
  packages/network/test/integration/l1-resend-requests.test.ts
  packages/network/test/integration/l3-resend-requests.test.ts
  packages/network/test/integration/multi-trackers.test.ts
  packages/network/test/integration/request-resend-from-uninvolved-node.test.ts
  packages/network/test/integration/resend-request-on-streams-with-no-activity.test.ts
  packages/network/test/integration/resends-cancelled-on-disconnect.test.ts
  packages/network/test/integration/storage-config.test.ts
  packages/network/test/integration/tracker-storage-nodes-response-does-not-contain-self.test.ts
  packages/network/test/unit/ResendHandler.test.ts
  packages/network/test/unit/proxyRequestStream.test.ts
  packages/network/test/unit/resendStrategies.test.ts
  packages/protocol/src/protocol/tracker_layer/TrackerMessage.ts
  packages/protocol/src/protocol/tracker_layer/error_message/ErrorMessageSerializerV2.ts
  packages/protocol/src/protocol/tracker_layer/index.ts
  packages/protocol/src/protocol/tracker_layer/instruction_message/InstructionMessageSerializerV2.ts
  packages/protocol/src/protocol/tracker_layer/relay_message/RelayMessageSerializerV2.ts
  packages/protocol/src/protocol/tracker_layer/status_message/StatusMessageSerializerV2.ts
  packages/protocol/src/protocol/tracker_layer/storage_nodes_request/StorageNodesRequest.ts
  packages/protocol/src/protocol/tracker_layer/storage_nodes_request/StorageNodesRequestSerializerV1.ts
  packages/protocol/src/protocol/tracker_layer/storage_nodes_response/StorageNodesResponse.ts
  packages/protocol/src/protocol/tracker_layer/storage_nodes_response/StorageNodesResponseSerializerV1.ts
  packages/protocol/test/unit/protocol/tracker_layer/ErrorMessageSerializerV2.test.ts
  packages/protocol/test/unit/protocol/tracker_layer/InstructionMessageSerializerV2.test.ts
  packages/protocol/test/unit/protocol/tracker_layer/RelayMessageSerializerV2.test.ts
  packages/protocol/test/unit/protocol/tracker_layer/StatusMessageSerializerV1.test.ts
  packages/protocol/test/unit/protocol/tracker_layer/StatusMessageSerializerV2.test.ts
  packages/protocol/test/unit/protocol/tracker_layer/StorageNodesRequest.test.ts
  packages/protocol/test/unit/protocol/tracker_layer/StorageNodesResponse.test.ts
  packages/protocol/test/unit/protocol/tracker_layer/StorageNodesResponseSerializerV1.test.ts
Labels: broker, network, protocol

#53 Types for WebSocket plugin
  packages/broker/src/plugins/websocket/Connection.ts
  packages/broker/src/plugins/websocket/RequestHandler.ts
  packages/broker/src/plugins/websocket/WebsocketServer.ts
  packages/broker/test/unit/plugins/websocket/Connection.test.ts
Labels: broker

#54 NET-311: Fix group key response vs announce
  .github/workflows/cross-client.yml
  packages/client/src/stream/encryption/KeyExchangeSubscriber.ts
  packages/client/src/stream/encryption/ServerPersistentStore.ts
  packages/cross-client-testing/publisher.js
  packages/cross-client-testing/src/main/java/com/streamr/client_testing/PublisherThreadJava.java
  packages/cross-client-testing/src/main/java/com/streamr/client_testing/StreamTester.java
Labels: ci, client, cross-client-testing

#52 fix: make per-node-metrics.test.ts faster
  packages/broker/test/integration/per-node-metrics.test.ts
Labels: broker

#57 broker: fix port conflicts in MqttPlugin.test.ts
  packages/broker/test/integration/plugins/mqtt/MqttPlugin.test.ts
Labels: broker

#58 Network: Logger.error supports Error object
  packages/network/src/helpers/Logger.ts
  packages/network/test/unit/Logger.test.ts
Labels: network

#43 Disable GapFills if no stream storage assigned.
  .github/workflows/client-build.yml
  .github/workflows/cross-client.yml
  packages/client/package.json
  packages/client/src/stream/encryption/BrowserPersistentStore.ts
  packages/client/src/stream/encryption/GroupKeyStore.ts
  packages/client/src/stream/encryption/KeyExchangeSubscriber.ts
  packages/client/src/stream/encryption/ServerPersistentStore.ts
  packages/client/src/stream/encryption/migrations/001-initial.sql
  packages/client/src/stream/encryption/migrations/002-primary-key.sql
  packages/client/src/stream/utils.ts
  packages/client/src/subscribe/OrderMessages.js
  packages/client/src/subscribe/index.ts
  packages/client/src/subscribe/resendStream.ts
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/EncryptionKeyPersistence.test.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/unit/GroupKeyStore.test.ts
  packages/cross-client-testing/publisher.js
  packages/cross-client-testing/src/main/java/com/streamr/client_testing/PublisherThreadJava.java
  packages/cross-client-testing/src/main/java/com/streamr/client_testing/StreamTester.java
  packages/protocol/src/utils/OrderedMsgChain.ts
  packages/protocol/src/utils/OrderingUtil.ts
  packages/protocol/test/unit/utils/OrderedMsgChain.test.ts
Labels: ci, client, cross-client-testing, protocol

#62 fix Broker: Cassandra query for resendFrom with publisher
  packages/broker/src/plugins/storage/Storage.ts
Labels: broker

#59 Broker NET-232: Cassandra error handling
  packages/broker/package-lock.json
  packages/broker/package.json
  packages/broker/src/plugins/storage/BucketManager.ts
  packages/broker/src/plugins/storage/DataQueryEndpoints.ts
  packages/broker/src/plugins/storage/Storage.ts
  packages/broker/test/integration/plugins/storage/BatchManager.test.ts
  packages/broker/test/integration/plugins/storage/BucketManager.test.ts
  packages/broker/test/integration/plugins/storage/Storage.test.ts
  packages/broker/test/integration/plugins/storage/cassanda-queries.test.ts
Labels: broker

#63 CLI-tools: remove msgChainId parameter from "resend from" command
  packages/cli-tools/CHANGELOG.md
  packages/cli-tools/bin/streamr-stream-resend.ts
Labels: cli-tools

#55 Refactor client pubsub for brubeck
  packages/cli-tools/package-lock.json
  packages/cli-tools/src/create.ts
  packages/cli-tools/src/show.ts
  packages/client/package.json
  packages/client/src/Config.ts
  packages/client/src/Ethereum.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/dataunion/DataUnion.ts
  packages/client/src/publish/MessageChainer.ts
  packages/client/src/publish/MessageCreator.ts
  packages/client/src/publish/Signer.ts
  packages/client/src/publish/StreamPartitioner.ts
  packages/client/src/publish/index.js
  packages/client/src/publish/index.ts
  packages/client/src/publish/utils.ts
  packages/client/src/subscribe/Subscription.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/src/subscribe/Subscriptions.ts
  packages/client/src/subscribe/index.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/Resends.test.ts
  packages/client/test/integration/Sequencing.test.ts
  packages/client/test/integration/StreamConnectionState.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/integration/StreamrClientConnection.test.ts
  packages/client/test/integration/StreamrClientResends.test.ts
  packages/client/test/integration/SubscriberResends.test.ts
  packages/client/test/integration/SubscriberResendsSequential.test.ts
  packages/protocol/package-lock.json
Labels: cli-tools, client, cross-client-testing, protocol

#61 Don't suggest `npm i`
  README.md
Labels: docs

#65 Show linked/unlinked package versions
  README.md
  package-lock.json
  package.json
  show-links.sh
  show-versions.mjs
Labels: docs

#71 refactor(ws-plugin): Rename "ws" plugin to "legacyWebsocket"
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/src/localStreamrClient.ts
  packages/broker/src/pluginRegistry.ts
  packages/broker/src/plugins/legacyWebsocket/Connection.ts
  packages/broker/src/plugins/legacyWebsocket/RequestHandler.ts
  packages/broker/src/plugins/legacyWebsocket/WebsocketPlugin.ts
  packages/broker/src/plugins/legacyWebsocket/WebsocketServer.ts
  packages/broker/src/plugins/legacyWebsocket/config.schema.json
  packages/broker/src/plugins/legacyWebsocket/historicalData.ts
  packages/broker/test/integration/plugins/legacyWebsocket/ping-pong.test.ts
  packages/broker/test/integration/plugins/legacyWebsocket/websocket-server.test.ts
  packages/broker/test/integration/plugins/storage/resends-cancelled-on-client-disconnect.test.ts
  packages/broker/test/unit/plugins/legacyWebsocket/Connection.test.ts
  packages/broker/test/unit/plugins/legacyWebsocket/Stream.test.ts
  packages/broker/test/unit/plugins/legacyWebsocket/StreamStateManager.test.ts
  packages/broker/test/utils.ts
Labels: broker

#74 Fix webrtc: few additional changes (
  packages/network/src/connection/Connection.ts
  packages/network/src/connection/WebRtcEndpoint.ts
  packages/network/test/integration/Connection.test.ts
  packages/test-utils/src/utils.ts
Labels: network, test-utils

#77 Broker: create tests streams by id
  packages/broker/test/integration/SubscriptionManager.test.ts
  packages/broker/test/integration/broker-drops-future-messages.test.ts
  packages/broker/test/integration/broker.test.ts
  packages/broker/test/integration/local-propagation.test.ts
  packages/broker/test/integration/plugins/legacyMqtt/mqtt.test.ts
  packages/broker/test/integration/plugins/legacyPublishHttp/broker-resistance-to-invalid-data.test.ts
  packages/broker/test/integration/plugins/storage/DataMetadataEndpoints.test.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/integration/plugins/storage/resends-cancelled-on-client-disconnect.test.ts
  packages/broker/test/sequential/plugins/storage/DeleteExpiredCmd.test.ts
  packages/broker/test/unit/plugins/storage/StorageConfigEndpoints.test.ts
  packages/broker/test/utils.ts
Labels: broker

#78 Client: create tests streams by id
  packages/client/src/utils/index.ts
  packages/client/test/benchmarks/publish.js
  packages/client/test/benchmarks/subscribe.js
  packages/client/test/browser/browser.html
  packages/client/test/flakey/EnvStressTest.test.js
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/EncryptionKeyPersistence.test.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/MultipleClients.test.js
  packages/client/test/integration/ResendReconnect.test.ts
  packages/client/test/integration/Resends.test.ts
  packages/client/test/integration/Sequencing.test.ts
  packages/client/test/integration/Stream.test.ts
  packages/client/test/integration/StreamConnectionState.test.ts
  packages/client/test/integration/StreamEndpoints.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/integration/StreamrClientConnection.test.ts
  packages/client/test/integration/StreamrClientResends.test.ts
  packages/client/test/integration/Subscriber.test.js
  packages/client/test/integration/SubscriberResends.test.ts
  packages/client/test/integration/SubscriberResendsSequential.test.ts
  packages/client/test/integration/Subscription.test.ts
  packages/client/test/integration/Validation.test.js
  packages/client/test/utils.ts
Labels: client

#80 CLI-tools: "stream create" argument is streamId, not name
  packages/cli-tools/CHANGELOG.md
  packages/cli-tools/README.md
  packages/cli-tools/bin/streamr-stream-create.ts
Labels: cli-tools

#66 Fix broker CI
  package.json
  packages/broker/package.json
  packages/broker/src/plugins/storage/Storage.ts
  packages/broker/test/integration/plugins/mqtt/MqttPlugin.test.ts
  packages/broker/test/integration/plugins/storage/Storage.test.ts
  packages/cli-tools/package-lock.json
  packages/client/package-lock.json
  packages/network/package-lock.json
  packages/protocol/package-lock.json
  packages/test-utils/package-lock.json
  packages/test-utils/test/utils.test.ts
Labels: broker, ci, cli-tools, client, cross-client-testing, network, protocol, test-utils

#81 fix: attempt to fix cross client tests with new core API
  packages/cross-client-testing/src/main/java/com/streamr/client_testing/StreamTester.java
Labels: cross-client-testing

#79 Client NET-340: Publish to specific partition
  packages/client/src/publish/MessageCreator.ts
  packages/client/src/publish/utils.ts
  packages/client/test/unit/MessageCreator.test.ts
Labels: client

#85 broker: add missing createTestStream in per-node-metrics.test.ts
  packages/broker/test/integration/per-node-metrics.test.ts
Labels: broker

#27 network, test-utils (NET-303): Fixed webrtc problems + flaky and hanging tests
  .github/workflows/network.yml
  packages/network/package.json
  packages/network/src/connection/Connection.ts
  packages/network/src/connection/IWebRtcEndpoint.ts
  packages/network/src/connection/WebRtcEndpoint.ts
  packages/network/src/identifiers.ts
  packages/network/src/logic/InstructionRetryManager.ts
  packages/network/src/logic/InstructionThrottler.ts
  packages/network/src/logic/Node.ts
  packages/network/src/logic/RtcMessage.ts
  packages/network/src/logic/RtcSignaller.ts
  packages/network/src/logic/rtcSignallingHandlers.ts
  packages/network/src/protocol/NodeToNode.ts
  packages/network/src/protocol/TrackerNode.ts
  packages/network/src/protocol/TrackerServer.ts
  packages/network/test/flakey/WebRtcEndpoint.test.ts
  packages/network/test/integration/Connection.test.ts
  packages/network/test/integration/delivery-of-messages-protocol-layer.test.ts
  packages/network/test/integration/network-stabilization.test.ts
  packages/network/test/integration/node-to-node-protocol-version-negotiation.test.ts
  packages/network/test/integration/rtc-signalling-messages-routing.test.ts
  packages/network/test/integration/tracker.test.ts
  packages/network/test/integration/webrtc-error-scenarios-during-signalling.test.ts
  packages/network/test/unit/InstructionRetryManager.test.ts
  packages/network/test/unit/RtcSignaller.test.ts
  packages/network/test/unit/WebRtcEndpoint.test.ts
  packages/test-utils/src/utils.ts
Labels: ci, network, test-utils

#30 Convert cross-client-testing Gradle library to Gradle application
  .github/workflows/cross-client.yml
  packages/cross-client-testing/.gitignore
  packages/cross-client-testing/.nvmrc
  packages/cross-client-testing/Makefile
  packages/cross-client-testing/README.md
  packages/cross-client-testing/build.gradle
  packages/cross-client-testing/package.json
Labels: ci, cross-client-testing

#76 Broker NET-244: Trusted websocket plugin
  packages/broker/package-lock.json
  packages/broker/package.json
  packages/broker/src/helpers/closeWebsocket.ts
  packages/broker/src/helpers/parser.ts
  packages/broker/src/pluginRegistry.ts
  packages/broker/src/plugins/publishHttp/publishEndpoint.ts
  packages/broker/src/plugins/websocket/Connection.ts
  packages/broker/src/plugins/websocket/PublishConnection.ts
  packages/broker/src/plugins/websocket/SubscribeConnection.ts
  packages/broker/src/plugins/websocket/WebsocketPlugin.ts
  packages/broker/src/plugins/websocket/WebsocketServer.ts
  packages/broker/src/plugins/websocket/config.schema.json
  packages/broker/src/types.ts
  packages/broker/test/integration/plugins/websocket/WebsocketPlugin.test.ts
  packages/broker/test/unit/plugins/websocket/WebsocketServer.test.ts
  packages/broker/test/utils.ts
Labels: broker

#83 Fix publish memory leak
  .github/workflows/client-build.yml
  .github/workflows/client-code.yml
  .gitignore
  packages/client/package.json
  packages/client/src/Connection.ts
  packages/client/src/Session.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/publish/Encrypt.ts
  packages/client/src/publish/MessageCreator.ts
  packages/client/src/publish/index.ts
  packages/client/src/rest/LoginEndpoints.ts
  packages/client/src/rest/StreamEndpoints.ts
  packages/client/src/stream/encryption/KeyExchangePublisher.ts
  packages/client/src/stream/encryption/KeyExchangeSubscriber.ts
  packages/client/src/stream/encryption/ServerPersistentStore.ts
  packages/client/src/stream/index.ts
  packages/client/src/stream/utils.ts
  packages/client/src/subscribe/Subscription.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/src/subscribe/Subscriptions.ts
  packages/client/src/subscribe/index.ts
  packages/client/src/subscribe/messageStream.js
  packages/client/src/subscribe/messageStream.ts
  packages/client/src/subscribe/resendStream.ts
  packages/client/src/utils/Scaffold.ts
  packages/client/src/utils/index.ts
  packages/client/src/utils/iterators.js
  packages/client/test/benchmarks/publish.js
  packages/client/test/benchmarks/subscribe.js
  packages/client/test/integration/LoginEndpoints.test.ts
  packages/client/test/integration/ResendReconnect.test.ts
  packages/client/test/integration/StreamConnectionState.test.ts
  packages/client/test/integration/StreamEndpoints.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/integration/StreamrClientConnection.test.ts
  packages/client/test/integration/SubscriberResendsSequential.test.ts
  packages/client/test/integration/Subscription.test.ts
  packages/client/test/memory/Leaks.test.ts
  packages/client/test/memory/MessageQuantity.test.ts
  packages/client/test/memory/Publishing.test.ts
  packages/client/test/unit/Connection.test.ts
  packages/client/test/utils.ts
  packages/client/tsconfig.json
Labels: ci, client

#84 Unify client logging
  .github/workflows/client-build.yml
  .github/workflows/client-code.yml
  .gitignore
  packages/client/package-lock.json
  packages/client/package.json
  packages/client/src/Connection.ts
  packages/client/src/Session.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/dataunion/Contracts.ts
  packages/client/src/dataunion/DataUnion.ts
  packages/client/src/publish/Encrypt.ts
  packages/client/src/publish/MessageCreator.ts
  packages/client/src/publish/index.ts
  packages/client/src/rest/LoginEndpoints.ts
  packages/client/src/rest/StreamEndpoints.ts
  packages/client/src/rest/authFetch.ts
  packages/client/src/stream/encryption/Encryption.ts
  packages/client/src/stream/encryption/KeyExchangePublisher.ts
  packages/client/src/stream/encryption/KeyExchangeSubscriber.ts
  packages/client/src/stream/encryption/ServerPersistentStore.ts
  packages/client/src/stream/index.ts
  packages/client/src/stream/utils.ts
  packages/client/src/subscribe/Subscription.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/src/subscribe/Subscriptions.ts
  packages/client/src/subscribe/Validator.js
  packages/client/src/subscribe/index.ts
  packages/client/src/subscribe/messageStream.js
  packages/client/src/subscribe/messageStream.ts
  packages/client/src/subscribe/resendStream.ts
  packages/client/src/utils/Scaffold.ts
  packages/client/src/utils/index.ts
  packages/client/src/utils/iterators.js
  packages/client/src/utils/log.ts
  packages/client/test/benchmarks/publish.js
  packages/client/test/benchmarks/subscribe.js
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/LoginEndpoints.test.ts
  packages/client/test/integration/ResendReconnect.test.ts
  packages/client/test/integration/StreamConnectionState.test.ts
  packages/client/test/integration/StreamEndpoints.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/integration/StreamrClientConnection.test.ts
  packages/client/test/integration/SubscriberResendsSequential.test.ts
  packages/client/test/integration/Subscription.test.ts
  packages/client/test/legacy/StreamrClient.test.js
  packages/client/test/memory/Leaks.test.ts
  packages/client/test/memory/MessageQuantity.test.ts
  packages/client/test/memory/Publishing.test.ts
  packages/client/test/unit/Connection.test.ts
  packages/client/test/unit/utils.test.ts
  packages/client/test/utils.ts
  packages/client/tsconfig.json
Labels: client

#82 Don't error realtime+resend if no storage assigned
  packages/client/src/subscribe/index.ts
  packages/client/test/integration/GapFill.test.ts
Labels: client

#56 ci: Run all test workflows for every PR.
  .github/workflows/broker.yml
  .github/workflows/client-build.yml
  .github/workflows/client-code.yml
  .github/workflows/client-dataunions.yml
  .github/workflows/network.yml
  .github/workflows/protocol.yml
  .github/workflows/test-utils.yml
Labels: broker, ci, client, network, protocol, test-utils

#87 broker: upgrade cassandra driver & fix test
  packages/broker/package-lock.json
  packages/broker/package.json
  packages/broker/test/integration/plugins/storage/Storage.test.ts
Labels: broker

#92 Release broker v23.0.0
  packages/broker/package-lock.json
  packages/broker/package.json
Labels: broker

#93 Release streamr-client@5.4.4
  packages/broker/package.json
  packages/cli-tools/package.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/client/src/StreamrClient.ts
  packages/client/src/rest/StreamEndpoints.ts
  packages/client/src/stream/encryption/BrowserPersistentStore.ts
  packages/client/src/stream/encryption/GroupKeyStore.ts
  packages/client/src/stream/encryption/ServerPersistentStore.ts
  packages/client/src/utils/index.ts
  packages/client/src/utils/log.ts
  packages/client/test/browser/browser.html
  packages/client/test/integration/EncryptionKeyPersistence.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/unit/GroupKeyPersistence.test.ts
  packages/client/test/unit/GroupKeyStore.test.ts
  packages/cross-client-testing/package.json
Labels: broker, cli-tools, client, cross-client-testing

#73 Net-14: Resend logic when there are multiple storage nodes
  packages/broker/src/StorageNodeRegistry.ts
  packages/broker/src/plugins/legacyWebsocket/historicalData.ts
  packages/broker/test/unit/StorageNodeRegistry.test.ts
Labels: broker

#64 NET-249: Read storage nodes from StorageNodeRegistry smart contract
  .github/workflows/protocol.yml
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/package-lock.json
  packages/broker/src/Plugin.ts
  packages/broker/src/StorageNodeRegistry.ts
  packages/broker/src/broker.ts
  packages/broker/src/config.ts
  packages/broker/src/helpers/config.schema.json
  packages/broker/src/plugins/legacyWebsocket/WebsocketPlugin.ts
  packages/broker/test/integration/broker.test.ts
  packages/broker/test/integration/per-node-metrics.test.ts
  packages/broker/test/integration/plugins/storage/StoragePlugin.test.ts
  packages/broker/test/integration/plugins/storage/resends-cancelled-on-client-disconnect.test.ts
  packages/broker/test/unit/StorageNodeRegistry.test.ts
  packages/broker/test/utils.ts
  packages/network/package-lock.json
  packages/protocol/contracts/NodeRegistry.json
  packages/protocol/src/utils/StorageNodeRegistry.ts
  packages/protocol/src/utils/index.ts
  packages/protocol/test/integration/StorageNodeRegistry.test.ts
Labels: broker, ci, client, network, protocol

#89 Broker NET-300: Testnet miner plugin
  packages/broker/package-lock.json
  packages/broker/package.json
  packages/broker/src/helpers/fetch.ts
  packages/broker/src/helpers/scheduler.ts
  packages/broker/src/helpers/withTimeout.ts
  packages/broker/src/pluginRegistry.ts
  packages/broker/src/plugins/testnetMiner/TestnetMinerPlugin.ts
  packages/broker/src/plugins/testnetMiner/config.schema.json
  packages/broker/src/types/nat-type-identifier/index.d.ts
  packages/broker/test/integration/plugins/testnetMiner/TestnetMinerPlugin.test.ts
  packages/network/src/NetworkNode.ts
  packages/network/src/logic/Node.ts
Labels: broker, network

#106 Fix incorrect tracker-node-reconnect-instructions.test test case
  packages/network/test/integration/tracker-node-reconnect-instructions.test.ts
Labels: network

#96 Merge from streamr-client-javascript
  packages/client/.idea/vcs.xml
  packages/client/README.md
  packages/client/src/StreamrClient.ts
  packages/client/src/dataunion/Contracts.ts
  packages/client/src/dataunion/DataUnion.ts
  packages/client/src/dataunion/abi.ts
  packages/client/test/benchmarks/publish.js
  packages/client/test/benchmarks/subscribe.js
  packages/client/test/flakey/EnvStressTest.test.js
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/LoginEndpoints.test.ts
  packages/client/test/integration/MessagePipeline.test.js
  packages/client/test/integration/MultipleClients.test.js
  packages/client/test/integration/ResendReconnect.test.ts
  packages/client/test/integration/Resends.test.ts
  packages/client/test/integration/Sequencing.test.ts
  packages/client/test/integration/Session.test.ts
  packages/client/test/integration/Stream.test.ts
  packages/client/test/integration/StreamConnectionState.test.ts
  packages/client/test/integration/StreamEndpoints.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/integration/StreamrClientConnection.test.ts
  packages/client/test/integration/StreamrClientResends.test.ts
  packages/client/test/integration/Subscriber.test.js
  packages/client/test/integration/SubscriberResends.test.ts
  packages/client/test/integration/SubscriberResendsSequential.test.ts
  packages/client/test/integration/Subscription.test.ts
  packages/client/test/integration/TokenBalance.test.ts
  packages/client/test/integration/Validation.test.js
  packages/client/test/integration/authFetch.test.ts
  packages/client/test/integration/config.js
  packages/client/test/integration/dataunion/adminFee.test.ts
  packages/client/test/integration/dataunion/calculate.test.ts
  packages/client/test/integration/dataunion/deploy.test.ts
  packages/client/test/integration/dataunion/member.test.ts
  packages/client/test/integration/dataunion/signature.test.ts
  packages/client/test/integration/dataunion/stats.test.ts
  packages/client/test/integration/dataunion/transfer.test.ts
  packages/client/test/integration/dataunion/withdraw.test.ts
  packages/client/test/integration/devEnvironment.ts
  packages/client/test/memory/Leaks.test.ts
  packages/client/test/unit/Session.test.ts
  packages/client/test/utils.ts
Labels: client

#111 Refactoring suggestions
  packages/network/src/composition.ts
  packages/network/src/connection/NodeWebRtcConnection.ts
  packages/network/src/connection/NodeWebRtcEndpoint.ts
  packages/network/src/connection/WebRtcConnection.ts
  packages/network/src/connection/WebRtcEndpoint.ts
  packages/network/test/integration/delivery-of-messages-protocol-layer.test.ts
  packages/network/test/integration/node-to-node-protocol-version-negotiation.test.ts
  packages/network/test/integration/webrtc-endpoint-back-pressure-handling.test.ts
  packages/network/test/integration/webrtc-multi-signaller.test.ts
  packages/network/test/unit/NodeWebRtcEndpoint.test.ts
  packages/network/test/unit/WebRtcEndpoint.test.ts
Labels: network

#108 NET-358: re-enable and fix broker docker image
  .dockerignore
  .github/workflows/broker.yml
  Dockerfile
  packages/broker/Dockerfile
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
Labels: broker, ci

#105 Broker NET-333!: Configurable payload format for WebSocket and MQTT plugin
  packages/broker/src/helpers/PayloadFormat.ts
  packages/broker/src/plugins/mqtt/Bridge.ts
  packages/broker/src/plugins/mqtt/MqttPlugin.ts
  packages/broker/src/plugins/mqtt/config.schema.json
  packages/broker/src/plugins/publishHttp/publishEndpoint.ts
  packages/broker/src/plugins/websocket/Connection.ts
  packages/broker/src/plugins/websocket/PublishConnection.ts
  packages/broker/src/plugins/websocket/SubscribeConnection.ts
  packages/broker/src/plugins/websocket/WebsocketPlugin.ts
  packages/broker/src/plugins/websocket/WebsocketServer.ts
  packages/broker/src/plugins/websocket/config.schema.json
  packages/broker/test/integration/createMessagingPluginTest.ts
  packages/broker/test/integration/plugins/mqtt/MqttPlugin.test.ts
  packages/broker/test/integration/plugins/websocket/WebsocketPlugin.test.ts
  packages/broker/test/unit/helpers/PayloadFormat.test.ts
  packages/broker/test/unit/plugins/mqtt/Bridge.test.ts
  packages/broker/test/unit/plugins/websocket/WebsocketServer.test.ts
  packages/broker/test/utils.ts
Labels: broker
