Repository streamr-dev/network, pull requests merged in 2021-11, with the labels that each got.

#258 NET-554: add option to filter remote ICE candidates with private IPv4
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/development-prod-resend.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/src/broker.ts
  packages/broker/src/config.ts
  packages/broker/src/helpers/config.schema.json
  packages/broker/test/utils.ts
  packages/network/package-lock.json
  packages/network/package.json
  packages/network/src/composition.ts
  packages/network/src/connection/WebRtcEndpoint.ts
  packages/network/src/helpers/AddressTools.ts
  packages/network/test/unit/AddressTools.test.ts
  packages/network/test/unit/WebRtcEndpoint.test.ts
Labels: broker, network

#266 ci: specify exact action versions for easy debugability
  .github/workflows/client-build.yml
  .github/workflows/client-code.yml
  .github/workflows/client-dataunions.yml
  .github/workflows/cross-client.yml
Labels: ci, client, cross-client-testing

#268 client [NET-571]: Using the Brubeck client without providing a private key
  packages/client/src/BrubeckNode.ts
  packages/client/src/Ethereum.ts
Labels: client

#269 Fix broken browser tests
  packages/network/karma.config.js
  packages/network/test/unit/StreamManager.test.ts
  packages/network/test/unit/TrackerConnector.test.ts
Labels: network

#272 broker [NET-573]: MQTT plugin improvements
  packages/broker/src/plugins/mqtt/Bridge.ts
  packages/broker/src/plugins/mqtt/MqttServer.ts
  packages/broker/test/integration/plugins/mqtt/Bridge.test.ts
  packages/broker/test/unit/plugins/mqtt/Bridge.test.ts
Labels: broker

#273 network: add support for jest-extended in browser tests
  packages/network/karma-setup.js
  packages/network/test/unit/StreamManager.test.ts
  packages/network/test/unit/TrackerConnector.test.ts
Labels: network

#276 fix(client): unsubscribe from node
  packages/client/src/SubscriptionSession.ts
Labels: client

#277 broker [NET-581]: Remove legacyPublishHttp and legacyMqtt plugins
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/development-prod-resend.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/package.json
  packages/broker/src/pluginRegistry.ts
  packages/broker/src/plugins/legacyMqtt/Connection.ts
  packages/broker/src/plugins/legacyMqtt/MqttPlugin.ts
  packages/broker/src/plugins/legacyMqtt/MqttServer.ts
  packages/broker/src/plugins/legacyMqtt/config.schema.json
  packages/broker/src/plugins/legacyPublishHttp/DataProduceEndpoints.ts
  packages/broker/src/plugins/legacyPublishHttp/PublishHttpPlugin.ts
  packages/broker/src/plugins/metrics/ConsoleAndPM2Metrics.ts
  packages/broker/src/types/mqtt-connection/index.d.ts
  packages/broker/test/integration/broker-drops-future-messages.test.ts
  packages/broker/test/integration/broker-subscriptions.test.ts
  packages/broker/test/integration/broker.test.ts
  packages/broker/test/integration/local-propagation.test.ts
  packages/broker/test/integration/plugins/legacyMqtt/mqtt-error-handling.test.ts
  packages/broker/test/integration/plugins/legacyMqtt/mqtt.test.ts
  packages/broker/test/integration/plugins/legacyPublishHttp/broker-resistance-to-invalid-data.test.ts
  packages/broker/test/integration/plugins/storage/StorageNode.test.ts
  packages/broker/test/unit/plugins/legacyPublishHttp/DataProduceEndpoints.test.ts
  packages/broker/test/utils.ts
Labels: broker

#278 Fix broker docker build so new images compatible with main branch can be pushed.
  .github/workflows/broker.yml
  .github/workflows/client-code.yml
  .github/workflows/client-dataunions.yml
  .github/workflows/cross-client.yml
  Dockerfile
  lerna.json
Labels: ci, broker, client, cross-client-testing

#259 npm workspaces
  .github/workflows/broker.yml
  .github/workflows/client-build.yml
  .github/workflows/client-code.yml
  .github/workflows/client-dataunions.yml
  .github/workflows/cross-client.yml
  .github/workflows/network-browser.yml
  .github/workflows/network.yml
  .github/workflows/protocol.yml
  .github/workflows/test-utils.yml
  Dockerfile
  README.md
  package-lock.json
  package.json
  packages/broker/package-lock.json
  packages/broker/package.json
  packages/broker/tsconfig.node.json
  packages/cli-tools/package-lock.json
  packages/cli-tools/tsconfig.json
  packages/client/nightwatch.conf.js
  packages/client/nightwatch.json
  packages/client/package-lock.json
  packages/client/package.json
  packages/client/test/exports/webpack.config.js
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/tsconfig.browser.json
  packages/client/tsconfig.json
  packages/client/tsconfig.node.json
  packages/client/webpack.config.js
  packages/cross-client-testing/Makefile
  packages/dev-config/package-lock.json
  packages/network/package-lock.json
  packages/network/tsconfig.json
  packages/network/tsconfig.node.json
  packages/protocol/package-lock.json
  packages/protocol/tsconfig.json
  packages/test-utils/package-lock.json
  packages/test-utils/package.json
Labels: ci, broker, network, client, protocol, test-utils, cli-tools, dev-config, cross-client-testing, docs

#280 ETH-187 fix sidechain address query
  .github/workflows/client-build.yml
  packages/client/src/StreamrClient.ts
  packages/client/src/dataunion/Contracts.ts
  packages/client/src/dataunion/DataUnion.ts
  packages/client/test/integration/dataunion/calculate.test.ts
Labels: ci, client

#281 Fix getStats
  .github/workflows/client-dataunions.yml
  packages/client/src/dataunion/Contracts.ts
  packages/client/src/dataunion/DataUnion.ts
  packages/client/src/dataunion/abi.ts
  packages/client/test/integration/dataunion/stats.test.ts
  packages/client/test/integration/dataunion/transfer.test.ts
Labels: ci, client

#285 fix: sidechain address should NOT come from factory
  packages/client/src/StreamrClient.ts
  packages/client/src/dataunion/Contracts.ts
  packages/client/src/dataunion/abi.ts
Labels: client

#286 Fix a bug in node-fetch replacement in browser
  packages/client/src/shim/node-fetch.ts
Labels: client

#294 Fix client badges
  packages/client/README.md
Labels: client
