Repository streamr-dev/network, pull requests merged in 2021-07, with the labels that each got.

#109 feat: (network) increase abstraction level of the connection classes …
  packages/network/src/composition.ts
  packages/network/src/connection/Connection.ts
  packages/network/src/connection/NodeWebRtcConnection.ts
  packages/network/src/connection/WebRtcConnection.ts
  packages/network/src/connection/WebRtcEndpoint.ts
  packages/network/test/integration/NodeWebRtcConnection.test.ts
  packages/network/test/integration/delivery-of-messages-protocol-layer.test.ts
  packages/network/test/integration/node-to-node-protocol-version-negotiation.test.ts
  packages/network/test/integration/webrtc-endpoint-back-pressure-handling.test.ts
  packages/network/test/integration/webrtc-multi-signaller.test.ts
  packages/network/test/unit/WebRtcEndpoint.test.ts
Labels: network

#118 fix: start parity-sidechain-node0
  .github/workflows/broker.yml
Labels: broker, ci

#36 Add StreamPartitionID class.
  packages/protocol/src/utils/SPID.ts
  packages/protocol/src/utils/index.ts
  packages/protocol/test/unit/utils/SPID.test.ts
Labels: protocol

#117 NET-354: Test for validating Broker configs
  packages/broker/test/integration/config.test.ts
Labels: broker

#88 NET-327: Nodes configured with the same Ethereum private key need unique WebRTC ids
  packages/broker/package-lock.json
  packages/broker/src/broker.ts
  packages/broker/test/integration/node-id.test.ts
  packages/broker/test/utils.ts
  packages/network/package-lock.json
Labels: broker, network

#120 Increase websocket abstraction level
  packages/network/src/composition.ts
  packages/network/src/connection/ClientWsEndpoint.ts
  packages/network/src/connection/DeferredConnectionAttempt.ts
  packages/network/src/connection/PingPongWs.ts
  packages/network/src/connection/WebRtcConnection.ts
  packages/network/src/connection/WebRtcEndpoint.ts
  packages/network/src/connection/ws/AbstractWsEndpoint.ts
  packages/network/src/connection/ws/ClientWsConnection.ts
  packages/network/src/connection/ws/ClientWsEndpoint.ts
  packages/network/src/connection/ws/PingPongWs.ts
  packages/network/src/connection/ws/ServerWsConnection.ts
  packages/network/src/connection/ws/ServerWsEndpoint.ts
  packages/network/src/connection/ws/WsConnection.ts
  packages/network/src/logic/Node.ts
  packages/network/src/logic/rtcSignallingHandlers.ts
  packages/network/src/protocol/TrackerNode.ts
  packages/network/src/protocol/TrackerServer.ts
  packages/network/test/integration/NodeWebRtcConnection.test.ts
  packages/network/test/integration/counter-filtering-in-tracker.test.ts
  packages/network/test/integration/delivery-of-messages-protocol-layer.test.ts
  packages/network/test/integration/killing-dead-connections.test.ts
  packages/network/test/integration/latency.test.ts
  packages/network/test/integration/node-to-node-protocol-version-negotiation.test.ts
  packages/network/test/integration/rtc-signalling-messages-routing.test.ts
  packages/network/test/integration/webrtc-endpoint-back-pressure-handling.test.ts
  packages/network/test/integration/webrtc-multi-signaller.test.ts
  packages/network/test/integration/ws-endpoint-back-pressure-handling.test.ts
  packages/network/test/integration/ws-endpoint.test.ts
  packages/network/test/unit/ServerWsEndpoint.test.ts
  packages/network/test/unit/WebRtcEndpoint.test.ts
  packages/network/test/unit/WebSocketServer.test.ts
  packages/network/test/utils.ts
Labels: broker, network

#86 Eth 98 binance adapter
  packages/client/package.json
  packages/client/src/Config.ts
  packages/client/src/Ethereum.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/dataunion/Contracts.ts
  packages/client/src/dataunion/DataUnion.ts
  packages/client/src/dataunion/abi.ts
  packages/client/test/integration/config.js
  packages/client/test/integration/dataunion/binanceAdapter.test.ts
  packages/client/test/utils.ts
Labels: client

#125 network [NET-368]: get rid of uws in network
  packages/network/package-lock.json
  packages/network/package.json
  packages/network/src/composition.ts
  packages/network/src/connection/ws/AbstractWsEndpoint.ts
  packages/network/src/connection/ws/ClientWsConnection.ts
  packages/network/src/connection/ws/ServerWsConnection.ts
  packages/network/src/connection/ws/ServerWsEndpoint.ts
  packages/network/src/connection/ws/WsConnection.ts
  packages/network/src/helpers/trackerHttpEndpoints.ts
  packages/network/src/logic/rtcSignallingHandlers.ts
  packages/network/test/integration/counter-filtering-in-tracker.test.ts
  packages/network/test/integration/latency.test.ts
  packages/network/test/integration/ws-endpoint-back-pressure-handling.test.ts
  packages/network/test/integration/ws-endpoint.test.ts
  packages/network/test/unit/ServerWsEndpoint.test.ts
  packages/network/test/utils.ts
Labels: network

#126 protocol [NET-370]: TrackerRegistry return ids of trackers
  packages/protocol/src/utils/TrackerRegistry.ts
  packages/protocol/test/integration/TrackerRegistry.test.ts
Labels: protocol

#116 NET-26: Broker configuration validation
  packages/broker/bin/broker.js
  packages/broker/configs/development-prod-resend.env.json
  packages/broker/src/broker.ts
  packages/broker/test/integration/SubscriptionManager.test.ts
  packages/broker/test/integration/broker-drops-future-messages.test.ts
  packages/broker/test/integration/broker.test.ts
  packages/broker/test/integration/config.test.ts
  packages/broker/test/integration/createMessagingPluginTest.ts
  packages/broker/test/integration/local-propagation.test.ts
  packages/broker/test/integration/node-id.test.ts
  packages/broker/test/integration/per-node-metrics.test.ts
  packages/broker/test/integration/plugins/legacyMqtt/mqtt-error-handling.test.ts
  packages/broker/test/integration/plugins/legacyMqtt/mqtt.test.ts
  packages/broker/test/integration/plugins/legacyPublishHttp/broker-resistance-to-invalid-data.test.ts
  packages/broker/test/integration/plugins/legacyWebsocket/websocket-server.test.ts
  packages/broker/test/integration/plugins/storage/DataMetadataEndpoints.test.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/integration/plugins/testnetMiner/TestnetMinerPlugin.test.ts
  packages/broker/test/utils.ts
Labels: broker

#99 ETH-82: Add member part to streamr-client-javascript
  packages/client/src/dataunion/DataUnion.ts
  packages/client/test/integration/dataunion/member.test.ts
  packages/client/test/integration/dataunion/transfer.test.ts
  packages/client/test/integration/devEnvironment.ts
Labels: client

#114 NET-342: Interactive config init
  packages/broker/bin/config-wizard.js
  packages/broker/package-lock.json
  packages/broker/package.json
  packages/broker/src/ConfigWizard.ts
  packages/broker/test/unit/ConfigWizard.test.ts
Labels: broker

#129 NET-374: Change location of generated config file in broker config wizard
  packages/broker/bin/config-wizard.js
  packages/broker/src/ConfigWizard.ts
  packages/broker/test/unit/ConfigWizard.test.ts
Labels: broker

#130 Net-372: allow dummy messages
  packages/broker/src/plugins/testnetMiner/TestnetMinerPlugin.ts
Labels: broker
