Repository streamr-dev/network, pull requests merged in 2021-05, with the labels that each got.

#8 Improve build speed
  .github/workflows/client-build.yml
  .gitignore
  package.json
  packages/client/package.json
  packages/client/src/utils/index.ts
  packages/client/tsconfig.json
  packages/client/tsconfig.node.json
  packages/protocol/tsconfig.json
  packages/test-utils/tsconfig.json
Labels: ci, client, protocol, test-utils

#11 Update packages 3
  Makefile
  packages/broker/bin/tracker.js
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/package.json
  packages/broker/src/broker.ts
  packages/broker/src/config.ts
  packages/broker/src/helpers/config.schema.json
  packages/broker/src/http/RequestAuthenticatorMiddleware.ts
  packages/broker/test/integration/per-node-stream-metrics.test.ts
  packages/broker/test/utils.ts
  packages/cli-tools/package.json
  packages/client/package.json
  packages/cross-client-testing/package.json
  packages/network/package-lock.json
  packages/network/package.json
  packages/network/src/NetworkNode.ts
  packages/network/src/composition.ts
  packages/network/test/flakey/WebRtcEndpoint.test.ts
  packages/network/test/integration/l1-resend-requests.test.ts
  packages/network/test/integration/l3-resend-requests.test.ts
  packages/protocol/package.json
  packages/test-utils/package.json
Labels: broker, cli-tools, client, network, protocol, test-utils

#13 Add missing eslint-streamr-config-ts to test-utils package
  packages/test-utils/.eslintrc
  packages/test-utils/jest.config.js
  packages/test-utils/package-lock.json
  packages/test-utils/package.json
  packages/test-utils/src/utils.ts
  packages/test-utils/test/utils.test.ts
Labels: test-utils

#12 NET-248: Refactor adapters to plugins
  packages/broker/README.md
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/src/Adapter.ts
  packages/broker/src/Plugin.ts
  packages/broker/src/adapterRegistry.ts
  packages/broker/src/broker.ts
  packages/broker/src/config.ts
  packages/broker/src/helpers/config.schema.json
  packages/broker/src/helpers/validateConfig.ts
  packages/broker/src/http/HttpPlugin.ts
  packages/broker/src/http/index.ts
  packages/broker/src/httpServer.ts
  packages/broker/src/mqtt/MqttPlugin.ts
  packages/broker/src/mqtt/config.schema.json
  packages/broker/src/mqtt/index.ts
  packages/broker/src/pluginRegistry.ts
  packages/broker/src/websocket/WebsocketPlugin.ts
  packages/broker/src/websocket/WebsocketServer.ts
  packages/broker/src/websocket/config.schema.json
  packages/broker/src/websocket/index.ts
  packages/broker/test/integration/SubscriptionManager.test.ts
  packages/broker/test/integration/broker-drops-future-messages.test.ts
  packages/broker/test/integration/broker-resistance-to-invalid-data.test.ts
  packages/broker/test/utils.ts
Labels: broker

#15 add test-utils to github actions
  .github/labeler.yml
  .github/workflows/test-utils.yml
  packages/test-utils/.eslintignore
Labels: ci, test-utils

#28 Update GitHub actions globbing
  .github/labeler.yml
  .github/workflows/broker.yml
  .github/workflows/client-build.yml
  .github/workflows/client-code.yml
  .github/workflows/label.yml
  .github/workflows/network.yml
  .github/workflows/protocol.yml
  .github/workflows/test-utils.yml
Labels: broker, ci, client, network, protocol, test-utils

#24 Add shared TypeScript config
  .github/labeler.yml
  package-lock.json
  package.json
  packages/broker/.github/workflows/ci-cd.yaml
  packages/broker/package-lock.json
  packages/broker/package.json
  packages/broker/tsconfig.json
  packages/cli-tools/package-lock.json
  packages/cli-tools/package.json
  packages/cli-tools/tsconfig.json
  packages/client/.github/workflows/docs.yml
  packages/client/.github/workflows/test-build.yml
  packages/client/.github/workflows/test-code.yml
  packages/client/package-lock.json
  packages/client/package.json
  packages/client/test/exports/tsconfig.json
  packages/client/tsconfig.json
  packages/client/tsconfig.node.json
  packages/client/tsconfig.test.json
  packages/cross-client-testing/.babelrc
  packages/cross-client-testing/.github/dependabot.yaml
  packages/cross-client-testing/.github/workflows/ci.yaml
  packages/cross-client-testing/package-lock.json
  packages/cross-client-testing/package.json
  packages/dev-config/LICENSE
  packages/dev-config/package-lock.json
  packages/dev-config/package.json
  packages/dev-config/ts/tsconfig.browser.json
  packages/dev-config/ts/tsconfig.jest.json
  packages/dev-config/ts/tsconfig.node.json
  packages/network/.github/workflows/docs.yml
  packages/network/.github/workflows/nodejs.yml
  packages/network/package-lock.json
  packages/network/package.json
  packages/network/tsconfig.json
  packages/protocol/.github/workflows/docs.yml
  packages/protocol/.github/workflows/nodejs.yml
  packages/protocol/package-lock.json
  packages/protocol/package.json
  packages/protocol/tsconfig.json
  packages/test-utils/package-lock.json
  packages/test-utils/package.json
  packages/test-utils/tsconfig.json
Labels: broker, ci, cli-tools, client, cross-client-testing, dev-config, network, protocol, test-utils

#29 Update cross client testing
  .github/workflows/cross-client.yml
  packages/cross-client-testing/package.json
  packages/cross-client-testing/publisher.js
  packages/cross-client-testing/src/main/java/com/streamr/client_testing/Main.java
  packages/cross-client-testing/src/main/java/com/streamr/client_testing/StreamTester.java
  packages/cross-client-testing/src/main/java/com/streamr/client_testing/Streams.java
Labels: ci, cross-client-testing

#31 release network v24.3.3 and broker v21.0.0
  packages/broker/package-lock.json
  packages/broker/package.json
  packages/network/package-lock.json
  packages/network/package.json
Labels: broker, network

#33 avoid "null" string in authorization header
  packages/broker/src/StreamFetcher.ts
  packages/broker/src/helpers/authentication.ts
  packages/broker/src/websocket/historicalData.ts
Labels: broker

#35 release(broker): 21.0.1
  packages/broker/package.json
Labels: broker

#34 fix(broker): replace 127.0.0.1 with STREAMR_DOCKER_DEV_HOST in tests
  packages/broker/test/integration/resends-cancelled-on-client-disconnect.test.ts
  packages/broker/test/integration/storage/StoragePlugin.test.ts
Labels: broker

#38 NET-143: Remove references to ResendFromRequest#msgChainId in Broker
  packages/broker/src/plugins/storage/DataQueryEndpoints.ts
  packages/broker/src/plugins/storage/Storage.ts
  packages/broker/test/integration/plugins/storage/Storage.test.ts
  packages/broker/test/unit/plugins/storage/DataQueryEndpoints.test.ts
Labels: broker

#37 Fix InstructionRetryManager test
  packages/network/test/unit/InstructionRetryManager.test.ts
Labels: bug, network

#41 NET-321: hotfix metrics when no existing data points
  packages/broker/src/StreamMetrics.ts
Labels: broker

#42 NET-84: Trusted MQTT plugin
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/package-lock.json
  packages/broker/package.json
  packages/broker/src/Plugin.ts
  packages/broker/src/apiAuthenticator.ts
  packages/broker/src/broker.ts
  packages/broker/src/config.ts
  packages/broker/src/helpers/config.schema.json
  packages/broker/src/localStreamrClient.ts
  packages/broker/src/pluginRegistry.ts
  packages/broker/src/plugins/legacyMqtt/Connection.ts
  packages/broker/src/plugins/legacyMqtt/MqttPlugin.ts
  packages/broker/src/plugins/legacyMqtt/MqttServer.ts
  packages/broker/src/plugins/legacyMqtt/config.schema.json
  packages/broker/src/plugins/mqtt/Bridge.ts
  packages/broker/src/plugins/mqtt/MqttPlugin.ts
  packages/broker/src/plugins/mqtt/MqttServer.ts
  packages/broker/src/plugins/mqtt/config.schema.json
  packages/broker/src/types.ts
  packages/broker/test/integration/SubscriptionManager.test.ts
  packages/broker/test/integration/broker-drops-future-messages.test.ts
  packages/broker/test/integration/local-propagation.test.ts
  packages/broker/test/integration/plugins/legacyMqtt/mqtt-error-handling.test.ts
  packages/broker/test/integration/plugins/legacyMqtt/mqtt.test.ts
  packages/broker/test/integration/plugins/mqtt/MqttPlugin.test.ts
  packages/broker/test/integration/plugins/mqtt/MqttServer.test.ts
  packages/broker/test/integration/plugins/storage/StoragePlugin.test.ts
  packages/broker/test/utils.ts
Labels: broker
