Repository streamr-dev/network, pull requests merged in 2021-09, with the labels that each got.

#157 Fix callback err types in protocol tests
  packages/protocol/test/unit/protocol/control_layer/ControlMessage.test.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessage.test.ts
  packages/protocol/test/unit/utils/CachingStreamMessageValidator.test.ts
  packages/protocol/test/unit/utils/StreamMessageValidator.test.ts
Labels: broker, protocol

#174 No longer send "full" status messages to reduce the size of WS payloads
  packages/network/src/composition.ts
  packages/network/src/identifiers.ts
  packages/network/src/logic/Node.ts
  packages/network/src/logic/Tracker.ts
  packages/network/test/integration/multi-trackers.test.ts
  packages/network/test/integration/tracker-endpoints.test.ts
  packages/network/test/integration/tracker-node-status.test.ts
Labels: network

#166 network [NET-436]: custom speedometer
  packages/network/package.json
  packages/network/src/helpers/MetricsContext.ts
  packages/network/src/helpers/Speedometer.ts
  packages/network/src/logic/Node.ts
  packages/network/src/logic/PerStreamMetrics.ts
  packages/network/src/types/speedometer/index.d.ts
  packages/network/test/unit/MetricsContext.test.ts
  packages/network/test/unit/PerStreamMetrics.test.ts
  packages/network/test/unit/Speedometer.test.ts
Labels: network

#182 NET-493: Don't assign 'sec' metrics streams to storage
  packages/broker/src/plugins/metrics/node/MetricsPublisher.ts
Labels: broker

#161 NET-437: Broker's config wizard UX/UI polishing
  packages/broker/bin/config-wizard.js
  packages/broker/src/ConfigWizard.ts
  packages/broker/test/unit/ConfigWizard.test.ts
Labels: broker

#185 Update tracker ids for dev/test
  packages/broker/bin/run-all.js
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/network/src/NameDirectory.ts
  packages/network/test/unit/NameDirectory.test.ts
Labels: broker, network

#188 network: type annotations for PeerId, NodeId and TrackerId
  packages/network/src/NameDirectory.ts
  packages/network/src/NetworkNode.ts
  packages/network/src/browser/LocationManager.ts
  packages/network/src/composition.ts
  packages/network/src/connection/DeferredConnectionAttempt.ts
  packages/network/src/connection/IWebRtcEndpoint.ts
  packages/network/src/connection/NegotiatedProtocolVersions.ts
  packages/network/src/connection/PeerInfo.ts
  packages/network/src/connection/WebRtcConnection.ts
  packages/network/src/connection/WebRtcEndpoint.ts
  packages/network/src/connection/ws/AbstractClientWsEndpoint.ts
  packages/network/src/connection/ws/AbstractWsConnection.ts
  packages/network/src/connection/ws/AbstractWsEndpoint.ts
  packages/network/src/connection/ws/BrowserClientWsEndpoint.ts
  packages/network/src/connection/ws/NodeClientWsEndpoint.ts
  packages/network/src/connection/ws/ServerWsEndpoint.ts
  packages/network/src/helpers/MetricsContext.ts
  packages/network/src/identifiers.ts
  packages/network/src/logic/InstructionCounter.ts
  packages/network/src/logic/InstructionRetryManager.ts
  packages/network/src/logic/InstructionThrottler.ts
  packages/network/src/logic/LocationManager.ts
  packages/network/src/logic/Node.ts
  packages/network/src/logic/OverlayTopology.ts
  packages/network/src/logic/RtcSignaller.ts
  packages/network/src/logic/StreamManager.ts
  packages/network/src/logic/Tracker.ts
  packages/network/src/logic/trackerSummaryUtils.ts
  packages/network/src/protocol/NodeToNode.ts
  packages/network/src/protocol/TrackerNode.ts
  packages/network/src/protocol/TrackerServer.ts
  packages/network/test/benchmarks/overlay-topology-randomness.ts
  packages/network/test/integration/counter-filtering-in-tracker.test.ts
  packages/network/test/unit/InstructionRetryManager.test.ts
Labels: network

#186 NET-496: select a random stream from a configured list (single tracker)
  packages/broker/configs/docker-1.env.json
  packages/broker/src/plugins/testnetMiner/TestnetMinerPlugin.ts
  packages/broker/src/plugins/testnetMiner/config.schema.json
  packages/broker/test/integration/plugins/testnetMiner/TestnetMinerPlugin.test.ts
Labels: broker

#190 network: rename TrackerNode -> NodeToTracker
  packages/network/src/composition.ts
  packages/network/src/logic/Node.ts
  packages/network/src/logic/RtcSignaller.ts
  packages/network/src/protocol/NodeToNode.ts
  packages/network/src/protocol/NodeToTracker.ts
  packages/network/src/protocol/TrackerServer.ts
  packages/network/test/integration/counter-filtering-in-tracker.test.ts
  packages/network/test/integration/delivery-of-messages-protocol-layer.test.ts
  packages/network/test/integration/message-duplication.test.ts
  packages/network/test/integration/multi-trackers.test.ts
  packages/network/test/integration/node-to-node-protocol-version-negotiation.test.ts
  packages/network/test/integration/rtc-signalling-messages-routing.test.ts
  packages/network/test/integration/webrtc-endpoint-back-pressure-handling.test.ts
  packages/network/test/integration/webrtc-error-scenarios-during-signalling.test.ts
  packages/network/test/integration/webrtc-multi-signaller.test.ts
  packages/network/test/unit/RtcSignaller.test.ts
  packages/network/test/unit/WebRtcEndpoint.test.ts
Labels: network

#191 Fix tracker hashing
  packages/client/src/publish/StreamPartitioner.ts
  packages/network/test/integration/multi-trackers.test.ts
  packages/protocol/src/utils/HashUtil.ts
  packages/protocol/src/utils/TrackerRegistry.ts
  packages/protocol/src/utils/index.ts
  packages/protocol/test/integration/TrackerRegistry.test.ts
  packages/protocol/test/unit/utils/HashUtil.test.ts
Labels: network, client, protocol

#183 NET-486: Investigate bad join & claim rates
  packages/broker/src/plugins/testnetMiner/TestnetMinerPlugin.ts
Labels: broker

#189 network: remove Storage peer type
  packages/network/src/connection/PeerInfo.ts
  packages/network/test/unit/PeerInfo.test.ts
Labels: network

#192 network [NET-472]: debounced instruction send for Tracker
  packages/broker/bin/tracker.js
  packages/network/bin/tracker.js
  packages/network/src/composition.ts
  packages/network/src/logic/InstructionSender.ts
  packages/network/src/logic/Tracker.ts
  packages/network/test/unit/InstructionSender.test.ts
Labels: broker, network

#193 fix broker [NET-493]: don't store sec metrics
  packages/broker/src/plugins/metrics/node/MetricsPublisher.ts
  packages/broker/test/unit/plugins/metrics/node/MetricsPublisher.test.ts
Labels: broker

#194 broker [NET-465]: metrics stream storage node assignment
  packages/broker/src/plugins/metrics/node/MetricsPublisher.ts
  packages/broker/test/unit/plugins/metrics/node/MetricsPublisher.test.ts
Labels: broker

#195 NET-488: auto migrate config testnet1 -> testnet2
  packages/broker/bin/broker.js
  packages/broker/src/ConfigWizard.ts
  packages/broker/src/helpers/ConfigAutoMigrate.ts
  packages/broker/src/plugins/testnetMiner/config.schema.testnet1.json
Labels: broker

#196 broker: do not automigrate if miner plugin not enabled
  packages/broker/src/helpers/ConfigAutoMigrate.ts
Labels: broker

#169 NET-438: Log improvements on WebRTCConnection timeout
  packages/network/src/connection/WebRtcConnection.ts
  packages/network/src/connection/WebRtcEndpoint.ts
Labels: network

#198 network, broker [NET-440]: improve logging
  packages/broker/src/plugins/legacyWebsocket/Connection.ts
  packages/broker/src/plugins/legacyWebsocket/WebsocketServer.ts
  packages/broker/src/plugins/testnetMiner/TestnetMinerPlugin.ts
  packages/network/src/logic/Node.ts
  packages/network/src/logic/TrackerConnector.ts
Labels: broker, network

#197 NET-505: save backup to config file's path
  packages/broker/bin/broker.js
  packages/broker/src/helpers/ConfigAutoMigrate.ts
Labels: broker

#199 fix connection count logging
  packages/network/src/connection/WebRtcEndpoint.ts
Labels: network

#179 NET-466: tracker drops duplicate id connections
  packages/network/src/connection/ws/AbstractWsEndpoint.ts
  packages/network/src/connection/ws/BrowserClientWsEndpoint.ts
  packages/network/src/connection/ws/NodeClientWsEndpoint.ts
  packages/network/src/connection/ws/ServerWsEndpoint.ts
  packages/network/test/integration/browser-ws-endpoint.test.ts
  packages/network/test/integration/ws-endpoint.test.ts
Labels: network

#201 NET-508: add compression to tracker endpoints
  packages/network/package-lock.json
  packages/network/package.json
  packages/network/src/helpers/trackerHttpEndpoints.ts
Labels: network

#202 Net 511: unix sockets in websocket server
  packages/broker/bin/tracker.js
  packages/broker/test/integration/SubscriptionManager.test.ts
  packages/broker/test/integration/broker-drops-future-messages.test.ts
  packages/broker/test/integration/broker.test.ts
  packages/broker/test/integration/createMessagingPluginTest.ts
  packages/broker/test/integration/local-propagation.test.ts
  packages/broker/test/integration/node-id.test.ts
  packages/broker/test/integration/plugins/legacyMqtt/mqtt-error-handling.test.ts
  packages/broker/test/integration/plugins/legacyMqtt/mqtt.test.ts
  packages/broker/test/integration/plugins/legacyPublishHttp/broker-resistance-to-invalid-data.test.ts
  packages/broker/test/integration/plugins/legacyWebsocket/ping-pong.test.ts
  packages/broker/test/integration/plugins/metrics/node/NodeMetrics.test.ts
  packages/broker/test/integration/plugins/storage/DataMetadataEndpoints.test.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/integration/plugins/storage/resends-cancelled-on-client-disconnect.test.ts
  packages/broker/test/integration/plugins/testnetMiner/TestnetMinerPlugin.test.ts
  packages/network/bin/tracker.js
  packages/network/karma.config.js
  packages/network/src/composition.ts
  packages/network/src/connection/ws/ServerWsEndpoint.ts
  packages/network/test/integration/UnixSocketWsServer.test.ts
  packages/network/test/integration/browser-ws-endpoint.test.ts
  packages/network/test/integration/counter-filtering-in-tracker.test.ts
  packages/network/test/integration/delivery-of-messages-protocol-layer.test.ts
  packages/network/test/integration/do-not-propagate-to-sender-optimization.test.ts
  packages/network/test/integration/latency.test.ts
  packages/network/test/integration/message-duplication.test.ts
  packages/network/test/integration/message-propagation.test.ts
  packages/network/test/integration/multi-trackers.test.ts
  packages/network/test/integration/network-stabilization.test.ts
  packages/network/test/integration/node-to-node-protocol-version-negotiation.test.ts
  packages/network/test/integration/nodeMessageBuffering.test.ts
  packages/network/test/integration/rtc-signalling-messages-routing.test.ts
  packages/network/test/integration/tracker-endpoints.test.ts
  packages/network/test/integration/tracker-instructions.test.ts
  packages/network/test/integration/tracker-node-reconnect-instructions.test.ts
  packages/network/test/integration/tracker-node-status.test.ts
  packages/network/test/integration/tracker.test.ts
  packages/network/test/integration/unsubscribe-from-stream.test.ts
  packages/network/test/integration/webrtc-endpoint-back-pressure-handling.test.ts
  packages/network/test/integration/webrtc-error-scenarios-during-signalling.test.ts
  packages/network/test/integration/webrtc-multi-signaller.test.ts
  packages/network/test/integration/ws-endpoint.test.ts
  packages/network/test/unit/ServerWsEndpoint.test.ts
  packages/network/test/unit/WebRtcEndpoint.test.ts
  packages/network/test/utils.ts
  packages/network/webpack.config.js
Labels: broker, network

#204 SSR friendly web build
  packages/client/src/StreamrClient.ts
  packages/client/src/shim/node-fetch.js
  packages/client/src/utils/index.ts
  packages/client/src/utils/uuid.ts
  packages/client/webpack.config.js
Labels: client

#205 Report storage refresh failure correctly.
  packages/broker/src/plugins/storage/StorageConfig.ts
Labels: broker

#203 NET-502: clean up unused connections
  packages/network/src/connection/IWebRtcEndpoint.ts
  packages/network/src/connection/WebRtcEndpoint.ts
  packages/network/src/logic/Node.ts
  packages/network/src/protocol/NodeToNode.ts
Labels: network

#200 NET-507: Node tracker logic refactor & performance increases
  packages/network/jest.config.js
  packages/network/package-lock.json
  packages/network/package.json
  packages/network/src/logic/Node.ts
  packages/network/src/logic/StreamManager.ts
  packages/network/src/logic/TrackerConnector.ts
  packages/network/src/logic/TrackerManager.ts
  packages/network/src/types/global.d.ts
  packages/network/test/integration/multi-trackers.test.ts
  packages/network/test/integration/tracker-endpoints.test.ts
  packages/network/test/integration/tracker-instructions.test.ts
  packages/network/test/integration/webrtc-error-scenarios-during-signalling.test.ts
Labels: network

#210 NET-419: Update node-datachannel to v0.1.10
  packages/network/package-lock.json
  packages/network/package.json
Labels: network

#213 ci: Add Dependabot for GitHub Actions and Docker
  .github/dependabot.yaml
Labels: ci

#223 network: remove support for full status messages
  packages/network/src/identifiers.ts
  packages/network/src/logic/node/StreamManager.ts
  packages/network/src/logic/node/TrackerManager.ts
  packages/network/src/logic/tracker/InstructionCounter.ts
  packages/network/src/logic/tracker/Tracker.ts
  packages/network/src/protocol/NodeToTracker.ts
  packages/network/test/integration/counter-filtering-in-tracker.test.ts
  packages/network/test/integration/rtc-signalling-messages-routing.test.ts
  packages/network/test/unit/InstructionCounter.test.ts
  packages/network/test/unit/StreamManager.test.ts
Labels: network

#224 network [NET-464]: add pm2 metrics to tracker
  packages/network/package-lock.json
  packages/network/package.json
  packages/network/src/browser/Pm2Shim.ts
  packages/network/src/logic/tracker/InstructionSender.ts
  packages/network/src/logic/tracker/Tracker.ts
  packages/network/webpack.config.js
Labels: network

#225 ci(cross-client-testing): Use zulu distribution with setup-java.
  .github/workflows/cross-client.yml
Labels: ci, cross-client-testing

#230 network [NET-533]: backwards compatibility for receiving full status messages
  packages/network/src/logic/tracker/Tracker.ts
Labels: network
