Repository streamr-dev/network, pull requests merged in 2022-10, with the labels that each got.

#851 refactor(client): Minimal `Persistence` interface
  packages/client/src/encryption/GroupKeyStore.ts
  packages/client/src/utils/persistence/BrowserPersistence.ts
  packages/client/src/utils/persistence/Persistence.ts
  packages/client/src/utils/persistence/ServerPersistence.ts
  packages/client/test/unit/GroupKeyStore.test.ts
  packages/client/test/unit/GroupKeyStore2.test.ts
  packages/client/test/unit/ServerPersistence.test.ts
Labels: client

#852 refactor(client): Extract `GroupKeyQueue`
  packages/client/src/StreamrClient.ts
  packages/client/src/encryption/GroupKeyStore.ts
  packages/client/src/publish/Encrypt.ts
  packages/client/src/publish/GroupKeyQueue.ts
  packages/client/src/publish/Publisher.ts
  packages/client/test/unit/GroupKeyQueue.test.ts
  packages/client/test/unit/GroupKeyStore.test.ts
  packages/client/test/unit/GroupKeyStore2.test.ts
  packages/client/test/unit/Publisher.test.ts
Labels: client

#853 refactor(client): Remove `GroupKeyStoreFactory`
  packages/client/src/StreamrClient.ts
  packages/client/src/encryption/GroupKeyStore.ts
  packages/client/src/encryption/GroupKeyStoreFactory.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/index-exports.ts
  packages/client/src/publish/GroupKeyQueue.ts
  packages/client/src/publish/Publisher.ts
  packages/client/src/subscribe/Decrypt.ts
  packages/client/src/subscribe/SubscribePipeline.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/integration/PublisherKeyExchange.test.ts
  packages/client/test/integration/SubscriberKeyExchange.test.ts
  packages/client/test/integration/resend-with-existing-key.test.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Decrypt.test.ts
  packages/client/test/unit/GroupKeyQueue.test.ts
  packages/client/test/unit/GroupKeyStore.test.ts
Labels: client

#855 fix(client): Concurrency issue in group key storage
  packages/client/CHANGELOG.md
  packages/client/src/encryption/GroupKeyStore.ts
  packages/client/src/utils/persistence/BrowserPersistence.ts
  packages/client/src/utils/persistence/Persistence.ts
  packages/client/src/utils/persistence/ServerPersistence.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/GroupKeyStore.test.ts
  packages/client/test/unit/ServerPersistence.test.ts
Labels: client, changelog

#856 fix(client): Timestamp unit bug in permission filters
  packages/client/src/permission.ts
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/registry/searchStreams.ts
Labels: client

#857 Cleanup client CHANGELOG.md for v7 release
  packages/client/CHANGELOG.md
Labels: client, changelog

#860 refactor: Remove dead code
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/test-utils/README.md
  packages/test-utils/src/utils.ts
  packages/test-utils/test/utils.test.ts
Labels: protocol, test-utils

#762 refactor(client): Refactor `Publisher`
  packages/client/src/Stream.ts
  packages/client/src/StreamIDBuilder.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/encryption/EncryptionUtil.ts
  packages/client/src/index-exports.ts
  packages/client/src/publish/Encrypt.ts
  packages/client/src/publish/GroupKeyQueue.ts
  packages/client/src/publish/MessageChain.ts
  packages/client/src/publish/MessageCreator.ts
  packages/client/src/publish/MessageFactory.ts
  packages/client/src/publish/PublishPipeline.ts
  packages/client/src/publish/Publisher.ts
  packages/client/src/publish/Signer.ts
  packages/client/src/publish/StreamPartitioner.ts
  packages/client/src/subscribe/ordering/GapFillFailedError.ts
  packages/client/src/subscribe/ordering/OrderedMsgChain.ts
  packages/client/src/subscribe/ordering/OrderingUtil.ts
  packages/client/src/utils/Mapping.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/Partitions.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/integration/client-destroy.test.ts
  packages/client/test/integration/invalid-messages.test.ts
  packages/client/test/integration/sequential-resend-subscribe.test.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
  packages/client/test/test-utils/publish.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Authentication.test.ts
  packages/client/test/unit/EncryptionUtil.test.ts
  packages/client/test/unit/GroupKeyQueue.test.ts
  packages/client/test/unit/Mapping.test.ts
  packages/client/test/unit/MessageCreator.test.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/client/test/unit/OrderedMsgChain.test.ts
  packages/client/test/unit/OrderingUtil.test.ts
  packages/client/test/unit/OrderingUtil2.test.ts
  packages/client/test/unit/Publisher.test.ts
  packages/client/test/unit/Signer.test.ts
  packages/client/test/unit/StreamMessageValidator.test.ts
  packages/client/test/unit/searchStreams.test.ts
Labels: client

#869 test(client): Use `MessageFactory`
  packages/client/src/publish/MessageFactory.ts
  packages/client/test/integration/PublisherKeyExchange.test.ts
  packages/client/test/integration/SubscribePipeline.test.ts
  packages/client/test/integration/Subscriber.test.ts
  packages/client/test/integration/SubscriberKeyExchange.test.ts
  packages/client/test/integration/parallel-key-exchange.test.ts
  packages/client/test/integration/resend-and-subscribe.test.ts
  packages/client/test/integration/resend-with-existing-key.test.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Decrypt.test.ts
  packages/client/test/unit/EncryptionUtil.test.ts
Labels: client

#866 remove extra rules from client .eslintrc
  packages/client/.eslintrc
  packages/client/.eslintrc.js
  packages/client/src/Stream.ts
  packages/client/src/encryption/RSAKeyPair.ts
  packages/client/src/utils/PatchTsyringe.ts
  packages/client/test/types/global.d.ts
  packages/client/test/unit/WebStreamToNodeStream.test.ts
Labels: client

#870 refactor(client): Direct dependencies for `SubscribePipeline`
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/SubscribePipeline.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/test/unit/SubscribePipeline.test.ts
Labels: client

#871 style(client): Remove obsolete `eslint` warnings
  packages/client/src/HttpUtil.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/StreamIDBuilder.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/Validator.ts
  packages/client/src/encryption/EncryptionUtil.ts
  packages/client/src/encryption/GroupKey.ts
  packages/client/src/encryption/RSAKeyPair.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/permission.ts
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/utils/AggregatedError.ts
  packages/client/src/utils/Defer.ts
  packages/client/src/utils/GraphQLClient.ts
  packages/client/src/utils/PatchTsyringe.ts
  packages/client/src/utils/Pipeline.ts
  packages/client/src/utils/PushBuffer.ts
  packages/client/src/utils/Scaffold.ts
  packages/client/src/utils/Signal.ts
  packages/client/src/utils/SynchronizedGraphQLClient.ts
  packages/client/src/utils/WebStreamToNodeStream.ts
  packages/client/src/utils/contract.ts
  packages/client/src/utils/persistence/ServerPersistence.ts
  packages/client/src/utils/signingUtils.ts
  packages/client/src/utils/utils.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/end-to-end/searchStreams.test.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/Resends2.test.ts
  packages/client/test/integration/Subscriber2.test.ts
  packages/client/test/integration/multiple-clients.test.ts
  packages/client/test/integration/revoke-permissions.test.ts
  packages/client/test/integration/sequential-resend-subscribe.test.ts
  packages/client/test/test-utils/fake/FakeHttpUtil.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/test-utils/fake/FakeStreamStorageRegistry.ts
  packages/client/test/test-utils/jest-utils.ts
  packages/client/test/test-utils/publish.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/GroupKeyStore.test.ts
  packages/client/test/unit/Mapping.test.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/client/test/unit/OrderedMsgChain.test.ts
  packages/client/test/unit/PushBuffer.test.ts
  packages/client/test/unit/StreamMessageValidator.test.ts
  packages/client/test/unit/SynchronizedGraphQLClient.test.ts
  packages/client/test/unit/iterators.test.ts
  packages/client/test/unit/promises.test.ts
  packages/client/test/unit/waitForAssignmentsToPropagate.test.ts
Labels: client

#873 style: Add `eslint` rules
  .eslintrc.js
  packages/broker/src/Plugin.ts
  packages/broker/src/helpers/PayloadFormat.ts
  packages/broker/src/plugins/brubeckMiner/BrubeckMinerPlugin.ts
  packages/broker/src/plugins/consoleMetrics/ConsoleMetricsPlugin.ts
  packages/broker/src/plugins/http/HttpPlugin.ts
  packages/broker/src/plugins/info/InfoPlugin.ts
  packages/broker/src/plugins/mqtt/MqttPlugin.ts
  packages/broker/src/plugins/storage/Storage.ts
  packages/broker/src/plugins/storage/StoragePlugin.ts
  packages/broker/src/plugins/websocket/WebsocketPlugin.ts
  packages/broker/src/plugins/websocket/WebsocketServer.ts
  packages/broker/test/integration/multiple-publisher-plugins.test.ts
  packages/client/src/HttpUtil.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/utils/Signal.ts
  packages/client/src/utils/promises.ts
  packages/client/test/benchmarks/publish.js
  packages/client/test/benchmarks/subscribe.js
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/SimulatorTransport.ts
  packages/dht/src/connection/WebRTC/BrowserWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/helpers/PeerID.ts
  packages/dht/test/unit/SortedContactList.test.ts
  packages/network/src/connection/webrtc/BrowserWebRtcConnection.ts
  packages/network/src/connection/webrtc/NodeWebRtcConnection.ts
  packages/network/src/connection/ws/BrowserClientWsEndpoint.ts
  packages/network/src/connection/ws/NodeClientWsEndpoint.ts
  packages/network/src/connection/ws/ServerWsEndpoint.ts
  packages/network/src/simulator/NodeClientWsConnection_simulator.ts
  packages/network/src/simulator/NodeClientWsEndpoint_simulator.ts
  packages/network/src/simulator/NodeWebRtcConnection_simulator.ts
  packages/network/src/simulator/ServerWsConnection_simulator.ts
  packages/network/src/simulator/ServerWsEndpoint_simulator.ts
  packages/proto-rpc/examples/errors/errors.ts
  packages/proto-rpc/examples/hello/hello.ts
  packages/proto-rpc/src/ClientTransport.ts
  packages/proto-rpc/src/ProtoCallContext.ts
  packages/proto-rpc/src/RpcCommunicator.ts
  packages/proto-rpc/src/ServerRegistry.ts
  packages/proto-rpc/test/integration/toProtoRpcClient.test.ts
  packages/protocol/src/protocol/control_layer/broadcast_message/BroadcastMessageSerializerV2.ts
  packages/protocol/src/protocol/control_layer/error_response/ErrorResponseSerializerV2.ts
  packages/protocol/src/protocol/control_layer/proxy_connection_request/ProxyConnectionRequestSerializerV2.ts
  packages/protocol/src/protocol/control_layer/proxy_connection_response/ProxyConnectionResponseSerializerV2.ts
  packages/protocol/src/protocol/control_layer/unsubscribe_request/UnsubscribeRequestSerializerV2.ts
  packages/protocol/src/protocol/message_layer/StreamMessageSerializerV32.ts
  packages/protocol/src/protocol/tracker_layer/error_message/ErrorMessageSerializerV2.ts
  packages/protocol/src/protocol/tracker_layer/instruction_message/InstructionMessageSerializerV2.ts
  packages/protocol/src/protocol/tracker_layer/relay_message/RelayMessageSerializerV2.ts
  packages/protocol/src/protocol/tracker_layer/status_ack_message/StatusAckMessageSerializerV2.ts
  packages/protocol/src/protocol/tracker_layer/status_message/StatusMessageSerializerV2.ts
Labels: broker, network, client, protocol, dht

#876 feat: Require signed messages
  packages/broker/test/integration/plugins/storage/BatchManager.test.ts
  packages/broker/test/integration/plugins/storage/Storage.test.ts
  packages/broker/test/integration/plugins/storage/cassanda-queries.test.ts
  packages/broker/test/sequential/plugins/storage/CassandraNullPayloads.test.ts
  packages/broker/test/unit/plugins/storage/DataQueryEndpoints.test.ts
  packages/client/CHANGELOG.md
  packages/client/src/Authentication.ts
  packages/client/src/StreamMessageValidator.ts
  packages/client/src/publish/MessageFactory.ts
  packages/client/test/integration/Resends.test.ts
  packages/client/test/unit/Authentication.test.ts
  packages/client/test/unit/MessageStream.test.ts
  packages/client/test/unit/OrderedMsgChain.test.ts
  packages/client/test/unit/OrderingUtil.test.ts
  packages/client/test/unit/OrderingUtil2.test.ts
  packages/client/test/unit/StreamMessageValidator.test.ts
  packages/client/test/unit/waitForAssignmentsToPropagate.test.ts
  packages/network/bin/publisher.js
  packages/network/test/browser/test.html
  packages/network/test/integration/do-not-propagate-to-sender-optimization.test.ts
  packages/network/test/integration/message-duplication.test.ts
  packages/network/test/integration/message-propagation.test.ts
  packages/network/test/integration/node-to-node-protocol-version-negotiation.test.ts
  packages/network/test/integration/nodeMessageBuffering.test.ts
  packages/network/test/integration/proxy-connections.test.ts
  packages/network/test/integration/proxy-groupkey-exchange.test.ts
  packages/network/test/integration/unsubscribe-from-stream.test.ts
  packages/network/test/integration/wait-for-join-subscribe-and-publish.test.ts
  packages/network/test/unit/Propagation.test.ts
  packages/network/test/unit/PropagationTaskStore.test.ts
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/protocol/src/protocol/message_layer/index.ts
  packages/protocol/src/protocol/message_layer/signature.ts
  packages/protocol/test/unit/protocol/control_layer/BroadcastMessage.test.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessage.test.ts
Labels: broker, network, client, protocol, changelog

#693 client: Signature verification config
  packages/client/CHANGELOG.md
  packages/client/src/Config.ts
  packages/client/src/Validator.ts
  packages/client/src/config.schema.json
  packages/client/test/benchmarks/SigningUtil.test.ts
  packages/client/test/unit/Config.test.ts
  packages/client/test/unit/Validator.test.ts
Labels: client, changelog

#877 refactor(client): Message chain handling `MessageFactory`
  packages/client/src/Validator.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/publish/MessageChain.ts~main
  packages/client/src/publish/MessageFactory.ts
  packages/client/src/publish/messageChain.ts
  packages/client/src/utils/Mapping.ts
  packages/client/src/utils/utils.ts
  packages/client/test/integration/PublisherKeyExchange.test.ts
  packages/client/test/unit/MessageFactory.test.ts
Labels: client

#878 test(client): Refactor `PublisherKeyExchange` test
  packages/client/test/integration/PublisherKeyExchange.test.ts
Labels: client

#879 refactor: Remove `signatureType`
  packages/client/src/StreamMessageValidator.ts
  packages/client/src/publish/MessageFactory.ts
  packages/client/test/integration/PublisherKeyExchange.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/integration/SubscriberKeyExchange.test.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/client/test/unit/StreamMessageValidator.test.ts
  packages/network/test/integration/delivery-of-messages-protocol-layer.test.ts
  packages/network/test/integration/nodeMessageBuffering.test.ts
  packages/network/test/integration/proxy-groupkey-exchange.test.ts
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/protocol/src/protocol/message_layer/StreamMessageSerializerV32.ts
  packages/protocol/src/protocol/message_layer/signature.ts
  packages/protocol/test/unit/protocol/control_layer/BroadcastMessageSerializerV2.test.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessage.test.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessageSerializerV32.test.ts
Labels: network, client, protocol

#880 refactor(client): Simplify `GroupKey` data model
  packages/client/src/encryption/GroupKey.ts
  packages/client/src/encryption/GroupKeyStore.ts
Labels: client

#893 Add routing sessions
  package-lock.json
  packages/dht/karma.config.js
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/Handshaker.ts
  packages/dht/src/connection/IConnection.ts
  packages/dht/src/connection/IManagedConnection.ts
  packages/dht/src/connection/IManagedConnectionSource.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/Simulator.ts
  packages/dht/src/connection/SimulatorConnection.ts
  packages/dht/src/connection/SimulatorConnector.ts
  packages/dht/src/connection/SimulatorTransport.ts
  packages/dht/src/connection/WebRTC/BrowserWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/dht/RoutingSession.ts
  packages/dht/src/dht/contact/SortedContactList.ts
  packages/dht/src/exports.ts
  packages/dht/src/helpers/waitForEvent3.ts
  packages/dht/src/protobufclasses/ProtobufMessage.ts
  packages/dht/src/transport/ITransport.ts
  packages/dht/src/transport/ListeningRpcCommunicator.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/dht/test/end-to-end/Layer0WebRTC-Layer1.test.ts
  packages/dht/test/end-to-end/WebSocketConnectionRequest.test.ts
  packages/dht/test/integration/ConnectionLocking.test.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/DhtPeer.test.ts
  packages/dht/test/integration/DhtWithMockConnectionLatencies.test.ts
  packages/dht/test/integration/Mock-Layer1-Layer0.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/WebRtcConnectionManagement.test.ts
  packages/dht/test/integration/WebSocketConnectionManagement.test.ts
  packages/dht/test/unit/DhtNode.test.ts
  packages/dht/test/unit/ProtobufMessage.test.ts
  packages/dht/test/utils.ts
  packages/proto-rpc/examples/wakeup/proto/google/protobuf/empty.ts
  packages/trackerless-network/bin/bootstrap-node.ts
  packages/trackerless-network/bin/full-node-websocket.ts
  packages/trackerless-network/package.json
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/integration/RemoteRandomGraphNode.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
  packages/trackerless-network/test/unit/PeerList.test.ts
  packages/trackerless-network/test/utils.ts
Labels: dht

#895 refactor(client): Stream factory
  packages/client/src/Container.ts
  packages/client/src/Stream.ts
  packages/client/src/StreamFactory.ts
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/registry/StreamStorageRegistry.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/unit/Stream.test.ts
  packages/client/test/unit/SubscribePipeline.test.ts
Labels: client

#896 refactor(client): Simplify signature validation
  packages/client/src/StreamMessageValidator.ts
  packages/client/src/Validator.ts
  packages/client/src/subscribe/SubscribePipeline.ts
  packages/client/test/unit/Validator.test.ts
Labels: client

#901 refactor(client): Remove caching from signature validation
  packages/client/src/Validator.ts
  packages/client/src/subscribe/SubscribePipeline.ts
  packages/client/test/unit/Validator.test.ts
Labels: client

#899 deps(broker): update cassandra-driver to 4.6.4
  package-lock.json
  packages/broker/package.json
Labels: broker

#902 Move `Defer` to @streamr/utils
  packages/client/src/utils/Defer.ts
  packages/client/src/utils/Gate.ts
  packages/client/src/utils/iterators.ts
  packages/client/src/utils/promises.ts
  packages/client/src/utils/waitForMessage.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/integration/Subscriber2.test.ts
  packages/client/test/integration/revoke-permissions.test.ts
  packages/client/test/unit/OrderedMsgChain.test.ts
  packages/client/test/unit/Scaffold.test.ts
  packages/client/test/unit/iterators.test.ts
  packages/utils/src/Defer.ts
  packages/utils/src/exports.ts
  packages/utils/test/Defer.test.ts
Labels: client, utils

#905 fix(client): Publish event not emitted from `Stream#publish`
  packages/client/src/Stream.ts
  packages/client/src/StreamFactory.ts
  packages/client/test/unit/SubscribePipeline.test.ts
  packages/client/test/unit/events.test.ts
Labels: client

#907 refactor(client): Simplify `MetricsPublisher` start
  packages/client/src/MetricsPublisher.ts
Labels: client

#906 Include protobuf generated files in git
  packages/dht/.gitignore
  packages/dht/package.json
  packages/dht/src/proto/DhtRpc.client.ts
  packages/dht/src/proto/DhtRpc.server.ts
  packages/dht/src/proto/DhtRpc.ts
  packages/dht/src/proto/google/protobuf/empty.ts
  packages/proto-rpc/.gitignore
  packages/proto-rpc/package.json
  packages/proto-rpc/src/proto/ProtoRpc.ts
  packages/proto-rpc/src/proto/google/protobuf/empty.ts
Labels: ci, broker, client, protocol, dht, utils

#903 feat(client): Remove 5 second metrics
  packages/client/src/Config.ts
  packages/client/src/MetricsPublisher.ts
Labels: client

#904 deps(client): clean up package.json and make build process more efficient
  packages/client/copy-package.js
  packages/client/copy-package.sh
  packages/client/fix-esm.sh
  packages/client/package.json
  packages/client/vendor-hack.sh
Labels: client

#908 feat(client): Delay before publishing metrics sample
  packages/client/src/Config.ts
  packages/client/src/MetricsPublisher.ts
  packages/client/src/config.schema.json
  packages/client/test/end-to-end/Metrics.test.ts
  packages/client/test/unit/Config.test.ts
Labels: client

#911 fix(dht, proto-rpc): clean script should not remove generated code
  packages/dht/package.json
  packages/proto-rpc/package.json
Labels: dht, proto-rpc

#912 refactor(client): Hide `ResendSubscription` from public API
  packages/client/src/StreamrClient.ts
  packages/client/src/index-exports.ts
  packages/client/src/subscribe/ResendSubscription.ts
  packages/client/src/subscribe/Subscription.ts
Labels: client

#913 refactor: move metrics to `@streamr/utils`
  package-lock.json
  packages/broker/src/plugins/consoleMetrics/ConsoleMetricsPlugin.ts
  packages/broker/src/plugins/storage/DataQueryEndpoints.ts
  packages/broker/src/plugins/storage/Storage.ts
  packages/broker/src/plugins/storage/StoragePlugin.ts
  packages/broker/test/unit/plugins/storage/DataQueryEndpoints.test.ts
  packages/client/src/MetricsPublisher.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/test/end-to-end/Metrics.test.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/network-tracker/src/logic/InstructionAndStatusAckSender.ts
  packages/network-tracker/src/logic/Tracker.ts
  packages/network-tracker/src/startTracker.ts
  packages/network-tracker/test/unit/InstructionAndStatusAckSender.test.ts
  packages/network/src/browser.ts
  packages/network/src/composition.ts
  packages/network/src/connection/webrtc/WebRtcEndpoint.ts
  packages/network/src/createNetworkNode.ts
  packages/network/src/identifiers.ts
  packages/network/src/logic/Node.ts
  packages/network/test/integration/delivery-of-messages-protocol-layer.test.ts
  packages/network/test/integration/node-to-node-protocol-version-negotiation.test.ts
  packages/network/test/integration/webrtc-endpoint-back-pressure-handling.test.ts
  packages/network/test/integration/webrtc-multi-signaller.test.ts
  packages/network/test/unit/WebRtcEndpoint.test.ts
  packages/utils/package.json
  packages/utils/src/Metric.ts
  packages/utils/src/exports.ts
  packages/utils/test/Metric.test.ts
Labels: broker, network, client, tracker, utils

#910 Update PR template
  .github/pull_request_template.md
Labels: ci

#918 test: reduce trackerless e2e flakyness
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/SimulatorConnection.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/trackerless-network/package.json
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
Labels: dht

#922 fix(client): Error code field name
  packages/client/src/StreamrClientError.ts
Labels: client

#914 deps(broker): remove `streamr-network`
  package-lock.json
  packages/broker/package.json
Labels: broker

#923 NET-846: fix hanging integration tests
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/trackerless-network/package.json
  packages/trackerless-network/test/end-to-end/random-graph-with-real-connections.test.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
Labels: dht

#921 test(client): Fix `no storage assigned` resend test
  packages/client/test/integration/Resends2.test.ts
Labels: client

#925 test(client): Test client error code
  packages/client/jest.config.js
  packages/client/src/DestroySignal.ts
  packages/client/src/StreamrClientError.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/NetworkNodeFacade.test.ts
  packages/client/test/integration/Resends.test.ts
  packages/client/test/integration/Resends2.test.ts
  packages/client/test/integration/client-destroy.test.ts
  packages/client/test/test-utils/customMatchers.ts
  packages/client/test/unit/PushBuffer.test.ts
Labels: client

#926 refactor(client): Remove `SubscriptionSession` dependency from `Subscription`
  packages/client/src/StreamrClient.ts
  packages/client/src/subscribe/ResendSubscription.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/src/subscribe/Subscription.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/src/utils/Pipeline.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
Labels: client

#919 feat(utils): setAbortableTimeout and setAbortableInterval
  packages/utils/src/abortableTimers.ts
  packages/utils/src/exports.ts
  packages/utils/test/abortableTimers.test.ts
Labels: utils

#920 refactor(utils, client): replace `AbortController` parameters with `AbortSignal`
  packages/client/src/DestroySignal.ts
  packages/client/src/subscribe/Decrypt.ts
  packages/utils/src/asAbortable.ts
  packages/utils/src/wait.ts
  packages/utils/src/waitForEvent.ts
  packages/utils/src/withTimeout.ts
  packages/utils/test/asAbortable.test.ts
  packages/utils/test/wait.test.ts
  packages/utils/test/withTimeout.test.ts
Labels: client, utils

#933 ci: Update `jest-extended`
  jest.config.js
  package-lock.json
  package.json
  packages/dht/karma-setup.js
  packages/network/karma-setup.js
  packages/proto-rpc/karma-setup.js
Labels: network, dht, proto-rpc

#931 Trackerless browser tests
  .github/workflows/validate.yml
  package-lock.json
  packages/dht/src/proto/google/protobuf/empty.ts
  packages/dht/test/end-to-end/Layer0.test.ts
  packages/trackerless-network/dummy-stdout.js
  packages/trackerless-network/karma-setup.js
  packages/trackerless-network/karma.config.js
  packages/trackerless-network/package.json
  packages/trackerless-network/preload.js
  packages/trackerless-network/src/exports.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
  packages/trackerless-network/tsconfig.browser.json
  packages/trackerless-network/webpack.config.js
Labels: ci, dht

#874 chore: upgrade to Node.js 18.11.0
  .nvmrc
  Dockerfile.broker
  Dockerfile.tracker
  package-lock.json
  package.json
  packages/client/package.json
  packages/client/test/unit/WebStreamToNodeStream.test.ts
  packages/dht/package.json
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/test/end-to-end/Layer0-Layer1.test.ts
  packages/dht/test/end-to-end/Layer0.test.ts
  packages/dht/test/end-to-end/Layer0MixedConnectionTypes.test.ts
  packages/dht/test/end-to-end/Layer0WebRTC.test.ts
  packages/dht/test/end-to-end/WebSocketConnectionRequest.test.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/WebSocket.test.ts
  packages/dht/test/integration/WebSocketConnectionManagement.test.ts
  packages/dht/test/unit/WebSocketServer.test.ts
  packages/network-tracker/package.json
  packages/network/package.json
  packages/proto-rpc/package.json
Labels: network, client, tracker, dht, proto-rpc

#940 deps: update node-datachannel to 0.4.0
  package-lock.json
  packages/dht/package.json
  packages/network/package.json
Labels: network, dht

#938 refactor(utils): remove "as any" casts and undefined checks
  packages/utils/src/abortableTimers.ts
  packages/utils/src/asAbortable.ts
Labels: utils

#936 chore(network): drastically downsize propagation buffer
  packages/broker/test/integration/multiple-publisher-plugins.test.ts
  packages/network/src/logic/propagation/Propagation.ts
Labels: broker, network

#937 Add governance voting to CLI tool
  package-lock.json
  packages/cli-tools/CHANGELOG.md
  packages/cli-tools/README.md
  packages/cli-tools/bin/streamr-governance-vote.ts
  packages/cli-tools/bin/streamr-governance.ts
  packages/cli-tools/bin/streamr.ts
  packages/cli-tools/package.json
  packages/cli-tools/src/client.ts
Labels: cli-tools, changelog

#930 feat(client): Log warning in resend subscribe if no storage assigned
  packages/client/src/Config.ts
  packages/client/src/subscribe/ResendSubscription.ts
  packages/client/src/subscribe/Subscription.ts
  packages/client/src/utils/GeneratorUtils.ts
  packages/client/test/integration/Resends2.test.ts
  packages/client/test/test-utils/fake/FakeEnvironment.ts
  packages/client/test/test-utils/fake/FakeLogger.ts
  packages/client/test/unit/FakeLogger.test.ts
  packages/utils/src/Logger.ts
  packages/utils/src/exports.ts
Labels: client, utils

#944 refactor(client): `MessageStream` as `AsyncIterable`
  packages/client/CHANGELOG.md
  packages/client/src/Stream.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/subscribe/MessageStream.ts
  packages/client/src/subscribe/ResendSubscription.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/utils/GeneratorUtils.ts
  packages/client/src/utils/Pipeline.ts
  packages/client/src/utils/PushPipeline.ts
  packages/client/src/utils/iterators.ts
  packages/client/src/utils/waitForAssignmentsToPropagate.ts
  packages/client/test/end-to-end/StreamRegistry.test.ts
  packages/client/test/end-to-end/searchStreams.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/Resends2.test.ts
  packages/client/test/integration/Sequencing.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/integration/Subscriber.test.ts
  packages/client/test/integration/Subscriber2.test.ts
  packages/client/test/integration/basics.test.ts
  packages/client/test/integration/parallel-key-exchange.test.ts
  packages/client/test/integration/pre-agreed-encryption-key.test.ts
  packages/client/test/integration/resend-and-subscribe.test.ts
  packages/client/test/integration/resend-with-existing-key.test.ts
  packages/client/test/integration/sequential-resend-subscribe.test.ts
  packages/client/test/integration/update-encryption-key.test.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/unit/MessageStream.test.ts
  packages/client/test/unit/SubscribePipeline.test.ts
  packages/client/test/unit/searchStreams.test.ts
  packages/client/test/unit/waitForAssignmentsToPropagate.test.ts
Labels: client, changelog

#945 refactor(client): Rename message listener
  packages/client/CHANGELOG.md
  packages/client/src/StreamrClient.ts
  packages/client/src/index-exports.ts
  packages/client/src/subscribe/MessageStream.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/src/subscribe/Subscription.ts
  packages/client/test/unit/MessageStream.test.ts
Labels: client, changelog

#946 test(client): Explicit imports
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/end-to-end/StorageNodeRegistry.test.ts
  packages/client/test/end-to-end/StorageNodeRegistry2.test.ts
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/client/test/end-to-end/resend.test.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/NetworkNodeFacade.test.ts
  packages/client/test/integration/PublisherKeyExchange.test.ts
  packages/client/test/integration/Resends.test.ts
  packages/client/test/integration/Resends2.test.ts
  packages/client/test/integration/Sequencing.test.ts
  packages/client/test/integration/Stream.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/integration/Subscriber.test.ts
  packages/client/test/integration/Subscriber2.test.ts
  packages/client/test/integration/SubscriberKeyExchange.test.ts
  packages/client/test/integration/anonymous-client.test.ts
  packages/client/test/integration/basics.test.ts
  packages/client/test/integration/client-destroy.test.ts
  packages/client/test/integration/events.test.ts
  packages/client/test/integration/invalid-messages.test.ts
  packages/client/test/integration/multiple-clients.test.ts
  packages/client/test/integration/parallel-key-exchange.test.ts
  packages/client/test/integration/parallel-publish.test.ts
  packages/client/test/integration/pre-agreed-encryption-key.test.ts
  packages/client/test/integration/resend-and-subscribe.test.ts
  packages/client/test/integration/resend-with-existing-key.test.ts
  packages/client/test/integration/revoke-permissions.test.ts
  packages/client/test/integration/sequential-resend-subscribe.test.ts
  packages/client/test/integration/update-encryption-key.test.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/unit/Decrypt.test.ts
  packages/client/test/unit/HttpUtil.test.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/client/test/unit/Stream.test.ts
  packages/client/test/unit/StreamIDBuilder.test.ts
  packages/client/test/unit/StreamrClient.test.ts
  packages/client/test/unit/SubscribePipeline.test.ts
  packages/client/test/unit/SynchronizedGraphQLClient.test.ts
  packages/client/test/unit/Validator.test.ts
  packages/client/test/unit/WebStreamToNodeStream.test.ts
  packages/client/test/unit/events.test.ts
  packages/client/test/unit/searchStreams.test.ts
Labels: client

#942 test(utils): Browser tests
  .github/workflows/validate.yml
  packages/utils/dummy-stdout.js
  packages/utils/karma-setup.js
  packages/utils/karma.config.js
  packages/utils/package.json
  packages/utils/preload.js
  packages/utils/test/Defer.test.ts
  packages/utils/test/ENSName.test.ts
  packages/utils/test/EthereumAddress.test.ts
  packages/utils/test/Logger.test.ts
  packages/utils/test/Metric.test.ts
  packages/utils/test/asAbortable.test.ts
  packages/utils/test/keyToArrayIndex.test.ts
  packages/utils/test/randomString.test.ts
  packages/utils/test/scheduleAtFixedRate.test.ts
  packages/utils/test/scheduleAtInterval.test.ts
  packages/utils/test/toEthereumAddressOrENSName.test.ts
  packages/utils/test/wait.test.ts
  packages/utils/test/waitForEvent.test.ts
  packages/utils/test/withTimeout.test.ts
  packages/utils/tsconfig.browser.json
  packages/utils/webpack.config.js
Labels: ci, utils
