Repository streamr-dev/network, pull requests merged in 2022-07, with the labels that each got.

#754 cleanup root package json
  README.md
  package.json
  packages/broker/package.json
  packages/cli-tools/package.json
Labels: broker, cli-tools, docs

#750 clean: rm flaky test folder and github actions job and npm script
  .github/workflows/client-code.yml
  packages/client/package.json
  packages/client/test/flakey/Resends.test.ts
Labels: ci, client

#752 refactor(client): Move chain configs from root
  packages/client/src/Config.ts
  packages/client/src/Ethereum.ts
  packages/client/src/registry/StorageNodeRegistry.ts
  packages/client/src/registry/StreamRegistry.ts
Labels: client

#753 refactor(client): Extract `StreamStorageRegistry`
  packages/client/src/Stream.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/events.ts
  packages/client/src/index-exports.ts
  packages/client/src/registry/StorageNodeRegistry.ts
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/registry/StreamStorageRegistry.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/test/integration/resend-with-existing-key.test.ts
  packages/client/test/test-utils/fake/FakeHttpUtil.ts
  packages/client/test/test-utils/fake/FakeStorageNodeRegistry.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/test-utils/fake/FakeStreamStorageRegistry.ts
  packages/client/test/test-utils/fake/fakeEnvironment.ts
  packages/client/test/test-utils/types.ts
Labels: client

#755 add base tsconfig.json files to faciliate IDEs
  packages/broker/tsconfig.jest.json
  packages/broker/tsconfig.json
  packages/cli-tools/tsconfig.json
  packages/client/tsconfig.jest.json
  packages/client/tsconfig.json
  packages/network-tracker/tsconfig.jest.json
  packages/network-tracker/tsconfig.json
  packages/network/tsconfig.jest.json
  packages/network/tsconfig.json
  packages/protocol/tsconfig.jest.json
  packages/protocol/tsconfig.json
  packages/test-utils/jest.config.js
  packages/test-utils/tsconfig.jest.json
  packages/test-utils/tsconfig.json
Labels: broker, network, client, protocol, test-utils, cli-tools, tracker

#756 refactor(client): Group key validation
  packages/client/src/encryption/EncryptionUtil.ts
  packages/client/src/encryption/GroupKey.ts
  packages/client/src/encryption/GroupKeyStore.ts
  packages/client/test/unit/EncryptionUtil.test.ts
  packages/client/test/unit/GroupKey.test.ts
Labels: client

#757 refactor(client): `EncryptionUtil` names
  packages/client/src/encryption/EncryptionUtil.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/RSAKeyPair.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/test/unit/EncryptionUtil.test.ts
  packages/client/test/unit/PublisherKeyExchange.test.ts
  packages/client/test/unit/RSAKeyPair.test.ts
  packages/client/test/unit/RsaKeyPair.test.ts
Labels: client

#760 test(client): `FakeBrubeckNode#addSubscriber` synchronously
  packages/client/test/test-utils/fake/FakeBrubeckNode.ts
Labels: client

#758 clean(client): rm memory tests
  .github/workflows/client-code.yml
  packages/client/package.json
  packages/client/test/memory/Leaks.test.ts
  packages/client/test/memory/MessageQuantity.test.ts
  packages/client/test/memory/Publishing.test.ts
Labels: ci, client

#759 monorepo: mv typescript / jest to root-level package.json
  package-lock.json
  package.json
  packages/broker/package.json
  packages/cli-tools/package.json
  packages/client/package.json
  packages/client/test/end-to-end/StorageNodeRegistry.test.ts
  packages/client/test/types/global.d.ts
  packages/network-tracker/package.json
  packages/network/package.json
  packages/protocol/package.json
  packages/test-utils/package.json
  packages/utils/package.json
Labels: broker, network, client, protocol, test-utils, cli-tools, tracker, utils

#761 refactor: extract root-level shared jest.config
  jest.config.js
  packages/broker/jest.config.js
  packages/broker/jest.teardown.js
  packages/client/jest.config.js
  packages/client/jest.setup.js
  packages/client/jest.teardown.js
  packages/network-tracker/jest.config.js
  packages/network/jest.config.js
  packages/protocol/jest.config.js
  packages/test-utils/jest.config.js
  packages/utils/jest.config.js
Labels: broker, network, client, protocol, test-utils, tracker, utils

#766 test(client): `SubscribePipeline` unit test
  packages/client/test/unit/SubscribePipeline.test.ts
Labels: client

#768 rework github actions
  .github/healthcheck.sh
  .github/workflows/broker.yml
  .github/workflows/client-build.yml
  .github/workflows/client-code.yml
  .github/workflows/docker-build.yml
  .github/workflows/network-browser.yml
  .github/workflows/network.yml
  .github/workflows/protocol.yml
  .github/workflows/release.yml
  .github/workflows/reusable/cached-build/action.yml
  .github/workflows/reusable/collect-and-upload-logs/action.yml
  .github/workflows/reusable/run-brokers-and-trackers/action.yml
  .github/workflows/test-setup.yml
  .github/workflows/test-utils.yml
  .github/workflows/tracker.yml
  .github/workflows/utils.yml
  .github/workflows/validate.yml
  package-lock.json
  package.json
  packages/broker/test/unit/plugins/storage/Bucket.test.ts
  packages/network/tsconfig.jest.json
Labels: ci, broker, network, client, protocol, test-utils, utils

#770 Cleanup code
  packages/broker/src/config/config.ts
  packages/broker/src/plugins/mqtt/Bridge.ts
  packages/broker/test/integration/plugins/storage/BatchManager.test.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/integration/plugins/storage/cassanda-queries.test.ts
  packages/broker/test/sequential/plugins/storage/CassandraNullPayloads.test.ts
  packages/broker/test/unit/plugins/storage/DataQueryEndpoints.test.ts
  packages/network/src/browser.ts
  packages/network/src/composition.ts
  packages/network/src/createNetworkNode.ts
  packages/network/src/helpers/Speedometer.ts
  packages/network/src/identifiers.ts
  packages/network/src/logic/TrackerConnector.ts
  packages/network/src/logic/TrackerManager.ts
  packages/network/src/streamr-protocol.ts
  packages/network/test/integration/proxy-connections.test.ts
  packages/network/test/unit/Speedometer.test.ts
  packages/network/test/unit/TrackerConnector.test.ts
Labels: broker, network

#773 eslint: add rule preventing reaching to `dist`
  .eslintrc.js
  packages/broker/src/helpers/generateMnemonicFromAddress.ts
  packages/broker/src/plugins/info/InfoPlugin.ts
  packages/client/src/subscribe/ordering/GapFillFailedError.ts
  packages/client/src/utils/PatchTsyringe.ts
  packages/client/test/unit/StreamMessageValidator.test.ts
  packages/network-tracker/src/browser/LocationManager.ts
  packages/network-tracker/src/protocol/TrackerServer.ts
  packages/network-tracker/test/integration/counter-filtering-in-tracker.test.ts
  packages/network-tracker/test/unit/InstructionCounter.test.ts
  packages/network/src/connection/ws/ServerWsEndpoint.ts
  packages/network/test/integration/browser-ws-endpoint.test.ts
  packages/network/test/integration/delivery-of-messages-protocol-layer.test.ts
  packages/network/test/integration/killing-dead-connections.test.ts
  packages/network/test/integration/ws-endpoint-back-pressure-handling.test.ts
  packages/network/test/integration/ws-endpoint.test.ts
  packages/network/test/utils.ts
Labels: broker, network, client, tracker

#775 build: add eol-last eslint rule
  .eslintrc.js
  packages/broker/bin/config-wizard.js
  packages/broker/src/config/validateConfig.ts
  packages/broker/src/helpers/PayloadFormat.ts
  packages/broker/src/plugins/http/HttpPlugin.ts
  packages/broker/src/plugins/storage/StorageConfigEndpoints.ts
  packages/broker/src/plugins/websocket/Connection.ts
  packages/broker/src/types/global.d.ts
  packages/broker/src/types/nat-type-identifier/index.d.ts
  packages/broker/test/integration/config.test.ts
  packages/broker/test/integration/multiple-publisher-plugins.test.ts
  packages/broker/test/unit/helpers/PayloadFormat.test.ts
  packages/broker/test/unit/plugins/websocket/PublishConnection.test.ts
  packages/cli-tools/bin/streamr-mock-data-generate.ts
  packages/cli-tools/bin/streamr-stream-create.ts
  packages/cli-tools/bin/streamr-stream-resend-last.ts
  packages/cli-tools/bin/streamr-stream-resend.ts
  packages/cli-tools/bin/streamr-stream-search.ts
  packages/cli-tools/bin/streamr-stream-show.ts
  packages/cli-tools/src/client.ts
  packages/cli-tools/src/command.ts
  packages/cli-tools/src/common.ts
  packages/cli-tools/src/config.ts
  packages/cli-tools/src/logLevel.ts
  packages/cli-tools/src/permission.ts
  packages/cli-tools/src/resend.ts
  packages/client/src/MetricsPublisher.ts
  packages/client/test/integration/anonymous-client.test.ts
  packages/client/test/integration/resend-with-existing-key.test.ts
  packages/client/test/unit/SubscribePipeline.test.ts
  packages/client/test/unit/SubscriberKeyExchange.test.ts
  packages/client/test/unit/uuid.test.ts
  packages/network/src/connection/webrtc/DeferredConnectionAttempt.ts
  packages/network/src/connection/webrtc/IWebRtcEndpoint.ts
  packages/network/src/connection/ws/NodeClientWsEndpoint.ts
  packages/network/src/constants.ts
  packages/network/src/helpers/transformIterable.ts
  packages/network/src/logic/propagation/FifoMapWithTtl.ts
  packages/network/src/simulator/ISimulatedWsEndpoint.ts
  packages/network/src/simulator/IWebRtcSimulator.ts
  packages/network/src/simulator/IWsSimulator.ts
  packages/network/src/simulator/NodeClientWsConnection_simulator.ts
  packages/network/src/simulator/NodeClientWsEndpoint_simulator.ts
  packages/network/src/simulator/ServerWsEndpoint_simulator.ts
  packages/network/src/simulator/Simulator.ts
  packages/network/src/types/global.d.ts
  packages/network/test/integration/UnixSocketWsServer.test.ts
  packages/network/test/integration/tracker-node-disconnects-on-invalid-status.test.ts
  packages/network/test/unit/FifoMapWithTtl.test.ts
  packages/protocol/src/Serializer.ts
  packages/protocol/src/utils/KeyExchangeStreamID.ts
  packages/protocol/src/utils/types.ts
  packages/protocol/test/benchmark/SigningUtil.test.ts
  packages/protocol/test/unit/utils/KeyExchangeStream.test.ts
Labels: broker, network, client, protocol, cli-tools

#774 add more functions and types to @streamr/utils
  package-lock.json
  package.json
  packages/broker/test/integration/multiple-publisher-plugins.test.ts
  packages/broker/test/integration/plugins/storage/cassanda-queries.test.ts
  packages/broker/test/integration/plugins/websocket/WebsocketPlugin.test.ts
  packages/broker/test/unit/plugins/websocket/WebsocketServer.test.ts
  packages/cli-tools/bin/streamr-mock-data-generate.ts
  packages/cli-tools/tsconfig.json
  packages/client/src/publish/MessageChain.ts
  packages/client/src/utils/utils.ts
  packages/client/test/unit/SynchronizedGraphQLClient.test.ts
  packages/network-tracker/test/integration/tracker-instructions.test.ts
  packages/network/test/integration/browser-ws-endpoint.test.ts
  packages/network/test/integration/delivery-of-messages-protocol-layer.test.ts
  packages/network/test/integration/killing-dead-connections.test.ts
  packages/network/test/integration/message-duplication.test.ts
  packages/network/test/integration/message-propagation.test.ts
  packages/network/test/integration/multi-trackers.test.ts
  packages/network/test/integration/proxy-connections.test.ts
  packages/network/test/integration/unsubscribe-from-stream.test.ts
  packages/network/test/integration/wait-for-join-subscribe-and-publish.test.ts
  packages/network/test/integration/ws-endpoint.test.ts
  packages/network/test/unit/WebRtcEndpoint.test.ts
  packages/protocol/src/utils/StreamID.ts
  packages/protocol/src/utils/StreamPartID.ts
  packages/test-utils/package.json
  packages/test-utils/src/utils.ts
  packages/test-utils/test/utils.test.ts
  packages/test-utils/tsconfig.jest.json
  packages/test-utils/tsconfig.node.json
  packages/utils/src/exports.ts
  packages/utils/src/global.d.ts
  packages/utils/src/randomString.ts
  packages/utils/src/types.ts
  packages/utils/src/waitForEvent.ts
  packages/utils/src/withTimeout.ts
  packages/utils/test/randomString.test.ts
  packages/utils/test/waitForEvent.test.ts
Labels: broker, network, client, protocol, test-utils, cli-tools, tracker, utils

#778 enable noImplicitOverride in Typescript
  packages/broker/src/plugins/brubeckMiner/BrubeckMinerPlugin.ts
  packages/broker/src/plugins/consoleMetrics/ConsoleMetricsPlugin.ts
  packages/broker/src/plugins/mqtt/MqttPlugin.ts
  packages/broker/src/plugins/storage/DataQueryEndpoints.ts
  packages/broker/src/plugins/storage/StoragePlugin.ts
  packages/broker/src/plugins/websocket/WebsocketPlugin.ts
  packages/client/src/Validator.ts
  packages/client/src/subscribe/MessageStream.ts
  packages/client/src/utils/PullBuffer.ts
  packages/client/src/utils/PushPipeline.ts
  packages/client/src/utils/Signal.ts
  packages/network/src/helpers/Metric.ts
  packages/protocol/src/errors/InvalidJsonError.ts
  packages/protocol/src/protocol/message_layer/GroupKeyAnnounce.ts
  packages/protocol/src/protocol/message_layer/GroupKeyErrorResponse.ts
  packages/protocol/src/protocol/message_layer/GroupKeyRequest.ts
  packages/protocol/src/protocol/message_layer/GroupKeyResponse.ts
  tsconfig.node.json
Labels: broker, network, client, protocol

#779 refactor: mv SigningUtil to client
  package-lock.json
  packages/client/package.json
  packages/client/src/Authentication.ts
  packages/client/src/StreamMessageValidator.ts
  packages/client/src/Validator.ts
  packages/client/src/utils/signingUtils.ts
  packages/client/test/benchmarks/SigningUtil.test.ts
  packages/client/test/end-to-end/client-behaviour-on-invalid-messages.test.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Signer.test.ts
  packages/client/test/unit/SigningUtil.test.ts
  packages/client/test/unit/StreamMessageValidator.test.ts
  packages/protocol/package.json
  packages/protocol/src/utils/SigningUtil.ts
  packages/protocol/src/utils/index.ts
  packages/protocol/test/unit/utils/SigningUtil.test.ts
Labels: client, protocol

#781 deps: rm jest-circus
  jest.config.js
  package-lock.json
  package.json
  packages/broker/test/unit/plugins/storage/StorageEventListener.test.ts
  packages/network/simulator.jest.config.js
Labels: broker, network
