Repository streamr-dev/network, pull requests merged in 2022-08, with the labels that each got.

#785 test(client): Remove obsolete tests
  packages/client/test/benchmarks/raw-pipeline.js
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/end-to-end/MultipleClients.test.ts
  packages/client/test/end-to-end/StreamrClient.test.ts
  packages/client/test/end-to-end/Subscriber.test.ts
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/unit/MessageStream.test.ts
  packages/client/test/unit/Scaffold.test.ts
  packages/client/test/unit/Signer.test.ts
  packages/client/test/unit/promises.test.ts
Labels: client

#786 NET-891: functional handshake and interleaving protocol
  packages/dht/src/dht/SortedContactList.ts
  packages/trackerless-network/.gitignore
  packages/trackerless-network/proto.sh
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/logic/NodeNeighbors.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/RemoteRandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/proto/google/protobuf/empty.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.client.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.server.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/integration/NetworkRpc.test.ts
  packages/trackerless-network/test/integration/Propagation.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/RemoteRandomGraphNode.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
Labels: dht

#788 test(client): Publish without `PublishPipeline` internals
  packages/client/test/end-to-end/Basics.test.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/end-to-end/MultipleClients.test.ts
  packages/client/test/end-to-end/Resends.test.ts
  packages/client/test/end-to-end/StreamrClient.test.ts
  packages/client/test/end-to-end/SubscribeAll.test.ts
  packages/client/test/end-to-end/Subscriber.test.ts
  packages/client/test/end-to-end/Validation.test.ts
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/Partitions.test.ts
  packages/client/test/integration/Stream.test.ts
  packages/client/test/test-utils/publish.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Publisher.test.ts
Labels: client

#789 test(client): Fake network node
  packages/client/src/BrubeckNode.ts
  packages/client/test/integration/parallel-key-exchange.test.ts
  packages/client/test/integration/resend-with-existing-key.test.ts
  packages/client/test/test-utils/fake/ActiveNodes.ts
  packages/client/test/test-utils/fake/FakeNetwork.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
  packages/client/test/test-utils/fake/FakeStreamStorageRegistry.ts
  packages/client/test/test-utils/fake/fakeEnvironment.ts
  packages/client/test/test-utils/fake/fakePublisherNode.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/PublisherKeyExchange.test.ts
  packages/client/test/unit/Subscriber.test.ts
  packages/client/test/unit/SubscriberKeyExchange.test.ts
Labels: client

#791 refactor: move duplicate detector to utils
  packages/network/src/logic/Node.ts
  packages/network/src/logic/StreamPartManager.ts
  packages/trackerless-network/package.json
  packages/trackerless-network/src/logic/DuplicateMessageDetector.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/utils/src/DuplicateMessageDetector.ts
  packages/utils/src/exports.ts
  packages/utils/test/DuplicateMessageDetector.test.ts
  packages/utils/test/NumberPair.test.ts
Labels: network, utils

#790 refactor(client): Rename `BrubeckNode`
  packages/client/src/MetricsPublisher.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/ProxyPublishSubscribe.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/index-exports.ts
  packages/client/src/publish/PublishPipeline.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/integration/NetworkNodeFacade.test.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/client/test/test-utils/fake/fakeEnvironment.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Publisher.test.ts
Labels: client

#794 test(client): `FakeEnvironment` utility
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/NetworkNodeFacade.test.ts
  packages/client/test/integration/Partitions.test.ts
  packages/client/test/integration/PublisherKeyExchange.test.ts
  packages/client/test/integration/Resends.test.ts
  packages/client/test/integration/Sequencing.test.ts
  packages/client/test/integration/Stream.test.ts
  packages/client/test/integration/SubscribePipeline.test.ts
  packages/client/test/integration/Subscriber.test.ts
  packages/client/test/integration/SubscriberKeyExchange.test.ts
  packages/client/test/integration/anonymous-client.test.ts
  packages/client/test/integration/events.test.ts
  packages/client/test/integration/parallel-key-exchange.test.ts
  packages/client/test/integration/resend-with-existing-key.test.ts
  packages/client/test/test-utils/fake/FakeChain.ts
  packages/client/test/test-utils/fake/FakeEnvironment.ts
  packages/client/test/test-utils/fake/FakeHttpUtil.ts
  packages/client/test/test-utils/fake/FakeNetwork.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
  packages/client/test/test-utils/fake/FakeStorageNodeRegistry.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/test-utils/fake/FakeStreamStorageRegistry.ts
  packages/client/test/test-utils/fake/fakeEnvironment.ts
  packages/client/test/test-utils/fake/fakePublisherNode.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/OrderingUtil2.test.ts
  packages/client/test/unit/Publisher.test.ts
  packages/client/test/unit/SubscriberKeyExchange.test.ts
Labels: client

#795 test(client): Convert end-to-end tests to integration tests
  .github/workflows/validate.yml
  packages/client/src/utils/iterators.ts
  packages/client/test/data/utf8Example.txt
  packages/client/test/end-to-end/StreamRegistry.test.ts
  packages/client/test/end-to-end/TrackerRegistry.ts
  packages/client/test/end-to-end/Validation.test.ts
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/Resends2.test.ts
  packages/client/test/integration/Sequencing.test.ts
  packages/client/test/integration/Stream.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/integration/SubscribePipeline.test.ts
  packages/client/test/integration/Subscriber2.test.ts
  packages/client/test/integration/basics.test.ts
  packages/client/test/integration/invalid-messages.test.ts
  packages/client/test/integration/multiple-clients.test.ts
  packages/client/test/integration/parallel-publish.test.ts
  packages/client/test/integration/resend-all-partitions.test.ts
  packages/client/test/integration/resend-and-subscribe.test.ts
  packages/client/test/integration/revoke-permissions.test.ts
  packages/client/test/integration/sequential-resend-subscribe.test.ts
  packages/client/test/integration/subscribe-all-partitions.test.ts
  packages/client/test/integration/update-encryption-key.test.ts
  packages/client/test/test-utils/fake/FakeHttpUtil.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Stream.test.ts
  packages/client/test/unit/StreamrClient.test.ts
  packages/protocol/test/unit/utils/TrackerRegistry.test.ts
Labels: ci, client, protocol

#798 fix(network): Emit `Event.JOIN_FAILED`
  packages/network/src/logic/Node.ts
  packages/network/src/logic/TrackerManager.ts
  packages/network/test/integration/wait-for-join-subscribe-and-publish.test.ts
Labels: network

#801 refactor(protocol): rm group key announce
  packages/client/src/StreamMessageValidator.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/test/unit/StreamMessageValidator.test.ts
  packages/protocol/src/protocol/message_layer/GroupKeyAnnounce.ts
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/protocol/src/protocol/message_layer/index.ts
  packages/protocol/test/unit/protocol/message_layer/GroupKeyAnnounce.test.ts
Labels: client, protocol

#802 refactor(client): Generic persistence
  packages/client/src/encryption/GroupKeyStore.ts
  packages/client/src/utils/persistence/BrowserPersistence.ts
  packages/client/src/utils/persistence/Persistence.ts
  packages/client/src/utils/persistence/ServerPersistence.ts
  packages/client/test/unit/GroupKeyPersistence.test.ts
  packages/client/test/unit/ServerPersistence.test.ts
  packages/client/webpack.config.js
Labels: client

#803 refactor(client): Remove `GroupKeyPersistence` class
  packages/client/src/encryption/GroupKeyStore.ts
  packages/client/test/integration/PublisherKeyExchange.test.ts
  packages/client/test/integration/SubscriberKeyExchange.test.ts
  packages/client/test/integration/parallel-publish.test.ts
  packages/client/test/integration/resend-with-existing-key.test.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/GroupKeyStore2.test.ts
Labels: client

#804 fix(network): fix flaky proxy-connection test
  packages/network/test/integration/proxy-connections.test.ts
Labels: network

#805 refactor(client): Do not use `length = 0` to clear arrays
  packages/client/src/encryption/GroupKeyStore.ts
  packages/client/src/utils/Pipeline.ts
  packages/client/src/utils/PushBuffer.ts
  packages/client/src/utils/Signal.ts
  packages/client/test/test-utils/jest-utils.ts
  packages/client/test/test-utils/publish.ts
Labels: client

#799 fix(broker): subscriber plugin only joins the topology, does not process messages
  packages/broker/src/plugins/subscriber/SubscriberPlugin.ts
  packages/broker/test/integration/plugins/subscriber/SubscriberPlugin.test.ts
Labels: broker

#807 test(client): Use real publisher to provide group keys
  packages/client/test/integration/PublisherKeyExchange.test.ts
  packages/client/test/integration/SubscribePipeline.test.ts
  packages/client/test/integration/Subscriber.test.ts
  packages/client/test/integration/SubscriberKeyExchange.test.ts
  packages/client/test/integration/parallel-key-exchange.test.ts
  packages/client/test/integration/resend-and-subscribe.test.ts
  packages/client/test/test-utils/fake/FakeNetwork.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/client/test/test-utils/fake/fakePublisherNode.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Decrypt.test.ts
Labels: client

#806 NET-900 cleanup GroupKeyStore
  packages/client/src/StreamrClient.ts
  packages/client/src/encryption/GroupKeyStore.ts
  packages/client/test/unit/GroupKeyStore.test.ts
Labels: client

#810 Net 763 remove TODO type
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebSocket/ClientWebSocket.ts
  packages/dht/src/connection/WebSocket/RemoteWebSocketConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketServer.ts
  packages/dht/src/types.ts
  packages/proto-rpc/src/types.ts
Labels: dht

#811 CI(trackerless-network): Alleviate protoc install issue
  package-lock.json
  package.json
  packages/broker/run.sh
  packages/dht/package.json
  packages/proto-rpc/.gitignore
  packages/proto-rpc/package.json
  packages/proto-rpc/proto.sh
  packages/trackerless-network/package.json
  packages/trackerless-network/tsconfig.node.json
Labels: broker, dht
