Repository streamr-dev/network, pull requests merged in 2022-11, with the labels that each got.

#948 refactor(client): `HttpUtil` returns `AsyncIterable`
  packages/client/src/HttpUtil.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/utils/GeneratorUtils.ts
  packages/client/test/test-utils/fake/FakeHttpUtil.ts
  packages/client/test/unit/HttpUtil.test.ts
Labels: client

#949 test(client): Divide `MessageStream` test
  packages/client/test/unit/MessageStream.test.ts
  packages/client/test/unit/PushPipeline.test.ts
Labels: client

#950 refactor(client): Message listener assignment
  packages/client/src/Stream.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/subscribe/MessageStream.ts
  packages/client/src/subscribe/ResendSubscription.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/Subscriber.ts
Labels: client

#947 chore(network): NET-912 include turn server by default
  packages/client/src/Config.ts
  packages/client/src/testi.js
  packages/network/src/composition.ts
  packages/network/src/createNetworkNode.ts
Labels: network, client

#952 feat(client): Allow non authenticated publish
  packages/client/CHANGELOG.md
  packages/client/src/Authentication.ts
  packages/client/src/Config.ts
  packages/client/src/Container.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/StreamIDBuilder.ts
  packages/client/src/config.schema.json
  packages/client/src/index-exports.ts
  packages/client/test/integration/NetworkNodeFacade.test.ts
  packages/client/test/integration/anonymous-client.test.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/unit/Authentication.test.ts
  packages/client/test/unit/StreamIDBuilder.test.ts
Labels: client, changelog

#954 hotfix(network, client): export PRODUCTION_STUN_URLS in browser.ts
  packages/client/test/unit/Config.test.ts
  packages/network/src/browser.ts
  packages/network/src/createNetworkNode.ts
Labels: network, client

#953 Reliability fixes
  packages/dht/package.json
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/Simulator/Simulator.ts
  packages/dht/src/connection/WebRTC/BrowserWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/proto/DhtRpc.client.ts
  packages/dht/src/proto/DhtRpc.server.ts
  packages/dht/src/proto/DhtRpc.ts
  packages/dht/src/transport/ITransport.ts
  packages/dht/test/integration/DhtPeer.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/unit/RandomContactList.test.ts
  packages/dht/test/unit/SortedContactList.test.ts
  packages/dht/test/utils.ts
  packages/trackerless-network/bin/full-node-webrtc.ts
  packages/trackerless-network/bin/full-node-websocket.ts
  packages/trackerless-network/bin/network.ts
  packages/trackerless-network/src/logic/RemoteRandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
Labels: dht

#960 ci: update `chromedriver`
  package-lock.json
  packages/client/package.json
Labels: client

#959 Net 846 make simulator stoppable
  package-lock.json
  packages/dht/package.json
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/Simulator/Simulator.ts
  packages/dht/src/connection/Simulator/SimulatorConnection.ts
  packages/dht/src/connection/Simulator/SimulatorConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/transport/ITransport.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/dht/test/integration/DhtPeer.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/integration/DhtWithMockConnectionLatencies.test.ts
  packages/dht/test/integration/DhtWithMockConnections.test.ts
  packages/dht/test/integration/DhtWithRealConnectionLatencies.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/WebRtcConnectionManagement.test.ts
  packages/dht/test/integration/WebRtcConnectorRpc.test.ts
  packages/dht/test/integration/WebSocketConnectorRpc.test.ts
  packages/proto-rpc/README.md
  packages/proto-rpc/examples/errors/errors.ts
  packages/proto-rpc/examples/hello/hello.ts
  packages/proto-rpc/examples/routed-hello/routedhello.ts
  packages/proto-rpc/examples/wakeup/proto/google/protobuf/empty.ts
  packages/proto-rpc/examples/wakeup/wakeup.ts
  packages/proto-rpc/protos/ProtoRpc.proto
  packages/proto-rpc/src/RpcCommunicator.ts
  packages/proto-rpc/src/errors.ts
  packages/proto-rpc/src/proto/ProtoRpc.ts
  packages/proto-rpc/test/integration/ClientRpcTransport.test.ts
  packages/proto-rpc/test/integration/toProtoRpcClient.test.ts
  packages/proto-rpc/test/unit/RpcCommunicator.test.ts
  packages/trackerless-network/test/integration/NetworkRpc.test.ts
Labels: dht, proto-rpc

#957 refactor(client): Simplify `StreamrClient#subscribe` method
  packages/client/src/Stream.ts
  packages/client/src/StreamFactory.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/subscribe/ResendSubscription.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/src/subscribe/subscribePipeline.ts
  packages/client/test/unit/subscribePipeline.test.ts
Labels: client

#955 test(network): `IceServer` interface and fix browser turn configuration
  packages/client/CHANGELOG.md
  packages/client/src/Config.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/config.schema.json
  packages/client/test/unit/Config.test.ts
  packages/network/src/browser.ts
  packages/network/src/composition.ts
  packages/network/src/connection/webrtc/BrowserWebRtcConnection.ts
  packages/network/src/connection/webrtc/NodeWebRtcConnection.ts
  packages/network/src/connection/webrtc/WebRtcConnection.ts
  packages/network/src/connection/webrtc/WebRtcEndpoint.ts
  packages/network/src/constants.ts
  packages/network/src/createNetworkNode.ts
  packages/network/test/browser/BrowserWebRtcConnection.test.ts
  packages/network/test/browser/IntegrationBrowserWebRtcConnection.test.ts
  packages/network/test/browser/test.html
  packages/network/test/integration/NodeWebRtcConnection.test.ts
  packages/network/test/integration/message-duplication.test.ts
  packages/network/test/integration/proxy-connections.test.ts
  packages/network/test/integration/proxy-groupkey-exchange.test.ts
  packages/network/test/integration/wait-for-join-subscribe-and-publish.test.ts
  packages/network/test/integration/webrtc-endpoint-back-pressure-handling.test.ts
  packages/network/test/integration/webrtc-multi-signaller.test.ts
  packages/network/test/unit/NodeWebRtcConnection-errors.test.ts
  packages/network/test/unit/NodeWebRtcConnection.test.ts
  packages/network/test/unit/WebRtcEndpoint.test.ts
Labels: network, client, changelog

#951 feat(client): Default value for metrics
  packages/client/src/Config.ts
  packages/client/test/unit/Config.test.ts
Labels: client

#961 feat: add graceful leave to ConnectionManager.stop()
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/RemoteConnectionLocker.ts
  packages/dht/src/proto/DhtRpc.client.ts
  packages/dht/src/proto/DhtRpc.server.ts
  packages/dht/src/proto/DhtRpc.ts
  packages/dht/test/integration/ConnectionLocking.test.ts
Labels: dht

#927 fix(client): Clean up `Subscription` event listeners
  packages/client/src/StreamrClient.ts
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/ResendSubscription.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/src/subscribe/Subscription.ts
  packages/client/test/integration/client-destroy.test.ts
Labels: client

#958 feat(client)!: Use `Message` instead of `StreamMessage` in public API
  packages/broker/src/helpers/PayloadFormat.ts
  packages/broker/src/plugins/mqtt/Bridge.ts
  packages/broker/src/plugins/websocket/SubscribeConnection.ts
  packages/broker/test/integration/createMessagingPluginTest.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/unit/helpers/PayloadFormat.test.ts
  packages/client/CHANGELOG.md
  packages/client/README.md
  packages/client/src/Message.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/Stream.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/index-exports.ts
  packages/client/src/publish/MessageFactory.ts
  packages/client/src/publish/Publisher.ts
  packages/client/src/subscribe/Decrypt.ts
  packages/client/src/subscribe/MessageStream.ts
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/ResendSubscription.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/src/subscribe/Subscription.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/Resends.test.ts
  packages/client/test/integration/Resends2.test.ts
  packages/client/test/integration/Sequencing.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/integration/Subscriber.test.ts
  packages/client/test/integration/Subscriber2.test.ts
  packages/client/test/integration/basics.test.ts
  packages/client/test/integration/multiple-clients.test.ts
  packages/client/test/integration/parallel-key-exchange.test.ts
  packages/client/test/integration/pre-agreed-encryption-key.test.ts
  packages/client/test/integration/resend-and-subscribe.test.ts
  packages/client/test/integration/resend-with-existing-key.test.ts
  packages/client/test/integration/revoke-permissions.test.ts
  packages/client/test/integration/sequential-resend-subscribe.test.ts
  packages/client/test/integration/update-encryption-key.test.ts
  packages/client/test/test-utils/publish.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/client/test/unit/MessageStream.test.ts
  packages/client/test/unit/subscribePipeline.test.ts
Labels: broker, client, changelog

#962 feat(client)!: Stream metadata public API
  packages/broker/src/plugins/storage/DeleteExpiredCmd.ts
  packages/broker/test/unit/plugins/storage/StorageConfig.test.ts
  packages/broker/test/unit/plugins/storage/StorageEventListener.test.ts
  packages/broker/test/unit/plugins/storage/StoragePoller.test.ts
  packages/broker/test/utils.ts
  packages/cli-tools/bin/streamr-storage-node-list-streams.ts
  packages/cli-tools/bin/streamr-stream-create.ts
  packages/cli-tools/bin/streamr-stream-show.ts
  packages/client/CHANGELOG.md
  packages/client/README.md
  packages/client/src/Stream.ts
  packages/client/src/StreamFactory.ts
  packages/client/src/StreamMessageValidator.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/Validator.ts
  packages/client/src/publish/MessageFactory.ts
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/registry/StreamStorageRegistry.ts
  packages/client/test/end-to-end/StreamRegistry.test.ts
  packages/client/test/integration/Stream.test.ts
  packages/client/test/test-utils/fake/FakeChain.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Stream.test.ts
  packages/client/test/unit/StreamMessageValidator.test.ts
  packages/client/test/unit/Validator.test.ts
  packages/client/test/unit/searchStreams.test.ts
  packages/client/test/unit/subscribePipeline.test.ts
Labels: broker, client, cli-tools, changelog

#965 feat(client): Paginated stored streams queries
  packages/client/CHANGELOG.md
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/registry/StreamStorageRegistry.ts
  packages/client/src/registry/searchStreams.ts
  packages/client/src/utils/GraphQLClient.ts
  packages/client/src/utils/SynchronizedGraphQLClient.ts
  packages/client/test/unit/SynchronizedGraphQLClient.test.ts
Labels: client, changelog

#966 refactor(protocol): `StreamMessage` enums
  packages/broker/test/integration/plugins/storage/Storage.test.ts
  packages/client/src/StreamMessageValidator.ts
  packages/client/src/encryption/EncryptionUtil.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/subscribe/Decrypt.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/PublisherKeyExchange.test.ts
  packages/client/test/integration/SubscriberKeyExchange.test.ts
  packages/client/test/integration/parallel-key-exchange.test.ts
  packages/client/test/integration/pre-agreed-encryption-key.test.ts
  packages/client/test/integration/resend-and-subscribe.test.ts
  packages/client/test/unit/EncryptionUtil.test.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/network/test/integration/delivery-of-messages-protocol-layer.test.ts
  packages/network/test/integration/proxy-groupkey-exchange.test.ts
  packages/protocol/src/protocol/message_layer/GroupKeyRequest.ts
  packages/protocol/src/protocol/message_layer/GroupKeyResponse.ts
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/protocol/test/unit/protocol/control_layer/BroadcastMessageSerializerV2.test.ts
  packages/protocol/test/unit/protocol/message_layer/GroupKeyRequest.test.ts
  packages/protocol/test/unit/protocol/message_layer/GroupKeyResponse.test.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessage.test.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessageSerializerV32.test.ts
Labels: broker, network, client, protocol

#968 ci(client): Update `typedoc` library
  package-lock.json
  packages/client/package.json
Labels: client

#967 fix(client): Query stored streams for non-existent storage node
  packages/client/src/registry/StreamStorageRegistry.ts
  packages/client/test/end-to-end/StorageNodeRegistry.test.ts
Labels: client

#956 refactor(utils): NET-920 move `waitForCondition` to `@streamr/utils`
  packages/broker/test/integration/broker-subscriptions.test.ts
  packages/broker/test/integration/local-propagation.test.ts
  packages/broker/test/integration/multiple-publisher-plugins.test.ts
  packages/broker/test/integration/plugins/brubeckMiner/BrubeckMinerPlugin.test.ts
  packages/broker/test/integration/plugins/storage/BatchManager.test.ts
  packages/broker/test/integration/plugins/storage/BucketManager.test.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/integration/plugins/storage/cassanda-queries.test.ts
  packages/broker/test/integration/plugins/subscriber/SubscriberPlugin.test.ts
  packages/broker/test/unit/plugins/websocket/WebsocketServer.test.ts
  packages/client/test/end-to-end/Metrics.test.ts
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/client/test/end-to-end/resend.test.ts
  packages/client/test/integration/Sequencing.test.ts
  packages/client/test/integration/Subscriber2.test.ts
  packages/client/test/integration/SubscriberKeyExchange.test.ts
  packages/client/test/integration/multiple-clients.test.ts
  packages/client/test/integration/update-encryption-key.test.ts
  packages/client/test/test-utils/fake/FakeNetwork.ts
  packages/client/test/unit/MessageStream.test.ts
  packages/client/test/unit/OrderingUtil2.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/WebRtcConnectorRpc.test.ts
  packages/dht/test/integration/WebSocketConnectionManagement.test.ts
  packages/network-tracker/test/integration/tracker-endpoints.test.ts
  packages/network-tracker/test/integration/tracker-instructions.test.ts
  packages/network/test/browser/IntegrationBrowserWebRtcConnection.test.ts
  packages/network/test/integration/NodeWebRtcConnection.test.ts
  packages/network/test/integration/UnixSocketWsServer.test.ts
  packages/network/test/integration/browser-ws-endpoint.test.ts
  packages/network/test/integration/do-not-propagate-to-sender-optimization.test.ts
  packages/network/test/integration/message-duplication.test.ts
  packages/network/test/integration/message-propagation.test.ts
  packages/network/test/integration/tracker-counters-are-stream-part-specific.test.ts
  packages/network/test/unit/InstructionThrottler.test.ts
  packages/network/test/unit/ServerWsEndpoint.test.ts
  packages/network/test/unit/WebRtcEndpoint.test.ts
  packages/proto-rpc/test/unit/RpcCommunicator.test.ts
  packages/test-utils/README.md
  packages/test-utils/src/utils.ts
  packages/test-utils/test/utils.test.ts
  packages/utils/src/exports.ts
  packages/utils/src/waitForCondition.ts
  packages/utils/test/Metric.test.ts
  packages/utils/test/waitForCondition.test.ts
Labels: broker, network, client, test-utils, tracker, dht, utils, proto-rpc

#888 feat(client): Update exports
  packages/broker/src/plugins/storage/DataQueryFormat.ts
  packages/broker/test/unit/plugins/storage/DataQueryEndpoints.test.ts
  packages/broker/test/unit/plugins/storage/StorageConfig.test.ts
  packages/broker/test/unit/plugins/storage/StorageEventListener.test.ts
  packages/broker/test/utils.ts
  packages/client/CHANGELOG.md
  packages/client/src/Config.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/Stream.ts
  packages/client/src/encryption/GroupKey.ts
  packages/client/src/encryption/GroupKeyStore.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/index-exports.ts
  packages/client/src/publish/MessageFactory.ts
  packages/client/src/publish/Publisher.ts
  packages/client/src/registry/StreamStorageRegistry.ts
  packages/client/src/registry/getTrackerRegistryFromContract.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/test/unit/Config.test.ts
  packages/client/test/unit/subscribePipeline.test.ts
  packages/network-tracker/src/logic/Tracker.ts
  packages/network/src/createNetworkNode.ts
  packages/network/src/logic/TrackerConnector.ts
  packages/network/src/logic/TrackerManager.ts
  packages/network/test/integration/proxy-connections.test.ts
  packages/network/test/integration/proxy-groupkey-exchange.test.ts
  packages/network/test/unit/TrackerConnector.test.ts
  packages/protocol/src/protocol/message_layer/EncryptedGroupKey.ts
  packages/protocol/src/protocol/message_layer/MessageID.ts
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/protocol/src/utils/TrackerRegistry.ts
  packages/protocol/src/utils/index.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessage.test.ts
  packages/utils/src/Metric.ts
Labels: broker, network, client, protocol, changelog, tracker, utils

#973 Rejoin after lost connectivity
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/contact/SortedContactList.ts
  packages/trackerless-network/bin/bootstrap-node.ts
  packages/trackerless-network/bin/full-node-websocket.ts
  packages/trackerless-network/bin/network.ts
Labels: dht

#934 feat(utils): add function `composeAbortSignals`
  packages/utils/package.json
  packages/utils/src/composeAbortSignals.ts
  packages/utils/src/exports.ts
  packages/utils/test/composeAbortSignals.test.ts
Labels: utils

#916 refactor: remove unused code
  packages/broker/src/plugins/storage/Storage.ts
  packages/client/src/utils/PushBuffer.ts
  packages/client/src/utils/PushPipeline.ts
  packages/client/src/utils/Signal.ts
  packages/client/src/utils/promises.ts
  packages/client/src/utils/waitForMessage.ts
  packages/network/src/connection/webrtc/WebRtcConnection.ts
  packages/network/src/helpers/transformIterable.ts
Labels: broker, network, client

#969 test(client): Optimize integration tests
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/Resends2.test.ts
  packages/client/test/integration/Subscriber2.test.ts
Labels: client

#972 fix(client): Enum export from external packages
  packages/client/src/index-exports.ts
Labels: client

#971 fix(client): Add `ensCacheChainAddress` to config schema
  packages/client/src/config.schema.json
Labels: client

#979 fix(network): fix MessageQueue size
  packages/network/src/connection/MessageQueue.ts
  packages/network/src/connection/webrtc/WebRtcEndpoint.ts
Labels: network

#977 feat(client): Paginated permission and storage node queries
  packages/client/CHANGELOG.md
  packages/client/src/permission.ts
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/registry/StreamStorageRegistry.ts
  packages/client/src/utils/GraphQLClient.ts
  packages/client/src/utils/SynchronizedGraphQLClient.ts
Labels: client, changelog

#939 chore: wrapper for flaky test NET-918
  packages/broker/test/integration/plugins/storage/storage-lots-of-data.test.ts
Labels: broker

#983 test(broker): add retry-logic to flaky test in storage-lots-of-data
  packages/broker/test/integration/plugins/storage/storage-lots-of-data.test.ts
Labels: broker

#985 fix: add checks for Error.captureStackTrace
  packages/network/src/connection/webrtc/WebRtcEndpoint.ts
  packages/network/src/connection/ws/AbstractWsEndpoint.ts
  packages/network/src/logic/DuplicateMessageDetector.ts
  packages/utils/src/asAbortable.ts
  packages/utils/src/withTimeout.ts
Labels: network, utils

#986 Net 846 add fixed delay mode
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/RemoteConnectionLocker.ts
  packages/dht/src/connection/Simulator/Simulator.ts
  packages/dht/src/connection/WebRTC/RemoteWebrtcConnector.ts
  packages/dht/src/connection/WebSocket/ClientWebSocket.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/proto/google/protobuf/empty.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/dht/test/end-to-end/WebSocketConnectionRequest.test.ts
  packages/dht/test/integration/DhtPeer.test.ts
  packages/dht/test/integration/RpcErrors.test.ts
  packages/dht/test/integration/WebRtcConnectionManagement.test.ts
  packages/dht/test/utils.ts
  packages/proto-rpc/src/ClientTransport.ts
  packages/proto-rpc/src/RpcCommunicator.ts
  packages/proto-rpc/src/ServerRegistry.ts
  packages/proto-rpc/src/proto/google/protobuf/empty.ts
  packages/proto-rpc/src/toProtoRpcClient.ts
  packages/proto-rpc/test/integration/toProtoRpcClient.test.ts
  packages/proto-rpc/test/proto/google/protobuf/empty.ts
  packages/trackerless-network/src/logic/RemoteRandomGraphNode.ts
  packages/trackerless-network/test/integration/NetworkRpc.test.ts
Labels: dht, proto-rpc

#984 feat(utils): improve `waitForCondition`
  packages/client/test/end-to-end/resend.test.ts
  packages/client/test/test-utils/fake/FakeNetwork.ts
  packages/client/test/unit/MessageStream.test.ts
  packages/network/test/unit/WebRtcEndpoint.test.ts
  packages/test-utils/src/utils.ts
  packages/utils/src/waitForCondition.ts
  packages/utils/test/waitForCondition.test.ts
Labels: network, client, test-utils, utils

#975 refactor(client): Remove subconfig interfaces
  packages/client/CHANGELOG.md
  packages/client/src/Authentication.ts
  packages/client/src/Config.ts
  packages/client/src/Container.ts
  packages/client/src/ContractFactory.ts
  packages/client/src/Ethereum.ts
  packages/client/src/MetricsPublisher.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/Stream.ts
  packages/client/src/StreamFactory.ts
  packages/client/src/config.schema.json
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/index-exports.ts
  packages/client/src/registry/StorageNodeRegistry.ts
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/registry/StreamRegistryCached.ts
  packages/client/src/registry/StreamStorageRegistry.ts
  packages/client/src/subscribe/Decrypt.ts
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/ResendSubscription.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/src/subscribe/subscribePipeline.ts
  packages/client/src/utils/GraphQLClient.ts
  packages/client/src/utils/HttpFetcher.ts
  packages/client/src/utils/LoggerFactory.ts
  packages/client/src/utils/SynchronizedGraphQLClient.ts
  packages/client/src/utils/caches.ts
  packages/client/test/end-to-end/StreamRegistry.test.ts
  packages/client/test/integration/parallel-key-exchange.test.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Authentication.test.ts
  packages/client/test/unit/Config.test.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/client/test/unit/SynchronizedGraphQLClient.test.ts
  packages/client/test/unit/subscribePipeline.test.ts
Labels: client, changelog

#988 refactor(client): Simple `auth` type
  packages/broker/src/broker.ts
  packages/cli-tools/bin/streamr-governance-vote.ts
  packages/client/CHANGELOG.md
  packages/client/src/Config.ts
  packages/client/src/index-exports.ts
  packages/client/src/types.ts
Labels: broker, client, cli-tools, changelog

#989 feat(broker): Ethereum authentication
  packages/broker/package.json
  packages/broker/src/broker.ts
  packages/broker/src/config/config.schema.json
  packages/broker/src/exports.ts
  packages/broker/test/unit/authentication.test.ts
Labels: broker

#992 fix(broker): Default metrics periods in migration
  packages/broker/src/config/migration.ts
  packages/broker/test/unit/configMigration.test.ts
Labels: broker

#994 refactor(broker): Null values in config
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/development-prod-resend.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/src/apiAuthenticator.ts
  packages/broker/src/config/config.schema.json
  packages/broker/src/config/config.ts
  packages/broker/src/config/migration.ts
  packages/broker/src/httpServer.ts
  packages/broker/src/plugins/brubeckMiner/BrubeckMinerPlugin.ts
  packages/broker/src/plugins/brubeckMiner/config.schema.json
  packages/broker/src/plugins/mqtt/MqttPlugin.ts
  packages/broker/src/plugins/mqtt/config.schema.json
  packages/broker/src/plugins/storage/StoragePlugin.ts
  packages/broker/src/plugins/storage/config.schema.json
  packages/broker/src/plugins/websocket/WebsocketPlugin.ts
  packages/broker/src/plugins/websocket/config.schema.json
  packages/broker/test/integration/plugins/brubeckMiner/BrubeckMinerPlugin.test.ts
  packages/broker/test/integration/plugins/websocket/WebsocketPlugin.test.ts
  packages/broker/test/unit/authentication.test.ts
  packages/broker/test/unit/configMigration.test.ts
  packages/broker/test/unit/httpServer.test.ts
  packages/broker/test/utils.ts
Labels: broker

#995 refactor(broker): HttpServer certificate config in a separate block
  packages/broker/src/config/config.schema.json
  packages/broker/src/config/config.ts
  packages/broker/src/config/migration.ts
  packages/broker/src/httpServer.ts
  packages/broker/src/plugins/websocket/WebsocketPlugin.ts
  packages/broker/src/plugins/websocket/WebsocketServer.ts
  packages/broker/test/unit/configMigration.test.ts
Labels: broker

#990 refactor(utils): convert stop functions to abortSignal
  packages/broker/src/plugins/brubeckMiner/BrubeckMinerPlugin.ts
  packages/broker/src/plugins/consoleMetrics/ConsoleMetricsPlugin.ts
  packages/broker/src/plugins/storage/StorageConfig.ts
  packages/broker/src/plugins/storage/StoragePoller.ts
  packages/broker/test/unit/plugins/storage/StoragePoller.test.ts
  packages/client/src/MetricsPublisher.ts
  packages/utils/src/Metric.ts
  packages/utils/src/scheduleAtFixedRate.ts
  packages/utils/src/scheduleAtInterval.ts
  packages/utils/test/Metric.test.ts
  packages/utils/test/scheduleAtFixedRate.test.ts
  packages/utils/test/scheduleAtInterval.test.ts
Labels: broker, client, utils

#996 refactor(broker): Extract `$schema` from `Config`
  packages/broker/src/config/config-testnet.schema.json
  packages/broker/src/config/config.schema.json
  packages/broker/src/config/config.ts
  packages/broker/src/config/migration.ts
  packages/broker/test/unit/authentication.test.ts
  packages/broker/test/unit/configMigration.test.ts
  packages/broker/test/utils.ts
Labels: broker

#997 refactor(broker): Remove subconfig interfaces
  packages/broker/src/broker.ts
  packages/broker/src/config/config.ts
  packages/broker/src/exports.ts
  packages/broker/src/httpServer.ts
  packages/broker/src/plugins/websocket/WebsocketPlugin.ts
  packages/broker/src/plugins/websocket/WebsocketServer.ts
  packages/broker/test/unit/authentication.test.ts
  packages/broker/test/utils.ts
Labels: broker

#999 refactor(client): Simplify `RSAKeyPair`
  packages/client/src/encryption/RSAKeyPair.ts
Labels: client

#1004 Trackerless metrics
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/DhtNode.ts
  packages/trackerless-network/bin/bootstrap-node.ts
  packages/trackerless-network/bin/full-node-webrtc.ts
  packages/trackerless-network/bin/full-node-websocket.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/StreamMessageTranslator.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
Labels: dht

#1003 refactor(client): Config normalization
  packages/client/src/Authentication.ts
  packages/client/src/Config.ts
  packages/client/src/MetricsPublisher.ts
  packages/client/src/config.schema.json
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/src/utils/LoggerFactory.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Config.test.ts
  packages/client/test/unit/MessageStream.test.ts
  packages/client/test/unit/MetricsPublisher.test.ts
Labels: client

#1001 client(refactor): Remove `ensCacheChainAddress` config option
  packages/client/CHANGELOG.md
  packages/client/src/Config.ts
  packages/client/src/config.schema.json
Labels: client, changelog

#1005 refactor(client ): Deprecate config defaults
  packages/client/CHANGELOG.md
  packages/client/src/Config.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/index-exports.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/end-to-end/Permissions.test.ts
  packages/client/test/end-to-end/ProxyPublishSubscribe.test.ts
  packages/client/test/end-to-end/StorageNodeRegistry.test.ts
  packages/client/test/end-to-end/StorageNodeRegistry2.test.ts
  packages/client/test/end-to-end/StreamRegistry.test.ts
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/client/test/end-to-end/resend.test.ts
  packages/client/test/end-to-end/searchStreams.test.ts
  packages/client/test/integration/NetworkNodeFacade.test.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Config.test.ts
  packages/client/test/unit/StreamrClient.test.ts
Labels: client, changelog

#1006 Drop faulty Polygon RPC with CORS errors
  packages/client/src/Config.ts
Labels: client

#998 test(client): Refactor unsubscribe tests
  packages/client/test/integration/Resends2.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/integration/unsubscribe.test.ts
Labels: client

#1007 docs(client): Categorize API reference by group
  packages/client/src/Config.ts
  packages/client/src/Message.ts
  packages/client/typedoc.js
Labels: client

#1008 chore: update ethereum RPC url list
  packages/client/CHANGELOG.md
  packages/client/src/Config.ts
Labels: client, changelog

#1010 refactor(client): NET-923 Client default config from schema
  packages/client/CHANGELOG.md
  packages/client/src/Config.ts
  packages/client/src/Ethereum.ts
  packages/client/src/config.schema.json
  packages/client/src/index-exports.ts
  packages/client/test/unit/Config.test.ts
  packages/network/src/browser.ts
  packages/network/src/composition.ts
  packages/network/src/constants.ts
Labels: network, client, changelog

#1012 feat(client): Redacted config
  packages/client/src/Config.ts
  packages/client/src/Container.ts
  packages/client/src/StreamrClient.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/unit/Config.test.ts
  packages/client/test/unit/Stream.test.ts
Labels: client

#1013 docs(client): Error messages in custom authentication provider
  packages/client/src/Authentication.ts
Labels: client

#1014 refactor(client): Container parameter as internal in `StreamrClient` constructor
  packages/client/src/StreamrClient.ts
Labels: client

#1009 client(docs): add typedoc documentation to public APIs
  packages/client/src/Message.ts
  packages/client/src/Stream.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/encryption/GroupKeyStore.ts
  packages/client/src/subscribe/MessageStream.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/Subscription.ts
Labels: client

#1019 fix(network): fix stun/turn URLs in Node.js
  packages/network/src/connection/webrtc/NodeWebRtcConnection.ts
  packages/network/src/connection/webrtc/iceServerAsString.ts
  packages/network/test/unit/iceServerAsString.test.ts
Labels: network

#1015 refactor(client): Internal `waitForStorage` parameter
  packages/client/CHANGELOG.md
  packages/client/src/StreamrClient.ts
Labels: client, changelog

#1017 docs: update READMEs, remove old stuff
  README.md
  docs/index.md
  docs/testing-best-practices.md
  packages/broker/README.md
  packages/broker/develop.md
  packages/cli-tools/README.md
  packages/network-tracker/README.md
  packages/network/README.md
  packages/protocol/README.md
  packages/test-utils/README.md
  packages/utils/README.md
Labels: broker, network, protocol, test-utils, cli-tools, docs, tracker, utils

#1016 chore(client): remove extraneous generics
  packages/broker/test/integration/multiple-publisher-plugins.test.ts
  packages/client/src/HttpUtil.ts
  packages/client/src/Message.ts
  packages/client/src/Stream.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/subscribe/Decrypt.ts
  packages/client/src/subscribe/MessageStream.ts
  packages/client/src/subscribe/MsgChainUtil.ts
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/ResendSubscription.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/src/subscribe/Subscription.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/src/subscribe/subscribePipeline.ts
  packages/client/src/utils/waitForAssignmentsToPropagate.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/integration/Subscriber2.test.ts
  packages/client/test/test-utils/fake/FakeHttpUtil.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/HttpUtil.test.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/client/test/unit/MessageStream.test.ts
  packages/client/test/unit/PushPipeline.test.ts
  packages/client/test/unit/subscribePipeline.test.ts
  packages/client/test/unit/waitForAssignmentsToPropagate.test.ts
Labels: broker, client

#1018 chore: unify / cleanup package.jsons
  packages/broker/package.json
  packages/cli-tools/package.json
  packages/client/package.json
  packages/dht/package.json
  packages/network-tracker/package.json
  packages/network/package.json
  packages/proto-rpc/package.json
  packages/protocol/package.json
  packages/protocol/typedoc.js
  packages/test-utils/package.json
  packages/utils/package.json
Labels: broker, network, client, protocol, test-utils, cli-tools, tracker, dht, utils, proto-rpc

#1021 build: add update-versions and release script
  README.md
  release.sh
  update-versions.sh
Labels: docs

#1011 Net 846 fix data loss
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/Handshaker.ts
  packages/dht/src/connection/IManagedConnectionSource.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/ManagedWebRtcConnection.ts
  packages/dht/src/connection/Simulator/SimulatorConnection.ts
  packages/dht/src/connection/Simulator/SimulatorConnector.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/proto/DhtRpc.ts
  packages/dht/src/proto/google/protobuf/empty.ts
  packages/dht/test/end-to-end/Layer0.test.ts
  packages/dht/test/end-to-end/Layer0WebRTC.test.ts
  packages/dht/test/integration/ConnectionLocking.test.ts
  packages/dht/test/integration/DhtWithMockConnectionLatencies.test.ts
  packages/dht/test/integration/DhtWithMockConnections.test.ts
  packages/dht/test/integration/DhtWithRealConnectionLatencies.test.ts
  packages/dht/test/integration/RpcErrors.test.ts
  packages/proto-rpc/src/proto/google/protobuf/empty.ts
  packages/proto-rpc/test/proto/google/protobuf/empty.ts
  packages/trackerless-network/package.json
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/logic/Handshaker.ts
  packages/trackerless-network/src/logic/PeerList.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/RemoteRandomGraphNode.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.client.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.server.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/RemoteRandomGraphNode.test.ts
Labels: dht, proto-rpc

#1026 refactor(network): Remove manual browser test
  packages/network/test/browser/test.html
Labels: network

#1024 refactor(client): Inline network config
  packages/client/CHANGELOG.md
  packages/client/src/Config.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/config.schema.json
  packages/client/src/exports.ts
Labels: client, changelog

#1027 refactor(network): Required config
  packages/broker/test/utils.ts
  packages/client/src/Config.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/config.schema.json
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/client/test/unit/Config.test.ts
  packages/network-tracker/bin/tracker.js
  packages/network-tracker/test/integration/counter-filtering-in-tracker.test.ts
  packages/network-tracker/test/integration/tracker-endpoints.test.ts
  packages/network-tracker/test/integration/tracker-instructions.test.ts
  packages/network-tracker/test/integration/tracker.test.ts
  packages/network/bin/publisher.js
  packages/network/bin/subscriber.js
  packages/network/src/connection/webrtc/WebRtcEndpoint.ts
  packages/network/src/connection/ws/AbstractClientWsEndpoint.ts
  packages/network/src/connection/ws/AbstractWsEndpoint.ts
  packages/network/src/connection/ws/ServerWsEndpoint.ts
  packages/network/src/createNetworkNode.ts
  packages/network/src/exports.ts
  packages/network/src/identifiers.ts
  packages/network/src/logic/Node.ts
  packages/network/src/logic/TrackerManager.ts
  packages/network/src/simulator/AbstractClientWsEndpoint_simulator.ts
  packages/network/src/simulator/NodeClientWsEndpoint_simulator.ts
  packages/network/src/simulator/ServerWsEndpoint_simulator.ts
  packages/network/test/integration/UnixSocketWsServer.test.ts
  packages/network/test/integration/browser-ws-endpoint.test.ts
  packages/network/test/integration/delivery-of-messages-protocol-layer.test.ts
  packages/network/test/integration/do-not-propagate-to-sender-optimization.test.ts
  packages/network/test/integration/killing-dead-connections.test.ts
  packages/network/test/integration/message-duplication.test.ts
  packages/network/test/integration/message-propagation.test.ts
  packages/network/test/integration/multi-trackers.test.ts
  packages/network/test/integration/network-stabilization.test.ts
  packages/network/test/integration/node-to-node-protocol-version-negotiation.test.ts
  packages/network/test/integration/nodeMessageBuffering.test.ts
  packages/network/test/integration/proxy-connections.test.ts
  packages/network/test/integration/proxy-groupkey-exchange.test.ts
  packages/network/test/integration/rtc-signalling-messages-routing.test.ts
  packages/network/test/integration/tracker-counters-are-stream-part-specific.test.ts
  packages/network/test/integration/tracker-node-disconnects-on-invalid-status.test.ts
  packages/network/test/integration/tracker-node-reconnect-instructions.test.ts
  packages/network/test/integration/tracker-node-status.test.ts
  packages/network/test/integration/unsubscribe-from-stream.test.ts
  packages/network/test/integration/wait-for-join-subscribe-and-publish.test.ts
  packages/network/test/integration/webrtc-endpoint-back-pressure-handling.test.ts
  packages/network/test/integration/webrtc-error-scenarios-during-signalling.test.ts
  packages/network/test/integration/webrtc-multi-signaller.test.ts
  packages/network/test/integration/ws-endpoint-back-pressure-handling.test.ts
  packages/network/test/integration/ws-endpoint.test.ts
  packages/network/test/simulator/ServerWsEndpoint_simulator.test.ts
  packages/network/test/unit/NetworkNode.test.ts
  packages/network/test/unit/ServerWsEndpoint.test.ts
  packages/network/test/unit/WebRtcEndpoint.test.ts
  packages/network/test/utils.ts
Labels: broker, network, client, tracker

#1025 chore(client): update ABIs
  packages/client/contracts/NodeRegistry.json
  packages/client/src/ethereumArtifacts/StreamRegistryV4.d.ts
  packages/client/src/ethereumArtifacts/StreamRegistryV4Abi.json
  packages/client/src/ethereumArtifacts/StreamStorageRegistryV2.d.ts
  packages/client/src/ethereumArtifacts/StreamStorageRegistryV2Abi.json
  packages/client/src/ethereumArtifacts/TrackerRegistry.json
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/registry/StreamStorageRegistry.ts
  packages/client/src/registry/getTrackerRegistryFromContract.ts
  packages/client/tsconfig.browser.json
  packages/client/tsconfig.jest.json
  packages/client/tsconfig.node.json
Labels: client

#1030 test(network, client): `webrtcDisallowPrivateAddresses` default
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/network-tracker/test/integration/tracker-endpoints.test.ts
  packages/network-tracker/test/integration/tracker-instructions.test.ts
  packages/network-tracker/test/integration/tracker.test.ts
  packages/network/src/createNetworkNode.ts
Labels: network, client, tracker

#1029 feat(network): Remove `bin` scripts
  packages/network/bin/network.js
  packages/network/bin/publisher.js
  packages/network/bin/subscriber.js
  packages/network/bin/tracker.js
  packages/network/package.json
Labels: network

#1032 refactor(client): Simple config type definition
  package-lock.json
  packages/client/package.json
  packages/client/src/Config.ts
Labels: client
