Repository streamr-dev/network, pull requests merged in 2022-02, with the labels that each got.

#400 Broker tests: rm broker.test.ts & split up Storage.test.ts
  packages/broker/test/integration/broker.test.ts
  packages/broker/test/integration/plugins/storage/Storage.test.ts
  packages/broker/test/integration/plugins/storage/storage-lots-of-data.test.ts
  packages/broker/test/utils.ts
Labels: broker

#390 protocol: clean up
  .github/workflows/protocol.yml
  packages/broker/src/broker.ts
  packages/client/contracts/NodeRegistry.json
  packages/client/contracts/TrackerRegistry.json
  packages/client/src/getStorageNodeRegistryFromContract.ts
  packages/client/src/getTrackerRegistryFromContract.ts
  packages/client/src/index-exports.ts
  packages/client/test/integration/getStorageNodeRegistryFromContract.test.ts
  packages/client/test/integration/getTrackerRegistryFromContract.test.ts
  packages/client/webpack.config.js
  packages/protocol/package.json
  packages/protocol/src/utils/StorageNodeRegistry.ts
  packages/protocol/src/utils/TrackerRegistry.ts
  packages/protocol/src/utils/index.ts
  packages/protocol/test/benchmarks/deserialize.test.ts
  packages/protocol/test/benchmarks/validate.test.ts
  packages/protocol/test/unit/utils/StorageNodeRegistry.test.ts
  packages/protocol/test/unit/utils/TrackerRegistry.test.ts
Labels: ci, broker, client, protocol

#389 CI: clean up broker streamr-docker-dev stack
  .github/workflows/broker.yml
Labels: ci, broker

#391 NET-539: storage node assignment synchronization
  packages/broker/configs/development-1.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/src/plugins/storage/SetMembershipSynchronizer.ts
  packages/broker/src/plugins/storage/StorageConfig.ts
  packages/broker/src/plugins/storage/StorageEventListener.ts
  packages/broker/src/plugins/storage/StoragePlugin.ts
  packages/broker/src/plugins/storage/StoragePoller.ts
  packages/broker/src/plugins/storage/config.schema.json
  packages/broker/test/integration/plugins/metrics/node/NodeMetrics.test.ts
  packages/broker/test/integration/plugins/storage/DataMetadataEndpoints.test.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/integration/plugins/storage/StorageNode.test.ts
  packages/broker/test/integration/plugins/storage/StoragePlugin.test.ts
  packages/broker/test/integration/plugins/storage/resends-cancelled-on-client-disconnect.test.ts
  packages/broker/test/unit/plugins/storage/StorageAssignmentSynchronizer.test.ts
  packages/broker/test/unit/plugins/storage/StorageConfig.test.ts
  packages/broker/test/unit/plugins/storage/StorageEventListener.test.ts
  packages/broker/test/unit/plugins/storage/StoragePoller.test.ts
  packages/broker/test/utils.ts
  packages/client/src/Encrypt.ts
  packages/client/src/NodeRegistry.ts
  packages/client/src/Resends.ts
  packages/client/src/StreamEndpoints.ts
  packages/client/src/encryption/KeyExchangePublisher.ts
  packages/client/src/index-exports.ts
  packages/client/test/integration/NodeEndpoints.test.ts
  packages/client/test/integration/NodeRegistry.test.ts
Labels: broker, client

#401 ETH-224: feat: reduced reliance on theGraph during stream creation.
  packages/client/src/StreamRegistry.ts
  packages/client/test/integration/StreamEndpoints.test.ts
Labels: client

#399 ETH-214: Do not store stream.id in contract metadata
  packages/client/src/NodeRegistry.ts
  packages/client/src/Stream.ts
  packages/client/src/StreamRegistry.ts
Labels: client

#406 NET-692: Publisher metrics in ConsoleAndPM2Metrics
  packages/broker/src/plugins/metrics/ConsoleAndPM2Metrics.ts
Labels: broker

#371 Data Union fixes ported from v5
  packages/client/.vscode/launch.json
  packages/client/src/dataunion/Contracts.ts
  packages/client/src/dataunion/DataUnion.ts
  packages/client/src/dataunion/abi.ts
  packages/client/src/dataunion/index.ts
  packages/client/test/integration/dataunion/adminFee.test.ts
  packages/client/test/integration/dataunion/calculate.test.ts
  packages/client/test/integration/dataunion/deploy.test.ts
  packages/client/test/integration/dataunion/member.test.ts
  packages/client/test/integration/dataunion/signature.test.ts
  packages/client/test/integration/dataunion/transfer.test.ts
  packages/client/test/integration/dataunion/withdraw.test.ts
Labels: client

#404 fix(client,broker): fix explicit id problem
  packages/broker/src/helpers/config.schema.json
  packages/client/src/BrubeckNode.ts
  packages/client/test/integration/BrubeckNode.test.ts
Labels: broker, client

#385 feat(cli-tool): add `streamr whoami` command
  packages/cli-tools/CHANGELOG.md
  packages/cli-tools/bin/streamr-wallet-whoami.ts
  packages/cli-tools/bin/streamr-wallet.ts
  packages/cli-tools/bin/streamr.ts
Labels: cli-tools

#403 Client: Remove todo annotations
  packages/client/src/dataunion/Contracts.ts
  packages/client/src/types.ts
  packages/client/test/integration/Subscriber.test.ts
  packages/client/test/unit/Scaffold.test.ts
  packages/client/test/unit/Signer.test.ts
Labels: client

#409 Client storage node config options
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/development-prod-resend.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/src/ConfigWizard.ts
  packages/broker/src/plugins/metrics/MetricsPlugin.ts
  packages/broker/src/plugins/metrics/config.schema.json
  packages/broker/src/plugins/metrics/node/MetricsPublisher.ts
  packages/broker/src/plugins/storage/StorageEventListener.ts
  packages/broker/test/integration/plugins/metrics/node/NodeMetrics.test.ts
  packages/broker/test/integration/plugins/storage/DataMetadataEndpoints.test.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/integration/plugins/storage/StorageNode.test.ts
  packages/broker/test/unit/plugins/storage/StorageConfig.test.ts
  packages/broker/test/unit/plugins/storage/StorageEventListener.test.ts
  packages/broker/test/utils.ts
  packages/client/src/Config.ts
  packages/client/src/ConfigBase.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/Resends.ts
  packages/client/src/StorageNodeRegistry.ts
  packages/client/src/Stream.ts
  packages/client/src/StreamEndpoints.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/config.schema.json
  packages/client/src/getStorageNodeRegistryFromContract.ts
  packages/client/src/index-exports.ts
  packages/client/test/integration/MemoryLeaks.test.ts
  packages/client/test/integration/StorageNodeEndpoints.test.ts
  packages/client/test/integration/StorageNodeRegistry.test.ts
  packages/client/test/integration/getStorageNodeRegistryFromContract.test.ts
  packages/client/test/unit/Config.test.ts
  packages/protocol/src/utils/StorageNodeRegistry.ts
  packages/protocol/src/utils/index.ts
  packages/protocol/test/unit/utils/StorageNodeRegistry.test.ts
Labels: broker, client, protocol

#412 update README
  README.md
Labels: docs

#408 NET-693: Remove /api/v1 prefix from storage node endpoints
  packages/broker/src/plugins/storage/DataMetadataEndpoints.ts
  packages/broker/src/plugins/storage/DataQueryEndpoints.ts
  packages/broker/src/plugins/storage/StorageConfigEndpoints.ts
  packages/broker/test/integration/plugins/storage/DataMetadataEndpoints.test.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/integration/plugins/storage/StorageNode.test.ts
  packages/broker/test/unit/plugins/storage/DataQueryEndpoints.test.ts
  packages/broker/test/unit/plugins/storage/StorageConfigEndpoints.test.ts
  packages/broker/test/unit/plugins/storage/StoragePoller.test.ts
  packages/broker/test/utils.ts
  packages/client/src/Stream.ts
  packages/client/test/integration/StorageNodeEndpoints.test.ts
  packages/client/test/integration/devEnvironment.ts
Labels: broker, client

#418 rm unused deps
  packages/broker/package.json
  packages/cli-tools/package.json
  packages/network/package.json
  packages/protocol/package.json
Labels: broker, network, protocol, cli-tools

#413 client tests: simplify dev environment storage node handling
  packages/client/src/ConfigTest.ts
  packages/client/test/flakey/Resends.test.ts
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/MultipleClients.test.ts
  packages/client/test/integration/Resends.test.ts
  packages/client/test/integration/StorageNodeEndpoints.test.ts
  packages/client/test/integration/StorageNodeRegistry.test.ts
  packages/client/test/integration/Stream.test.ts
  packages/client/test/integration/StreamEndpoints.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/integration/SubscriberResendsSequential.test.ts
  packages/client/test/integration/devEnvironment.ts
Labels: client

#411 Rework client-layer proxy publishing
  packages/client/src/BrubeckNode.ts
  packages/client/test/integration/ProxyPublishing.test.ts
  packages/network/src/logic/node/NetworkNode.ts
  packages/network/test/integration/publish-only-stream-connection.test.ts
Labels: network, client

#421 add `npm run build` top-level command
  README.md
  package.json
Labels: docs

#394 Added gasPriceStrategy option
  packages/client/src/ConfigBase.ts
  packages/client/src/Ethereum.ts
  packages/client/src/StreamRegistry.ts
Labels: client

#415 Lazy start up of KeyServer
  packages/broker/jest.config.js
  packages/broker/jest.setup.js
  packages/broker/jest.teardown.js
  packages/broker/test/integration/broker-subscriptions.test.ts
  packages/broker/test/integration/createMessagingPluginTest.ts
  packages/broker/test/integration/local-propagation.test.ts
  packages/broker/test/integration/plugins/metrics/node/NodeMetrics.test.ts
  packages/broker/test/integration/plugins/mqtt/Bridge.test.ts
  packages/broker/test/integration/plugins/storage/DataMetadataEndpoints.test.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/integration/plugins/storage/StorageNode.test.ts
  packages/broker/test/sequential/plugins/storage/CassandraNullPayloads.test.ts
  packages/broker/test/sequential/plugins/storage/DeleteExpiredCmd.test.ts
  packages/broker/test/utils.ts
  packages/client/jest.setup.js
  packages/client/jest.teardown.js
  packages/client/test/flakey/Resends.test.ts
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/MemoryLeaks.test.ts
  packages/client/test/integration/MultipleClients.test.ts
  packages/client/test/integration/ProxyPublishing.test.ts
  packages/client/test/integration/SearchStreams.test.ts
  packages/client/test/integration/StorageNodeEndpoints.test.ts
  packages/client/test/integration/StorageNodeRegistry.test.ts
  packages/client/test/integration/StreamEndpoints.test.ts
  packages/client/test/integration/SubscriberResendsSequential.test.ts
  packages/client/test/utils.ts
  packages/test-utils/src/utils.ts
Labels: broker, client, test-utils

#414 broker: remove /api/v1 prefix from Metrics plugin /volume endpoint
  .github/workflows/broker.yml
  packages/broker/src/httpServer.ts
  packages/broker/src/plugins/metrics/VolumeEndpoint.ts
Labels: ci, broker

#423 try workflow dispatch
  .github/workflows/broker.yml
Labels: ci, broker

#416 Client: add debug-level logging for transactions
  packages/client/src/StorageNodeRegistry.ts
  packages/client/src/StreamRegistry.ts
  packages/client/src/utils/waitForTx.ts
Labels: client

#419 Private key refactorings
  packages/broker/test/integration/broker-subscriptions.test.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/sequential/plugins/storage/CassandraNullPayloads.test.ts
  packages/broker/test/sequential/plugins/storage/DeleteExpiredCmd.test.ts
  packages/broker/test/utils.ts
  packages/client/test/integration/BrubeckNode.test.ts
  packages/client/test/integration/ProxyPublishing.test.ts
  packages/client/test/integration/SearchStreams.test.ts
  packages/client/test/integration/StreamEndpoints.test.ts
  packages/client/test/integration/authFetch.test.ts
  packages/client/test/integration/dataunion/member.test.ts
  packages/client/test/utils.ts
  packages/test-utils/package.json
  packages/test-utils/src/utils.ts
Labels: broker, client, test-utils

#424 fix: ConfigWizard NodeMetrics
  packages/broker/src/ConfigWizard.ts
Labels: broker

#375 NET-656: run brokers directly from monorepo
  .github/workflows/client-build.yml
  .github/workflows/client-code.yml
  .github/workflows/reusable/run-brokers-and-trackers/action.yml
  packages/broker/bin/kill-all.sh
Labels: ci, broker, client

#417 Add timeouts to `node-fetch` calls
  packages/broker/src/helpers/fetchOrThrow.ts
  packages/broker/test/unit/httpServer.test.ts
  packages/client/src/StorageNodeRegistry.ts
  packages/client/src/Stream.ts
  packages/client/src/authFetch.ts
  packages/client/src/utils/GraphQLClient.ts
  packages/client/src/utils/fetch.ts
  packages/client/test/utils.ts
Labels: broker, client

#405 dev-config: add stripInternal compiler option
  packages/client/src/index-exports.ts
  packages/dev-config/ts/tsconfig.node.json
Labels: client

#420 Enable browser-realtime tests
  .github/workflows/client-build.yml
Labels: ci, client

#427 refactor: move ethersOverrides to Ethereum.ts
  packages/client/README.md
  packages/client/src/Ethereum.ts
  packages/client/src/StorageNodeRegistry.ts
  packages/client/src/StreamRegistry.ts
  packages/client/src/dataunion/DataUnion.ts
Labels: client

#431 Port 2.0 admin fee support from v5, expose DU address calculation methods to public API
  packages/client/src/dataunion/Contracts.ts
  packages/client/src/dataunion/DataUnion.ts
  packages/client/src/dataunion/abi.ts
  packages/client/src/dataunion/index.ts
  packages/client/test/integration/dataunion/calculate.test.ts
Labels: client

#433 Default second argument of calculate DU address to streamrClient itself
  packages/client/src/dataunion/index.ts
  packages/client/test/integration/dataunion/calculate.test.ts
Labels: client

#434 Update restUrl config
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/development-prod-resend.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/src/ConfigWizard.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/sequential/plugins/storage/DeleteExpiredCmd.test.ts
  packages/broker/test/utils.ts
  packages/client/README.md
  packages/client/src/ConfigBase.ts
  packages/client/src/ConfigTest.ts
  packages/client/test/browser/browser.html
Labels: broker, client

#429 NET-641
  packages/client/test/integration/GroupKeyPersistence.test.ts
Labels: client

#284 Small cleanups to make lint and TS compiler happier
  packages/client/package.json
  packages/client/src/StreamrClient.ts
  packages/client/src/dataunion/Contracts.ts
  packages/client/test/integration/TokenBalance.test.ts
  packages/client/test/integration/dataunion/adminFee.test.ts
  packages/client/test/integration/dataunion/signature.test.ts
  packages/client/test/integration/dataunion/transfer.test.ts
  packages/client/test/integration/dataunion/withdraw.test.ts
Labels: client

#437 ci: add temp fix to prevent Docker cache from growing
  .github/workflows/broker.yml
Labels: ci, broker

#439 ci: add temp fix to prevent Docker cache from growing
  .github/workflows/broker.yml
Labels: ci, broker

#442 [NET-698]: Config wizard: only write non-default values
  packages/broker/src/ConfigWizard.ts
  packages/broker/src/plugins/brubeckMiner/config.schema.json
  packages/broker/src/plugins/metrics/config.schema.json
  packages/client/src/ConfigBase.ts
  packages/network/src/createNetworkNode.ts
Labels: broker, network, client

#444 fix(network): convert tn3 statuses properly
  packages/network/src/logic/tracker/Tracker.ts
  packages/network/test/unit/convertTestNet3Status.test.ts
Labels: network

#432 Client fake test environment
  packages/broker/src/Plugin.ts
  packages/broker/src/broker.ts
  packages/client/src/BrubeckNode.ts
  packages/client/src/PublishPipeline.ts
  packages/client/src/Resends.ts
  packages/client/src/Rest.ts
  packages/client/src/StorageNodeRegistry.ts
  packages/client/src/StreamEndpoints.ts
  packages/client/src/StreamIDBuilder.ts
  packages/client/src/StreamRegistry.ts
  packages/client/src/SubscriptionSession.ts
  packages/client/src/index-exports.ts
  packages/client/test/flakey/Resends.test.ts
  packages/client/test/integration/Basics.test.ts
  packages/client/test/integration/BrubeckNode.test.ts
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/LoginEndpoints.test.ts
  packages/client/test/integration/MemoryLeaks.test.ts
  packages/client/test/integration/MultipleClients.test.ts
  packages/client/test/integration/ProxyPublishing.test.ts
  packages/client/test/integration/Resends.test.ts
  packages/client/test/integration/SearchStreams.test.ts
  packages/client/test/integration/Sequencing.test.ts
  packages/client/test/integration/Session.test.ts
  packages/client/test/integration/StorageNodeEndpoints.test.ts
  packages/client/test/integration/StorageNodeRegistry.test.ts
  packages/client/test/integration/Stream.test.ts
  packages/client/test/integration/StreamEndpoints.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/integration/Subscriber.test.ts
  packages/client/test/integration/SubscriberResendsSequential.test.ts
  packages/client/test/integration/Validation.test.ts
  packages/client/test/integration/dataunion/TokenBalance.test.ts
  packages/client/test/integration/dataunion/calculate.test.ts
  packages/client/test/integration/dataunion/deploy.test.ts
  packages/client/test/integration/dataunion/member.test.ts
  packages/client/test/integration/dataunion/stats.test.ts
  packages/client/test/integration/dataunion/withdraw.test.ts
  packages/client/test/test-utils/fake/ActiveNodes.ts
  packages/client/test/test-utils/fake/FakeBrubeckNode.ts
  packages/client/test/test-utils/fake/FakeRest.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
  packages/client/test/test-utils/fake/FakeStorageNodeRegistry.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/test-utils/fake/fakeEnvironment.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/FakeStreamRegistry.ts
  packages/client/test/unit/GroupKeyPersistence.test.ts
  packages/client/test/unit/GroupKeyStore.test.ts
  packages/client/test/unit/MessageStream.test.ts
  packages/client/test/unit/Publisher.test.ts
  packages/client/test/unit/PushBuffer.test.ts
  packages/client/test/unit/WebStreamToNodeStream.test.ts
  packages/client/test/unit/utils.test.ts
Labels: broker, client

#445 client: remove client.getAllStreams() method
  packages/client/src/StreamRegistry.ts
  packages/client/test/integration/StreamEndpoints.test.ts
Labels: client

#435 Client: configurable timeouts and retry intervals
  packages/client/src/ConfigBase.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/Publisher.ts
  packages/client/src/StorageNodeRegistry.ts
  packages/client/src/Stream.ts
  packages/client/src/StreamRegistry.ts
  packages/client/src/authFetch.ts
  packages/client/src/config.schema.json
  packages/client/src/utils/GraphQLClient.ts
  packages/client/src/utils/HttpFetcher.ts
  packages/client/src/utils/fetch.ts
  packages/client/test/test-utils/utils.ts
Labels: client

#436 Net-697: Allow configuring multiple chain RPC-endpoints for get queries
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/client/src/ConfigBase.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/Ethereum.ts
  packages/client/src/StreamRegistry.ts
  packages/client/src/config.schema.json
  packages/client/src/dataunion/index.ts
  packages/client/test/integration/dataunion/withdraw.test.ts
  packages/client/test/integration/devEnvironment.ts
  packages/client/test/test-utils/utils.ts
Labels: broker, client

#446 [NET-595]: Migrate Testnet3 broker config
  packages/broker/bin/broker.js
  packages/broker/bin/config-wizard.js
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/development-prod-resend.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/src/Plugin.ts
  packages/broker/src/apiAuthenticator.ts
  packages/broker/src/broker.ts
  packages/broker/src/config/ConfigWizard.ts
  packages/broker/src/config/config-testnet.schema.json
  packages/broker/src/config/config.ts
  packages/broker/src/config/migration.ts
  packages/broker/src/config/validateConfig.ts
  packages/broker/src/helpers/config.schema.json
  packages/broker/src/httpServer.ts
  packages/broker/test/unit/ConfigWizard.test.ts
  packages/broker/test/unit/configMigration.test.ts
  packages/broker/test/utils.ts
Labels: broker

#448 client: subscribe/publish functionality in separate directories
  packages/client/src/Stream.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/encryption/KeyExchangePublisher.ts
  packages/client/src/encryption/KeyExchangeSubscriber.ts
  packages/client/src/encryption/KeyExchangeUtils.ts
  packages/client/src/index-exports.ts
  packages/client/src/publish/Encrypt.ts
  packages/client/src/publish/MessageChain.ts
  packages/client/src/publish/MessageCreator.ts
  packages/client/src/publish/PublishPipeline.ts
  packages/client/src/publish/Publisher.ts
  packages/client/src/publish/Signer.ts
  packages/client/src/publish/StreamPartitioner.ts
  packages/client/src/subscribe/Decrypt.ts
  packages/client/src/subscribe/MessageStream.ts
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/ResendSubscribe.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/SubscribePipeline.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/src/subscribe/Subscription.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/MemoryLeaks.test.ts
  packages/client/test/integration/Resends.test.ts
  packages/client/test/integration/Subscriber.test.ts
  packages/client/test/integration/Validation.test.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/MessageStream.test.ts
  packages/client/test/unit/Publisher.test.ts
  packages/client/test/unit/Signer.test.ts
Labels: client

#447 fix: add default config for client RPC timeout null cases
  packages/client/src/config.schema.json
Labels: client

#449 client: subscribe type annotations, remove deprecated resend parameter handling
  packages/client/README.md
  packages/client/src/Stream.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/encryption/KeyExchangeUtils.ts
  packages/client/src/index-exports.ts
  packages/client/src/subscribe/MessageStream.ts
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/ResendSubscribe.ts
  packages/client/src/subscribe/ResendSubscription.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/SubscribePipeline.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/src/subscribe/Subscription.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/test/benchmarks/resend.js
  packages/client/test/browser/browser.html
  packages/client/test/flakey/Resends.test.ts
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/MemoryLeaks.test.ts
  packages/client/test/integration/MultipleClients.test.ts
  packages/client/test/integration/Resends.test.ts
  packages/client/test/integration/Sequencing.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/integration/Subscriber.test.ts
  packages/client/test/integration/SubscriberResendsSequential.test.ts
  packages/client/test/integration/Validation.test.ts
  packages/client/test/memory/Leaks.test.ts
  packages/client/test/memory/MessageQuantity.test.ts
  packages/client/test/unit/MessageStream.test.ts
Labels: client

#428 fix(cli-tools): fix command help descriptions
  packages/cli-tools/bin/streamr-wallet.ts
  packages/cli-tools/bin/streamr.ts
Labels: cli-tools

#450 [NET-708]: Permission API
  packages/broker/test/integration/broker-subscriptions.test.ts
  packages/broker/test/integration/local-propagation.test.ts
  packages/broker/test/integration/plugins/brubeckMiner/BrubeckMinerPlugin.test.ts
  packages/broker/test/integration/plugins/metrics/node/NodeMetrics.test.ts
  packages/cli-tools/bin/streamr-stream-grant-permission.ts
  packages/cli-tools/bin/streamr-stream-revoke-permission.ts
  packages/cli-tools/bin/streamr-stream-show.ts
  packages/cli-tools/src/permission.ts
  packages/client/README.md
  packages/client/src/Stream.ts
  packages/client/src/StreamEndpointsCached.ts
  packages/client/src/StreamRegistry.ts
  packages/client/src/index-exports.ts
  packages/client/src/permission.ts
  packages/client/src/searchStreams.ts
  packages/client/test/browser/browser.html
  packages/client/test/browser/realtime.js
  packages/client/test/browser/resend.js
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/MultipleClients.test.ts
  packages/client/test/integration/Permissions.test.ts
  packages/client/test/integration/ProxyPublishing.test.ts
  packages/client/test/integration/SearchStreams.test.ts
  packages/client/test/integration/StreamEndpoints.test.ts
  packages/client/test/integration/SubscriberResendsSequential.test.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/test-utils/utils.ts
Labels: broker, client, cli-tools

#452 Net 709 streamregistry v3 artifacts
  packages/client/src/StreamRegistry.ts
  packages/client/src/ethereumArtifacts/StreamRegistryV3.d.ts
  packages/client/src/ethereumArtifacts/StreamRegistryV3Abi.json
Labels: client

#454 fix: field collision between StreamrClientBase and Session
  packages/client/src/Session.ts
  packages/client/test/integration/LoginEndpoints.test.ts
  packages/client/test/unit/Session.test.ts
Labels: client

#462 test: wait for permission propagation
  packages/client/test/browser/browser.html
  packages/client/test/integration/SearchStreams.test.ts
Labels: client

#460 fix(broker): print full nodeid in network explorer url
  packages/broker/src/broker.ts
Labels: broker

#461 client: validate searchStreams params
  packages/client/src/StreamRegistry.ts
  packages/client/test/integration/SearchStreams.test.ts
Labels: client

#463 broker: use network node via client
  packages/broker/src/Plugin.ts
  packages/broker/src/broker.ts
  packages/broker/src/plugins/brubeckMiner/BrubeckMinerPlugin.ts
  packages/broker/src/plugins/metrics/MetricsPlugin.ts
  packages/broker/src/plugins/storage/StoragePlugin.ts
  packages/broker/test/integration/broker-subscriptions.test.ts
  packages/broker/test/integration/plugins/metrics/node/NodeMetrics.test.ts
  packages/broker/test/integration/plugins/storage/StorageNode.test.ts
  packages/broker/test/integration/plugins/subscriber/SubscriberPlugin.test.ts
  packages/broker/test/utils.ts
Labels: broker

#459 Fix SSR
  packages/client/src/encryption/Encryption.ts
  packages/client/src/utils/log.ts
Labels: client

#464 NET-636: fix metrics publishing numbers
  packages/broker/src/plugins/metrics/node/Sample.ts
  packages/broker/test/unit/plugins/metrics/node/NodeMetrics.test.ts
  packages/client/src/publish/Publisher.ts
  packages/network/src/logic/node/NetworkNode.ts
  packages/network/src/logic/node/Node.ts
Labels: broker, network, client

#467 fix: onResent
  packages/client/src/subscribe/ResendSubscription.ts
Labels: client

#353 NET-423: Update client README
  packages/client/README.md
Labels: client

#472 client: increase cache timeout to 24h
  packages/client/src/ConfigBase.ts
Labels: client

#475 Post launch documentation
  README.md
  packages/client/CHANGELOG.md
  packages/client/README.md
Labels: client, docs

#453 NET-683, client uses on-chain Tracker Registry by default
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/src/broker.ts
  packages/broker/src/config/ConfigWizard.ts
  packages/broker/src/config/config.schema.json
  packages/broker/test/unit/configMigration.test.ts
  packages/client/src/BrubeckNode.ts
  packages/client/src/Config.ts
  packages/client/src/config.schema.json
  packages/client/src/getTrackerRegistryFromContract.ts
  packages/client/test/integration/BrubeckNode.test.ts
  packages/client/test/integration/getTrackerRegistryFromContract.test.ts
  packages/client/test/test-utils/fake/FakeBrubeckNode.ts
  packages/client/test/unit/Config.test.ts
Labels: broker, client

#477 NET-721: Fix the missing `once`
  packages/client/CHANGELOG.md
  packages/client/src/utils/WebStreamToNodeStream.ts
Labels: client

#440 Net-699
  packages/client/src/BrubeckNode.ts
  packages/client/test/test-utils/fake/FakeBrubeckNode.ts
  packages/network/src/logic/node/NetworkNode.ts
  packages/network/src/logic/node/Node.ts
  packages/network/src/logic/node/StreamPartManager.ts
  packages/network/src/logic/node/TrackerManager.ts
  packages/network/src/logic/tracker/InstructionCounter.ts
  packages/network/src/logic/tracker/Tracker.ts
  packages/network/test/integration/counter-filtering-in-tracker.test.ts
  packages/network/test/integration/wait-for-join-subscribe-and-publish.test.ts
  packages/protocol/src/protocol/tracker_layer/instruction_message/InstructionMessage.ts
Labels: network, client, protocol

#469 test: maybe fix flaky test for test-utils.wait()
  packages/test-utils/test/utils.test.ts
Labels: test-utils

#457 Add command `npm run check` to check types without emitting files
  package.json
  packages/broker/package.json
  packages/cli-tools/package.json
  packages/client/package.json
  packages/network/package.json
  packages/network/tsconfig.json
  packages/protocol/package.json
  packages/test-utils/package.json
Labels: broker, network, client, protocol, test-utils, cli-tools

#479 fix: fixed error, invalid streams are ignored now
  packages/client/src/StreamRegistry.ts
Labels: client

#480 broker [NET-729]: Storage node doesn't close response
  packages/broker/src/plugins/storage/DataQueryEndpoints.ts
Labels: broker

#410 cleanup CI jobs
  .github/workflows/broker.yml
  .github/workflows/client-build.yml
  .github/workflows/client-code.yml
  .github/workflows/client-dataunions.yml
  .github/workflows/label.yml
  .github/workflows/network-browser.yml
  .github/workflows/network.yml
  .github/workflows/protocol.yml
  .github/workflows/test-utils.yml
  packages/client/src/LoginEndpoints.ts
  packages/client/test/integration/MemoryLeaks.test.ts
  packages/client/test/integration/dataunion/LoginEndpoints.test.ts
  packages/client/test/integration/dataunion/Session.test.ts
  packages/client/test/integration/dataunion/authFetch.test.ts
Labels: ci, broker, network, client, protocol, test-utils

#458 client: Optimize tests
  packages/client/test/integration/Partitions.test.ts
  packages/client/test/integration/Resends.test.ts
  packages/client/test/integration/StreamEndpoints.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/integration/Subscriber.test.ts
  packages/client/test/test-utils/fake/fakeEnvironment.ts
  packages/client/test/test-utils/utils.ts
  packages/protocol/src/utils/StreamPartID.ts
  packages/protocol/src/utils/index.ts
Labels: client, protocol

#484 cli-tools: change log for 5.0.1 and 6.0.0 releases
  packages/cli-tools/CHANGELOG.md
Labels: cli-tools

#471 client: remove autoConnect and autoDisconnect config options
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/client/CHANGELOG.md
  packages/client/src/ConfigBase.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/config.schema.json
  packages/client/test/flakey/Resends.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/MemoryLeaks.test.ts
  packages/client/test/integration/SearchStreams.test.ts
  packages/client/test/integration/dataunion/authFetch.test.ts
  packages/client/test/memory/Leaks.test.ts
  packages/client/test/memory/MessageQuantity.test.ts
  packages/client/test/memory/Publishing.test.ts
  packages/client/test/unit/Session.test.ts
Labels: broker, client
