Repository streamr-dev/network, pull requests merged in 2022-03, with the labels that each got.

#483 Net-733: filter private webRTC addresses by default
  packages/broker/src/broker.ts
  packages/client/src/ConfigTest.ts
  packages/network/src/createNetworkNode.ts
  packages/network/test/integration/do-not-propagate-to-sender-optimization.test.ts
  packages/network/test/integration/message-duplication.test.ts
  packages/network/test/integration/message-propagation.test.ts
  packages/network/test/integration/multi-trackers.test.ts
  packages/network/test/integration/nodeMessageBuffering.test.ts
  packages/network/test/integration/publish-only-stream-connection.test.ts
  packages/network/test/integration/tracker-endpoints.test.ts
  packages/network/test/integration/tracker-instructions.test.ts
  packages/network/test/integration/tracker-node-reconnect-instructions.test.ts
  packages/network/test/integration/tracker-node-status.test.ts
  packages/network/test/integration/tracker.test.ts
  packages/network/test/integration/unsubscribe-from-stream.test.ts
  packages/network/test/integration/wait-for-join-subscribe-and-publish.test.ts
  packages/network/test/integration/webrtc-error-scenarios-during-signalling.test.ts
Labels: broker, network, client

#487 broker: use https protocol in schema urls
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/development-prod-resend.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/src/config/migration.ts
Labels: broker

#486 refactor: Annotate Ethereum address parameters
  packages/broker/src/config/config.ts
  packages/broker/src/plugins/metrics/node/MetricsPublisher.ts
  packages/broker/src/plugins/storage/StoragePlugin.ts
  packages/broker/test/integration/plugins/metrics/node/NodeMetrics.test.ts
  packages/broker/test/unit/plugins/storage/StorageConfig.test.ts
  packages/broker/test/unit/plugins/storage/StoragePoller.test.ts
  packages/client/src/Config.ts
  packages/client/src/Ethereum.ts
  packages/client/src/LoginEndpoints.ts
  packages/client/src/StorageNodeRegistry.ts
  packages/client/src/StreamEndpoints.ts
  packages/client/src/StreamEndpointsCached.ts
  packages/client/src/StreamRegistry.ts
  packages/client/src/Validator.ts
  packages/client/src/config.schema.json
  packages/client/src/dataunion/DataUnion.ts
  packages/client/src/encryption/KeyExchangeUtils.ts
  packages/client/src/getTrackerRegistryFromContract.ts
  packages/client/src/permission.ts
  packages/client/src/publish/MessageChain.ts
  packages/client/src/searchStreams.ts
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/test/test-utils/fake/FakeStorageNodeRegistry.ts
  packages/protocol/src/utils/NodeUtil.ts
  packages/protocol/src/utils/SigningUtil.ts
  packages/protocol/src/utils/StreamMessageValidator.ts
  packages/protocol/test/unit/utils/StreamMessageValidator.test.ts
Labels: broker, client, protocol

#485 Remove client.getStreamPartsByStorageNode() and update related cli-tools command
  packages/cli-tools/CHANGELOG.md
  packages/cli-tools/bin/streamr-storage-node-list-streams.ts
  packages/cli-tools/bin/streamr-storage-node.ts
  packages/client/src/StreamEndpoints.ts
  packages/client/test/integration/StorageNodeEndpoints.test.ts
  packages/client/test/integration/StreamEndpoints.test.ts
Labels: client, cli-tools

#443 NET-611: fix and enable browser-resend tests
  .github/workflows/client-build.yml
  packages/client/test/browser/browser.html
  packages/client/test/browser/realtime.js
  packages/client/test/browser/resend.js
Labels: ci, client

#496 refactor: remove redundant dependency injections
  packages/client/src/LoginEndpoints.ts
  packages/client/src/Stream.ts
  packages/client/src/StreamEndpoints.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/publish/Publisher.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/end-to-end/StreamrClient.test.ts
  packages/client/test/end-to-end/Subscriber.test.ts
  packages/client/test/integration/BrubeckNode.test.ts
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/unit/Config.test.ts
  packages/client/test/unit/Session.test.ts
Labels: client

#497 NET-694: fix flaky test
  packages/network/test/integration/delivery-of-messages-protocol-layer.test.ts
Labels: network

#498 NET-719: Docker and Node 16.14 update
  .github/workflows/broker.yml
  .nvmrc
  Dockerfile
  Makefile
Labels: ci, broker

#476 feat(client): Add client.subscribeAll.
  packages/client/CHANGELOG.md
  packages/client/src/Stream.ts
  packages/client/src/publish/PublishPipeline.ts
  packages/client/src/subscribe/MessageStream.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/src/subscribe/Subscription.ts
  packages/client/src/utils/Pipeline.ts
  packages/client/src/utils/PushBuffer.ts
  packages/client/test/end-to-end/ResendAll.test.ts
  packages/client/test/end-to-end/SubscribeAll.test.ts
Labels: client, changelog

#502 client [NET-606]: Wait for The Graph to sync when necessary
  .github/workflows/client-code.yml
  package-lock.json
  packages/broker/test/utils.ts
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/src/StorageNodeRegistry.ts
  packages/client/src/StreamRegistry.ts
  packages/client/src/searchStreams.ts
  packages/client/src/utils/GraphQLClient.ts
  packages/client/src/utils/SynchronizedGraphQLClient.ts
  packages/client/src/utils/contract.ts
  packages/client/test/browser/browser.html
  packages/client/test/end-to-end/Basics.test.ts
  packages/client/test/end-to-end/Permissions.test.ts
  packages/client/test/end-to-end/SearchStreams.test.ts
  packages/client/test/end-to-end/StreamRegistry.test.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/types/global.d.ts
  packages/client/test/unit/SynchronizedGraphQLClient.test.ts
Labels: ci, broker, client

#506 fix(client): remove unneeded polling from StorageNodeRegistry#addStre…
  packages/client/src/StorageNodeRegistry.ts
Labels: client

#507 fix: do not log extra fields of publishMetadata object
  packages/client/src/publish/PublishPipeline.ts
Labels: client

#509 Add log level adjusting for node-datachannel
  packages/network/README.md
  packages/network/src/connection/NodeWebRtcConnection.ts
Labels: network

#512 fix flaky test SynchronizedGraphQLClient.test.ts
  packages/client/test/unit/SynchronizedGraphQLClient.test.ts
Labels: client

#511 client: remove unneeded polls from StorageNodeRegistry
  packages/client/src/StorageNodeRegistry.ts
  packages/client/test/end-to-end/StorageNodeEndpoints.test.ts
  packages/client/test/end-to-end/StorageNodeRegistry2.test.ts
  packages/client/test/integration/GapFill.test.ts
Labels: client

#510 NET-745: trackers counters bug
  packages/network/src/logic/node/NetworkNode.ts
  packages/network/src/logic/tracker/InstructionCounter.ts
  packages/network/src/logic/tracker/Tracker.ts
  packages/network/test/integration/tracker-counters-are-stream-part-specific.test.ts
  packages/network/test/unit/InstructionCounter.test.ts
Labels: network

#518 ci(broker): fix Docker build-args
  .github/workflows/broker.yml
  Makefile
Labels: ci, broker

#521 Fix ConfigTest for metamask
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/client/src/ConfigTest.ts
  packages/client/src/config.schema.json
Labels: broker, client

#522 Add logging for browsers that do not support webrtc connectionState API
  packages/network/src/connection/WebRtcEndpoint.ts
Labels: network

#503 refactor: Simplify resend queries in Storage.ts
  packages/broker/src/plugins/storage/Storage.ts
Labels: broker

#513 NET-739: add to storage node fails
  packages/broker/src/plugins/storage/StoragePlugin.ts
  packages/broker/test/integration/plugins/storage/DataMetadataEndpoints.test.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/integration/plugins/storage/StorageNode.test.ts
  packages/broker/test/utils.ts
  packages/client/CHANGELOG.md
  packages/client/src/Stream.ts
  packages/client/src/index-exports.ts
  packages/client/src/utils/SynchronizedGraphQLClient.ts
  packages/client/src/utils/index.ts
  packages/client/src/utils/waitForAssignmentsToPropagate.ts
  packages/client/test/end-to-end/StorageNodeRegistry.test.ts
  packages/client/test/integration/Stream.test.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
  packages/client/test/test-utils/fake/FakeStorageNodeRegistry.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/unit/waitForAssignmentsToPropagate.test.ts
Labels: broker, client, changelog

#523 NET-749: fix issue where resend abruptly ends
  packages/broker/src/plugins/storage/DataQueryEndpoints.ts
  packages/broker/src/plugins/storage/Storage.ts
Labels: broker

#524 Revert "ci(deps): bump docker/build-push-action from 2.9.0 to 2.10.0"
  .github/workflows/broker.yml
Labels: ci, broker

#527 broker: Improve resend error handling in storage node
  packages/broker/src/plugins/storage/DataQueryEndpoints.ts
  packages/broker/src/plugins/storage/Storage.ts
Labels: broker

#530 Update README.md
  packages/cli-tools/README.md
Labels: cli-tools

#528 NET-646: re-enable flaky test
  packages/broker/test/integration/plugins/storage/Storage.test.ts
Labels: broker

#534 client: remove strict-event-emitter-types
  package-lock.json
  packages/client/package.json
  packages/client/src/Session.ts
  packages/client/src/utils/contract.ts
Labels: client

#531 client: Storage node assignment event listeners
  packages/broker/src/plugins/storage/StorageEventListener.ts
  packages/broker/test/unit/plugins/storage/StorageConfig.test.ts
  packages/broker/test/unit/plugins/storage/StorageEventListener.test.ts
  packages/client/CHANGELOG.md
  packages/client/src/StorageNodeRegistry.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/events.ts
  packages/client/src/index-exports.ts
  packages/client/test/end-to-end/StorageNodeRegistry.test.ts
  packages/client/test/end-to-end/StorageNodeRegistry2.test.ts
  packages/client/test/test-utils/fake/FakeStorageNodeRegistry.ts
  packages/client/test/unit/events.test.ts
Labels: broker, client, changelog

#532 client: Resent event listener
  packages/client/CHANGELOG.md
  packages/client/README.md
  packages/client/src/index-exports.ts
  packages/client/src/subscribe/ResendSubscription.ts
  packages/client/test/end-to-end/Resends.test.ts
  packages/client/test/end-to-end/SubscriberResendsSequential.test.ts
Labels: client, changelog

#539 fix: network options in tests
  packages/broker/test/utils.ts
  packages/client/src/ConfigTest.ts
Labels: broker, client

#369 NET-663: fix hanging resources in broker tests
  packages/broker/jest.config.js
  packages/broker/package.json
  packages/broker/src/broker.ts
  packages/broker/src/plugins/brubeckMiner/BrubeckMinerPlugin.ts
  packages/broker/src/plugins/mqtt/MqttPlugin.ts
  packages/broker/src/plugins/publishHttp/PublishHttpPlugin.ts
  packages/broker/src/plugins/subscriber/SubscriberPlugin.ts
  packages/broker/src/plugins/websocket/WebsocketPlugin.ts
  packages/broker/test/integration/plugins/metrics/node/NodeMetrics.test.ts
  packages/broker/test/integration/plugins/mqtt/MqttServer.test.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/integration/plugins/storage/StorageNode.test.ts
  packages/broker/test/integration/plugins/storage/cassanda-queries.test.ts
  packages/broker/test/integration/plugins/subscriber/SubscriberPlugin.test.ts
Labels: broker
