Repository streamr-dev/network, pull requests merged in 2022-06, with the labels that each got.

#688 broker: Do not close websocket plugin connection on publish error
  packages/broker/src/plugins/websocket/PublishConnection.ts
  packages/broker/src/plugins/websocket/closeWebsocket.ts
  packages/broker/test/unit/plugins/websocket/WebsocketServer.test.ts
Labels: broker

#689 client: Remove obsolete maxRetries config option
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/client/CHANGELOG.md
  packages/client/src/Config.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/config.schema.json
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/flakey/Resends.test.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/memory/Leaks.test.ts
Labels: broker, client, changelog

#691 NET-763: Kademlia correctness test, rework joining
  .github/workflows/dht.yml
  package-lock.json
  packages/dht/.gitignore
  packages/dht/package.json
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/Simulator.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/RemoteWebrtcConnector.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/SortedContactList.ts
  packages/dht/src/helpers/PeerID.ts
  packages/dht/src/simulation/DhtNode.ts
  packages/dht/src/simulation/DhtSimulation.ts
  packages/dht/src/simulation/SortedContactList.ts
  packages/dht/test/correctness/KandemliaCorrectness.test.ts
  packages/dht/test/integration/DhtWithMockConnections.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/unit/SortedContactList.test.ts
  packages/dht/test/utils.ts
Labels: ci, dht

#696 NET-763: RPC method registering rework
  packages/dht/src/connection/WebRTC/RemoteWebrtcConnector.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebSocket/RemoteWebSocketConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/server.ts
  packages/dht/src/rpc-protocol/ServerTransport.ts
  packages/dht/src/transport/RpcCommunicator.ts
  packages/dht/test/integration/DhtPeer.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/integration/WebRtcConnectorRpc.test.ts
  packages/dht/test/integration/WebSocketConnectorRpc.test.ts
  packages/dht/test/unit/RpcCommunicator.test.ts
  packages/dht/test/utils.ts
Labels: dht

#698 NET-847: Create trackerless network package
  .github/workflows/trackerless-network.yml
  package-lock.json
  package.json
  packages/trackerless-network/.eslintignore
  packages/trackerless-network/.eslintrc
  packages/trackerless-network/.gitignore
  packages/trackerless-network/jest.config.js
  packages/trackerless-network/package.json
  packages/trackerless-network/src/index.ts
  packages/trackerless-network/test/unit/Dummy.test.ts
  packages/trackerless-network/tsconfig.json
  packages/trackerless-network/tsconfig.node.json
Labels: ci

#699 NET-851
  package-lock.json
  packages/dht/package.json
  packages/dht/src/index.ts
  packages/trackerless-network/package.json
  packages/trackerless-network/proto.sh
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/index.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/RemoteRandomGraphNode.ts
  packages/trackerless-network/test/integration/NetworkRpc.test.ts
Labels: dht

#694 NET-845: Drop support for ETH_LEGACY signature type
  packages/client/src/publish/Signer.ts
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/protocol/src/utils/StreamMessageValidator.ts
Labels: client, protocol

#704 refactor(client): Remove `stop()` methods
  packages/client/src/StreamrClient.ts
  packages/client/src/Validator.ts
  packages/client/src/encryption/KeyExchangeStream.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/publish/Encrypt.ts
  packages/client/src/publish/MessageCreator.ts
  packages/client/src/publish/PublishPipeline.ts
  packages/client/src/publish/Publisher.ts
  packages/client/src/subscribe/Decrypt.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/src/utils/Stoppable.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
Labels: client

#705 refactor(client): Annotate field visibility
  packages/client/src/DestroySignal.ts
  packages/client/src/HttpUtil.ts
  packages/client/src/Validator.ts
  packages/client/src/encryption/BrowserPersistentStore.ts
  packages/client/src/encryption/EncryptionUtil.ts
  packages/client/src/encryption/GroupKey.ts
  packages/client/src/encryption/GroupKeyStore.ts
  packages/client/src/encryption/GroupKeyStoreFactory.ts
  packages/client/src/encryption/KeyExchangeStream.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/ServerPersistentStore.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/publish/Encrypt.ts
  packages/client/src/publish/MessageChain.ts
  packages/client/src/publish/MessageCreator.ts
  packages/client/src/publish/PublishPipeline.ts
  packages/client/src/publish/Publisher.ts
  packages/client/src/publish/Signer.ts
  packages/client/src/subscribe/Decrypt.ts
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/ResendSubscription.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/src/subscribe/Subscription.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/src/utils/AggregatedError.ts
  packages/client/src/utils/Context.ts
  packages/client/src/utils/Gate.ts
  packages/client/src/utils/Pipeline.ts
  packages/client/src/utils/PullBuffer.ts
  packages/client/src/utils/PushBuffer.ts
  packages/client/src/utils/Signal.ts
  packages/client/src/utils/index.ts
  packages/client/test/end-to-end/StreamrClient.test.ts
  packages/client/test/end-to-end/Validation.test.ts
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Encryption.test.ts
  packages/client/test/unit/Signer.test.ts
Labels: client

#695 fix(network): gracefully handle message validation error
  packages/network-tracker/src/protocol/TrackerServer.ts
  packages/network/src/protocol/NodeToNode.ts
  packages/network/src/protocol/NodeToTracker.ts
  packages/network/src/protocol/utils.ts
  packages/network/test/unit/decode.test.ts
Labels: network, tracker

#706 refactor(client): RsaKeyPair
  packages/client/src/encryption/EncryptionUtil.ts
  packages/client/src/encryption/RsaKeyPair.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/index-exports.ts
  packages/client/test/unit/Encryption.test.ts
  packages/client/test/unit/EncryptionUtil.test.ts
  packages/client/test/unit/GroupKey.test.ts
  packages/client/test/unit/RsaKeyPair.test.ts
Labels: client

#708 refactor(protocol): KeyExchangeStream partition
  packages/client/src/StreamRegistry.ts
  packages/client/src/encryption/KeyExchangeStream.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/unit/PublisherKeyExchange.test.ts
  packages/client/test/unit/StreamIDBuilder.test.ts
  packages/client/test/unit/SubscriberKeyExchange.test.ts
  packages/protocol/src/utils/KeyExchangeStreamID.ts
  packages/protocol/src/utils/StreamID.ts
  packages/protocol/src/utils/StreamMessageValidator.ts
  packages/protocol/src/utils/index.ts
  packages/protocol/test/unit/utils/KeyExchangeStream.test.ts
  packages/protocol/test/unit/utils/StreamID.test.ts
Labels: client, protocol

#713 refactor(client): Remove message container
  packages/client/src/encryption/KeyExchangeStream.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/publish/MessageCreator.ts
  packages/client/src/publish/PublishPipeline.ts
  packages/client/src/publish/Publisher.ts
  packages/client/test/unit/MessageCreator.test.ts
  packages/protocol/src/protocol/message_layer/GroupKeyErrorResponse.ts
  packages/protocol/src/protocol/message_layer/GroupKeyMessage.ts
  packages/protocol/src/protocol/message_layer/GroupKeyResponse.ts
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/protocol/src/protocol/message_layer/index.ts
  packages/protocol/test/unit/protocol/message_layer/GroupKeyAnnounce.test.ts
  packages/protocol/test/unit/protocol/message_layer/GroupKeyErrorResponse.test.ts
  packages/protocol/test/unit/protocol/message_layer/GroupKeyRequest.test.ts
  packages/protocol/test/unit/protocol/message_layer/GroupKeyResponse.test.ts
  packages/protocol/test/unit/utils/StreamMessageValidator.test.ts
Labels: client, protocol

#655 NET-835: increase default webrtc ping-pong from 5sec to 30sec
  packages/network/src/connection/webrtc/WebRtcConnection.ts
  packages/network/src/connection/webrtc/WebRtcEndpoint.ts
  packages/network/test/browser/BrowserWebRtcConnection.test.ts
  packages/network/test/browser/IntegrationBrowserWebRtcConnection.test.ts
  packages/network/test/integration/NodeWebRtcConnection.test.ts
  packages/network/test/unit/NodeWebRtcConnection-errors.test.ts
  packages/network/test/unit/NodeWebRtcConnection.test.ts
Labels: network

#716 NET-849: logical layer 2 networks
  .github/workflows/dht.yml
  .github/workflows/trackerless-network.yml
  packages/dht/src/dht/DhtNode.ts
  packages/trackerless-network/src/logic/NodeNeighbors.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
Labels: ci, dht

#714 test(client): Anonymous publisher
  packages/client/src/publish/MessageCreator.ts
  packages/client/test/integration/anonymous-client.test.ts
  packages/client/test/test-utils/fake/fakeEnvironment.ts
Labels: client

#715 refactor(client): Remove obsolete classes
  packages/client/src/HttpUtil.ts
  packages/client/src/encryption/EncryptionUtil.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/index-exports.ts
  packages/client/src/subscribe/Decrypt.ts
  packages/client/src/subscribe/MessageStream.ts
  packages/client/src/subscribe/Subscription.ts
Labels: client

#720 deps(network): update node-datachannel to 0.3.4
  package-lock.json
  packages/network/package.json
Labels: network

#690 refactor tracker message relay
  packages/network-tracker/src/logic/Tracker.ts
  packages/network-tracker/src/logic/attachMessageRelaying.ts
  packages/network-tracker/src/logic/rtcSignallingHandlers.ts
  packages/network-tracker/src/protocol/TrackerServer.ts
  packages/network/src/composition.ts
  packages/network/src/identifiers.ts
  packages/network/src/logic/RtcSignaller.ts
  packages/network/src/protocol/NodeToTracker.ts
  packages/network/test/integration/delivery-of-messages-protocol-layer.test.ts
  packages/network/test/integration/rtc-signalling-messages-routing.test.ts
  packages/network/test/unit/RtcSignaller.test.ts
  packages/protocol/src/protocol/tracker_layer/error_message/ErrorMessage.ts
  packages/protocol/src/protocol/tracker_layer/index.ts
  packages/protocol/src/protocol/tracker_layer/relay_message/RelayMessage.ts
  packages/protocol/test/unit/protocol/tracker_layer/ErrorMessage.test.ts
  packages/protocol/test/unit/protocol/tracker_layer/ErrorMessageSerializerV2.test.ts
  packages/protocol/test/unit/protocol/tracker_layer/RelayMessage.test.ts
  packages/protocol/test/unit/protocol/tracker_layer/RelayMessageSerializerV2.test.ts
Labels: network, protocol, tracker

#721 NET-850: RemoteRandomGraphNode
  packages/dht/src/index.ts
  packages/proto-rpc/src/ServerRegistry.ts
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/logic/NodeNeighbors.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/RemoteRandomGraphNode.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/RemoteRandomGraphNode.test.ts
Labels: dht

#723 test: Use fast wallet
  packages/broker/test/integration/plugins/brubeckMiner/BrubeckMinerPlugin.test.ts
  packages/broker/test/integration/plugins/subscriber/SubscriberPlugin.test.ts
  packages/broker/test/unit/ConfigWizard.test.ts
  packages/client/test/end-to-end/Permissions.test.ts
  packages/client/test/end-to-end/SearchStreams.test.ts
  packages/client/test/end-to-end/client-behaviour-on-invalid-messages.test.ts
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/client/test/unit/PublisherKeyExchange.test.ts
  packages/client/test/unit/Subscriber.test.ts
  packages/client/test/unit/SubscriberKeyExchange.test.ts
Labels: broker, client

#724 test(protocol): Signing benchmark
  package-lock.json
  packages/protocol/package.json
  packages/protocol/src/utils/SigningUtil.ts
  packages/protocol/test/benchmark/SigningUtil.test.ts
Labels: protocol

#726 refactor(client): Simplify publisher
  packages/client/src/publish/Publisher.ts
  packages/client/test/end-to-end/Basics.test.ts
  packages/client/test/test-utils/utils.ts
Labels: client

#727 test(client): Divide test utils
  packages/broker/test/integration/broker-subscriptions.test.ts
  packages/broker/test/integration/createMessagingPluginTest.ts
  packages/broker/test/integration/local-propagation.test.ts
  packages/broker/test/integration/multiple-publisher-plugins.test.ts
  packages/broker/test/integration/plugins/mqtt/Bridge.test.ts
  packages/broker/test/integration/plugins/storage/DataMetadataEndpoints.test.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/integration/plugins/storage/StorageNode.test.ts
  packages/broker/test/sequential/plugins/storage/DeleteExpiredCmd.test.ts
  packages/broker/test/utils.ts
  packages/client/src/publish/Publisher.ts
  packages/client/test/end-to-end/Basics.test.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/end-to-end/Metrics.test.ts
  packages/client/test/end-to-end/MultipleClients.test.ts
  packages/client/test/end-to-end/Permissions.test.ts
  packages/client/test/end-to-end/ProxyPublishSubscribe.test.ts
  packages/client/test/end-to-end/ResendAll.test.ts
  packages/client/test/end-to-end/Resends.test.ts
  packages/client/test/end-to-end/SearchStreams.test.ts
  packages/client/test/end-to-end/StorageNodeRegistry.test.ts
  packages/client/test/end-to-end/StorageNodeRegistry2.test.ts
  packages/client/test/end-to-end/StreamRegistry.test.ts
  packages/client/test/end-to-end/StreamrClient.test.ts
  packages/client/test/end-to-end/SubscribeAll.test.ts
  packages/client/test/end-to-end/Subscriber.test.ts
  packages/client/test/end-to-end/SubscriberResendsSequential.test.ts
  packages/client/test/end-to-end/Validation.test.ts
  packages/client/test/end-to-end/client-behaviour-on-invalid-messages.test.ts
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/client/test/flakey/Resends.test.ts
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/Partitions.test.ts
  packages/client/test/integration/Sequencing.test.ts
  packages/client/test/integration/Stream.test.ts
  packages/client/test/test-utils/LeaksDetector.ts
  packages/client/test/test-utils/Multimap.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
  packages/client/test/test-utils/fake/FakeStorageNodeRegistry.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/test-utils/jest-utils.ts
  packages/client/test/test-utils/publish.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/GroupKeyPersistence.test.ts
  packages/client/test/unit/GroupKeyStore.test.ts
  packages/client/test/unit/MessageStream.test.ts
  packages/client/test/unit/PushBuffer.test.ts
  packages/client/test/unit/WebStreamToNodeStream.test.ts
  packages/test-utils/src/utils.ts
Labels: broker, client, test-utils

#728 refactor(client): Move registry classes
  packages/client/src/BrubeckNode.ts
  packages/client/src/Stream.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/Validator.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/events.ts
  packages/client/src/index-exports.ts
  packages/client/src/publish/Encrypt.ts
  packages/client/src/publish/StreamPartitioner.ts
  packages/client/src/registry/StorageNodeRegistry.ts
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/registry/StreamRegistryCached.ts
  packages/client/src/registry/getTrackerRegistryFromContract.ts
  packages/client/src/searchStreams.ts
  packages/client/src/subscribe/Decrypt.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/SubscribePipeline.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/end-to-end/TrackerRegistry.ts
  packages/client/test/test-utils/fake/FakeHttpUtil.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
  packages/client/test/test-utils/fake/FakeStorageNodeRegistry.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/test-utils/fake/fakeEnvironment.ts
  packages/client/test/test-utils/fake/fakePublisherNode.ts
  packages/client/test/unit/Publisher.test.ts
  packages/client/test/unit/PublisherKeyExchange.test.ts
  packages/client/test/unit/SearchStreams.test.ts
  packages/client/test/unit/Stream.test.ts
  packages/client/test/unit/Subscriber.test.ts
  packages/client/test/unit/SubscriberKeyExchange.test.ts
Labels: client

#735 refactor(client): Extract `Authentication`
  packages/client/src/Authentication.ts
  packages/client/src/BrubeckNode.ts
  packages/client/src/Config.ts
  packages/client/src/Container.ts
  packages/client/src/Ethereum.ts
  packages/client/src/Stream.ts
  packages/client/src/StreamIDBuilder.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/encryption/GroupKeyStoreFactory.ts
  packages/client/src/encryption/KeyExchangeStream.ts
  packages/client/src/index-exports.ts
  packages/client/src/publish/MessageCreator.ts
  packages/client/src/publish/Signer.ts
  packages/client/src/registry/StorageNodeRegistry.ts
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/types.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/test-utils/fake/fakeEnvironment.ts
  packages/client/test/unit/Authentication.test.ts
  packages/client/test/unit/Config.test.ts
  packages/client/test/unit/MessageCreator.test.ts
  packages/client/test/unit/Publisher.test.ts
  packages/client/test/unit/SearchStreams.test.ts
  packages/client/test/unit/Signer.test.ts
  packages/client/test/unit/Stream.test.ts
  packages/client/test/unit/StreamIDBuilder.test.ts
Labels: client

#738 fix(client): Remove duplicate handling of `newGroupKey`
  packages/client/src/encryption/EncryptionUtil.ts
Labels: client

#737 fix(client): Test environment sidechain id
  packages/client/src/ConfigTest.ts
Labels: client

#739 fix(client): Validation of `nextGroupKey` in encryption
  packages/client/src/encryption/EncryptionUtil.ts
  packages/client/test/unit/EncryptionUtil.test.ts
Labels: client

#740 refactor(client): Remove `onDestroy` cache clearing
  packages/client/src/Validator.ts
  packages/client/src/encryption/GroupKeyStoreFactory.ts
  packages/client/src/publish/MessageChain.ts
  packages/client/src/publish/MessageCreator.ts
  packages/client/src/publish/StreamPartitioner.ts
  packages/client/src/registry/StreamRegistryCached.ts
  packages/client/src/utils/caches.ts
  packages/client/test/integration/Partitions.test.ts
  packages/client/test/unit/MessageCreator.test.ts
  packages/client/test/unit/promises.test.ts
Labels: client

#745 ci(client): Update to ChromeDriver v103
  package-lock.json
  packages/client/package.json
Labels: client

#743 refactor(client): Key exchange stream support in `StreamRegistry`
  packages/client/src/registry/StreamRegistry.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/unit/PublisherKeyExchange.test.ts
Labels: client

#736 Monorepo adjustments & harmonization
  .github/workflows/broker.yml
  .github/workflows/client-build.yml
  .github/workflows/client-code.yml
  .github/workflows/network-browser.yml
  .github/workflows/network.yml
  .github/workflows/protocol.yml
  .github/workflows/reusable/run-brokers-and-trackers/action.yml
  .github/workflows/test-utils.yml
  .github/workflows/tracker.yml
  Dockerfile.broker
  Dockerfile.tracker
  README.md
  package.json
  packages/broker/.babel.config.js
  packages/broker/jest.config.js
  packages/broker/package.json
  packages/broker/tsconfig.jest.json
  packages/broker/tsconfig.node.json
  packages/broker/tsconfig.test.json
  packages/cli-tools/package.json
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/tsconfig.browser.json
  packages/client/tsconfig.jest.json
  packages/client/tsconfig.json
  packages/dev-config/ts/tsconfig.browser.json
  packages/dev-config/ts/tsconfig.jest.json
  packages/dev-config/ts/tsconfig.node.json
  packages/network-tracker/jest.config.js
  packages/network-tracker/package.json
  packages/network-tracker/tsconfig.jest.json
  packages/network-tracker/tsconfig.node.json
  packages/network/jest.config.js
  packages/network/package.json
  packages/network/tsconfig.browser.json
  packages/network/tsconfig.jest.json
  packages/network/tsconfig.node.json
  packages/network/webpack.config.js
  packages/protocol/jest.config.js
  packages/protocol/package.json
  packages/protocol/tsconfig.jest.json
  packages/protocol/tsconfig.node.json
  packages/test-utils/package.json
  packages/test-utils/tsconfig.jest.json
  packages/test-utils/tsconfig.node.json
Labels: ci, broker, network, client, protocol, test-utils, cli-tools, docs, tracker

#748 Remove dev-config and eslint "meta" sub-packages
  .eslintrc.js
  package-lock.json
  package.json
  packages/broker/.eslintrc.js
  packages/broker/package.json
  packages/broker/tsconfig.jest.json
  packages/broker/tsconfig.node.json
  packages/cli-tools/.eslintrc
  packages/cli-tools/package.json
  packages/cli-tools/tsconfig.json
  packages/client/.eslintrc.js
  packages/client/package.json
  packages/client/tsconfig.browser.json
  packages/client/tsconfig.jest.json
  packages/client/tsconfig.node.json
  packages/dev-config/LICENSE
  packages/dev-config/package.json
  packages/eslint-config-monorepo/index.js
  packages/eslint-config-monorepo/package.json
  packages/network-tracker/.eslintrc
  packages/network-tracker/package.json
  packages/network-tracker/tsconfig.jest.json
  packages/network-tracker/tsconfig.node.json
  packages/network/.eslintrc
  packages/network/package.json
  packages/network/tsconfig.browser.json
  packages/network/tsconfig.jest.json
  packages/network/tsconfig.node.json
  packages/protocol/.eslintrc.js
  packages/protocol/package.json
  packages/protocol/tsconfig.jest.json
  packages/protocol/tsconfig.node.json
  packages/test-utils/.eslintrc
  packages/test-utils/package.json
  packages/test-utils/tsconfig.jest.json
  packages/test-utils/tsconfig.node.json
  tsconfig.browser.json
  tsconfig.jest.json
  tsconfig.node.json
Labels: broker, network, client, protocol, test-utils, cli-tools, dev-config, tracker

#749 main fixes to NET-763
  .github/workflows/dht.yml
  .github/workflows/proto-rpc.yml
  package-lock.json
  packages/dht/jest.config.js
  packages/dht/package.json
  packages/dht/tsconfig.browser.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.node.json
  packages/dht/webpack.config.js
  packages/proto-rpc/jest.config.js
  packages/proto-rpc/package.json
  packages/proto-rpc/tsconfig.browser.json
  packages/proto-rpc/tsconfig.jest.json
  packages/proto-rpc/tsconfig.node.json
  packages/proto-rpc/webpack.config.js
Labels: ci, dht
