Repository streamr-dev/network, pull requests merged in 2022-05, with the labels that each got.

#598 fix(client): avoid starting up KeyServer in integration tests
  packages/client/test/integration/BrubeckNode.test.ts
Labels: client

#594 Net-767: Route Message
  packages/dht/package.json
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/dht/RouterDuplicateDetector.ts
  packages/dht/src/index.ts
  packages/dht/src/rpc-protocol/IMessageRouter.ts
  packages/dht/src/rpc-protocol/server.ts
  packages/dht/src/transport/DhtTransportClient.ts
  packages/dht/src/transport/DhtTransportServer.ts
  packages/dht/src/transport/RpcCommunicator.ts
  packages/dht/test/dummy.test.ts
  packages/dht/test/integration/DhtWithMockConnectionLatencies.test.ts
  packages/dht/test/integration/DhtWithMockConnections.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/unit/DhtNode.test.ts
  packages/dht/test/unit/RouterDuplicateDetector.test.ts
  packages/dht/test/utils.ts
Labels: dht

#600 Net 763 add connection manager
  README.md
  install-on-m1.md
  package-lock.json
  package.json
  packages/dht/proto.sh
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/PeerID.ts
  packages/dht/src/UUID.ts
  packages/dht/src/connection/ClientWebSocket.ts
  packages/dht/src/connection/Connection.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ConnectionSource.ts
  packages/dht/src/connection/ServerWebSocket.ts
  packages/dht/src/connection/WebSocketConnector.ts
  packages/dht/src/connection/WebSocketServer.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/dht/SortedContactList.ts
  packages/dht/src/dht/helpers.ts
  packages/dht/src/errors.ts
  packages/dht/src/index.ts
  packages/dht/src/transport/DhtTransportClient.ts
  packages/dht/src/transport/DhtTransportServer.ts
  packages/dht/src/transport/RpcCommunicator.ts
  packages/dht/src/types.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/DhtClientRpcTransport.test.ts
  packages/dht/test/integration/DhtWithMockConnectionLatencies.test.ts
  packages/dht/test/integration/DhtWithMockConnections.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/WebSocket.test.ts
  packages/dht/test/unit/SortedContactList.test.ts
  packages/dht/test/utils.ts
  packages/network/src/connection/MessageQueue.ts
  packages/protocol/src/utils/OrderedMsgChain.ts
Labels: network, protocol, docs, dht

#597 NET-786: Improve metrics data
  packages/broker/src/plugins/brubeckMiner/BrubeckMinerPlugin.ts
  packages/broker/src/plugins/consoleMetrics/ConsoleMetricsPlugin.ts
  packages/broker/src/plugins/metrics/MetricsPlugin.ts
  packages/broker/src/plugins/metrics/node/MetricsPublisher.ts
  packages/broker/src/plugins/metrics/node/NodeMetrics.ts
  packages/broker/src/plugins/metrics/node/Sample.ts
  packages/broker/src/plugins/storage/DataQueryEndpoints.ts
  packages/broker/src/plugins/storage/Storage.ts
  packages/broker/src/plugins/storage/StoragePoller.ts
  packages/broker/test/integration/plugins/metrics/node/NodeMetrics.test.ts
  packages/broker/test/unit/plugins/metrics/node/NodeMetrics.test.ts
  packages/network-tracker/src/logic/InstructionSender.ts
  packages/network-tracker/src/logic/Tracker.ts
  packages/network-tracker/test/unit/InstructionSender.test.ts
  packages/network/src/browser.ts
  packages/network/src/composition.ts
  packages/network/src/connection/webrtc/WebRtcEndpoint.ts
  packages/network/src/createNetworkNode.ts
  packages/network/src/helpers/Metric.ts
  packages/network/src/helpers/MetricsContext.ts
  packages/network/src/helpers/scheduler.ts
  packages/network/src/identifiers.ts
  packages/network/src/logic/Node.ts
  packages/network/test/integration/delivery-of-messages-protocol-layer.test.ts
  packages/network/test/integration/latency.test.ts
  packages/network/test/integration/node-to-node-protocol-version-negotiation.test.ts
  packages/network/test/integration/webrtc-endpoint-back-pressure-handling.test.ts
  packages/network/test/unit/Metric.test.ts
  packages/network/test/unit/MetricsContext.test.ts
Labels: broker, network, tracker

#601 Net-791: RPC timeouts
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/helpers.ts
  packages/dht/src/errors.ts
  packages/dht/src/transport/DhtTransportClient.ts
  packages/dht/src/transport/DhtTransportServer.ts
  packages/dht/src/transport/RpcCommunicator.ts
  packages/dht/test/integration/DhtRpc.test.ts
Labels: dht

#599 remove unused client config `streamrNodeAddress`
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/client/src/Config.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/config.schema.json
Labels: broker, client

#604 Net 763 connection manager with websockets
  package-lock.json
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/ClientWebSocket.ts
  packages/dht/src/connection/Connection.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ConnectionSource.ts
  packages/dht/src/connection/IConnectionManager.ts
  packages/dht/src/connection/MockConnectionManager.ts
  packages/dht/src/connection/ServerWebSocket.ts
  packages/dht/src/connection/WebSocketConnector.ts
  packages/dht/src/connection/WebSocketServer.ts
  packages/dht/src/transport/RpcCommunicator.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/DhtClientRpcTransport.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/integration/DhtWithMockConnectionLatencies.test.ts
  packages/dht/test/integration/DhtWithMockConnections.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/WebSocket.test.ts
Labels: dht

#606 mock layer 1 test
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/rpc-protocol/IMessageRouter.ts
  packages/dht/src/transport/DhtTransportClient.ts
  packages/dht/src/transport/RpcCommunicator.ts
  packages/dht/test/integration/Mock-Layer1-Layer0.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/utils.ts
Labels: dht

#608 Net-763: layer 0 end-to-end test
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/index.ts
  packages/dht/src/transport/DhtTransportClient.ts
  packages/dht/src/transport/RpcCommunicator.ts
  packages/dht/test/end-to-end/Layer0.test.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/DhtWithMockConnectionLatencies.test.ts
  packages/dht/test/integration/DhtWithMockConnections.test.ts
  packages/dht/test/utils.ts
Labels: dht

#609 update to node-datachannel 0.2.4
  package-lock.json
  packages/network/package.json
Labels: network

#603 NET-785: Dynamic metrics
  packages/broker/src/plugins/consoleMetrics/ConsoleMetricsPlugin.ts
  packages/broker/src/plugins/metrics/node/NodeMetrics.ts
  packages/broker/src/plugins/metrics/node/Sample.ts
  packages/broker/test/integration/plugins/metrics/node/NodeMetrics.test.ts
Labels: broker

#615 Remove incorrect information from broker readme
  packages/broker/README.md
Labels: broker

#617 Net-803: routing to the correct layer1 DHT
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/index.ts
  packages/dht/src/transport/ITransport.ts
  packages/dht/src/transport/RpcCommunicator.ts
  packages/dht/test/end-to-end/Layer0-Layer1.test.ts
  packages/dht/test/integration/DhtClientRpcTransport.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/utils.ts
Labels: dht

#621 NET-817
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ConnectionSource.ts
  packages/dht/src/connection/WebSocket/ClientWebSocket.ts
  packages/dht/src/connection/WebSocket/ServerWebSocket.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketServer.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/WebSocket.test.ts
Labels: dht

#618 NET-812: Configurable metrics periods
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/development-prod-resend.env.json
  packages/broker/src/config/migration.ts
  packages/broker/src/plugins/metrics/MetricsPlugin.ts
  packages/broker/src/plugins/metrics/config.schema.json
  packages/broker/src/plugins/metrics/node/NodeMetrics.ts
  packages/broker/test/integration/plugins/metrics/node/NodeMetrics.test.ts
  packages/broker/test/unit/configMigration.test.ts
Labels: broker

#627 NET-815
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/dht/SortedContactList.ts
  packages/dht/src/errors.ts
  packages/dht/src/rpc-protocol/server.ts
  packages/dht/src/transport/RpcCommunicator.ts
  packages/dht/test/integration/ConnectionManager.test.ts
Labels: dht

#622 update to node-datachannel 0.3.2
  package-lock.json
  packages/network/package.json
  packages/network/src/connection/webrtc/BrowserWebRtcConnection.ts
  packages/network/src/connection/webrtc/NodeWebRtcConnection.ts
  packages/network/src/connection/webrtc/WebRtcEndpoint.ts
  packages/network/src/connection/ws/AbstractClientWsEndpoint.ts
  packages/network/src/connection/ws/BrowserClientWsConnection.ts
  packages/network/src/connection/ws/NodeClientWsConnection.ts
  packages/network/src/createNetworkNode.ts
  packages/network/src/simulator/AbstractClientWsEndpoint_simulator.ts
  packages/network/src/simulator/NodeClientWsConnection_simulator.ts
  packages/network/src/simulator/NodeWebRtcConnection_simulator.ts
  packages/network/test/browser/BrowserWebRtcConnection.test.ts
  packages/network/test/integration/delivery-of-messages-protocol-layer.test.ts
  packages/network/test/integration/node-to-node-protocol-version-negotiation.test.ts
  packages/network/test/integration/webrtc-endpoint-back-pressure-handling.test.ts
  packages/network/test/integration/webrtc-multi-signaller.test.ts
  packages/network/test/unit/NodeWebRtcConnection-errors.test.ts
  packages/network/test/unit/NodeWebRtcConnection.test.ts
  packages/network/test/unit/WebRtcEndpoint.test.ts
Labels: network

#629 NET-816
  .github/workflows/dht.yml
  packages/dht/package.json
  packages/dht/src/connection/WebSocket/ServerWebSocket.ts
  packages/dht/src/connection/WebSocket/WebSocketServer.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/SortedContactList.ts
  packages/dht/test/end-to-end/Layer0-Layer1.test.ts
  packages/dht/test/end-to-end/Layer0.test.ts
  packages/dht/test/unit/SortedContactList.test.ts
Labels: ci, dht

#630 client: config migration sequence
  packages/broker/src/config/migration.ts
  packages/broker/test/unit/configMigration.test.ts
Labels: broker

#631 feat(client): Publish metrics
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/development-prod-resend.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/src/config/migration.ts
  packages/broker/src/pluginRegistry.ts
  packages/broker/src/plugins/metrics/MetricsPlugin.ts
  packages/broker/src/plugins/metrics/config.schema.json
  packages/broker/src/plugins/metrics/node/NodeMetrics.ts
  packages/broker/test/integration/plugins/metrics/node/NodeMetrics.test.ts
  packages/broker/test/unit/configMigration.test.ts
  packages/client/CHANGELOG.md
  packages/client/README.md
  packages/client/src/BrubeckNode.ts
  packages/client/src/Config.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/MetricsPublisher.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/config.schema.json
  packages/client/src/events.ts
  packages/client/src/publish/Publisher.ts
  packages/client/test/end-to-end/Metrics.test.ts
  packages/client/test/end-to-end/ProxyPublishSubscribe.test.ts
  packages/client/test/end-to-end/client-behaviour-on-invalid-messages.test.ts
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/client/test/test-utils/fake/fakeEnvironment.ts
  packages/client/test/unit/Config.test.ts
Labels: broker, client, changelog

#633 Trackerless: test improvements
  packages/dht/src/connection/MockConnectionManager.ts
  packages/dht/src/connection/WebSocket/WebSocketServer.ts
  packages/dht/src/transport/RpcCommunicator.ts
  packages/dht/test/end-to-end/Layer0-Layer1.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
Labels: dht

#632 client: getStorageNodeMetadata()
  packages/client/src/StorageNodeRegistry.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/test/end-to-end/StorageNodeRegistry2.test.ts
  packages/client/test/test-utils/fake/FakeStorageNodeRegistry.ts
  packages/client/test/test-utils/utils.ts
Labels: client

#635 Net-813: rename transport
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/index.ts
  packages/dht/src/rpc-protocol/server.ts
  packages/dht/src/transport/ClientTransport.ts
  packages/dht/src/transport/RpcCommunicator.ts
  packages/dht/src/transport/ServerTransport.ts
  packages/dht/test/end-to-end/Layer0-Layer1.test.ts
  packages/dht/test/integration/DhtClientRpcTransport.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/utils.ts
Labels: dht

#636 NET-813: protobuf + remote connector
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/WebSocket/RemoteWebSocketConnector.ts
Labels: dht

#634 Improve broker readmes
  packages/broker/README.md
  packages/broker/develop.md
  packages/broker/plugins.md
Labels: broker

#628 build(broker): bump aedes from 0.46.2 to 0.46.3
  package-lock.json
  packages/broker/package.json
Labels: broker

#637 build(broker): move ts type defs to dev dependencies
  package-lock.json
  packages/broker/package.json
Labels: broker

#641 Add a note about opening ports to plugins.md
  packages/broker/plugins.md
Labels: broker

#642 Net 763 move composition inside dht node
  packages/dht/src/PeerID.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/MockConnectionManager.ts
  packages/dht/src/connection/Simulator.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/index.ts
  packages/dht/src/transport/ITransport.ts
  packages/dht/src/transport/RpcCommunicator.ts
  packages/dht/test/end-to-end/Layer0-Layer1.test.ts
  packages/dht/test/end-to-end/Layer0.test.ts
  packages/dht/test/integration/DhtClientRpcTransport.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/integration/DhtWithMockConnectionLatencies.test.ts
  packages/dht/test/integration/DhtWithMockConnections.test.ts
  packages/dht/test/integration/Mock-Layer1-Layer0.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/unit/DhtNode.test.ts
  packages/dht/test/unit/PeerID.test.ts
  packages/dht/test/unit/SortedContactList.test.ts
  packages/dht/test/utils.ts
Labels: dht

#640 NET-813: stack
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/IConnectionSource.ts
  packages/dht/src/connection/WebSocket/RemoteWebSocketConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketServer.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/rpc-protocol/ClientTransport.ts
  packages/dht/src/rpc-protocol/IMessageRouter.ts
  packages/dht/src/rpc-protocol/ServerTransport.ts
  packages/dht/src/rpc-protocol/server.ts
  packages/dht/src/transport/RpcCommunicator.ts
  packages/dht/test/integration/DhtClientRpcTransport.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/WebSocket.test.ts
  packages/dht/test/integration/WebSocketConnectorRpc.test.ts
  packages/dht/test/utils.ts
Labels: dht

#638 CI: fix workflow completed messages for slack
  .github/workflows/notifier.yml
Labels: ci

#643 test(broker): Config wizard and migration
  packages/broker/src/config/ConfigWizard.ts
  packages/broker/test/unit/ConfigWizard.test.ts
  packages/broker/test/unit/configMigration.test.ts
Labels: broker

#644 NET-820: Rename publishHttp plugin
  packages/broker/plugins.md
  packages/broker/src/config/ConfigWizard.ts
  packages/broker/src/config/migration.ts
  packages/broker/src/pluginRegistry.ts
  packages/broker/src/plugins/http/HttpPlugin.ts
  packages/broker/src/plugins/http/publishEndpoint.ts
  packages/broker/test/unit/ConfigWizard.test.ts
  packages/broker/test/unit/configMigration.test.ts
  packages/broker/test/unit/plugins/http/publishEndpoint.test.ts
Labels: broker

#646 feat(network): remove latency metrics
  packages/client/README.md
  packages/client/test/end-to-end/Metrics.test.ts
  packages/network/src/logic/Node.ts
  packages/network/test/integration/latency.test.ts
Labels: network, client

#648 refactor(client): Explicit method delegation
  packages/broker/test/integration/createMessagingPluginTest.ts
  packages/broker/test/integration/plugins/mqtt/Bridge.test.ts
  packages/broker/test/integration/plugins/storage/StorageNode.test.ts
  packages/client/src/BrubeckNode.ts
  packages/client/src/DestroySignal.ts
  packages/client/src/Ethereum.ts
  packages/client/src/StorageNodeRegistry.ts
  packages/client/src/Stream.ts
  packages/client/src/StreamEndpoints.ts
  packages/client/src/StreamRegistry.ts
  packages/client/src/StreamRegistryCached.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/Validator.ts
  packages/client/src/authFetch.ts
  packages/client/src/encryption/GroupKeyStoreFactory.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/index-exports.ts
  packages/client/src/publish/Encrypt.ts
  packages/client/src/publish/Publisher.ts
  packages/client/src/publish/StreamPartitioner.ts
  packages/client/src/subscribe/Decrypt.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/SubscribePipeline.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/end-to-end/Metrics.test.ts
  packages/client/test/end-to-end/Permissions.test.ts
  packages/client/test/end-to-end/Resends.test.ts
  packages/client/test/end-to-end/StreamRegistry.test.ts
  packages/client/test/end-to-end/SubscribeAll.test.ts
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
Labels: broker, client

#649 feat: add karma, enable npm run test-browser
  .github/workflows/dht.yml
  package-lock.json
  packages/dht/karma-setup.js
  packages/dht/karma.config.js
  packages/dht/package.json
  packages/dht/preload.js
  packages/dht/src/PeerID.ts
  packages/dht/src/browser.ts
  packages/dht/src/connection/MockConnectionManager.ts
  packages/dht/src/connection/Simulator.ts
  packages/dht/src/connection/WebSocket/ClientWebSocket.ts
  packages/dht/src/connection/WebSocket/ServerWebSocket.ts
  packages/dht/src/connection/WebSocket/WebSocketServer.ts
  packages/dht/src/dht/helpers.ts
  packages/dht/src/index.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/DhtClientRpcTransport.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/integration/DhtWithMockConnectionLatencies.test.ts
  packages/dht/test/integration/DhtWithMockConnections.test.ts
  packages/dht/test/integration/Mock-Layer1-Layer0.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/WebSocket.test.ts
  packages/dht/test/integration/WebSocketConnectorRpc.test.ts
  packages/dht/test/unit/DhtNode.test.ts
  packages/dht/test/unit/PeerID.test.ts
  packages/dht/test/utils.ts
  packages/dht/tsconfig.webpack.json
  packages/dht/webpack.config.js
Labels: ci, dht

#647 NET-813: correct RPC requests are routed to the WebSocketConnector
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/DeferredConnection.ts
  packages/dht/src/connection/IConnection.ts
  packages/dht/src/connection/IConnectionSource.ts
  packages/dht/src/connection/WebSocket/ClientWebSocket.ts
  packages/dht/src/connection/WebSocket/RemoteWebSocketConnector.ts
  packages/dht/src/connection/WebSocket/ServerWebSocket.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketServer.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/errors.ts
  packages/dht/src/transport/RpcCommunicator.ts
  packages/dht/test/end-to-end/WebSocketConnectionRequest.test.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/DhtClientRpcTransport.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/integration/DhtWithMockConnections.test.ts
  packages/dht/test/integration/WebSocket.test.ts
  packages/dht/webpack.config.js
Labels: dht

#650 NET-830: WebRTC RPC stack
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/WebRTC/RemoteWebrtcConnector.ts
  packages/dht/test/end-to-end/Layer0.test.ts
  packages/dht/test/integration/WebRtcConnectorRpc.test.ts
Labels: dht

#651 NET-828: no longer bind IConnectionSource events in manager
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/IConnectionSource.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketServer.ts
Labels: dht

#654 NET-831
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
Labels: dht

#657 feat: add BrowserWebrtcConnection
  packages/dht/src/connection/IConnection.ts
  packages/dht/src/connection/WebRTC/BrowserWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/IWebRtcConnection.ts
  packages/dht/src/connection/WebSocket/ClientWebSocket.ts
  packages/dht/tsconfig.json
  packages/dht/tsconfig.node.json
  packages/dht/tsconfig.webpack.json
  packages/dht/webpack.config.js
Labels: dht

#658 NET-833: connector + node webrtc connections
  .github/workflows/dht.yml
  package-lock.json
  packages/dht/karma.config.js
  packages/dht/package.json
  packages/dht/preload.js
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/IConnection.ts
  packages/dht/src/connection/WebRTC/BrowserWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/test/integration/WebRtcConnectionManagement.test.ts
Labels: ci, dht

#661 Net 833: browser
  packages/dht/karma.config.js
  packages/dht/src/connection/WebRTC/BrowserWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/IWebRtcConnection.ts
Labels: dht

#653 refactor(client): remove obsolete isUnsubscribed property
  packages/client/src/subscribe/Subscription.ts
  packages/client/src/subscribe/SubscriptionSession.ts
Labels: client

#662 NET-829: end-to-end webrtc
  packages/dht/package.json
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/DeferredConnection.ts
  packages/dht/src/connection/WebRTC/BrowserWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/RemoteWebrtcConnector.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/SortedContactList.ts
  packages/dht/src/rpc-protocol/ClientTransport.ts
  packages/dht/src/rpc-protocol/ServerTransport.ts
  packages/dht/src/rpc-protocol/server.ts
  packages/dht/src/transport/RpcCommunicator.ts
  packages/dht/test/end-to-end/Layer0WebRTC.test.ts
  packages/dht/test/integration/WebRtcConnectionManagement.test.ts
Labels: dht

#664 clean dht package
  package-lock.json
  packages/dht/package.json
  packages/dht/test/end-to-end/Layer0WebRTC.test.ts
Labels: dht

#667 NET-763: webrtc connectionid filtering
  packages/dht/src/connection/WebRTC/BrowserWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
Labels: dht

#665 refactor(client): Signal as non-function
  packages/broker/src/plugins/brubeckMiner/BrubeckMinerPlugin.ts
  packages/client/CHANGELOG.md
  packages/client/src/BrubeckNode.ts
  packages/client/src/DestroySignal.ts
  packages/client/src/MetricsPublisher.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/encryption/KeyExchangeStream.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/index-exports.ts
  packages/client/src/publish/PublishPipeline.ts
  packages/client/src/subscribe/Decrypt.ts
  packages/client/src/subscribe/MessageStream.ts
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/ResendSubscription.ts
  packages/client/src/subscribe/SubscribePipeline.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/src/subscribe/Subscription.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/src/utils/Pipeline.ts
  packages/client/src/utils/Plugin.ts
  packages/client/src/utils/Signal.ts
  packages/client/test/end-to-end/Resends.test.ts
  packages/client/test/end-to-end/StreamrClient.test.ts
  packages/client/test/end-to-end/SubscribeAll.test.ts
  packages/client/test/end-to-end/Subscriber.test.ts
  packages/client/test/end-to-end/Validation.test.ts
  packages/client/test/end-to-end/client-behaviour-on-invalid-messages.test.ts
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/test-utils/fake/FakeBrubeckNode.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/MessageStream.test.ts
  packages/client/test/unit/Pipeline.test.ts
  packages/client/test/unit/Signal.test.ts
Labels: broker, client, changelog

#660 refactor: SigningUtil remove async, normalize inputs
  packages/client/src/Validator.ts
  packages/protocol/src/utils/SigningUtil.ts
  packages/protocol/src/utils/StreamMessageValidator.ts
  packages/protocol/test/unit/utils/SigningUtil.test.ts
  packages/protocol/test/unit/utils/StreamMessageValidator.test.ts
Labels: client, protocol

#620 remove unused HTTP related code
  packages/client/src/HttpUtil.ts
  packages/client/src/Rest.ts
  packages/client/src/StorageNodeRegistry.ts
  packages/client/src/StreamRegistry.ts
  packages/client/src/index-exports.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/test/end-to-end/StreamRegistry.test.ts
  packages/client/test/test-utils/fake/FakeHttpUtil.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/test-utils/fake/fakeEnvironment.ts
  packages/client/test/unit/HttpUtil.test.ts
  packages/client/test/unit/utils.test.ts
Labels: client

#668 NET-763: RpcCommunicator unit tests
  packages/broker/src/plugins/storage/Storage.ts
  packages/dht/.gitignore
  packages/dht/src/transport/RpcCommunicator.ts
  packages/dht/test/unit/RpcCommunicator.test.ts
Labels: broker, dht

#671 NET-822
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/errors.ts
  packages/dht/src/rpc-protocol/ClientTransport.ts
  packages/dht/src/rpc-protocol/ServerTransport.ts
  packages/dht/src/transport/RpcCommunicator.ts
Labels: dht

#672 More tests RpcCommunicator tests
  packages/dht/src/dht/helpers.ts
  packages/dht/src/transport/RpcCommunicator.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/unit/RpcCommunicator.test.ts
Labels: dht

#673 NET-763: helpers
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/Simulator.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/RemoteWebrtcConnector.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebSocket/RemoteWebSocketConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/dht/SortedContactList.ts
  packages/dht/src/helpers/PeerID.ts
  packages/dht/src/helpers/UUID.ts
  packages/dht/src/helpers/common.ts
  packages/dht/src/helpers/errors.ts
  packages/dht/src/index.ts
  packages/dht/src/rpc-protocol/ServerTransport.ts
  packages/dht/src/rpc-protocol/server.ts
  packages/dht/src/transport/RpcCommunicator.ts
  packages/dht/src/types.ts
  packages/dht/test/end-to-end/Layer0-Layer1.test.ts
  packages/dht/test/end-to-end/Layer0WebRTC.test.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/DhtClientRpcTransport.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/WebRtcConnectionManagement.test.ts
  packages/dht/test/integration/WebRtcConnectorRpc.test.ts
  packages/dht/test/integration/WebSocket.test.ts
  packages/dht/test/integration/WebSocketConnectionManagement.test.ts
  packages/dht/test/integration/WebSocketConnectorRpc.test.ts
  packages/dht/test/unit/DhtNode.test.ts
  packages/dht/test/unit/PeerID.test.ts
  packages/dht/test/unit/RpcCommunicator.test.ts
  packages/dht/test/unit/SortedContactList.test.ts
  packages/dht/test/utils.ts
Labels: dht

#670 feat: update aedes to 0.47.0
  package-lock.json
  packages/broker/package.json
Labels: broker

#674 client(refactor): Publish method signature
  packages/broker/src/plugins/http/publishEndpoint.ts
  packages/broker/src/plugins/mqtt/Bridge.ts
  packages/broker/src/plugins/websocket/PublishConnection.ts
  packages/broker/test/integration/createMessagingPluginTest.ts
  packages/broker/test/unit/plugins/http/publishEndpoint.test.ts
  packages/broker/test/unit/plugins/mqtt/Bridge.test.ts
  packages/broker/test/unit/plugins/websocket/WebsocketServer.test.ts
  packages/cli-tools/bin/streamr-stream-publish.ts
  packages/client/CHANGELOG.md
  packages/client/README.md
  packages/client/src/MetricsPublisher.ts
  packages/client/src/Stream.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/index-exports.ts
  packages/client/src/publish/PublishPipeline.ts
  packages/client/src/publish/Publisher.ts
  packages/client/test/end-to-end/SubscriberResendsSequential.test.ts
  packages/client/test/integration/Sequencing.test.ts
  packages/client/test/unit/Publisher.test.ts
Labels: broker, client, cli-tools, changelog

#676 NET-838: fix hanging webrtc
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/WebRTC/BrowserWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/IWebRtcCleanUp.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
Labels: dht

#677 NET-763: UUID test
  packages/dht/test/unit/UUID.test.ts
Labels: dht

#678 NET-763: throw on self connect
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/helpers/errors.ts
  packages/dht/test/end-to-end/Layer0MixedConnectionTypes.test.ts
  packages/dht/test/integration/WebRtcConnectionManagement.test.ts
  packages/dht/test/integration/WebSocketConnectionManagement.test.ts
Labels: dht

#675 client [NET-332]: MessageMetadata.msgChainId field
  packages/client/CHANGELOG.md
  packages/client/src/publish/PublishPipeline.ts
  packages/client/src/publish/Publisher.ts
  packages/client/test/unit/Publisher.test.ts
Labels: client, changelog

#680 fix: crashing proxy reconnect
  packages/network/src/logic/ProxyStreamConnectionManager.ts
Labels: network

#681 NET-763: DhtNode unit tests
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/helpers/errors.ts
  packages/dht/test/unit/DhtNode.test.ts
Labels: dht

#683 NET-763: DhtPeer tests
  packages/dht/test/integration/DhtPeer.test.ts
Labels: dht

#686 NET-841
  packages/dht/src/connection/WebRTC/RemoteWebrtcConnector.ts
  packages/dht/src/connection/WebSocket/RemoteWebSocketConnector.ts
  packages/dht/src/helpers/errors.ts
  packages/dht/src/rpc-protocol/ConversionWrappers.ts
  packages/dht/src/rpc-protocol/server.ts
  packages/dht/test/unit/ConversionWrappers.test.ts
Labels: dht
