Repository streamr-dev/network, pull requests merged in 2022-12, with the labels that each got.

#1035 test(client): Use explicit `ethers` dependencies
  packages/client/package.json
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/end-to-end/Permissions.test.ts
  packages/client/test/end-to-end/StorageNodeRegistry.test.ts
  packages/client/test/end-to-end/StorageNodeRegistry2.test.ts
  packages/client/test/end-to-end/StreamRegistry.test.ts
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/client/test/integration/PublisherKeyExchange.test.ts
  packages/client/test/integration/SubscriberKeyExchange.test.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/EncryptionUtil.test.ts
Labels: client

#1040 refactor: `run-brokers-and-trackers` script
  .github/workflows/reusable/run-brokers-and-trackers/action.yml
  bin/run-brokers-and-trackers.sh
  packages/broker/bin/kill-all.sh
  packages/broker/bin/run-all.js
  packages/network-tracker/package.json
Labels: ci, broker, tracker

#1028 deps: Typescript v4.9
  package-lock.json
  package.json
  packages/client/src/utils/iterators.ts
  packages/utils/package.json
Labels: client, utils

#1043 fix: Update package lock
  package-lock.json
  packages/broker/src/plugins/storage/Storage.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/network/test/integration/killing-dead-connections.test.ts
Labels: broker, network, client

#1034 refactor: Convert `bin` scripts to TypeScript
  .idea/runConfigurations/broker__dev_1_.xml
  .idea/runConfigurations/broker__dev_2_.xml
  .idea/runConfigurations/broker__dev_3_.xml
  .idea/runConfigurations/broker__dev_prod_resend_.xml
  .idea/runConfigurations/tracker_1.xml
  .idea/runConfigurations/tracker_2.xml
  .idea/runConfigurations/tracker_3.xml
  .vscode/launch.json
  Dockerfile.broker
  Dockerfile.tracker
  bin/run-brokers-and-trackers.sh
  package-lock.json
  packages/broker/.idea/runConfigurations/Run_Broker__8690__8691_.xml
  packages/broker/.idea/runConfigurations/Run_Broker__8790__8791_.xml
  packages/broker/.idea/runConfigurations/Run_Broker__8890_8891_.xml
  packages/broker/.idea/runConfigurations/Run_Tracker__30301_.xml
  packages/broker/.idea/runConfigurations/Run_Tracker__30302_.xml
  packages/broker/.idea/runConfigurations/Run_Tracker__30303_.xml
  packages/broker/bin/broker.ts
  packages/broker/bin/config-wizard.js
  packages/broker/bin/config-wizard.ts
  packages/broker/bin/delete-expired-data.ts
  packages/broker/package.json
  packages/broker/tsconfig.node.json
  packages/network-tracker/bin/tracker.ts
  packages/network-tracker/package.json
  packages/network-tracker/tsconfig.node.json
  packages/network/test/benchmarks/tracker.instructions.ts
Labels: broker, network, tracker

#1042 feat(broker): Explicit network id
  packages/broker/bin/broker.ts
Labels: broker

#1047 docker fixed?
  package-lock.json
  packages/broker/src/plugins/storage/Storage.ts
  packages/client/package.json
  packages/trackerless-network/src/proto/google/protobuf/empty.ts
Labels: broker, client

#1048 ci: release broker docker image on self-hosted runner
  .github/workflows/docker-build.yml
  .github/workflows/release.yml
Labels: ci

#1049 fix(client): `allOf` filters in `searchStreams`
  packages/client/src/registry/searchStreams.ts
Labels: client
