Repository streamr-dev/network, pull requests merged in 2022-04, with the labels that each got.

#490 Net-728: proxy subscriptions
  packages/client/README.md
  packages/client/src/BrubeckNode.ts
  packages/client/src/ProxyPublishSubscribe.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/publish/Publisher.ts
  packages/client/test/end-to-end/ProxyPublishSubscribe.test.ts
  packages/client/test/end-to-end/ProxyPublishing.test.ts
  packages/client/test/test-utils/fake/FakeBrubeckNode.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
  packages/network/src/logic/node/NetworkNode.ts
  packages/network/src/logic/node/Node.ts
  packages/network/src/logic/node/ProxyStreamConnectionManager.ts
  packages/network/src/logic/node/StreamPartManager.ts
  packages/network/src/protocol/NodeToNode.ts
  packages/network/test/integration/proxy-connections.test.ts
  packages/network/test/integration/publish-only-stream-connection.test.ts
  packages/protocol/src/protocol/control_layer/ControlMessage.ts
  packages/protocol/src/protocol/control_layer/index.ts
  packages/protocol/src/protocol/control_layer/proxy_connection_request/ProxyConnectionRequest.ts
  packages/protocol/src/protocol/control_layer/proxy_connection_request/ProxyConnectionRequestSerializerV2.ts
  packages/protocol/src/protocol/control_layer/proxy_connection_response/ProxyConnectionResponse.ts
  packages/protocol/src/protocol/control_layer/proxy_connection_response/ProxyConnectionResponseSerializerV2.ts
  packages/protocol/src/protocol/control_layer/publish_stream_connection_request/PublishStreamConnectionRequestSerializerV2.ts
  packages/protocol/src/protocol/control_layer/publish_stream_connection_response/PublishStreamConnectionResponseSerializerV2.ts
  packages/protocol/src/utils/index.ts
  packages/protocol/src/utils/types.ts
  packages/protocol/src/utils/validations.ts
  packages/protocol/test/unit/protocol/control_layer/ProxyConnectionRequest.test.ts
  packages/protocol/test/unit/protocol/control_layer/ProxyConnectionRequestSerializerV2.test.ts
  packages/protocol/test/unit/protocol/control_layer/ProxyConnectionResponse.test.ts
  packages/protocol/test/unit/protocol/control_layer/ProxyConnectionResponseSerializerV2.test.ts
Labels: network, client, protocol

#540 refactor(broker): use Stream#getStreamParts
  packages/broker/src/plugins/storage/StorageConfig.ts
  packages/broker/test/unit/plugins/storage/StorageConfig.test.ts
Labels: broker

#542 feat(client): Resends uses random node address
  packages/client/CHANGELOG.md
  packages/client/src/subscribe/Resends.ts
Labels: client, changelog

#541 refactor(client): waitForStorage() uses resend()
  packages/client/src/StreamEndpoints.ts
  packages/client/src/StreamRegistry.ts
  packages/client/src/Validator.ts
  packages/client/src/index-exports.ts
  packages/client/src/publish/Publisher.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/test/end-to-end/Resends.test.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/Resends.test.ts
  packages/client/test/test-utils/fake/FakeBrubeckNode.ts
  packages/client/test/test-utils/fake/FakeRest.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
  packages/client/test/test-utils/utils.ts
Labels: client

#545 NET-750: add two default rpc endpoints
  packages/client/src/Config.ts
Labels: client

#547 refactor(client): Extract/rename classes
  packages/client/src/Config.ts
  packages/client/src/StorageNodeRegistry.ts
  packages/client/src/StreamRegistry.ts
  packages/client/src/encryption/EncryptionUtil.ts
  packages/client/src/encryption/GroupKey.ts
  packages/client/src/encryption/GroupKeyStore.ts
  packages/client/src/encryption/GroupKeyStoreFactory.ts
  packages/client/src/encryption/KeyExchangeStream.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/index-exports.ts
  packages/client/src/publish/Encrypt.ts
  packages/client/src/publish/PublishPipeline.ts
  packages/client/src/publish/Publisher.ts
  packages/client/src/subscribe/Decrypt.ts
  packages/client/src/subscribe/MessageStream.ts
  packages/client/src/subscribe/SubscribePipeline.ts
  packages/client/src/utils/Pipeline.ts
  packages/client/src/utils/PullBuffer.ts
  packages/client/src/utils/PushBuffer.ts
  packages/client/src/utils/PushPipeline.ts
  packages/client/src/utils/waitForAssignmentsToPropagate.ts
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/unit/Encryption.test.ts
  packages/client/test/unit/GroupKeyPersistence.test.ts
  packages/client/test/unit/GroupKeyStore.test.ts
  packages/client/test/unit/Pipeline.test.ts
  packages/client/test/unit/waitForAssignmentsToPropagate.test.ts
Labels: client

#546 NET-753: webrtc peerlist logging to debug
  packages/network/bin/publisher.js
  packages/network/bin/subscriber.js
  packages/network/src/connection/webrtc/WebRtcEndpoint.ts
Labels: network

#550 Net-752: different errors for stream registry queries
  packages/client/src/StreamRegistry.ts
Labels: client

#554 refactor: rework prepare script
  packages/network-tracker/package.json
  packages/network/package.json
Labels: network, tracker

#551 client: use shared monorepo eslint rules
  packages/client/.eslintrc.js
  packages/client/src/Ethereum.ts
  packages/client/src/encryption/GroupKey.ts
  packages/client/src/utils/GraphQLClient.ts
  packages/client/src/utils/Plugin.ts
  packages/client/src/utils/Signal.ts
  packages/client/src/utils/SynchronizedGraphQLClient.ts
  packages/client/src/utils/index.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/test-utils/fake/FakeRest.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/SynchronizedGraphQLClient.test.ts
  packages/eslint-config-monorepo/.eslintrc.js
Labels: client

#558 NET-764: base dht package
  .github/labeler.yml
  .github/workflows/dht.yml
  package-lock.json
  package.json
  packages/dht/.eslintignore
  packages/dht/.eslintrc
  packages/dht/.gitignore
  packages/dht/dist/src/index.d.ts
  packages/dht/dist/src/index.js
  packages/dht/dist/src/index.js.map
  packages/dht/jest.config.js
  packages/dht/package.json
  packages/dht/src/index.ts
  packages/dht/test/dummy.test.ts
  packages/dht/test/utils.ts
  packages/dht/tsconfig.json
  packages/dht/tsconfig.node.json
Labels: ci

#555 feat(broker): Console resend metrics
  packages/broker/src/plugins/metrics/ConsoleMetrics.ts
  packages/broker/src/plugins/storage/DataQueryEndpoints.ts
Labels: broker

#553 feat(client): storage node registry API changes
  packages/broker/test/utils.ts
  packages/client/CHANGELOG.md
  packages/client/src/StorageNodeRegistry.ts
  packages/client/src/index-exports.ts
  packages/client/test/end-to-end/StorageNodeRegistry2.test.ts
  packages/client/test/test-utils/fake/FakeStorageNodeRegistry.ts
Labels: broker, client, changelog

#564 Net-765: Protobuf
  package-lock.json
  packages/dht/.eslintignore
  packages/dht/.gitignore
  packages/dht/README.md
  packages/dht/dist/src/index.d.ts
  packages/dht/dist/src/index.js
  packages/dht/dist/src/index.js.map
  packages/dht/package.json
  packages/dht/proto.sh
  packages/dht/protos/ClosestPeers.proto
  packages/dht/protos/RouteMessage.proto
  packages/dht/tsconfig.json
  packages/dht/tsconfig.node.json
Labels: dht

#565 feat(broker): Info plugin
  .github/workflows/broker.yml
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/src/pluginRegistry.ts
  packages/broker/src/plugins/info/InfoPlugin.ts
Labels: ci, broker

#559 Remove redundant metrics
  packages/broker/src/plugins/brubeckMiner/BrubeckMinerPlugin.ts
  packages/broker/src/plugins/storage/BatchManager.ts
  packages/network-tracker/src/logic/InstructionSender.ts
  packages/network-tracker/src/logic/Tracker.ts
  packages/network-tracker/src/startTracker.ts
  packages/network/bin/tracker.js
  packages/network/src/connection/webrtc/WebRtcEndpoint.ts
  packages/network/src/connection/ws/AbstractClientWsEndpoint.ts
  packages/network/src/connection/ws/AbstractWsEndpoint.ts
  packages/network/src/connection/ws/BrowserClientWsEndpoint.ts
  packages/network/src/connection/ws/NodeClientWsEndpoint.ts
  packages/network/src/connection/ws/ServerWsEndpoint.ts
  packages/network/src/createNetworkNode.ts
  packages/network/src/logic/Node.ts
  packages/network/src/simulator/AbstractClientWsEndpoint_simulator.ts
  packages/network/src/simulator/NodeClientWsEndpoint_simulator.ts
  packages/network/src/simulator/ServerWsEndpoint_simulator.ts
  packages/network/test/integration/do-not-propagate-to-sender-optimization.test.ts
  packages/network/test/integration/message-duplication.test.ts
  packages/network/test/integration/node-to-node-protocol-version-negotiation.test.ts
  packages/network/test/integration/webrtc-endpoint-back-pressure-handling.test.ts
  packages/network/test/integration/webrtc-multi-signaller.test.ts
  packages/network/test/utils.ts
Labels: broker, network, tracker

#567 feat(client): Update encryption key api
  packages/client/CHANGELOG.md
  packages/client/README.md
  packages/client/src/Config.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/config.schema.json
  packages/client/src/encryption/GroupKeyStore.ts
  packages/client/src/encryption/GroupKeyStoreFactory.ts
  packages/client/src/encryption/KeyExchangeStream.ts
  packages/client/src/index-exports.ts
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
Labels: client, changelog

#570 feat(network): Remove TrackerManager metrics
  packages/network/src/logic/Node.ts
  packages/network/src/logic/TrackerManager.ts
Labels: network

#569 NET-773: publisher validation issue
  packages/client/src/publish/PublishPipeline.ts
  packages/client/src/utils/index.ts
  packages/client/test/end-to-end/publisher-message-validation.test.ts
Labels: client

#571 refactor(network): MetricsContext without id
  packages/broker/test/unit/plugins/metrics/node/NodeMetrics.test.ts
  packages/broker/test/unit/plugins/storage/DataQueryEndpoints.test.ts
  packages/client/src/BrubeckNode.ts
  packages/network-tracker/src/logic/Tracker.ts
  packages/network-tracker/src/startTracker.ts
  packages/network-tracker/test/integration/tracker-endpoints.test.ts
  packages/network-tracker/test/unit/InstructionSender.test.ts
  packages/network/bin/publisher.js
  packages/network/bin/subscriber.js
  packages/network/bin/tracker.js
  packages/network/src/createNetworkNode.ts
  packages/network/src/helpers/MetricsContext.ts
  packages/network/src/logic/Node.ts
  packages/network/test/integration/delivery-of-messages-protocol-layer.test.ts
  packages/network/test/integration/latency.test.ts
  packages/network/test/integration/node-to-node-protocol-version-negotiation.test.ts
  packages/network/test/integration/webrtc-endpoint-back-pressure-handling.test.ts
  packages/network/test/integration/webrtc-multi-signaller.test.ts
  packages/network/test/unit/MetricsContext.test.ts
  packages/network/test/unit/WebRtcEndpoint.test.ts
Labels: broker, network, client, tracker

#575 Add dht simulation
  packages/dht/README.md
  packages/dht/package.json
  packages/dht/src/simulation/Contact.ts
  packages/dht/src/simulation/DhtNode.ts
  packages/dht/src/simulation/DhtSimulation.ts
  packages/dht/src/simulation/SortedContactList.ts
  packages/dht/test/simulation/SortedContactList.test.ts
  packages/dht/test/simulation/data/generatedhtids.ts
Labels: dht

#560 Fix build issues: update sqlite3
  package-lock.json
  packages/client/package.json
Labels: client

#568 CI: Slack Notify
  .github/workflows/notifier.yml
Labels: ci

#572 Net-766
  package-lock.json
  packages/dht/package.json
  packages/dht/proto.sh
  packages/dht/protos/ClosestPeers.proto
  packages/dht/protos/DhtRpc.proto
  packages/dht/protos/RouteMessage.proto
  packages/dht/src/connection/IConnectionLayer.ts
  packages/dht/src/connection/MockConnectionLayer.ts
  packages/dht/src/index.ts
  packages/dht/src/rpc-protocol/ClosestPeers/client.ts
  packages/dht/src/rpc-protocol/ClosestPeers/server.ts
  packages/dht/src/transport/DhtTransportClient.ts
  packages/dht/src/transport/DhtTransportServer.ts
  packages/dht/src/transport/Layer0.ts
  packages/dht/src/transport/RpcCommunicator.ts
  packages/dht/src/transport/ServerRpcCallContext.ts
  packages/dht/src/transport/TransportManager.ts
  packages/dht/src/types.ts
  packages/dht/test/integration/DhtClientRpcTransport.test.ts
Labels: dht

#579 feat(broker): Remove /volume endpoint from metrics plugin
  packages/broker/src/plugins/metrics/MetricsPlugin.ts
  packages/broker/src/plugins/metrics/VolumeEndpoint.ts
Labels: broker

#580 Net-766: server side
  packages/dht/src/index.ts
  packages/dht/src/rpc-protocol/ClosestPeers/client.ts
  packages/dht/src/rpc-protocol/ClosestPeers/server.ts
  packages/dht/src/rpc-protocol/server.ts
  packages/dht/src/transport/DhtTransportClient.ts
  packages/dht/src/transport/DhtTransportServer.ts
  packages/dht/src/transport/RpcCommunicator.ts
  packages/dht/src/transport/ServerRpcCallContext.ts
  packages/dht/test/integration/DhtClientRpcTransport.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
Labels: dht

#582 Net 763 add websockets
  README.md
  install-on-m1.md
  package-lock.json
  package.json
  packages/dht/package.json
  packages/dht/src/connection/ClientWebSocket.ts
  packages/dht/src/connection/Connection.ts
  packages/dht/src/connection/ConnectionSource.ts
  packages/dht/src/connection/MockConnectionLayer.ts
  packages/dht/src/connection/ServerWebSocket.ts
  packages/dht/src/connection/WebSocketConnector.ts
  packages/dht/src/connection/WebSocketServer.ts
  packages/dht/test/integration/WebSocket.test.ts
  packages/network/src/connection/MessageQueue.ts
  packages/protocol/src/utils/OrderedMsgChain.ts
Labels: network, protocol, docs, dht

#584 NET-768: getClosestPeers between DhtNodes (+ NET-771 first half)
  README.md
  install-on-m1.md
  package-lock.json
  package.json
  packages/dht/package.json
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/ClientWebSocket.ts
  packages/dht/src/connection/Connection.ts
  packages/dht/src/connection/ConnectionSource.ts
  packages/dht/src/connection/IConnectionLayer.ts
  packages/dht/src/connection/MockConnectionLayer.ts
  packages/dht/src/connection/ServerWebSocket.ts
  packages/dht/src/connection/WebSocketConnector.ts
  packages/dht/src/connection/WebSocketServer.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/dht/SortedContactList.ts
  packages/dht/src/dht/helpers.ts
  packages/dht/src/index.ts
  packages/dht/src/rpc-protocol/server.ts
  packages/dht/src/transport/DhtTransportClient.ts
  packages/dht/src/transport/DhtTransportServer.ts
  packages/dht/src/transport/RpcCommunicator.ts
  packages/dht/src/types.ts
  packages/dht/test/integration/DhtClientRpcTransport.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/integration/DhtWithMockConnections.test.ts
  packages/dht/test/integration/WebSocket.test.ts
  packages/network/src/connection/MessageQueue.ts
  packages/protocol/src/utils/OrderedMsgChain.ts
Labels: network, protocol, docs, dht

#585 Net 763 rename connection layer
  package-lock.json
  packages/dht/src/connection/IConnectionLayer.ts
  packages/dht/src/connection/IConnectionManager.ts
  packages/dht/src/connection/MockConnectionLayer.ts
  packages/dht/src/connection/MockConnectionManager.ts
  packages/dht/src/index.ts
  packages/dht/src/transport/RpcCommunicator.ts
  packages/dht/test/integration/DhtClientRpcTransport.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/integration/DhtWithMockConnections.test.ts
Labels: dht

#576 refactor(network): Remove PeerInfo.peerName
  packages/network-tracker/src/startTracker.ts
  packages/network/src/connection/PeerInfo.ts
  packages/network/src/createNetworkNode.ts
  packages/network/test/unit/NegotiatedProtocolVersions.test.ts
  packages/network/test/unit/PeerInfo.test.ts
  packages/protocol/src/protocol/tracker_layer/Originator.ts
  packages/protocol/test/unit/protocol/tracker_layer/RelayMessage.test.ts
  packages/protocol/test/unit/protocol/tracker_layer/RelayMessageSerializerV2.test.ts
Labels: network, protocol, tracker

#577 refactor(network,client): Remove network.name config option
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/development-prod-resend.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/src/broker.ts
  packages/broker/src/config/migration.ts
  packages/broker/test/integration/broker-subscriptions.test.ts
  packages/broker/test/integration/createMessagingPluginTest.ts
  packages/broker/test/integration/local-propagation.test.ts
  packages/broker/test/integration/plugins/brubeckMiner/BrubeckMinerPlugin.test.ts
  packages/broker/test/integration/plugins/metrics/node/NodeMetrics.test.ts
  packages/broker/test/integration/plugins/mqtt/Bridge.test.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/unit/configMigration.test.ts
  packages/broker/test/utils.ts
  packages/client/CHANGELOG.md
  packages/client/src/BrubeckNode.ts
  packages/client/src/config.schema.json
  packages/network-tracker/bin/tracker.js
  packages/network-tracker/src/startTracker.ts
  packages/network/bin/publisher.js
  packages/network/bin/subscriber.js
  packages/network/bin/tracker.js
  packages/network/src/createNetworkNode.ts
  packages/network/src/identifiers.ts
Labels: broker, network, client, changelog, tracker

#581 feat(tracker): Remove /metrics endpoint
  packages/network-tracker/src/logic/trackerHttpEndpoints.ts
  packages/network-tracker/src/startTracker.ts
  packages/network-tracker/test/integration/tracker-endpoints.test.ts
Labels: tracker

#574 fix(client): Publish encrypted messages
  packages/broker/test/integration/plugins/storage/DataMetadataEndpoints.test.ts
  packages/client/CHANGELOG.md
  packages/client/src/publish/Encrypt.ts
  packages/client/src/subscribe/Decrypt.ts
  packages/client/src/subscribe/SubscribePipeline.ts
  packages/client/test/end-to-end/Basics.test.ts
  packages/client/test/end-to-end/MultipleClients.test.ts
  packages/client/test/end-to-end/ResendAll.test.ts
  packages/client/test/end-to-end/SubscribeAll.test.ts
  packages/client/test/end-to-end/SubscriberResendsSequential.test.ts
  packages/client/test/end-to-end/Validation.test.ts
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/Resends.test.ts
  packages/client/test/unit/Publisher.test.ts
Labels: broker, client, changelog

#587 Client v6.0.3
  packages/broker/test/integration/plugins/storage/DataMetadataEndpoints.test.ts
  packages/client/CHANGELOG.md
  packages/client/src/publish/Encrypt.ts
  packages/client/src/subscribe/Decrypt.ts
  packages/client/src/subscribe/SubscribePipeline.ts
  packages/client/test/integration/Basics.test.ts
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/MultipleClients.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/integration/Subscriber.test.ts
  packages/client/test/integration/SubscriberResendsSequential.test.ts
  packages/client/test/integration/Validation.test.ts
  packages/client/test/integration/publish-subscribe.test.ts
  packages/client/test/unit/Publisher.test.ts
Labels: broker, client, changelog

#589 NET-783: Remove obsolete encryption / signature flags
  packages/client/src/Stream.ts
  packages/client/src/StreamEndpoints.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/end-to-end/StreamRegistry.test.ts
  packages/client/test/end-to-end/Validation.test.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/Resends.test.ts
  packages/client/test/memory/Leaks.test.ts
  packages/client/test/memory/Publishing.test.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/protocol/src/utils/StreamMessageValidator.ts
  packages/protocol/test/unit/utils/StreamMessageValidator.test.ts
Labels: client, protocol

#591 feat(client): Remove state metrics
  packages/broker/src/plugins/consoleMetrics/ConsoleMetricsPlugin.ts
  packages/broker/src/plugins/storage/BatchManager.ts
  packages/broker/src/plugins/storage/Storage.ts
  packages/network/src/connection/webrtc/WebRtcEndpoint.ts
Labels: broker, network

#592 fix keyserver test crash
  packages/client/test/test-utils/utils.ts
Labels: client

#593 fix: WebRTC compatibility in Firefox
  packages/network/src/connection/webrtc/BrowserWebRtcConnection.ts
Labels: network

#573 NET-774: subscriber shouldn't throw on invalid data
  packages/client/CHANGELOG.md
  packages/client/src/subscribe/Subscription.ts
  packages/client/test/end-to-end/Resends.test.ts
  packages/client/test/end-to-end/Subscriber.test.ts
  packages/client/test/end-to-end/client-behaviour-on-invalid-messages.test.ts
  packages/client/test/end-to-end/publisher-message-validation.test.ts
Labels: client, changelog
