Repository streamr-dev/network, pull requests merged in 2022-09, with the labels that each got.

#812 test(client): Use `FakeNetwork#waitForSentMessages`
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/PublisherKeyExchange.test.ts
  packages/client/test/integration/Subscriber.test.ts
  packages/client/test/integration/SubscriberKeyExchange.test.ts
  packages/client/test/integration/invalid-messages.test.ts
  packages/client/test/integration/multiple-clients.test.ts
  packages/client/test/integration/parallel-publish.test.ts
  packages/client/test/integration/resend-and-subscribe.test.ts
  packages/client/test/integration/resend-with-existing-key.test.ts
  packages/client/test/integration/revoke-permissions.test.ts
  packages/client/test/integration/sequential-resend-subscribe.test.ts
  packages/client/test/integration/update-encryption-key.test.ts
  packages/client/test/test-utils/fake/FakeEnvironment.ts
  packages/client/test/test-utils/fake/FakeNetwork.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/client/test/test-utils/utils.ts
Labels: client

#814 Net 763 move to eventemitter3
  packages/dht/src/connection/Connection.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/Handshaker.ts
  packages/dht/src/connection/IConnection.ts
  packages/dht/src/connection/IConnectionSource.ts
  packages/dht/src/connection/IManagedConnectionSource.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/WebRTC/BrowserWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/IWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebSocket/ClientWebSocket.ts
  packages/dht/src/connection/WebSocket/ServerWebSocket.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketServer.ts
  packages/dht/src/helpers/waitForEvent3.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/DhtPeer.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/integration/WebRtcConnectorRpc.test.ts
  packages/dht/test/integration/WebSocket.test.ts
  packages/dht/test/integration/WebSocketConnectorRpc.test.ts
  packages/proto-rpc/README.md
  packages/proto-rpc/examples/errors/errors.ts
  packages/proto-rpc/examples/hello/hello.ts
  packages/proto-rpc/examples/routed-hello/routedhello.ts
  packages/proto-rpc/examples/wakeup/wakeup.ts
  packages/proto-rpc/src/ClientTransport.ts
  packages/proto-rpc/src/RpcCommunicator.ts
  packages/proto-rpc/src/ServerRegistry.ts
  packages/proto-rpc/src/index.ts
  packages/proto-rpc/test/integration/ClientRpcTransport.test.ts
  packages/proto-rpc/test/integration/toProtoRpcClient.test.ts
  packages/proto-rpc/test/unit/RpcCommunicator.test.ts
Labels: dht

#815 Net 763 add service postfix
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/WebRTC/RemoteWebrtcConnector.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebSocket/RemoteWebSocketConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/test/integration/DhtPeer.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/integration/WebRtcConnectorRpc.test.ts
  packages/dht/test/integration/WebSocketConnectorRpc.test.ts
  packages/dht/test/unit/SortedContactList.test.ts
  packages/dht/test/utils.ts
  packages/proto-rpc/README.md
  packages/proto-rpc/examples/errors/ErrorRpc.proto
  packages/proto-rpc/examples/errors/errors.ts
  packages/proto-rpc/examples/errors/proto/ErrorRpc.client.ts
  packages/proto-rpc/examples/errors/proto/ErrorRpc.server.ts
  packages/proto-rpc/examples/errors/proto/ErrorRpc.ts
  packages/proto-rpc/examples/hello/HelloRpc.proto
  packages/proto-rpc/examples/hello/hello.ts
  packages/proto-rpc/examples/hello/proto/HelloRpc.client.ts
  packages/proto-rpc/examples/hello/proto/HelloRpc.server.ts
  packages/proto-rpc/examples/hello/proto/HelloRpc.ts
  packages/proto-rpc/examples/routed-hello/RoutedHelloRpc.proto
  packages/proto-rpc/examples/routed-hello/proto/RoutedHelloRpc.client.ts
  packages/proto-rpc/examples/routed-hello/proto/RoutedHelloRpc.server.ts
  packages/proto-rpc/examples/routed-hello/proto/RoutedHelloRpc.ts
  packages/proto-rpc/examples/routed-hello/routedhello.ts
  packages/proto-rpc/examples/wakeup/WakeUpRpc.proto
  packages/proto-rpc/examples/wakeup/proto/WakeUpRpc.client.ts
  packages/proto-rpc/examples/wakeup/proto/WakeUpRpc.server.ts
  packages/proto-rpc/examples/wakeup/proto/WakeUpRpc.ts
  packages/proto-rpc/examples/wakeup/wakeup.ts
  packages/proto-rpc/proto.sh
  packages/proto-rpc/test/integration/ClientRpcTransport.test.ts
  packages/proto-rpc/test/integration/toProtoRpcClient.test.ts
  packages/proto-rpc/test/proto/HelloRpc.client.ts
  packages/proto-rpc/test/proto/HelloRpc.server.ts
  packages/proto-rpc/test/proto/HelloRpc.ts
  packages/proto-rpc/test/proto/TestProtos.client.ts
  packages/proto-rpc/test/proto/TestProtos.server.ts
  packages/proto-rpc/test/proto/TestProtos.ts
  packages/proto-rpc/test/proto/WakeUpRpc.client.ts
  packages/proto-rpc/test/proto/WakeUpRpc.server.ts
  packages/proto-rpc/test/proto/WakeUpRpc.ts
  packages/proto-rpc/test/protos/HelloRpc.proto
  packages/proto-rpc/test/protos/TestProtos.proto
  packages/proto-rpc/test/protos/WakeUpRpc.proto
  packages/proto-rpc/test/utils.ts
Labels: dht

#816 test(network): remove duplicate test
  packages/network/test/integration/proxy-connections.test.ts
Labels: network

#817 Net 763 clean up simulations
  packages/dht/.gitignore
  packages/dht/kademlia-simulation/Contact.ts
  packages/dht/kademlia-simulation/KademliaSimulation.ts
  packages/dht/kademlia-simulation/SimulationNode.ts
  packages/dht/package.json
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/SortedContactList.ts
  packages/dht/test/benchmark/KademliaCorrectness.test.ts
  packages/dht/test/data/generateGroundTruthData.ts
  packages/dht/test/kademlia-simulation/Contact.ts
  packages/dht/test/kademlia-simulation/SortedContactList.test.ts
  packages/dht/test/kademlia-simulation/SortedContactList.ts
Labels: dht

#818 Net 763 clean up PeerID
  package-lock.json
  packages/client/package.json
  packages/dht/package.json
  packages/dht/src/helpers/PeerID.ts
  packages/dht/src/types/textencoding.d.ts
  packages/dht/webpack.config.js
Labels: client, dht

#820 feat(client): No empty/error group key response
  packages/client/src/Config.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/StreamMessageValidator.ts
  packages/client/src/encryption/KeyExchangeStream.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/subscribe/SubscribePipeline.ts
  packages/client/test/integration/PublisherKeyExchange.test.ts
  packages/client/test/integration/revoke-permissions.test.ts
  packages/client/test/integration/update-encryption-key.test.ts
  packages/client/test/unit/StreamMessageValidator.test.ts
  packages/protocol/src/protocol/message_layer/GroupKeyErrorResponse.ts
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/protocol/src/protocol/message_layer/index.ts
  packages/protocol/test/unit/protocol/message_layer/GroupKeyErrorResponse.test.ts
Labels: client, protocol

#809 NET-852: simple ConnectionLocker logic & use real connections in trackerless
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/RemoteConnectionLocker.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/helpers/errors.ts
  packages/dht/src/index.ts
  packages/dht/test/integration/ConnectionLocking.test.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/test/end-to-end/random-graph-with-real-connections.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
  packages/trackerless-network/test/utils.ts
Labels: dht

#822 Net 763 small review fixes
  packages/dht/package.json
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/Handshaker.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebSocket/ClientWebSocket.ts
  packages/dht/src/connection/WebSocket/ServerWebSocket.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketServer.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/dht/DuplicateDetector.ts
  packages/dht/src/helpers/common.ts
  packages/dht/src/kademlia-simulation/Contact.ts
  packages/dht/src/kademlia-simulation/KademliaSimulation.ts
  packages/dht/src/kademlia-simulation/SimulationNode.ts
  packages/dht/src/rpc-protocol/DhtCallContext.ts
  packages/dht/test/end-to-end/Layer0MixedConnectionTypes.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/unit/UUID.test.ts
  packages/dht/test/utils.ts
  packages/proto-rpc/examples/errors/errors.ts
  packages/proto-rpc/examples/hello/hello.ts
  packages/proto-rpc/examples/routed-hello/routedhello.ts
  packages/proto-rpc/src/ClientTransport.ts
  packages/proto-rpc/src/ProtoCallContext.ts
  packages/proto-rpc/src/RpcCommunicator.ts
  packages/proto-rpc/src/ServerRegistry.ts
  packages/proto-rpc/src/index.ts
  packages/proto-rpc/src/types/textencoding.d.ts
  packages/proto-rpc/test/PeerID.ts
  packages/proto-rpc/test/UUID.ts
  packages/proto-rpc/test/integration/ClientRpcTransport.test.ts
  packages/proto-rpc/test/integration/toProtoRpcClient.test.ts
  packages/proto-rpc/test/unit/RpcCommunicator.test.ts
  packages/proto-rpc/test/utils.ts
Labels: dht

#796 Miner beneficiaries
  packages/broker/src/plugins/brubeckMiner/BrubeckMinerPlugin.ts
  packages/broker/src/plugins/brubeckMiner/config.schema.json
Labels: broker

#828 refactor(client): Simplify `Persistence`
  packages/client/src/encryption/GroupKeyStore.ts
  packages/client/src/utils/persistence/BrowserPersistence.ts
  packages/client/src/utils/persistence/Persistence.ts
  packages/client/src/utils/persistence/ServerPersistence.ts
  packages/client/test/unit/GroupKeyStore.test.ts
  packages/client/test/unit/GroupKeyStore2.test.ts
Labels: client

#829 feat(utils): Enhance `waitForEvent` and `withTimeout`
  packages/test-utils/src/utils.ts
  packages/utils/src/exports.ts
  packages/utils/src/waitForEvent.ts
  packages/utils/src/withTimeout.ts
  packages/utils/test/waitForEvent.test.ts
  packages/utils/test/withTimeout.test.ts
Labels: test-utils, utils

#831 refactor(client): Plain `client.id`
  packages/client/src/Container.ts
  packages/client/test/integration/multiple-clients.test.ts
  packages/client/test/unit/StreamrClient.test.ts
Labels: client

#837 Trackerless executables
  package-lock.json
  packages/dht/src/index.ts
  packages/trackerless-network/bin/bootstrap-node.ts
  packages/trackerless-network/bin/full-node.ts
  packages/trackerless-network/bin/network.ts
  packages/trackerless-network/package.json
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/RemoteRandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/end-to-end/random-graph-with-real-connections.test.ts
  packages/trackerless-network/test/integration/NetworkRpc.test.ts
  packages/trackerless-network/test/integration/Propagation.test.ts
  packages/trackerless-network/test/integration/RemoteRandomGraphNode.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
Labels: dht

#830 docs: fix subscriber plugin config desciption
  packages/broker/src/plugins/subscriber/config.schema.json
Labels: broker

#826 Groupkey exchange via proxies
  packages/client/src/NetworkNodeFacade.ts
  packages/client/test/end-to-end/ProxyPublishSubscribe.test.ts
  packages/network/src/logic/NetworkNode.ts
  packages/network/src/logic/Node.ts
  packages/network/src/logic/ProxyStreamConnectionManager.ts
  packages/network/src/logic/propagation/Propagation.ts
  packages/network/src/protocol/NodeToNode.ts
  packages/network/test/integration/proxy-connections.test.ts
  packages/network/test/integration/proxy-groupkey-exchange.test.ts
  packages/network/test/unit/Propagation.test.ts
  packages/protocol/src/protocol/control_layer/proxy_connection_request/ProxyConnectionRequest.ts
  packages/protocol/src/protocol/control_layer/proxy_connection_request/ProxyConnectionRequestSerializerV2.ts
  packages/protocol/test/unit/protocol/control_layer/ProxyConnectionRequest.test.ts
  packages/protocol/test/unit/protocol/control_layer/ProxyConnectionRequestSerializerV2.test.ts
Labels: network, client, protocol

#583 fix(client): `pullManyToOne` drops last messages
  packages/client/src/subscribe/MessageStream.ts
  packages/client/test/end-to-end/resend.test.ts
  packages/client/test/unit/MessageStream.test.ts
Labels: client

#839 feat(client): Pre-agreed encryption keys
  packages/client/CHANGELOG.md
  packages/client/README.md
  packages/client/src/Config.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/encryption/EncryptionUtil.ts
  packages/client/src/encryption/GroupKey.ts
  packages/client/src/encryption/GroupKeyStore.ts
  packages/client/src/encryption/GroupKeyStoreFactory.ts
  packages/client/src/encryption/KeyExchangeStream.ts
  packages/client/src/index-exports.ts
  packages/client/src/utils/persistence/ServerPersistence.ts
  packages/client/test/integration/Subscriber.test.ts
  packages/client/test/integration/SubscriberKeyExchange.test.ts
  packages/client/test/integration/parallel-key-exchange.test.ts
  packages/client/test/integration/pre-agreed-encryption-key.test.ts
  packages/client/test/integration/resend-and-subscribe.test.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/GroupKeyStore.test.ts
  packages/client/test/unit/GroupKeyStore2.test.ts
  packages/client/test/unit/ServerPersistence.test.ts
Labels: client, changelog

#841 feat(client): Remove `subscribeAll` and `resendAll`
  packages/client/CHANGELOG.md
  packages/client/src/StreamrClient.ts
  packages/client/src/subscribe/MessageStream.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/src/subscribe/Subscription.ts
  packages/client/src/utils/PushBuffer.ts
  packages/client/src/utils/PushPipeline.ts
  packages/client/test/end-to-end/resend.test.ts
  packages/client/test/integration/resend-all-partitions.test.ts
  packages/client/test/integration/subscribe-all-partitions.test.ts
  packages/client/test/unit/MessageStream.test.ts
Labels: client, changelog
