Repository streamr-dev/network, pull requests merged in 2022-01, with the labels that each got.

#324 cli-tools [NET-572]: Brubeck client support
  package-lock.json
  packages/broker/package.json
  packages/cli-tools/CHANGELOG.md
  packages/cli-tools/README.md
  packages/cli-tools/bin/common.ts
  packages/cli-tools/bin/streamr-misc.ts
  packages/cli-tools/bin/streamr-mock-data-generate.ts
  packages/cli-tools/bin/streamr-mock-data.ts
  packages/cli-tools/bin/streamr-storage-node-add-stream.ts
  packages/cli-tools/bin/streamr-storage-node-list-stream-parts.ts
  packages/cli-tools/bin/streamr-storage-node-list.ts
  packages/cli-tools/bin/streamr-storage-node-remove-stream.ts
  packages/cli-tools/bin/streamr-storage-node.ts
  packages/cli-tools/bin/streamr-stream-create.ts
  packages/cli-tools/bin/streamr-stream-grant-permission.ts
  packages/cli-tools/bin/streamr-stream-list.ts
  packages/cli-tools/bin/streamr-stream-publish.ts
  packages/cli-tools/bin/streamr-stream-resend-from.ts
  packages/cli-tools/bin/streamr-stream-resend-last.ts
  packages/cli-tools/bin/streamr-stream-resend-range.ts
  packages/cli-tools/bin/streamr-stream-resend.ts
  packages/cli-tools/bin/streamr-stream-revoke-permission.ts
  packages/cli-tools/bin/streamr-stream-show.ts
  packages/cli-tools/bin/streamr-stream-subscribe.ts
  packages/cli-tools/bin/streamr-stream.ts
  packages/cli-tools/bin/streamr.ts
  packages/cli-tools/package.json
  packages/cli-tools/src/client.ts
  packages/cli-tools/src/command.ts
  packages/cli-tools/src/common.ts
  packages/cli-tools/src/config.ts
  packages/cli-tools/src/create.ts
  packages/cli-tools/src/generate.ts
  packages/cli-tools/src/list.ts
  packages/cli-tools/src/logLevel.ts
  packages/cli-tools/src/permission.ts
  packages/cli-tools/src/publish.ts
  packages/cli-tools/src/resend.ts
  packages/cli-tools/src/show.ts
  packages/cli-tools/src/subscribe.ts
  packages/network/package.json
Labels: broker, network, cli-tools

#341 fix: add parity-node0 to broker streamr-docker-docker CI
  .github/workflows/broker.yml
Labels: ci, broker

#344 Net-625: multichain config
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/test/sequential/plugins/storage/CassandraNullPayloads.test.ts
  packages/client/src/ConfigBase.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/Ethereum.ts
  packages/client/src/NodeRegistry.ts
  packages/client/src/StreamRegistry.ts
  packages/client/src/config.schema.json
  packages/client/src/dataunion/Contracts.ts
  packages/client/src/dataunion/DataUnion.ts
  packages/client/src/dataunion/index.ts
  packages/client/test/integration/dataunion/TokenBalance.test.ts
  packages/client/test/integration/dataunion/adminFee.test.ts
  packages/client/test/integration/dataunion/member.test.ts
  packages/client/test/integration/dataunion/signature.test.ts
  packages/client/test/integration/dataunion/transfer.test.ts
  packages/client/test/integration/dataunion/withdraw.test.ts
  packages/client/test/integration/devEnvironment.ts
Labels: broker, client

#329 Net-589: Firehose metrics stream pattern
  packages/broker/src/plugins/metrics/MetricsPlugin.ts
  packages/broker/src/plugins/metrics/config.schema.json
  packages/broker/src/plugins/metrics/node/MetricsPublisher.ts
  packages/broker/src/plugins/metrics/node/NodeMetrics.ts
  packages/broker/test/integration/plugins/metrics/node/NodeMetrics.test.ts
  packages/broker/test/unit/plugins/metrics/node/MetricsPublisher.test.ts
  packages/client/src/StreamEndpoints.ts
Labels: broker, client

#346 Fix broker ci
  packages/broker/test/integration/plugins/metrics/node/NodeMetrics.test.ts
Labels: broker

#345 NET-610: address in stream.getPermissions()
  packages/cli-tools/bin/streamr-stream-show.ts
  packages/cli-tools/src/permission.ts
  packages/client/src/StreamRegistry.ts
  packages/client/test/integration/StreamEndpoints.test.ts
Labels: client, cli-tools

#348 GitHub actions cleanup
  .github/workflows/broker.yml
  .github/workflows/client-build.yml
  .github/workflows/client-code.yml
  .github/workflows/client-dataunions.yml
  .github/workflows/network-browser.yml
  .github/workflows/network.yml
  .github/workflows/protocol.yml
  .github/workflows/test-utils.yml
Labels: ci, broker, network, client, protocol, test-utils

#162 NET-441: include nodes with null location data to /locations EP
  packages/network/src/logic/tracker/trackerHttpEndpoints.ts
  packages/network/src/logic/tracker/trackerSummaryUtils.ts
  packages/network/test/integration/tracker-endpoints.test.ts
Labels: network

#349 Update Dockerfile
  .github/workflows/broker.yml
  Dockerfile
Labels: ci, broker

#352 NET-638: Remove NodeMetrics backfill
  packages/broker/src/plugins/metrics/node/MetricsPublisher.ts
  packages/broker/src/plugins/metrics/node/NodeMetrics.ts
Labels: broker

#351 NET-644: remove v1 serializers from protocol
  packages/network/test/unit/NegotiatedProtocolVersions.test.ts
  packages/protocol/src/protocol/control_layer/ControlMessage.ts
  packages/protocol/src/protocol/control_layer/broadcast_message/BroadcastMessageSerializerV1.ts
  packages/protocol/src/protocol/control_layer/error_response/ErrorResponseSerializerV1.ts
  packages/protocol/src/protocol/control_layer/index.ts
  packages/protocol/src/protocol/control_layer/publish_stream_connection_request/PublishStreamConnectionRequestSerializerV1.ts
  packages/protocol/src/protocol/control_layer/publish_stream_connection_response/PublishStreamConnectionResponseSerializerV1.ts
  packages/protocol/src/protocol/control_layer/unsubscribe_request/UnsubscribeRequestSerializerV1.ts
  packages/protocol/test/unit/protocol/control_layer/BroadcastMessageSerializerV1.test.ts
  packages/protocol/test/unit/protocol/control_layer/ErrorResponseSerializerV1.test.ts
  packages/protocol/test/unit/protocol/control_layer/PublishStreamConnectionRequestSerializerV1.test.ts
  packages/protocol/test/unit/protocol/control_layer/PublishStreamConnectionResponseSerializerV1.test.ts
  packages/protocol/test/unit/protocol/control_layer/UnsubscribeRequestSerializerV1.test.ts
Labels: network, protocol

#339 NET-629: Broker config file location
  packages/broker/bin/broker.js
  packages/broker/src/ConfigWizard.ts
  packages/broker/src/config.ts
  packages/broker/test/unit/ConfigWizard.test.ts
Labels: broker

#355 rm backwards compatibility hack from TrackerRegistry
  packages/network/src/logic/tracker/Tracker.ts
  packages/network/test/integration/multi-trackers.test.ts
  packages/network/test/unit/TrackerConnector.test.ts
  packages/network/test/unit/deprecated-tracker-status.test.ts
  packages/protocol/src/utils/TrackerRegistry.ts
  packages/protocol/test/integration/TrackerRegistry.test.ts
Labels: network, protocol

#354 protocol: rm old stuff
  packages/broker/test/integration/plugins/storage/BatchManager.test.ts
  packages/broker/test/integration/plugins/storage/Storage.test.ts
  packages/broker/test/sequential/plugins/storage/CassandraNullPayloads.test.ts
  packages/broker/test/unit/plugins/storage/DataQueryEndpoints.test.ts
  packages/client/src/MessageChain.ts
  packages/network/test/integration/node-to-node-protocol-version-negotiation.test.ts
  packages/network/test/unit/Propagation.test.ts
  packages/network/test/unit/PropagationTaskStore.test.ts
  packages/protocol/src/protocol/message_layer/MessageID.ts
  packages/protocol/src/protocol/message_layer/MessageIDStrict.ts
  packages/protocol/src/protocol/message_layer/StreamMessageSerializerV30.ts
  packages/protocol/src/protocol/message_layer/StreamMessageSerializerV31.ts
  packages/protocol/src/protocol/message_layer/StreamMessageSerializerV32.ts
  packages/protocol/src/protocol/message_layer/index.ts
  packages/protocol/test/benchmarks/deserialize.test.ts
  packages/protocol/test/benchmarks/validate.test.ts
  packages/protocol/test/unit/protocol/control_layer/BroadcastMessageSerializerV2.test.ts
  packages/protocol/test/unit/protocol/message_layer/GroupKeyAnnounce.test.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessage.test.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessageSerializerV30.test.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessageSerializerV31.test.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessageSerializerV32.test.ts
Labels: broker, network, client, protocol

#350 [NET-643]: feat: set client defaultconfig to use registries on Polygon mainnet
  packages/client/src/ConfigTest.ts
Labels: client

#359 StreamPartitioner: revert to use StreamEndpointsCached
  packages/client/src/StreamPartitioner.ts
Labels: client

#360 NET-598: Search streams
  packages/cli-tools/CHANGELOG.md
  packages/cli-tools/bin/streamr-stream-list.ts
  packages/cli-tools/bin/streamr-stream-search.ts
  packages/client/README.md
  packages/client/src/StreamEndpoints.ts
  packages/client/src/StreamRegistry.ts
  packages/client/src/index-exports.ts
  packages/client/test/integration/StreamEndpoints.test.ts
Labels: client, cli-tools

#364 NET-658: avoid warning logs during client integration tests
  packages/client/test/utils.ts
Labels: client

#365 NET-645: increase test-utils wait time to 20ms to fix/reduce flakyness
  packages/test-utils/test/utils.test.ts
Labels: test-utils

#363 StreamEndpoints.test.ts: attempt to rm delay between tests
  packages/client/test/integration/StreamEndpoints.test.ts
Labels: client

#366 ETH-213: update registries contracts to new proxified version in dev env
  package-lock.json
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/test/integration/broker.test.ts
  packages/broker/test/integration/plugins/metrics/node/NodeMetrics.test.ts
  packages/broker/test/integration/plugins/storage/DataMetadataEndpoints.test.ts
  packages/client/src/Config.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/ethereumArtifacts/NodeRegistry.d.ts
  packages/client/src/ethereumArtifacts/NodeRegistryAbi.json
  packages/client/src/ethereumArtifacts/StreamRegistry.d.ts
  packages/client/src/ethereumArtifacts/StreamRegistryAbi.json
  packages/client/src/ethereumArtifacts/StreamStorageRegistry.d.ts
  packages/client/src/ethereumArtifacts/StreamStorageRegistry.json
  packages/client/test/unit/Config.test.ts
  packages/protocol/test/integration/StorageNodeRegistry.test.ts
Labels: broker, client, protocol

#356 ETH-207: Create stream with ENS name
  packages/client/src/StreamRegistry.ts
  packages/client/test/integration/StreamEndpoints.test.ts
  packages/protocol/src/utils/StreamID.ts
  packages/protocol/test/unit/utils/StreamID.test.ts
Labels: client, protocol

#374 feat(ens): Start chainlink when running tests
  .github/workflows/client-code.yml
Labels: ci, client

#368 Net-364: no longer encrypt streams with public subscribe permissions
  packages/client/src/Encrypt.ts
  packages/client/src/Stream.ts
  packages/client/src/StreamEndpoints.ts
  packages/client/src/StreamEndpointsCached.ts
  packages/client/test/benchmarks/raw-pipeline.js
  packages/client/test/benchmarks/resend.js
  packages/client/test/browser/browser.html
  packages/client/test/flakey/EnvStressTest.test.js
  packages/client/test/integration/Encryption.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/StreamEndpoints.test.ts
  packages/protocol/src/utils/StreamMessageValidator.ts
  packages/protocol/test/benchmarks/validate.test.ts
  packages/protocol/test/unit/utils/StreamMessageValidator.test.ts
Labels: client, protocol

#358 NET-649: Harmonize address, domain, ensName naming when handling streams
  packages/client/src/StreamRegistry.ts
  packages/client/test/unit/StreamIDBuilder.test.ts
  packages/protocol/src/utils/StreamID.ts
  packages/protocol/src/utils/index.ts
  packages/protocol/src/utils/types.ts
  packages/protocol/test/unit/utils/StreamID.test.ts
Labels: client, protocol

#378 NET-672: Skip the unguarded test-breaking code
  packages/client/src/encryption/Encryption.ts
Labels: client

#376 NET-671: Export `ResendSubscription`
  packages/client/src/index-exports.ts
Labels: client

#377 NET-632: Remove stream.name
  packages/client/README.md
  packages/client/src/Stream.ts
  packages/client/test/flakey/EnvStressTest.test.js
  packages/client/test/integration/StreamEndpoints.test.ts
  packages/client/test/integration/StreamrClient.test.ts
Labels: client

#380 client: validate publish parameters
  packages/client/src/PublishPipeline.ts
  packages/client/test/unit/FakeStreamRegistry.ts
  packages/client/test/unit/Publisher.test.ts
Labels: client

#381 cli-tools: Rename partition-key argument in stream "publish command"
  packages/cli-tools/CHANGELOG.md
  packages/cli-tools/bin/streamr-stream-publish.ts
Labels: cli-tools

#382 test-utils: add logging to KeyServer
  packages/test-utils/src/utils.ts
Labels: test-utils

#367 Fix for supporting the currently deployed DU 2.2 contracts
  package-lock.json
  packages/client/package.json
  packages/client/src/dataunion/Contracts.ts
  packages/client/src/dataunion/abi.ts
  packages/client/src/dataunion/index.ts
Labels: client

#370 Rename safeGetDataUnion -> getDataUnion
  packages/client/CHANGELOG.md
  packages/client/README.md
  packages/client/src/dataunion/index.ts
  packages/client/test/integration/dataunion/calculate.test.ts
  packages/client/test/integration/dataunion/member.test.ts
  packages/client/test/integration/dataunion/signature.test.ts
  packages/client/test/integration/dataunion/stats.test.ts
  packages/client/test/integration/dataunion/transfer.test.ts
  packages/client/test/integration/dataunion/withdraw.test.ts
Labels: client

#384 NET-506: remove sorting of tracker registry list
  packages/protocol/src/utils/TrackerRegistry.ts
Labels: protocol

#383 Net-670: Add staking related logging to miner-plugin
  packages/broker/src/plugins/testnetMiner/TestnetMinerPlugin.ts
Labels: broker

#387 Added network-specific overrides to StreamRegistry
  packages/client/src/ConfigBase.ts
  packages/client/src/Ethereum.ts
  packages/client/src/StreamRegistry.ts
Labels: client

#255 NET-557: validate status messages before processing
  packages/network/package.json
  packages/network/src/connection/ws/AbstractWsEndpoint.ts
  packages/network/src/connection/ws/BrowserClientWsEndpoint.ts
  packages/network/src/connection/ws/NodeClientWsEndpoint.ts
  packages/network/src/helpers/SchemaValidators.ts
  packages/network/src/helpers/schemas.ts
  packages/network/src/identifiers.ts
  packages/network/src/logic/node/Node.ts
  packages/network/src/logic/tracker/Tracker.ts
  packages/network/src/protocol/TrackerServer.ts
  packages/network/test/integration/tracker-node-disconnects-on-invalid-status.test.ts
  packages/network/test/integration/tracker-node-status.test.ts
Labels: network

#386 feat(network): add backwards compatibility to tracker for TN3 status
  packages/network/src/logic/tracker/Tracker.ts
Labels: network

#388 NET-676: update stream list + rename 'testnet' mentions
  packages/broker/src/ConfigWizard.ts
  packages/broker/src/pluginRegistry.ts
  packages/broker/src/plugins/brubeckMiner/BrubeckMinerPlugin.ts
  packages/broker/src/plugins/brubeckMiner/config.schema.json
  packages/broker/src/plugins/subscriber/config.schema.json
  packages/broker/src/plugins/testnetMiner/config.schema.testnet1.json
  packages/broker/test/integration/plugins/brubeckMiner/BrubeckMinerPlugin.test.ts
  packages/client/src/Config.ts
  packages/client/test/unit/Config.test.ts
Labels: broker, client

#392 proxy publisher client async problems fixed
  packages/client/src/BrubeckNode.ts
  packages/client/test/integration/ProxyPublishing.test.ts
Labels: client

#393 NET-682: fix: pix possible issue with a stream being returned before it was cr…
  packages/client/src/StreamRegistry.ts
Labels: client

#397 ETH-215: Search stream by id and permissions
  packages/cli-tools/README.md
  packages/cli-tools/bin/streamr-stream-search.ts
  packages/cli-tools/src/common.ts
  packages/cli-tools/src/permission.ts
  packages/client/src/StreamRegistry.ts
  packages/client/src/index-exports.ts
  packages/client/src/searchStreams.ts
  packages/client/src/utils/GeneratorUtils.ts
  packages/client/src/utils/GraphQLClient.ts
  packages/client/test/integration/SearchStreams.test.ts
  packages/client/test/integration/StreamEndpoints.test.ts
Labels: client, cli-tools

#398 NET-615: Client: remove duplicate id field from Stream class
  packages/client/src/Stream.ts
  packages/client/test/integration/ProxyPublishing.test.ts
  packages/client/test/integration/StreamEndpoints.test.ts
Labels: client
