Repository streamr-dev/network, pull requests merged in 2023-11, with the labels that each got.

#2006 refactor(dht): Remove obsolete peer descriptor fields from RPC messages
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/RemoteConnectionLocker.ts
  packages/dht/src/connection/WebRTC/RemoteWebrtcConnector.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebSocket/RemoteWebSocketConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/dht/RemoteExternalApi.ts
  packages/dht/src/dht/registerExternalApiRpcMethods.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/dht/test/integration/WebRtcConnectorRpc.test.ts
  packages/dht/test/integration/WebSocketConnectorRpc.test.ts
  packages/dht/test/utils/utils.ts
Labels: dht

#2010 refactor(trackerless-network): Rename `P2PTransport`
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
  packages/trackerless-network/test/end-to-end/random-graph-with-real-connections.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/unit/RandomGraphNode.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

#2011 refactor(dht): Use `merge` to apply `DhtNode` defaults
  packages/dht/src/dht/DhtNode.ts
Labels: dht

#2007 refactor(dht): Remove `protocolVersion`
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ConnectorFacade.ts
  packages/dht/src/connection/Handshaker.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/ManagedWebRtcConnection.ts
  packages/dht/src/connection/RemoteConnectionLocker.ts
  packages/dht/src/connection/Simulator/SimulatorConnector.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2008 refactor(dht): Refactor `RecursiveFindReport`
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/find/RecursiveFindSession.ts
  packages/dht/src/dht/find/RecursiveFinder.ts
  packages/dht/src/dht/find/RemoteRecursiveFindSession.ts
  packages/dht/src/dht/registerExternalApiRpcMethods.ts
  packages/dht/src/helpers/protoClasses.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/unit/RecursiveFinder.test.ts
  packages/dht/test/utils/utils.ts
Labels: dht

#2012 refactor(dht): Rename some `DhtNode` options
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/store/DataStore.ts
Labels: dht

#1999 refactor(trackerless-network): Use `ILayer0` and `ILayer1`
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/ILayer0.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/random-graph-with-real-connections.test.ts
  packages/trackerless-network/test/integration/Propagation.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
  packages/trackerless-network/test/utils/mock/MockLayer0.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

#2000 refactor(trackerless-network): Rename `ILayer0` and `ILayer1`
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/EntryPointDiscovery.ts
  packages/trackerless-network/src/logic/Layer0Node.ts
  packages/trackerless-network/src/logic/Layer1Node.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/random-graph-with-real-connections.test.ts
  packages/trackerless-network/test/integration/Inspect.test.ts
  packages/trackerless-network/test/integration/Propagation.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
  packages/trackerless-network/test/integration/joining-streams-on-offline-peers.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/unit/EntrypointDiscovery.test.ts
  packages/trackerless-network/test/unit/RandomGraphNode.test.ts
  packages/trackerless-network/test/unit/StreamrNode.test.ts
  packages/trackerless-network/test/utils/mock/MockLayer0Node.ts
  packages/trackerless-network/test/utils/mock/MockLayer1Node.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

#1990 NET-1138: vote on suspect node improvements
  packages/broker/src/plugins/operator/ContractFacade.ts
  packages/broker/src/plugins/operator/OperatorFleetState.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/src/plugins/operator/config.schema.json
  packages/broker/src/plugins/operator/inspectSuspectNode.ts
  packages/broker/src/plugins/operator/inspectionUtils.ts
  packages/broker/src/plugins/operator/reviewSuspectNode.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/broker/test/unit/plugins/operator/ContractFacade.test.ts
  packages/broker/test/unit/plugins/operator/OperatorFleetState.test.ts
  packages/broker/test/unit/plugins/operator/inspectionUtils.test.ts
Labels: broker

#2013 refactor(dht): [NET-1157] Remove 4 unused events
  packages/broker/src/plugins/operator/heartbeatUtils.ts
  packages/broker/test/unit/plugins/operator/heartbeatUtils.test.ts
  packages/client/src/Config.ts
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/WebSocket/WebSocketConnectorRpcLocal.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/trackerless-network/src/logic/Layer1Node.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: broker, network, client, dht

#2015 refactor(dht): Rename `DhtRpcService`
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtNodeRpcRemote.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/find/RecursiveFinder.ts
  packages/dht/src/dht/registerExternalApiRpcMethods.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/dht/store/StoreRpcLocal.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/integration/DhtNodeRpcRemote.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/integration/RpcErrors.test.ts
  packages/dht/test/unit/RecursiveFinder.test.ts
  packages/dht/test/unit/Router.test.ts
  packages/dht/test/utils/utils.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2014 refactor(dht): Extract `FindRpc`
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/find/FindSessionRpcRemote.ts
  packages/dht/src/dht/find/RecursiveFindSession.ts
  packages/dht/src/dht/find/RecursiveFinder.ts
  packages/dht/src/dht/routing/FindRpcRemote.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RouterRpcRemote.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/unit/RecursiveFinder.test.ts
  packages/dht/test/utils/mock/RecursiveFinder.ts
  packages/dht/test/utils/utils.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2030 fix(DHT): NET-1140 fix critical memory leak in ListeningRpcCommunicator
  packages/dht/src/connection/webrtc/WebrtcConnectorRpcLocal.ts
  packages/dht/src/connection/websocket/WebsocketConnectorRpcLocal.ts
  packages/dht/src/dht/find/RecursiveFindSession.ts
  packages/dht/src/dht/find/RecursiveFinder.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/transport/ListeningRpcCommunicator.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
Labels: network, dht

#2023 refactor(dht): Remove `WebrtcConnectionRequest#connectionId`
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/webrtc/WebrtcConnectorRpcLocal.ts
  packages/dht/src/connection/webrtc/WebrtcConnectorRpcRemote.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/integration/WebrtcConnectorRpc.test.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2024 refactor(dht): Remove `DhtCallContext#incomingTargetDescriptor`
  packages/dht/src/connection/webrtc/WebrtcConnectorRpcLocal.ts
  packages/dht/src/rpc-protocol/DhtCallContext.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
Labels: dht

#2025 refactor(dht): Rename `ExternalApiRpc#findData`
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/ExternalApiRpcRemote.ts
  packages/dht/src/dht/registerExternalApiRpcMethods.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2027 refactor(dht): Simplify `ConnectionManager#send` peers
  packages/dht/src/connection/ConnectionManager.ts
Labels: dht

#2029 refactor(dht): Simplify length checks
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/connection/webrtc/WebrtcConnectorRpcLocal.ts
  packages/dht/src/connection/websocket/WebsocketConnectorRpcLocal.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/find/Finder.ts
  packages/dht/src/dht/routing/FindRpcRemote.ts
  packages/dht/src/dht/routing/RouterRpcRemote.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/test/benchmark/kademlia-simulation/SimulationNode.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network, dht

#2032 refactor(dht, trackerless-network): Convert arrow method to class methods
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/Handshaker.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/websocket/WebsocketConnectorRpcLocal.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/unit/UUID.test.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/unit/NodeList.test.ts
Labels: network, dht

#2031 refactor(dht): `ServiceID` type
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/ConnectionLockHandler.ts
  packages/dht/src/connection/ConnectionLockRpcRemote.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/DhtNodeRpcRemote.ts
  packages/dht/src/dht/contact/Remote.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/find/FindSession.ts
  packages/dht/src/dht/find/Finder.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/store/StoreRpcLocal.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/src/transport/ListeningRpcCommunicator.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/dht/src/types/ServiceID.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2033 refactor(dht): Simplify router `NO_CANDIDATES_FOUND` error handling
  packages/dht/src/connection/websocket/ServerWebsocket.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RoutingSession.ts
Labels: dht

#2034 refactor(dht): Extract `DhtNodeRpcLocal`
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtNodeRpcLocal.ts
Labels: dht

#2035 refactor(dht): Extract `ConnectionLockRpcLocal`
  packages/dht/src/connection/ConnectionLockRpcLocal.ts
  packages/dht/src/connection/ConnectionManager.ts
Labels: dht

#2036 refactor(dht): Extract `RouterRpcLocal`
  packages/dht/src/dht/find/Finder.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RouterRpcLocal.ts
  packages/dht/test/unit/Router.test.ts
Labels: dht

#2041 refactor(dht): Extract `ExternalApiRpcLocal`
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/ExternalApiRpcLocal.ts
  packages/dht/src/dht/registerExternalApiRpcMethods.ts
Labels: dht

#2042 refactor(dht): Extract `FindRpcLocal` and `FindSessionRpcLocal`
  packages/dht/src/dht/find/FindRpcLocal.ts
  packages/dht/src/dht/find/FindSession.ts
  packages/dht/src/dht/find/FindSessionRpcLocal.ts
  packages/dht/src/dht/find/Finder.ts
  packages/dht/test/unit/Finder.test.ts
  packages/dht/test/unit/Router.test.ts
  packages/dht/test/utils/FakeRpcCommunicator.ts
  packages/dht/test/utils/mock/Finder.ts
  packages/dht/test/utils/utils.ts
Labels: dht

#2045 CI trigger: `100.0.0-pretestnet.1`
  packages/dht/src/connection/WebRTC/WebRtcConnectorRpcLocal.ts
  packages/dht/src/connection/WebSocket/WebSocketConnectorRpcLocal.ts
  packages/dht/src/dht/find/RecursiveFindSession.ts
  packages/dht/src/dht/find/RecursiveFinder.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/transport/ListeningRpcCommunicator.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
Labels: network, dht

#2028 refactor(dht): Remove `RouteMessageWrapper#previousPeer`
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/find/FindRpcLocal.ts
  packages/dht/src/dht/find/Finder.ts
  packages/dht/src/dht/routing/FindRpcRemote.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RouterRpcRemote.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/dht/routing/getPreviousPeer.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2050 refactor(dht): Remove redundant `WebsocketConnection` fields
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/websocket/WebsocketConnectorRpcLocal.ts
  packages/dht/src/connection/websocket/WebsocketConnectorRpcRemote.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2051 refactor(dht): Extract `WebrtcConnector`
  packages/dht/src/connection/ConnectorFacade.ts
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/connection/webrtc/WebrtcConnectorRpcLocal.ts
  packages/dht/src/connection/webrtc/iceServerAsString.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/exports.ts
  packages/dht/test/unit/webrtcReplaceInternalIpWithExternalIp.test.ts
Labels: dht

#2054 fix(dht): NET 1170 reduce ws log levels
  packages/dht/src/connection/websocket/ClientWebsocket.ts
  packages/dht/src/connection/websocket/ServerWebsocket.ts
Labels: dht

#2047 fix(DHT): Graceful leaving and connection improvements
  packages/dht/src/connection/ConnectionLockHandler.ts
  packages/dht/src/connection/ConnectionLockRpcLocal.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/IConnection.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/simulator/SimulatorConnection.ts
  packages/dht/src/connection/simulator/SimulatorConnector.ts
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/connection/websocket/ClientWebsocket.ts
  packages/dht/src/connection/websocket/ServerWebsocket.ts
  packages/dht/src/connection/websocket/WebsocketConnectorRpcLocal.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtNodeRpcLocal.ts
  packages/dht/src/dht/DhtNodeRpcRemote.ts
  packages/dht/src/transport/ITransport.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
Labels: network, dht

#2043 feat(DHT): NET-1150 estimate rpc request timeouts
  packages/dht/src/connection/websocket/WebsocketConnectorRpcLocal.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtNodeRpcRemote.ts
  packages/dht/src/dht/contact/Remote.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/find/Finder.ts
  packages/dht/src/dht/routing/FindRpcRemote.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RouterRpcRemote.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/dht/store/StoreRpcLocal.ts
  packages/dht/src/dht/store/StoreRpcRemote.ts
  packages/dht/src/exports.ts
  packages/dht/src/helpers/Connectivity.ts
  packages/dht/test/unit/ConnectivityHelpers.test.ts
  packages/dht/test/utils/utils.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/src/logic/proxy/ProxyConnectionRpcRemote.ts
  packages/trackerless-network/test/unit/Handshaker.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network, dht

#2055 refactor(dht): Remove redundant target peer checks
  packages/dht/src/connection/webrtc/WebrtcConnectorRpcLocal.ts
Labels: dht

#2057 test(dht): Memory leak test
  package-lock.json
  packages/dht/karma.config.js
  packages/dht/package.json
  packages/dht/test/end-to-end/memory-leak.test.ts
Labels: dht

#2056 refactor(dht): Extract `WebsocketConnector`
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/ConnectorFacade.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
  packages/dht/src/connection/websocket/WebsocketConnectorRpcLocal.ts
  packages/dht/test/unit/WebsocketConnector.test.ts
Labels: dht

#2059 NET-1165: inspection over time
  packages/broker/src/plugins/operator/MaintainTopologyHelper.ts
  packages/broker/src/plugins/operator/MaintainTopologyService.ts
  packages/broker/src/plugins/operator/OperatorFleetState.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/src/plugins/operator/checkOperatorValueBreach.ts
  packages/broker/src/plugins/operator/inspectOverTime.ts
  packages/broker/src/plugins/operator/inspectRandomNode.ts
  packages/broker/src/plugins/operator/inspectionUtils.ts
  packages/broker/src/plugins/operator/reviewSuspectNode.ts
  packages/broker/test/unit/plugins/operator/inspectRandomNode.test.ts
  packages/broker/test/unit/plugins/operator/inspectionUtils.test.ts
  packages/utils/src/Logger.ts
  packages/utils/test/Logger.test.ts
Labels: broker, utils

#2063 fix(DHT): Disable WS TLS after failed post-autocertification connectivity checks
  packages/autocertifier-client/src/AutoCertifierClient.ts
  packages/dht/src/connection/ConnectorFacade.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
Labels: dht

#2076 NET-1179 update default config to match Polygon prod values
  packages/client/src/config.schema.json
Labels: client

#2074 refactor(dht) ManagedConnection send() refactor
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/websocket/ClientWebsocket.ts
  packages/dht/src/connection/websocket/ServerWebsocket.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/test/integration/WebrtcConnectionManagement.test.ts
Labels: dht

#2085 update chromedriver to 119
  package-lock.json
  packages/client/package.json
Labels: client

#2083 fix(dht): webrtc browser build
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
Labels: dht

#1904 fix(DHT): WS server rejects connections if PeerDescriptor is invalid
  packages/autocertifier-server/src/StreamrChallenger.ts
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/Handshaker.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/ManagedWebrtcConnection.ts
  packages/dht/src/connection/simulator/SimulatorConnector.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/connection/webrtc/WebrtcConnectorRpcLocal.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/integration/ConnectionLocking.test.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/Find.test.ts
  packages/dht/test/integration/MultipleEntryPointJoining.test.ts
  packages/dht/test/integration/ScaleDownDht.test.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/StoreAndDelete.test.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/test/integration/Inspect.test.ts
  packages/trackerless-network/test/integration/joining-streams-on-offline-peers.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network, dht

#2067 refactor(dht): `WebsocketServer` actions
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
Labels: dht

#2072 fix(dht): Log node id instead of peer key
  packages/dht/src/connection/ConnectionLockRpcLocal.ts
  packages/dht/src/connection/ConnectionLockRpcRemote.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/simulator/SimulatorConnection.ts
  packages/dht/src/connection/simulator/SimulatorConnector.ts
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/connection/websocket/WebsocketConnectorRpcRemote.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtNodeRpcLocal.ts
  packages/dht/src/dht/DhtNodeRpcRemote.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/find/FindRpcLocal.ts
  packages/dht/src/dht/routing/FindRpcRemote.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RouterRpcLocal.ts
  packages/dht/src/dht/routing/RouterRpcRemote.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/dht/store/StoreRpcLocal.ts
  packages/dht/src/dht/store/StoreRpcRemote.ts
  packages/dht/src/helpers/peerIdFromPeerDescriptor.ts
  packages/dht/test/benchmark/Find.test.ts
  packages/dht/test/benchmark/KademliaCorrectness.test.ts
  packages/dht/test/integration/MigrateData.test.ts
  packages/dht/test/integration/ScaleDownDht.test.ts
Labels: dht

#2069 fix(dht, trackerless-network): Stop functionality in `DhtNode` and `StreamrNode`
  packages/dht/src/dht/DhtNode.ts
  packages/dht/test/utils/utils.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/integration/NetworkStackStoppedDuringStart.test.ts
Labels: network, dht

#2078 fix(trackerless-network): Async `StreamPartDelivery#stop`
  packages/broker/src/plugins/storage/StoragePlugin.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
  packages/trackerless-network/test/unit/StreamrNode.test.ts
Labels: broker, network, client

#2079 NET-1159: avoid raising flag for operators that have already been flagged
  packages/broker/src/plugins/operator/ContractFacade.ts
  packages/broker/src/plugins/operator/inspectRandomNode.ts
  packages/broker/src/plugins/operator/inspectionUtils.ts
Labels: broker

#2091 fix(dht): Get contact typing fix
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/contact/ContactList.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
Labels: network, dht

#2089 fix(dht, trackerless-network): Strict boolean expressions
  packages/dht/src/connection/ConnectionLockHandler.ts
  packages/dht/src/connection/ConnectorFacade.ts
  packages/dht/src/connection/simulator/Simulator.ts
  packages/dht/src/connection/simulator/SimulatorConnection.ts
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/connection/webrtc/WebrtcConnectorRpcLocal.ts
  packages/dht/src/connection/webrtc/iceServerAsString.ts
  packages/dht/src/connection/websocket/ClientWebsocket.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/contact/ContactList.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/find/FindSession.ts
  packages/dht/src/dht/find/Finder.ts
  packages/dht/src/dht/routing/RouterRpcLocal.ts
  packages/dht/src/dht/store/LocalDataStore.ts
  packages/dht/src/helpers/PeerID.ts
  packages/dht/src/helpers/UUID.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
Labels: network, dht

#2093 fix(dht): remove undefined checks in find logic
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/find/FindSession.ts
  packages/dht/src/dht/find/FindSessionRpcLocal.ts
  packages/dht/src/dht/find/Finder.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
Labels: dht

#2060 test(dht): Parallel joining
  packages/dht/test/end-to-end/memory-leak.test.ts
Labels: dht

#2066 refactor(dht): Extract `connectivityRequestHandler`
  packages/dht/karma.config.js
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/connectivityRequestHandler.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
  packages/dht/test/unit/connectivityRequestHandler.test.ts
Labels: dht

#2090 refactor(dht): Remove obsolete `setActive` parameters
  packages/dht/src/dht/contact/ContactList.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/find/Finder.ts
  packages/dht/test/unit/Finder.test.ts
Labels: dht

#2068 refactor(dht): Rename `Remote`
  packages/dht/src/connection/ConnectionLockRpcRemote.ts
  packages/dht/src/connection/webrtc/WebrtcConnectorRpcRemote.ts
  packages/dht/src/connection/websocket/WebsocketConnectorRpcRemote.ts
  packages/dht/src/dht/DhtNodeRpcRemote.ts
  packages/dht/src/dht/ExternalApiRpcRemote.ts
  packages/dht/src/dht/contact/RpcRemote.ts
  packages/dht/src/dht/find/FindSessionRpcRemote.ts
  packages/dht/src/dht/routing/FindRpcRemote.ts
  packages/dht/src/dht/routing/RouterRpcRemote.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/dht/store/StoreRpcRemote.ts
  packages/dht/src/exports.ts
  packages/trackerless-network/src/logic/DeliveryRpcRemote.ts
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakeRpcRemote.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateRpcRemote.ts
  packages/trackerless-network/src/logic/proxy/ProxyConnectionRpcRemote.ts
  packages/trackerless-network/src/logic/temporary-connection/TemporaryConnectionRpcRemote.ts
Labels: network, dht

#2101 fix(DHT): Ensure that Messages are routed to existing connections only
  packages/dht/src/dht/routing/FindRpcRemote.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RouterRpcRemote.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/test/unit/RoutingSession.test.ts
Labels: dht

#2098 refactor(dht): Remove `LockResponse#reason`
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2097 refactor(dht): Rename data migration
  packages/dht/karma.config.js
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/ExternalApiRpcLocal.ts
  packages/dht/src/dht/ExternalApiRpcRemote.ts
  packages/dht/src/dht/store/LocalDataStore.ts
  packages/dht/src/dht/store/StoreRpcLocal.ts
  packages/dht/src/dht/store/StoreRpcRemote.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/integration/ReplicateData.test.ts
  packages/dht/test/utils/utils.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2071 ETH-701 expired flag closer broker operator plugin
  .vscode/launch.json
  packages/broker/.gitignore
  packages/broker/.vscode/launch.json
  packages/broker/src/plugins/operator/ContractFacade.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/src/plugins/operator/closeExpiredFlags.ts
  packages/broker/src/plugins/operator/config.schema.json
  packages/broker/test/unit/plugins/operator/closeExpiredFlags.test.ts
Labels: broker

#2061 utils(docs): add warning to compose abort signals
  packages/utils/src/composeAbortSignals.ts
Labels: utils

#2107 deps: bump `streamr/config` to 5.0.1
  package-lock.json
  packages/broker/package.json
  packages/client/package.json
Labels: broker, client

#2106 fix(dht, trackerless-network): Fix some TypeScript `eslint` warnings
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/ConnectorFacade.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/connectivityRequestHandler.ts
  packages/dht/src/connection/simulator/Simulator.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/getPreviousPeer.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/trackerless-network/src/logic/EntryPointDiscovery.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborFinder.ts
  packages/trackerless-network/src/logic/propagation/Propagation.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
Labels: network, dht

#2110 fix(DHT): Fix external store storer PeerDescriptor
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/ExternalApiRpcLocal.ts
  packages/dht/src/dht/store/StoreRpcLocal.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/integration/DhtNodeExternalAPI.test.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/StoreAndDelete.test.ts
  packages/dht/test/integration/StoreOnDhtWithTwoNodes.test.ts
  packages/dht/test/utils/utils.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2115 test(dht): Use random regions in `ScaleDownDht` test
  packages/dht/test/integration/ScaleDownDht.test.ts
Labels: dht

#2114 refactor: Unify throw type
  packages/autocertifier-client/src/AutoCertifierClient.ts
  packages/broker/src/plugins/storage/BucketManager.ts
  packages/broker/test/integration/plugins/storage/BatchManager.test.ts
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/simulator/Simulator.ts
  packages/dht/src/dht/store/StoreRpcRemote.ts
  packages/dht/test/benchmark/kademlia-simulation/KademliaSimulation.ts
  packages/dht/test/utils/mock/Router.ts
  packages/dht/test/utils/utils.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
Labels: broker, network, dht

#2112 test(DHT): use random ids in store tests
  packages/dht/test/integration/DhtNodeExternalAPI.test.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/StoreAndDelete.test.ts
  packages/dht/test/integration/StoreOnDhtWithTwoNodes.test.ts
Labels: dht

#2111 refactor(dht): Simplify `RouteMessageAck` handling
  packages/dht/src/dht/find/Finder.ts
  packages/dht/test/unit/Finder.test.ts
Labels: dht

#2087 feat(dht) Router send sad paths
  packages/dht/src/dht/routing/Router.ts
Labels: dht

#2126 NET-1201: fetch first 1k operators in get operator addresses
  packages/broker/src/plugins/operator/ContractFacade.ts
Labels: broker

#2118 refactor(dht): Rename `DataEntry` fields
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/ExternalApiRpcLocal.ts
  packages/dht/src/dht/ExternalApiRpcRemote.ts
  packages/dht/src/dht/find/FindSession.ts
  packages/dht/src/dht/store/LocalDataStore.ts
  packages/dht/src/dht/store/StoreRpcLocal.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/integration/DhtNodeExternalAPI.test.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/StoreRpcRemote.test.ts
  packages/dht/test/unit/LocalDataStore.test.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/test/unit/EntrypointDiscovery.test.ts
Labels: network, dht

#2122 feat(DHT): NET-1192 DHT store delete operation within Find
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/ExternalApiRpcLocal.ts
  packages/dht/src/dht/find/FindSession.ts
  packages/dht/src/dht/find/Finder.ts
  packages/dht/src/dht/store/StoreRpcLocal.ts
  packages/dht/src/dht/store/StoreRpcRemote.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/unit/Finder.test.ts
  packages/dht/test/utils/utils.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2124 feat(trackerless-network): NET-1192 nodes delete stream entry point data on destroy
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/find/Finder.ts
  packages/dht/test/integration/StoreAndDelete.test.ts
  packages/trackerless-network/src/logic/Layer0Node.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
Labels: network, dht

#2131 refactor(client): [NET-1060] Remove `mainChainRPCs`
  docs/docs/guides/become-an-operator.md
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/client/src/Config.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/Ethereum.ts
  packages/client/src/config.schema.json
  packages/client/src/generated/validateConfig.js
  packages/client/test/unit/Config.test.ts
Labels: broker, client

#2133 deps: `@streamr/config` 5.0.3
  package-lock.json
  packages/broker/package.json
  packages/client/package.json
  packages/client/src/ConfigTest.ts
  packages/client/src/generated/validateConfig.js
  packages/client/src/utils/utils.ts
Labels: broker, client

#2135 test(dht): Refactor `LocalDataStore` test
  packages/dht/src/dht/find/Finder.ts
  packages/dht/src/dht/store/LocalDataStore.ts
  packages/dht/test/integration/ReplicateData.test.ts
  packages/dht/test/unit/LocalDataStore.test.ts
Labels: dht

#2136 refactor(dht): `LocalDataStore` types
  packages/dht/src/dht/find/Finder.ts
  packages/dht/src/dht/store/LocalDataStore.ts
  packages/dht/src/dht/store/StoreRpcLocal.ts
  packages/dht/test/integration/ReplicateData.test.ts
  packages/dht/test/unit/LocalDataStore.test.ts
Labels: dht

#2137 refactor(dht): Simplify `StoreRpcLocal`
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/store/StoreRpcLocal.ts
  packages/dht/test/integration/ReplicateData.test.ts
Labels: dht

#2138 refactor(client): Rename config preset option
  packages/broker/test/integration/config.test.ts
  packages/client/src/Config.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/config.schema.json
  packages/client/src/exports.ts
  packages/client/src/generated/validateConfig.js
  packages/client/test/unit/Config.test.ts
Labels: broker, client
