Repository streamr-dev/network, pull requests merged in 2023-06, with the labels that each got.

#1453 NET-846: fix memory leak in RecursiveFindSession
  packages/dht/src/dht/find/RecursiveFindSession.ts
  packages/dht/src/dht/find/RecursiveFinder.ts
Labels: dht

#1446 NET-927: Run broker tests on dev broker entrypoints
  packages/broker/test/integration/broker-subscriptions.test.ts
  packages/broker/test/integration/createMessagingPluginTest.ts
  packages/broker/test/integration/multiple-publisher-plugins.test.ts
  packages/broker/test/integration/plugins/mqtt/Bridge.test.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/integration/plugins/storage/StorageNode.test.ts
  packages/broker/test/integration/plugins/storage/dataMetadataEndpoint.test.ts
  packages/broker/test/utils.ts
Labels: broker

#1447 feat(broker): [NET-978] Support `partitionKey` and `partitionKeyField` in MQTT plugin
  packages/broker/plugins.md
  packages/broker/src/helpers/partitions.ts
  packages/broker/src/plugins/mqtt/Bridge.ts
  packages/broker/src/plugins/websocket/PublishConnection.ts
  packages/broker/test/unit/plugins/mqtt/Bridge.test.ts
Labels: broker

#1458 fix(client): Subscribe pipeline clears cache on decrypt error
  CHANGELOG.md
  packages/client/src/subscribe/subscribePipeline.ts
  packages/client/test/unit/subscribePipeline.test.ts
Labels: client, docs

#1459 test(client): Unit test for resend functionality
  packages/client/src/HttpUtil.ts
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/subscribePipeline.ts
  packages/client/test/test-utils/fake/FakeHttpUtil.ts
  packages/client/test/unit/HttpUtil.test.ts
  packages/client/test/unit/Resends.test.ts
Labels: client

#1461 fix(broker): Default value for resend range queries
  packages/broker/CHANGELOG.md
  packages/broker/src/plugins/storage/dataQueryEndpoint.ts
Labels: broker, changelog

#1462 fix(client): Default value for resend range queries
  CHANGELOG.md
  packages/client/src/subscribe/Resends.ts
Labels: client, docs

#1460 feat(client): [NET-585]: Gap fill in resends
  CHANGELOG.md
  packages/client/src/Stream.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/ResendSubscription.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/src/subscribe/subscribePipeline.ts
  packages/client/test/unit/OrderMessages.test.ts
  packages/client/test/unit/Resends.test.ts
  packages/client/test/unit/subscribePipeline.test.ts
Labels: client, docs

#1463 refactor(client): Simplify `Resends`
  packages/client/src/StreamrClient.ts
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/ResendSubscription.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/test/unit/OrderMessages.test.ts
  packages/client/test/unit/Resends.test.ts
Labels: client

#1468 test(client): Parallel subscribe unsubscribe
  packages/client/test/integration/Subscriber2.test.ts
Labels: client

#1465 refactor(client): Use normalized data types in `Subscriber`
  packages/client/src/StreamIDBuilder.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/src/utils/promises.ts
  packages/client/test/integration/Subscriber2.test.ts
  packages/client/test/unit/StreamIDBuilder.test.ts
Labels: client

#1464 refactor(client): `MessagePipelineFactory`
  packages/client/src/StreamrClient.ts
  packages/client/src/subscribe/MessagePipelineFactory.ts
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/ResendSubscription.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/src/subscribe/messagePipeline.ts
  packages/client/src/utils/validateStreamMessage.ts
  packages/client/test/unit/OrderMessages.test.ts
  packages/client/test/unit/Resends.test.ts
  packages/client/test/unit/messagePipeline.test.ts
Labels: client

#1466 refactor(client): Extract `waitForStorage` function
  packages/client/src/StreamrClient.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/waitForStorage.ts
Labels: client

#1472 refactor(client): Simplify `Authentication` handling in `StreamrClient` constructor
  packages/client/src/StreamrClient.ts
Labels: client

#1474 test(client): Skip invalid messages
  packages/client/src/subscribe/MessageStream.ts
  packages/client/test/integration/Subscriber2.test.ts
Labels: client

#1475 refactor(client): All message pipeline tasks in `MsgChainUtil` callback
  packages/client/src/subscribe/messagePipeline.ts
  packages/client/src/utils/Pipeline.ts
  packages/client/src/utils/PushBuffer.ts
  packages/client/src/utils/PushPipeline.ts
  packages/client/test/integration/Subscriber2.test.ts
  packages/client/test/test-utils/fake/FakeNetwork.ts
  packages/client/test/unit/Pipeline.test.ts
Labels: client

#1479 fix(client): Pipeline error handling
  CHANGELOG.md
  packages/client/src/subscribe/MsgChainUtil.ts
  packages/client/src/subscribe/messagePipeline.ts
  packages/client/test/unit/messagePipeline.test.ts
Labels: client, docs

#1485 NET-939: Proxy pattern, can open and close connections with data flow.
  packages/dht/src/exports.ts
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/logic/IStreamNode.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamEntryPointDiscovery.ts
  packages/trackerless-network/src/logic/StreamNodeServer.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionClient.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionServer.ts
  packages/trackerless-network/src/logic/proxy/RemoteProxyServer.ts
  packages/trackerless-network/src/proto/google/protobuf/any.ts
  packages/trackerless-network/src/proto/google/protobuf/empty.ts
  packages/trackerless-network/src/proto/google/protobuf/timestamp.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.client.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.server.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/unit/StreamNodeServer.test.ts
Labels: dht

#1473 refactor(client): Extract resend pipeline
  packages/client/src/Stream.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/subscribe/ResendSubscription.ts
  packages/client/src/subscribe/Subscription.ts
  packages/client/src/subscribe/resendSubscription.ts
  packages/client/test/integration/Resends2.test.ts
  packages/client/test/test-utils/fake/FakeEnvironment.ts
  packages/client/test/test-utils/fake/FakeHttpUtil.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
  packages/client/test/test-utils/fake/FakeStreamStorageRegistry.ts
Labels: client

#1489 refactor(client): Message pipeline is `PushPipeline`
  packages/client/src/Stream.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/subscribe/MessagePipelineFactory.ts
  packages/client/src/subscribe/MessageStream.ts
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/src/subscribe/messagePipeline.ts
  packages/client/src/subscribe/resendSubscription.ts
  packages/client/src/subscribe/waitForStorage.ts
  packages/client/src/utils/waitForAssignmentsToPropagate.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/unit/OrderMessages.test.ts
  packages/client/test/unit/Resends.test.ts
  packages/client/test/unit/messagePipeline.test.ts
  packages/client/test/unit/waitForAssignmentsToPropagate.test.ts
Labels: client

#1490 chore(client): Service dependency order
  packages/client/src/ContractFactory.ts
  packages/client/src/MetricsPublisher.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/Stream.ts
  packages/client/src/StreamFactory.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/encryption/GroupKeyManager.ts
  packages/client/src/encryption/LitProtocolFacade.ts
  packages/client/src/encryption/LocalGroupKeyStore.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/publish/Publisher.ts
  packages/client/src/registry/StorageNodeRegistry.ts
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/registry/StreamRegistryCached.ts
  packages/client/src/registry/StreamStorageRegistry.ts
  packages/client/src/subscribe/MessagePipelineFactory.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/src/subscribe/messagePipeline.ts
  packages/client/src/utils/HttpFetcher.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/GroupKeyManager.test.ts
  packages/client/test/unit/MetricsPublisher.test.ts
  packages/client/test/unit/Publisher.test.ts
  packages/client/test/unit/Resends.test.ts
  packages/client/test/unit/Stream.test.ts
  packages/client/test/unit/messagePipeline.test.ts
Labels: client

#1498 refactor(client): The Graph timeout config
  packages/client/src/Config.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/config.schema.json
  packages/client/src/utils/HttpFetcher.ts
  packages/client/src/utils/utils.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
Labels: client

#1504 test(client): Move `waitForStorage` test
  packages/client/test/integration/Resends.test.ts
  packages/client/test/integration/waitForStorage.test.ts
Labels: client

#1491 refactor(client): Throw `StreamrClientError` if stream not found from registry
  packages/client/src/StreamrClient.ts
  packages/client/src/StreamrClientError.ts
  packages/client/src/registry/StreamRegistry.ts
  packages/client/test/end-to-end/StreamRegistry.test.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
Labels: client

#1506 refactor(client): Throw `StreamrClientError` if node not found from registry
  packages/client/src/StreamrClientError.ts
  packages/client/src/registry/StorageNodeRegistry.ts
Labels: client

#1500 test(client): Fake environment cleanup
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/NetworkNodeFacade.test.ts
  packages/client/test/integration/Resends2.test.ts
  packages/client/test/integration/Sequencing.test.ts
  packages/client/test/integration/Stream.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/integration/Subscriber2.test.ts
  packages/client/test/integration/basics.test.ts
  packages/client/test/integration/client-destroy.test.ts
  packages/client/test/integration/events.test.ts
  packages/client/test/integration/gap-fill.test.ts
  packages/client/test/integration/invalid-messages.test.ts
  packages/client/test/integration/multiple-clients.test.ts
  packages/client/test/integration/parallel-key-exchange.test.ts
  packages/client/test/integration/parallel-publish.test.ts
  packages/client/test/integration/pre-agreed-encryption-key.test.ts
  packages/client/test/integration/publisher-key-reuse.test.ts
  packages/client/test/integration/revoke-permissions.test.ts
  packages/client/test/integration/sequential-resend-subscribe.test.ts
  packages/client/test/integration/waitForStorage.test.ts
  packages/client/test/test-utils/fake/FakeEnvironment.ts
Labels: client

#1503 test(client): Fake storage node is a server
  packages/client/src/subscribe/Resends.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/Resends2.test.ts
  packages/client/test/integration/Stream.test.ts
  packages/client/test/integration/gap-fill.test.ts
  packages/client/test/integration/multiple-clients.test.ts
  packages/client/test/integration/resend-and-subscribe.test.ts
  packages/client/test/integration/resend-with-existing-key.test.ts
  packages/client/test/integration/revoke-permissions.test.ts
  packages/client/test/integration/sequential-resend-subscribe.test.ts
  packages/client/test/integration/unsubscribe.test.ts
  packages/client/test/integration/waitForStorage.test.ts
  packages/client/test/test-utils/fake/FakeEnvironment.ts
  packages/client/test/test-utils/fake/FakeHttpUtil.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
Labels: client

#1512 refactor(client): Remove `HttpUtils`
  packages/client/src/HttpUtil.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/utils/utils.ts
  packages/client/test/integration/Resends.test.ts
  packages/client/test/unit/HttpUtil.test.ts
  packages/client/test/unit/Resends.test.ts
  packages/client/test/unit/utils.test.ts
Labels: client

#1501 Net 846 virtual time experimentation
  .eslintrc.js
  .gitignore
  package-lock.json
  packages/browser-test-runner/webpack.config.js
  packages/dht/package.json
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/Simulator/Simulator.ts
  packages/dht/src/connection/Simulator/SimulatorConnection.ts
  packages/dht/src/connection/WebSocket/ServerWebSocket.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketServer.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/trackerless-network/log.txt
  packages/trackerless-network/package.json
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/PeerList.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/integration/NetworkNode.test.ts
  packages/trackerless-network/test/integration/NetworkRpc.test.ts
  packages/trackerless-network/test/integration/NetworkStack.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/RemoteHandshaker.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/tsconfig.node.json
  packages/utils/src/abortableTimers.ts
Labels: dht, utils

#1515 NET-846: Fix flakyness in finding data under churn
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/find/RecursiveFindSession.ts
  packages/dht/src/dht/find/RecursiveFinder.ts
  packages/dht/src/dht/store/DataStore.ts
  packages/dht/src/dht/store/LocalDataStore.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/unit/LocalDataStore.test.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/test/unit/StreamEntrypointDiscovery.test.ts
Labels: dht

#1540 NET-986: trackerless side
  packages/dht/src/dht/DhtNode.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
Labels: dht

#1541 NET-986: client
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
Labels: client

#1547 add config for acceptProxyConnections
  packages/client/src/config.schema.json
Labels: client

#1549 Remove previousPeer field from StreamMessage
  packages/dht/src/exports.ts
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/logic/StreamNodeServer.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/unit/StreamNodeServer.test.ts
Labels: dht

#1555 Only call the layer0 dht join once when joining as a regular node on streams after setting proxies
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/trackerless-network/src/NetworkStack.ts
Labels: dht

#1557 ci: Add the trackerless network to the labeler
  .github/labeler.yml
Labels: ci

#1550 test(client): Test server utility
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Resends.test.ts
  packages/client/test/unit/utils.test.ts
  packages/test-utils/src/index.ts
Labels: client, test-utils

#1543 Maintain topology service
  .github/workflows/validate.yml
  packages/broker/.vscode/launch.json
  packages/broker/src/plugins/operator/FakeOperatorClient.ts
  packages/broker/src/plugins/operator/MaintainTopologyHelper.ts
  packages/broker/src/plugins/operator/MaintainTopologyService.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyHelper.test.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/broker/test/integration/plugins/operator/OperatorClient.test.ts
  packages/broker/test/integration/plugins/operator/smartContractUtils.ts
  packages/broker/test/unit/plugins/operator/MaintainTopologyService.test.ts
Labels: ci, broker

#1554 fix(client): Error handling of `fetchHttpStream`
  CHANGELOG.md
  packages/client/src/subscribe/Resends.ts
  packages/client/src/utils/GeneratorUtils.ts
  packages/client/src/utils/utils.ts
  packages/client/test/unit/Resends.test.ts
  packages/client/test/unit/utils.test.ts
Labels: client, docs

#1558 feat(client): Informative error messages for contract call errors
  CHANGELOG.md
  packages/client/src/utils/contract.ts
  packages/client/test/end-to-end/contract-call-error.test.ts
Labels: client, docs

#1572 NET-975: stored data can be marked as deleted in the dht
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/find/RecursiveFindSession.ts
  packages/dht/src/dht/store/DataStore.ts
  packages/dht/src/dht/store/LocalDataStore.ts
  packages/dht/src/dht/store/RemoteStore.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/integration/StoreAndDelete.test.ts
  packages/dht/test/unit/LocalDataStore.test.ts
  packages/dht/test/utils/utils.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/test/unit/StreamEntrypointDiscovery.test.ts
Labels: network, dht

#1569 test(client): Unit tests for resend subscription
  packages/broker/test/integration/multiple-publisher-plugins.test.ts
  packages/broker/test/integration/plugins/mqtt/Bridge.test.ts
  packages/client/test/unit/resendSubscription.test.ts
  packages/test-utils/src/index.ts
Labels: broker, client, test-utils

#1571 feat(client): Abort resends when `OrderMessages` stops
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/utils/utils.ts
  packages/client/test/unit/OrderMessages.test.ts
  packages/client/test/unit/utils.test.ts
  packages/utils/src/composeAbortSignals.ts
  packages/utils/src/exports.ts
  packages/utils/test/composeAbortSignals.test.ts
Labels: client, utils

#1578 fix(DHT, Trackerless Network): failing browser build
  package-lock.json
  packages/browser-test-runner/package.json
  packages/dht/package.json
  packages/trackerless-network/package.json
Labels: network, dht

#1580 refactor(broker): Remove brubeck miner from config wizard
  packages/broker/src/config/ConfigWizard.ts
  packages/broker/test/unit/ConfigWizard.test.ts
Labels: broker

#1581 refactor: make knownEntryPoints optional in NetworkNode
  packages/broker/src/plugins/storage/StoragePlugin.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/client/test/test-utils/utils.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
Labels: broker, network, client

#1582 refactor(ci): Rename run brokers and trackers
  .github/workflows/reusable/collect-and-upload-logs/action.yml
  .github/workflows/reusable/run-brokers-and-trackers/action.yml
  .github/workflows/reusable/run-brokers/action.yml
  .github/workflows/test-setup.yml
  .github/workflows/validate.yml
  bin/run-brokers.sh
  packages/client/test/end-to-end/publish-subscribe.test.ts
Labels: ci, client

#1579 refactor(client): Remove `GapFillFailedError`
  packages/client/src/subscribe/ordering/GapFillFailedError.ts
  packages/client/src/subscribe/ordering/OrderedMsgChain.ts
  packages/client/test/unit/OrderedMsgChain.test.ts
Labels: client

#1584 refactor(DHT): remove unnecessary comments from the DHT package
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/Simulator/Simulator.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/test/end-to-end/WebSocketConnectionRequest.test.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/MigrateData.test.ts
  packages/dht/test/integration/ScaleDownDht.test.ts
  packages/dht/test/integration/SimultaneousConnections.test.ts
Labels: dht

#1585 refactor(network): Remove unnecessary comments from the trackerless network
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
  packages/trackerless-network/test/unit/Propagation.test.ts
Labels: network

#1513 NET-527 maintain operator value service
  packages/broker/src/plugins/operator/MaintainOperatorValueHelper.ts
  packages/broker/src/plugins/operator/MaintainOperatorValueService.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/test/integration/plugins/operator/MaintainOperatorValueService.test.ts
  packages/broker/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/broker/test/integration/plugins/operator/smartContractUtils.ts
  packages/client/test/integration/multiple-clients.test.ts
Labels: broker, client

#1604 Fix (ci): broker docker build
  .github/workflows/validate.yml
Labels: ci

#1605 DhtNode auto-generates UUID as kademliaId
  packages/client/src/ConfigTest.ts
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/dht/src/dht/DhtNode.ts
Labels: client, dht

#1575 Refactor operator plugin
  packages/broker/src/plugins/operator/AnnounceNodeService.ts
  packages/broker/src/plugins/operator/MaintainTopologyHelper.ts
  packages/broker/src/plugins/operator/MaintainTopologyService.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/test/integration/plugins/operator/MaintainOperatorValueService.test.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyHelper.test.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/broker/test/unit/plugins/operator/FakeMaintainTopologyHelper.ts
  packages/broker/test/unit/plugins/operator/MaintainTopologyService.test.ts
Labels: broker

#1164 deps: TypeScript 5
  package-lock.json
  package.json
  packages/protocol/test/unit/protocol/control_layer/ControlMessage.test.ts
Labels: protocol

#1607 refactor(client): rename layer0 kademliaId to id in client config
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/test/unit/authentication.test.ts
  packages/broker/test/utils.ts
  packages/client/src/Config.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/config.schema.json
  packages/client/src/utils/utils.ts
  packages/client/test/end-to-end/Metrics.test.ts
  packages/client/test/end-to-end/ProxyPublishSubscribe.test.ts
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Config.test.ts
  packages/trackerless-network/src/NetworkStack.ts
Labels: broker, network, client

#1588 refactor(client): Remove `StreamRegistryCached'
  packages/client/src/Stream.ts
  packages/client/src/StreamFactory.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/publish/MessageFactory.ts
  packages/client/src/publish/Publisher.ts
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/registry/StreamRegistryCached.ts
  packages/client/src/subscribe/MessagePipelineFactory.ts
  packages/client/src/subscribe/messagePipeline.ts
  packages/client/src/utils/validateStreamMessage.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/integration/Resends.test.ts
  packages/client/test/integration/gap-fill.test.ts
  packages/client/test/integration/parallel-key-exchange.test.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/CacheAsyncFn.test.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/client/test/unit/Stream.test.ts
  packages/client/test/unit/messagePipeline.test.ts
  packages/client/test/unit/resendSubscription.test.ts
Labels: client

#1608 improve documentation of the client's network configuration
  packages/client/src/Config.ts
  packages/client/src/config.schema.json
  packages/client/src/exports.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/exports.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
Labels: network, client

#1609 use NodeType to configure the PeerDescriptors type
  packages/broker/test/unit/authentication.test.ts
  packages/broker/test/utils.ts
  packages/client/src/Config.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/exports.ts
  packages/client/test/end-to-end/ProxyPublishSubscribe.test.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Config.test.ts
Labels: broker, client

#1610 refactor(network, client): setStreamEntryPoints
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/publish/Publisher.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/NetworkNode.test.ts
  packages/trackerless-network/test/integration/NetworkStack.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/unit/StreamrNode.test.ts
Labels: network, client

#1611 ci(broker): use a DhtNode as an entry point in tests
  .github/workflows/reusable/run-entry-points/action.yml
  .github/workflows/test-setup.yml
  .github/workflows/validate.yml
  bin/run-entry-point.sh
  package-lock.json
  packages/broker/bin/run-entry-point.ts
  packages/broker/package.json
  packages/broker/test/integration/config.test.ts
  packages/broker/test/utils.ts
Labels: ci, broker

#1615 reduce client test timeouts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/end-to-end/Metrics.test.ts
  packages/client/test/end-to-end/StorageNodeRegistry.test.ts
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/client/test/end-to-end/resend.test.ts
  packages/dht/src/dht/find/RecursiveFindSession.ts
  packages/trackerless-network/src/logic/StreamEntryPointDiscovery.ts
Labels: network, client, dht

#1616 feat(network): Improve avoid network splits
  packages/trackerless-network/src/logic/StreamEntryPointDiscovery.ts
Labels: network

#1624 broker: remove unnecessary tests
  packages/broker/test/integration/plugins/storage/StorageNode.test.ts
  packages/broker/test/unit/authentication.test.ts
Labels: broker

#1625 refactor(client): rename network config objects
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/development-prod-resend.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/src/broker.ts
  packages/broker/test/integration/config.test.ts
  packages/broker/test/unit/config.test.ts
  packages/broker/test/utils.ts
  packages/client/src/Config.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/config.schema.json
  packages/client/src/exports.ts
  packages/client/test/end-to-end/StorageNodeRegistry.test.ts
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/client/test/integration/NetworkNodeFacade.test.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Config.test.ts
Labels: broker, client
