Repository streamr-dev/network, pull requests merged in 2023-08, with the labels that each got.

#1700 fix(dht network): logging levels
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketServer.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
Labels: network, dht

#1719 refactor(client): add JsonNodeType enum and make type optional in JsonPeerDescriptor
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/test/utils.ts
  packages/client/src/Config.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/config.schema.json
  packages/client/src/exports.ts
  packages/client/src/generated/validateConfig.js
  packages/client/src/utils/utils.ts
  packages/client/test/end-to-end/ProxyPublishSubscribe.test.ts
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Config.test.ts
Labels: broker, client

#1583 refactor(client): Refactor gap filling
  package-lock.json
  packages/client/package.json
  packages/client/src/Stream.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/subscribe/MessagePipelineFactory.ts
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/messagePipeline.ts
  packages/client/src/subscribe/ordering/GapFiller.ts
  packages/client/src/subscribe/ordering/OrderMessages.ts
  packages/client/src/subscribe/ordering/OrderedMessageChain.ts
  packages/client/src/subscribe/ordering/OrderedMsgChain.ts
  packages/client/src/subscribe/ordering/OrderingUtil.ts
  packages/client/src/subscribe/resendSubscription.ts
  packages/client/src/subscribe/waitForStorage.ts
  packages/client/src/utils/Mapping.ts
  packages/client/test/unit/GapFiller.test.ts
  packages/client/test/unit/OrderMessages.test.ts
  packages/client/test/unit/OrderMessages2.test.ts
  packages/client/test/unit/OrderedMessageChain.test.ts
  packages/client/test/unit/OrderedMsgChain.test.ts
  packages/client/test/unit/OrderingUtil.test.ts
  packages/client/test/unit/Resends.test.ts
  packages/client/test/unit/resendSubscription.test.ts
  packages/utils/src/Heap.ts
  packages/utils/src/executeSafePromise.ts
  packages/utils/src/exports.ts
  packages/utils/test/Heap.test.ts
  packages/utils/test/executeSafePromise.test.ts
Labels: client, utils

#1628 feat(client): [NET-865]: gap filling strategy option
  CHANGELOG.md
  packages/client/src/Config.ts
  packages/client/src/config.schema.json
  packages/client/src/exports.ts
  packages/client/src/generated/validateConfig.js
  packages/client/src/subscribe/messagePipeline.ts
  packages/client/src/subscribe/ordering/GapFiller.ts
  packages/client/src/subscribe/ordering/OrderMessages.ts
  packages/client/src/subscribe/ordering/OrderedMessageChain.ts
  packages/client/test/unit/GapFiller.test.ts
  packages/client/test/unit/OrderMessages.test.ts
  packages/client/test/unit/OrderMessages2.test.ts
  packages/client/test/unit/OrderedMessageChain.test.ts
  packages/client/test/unit/resendSubscription.test.ts
Labels: client, docs

#1643 feat: add load balacing for `MaintainTopologyService`
  package-lock.json
  packages/broker/package.json
  packages/broker/src/plugins/operator/ConsistentHashRing.ts
  packages/broker/src/plugins/operator/MaintainTopologyService.ts
  packages/broker/src/plugins/operator/OperatorFleetState.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/src/plugins/operator/StreamAssignmentLoadBalancer.ts
  packages/broker/src/plugins/operator/config.schema.json
  packages/broker/src/types/consistent-hash/index.d.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/broker/test/unit/plugins/operator/ConsistentHashRing.test.ts
  packages/broker/test/unit/plugins/operator/FakeMaintainTopologyHelper.ts
  packages/broker/test/unit/plugins/operator/MaintainTopologyService.test.ts
  packages/broker/test/unit/plugins/operator/StreamAssignmentLoadBalancer.test.ts
Labels: broker

#1721 refactor(network): Remove unused fields in HandshakeRequest
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/src/logic/neighbor-discovery/RemoteHandshaker.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/integration/RemoteHandshaker.test.ts
Labels: network

#1722 feat(broker): NET-996 getLeaderNodeId
  packages/broker/src/plugins/operator/OperatorFleetState.ts
  packages/broker/test/unit/plugins/operator/OperatorFleetState.test.ts
Labels: broker, tracker

#1725 deps: weekly dependabot
  .github/dependabot.yaml
Labels: ci

#1729 feat(network): Publish metrics
  packages/trackerless-network/src/logic/StreamrNode.ts
Labels: network, tracker

#1724 broker(feat): NET-999 add method `waitForReady` to `OperatorFleetState`
  packages/broker/src/plugins/operator/AnnounceNodeService.ts
  packages/broker/src/plugins/operator/OperatorFleetState.ts
  packages/broker/test/unit/plugins/operator/OperatorFleetState.test.ts
Labels: broker

#1735 feat: Method `getPeerDescriptor` to client and `NetworkNode`
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/utils/utils.ts
  packages/client/test/end-to-end/StreamrClient.test.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/trackerless-network/src/NetworkNode.ts
Labels: network, client

#1738 refactor(network): Move DuplicateDetector
  packages/trackerless-network/src/logic/DuplicateMessageDetector.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionClient.ts
  packages/trackerless-network/src/logic/utils.ts
  packages/trackerless-network/test/unit/DuplicateMessageDetector.test.ts
  packages/trackerless-network/test/unit/NumberPair.test.ts
  packages/utils/src/exports.ts
Labels: network, tracker, utils

#1740 fix(network): fix duplicate detection bug
  packages/trackerless-network/src/logic/utils.ts
Labels: network

#1743 fix(dht): Fix recursive find in small networks
  packages/dht/src/dht/find/RecursiveFindSession.ts
  packages/dht/src/dht/find/RecursiveFinder.ts
Labels: dht

#1744 feat(dht): PeerID from key
  packages/dht/src/helpers/PeerID.ts
  packages/dht/test/unit/PeerID.test.ts
Labels: dht

#1741 refactor(client): [NET-1003] Use `@streamr/config` package in tests
  package-lock.json
  packages/client/package.json
  packages/client/src/ConfigTest.ts
Labels: client

#1745 test(client): Increase timeout for flaky test
  packages/client/test/integration/multiple-clients.test.ts
Labels: client

#1747 refactor(client): Use mono subgraph in `streamr-1.0`
  .github/workflows/validate.yml
  packages/client/src/ConfigTest.ts
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/registry/searchStreams.ts
Labels: ci, client

#1751 fix(DHT): Fix integration/store.test.ts flakyness
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/find/RecursiveFinder.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/unit/RecursiveFinder.test.ts
Labels: dht

#1736 ETH-554 inspect random node helper
  packages/broker/src/plugins/operator/InspectRandomNodeHelper.ts
  packages/broker/src/plugins/operator/VoteOnSuspectNodeHelper.ts
  packages/broker/test/integration/plugins/operator/InspectRandomNodeHelper.test.ts
Labels: broker, tracker

#1753 feat(network): NET-991 joining via multiple entry points
  packages/broker/bin/entry-point.ts
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/test/benchmark/KademliaCorrectness.test.ts
  packages/dht/test/benchmark/RecursiveFind.test.ts
  packages/dht/test/end-to-end/Layer0-Layer1.test.ts
  packages/dht/test/end-to-end/Layer0.test.ts
  packages/dht/test/end-to-end/Layer0MixedConnectionTypes.test.ts
  packages/dht/test/end-to-end/Layer0WebRTC-Layer1.test.ts
  packages/dht/test/end-to-end/Layer0WebRTC.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-WebRTC.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-WebSocket.test.ts
  packages/dht/test/end-to-end/WebSocketConnectionRequest.test.ts
  packages/dht/test/integration/DhtNodeExternalAPI.test.ts
  packages/dht/test/integration/DhtWithMockConnectionLatencies.test.ts
  packages/dht/test/integration/DhtWithMockConnections.test.ts
  packages/dht/test/integration/DhtWithRealConnectionLatencies.test.ts
  packages/dht/test/integration/Layer1-scale.test.ts
  packages/dht/test/integration/MigrateData.test.ts
  packages/dht/test/integration/Mock-Layer1-Layer0.test.ts
  packages/dht/test/integration/MultipleEntryPointJoining.test.ts
  packages/dht/test/integration/RecursiveFind.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/ScaleDownDht.test.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/StoreAndDelete.test.ts
  packages/dht/test/integration/StoreOnDhtWithTwoNodes.test.ts
  packages/trackerless-network/bin/bootstrap-node.ts
  packages/trackerless-network/bin/full-node-webrtc.ts
  packages/trackerless-network/bin/full-node-websocket.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/StreamEntryPointDiscovery.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/end-to-end/random-graph-with-real-connections.test.ts
  packages/trackerless-network/test/integration/Propagation.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
Labels: broker, network, dht

#1728 feat(network): NET-1001 Simplified Inspect
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamNodeServer.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/src/logic/inspect/InspectSession.ts
  packages/trackerless-network/src/logic/inspect/Inspector.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionClient.ts
  packages/trackerless-network/src/logic/temporary-connection/RemoteTemporaryConnectionRpcServer.ts
  packages/trackerless-network/src/logic/temporary-connection/TemporaryConnectionRpcServer.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.client.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.server.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/end-to-end/inspect.test.ts
  packages/trackerless-network/test/integration/Inspect.test.ts
  packages/trackerless-network/test/unit/InspectSession.test.ts
  packages/trackerless-network/test/unit/Inspector.test.ts
  packages/trackerless-network/test/unit/StreamNodeServer.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

#1739 refactor: [NET-1002] Use fast chain in tests
  .github/workflows/validate.yml
  package-lock.json
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/package.json
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/test/integration/plugins/operator/InspectRandomNodeHelper.test.ts
  packages/broker/test/integration/plugins/operator/MaintainOperatorValueService.test.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyHelper.test.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/broker/test/integration/plugins/operator/VoteOnSuspectNodeService.test.ts
  packages/broker/test/integration/plugins/operator/setupOperatorContract.ts
  packages/broker/test/integration/plugins/operator/smartContractUtils.ts
  packages/client/package.json
  packages/client/src/ConfigTest.ts
  packages/client/test/end-to-end/StreamRegistry.test.ts
  packages/client/test/end-to-end/contract-call-error.test.ts
Labels: ci, broker, client

#1733 feat(broker) [NET-997]: `AnnounceNodeToContractService`
  packages/broker/src/plugins/operator/AnnounceNodeToContractHelper.ts
  packages/broker/src/plugins/operator/AnnounceNodeToContractService.ts
  packages/broker/src/plugins/operator/AnnounceNodeToStreamService.ts
  packages/broker/src/plugins/operator/OperatorFleetState.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/test/integration/plugins/operator/AnnounceNodeToContractHelper.test.ts
  packages/broker/test/unit/plugins/operator/AnnounceNodeToContractService.test.ts
  packages/broker/test/unit/plugins/operator/AnnounceNodeToStreamService.test.ts
Labels: broker

#1752 feat(client): NET-1001, client integration
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/StreamrClient.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
Labels: client

#1754 refactor: extract `isLeader` helper function
  packages/broker/src/plugins/operator/AnnounceNodeToContractService.ts
  packages/broker/src/plugins/operator/createIsLeaderFn.ts
  packages/broker/test/unit/plugins/operator/AnnounceNodeToContractService.test.ts
  packages/broker/test/unit/plugins/operator/createIsLeaderFn.test.ts
Labels: broker

#1756 refactor(protocol): Remove old network protocol messages
  packages/protocol/src/exports.ts
  packages/protocol/src/protocol/control_layer/ControlMessage.ts
  packages/protocol/src/protocol/control_layer/broadcast_message/BroadcastMessage.ts
  packages/protocol/src/protocol/control_layer/broadcast_message/BroadcastMessageSerializerV2.ts
  packages/protocol/src/protocol/control_layer/error_response/ErrorResponse.ts
  packages/protocol/src/protocol/control_layer/error_response/ErrorResponseSerializerV2.ts
  packages/protocol/src/protocol/control_layer/exports.ts
  packages/protocol/src/protocol/control_layer/proxy_connection_request/ProxyConnectionRequest.ts
  packages/protocol/src/protocol/control_layer/proxy_connection_request/ProxyConnectionRequestSerializerV2.ts
  packages/protocol/src/protocol/control_layer/proxy_connection_response/ProxyConnectionResponse.ts
  packages/protocol/src/protocol/control_layer/proxy_connection_response/ProxyConnectionResponseSerializerV2.ts
  packages/protocol/src/protocol/control_layer/unsubscribe_request/UnsubscribeRequest.ts
  packages/protocol/src/protocol/control_layer/unsubscribe_request/UnsubscribeRequestSerializerV2.ts
  packages/protocol/src/protocol/tracker_layer/Originator.ts
  packages/protocol/src/protocol/tracker_layer/TrackerMessage.ts
  packages/protocol/src/protocol/tracker_layer/error_message/ErrorMessage.ts
  packages/protocol/src/protocol/tracker_layer/error_message/ErrorMessageSerializerV2.ts
  packages/protocol/src/protocol/tracker_layer/exports.ts
  packages/protocol/src/protocol/tracker_layer/instruction_message/InstructionMessage.ts
  packages/protocol/src/protocol/tracker_layer/instruction_message/InstructionMessageSerializerV2.ts
  packages/protocol/src/protocol/tracker_layer/relay_message/RelayMessage.ts
  packages/protocol/src/protocol/tracker_layer/relay_message/RelayMessageSerializerV2.ts
  packages/protocol/src/protocol/tracker_layer/status_ack_message/StatusAckMessage.ts
  packages/protocol/src/protocol/tracker_layer/status_ack_message/StatusAckMessageSerializerV2.ts
  packages/protocol/src/protocol/tracker_layer/status_message/StatusMessage.ts
  packages/protocol/src/protocol/tracker_layer/status_message/StatusMessageSerializerV2.ts
  packages/protocol/test/unit/exports.test.ts
  packages/protocol/test/unit/protocol/control_layer/BroadcastMessage.test.ts
  packages/protocol/test/unit/protocol/control_layer/BroadcastMessageSerializerV2.test.ts
  packages/protocol/test/unit/protocol/control_layer/ControlMessage.test.ts
  packages/protocol/test/unit/protocol/control_layer/ErrorResponse.test.ts
  packages/protocol/test/unit/protocol/control_layer/ErrorResponseSerializerV2.test.ts
  packages/protocol/test/unit/protocol/control_layer/ProxyConnectionRequest.test.ts
  packages/protocol/test/unit/protocol/control_layer/ProxyConnectionRequestSerializerV2.test.ts
  packages/protocol/test/unit/protocol/control_layer/ProxyConnectionResponse.test.ts
  packages/protocol/test/unit/protocol/control_layer/ProxyConnectionResponseSerializerV2.test.ts
  packages/protocol/test/unit/protocol/control_layer/UnsubscribeRequest.test.ts
  packages/protocol/test/unit/protocol/control_layer/UnsubscribeRequestSerializerV2.test.ts
  packages/protocol/test/unit/protocol/tracker_layer/ErrorMessage.test.ts
  packages/protocol/test/unit/protocol/tracker_layer/ErrorMessageSerializerV2.test.ts
  packages/protocol/test/unit/protocol/tracker_layer/InstructionMessage.test.ts
  packages/protocol/test/unit/protocol/tracker_layer/InstructionMessageSerializerV2.test.ts
  packages/protocol/test/unit/protocol/tracker_layer/RelayMessage.test.ts
  packages/protocol/test/unit/protocol/tracker_layer/RelayMessageSerializerV2.test.ts
  packages/protocol/test/unit/protocol/tracker_layer/StatusAckMessage.test.ts
  packages/protocol/test/unit/protocol/tracker_layer/StatusAckMessageSerializerV2.test.ts
  packages/protocol/test/unit/protocol/tracker_layer/StatusMessage.test.ts
  packages/protocol/test/unit/protocol/tracker_layer/StatusMessageSerializerV2.test.ts
Labels: ci, broker, network, client, protocol, cli-tools, docs, tracker, utils

#1759 refactor(test): Refactor `VoteOnSuspectNodeService` test
  packages/broker/test/integration/plugins/operator/VoteOnSuspectNodeService.test.ts
Labels: broker

#1763 Pr suggestion 1
  packages/broker/test/integration/plugins/operator/MaintainOperatorValueHelper.test.ts
  packages/broker/test/integration/plugins/operator/MaintainOperatorValueService.test.ts
  packages/broker/test/integration/plugins/operator/OperatorValueBreachWatcher.test.ts
  packages/broker/test/integration/plugins/operator/setupOperatorContract.ts
Labels: broker

#1768 test(utils) [NET-1016]: fix flaky withTimeout.test.ts
  packages/utils/test/withTimeout.test.ts
Labels: utils

#1771 test(cli-tools) NET-1025: fix flaky cli tools tests
  packages/cli-tools/test/stream-search.test.ts
  packages/cli-tools/test/stream-show.test.ts
  packages/cli-tools/test/utils.ts
Labels: cli-tools

#1761 refactor: remove unneeded code from protocol
  packages/broker/src/plugins/storage/DataQueryFormat.ts
  packages/broker/src/plugins/storage/dataQueryEndpoint.ts
  packages/broker/test/unit/plugins/storage/dataQueryEndpoint.test.ts
  packages/protocol/src/Serializer.ts
  packages/protocol/src/errors/UnsupportedTypeError.ts
  packages/protocol/src/errors/UnsupportedVersionError.ts
  packages/protocol/src/errors/exports.ts
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/protocol/src/protocol/message_layer/StreamMessageSerializerV32.ts
  packages/protocol/src/protocol/message_layer/exports.ts
  packages/protocol/src/protocol/message_layer/streamMessageSerialization.ts
  packages/protocol/src/utils/TrackerRegistry.ts
  packages/protocol/src/utils/exports.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessage.test.ts
  packages/protocol/test/unit/protocol/message_layer/streamMessageSerialization.test.ts
  packages/protocol/test/unit/utils/TrackerRegistry.test.ts
Labels: broker, protocol

#1760 refactor(test): Operator test utilities
  packages/broker/src/plugins/operator/AnnounceNodeToContractHelper.ts
  packages/broker/src/plugins/operator/InspectRandomNodeHelper.ts
  packages/broker/src/plugins/operator/MaintainOperatorValueHelper.ts
  packages/broker/src/plugins/operator/MaintainTopologyHelper.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/src/plugins/operator/VoteOnSuspectNodeHelper.ts
  packages/broker/test/integration/plugins/operator/AnnounceNodeToContractHelper.test.ts
  packages/broker/test/integration/plugins/operator/InspectRandomNodeHelper.test.ts
  packages/broker/test/integration/plugins/operator/MaintainOperatorValueHelper.test.ts
  packages/broker/test/integration/plugins/operator/MaintainOperatorValueService.test.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyHelper.test.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/broker/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/broker/test/integration/plugins/operator/OperatorValueBreachWatcher.test.ts
  packages/broker/test/integration/plugins/operator/VoteOnSuspectNodeService.test.ts
  packages/broker/test/integration/plugins/operator/contractUtils.ts
  packages/broker/test/integration/plugins/operator/deployOperatorContract.ts
  packages/broker/test/integration/plugins/operator/deploySponsorshipContract.ts
  packages/broker/test/integration/plugins/operator/operatorValueUtils.ts
  packages/broker/test/integration/plugins/operator/setupOperatorContract.ts
  packages/broker/test/integration/plugins/operator/smartContractUtils.ts
Labels: broker

#1774 refactor(client, broker, cli-tools): expose `getNodeId`
  packages/broker/src/broker.ts
  packages/broker/src/plugins/operator/MaintainTopologyService.ts
  packages/broker/src/plugins/operator/createIsLeaderFn.ts
  packages/broker/test/unit/plugins/operator/AnnounceNodeToContractService.test.ts
  packages/broker/test/unit/plugins/operator/createIsLeaderFn.test.ts
  packages/client/src/StreamrClient.ts
  packages/client/test/end-to-end/ProxyPublishSubscribe.test.ts
  packages/client/test/integration/NetworkNodeFacade.test.ts
  packages/client/test/integration/Subscriber2.test.ts
Labels: broker, client

#1779 feat(broker): Expose `StreamrClient` instead of `NetworkNodeStub`
  packages/broker/src/broker.ts
  packages/broker/test/integration/broker-subscriptions.test.ts
  packages/broker/test/utils.ts
Labels: broker

#1783 test(broker): add integration test for `AnnounceNodeToStreamService`
  packages/broker/src/plugins/operator/AnnounceNodeToStreamService.ts
  packages/broker/test/integration/plugins/operator/AnnounceNodeToStreamService.test.ts
Labels: broker

#1784 ci: ignore missing log file warning
  .github/workflows/reusable/collect-and-upload-logs/action.yml
Labels: ci

#1758 refactor(network): NET-1009 Protobuf definition cleanup with binary formats
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamNodeServer.ts
  packages/trackerless-network/src/logic/inspect/InspectSession.ts
  packages/trackerless-network/src/logic/inspect/Inspector.ts
  packages/trackerless-network/src/logic/propagation/Propagation.ts
  packages/trackerless-network/src/logic/propagation/PropagationTaskStore.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/ContentMessageTranslator.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/GroupKeyRequestTranslator.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/GroupKeyResponseTranslator.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/StreamMessageTranslator.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionClient.ts
  packages/trackerless-network/src/logic/utils.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/end-to-end/random-graph-with-real-connections.test.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/Inspect.test.ts
  packages/trackerless-network/test/integration/NetworkNode.test.ts
  packages/trackerless-network/test/integration/NetworkRpc.test.ts
  packages/trackerless-network/test/integration/NetworkStack.test.ts
  packages/trackerless-network/test/integration/Propagation.test.ts
  packages/trackerless-network/test/integration/RemoteRandomGraphNode.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/unit/ContentMessageTranslator.test.ts
  packages/trackerless-network/test/unit/GroupKeyRequestTranslator.test.ts
  packages/trackerless-network/test/unit/GroupKeyResponseTranslator.test.ts
  packages/trackerless-network/test/unit/InspectSession.test.ts
  packages/trackerless-network/test/unit/Inspector.test.ts
  packages/trackerless-network/test/unit/Propagation.test.ts
  packages/trackerless-network/test/unit/StreamMessageTranslator.test.ts
  packages/trackerless-network/test/unit/StreamNodeServer.test.ts
  packages/trackerless-network/test/unit/StreamrNode.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

#1787 refactor(trackerless-network): Proxy connection userId type
  packages/client/src/NetworkNodeFacade.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/exports.ts
  packages/trackerless-network/src/identifiers.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionClient.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionServer.ts
  packages/trackerless-network/src/logic/proxy/RemoteProxyServer.ts
  packages/trackerless-network/src/logic/utils.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
Labels: network, client

#1795 refactor: Simplify object literals
  packages/broker/test/integration/plugins/storage/storage-lots-of-data.test.ts
  packages/dht/src/connection/RemoteConnectionLocker.ts
  packages/dht/src/connection/WebSocket/WebSocketServer.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/dht/store/DataStore.ts
  packages/dht/src/dht/store/RemoteStore.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/RemoteRouter.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/RpcErrors.test.ts
  packages/dht/test/integration/WebRtcConnectionManagement.test.ts
  packages/dht/test/integration/WebSocketConnectionManagement.test.ts
  packages/proto-rpc/examples/wakeup/wakeup.ts
  packages/proto-rpc/src/RpcCommunicator.ts
  packages/proto-rpc/test/unit/RpcCommunicator.test.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
Labels: broker, network, dht, proto-rpc

#1800 refactor: rename replicationFactor to redundancyFactor
  packages/broker/src/plugins/operator/ConsistentHashRing.ts
  packages/broker/src/plugins/operator/MaintainTopologyService.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/src/plugins/operator/StreamAssignmentLoadBalancer.ts
  packages/broker/src/plugins/operator/config.schema.json
  packages/broker/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/broker/test/unit/plugins/operator/ConsistentHashRing.test.ts
Labels: broker

#1799 Update network-contracts to 5.0.0
  package-lock.json
  packages/broker/package.json
  packages/broker/test/integration/plugins/operator/MaintainOperatorValueHelper.test.ts
  packages/broker/test/integration/plugins/operator/MaintainOperatorValueService.test.ts
  packages/broker/test/integration/plugins/operator/OperatorValueBreachWatcher.test.ts
  packages/broker/test/integration/plugins/operator/contractUtils.ts
Labels: broker, tracker

#1791 refactor(trackerless-network): Rename `NodeId`
  packages/broker/src/plugins/operator/OperatorFleetState.ts
  packages/client/test/test-utils/fake/FakeEnvironment.ts
  packages/client/test/test-utils/fake/FakeNetwork.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/trackerless-network/src/exports.ts
  packages/trackerless-network/src/identifiers.ts
Labels: broker, network, client

#1794 refactor(trackerless-network): Use `StreamPartID`
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/protocol/src/utils/StreamPartID.ts
  packages/protocol/test/unit/utils/StreamPartID.test.ts
  packages/trackerless-network/src/logic/StreamEntryPointDiscovery.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionClient.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionServer.ts
  packages/trackerless-network/test/end-to-end/random-graph-with-real-connections.test.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/Inspect.test.ts
  packages/trackerless-network/test/integration/NetworkRpc.test.ts
  packages/trackerless-network/test/integration/NetworkStack.test.ts
  packages/trackerless-network/test/integration/Propagation.test.ts
  packages/trackerless-network/test/integration/RemoteRandomGraphNode.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
  packages/trackerless-network/test/unit/StreamEntrypointDiscovery.test.ts
  packages/trackerless-network/test/unit/StreamMessageTranslator.test.ts
  packages/trackerless-network/test/unit/StreamNodeServer.test.ts
  packages/trackerless-network/test/unit/StreamrNode.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network, client, protocol

#1785 feat(broker): collect peer descriptors in `OperatorFleetState`
  package-lock.json
  packages/broker/package.json
  packages/broker/src/plugins/operator/AnnounceNodeToStreamService.ts
  packages/broker/src/plugins/operator/OperatorFleetState.ts
  packages/broker/src/plugins/operator/heartbeatUtils.ts
  packages/broker/test/unit/plugins/operator/AnnounceNodeToStreamService.test.ts
  packages/broker/test/unit/plugins/operator/OperatorFleetState.test.ts
  packages/broker/test/unit/plugins/operator/heartbeatUtils.test.ts
Labels: broker

#1796 NET-1020: refactor MaintainTopologyHelper and attempt to fix flakyness
  packages/broker/src/plugins/operator/MaintainTopologyHelper.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyHelper.test.ts
  packages/broker/test/integration/plugins/operator/contractUtils.ts
Labels: broker
