Repository streamr-dev/network, pull requests merged in 2023-04, with the labels that each got.

#1158 feat: add tsdoc documentation to Config
  packages/client/src/Config.ts
Labels: client

#1162 refactor(client): `Decrypt` as function
  packages/broker/test/integration/plugins/storage/Storage.test.ts
  packages/broker/test/integration/plugins/storage/storage-lots-of-data.test.ts
  packages/client/src/encryption/decrypt.ts
  packages/client/src/subscribe/Decrypt.ts
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/subscribePipeline.ts
  packages/client/test/unit/Decrypt.test.ts
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/protocol/src/protocol/message_layer/exports.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessage.test.ts
Labels: broker, client, protocol

#1132 feat (client): FRONT-1299 added sorting of stream search results
  packages/client/CHANGELOG.md
  packages/client/src/StreamrClient.ts
  packages/client/src/exports.ts
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/registry/searchStreams.ts
  packages/client/test/unit/searchStreams.test.ts
Labels: client, changelog

#1166 chore: remove exported validateConfig
  packages/broker/src/broker.ts
  packages/broker/test/unit/configMigration.test.ts
  packages/client/src/exports.ts
Labels: broker, client

#1167 test(client): NET-956 Check docs
  .github/workflows/validate.yml
  package-lock.json
  packages/client/package.json
  packages/client/typedoc.js
Labels: ci, client

#1168 Fix IP addresses in the ConfigTest.ts file
  packages/client/src/ConfigTest.ts
Labels: client

#1163 feat(client): Raw subscription
  packages/client/CHANGELOG.md
  packages/client/src/Stream.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/exports.ts
  packages/client/src/subscribe/ResendSubscription.ts
  packages/client/src/subscribe/Subscription.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/test/integration/Subscriber.test.ts
Labels: client, changelog

#1169 deps: update pino logger
  package-lock.json
  packages/broker/package.json
  packages/broker/src/broker.ts
  packages/client/test/test-utils/fake/FakeLogger.ts
  packages/network-tracker/bin/tracker.ts
  packages/network-tracker/package.json
  packages/utils/package.json
  packages/utils/src/Logger.ts
  packages/utils/test/Logger.test.ts
Labels: broker, client, tracker, utils

#1173 feat(utils): env var `DISABLE_PRETTY_LOG` to disable pretty logs
  packages/utils/src/Logger.ts
Labels: utils

#1176 fix(network): crashing behavior in ProxyStreamManagerServer
  packages/client/CHANGELOG.md
  packages/network/src/logic/proxy/ProxyStreamConnectionServer.ts
  packages/network/test/unit/ProxyStreamConnectionServer.test.ts
Labels: network, client, changelog

#1180 NET-846: dht local store ttl
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/find/RecursiveFinder.ts
  packages/dht/src/dht/store/DataStore.ts
  packages/dht/src/dht/store/LocalDataStore.ts
  packages/dht/test/unit/LocalDataStore.test.ts
Labels: dht

#1170 NET-846: connection manager stopping state
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/RemoteConnectionLocker.ts
  packages/dht/src/connection/Simulator/Simulator.ts
  packages/dht/src/connection/Simulator/SimulatorConnector.ts
  packages/dht/src/dht/store/DataStore.ts
  packages/dht/src/proto/google/protobuf/any.ts
  packages/dht/src/proto/google/protobuf/empty.ts
  packages/dht/src/proto/google/protobuf/timestamp.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/integration/ScaleDownDht.test.ts
  packages/dht/test/integration/WebRtcConnectionManagement.test.ts
Labels: dht

#1183 dependency updates
  package-lock.json
  package.json
  packages/broker/package.json
  packages/client/package.json
  packages/client/test/unit/OrderedMsgChain.test.ts
  packages/client/test/unit/OrderingUtil.test.ts
  packages/client/test/unit/OrderingUtil2.test.ts
  packages/dht/package.json
  packages/dht/webpack.config.js
  packages/network-tracker/bin/tracker.ts
  packages/network-tracker/package.json
  packages/network/package.json
  packages/network/webpack.config.js
  packages/proto-rpc/package.json
  packages/proto-rpc/webpack.config.js
  packages/protocol/package.json
  packages/protocol/test/unit/protocol/control_layer/ControlMessage.test.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessage.test.ts
  packages/utils/package.json
  packages/utils/webpack.config.js
Labels: broker, network, client, protocol, tracker, dht, utils, proto-rpc

#1189 NET-846: Fix npm dependencies
  package-lock.json
  packages/dht/package.json
  packages/trackerless-network/package.json
Labels: dht

#1174 feat(broker): [NET-945] ask for beneficiary address in broker config wizard
  packages/broker/CHANGELOG.md
  packages/broker/src/config/ConfigWizard.ts
  packages/broker/test/unit/ConfigWizard.test.ts
Labels: broker, changelog

#1196 refactor: move event utility functions to `utils` package
  packages/client/src/events.ts
  packages/client/src/registry/StreamStorageRegistry.ts
  packages/client/test/unit/events.test.ts
  packages/utils/src/ObservableEventEmitter.ts
  packages/utils/src/exports.ts
  packages/utils/src/initEventGateway.ts
  packages/utils/src/types.ts
  packages/utils/test/ObservableEventEmitter.test.ts
  packages/utils/test/initEventGateway.test.ts
Labels: client, utils

#1201 feat(client:) Validate `partitions` metadata field
  packages/client/CHANGELOG.md
  packages/client/src/Stream.ts
  packages/client/test/unit/searchStreams.test.ts
  packages/protocol/src/utils/StreamPartID.ts
  packages/protocol/src/utils/exports.ts
Labels: client, protocol, changelog

#1202 Bump nvmrc to 18.16.0 + spring cleaning of repo
  .nvmrc
  Makefile
  README.md
  internal-docs/install-on-apple-silicon.md
  packages/client/src/testi.js
Labels: client, docs

#1204 NET-846: Fix migrate loop
  packages/dht/src/dht/store/DataStore.ts
  packages/dht/src/dht/store/LocalDataStore.ts
Labels: dht

#1203 feat: diagnostic info
  packages/broker/CHANGELOG.md
  packages/broker/src/plugins/info/InfoPlugin.ts
  packages/client/CHANGELOG.md
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/StreamrClient.ts
  packages/client/test/end-to-end/get-diagnostic-info.test.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/network/src/connection/webrtc/IWebRtcEndpoint.ts
  packages/network/src/connection/webrtc/WebRtcConnection.ts
  packages/network/src/connection/webrtc/WebRtcEndpoint.ts
  packages/network/src/connection/ws/AbstractClientWsEndpoint.ts
  packages/network/src/connection/ws/AbstractWsConnection.ts
  packages/network/src/logic/Node.ts
  packages/network/src/logic/StreamPartManager.ts
  packages/network/src/logic/TrackerManager.ts
  packages/network/src/logic/propagation/FifoMapWithTtl.ts
  packages/network/src/logic/propagation/Propagation.ts
  packages/network/src/logic/propagation/PropagationTaskStore.ts
  packages/network/src/protocol/NodeToNode.ts
  packages/network/src/protocol/NodeToTracker.ts
Labels: broker, network, client, changelog

#1197 feat(client): [NET-964] Listener for `createStream` event
  packages/client/CHANGELOG.md
  packages/client/src/events.ts
  packages/client/src/exports.ts
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/registry/StreamStorageRegistry.ts
  packages/client/src/utils/contract.ts
  packages/client/test/end-to-end/StreamRegistry.test.ts
Labels: client, changelog

#1209 deps: bump node-datachannel to 0.4.2
  package-lock.json
  packages/dht/package.json
  packages/network/package.json
Labels: network, dht

#1212 NET-846: fix temporary memory leak after stop
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RoutingSession.ts
Labels: dht

#1165 NET-927: store stream entrypoints in the DHT in the client and broker by default
  packages/broker/src/plugins/storage/StoragePlugin.ts
  packages/broker/src/plugins/subscriber/SubscriberPlugin.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/test/end-to-end/StorageNodeRegistry.test.ts
  packages/client/test/end-to-end/StorageNodeRegistry2.test.ts
  packages/client/test/end-to-end/resend.test.ts
  packages/client/test/test-utils/LeaksDetector.ts
  packages/client/test/test-utils/utils.ts
Labels: broker, client

#1210 rm husky and commitling
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-push
  README.md
  commitlint.config.js
  package-lock.json
  package.json
Labels: docs

#1206 fix(client): Handle `undefined` partition count in `client#createStream()`
  packages/client/CHANGELOG.md
  packages/client/src/StreamrClient.ts
Labels: client, changelog

#1213 feat(client): Contract poll interval
  packages/client/CHANGELOG.md
  packages/client/src/Config.ts
  packages/client/src/Ethereum.ts
  packages/client/src/config.schema.json
Labels: client, changelog

#1214 Net 846 improved simulator
  package-lock.json
  packages/dht/package.json
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/Simulator/Simulator.ts
  packages/dht/src/connection/Simulator/SimulatorConnection.ts
  packages/dht/src/connection/Simulator/SimulatorConnector.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/store/DataStore.ts
  packages/dht/src/helpers/PeerID.ts
  packages/dht/src/proto/google/protobuf/any.ts
  packages/dht/src/proto/google/protobuf/empty.ts
  packages/dht/src/proto/google/protobuf/timestamp.ts
  packages/dht/test/integration/ConnectionLocking.test.ts
  packages/dht/test/integration/MigrateData.test.ts
  packages/dht/test/integration/ScaleDownDht.test.ts
  packages/dht/test/integration/StoreOnDhtWithTwoNodes.test.ts
Labels: dht

#1205 chore(broker): improvements to `WebsocketPlugin`
  packages/broker/CHANGELOG.md
  packages/broker/src/plugins/websocket/Connection.ts
  packages/broker/src/plugins/websocket/PublishConnection.ts
  packages/broker/src/plugins/websocket/SubscribeConnection.ts
  packages/broker/src/plugins/websocket/WebsocketServer.ts
  packages/broker/test/unit/plugins/websocket/PublishConnection.test.ts
  packages/broker/test/unit/plugins/websocket/WebsocketServer.test.ts
Labels: broker, changelog

#1239 NET-846: Reduce log levels
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/store/DataStore.ts
Labels: dht

#1231 fix: use merge instead of object spread
  packages/broker/src/helpers/fetchOrThrow.ts
  packages/broker/src/plugins/storage/BatchManager.ts
  packages/broker/src/plugins/storage/BucketManager.ts
  packages/broker/test/integration/createMessagingPluginTest.ts
  packages/broker/test/unit/plugins/websocket/WebsocketServer.test.ts
  packages/broker/test/utils.ts
  packages/client/src/MetricsPublisher.ts
  packages/client/src/Stream.ts
  packages/client/src/utils/HttpFetcher.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/Sequencing.test.ts
  packages/client/test/integration/revoke-permissions.test.ts
  packages/client/test/test-utils/publish.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/network/test/utils.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessage.test.ts
  packages/utils/src/exports.ts
  packages/utils/src/merge.ts
  packages/utils/test/merge.test.ts
Labels: broker, network, client, protocol, utils

#1215 refactor(broker): use raw subscribe in subscriber plugin
  packages/broker/CHANGELOG.md
  packages/broker/src/plugins/subscriber/SubscriberPlugin.ts
  packages/broker/src/plugins/subscriber/config.schema.json
  packages/broker/src/plugins/websocket/SubscribeConnection.ts
  packages/utils/src/exports.ts
  packages/utils/src/pTransaction.ts
  packages/utils/test/pTransaction.test.ts
Labels: broker, changelog, utils

#1248 deps: remove @types/easy-table
  package-lock.json
  packages/cli-tools/package.json
Labels: cli-tools

#1242 deps: update package rename
  package-lock.json
  packages/dht/package.json
  packages/network/package.json
  packages/proto-rpc/package.json
  packages/utils/package.json
Labels: network, dht, utils, proto-rpc

#1262 refactor(broker): rm unused function `sleep`
  packages/broker/test/utils.ts
Labels: broker

#1264 refactor: browser-test-runner package
  README.md
  package-lock.json
  package.json
  packages/browser-test-runner/.eslintignore
  packages/browser-test-runner/.eslintrc
  packages/browser-test-runner/.gitignore
  packages/browser-test-runner/LICENSE
  packages/browser-test-runner/index.js
  packages/browser-test-runner/karma-setup.js
  packages/browser-test-runner/karma.config.js
  packages/browser-test-runner/package.json
  packages/browser-test-runner/preload.js
  packages/browser-test-runner/webpack.config.js
  packages/dht/dummy-stdout.js
  packages/dht/karma.config.js
  packages/dht/package.json
  packages/dht/preload.js
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/webpack.config.js
  packages/network/dummy-stdout.js
  packages/network/karma-setup.js
  packages/network/karma.config.js
  packages/network/package.json
  packages/network/preload.js
  packages/network/webpack.config.js
  packages/proto-rpc/dummy-stdout.js
  packages/proto-rpc/karma-setup.js
  packages/proto-rpc/karma.config.js
  packages/proto-rpc/package.json
  packages/proto-rpc/preload.js
  packages/proto-rpc/webpack.config.js
  packages/utils/dummy-stdout.js
  packages/utils/karma-setup.js
  packages/utils/karma.config.js
  packages/utils/package.json
  packages/utils/webpack.config.js
Labels: network, docs, dht, utils, proto-rpc
