Repository streamr-dev/network, pull requests merged in 2023-01, with the labels that each got.

#1054 feat(broker): NET-934 add support for passing pk and beneficiary address via env vars
  packages/broker/CHANGELOG.md
  packages/broker/README.md
  packages/broker/bin/broker.ts
  packages/broker/configuration.md
  packages/broker/src/config/config.ts
  packages/broker/test/unit/config.test.ts
Labels: broker, changelog

#1059 refactor(client): Publish error
  packages/client/src/StreamrClientError.ts
  packages/client/src/publish/MessageFactory.ts
  packages/client/src/publish/Publisher.ts
  packages/client/test/end-to-end/Permissions.test.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/client/test/unit/Publisher.test.ts
Labels: client

#1063 feat: enable TCP turn
  packages/client/src/Config.ts
  packages/client/src/config.schema.json
  packages/network/src/connection/webrtc/WebRtcConnection.ts
  packages/network/src/connection/webrtc/iceServerAsString.ts
  packages/network/test/unit/iceServerAsString.test.ts
Labels: network, client

#1065 feat: add param `webrtcSendBufferMaxMessageCount`
  packages/client/CHANGELOG.md
  packages/client/src/Config.ts
  packages/client/src/config.schema.json
  packages/network/src/connection/MessageQueue.ts
  packages/network/src/connection/webrtc/WebRtcEndpoint.ts
  packages/network/src/createNetworkNode.ts
  packages/network/test/browser/BrowserWebRtcConnection.test.ts
  packages/network/test/browser/IntegrationBrowserWebRtcConnection.test.ts
  packages/network/test/integration/NodeWebRtcConnection.test.ts
  packages/network/test/unit/NodeWebRtcConnection-errors.test.ts
  packages/network/test/unit/NodeWebRtcConnection.test.ts
  packages/network/test/utils.ts
Labels: network, client, changelog

#1062 refactor: Do not use `Error.captureStackTrace`
  packages/client/src/HttpUtil.ts
  packages/client/src/utils/AggregatedError.ts
  packages/client/src/utils/promises.ts
  packages/network/src/connection/webrtc/WebRtcEndpoint.ts
  packages/network/src/connection/ws/AbstractWsEndpoint.ts
  packages/network/src/logic/DuplicateMessageDetector.ts
  packages/protocol/src/errors/UnsupportedTypeError.ts
  packages/protocol/src/errors/UnsupportedVersionError.ts
  packages/protocol/src/errors/ValidationError.ts
  packages/utils/src/asAbortable.ts
  packages/utils/src/withTimeout.ts
Labels: network, client, protocol, utils

#1064 style: Class parameter property
  .eslintrc.js
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/ProxyPublishSubscribe.ts
  packages/client/src/StreamIDBuilder.ts
  packages/client/src/StreamrClientError.ts
  packages/client/src/encryption/GroupKey.ts
  packages/client/src/encryption/GroupKeyStore.ts
  packages/client/src/registry/StorageNodeRegistry.ts
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/registry/StreamRegistryCached.ts
  packages/client/src/registry/StreamStorageRegistry.ts
  packages/client/src/subscribe/Decrypt.ts
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/ResendSubscription.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/utils/GraphQLClient.ts
  packages/client/src/utils/HttpFetcher.ts
  packages/client/src/utils/LoggerFactory.ts
  packages/client/src/utils/Pipeline.ts
  packages/client/src/utils/Signal.ts
  packages/dht/src/connection/Connection.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/Handshaker.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/Simulator.ts
  packages/dht/src/connection/SimulatorTransport.ts
  packages/dht/src/connection/WebRTC/RemoteWebrtcConnector.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebSocket/RemoteWebSocketConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/dht/DuplicateDetector.ts
  packages/dht/src/dht/SortedContactList.ts
  packages/dht/src/helpers/errors.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/dht/test/benchmark/kademlia-simulation/SimulationNode.ts
  packages/network/src/simulator/NodeClientWsConnection_simulator.ts
  packages/network/src/simulator/ServerWsConnection_simulator.ts
  packages/network/src/simulator/Simulator.ts
  packages/proto-rpc/examples/routed-hello/routedhello.ts
  packages/proto-rpc/examples/wakeup/wakeup.ts
  packages/proto-rpc/src/RpcCommunicator.ts
  packages/proto-rpc/src/errors.ts
  packages/protocol/src/errors/InvalidJsonError.ts
  packages/protocol/src/errors/StreamMessageError.ts
  packages/protocol/src/errors/UnsupportedTypeError.ts
  packages/protocol/src/errors/UnsupportedVersionError.ts
  packages/protocol/src/errors/ValidationError.ts
Labels: network, client, protocol, dht, proto-rpc

#1072 feat(broker): Config overrides from environment variables
  packages/broker/CHANGELOG.md
  packages/broker/configuration.md
  packages/broker/src/config/config.ts
  packages/broker/test/unit/config.test.ts
Labels: broker, changelog
