Repository streamr-dev/network, pull requests merged in 2023-03, with the labels that each got.

#1103 NET-846: Split DhtNode features to files
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/DataStore.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/dht/PeerDiscovery.ts
  packages/dht/src/dht/RecursiveFindSession.ts
  packages/dht/src/dht/RecursiveFinder.ts
  packages/dht/src/dht/Router.ts
  packages/dht/src/dht/SetDuplicateDetector.ts
  packages/dht/test/benchmark/KademliaCorrectness.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/utils.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
Labels: dht

#1104 NET-846: CI, add browser workflows
  .github/workflows/validate.yml
Labels: ci

#1106 NET-846: remove preinstall protoc
  packages/dht/package.json
  packages/proto-rpc/package.json
Labels: dht, proto-rpc

#1105 NET846: (refactor) create LocalDataStore class
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/RecursiveFinder.ts
  packages/dht/src/dht/store/DataStore.ts
  packages/dht/src/dht/store/LocalDataStore.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/unit/LocalDataStore.test.ts
Labels: dht

#1107 NET-846: Reformat DhtNode
  packages/dht/src/dht/DhtNode.ts
  packages/dht/test/integration/ConnectionManager.test.ts
Labels: dht

#1108 NET-846: Reduce DHT test flakyness
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/test/integration/DhtWithRealConnectionLatencies.test.ts
  packages/dht/test/integration/Layer1-scale.test.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/utils.ts
Labels: dht

#1110 NET-846: Remove old duplicate detector
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/DuplicateDetector.ts
  packages/dht/src/dht/Router.ts
  packages/dht/src/dht/SetDuplicateDetector.ts
  packages/dht/test/unit/DuplicateDetector.test.ts
Labels: dht

#1113 NET-846: split DhtRpc, change directory structure
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/dht/DiscoverySession.ts
  packages/dht/src/dht/PeerDiscovery.ts
  packages/dht/src/dht/contact/Contact.ts
  packages/dht/src/dht/contact/RandomContactList.ts
  packages/dht/src/dht/contact/Remote.ts
  packages/dht/src/dht/contact/SortedContactList.ts
  packages/dht/src/dht/find/RecursiveFindSession.ts
  packages/dht/src/dht/find/RecursiveFinder.ts
  packages/dht/src/dht/find/RemoteRecursiveFindSession.ts
  packages/dht/src/dht/routing/RemoteRouter.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/dht/store/DataStore.ts
  packages/dht/src/dht/store/RemoteStore.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/benchmark/kademlia-simulation/Contact.ts
  packages/dht/test/integration/DhtPeer.test.ts
  packages/dht/test/integration/RemoteRouter.test.ts
  packages/dht/test/integration/RemoteStore.test.ts
  packages/dht/test/utils.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: dht

#1112 fix(client): NET-946 Minified bundle
  packages/client/README.md
Labels: client

#1115 NET-846: doRouteMessage refactor
  packages/dht/src/dht/find/RecursiveFinder.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/test/integration/RecursiveFind.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
Labels: dht

#1114 Improve docker tags
  .github/workflows/docker-build.yml
  .github/workflows/release.yml
  README.md
Labels: ci, docs

#1116 NET-846: Recursive find refactor
  packages/dht/src/dht/find/RecursiveFindSession.ts
  packages/dht/src/dht/find/RecursiveFinder.ts
  packages/dht/src/dht/find/RemoteRecursiveFindSession.ts
Labels: dht

#1118 NET-846: Connection manager refactor
  packages/dht/src/connection/ConnectionManager.ts
Labels: dht

#1122 NET-846: Scale down
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/RemoteConnectionLocker.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/rpc-protocol/DhtRpcOptions.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/ScaleDownDht.test.ts
  packages/dht/test/integration/WebRtcConnectionManagement.test.ts
  packages/dht/test/utils.ts
  packages/proto-rpc/src/ClientTransport.ts
  packages/proto-rpc/src/RpcCommunicator.ts
Labels: dht, proto-rpc

#1124 Net 846 improve do not connect
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/helpers/errors.ts
Labels: dht

#1127 NET-846: no longer bind server functions
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/find/RecursiveFindSession.ts
  packages/dht/src/dht/find/RecursiveFinder.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/store/DataStore.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
Labels: dht

#1136 NET-846: Router unit tests
  packages/dht/src/dht/routing/Router.ts
  packages/dht/test/unit/Router.test.ts
Labels: dht

#1134 fix: tracker invalidates status messages with empty stream ids
  packages/network-tracker/src/helpers/schemas.ts
  packages/network-tracker/test/unit/statusValidation.test.ts
Labels: tracker

#1137 NET-846: Find recursive tests
  packages/dht/src/dht/find/RecursiveFinder.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/test/benchmark/KademliaCorrectness.test.ts
  packages/dht/test/benchmark/RecursiveFind.test.ts
  packages/dht/test/integration/DhtPeer.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/integration/DhtWithMockConnectionLatencies.test.ts
  packages/dht/test/integration/DhtWithMockConnections.test.ts
  packages/dht/test/integration/DhtWithRealConnectionLatencies.test.ts
  packages/dht/test/integration/Layer1-scale.test.ts
  packages/dht/test/integration/Mock-Layer1-Layer0.test.ts
  packages/dht/test/integration/RecursiveFind.test.ts
  packages/dht/test/integration/RemoteRouter.test.ts
  packages/dht/test/integration/RemoteStore.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/ScaleDownDht.test.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/StoreOnDhtWithTwoNodes.test.ts
  packages/dht/test/integration/WebRtcConnectorRpc.test.ts
  packages/dht/test/integration/WebSocketConnectorRpc.test.ts
  packages/dht/test/unit/RecursiveFinder.test.ts
  packages/dht/test/unit/Router.test.ts
  packages/dht/test/utils/mock/Router.ts
  packages/dht/test/utils/mock/Transport.ts
  packages/dht/test/utils/utils.ts
Labels: dht

#1123 refactor(client)!: `Persistence` is now key-value (1/n)
  packages/client/src/encryption/GroupKeyStore.ts
  packages/client/src/encryption/migrations/003-encryption-keys.sql
  packages/client/src/utils/persistence/BrowserPersistence.ts
  packages/client/src/utils/persistence/Persistence.ts
  packages/client/src/utils/persistence/ServerPersistence.ts
  packages/client/test/unit/ServerPersistence.test.ts
Labels: client

#1125 feat(client)!: Publisher-specific encryption keys (2/n)
  packages/client/CHANGELOG.md
  packages/client/src/StreamrClient.ts
  packages/client/src/encryption/GroupKeyManager.ts
  packages/client/src/encryption/GroupKeyStore.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/publish/GroupKeyQueue.ts
  packages/client/src/publish/Publisher.ts
  packages/client/src/subscribe/Decrypt.ts
  packages/client/test/integration/Subscriber.test.ts
  packages/client/test/integration/SubscriberKeyExchange.test.ts
  packages/client/test/integration/multiple-clients.test.ts
  packages/client/test/integration/parallel-key-exchange.test.ts
  packages/client/test/integration/pre-agreed-encryption-key.test.ts
  packages/client/test/integration/resend-with-existing-key.test.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/GroupKeyManager.test.ts
  packages/client/test/unit/GroupKeyQueue.test.ts
  packages/client/test/unit/GroupKeyStore.test.ts
  packages/client/test/unit/MessageFactory.test.ts
Labels: client, changelog

#1128 feat: migrate existing encryption keys (3/n)
  packages/client/src/encryption/GroupKeyStore.ts
  packages/client/src/encryption/migrations/003-encryption-keys.sql
  packages/client/test/unit/GroupKeyStore.test.ts
Labels: client

#1138 NET-846: Data store unit tests
  packages/dht/src/dht/find/RecursiveFinder.ts
  packages/dht/src/dht/store/DataStore.ts
  packages/dht/test/unit/DataStore.test.ts
  packages/dht/test/utils/mock/RecursiveFinder.ts
Labels: dht

#1133 feat: reuse publisher keys (4/n)
  package-lock.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/client/src/PersistenceManager.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/encryption/GroupKeyManager.ts
  packages/client/src/encryption/LocalGroupKeyStore.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/encryption/migrations/004-latest-encryption-key-ids.sql
  packages/client/src/events.ts
  packages/client/src/exports.ts
  packages/client/src/publish/GroupKeyQueue.ts
  packages/client/src/publish/Publisher.ts
  packages/client/src/utils/persistence/BrowserPersistence.ts
  packages/client/src/utils/persistence/Persistence.ts
  packages/client/src/utils/persistence/PersistenceContext.ts
  packages/client/src/utils/persistence/ServerPersistence.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/integration/SubscriberKeyExchange.test.ts
  packages/client/test/integration/parallel-key-exchange.test.ts
  packages/client/test/integration/publisher-key-reuse.test.ts
  packages/client/test/integration/resend-with-existing-key.test.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Decrypt.test.ts
  packages/client/test/unit/GroupKeyManager.test.ts
  packages/client/test/unit/GroupKeyQueue.test.ts
  packages/client/test/unit/LocalGroupKeyStore.test.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/client/test/unit/Publisher.test.ts
  packages/client/test/unit/ServerPersistence.test.ts
  packages/client/test/unit/subscribePipeline.test.ts
Labels: client, changelog

#1145 NET-846: DHT file structure
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/routing/DuplicateDetector.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/test/unit/DuplicateDetector.test.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
Labels: dht

#1149 NET-846: Trackerless configurability
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/WebRTC/BrowserWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebRTC/iceServerAsString.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/exports.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/integration/NetworkNode.test.ts
  packages/trackerless-network/test/integration/NetworkStack.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
Labels: dht

#1151 NET-846: Address tools test
  packages/dht/test/unit/AddressTools.test.ts
Labels: dht

#1152 NET-846: Move pings file
  packages/dht/src/connection/Simulator/Simulator.ts
  packages/dht/src/connection/Simulator/pings.ts
  packages/dht/src/exports.ts
  packages/dht/test/integration/DhtWithRealConnectionLatencies.test.ts
  packages/dht/test/utils/utils.ts
  packages/dht/tsconfig.node.json
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
Labels: dht

#1154 fix(client): `SubscribeOptions` type
  packages/client/src/StreamrClient.ts
  packages/client/src/exports.ts
Labels: client

#1147 NET-948 (client): rename and increase ens stream creation timeout
  packages/client/CHANGELOG.md
  packages/client/src/Config.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/config.schema.json
  packages/client/src/registry/StreamRegistry.ts
  packages/client/test/end-to-end/StreamRegistry.test.ts
Labels: client, changelog

#1156 NET-950 feat(network): prohibit setProxies when acceptProxyConnections=true
  packages/network/src/logic/NetworkNode.ts
  packages/network/src/logic/Node.ts
  packages/network/test/unit/NetworkNode.test.ts
Labels: network

#1157 Net 846 add upwards scaling migration
  packages/dht/karma.config.js
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/IConnection.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/RemoteConnectionLocker.ts
  packages/dht/src/connection/Simulator/Simulator.ts
  packages/dht/src/connection/Simulator/SimulatorConnection.ts
  packages/dht/src/connection/Simulator/SimulatorConnector.ts
  packages/dht/src/connection/WebRTC/BrowserWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebSocket/ClientWebSocket.ts
  packages/dht/src/connection/WebSocket/ServerWebSocket.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/store/DataStore.ts
  packages/dht/src/dht/store/LocalDataStore.ts
  packages/dht/src/dht/store/RemoteStore.ts
  packages/dht/src/proto/google/protobuf/any.ts
  packages/dht/src/proto/google/protobuf/empty.ts
  packages/dht/src/proto/google/protobuf/timestamp.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/src/transport/ITransport.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/MigrateData.test.ts
  packages/dht/test/integration/ScaleDownDht.test.ts
  packages/dht/test/unit/DataStore.test.ts
  packages/dht/test/unit/LocalDataStore.test.ts
  packages/dht/test/utils/utils.ts
  packages/trackerless-network/src/proto/google/protobuf/any.ts
  packages/trackerless-network/src/proto/google/protobuf/empty.ts
  packages/trackerless-network/src/proto/google/protobuf/timestamp.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/test/unit/StreamEntrypointDiscovery.test.ts
Labels: dht

#1160 NET-846: Fix duplicate detector memory leaks
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/routing/DuplicateDetector.ts
  packages/dht/src/dht/routing/Router.ts
Labels: dht
