Repository streamr-dev/network, pull requests merged in 2023-07, with the labels that each got.

#1613 NET-953: operator plugin
  .github/workflows/validate.yml
  package-lock.json
  packages/broker/.vscode/launch.json
  packages/broker/package.json
  packages/broker/src/config/validateConfig.ts
  packages/broker/src/pluginRegistry.ts
  packages/broker/src/plugins/operator/AnnounceNodeService.ts
  packages/broker/src/plugins/operator/InspectRandomNodeService.ts
  packages/broker/src/plugins/operator/MaintainOperatorContractService.ts
  packages/broker/src/plugins/operator/MaintainOperatorValueHelper.ts
  packages/broker/src/plugins/operator/MaintainOperatorValueService.ts
  packages/broker/src/plugins/operator/MaintainTopologyHelper.ts
  packages/broker/src/plugins/operator/MaintainTopologyService.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/src/plugins/operator/VoteOnSuspectNodeService.ts
  packages/broker/src/plugins/operator/config.schema.json
  packages/broker/test/integration/plugins/operator/MaintainOperatorValueService.test.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyHelper.test.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/broker/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/broker/test/integration/plugins/operator/deployOperatorContract.ts
  packages/broker/test/integration/plugins/operator/deploySponsorshipContract.ts
  packages/broker/test/integration/plugins/operator/smartContractUtils.ts
  packages/broker/test/sequential/plugins/storage/DeleteExpiredCmd.test.ts
  packages/broker/test/unit/plugins/operator/AnnounceNodeService.test.ts
  packages/broker/test/unit/plugins/operator/FakeMaintainTopologyHelper.ts
  packages/broker/test/unit/plugins/operator/MaintainTopologyService.test.ts
  packages/broker/test/utils.ts
  packages/client/test/integration/multiple-clients.test.ts
Labels: ci, broker, client, tracker

#1573 feat: operator fleet state
  packages/broker/src/plugins/operator/OperatorFleetState.ts
  packages/broker/test/unit/plugins/operator/OperatorFleetState.test.ts
Labels: broker, tracker

#1623 fixed timing issue in MaintainOperatorValueService
  packages/broker/.vscode/launch.json
  packages/broker/src/plugins/operator/MaintainOperatorValueService.ts
  packages/broker/test/integration/plugins/operator/MaintainOperatorValueService.test.ts
Labels: broker

#1642 client [NET-992]: pre-compiled JSON schema validator
  package-lock.json
  packages/client/.eslintignore
  packages/client/bin/generate-config-validator.js
  packages/client/package.json
  packages/client/src/Config.ts
  packages/client/src/generated/validateConfig.js
Labels: client

#1614 VoteOnSuspectNodeService
  package-lock.json
  packages/broker/.vscode/launch.json
  packages/broker/package.json
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/src/plugins/operator/VoteOnSuspectNodeHelper.ts
  packages/broker/src/plugins/operator/VoteOnSuspectNodeService.ts
  packages/broker/test/integration/plugins/operator/MaintainOperatorValueService.test.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyHelper.test.ts
  packages/broker/test/integration/plugins/operator/VoteOnSuspectNodeService.test.ts
  packages/broker/test/integration/plugins/operator/createWalletAndDeployOperator.ts
  packages/broker/test/integration/plugins/operator/deployOperatorContract.ts
  packages/broker/test/integration/plugins/operator/deploySponsorshipContract.ts
  packages/broker/test/integration/plugins/operator/smartContractUtils.ts
Labels: broker, tracker
