Repository streamr-dev/network, pull requests merged in 2023-09, with the labels that each got.

#1808 test(broker): Optimize integration tests
  packages/broker/test/integration/plugins/mqtt/Bridge.test.ts
  packages/broker/test/integration/plugins/operator/InspectRandomNodeHelper.test.ts
Labels: broker

#1801 feat(network): Websocket port range
  packages/broker/test/integration/plugins/operator/AnnounceNodeToStreamService.test.ts
  packages/broker/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/client/src/Config.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/config.schema.json
  packages/client/src/exports.ts
  packages/client/src/generated/validateConfig.js
  packages/client/test/unit/Config.test.ts
  packages/client/webpack.config.js
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/WebSocket/ClientWebSocket.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketServer.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/exports.ts
  packages/dht/src/helpers/browser/isBrowser.ts
  packages/dht/src/helpers/browser/isNodeJS.ts
  packages/dht/test/end-to-end/Layer0-Layer1.test.ts
  packages/dht/test/end-to-end/Layer0.test.ts
  packages/dht/test/end-to-end/Layer0MixedConnectionTypes.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-WebSocket.test.ts
  packages/dht/test/end-to-end/WebSocketConnectionRequest.test.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/SimultaneousConnections.test.ts
  packages/dht/test/integration/WebSocket.test.ts
  packages/dht/test/integration/WebSocketConnectionManagement.test.ts
  packages/dht/test/unit/WebSocketServer.test.ts
  packages/trackerless-network/bin/full-node-websocket.ts
  packages/trackerless-network/test/end-to-end/random-graph-with-real-connections.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/NetworkStack.test.ts
Labels: broker, network, client, tracker, dht

#1814 NET-1038: support for `flagWithMetadata`
  packages/broker/src/plugins/operator/InspectRandomNodeHelper.ts
  packages/broker/src/plugins/operator/VoteOnSuspectNodeHelper.ts
  packages/broker/test/integration/plugins/operator/InspectRandomNodeHelper.test.ts
  packages/broker/test/integration/plugins/operator/VoteOnSuspectNodeService.test.ts
  packages/broker/test/unit/plugins/operator/VoteOnSuspectNodeHelper.test.ts
  packages/protocol/src/utils/exports.ts
Labels: broker, protocol

#1820 test(broker): add missing test for `ConsistentHashRing`
  packages/broker/test/unit/plugins/operator/ConsistentHashRing.test.ts
Labels: broker

#1818 fix(trackerless-network): Exclude undefined `interleaveSourceId`
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakerServer.ts
Labels: network

#1816 NET-1034: expose `Signer` of client and use in operator plugin
  packages/broker/src/plugins/operator/AnnounceNodeToContractHelper.ts
  packages/broker/src/plugins/operator/InspectRandomNodeHelper.ts
  packages/broker/src/plugins/operator/MaintainOperatorValueHelper.ts
  packages/broker/src/plugins/operator/MaintainTopologyHelper.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/src/plugins/operator/VoteOnSuspectNodeHelper.ts
  packages/broker/test/integration/plugins/operator/AnnounceNodeToContractHelper.test.ts
  packages/broker/test/integration/plugins/operator/InspectRandomNodeHelper.test.ts
  packages/broker/test/integration/plugins/operator/MaintainOperatorValueHelper.test.ts
  packages/broker/test/integration/plugins/operator/MaintainOperatorValueService.test.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyHelper.test.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/broker/test/integration/plugins/operator/OperatorValueBreachWatcher.test.ts
  packages/broker/test/integration/plugins/operator/VoteOnSuspectNodeService.test.ts
  packages/broker/test/integration/plugins/operator/contractUtils.ts
  packages/client/src/StreamrClient.ts
Labels: broker, client

#1828 test(client): `NodeID` handling in fake environment
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/NetworkNodeFacade.test.ts
  packages/client/test/integration/Resends.test.ts
  packages/client/test/integration/Resends2.test.ts
  packages/client/test/integration/Stream.test.ts
  packages/client/test/integration/Subscriber.test.ts
  packages/client/test/integration/gap-fill.test.ts
  packages/client/test/integration/invalid-messages.test.ts
  packages/client/test/integration/multiple-clients.test.ts
  packages/client/test/integration/resend-and-subscribe.test.ts
  packages/client/test/integration/resend-with-existing-key.test.ts
  packages/client/test/integration/revoke-permissions.test.ts
  packages/client/test/integration/sequential-resend-subscribe.test.ts
  packages/client/test/integration/unsubscribe.test.ts
  packages/client/test/integration/waitForStorage.test.ts
  packages/client/test/test-utils/fake/FakeEnvironment.ts
  packages/client/test/test-utils/fake/FakeNetwork.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
  packages/client/test/test-utils/fake/FakeStreamStorageRegistry.ts
Labels: client

#1819 feat(trackerless-network): Node ids as byte arrays in protobuf messages
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/RemoteRandomGraphNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakerServer.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManagerServer.ts
  packages/trackerless-network/src/logic/neighbor-discovery/RemoteHandshaker.ts
  packages/trackerless-network/src/logic/neighbor-discovery/RemoteNeighborUpdateManager.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionClient.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionServer.ts
  packages/trackerless-network/src/logic/proxy/RemoteProxyServer.ts
  packages/trackerless-network/src/logic/temporary-connection/RemoteTemporaryConnectionRpcServer.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/src/proto/packages/proto-rpc/protos/ProtoRpc.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.client.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.server.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/integration/Propagation.test.ts
  packages/trackerless-network/test/integration/RemoteNeighborUpdateManager.test.ts
  packages/trackerless-network/test/unit/HandshakerServer.test.ts
  packages/trackerless-network/test/unit/StreamNodeServer.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

#1826 refactor(broker): Use `@streamr/config` v4.0.2
  package-lock.json
  packages/broker/package.json
  packages/broker/test/integration/plugins/operator/InspectRandomNodeHelper.test.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/broker/test/integration/plugins/operator/contractUtils.ts
  packages/client/package.json
  packages/client/src/ConfigTest.ts
Labels: broker, client

#1829 refactor(trackerless-network): Remove `StreamrNodeConfig#id`
  packages/client/src/NetworkNodeFacade.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
Labels: network, client

#1832 fix(DHT): DHT default uuid KademliaID fix
  packages/client/test/end-to-end/StreamrClient.test.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/helpers/UUID.ts
  packages/dht/test/unit/UUID.test.ts
Labels: client, dht

#1836 refactor(broker): Rename operator value
  packages/broker/src/plugins/operator/MaintainOperatorPoolValueHelper.ts
  packages/broker/src/plugins/operator/MaintainOperatorPoolValueService.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/src/plugins/operator/OperatorPoolValueBreachWatcher.ts
  packages/broker/test/integration/plugins/operator/MaintainOperatorPoolValueHelper.test.ts
  packages/broker/test/integration/plugins/operator/MaintainOperatorPoolValueService.test.ts
  packages/broker/test/integration/plugins/operator/OperatorPoolValueBreachWatcher.test.ts
  packages/broker/test/integration/plugins/operator/operatorPoolValueUtils.ts
Labels: broker

#1830 refactor(trackerless-network): User id as Ethereum address
  packages/client/src/NetworkNodeFacade.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/exports.ts
  packages/trackerless-network/src/identifiers.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionClient.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionServer.ts
  packages/trackerless-network/src/logic/proxy/RemoteProxyServer.ts
  packages/trackerless-network/src/logic/utils.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
Labels: network, client

#1835 fix(dht): Websocket connected to self
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/test/integration/ConnectionManager.test.ts
Labels: dht

#1822 refactor: Remove unnecessary type assertions
  packages/broker/src/plugins/operator/MaintainTopologyHelper.ts
  packages/broker/test/integration/plugins/operator/contractUtils.ts
  packages/broker/test/utils.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/test/test-utils/fake/FakeStreamStorageRegistry.ts
  packages/client/test/unit/Config.test.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/RemoteConnectionLocker.ts
  packages/dht/src/connection/Simulator/Simulator.ts
  packages/dht/src/connection/Simulator/SimulatorConnector.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/RemoteWebrtcConnector.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebSocket/RemoteWebSocketConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/ExternalApi.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/find/RecursiveFinder.ts
  packages/dht/src/dht/routing/RemoteRouter.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/dht/store/DataStore.ts
  packages/dht/src/dht/store/LocalDataStore.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/unit/LocalDataStore.test.ts
  packages/proto-rpc/src/RpcCommunicator.ts
  packages/proto-rpc/src/ServerRegistry.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/RemoteRandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamEntryPointDiscovery.ts
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakerServer.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborFinder.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManagerServer.ts
  packages/trackerless-network/src/logic/neighbor-discovery/RemoteHandshaker.ts
  packages/trackerless-network/src/logic/neighbor-discovery/RemoteNeighborUpdateManager.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/StreamMessageTranslator.ts
  packages/trackerless-network/src/logic/proxy/RemoteProxyServer.ts
  packages/trackerless-network/src/logic/utils.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
Labels: broker, network, client, dht, proto-rpc

#1842 feat(trackerless-network): Remove `NameDirectory`
  packages/client/src/utils/contract.ts
  packages/trackerless-network/src/NameDirectory.ts
  packages/trackerless-network/src/exports.ts
Labels: network, client

#1734 feat(broker): [NET-981] Operator plugin accepts proxy connections
  packages/broker/src/Plugin.ts
  packages/broker/src/broker.ts
  packages/broker/src/helpers/applyPluginClientConfigs.ts
  packages/broker/src/pluginRegistry.ts
  packages/broker/src/plugins/consoleMetrics/ConsoleMetricsPlugin.ts
  packages/broker/src/plugins/http/HttpPlugin.ts
  packages/broker/src/plugins/info/InfoPlugin.ts
  packages/broker/src/plugins/mqtt/MqttPlugin.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/src/plugins/storage/StoragePlugin.ts
  packages/broker/src/plugins/subscriber/SubscriberPlugin.ts
  packages/broker/src/plugins/websocket/WebsocketPlugin.ts
  packages/broker/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/broker/test/integration/plugins/subscriber/SubscriberPlugin.test.ts
  packages/broker/test/unit/Plugin.test.ts
  packages/broker/test/unit/configMigration.test.ts
  packages/broker/test/unit/helpers/applyPluginClientConfigs.test.ts
Labels: broker, tracker

#1847 feat: isElectronRunning
  packages/test-utils/src/index.ts
  packages/test-utils/test/index.test.ts
Labels: test-utils

#1850 test: Disable fake timers in browser tests
  packages/dht/src/connection/Simulator/Simulator.ts
Labels: dht

#1831 feat(network): webrtc port range configuration
  packages/client/src/Config.ts
  packages/client/src/config.schema.json
  packages/client/src/generated/validateConfig.js
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/dht/DhtNode.ts
Labels: client, dht

#1786 refactor(client, protocol): pass signature as binary
  packages/broker/src/plugins/storage/DataQueryFormat.ts
  packages/broker/test/integration/plugins/storage/BatchManager.test.ts
  packages/broker/test/integration/plugins/storage/Storage.test.ts
  packages/broker/test/integration/plugins/storage/cassanda-queries.test.ts
  packages/broker/test/integration/plugins/storage/dataMetadataEndpoint.test.ts
  packages/broker/test/sequential/plugins/storage/CassandraNullPayloads.test.ts
  packages/broker/test/unit/plugins/storage/dataQueryEndpoint.test.ts
  packages/client/src/Authentication.ts
  packages/client/src/Message.ts
  packages/client/src/subscribe/waitForStorage.ts
  packages/client/src/utils/signingUtils.ts
  packages/client/test/benchmarks/SigningUtil.test.ts
  packages/client/test/integration/PublisherKeyExchange.test.ts
  packages/client/test/integration/SubscriberKeyExchange.test.ts
  packages/client/test/unit/Authentication.test.ts
  packages/client/test/unit/GapFiller.test.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/client/test/unit/OrderMessages.test.ts
  packages/client/test/unit/OrderMessages2.test.ts
  packages/client/test/unit/OrderedMessageChain.test.ts
  packages/client/test/unit/Resends.test.ts
  packages/client/test/unit/SigningUtil.test.ts
  packages/client/test/unit/messagePipeline.test.ts
  packages/client/test/unit/validateStreamMessage.test.ts
  packages/client/test/unit/validateStreamMessage2.test.ts
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/protocol/src/protocol/message_layer/streamMessageSerialization.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessage.test.ts
  packages/protocol/test/unit/protocol/message_layer/streamMessageSerialization.test.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/StreamMessageTranslator.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/inspect.test.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/integration/NetworkNode.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/unit/StreamMessageTranslator.test.ts
Labels: broker, network, client, protocol

#1813 NET-1054: fetch `redundancyFactor` from operator contract
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/src/plugins/operator/config.schema.json
  packages/broker/src/plugins/operator/fetchRedundancyFactor.ts
  packages/broker/test/integration/plugins/operator/contractUtils.ts
  packages/broker/test/integration/plugins/operator/fetchRedundancyFactor.test.ts
Labels: broker

#1851 test(trackerless-network): Unit-testable `NetworkNode`
  packages/client/src/NetworkNodeFacade.ts
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/exports.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/end-to-end/inspect.test.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/integration/NetworkNode.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network, client

#1839 fix(trackerless-network): Event listener removal
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionClient.ts
  packages/trackerless-network/test/unit/NetworkNode.test.ts
  packages/utils/src/addManagedEventListener.ts
  packages/utils/src/exports.ts
  packages/utils/test/addManagedEventListener.test.ts
Labels: network, utils

#1854 test: Runs test with `--bail`
  .github/workflows/validate.yml
  packages/broker/package.json
  packages/cli-tools/package.json
  packages/client/package.json
  packages/dht/package.json
  packages/proto-rpc/package.json
  packages/trackerless-network/package.json
Labels: ci, broker, network, client, cli-tools, dht, proto-rpc

#1838 refactor(trackerless-network): Remove `PeerId`
  packages/trackerless-network/src/logic/ILayer0.ts
  packages/trackerless-network/src/logic/NodeList.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamEntryPointDiscovery.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionClient.ts
  packages/trackerless-network/src/logic/temporary-connection/TemporaryConnectionRpcServer.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/inspect.test.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/end-to-end/random-graph-with-real-connections.test.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/integration/Inspect.test.ts
  packages/trackerless-network/test/integration/NetworkRpc.test.ts
  packages/trackerless-network/test/integration/NetworkStack.test.ts
  packages/trackerless-network/test/integration/NetworkStackStoppedDuringStart.test.ts
  packages/trackerless-network/test/integration/Propagation.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/RemoteHandshaker.test.ts
  packages/trackerless-network/test/integration/RemoteNeighborUpdateManager.test.ts
  packages/trackerless-network/test/integration/RemoteRandomGraphNode.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/unit/Handshaker.test.ts
  packages/trackerless-network/test/unit/HandshakerServer.test.ts
  packages/trackerless-network/test/unit/InspectSession.test.ts
  packages/trackerless-network/test/unit/Inspector.test.ts
  packages/trackerless-network/test/unit/NeighborFinder.test.ts
  packages/trackerless-network/test/unit/NetworkNode.test.ts
  packages/trackerless-network/test/unit/NodeList.test.ts
  packages/trackerless-network/test/unit/RandomGraphNode.test.ts
  packages/trackerless-network/test/unit/StreamEntrypointDiscovery.test.ts
  packages/trackerless-network/test/unit/StreamMessageTranslator.test.ts
  packages/trackerless-network/test/unit/StreamNodeServer.test.ts
  packages/trackerless-network/test/unit/StreamrNode.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

#1845 refactor(trackerless-network): Rename contact pool
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborFinder.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManagerServer.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/unit/Handshaker.test.ts
  packages/trackerless-network/test/unit/NeighborFinder.test.ts
  packages/trackerless-network/test/unit/RandomGraphNode.test.ts
Labels: network

#1782 refactor(dht): Simplify promise handling
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/dht/store/DataStore.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/utils/utils.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/integration/Propagation.test.ts
  packages/utils/src/waitForEvent3.ts
Labels: network, dht, utils

#1824 refactor(dht): Remove unused fields
  packages/dht/src/connection/RemoteConnectionLocker.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/ExternalApi.ts
  packages/dht/src/dht/registerExternalApiRpcMethod.ts
Labels: dht

#1859 feat(broker): Get `theGraphUrl` from client
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/exports.ts
Labels: broker, client

#1834 refactor(broker): Refactor `MaintainOperatorPoolValue` service
  packages/broker/src/helpers/multiply.ts
  packages/broker/src/plugins/operator/MaintainOperatorPoolValueService.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/src/plugins/operator/maintainOperatorPoolValue.ts
  packages/broker/test/integration/plugins/operator/MaintainOperatorPoolValueService.test.ts
  packages/broker/test/integration/plugins/operator/checkOperatorPoolValueBreach.test.ts
  packages/broker/test/integration/plugins/operator/maintainOperatorPoolValue.test.ts
  packages/broker/test/integration/plugins/operator/operatorPoolValueUtils.ts
Labels: broker

#1867 feat(broker): [NET-1047] Add leader check to MaintainOperatorPoolValue service
  packages/broker/src/plugins/operator/OperatorPlugin.ts
Labels: broker

#1861 refactor(trackerless-network): Simplify `NetworkNodeOptions`
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/test/end-to-end/inspect.test.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/Inspect.test.ts
  packages/trackerless-network/test/integration/NetworkNode.test.ts
  packages/trackerless-network/test/integration/NetworkStack.test.ts
  packages/trackerless-network/test/integration/NetworkStackStoppedDuringStart.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network, client

#1868 refactor: Use `NodeType` enum
  packages/broker/test/unit/config.test.ts
  packages/dht/test/integration/DhtPeer.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/integration/DhtWithMockConnectionLatencies.test.ts
  packages/dht/test/integration/DhtWithMockConnections.test.ts
  packages/dht/test/integration/DhtWithRealConnectionLatencies.test.ts
  packages/dht/test/integration/Layer1-scale.test.ts
  packages/dht/test/integration/Mock-Layer1-Layer0.test.ts
  packages/dht/test/integration/RemoteRouter.test.ts
  packages/dht/test/integration/RemoteStore.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/SimultaneousConnections.test.ts
  packages/dht/test/integration/WebRtcConnectorRpc.test.ts
  packages/dht/test/integration/WebSocketConnectorRpc.test.ts
  packages/dht/test/unit/RecursiveFinder.test.ts
  packages/dht/test/unit/Router.test.ts
  packages/dht/test/utils/utils.ts
  packages/proto-rpc/test/integration/ClientRpcTransport.test.ts
  packages/proto-rpc/test/utils.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/integration/Propagation.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/RemoteHandshaker.test.ts
  packages/trackerless-network/test/integration/RemoteNeighborUpdateManager.test.ts
  packages/trackerless-network/test/integration/RemoteRandomGraphNode.test.ts
  packages/trackerless-network/test/unit/Handshaker.test.ts
  packages/trackerless-network/test/unit/HandshakerServer.test.ts
  packages/trackerless-network/test/unit/NodeList.test.ts
  packages/trackerless-network/test/unit/RandomGraphNode.test.ts
  packages/trackerless-network/test/unit/StreamEntrypointDiscovery.test.ts
  packages/trackerless-network/test/unit/StreamNodeServer.test.ts
  packages/trackerless-network/test/unit/StreamrNode.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: broker, network, dht, proto-rpc

#1773 NET-1000: InspectRandomNodeService
  packages/broker/src/helpers/weightedSample.ts
  packages/broker/src/plugins/operator/ConsistentHashRing.ts
  packages/broker/src/plugins/operator/InspectRandomNodeHelper.ts
  packages/broker/src/plugins/operator/InspectRandomNodeService.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/src/plugins/operator/StreamAssignmentLoadBalancer.ts
  packages/broker/src/types/consistent-hash/index.d.ts
  packages/broker/test/integration/plugins/operator/InspectRandomNodeHelper.test.ts
  packages/broker/test/unit/helpers/weightedSample.test.ts
  packages/broker/test/unit/plugins/operator/ConsistentHashRing.test.ts
  packages/broker/test/unit/plugins/operator/InspectRandomNodeService.test.ts
  packages/broker/test/unit/plugins/operator/StreamAssignmentLoadBalancer.test.ts
Labels: broker

#1778 chore: consistent nodeId hex-format
  packages/broker/bin/entry-point.ts
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/test/integration/broker-subscriptions.test.ts
  packages/broker/test/integration/createMessagingPluginTest.ts
  packages/broker/test/integration/multiple-publisher-plugins.test.ts
  packages/broker/test/integration/plugins/mqtt/Bridge.test.ts
  packages/broker/test/integration/plugins/mqtt/MqttPlugin.test.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/integration/plugins/storage/dataMetadataEndpoint.test.ts
  packages/broker/test/integration/plugins/websocket/WebsocketPlugin.test.ts
  packages/broker/test/utils.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/config.schema.json
  packages/client/src/generated/validateConfig.js
  packages/client/src/utils/utils.ts
  packages/client/test/end-to-end/Metrics.test.ts
  packages/client/test/end-to-end/ProxyPublishSubscribe.test.ts
  packages/client/test/end-to-end/StorageNodeRegistry.test.ts
  packages/client/test/end-to-end/StorageNodeRegistry2.test.ts
  packages/client/test/end-to-end/StreamrClient.test.ts
  packages/client/test/end-to-end/get-diagnostic-info.test.ts
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/client/test/end-to-end/resend.test.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Config.test.ts
Labels: broker, client

#1737 feat(broker) [ETH-552]: add leader check to `VoteOnSuspectNodeService`
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/src/plugins/operator/VoteOnSuspectNodeHelper.ts
  packages/broker/src/plugins/operator/VoteOnSuspectNodeService.ts
  packages/broker/src/plugins/operator/inspectSuspectNode.ts
  packages/broker/test/integration/plugins/operator/VoteOnSuspectNodeService.test.ts
  packages/broker/test/unit/plugins/operator/VoteOnSuspectNodeHelper.test.ts
  packages/broker/test/unit/plugins/operator/inspectSuspectNode.test.ts
Labels: broker, tracker

#1792 refactor(client, protocol) GroupKey binary
  packages/client/src/encryption/EncryptionUtil.ts
  packages/client/src/encryption/GroupKey.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/test/integration/PublisherKeyExchange.test.ts
  packages/client/test/unit/EncryptionUtil.test.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/client/test/unit/RSAKeyPair.test.ts
  packages/client/test/unit/validateStreamMessage2.test.ts
  packages/protocol/src/protocol/message_layer/EncryptedGroupKey.ts
  packages/protocol/test/unit/protocol/message_layer/GroupKeyResponse.test.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessage.test.ts
  packages/protocol/test/unit/protocol/message_layer/streamMessageSerialization.test.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/GroupKeyResponseTranslator.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/StreamMessageTranslator.ts
  packages/trackerless-network/test/unit/GroupKeyResponseTranslator.test.ts
Labels: network, client, protocol

#1870 feat(utils) [NET-1065]: use sync setting in pino-pretty when running in Jest
  packages/utils/src/Logger.ts
Labels: utils

#1833 feat(network): External ip config
  packages/client/src/Config.ts
  packages/client/src/config.schema.json
  packages/client/src/generated/validateConfig.js
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/test/unit/webrtcReplaceInternalIpWithExternalIp.ts
Labels: client, dht

#1872 fix(network): Fix flaky browser test RandomGraphNode-Layer1Node
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
Labels: network

#1840 fix(network): Fix joining on streams when all entry points queried from DHT are offline.
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/trackerless-network/src/logic/ILayer1.ts
  packages/trackerless-network/src/logic/StreamEntryPointDiscovery.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/integration/joining-streams-on-offline-peers.test.ts
  packages/trackerless-network/test/unit/StreamEntrypointDiscovery.test.ts
Labels: network, dht

#1860 fix network split issue in small networks
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/test/unit/RandomGraphNode.test.ts
Labels: network

#1869 NET-1067: explicitly configured TLS certificates for WebSocket servers
  packages/broker/bin/entry-point.ts
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/src/plugins/operator/heartbeatUtils.ts
  packages/broker/test/unit/plugins/operator/heartbeatUtils.test.ts
  packages/broker/test/utils.ts
  packages/client/src/Config.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/config.schema.json
  packages/client/src/generated/validateConfig.js
  packages/client/test/unit/Config.test.ts
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketServer.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/exports.ts
  packages/dht/src/helpers/errors.ts
  packages/dht/src/helpers/protoClasses.ts
  packages/dht/src/proto/google/protobuf/any.ts
  packages/dht/src/proto/google/protobuf/empty.ts
  packages/dht/src/proto/google/protobuf/timestamp.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/src/proto/packages/proto-rpc/protos/ProtoRpc.ts
  packages/dht/test/end-to-end/Layer0-Layer1.test.ts
  packages/dht/test/end-to-end/Layer0.test.ts
  packages/dht/test/end-to-end/Layer0MixedConnectionTypes.test.ts
  packages/dht/test/end-to-end/Layer0WebRTC-Layer1.test.ts
  packages/dht/test/end-to-end/Layer0WebRTC.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-WebRTC.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-WebSocket.test.ts
  packages/dht/test/end-to-end/WebSocketConnectionRequest.test.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/SimultaneousConnections.test.ts
  packages/dht/test/integration/WebSocketConnectionManagement.test.ts
  packages/trackerless-network/src/proto/google/protobuf/any.ts
  packages/trackerless-network/src/proto/google/protobuf/empty.ts
  packages/trackerless-network/src/proto/google/protobuf/timestamp.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/test/end-to-end/inspect.test.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/end-to-end/random-graph-with-real-connections.test.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/NetworkStack.test.ts
  packages/trackerless-network/test/integration/NetworkStackStoppedDuringStart.test.ts
Labels: broker, network, client, dht

#1887 test(client): Improve `toThrowStreamrError` output
  packages/client/test/test-utils/customMatchers.ts
Labels: client

#1885 fix(client): Invalidate permission cache after publish failure
  packages/client/src/publish/MessageFactory.ts
  packages/client/test/end-to-end/Permissions.test.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Publisher.test.ts
Labels: client

#1888 feat(network): Advertised Websocket server host
  packages/client/bin/generate-config-validator.js
  packages/client/src/Config.ts
  packages/client/src/config.schema.json
  packages/client/src/generated/validateConfig.js
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketServer.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/unit/WebSocketServer.test.ts
  packages/trackerless-network/test/end-to-end/inspect.test.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/end-to-end/random-graph-with-real-connections.test.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/NetworkStack.test.ts
  packages/trackerless-network/test/integration/NetworkStackStoppedDuringStart.test.ts
Labels: network, client, dht

#1884 refactor: fix `@typescript-eslint/await-thenable` warnings
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/test/integration/multiple-publisher-plugins.test.ts
  packages/broker/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/broker/test/unit/ConfigWizard.test.ts
  packages/broker/test/unit/plugins/storage/StorageEventListener.test.ts
  packages/client/test/end-to-end/ProxyPublishSubscribe.test.ts
  packages/client/test/end-to-end/get-diagnostic-info.test.ts
  packages/client/test/end-to-end/searchStreams.test.ts
  packages/client/test/test-utils/fake/FakeStorageNodeRegistry.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/WebRtcConnectorRpc.test.ts
  packages/dht/test/integration/WebSocketConnectorRpc.test.ts
  packages/test-utils/src/index.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/StreamMessageTranslator.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/integration/Inspect.test.ts
  packages/trackerless-network/test/integration/RemoteRandomGraphNode.test.ts
  packages/trackerless-network/test/integration/joining-streams-on-offline-peers.test.ts
  packages/trackerless-network/test/unit/RandomGraphNode.test.ts
  packages/trackerless-network/test/unit/StreamrNode.test.ts
Labels: broker, network, client, test-utils, dht

#1881 NET-1013: re-enable skipped 'subscriber is able to receive messages' test case
  packages/client/test/end-to-end/publish-subscribe.test.ts
Labels: client

#1895 fix(dht): Use `DhtNode#peerId` as hex-string
  packages/dht/src/connection/WebSocket/WebSocketServer.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/test/end-to-end/Layer0-Layer1.test.ts
  packages/dht/test/end-to-end/Layer0.test.ts
  packages/dht/test/end-to-end/Layer0MixedConnectionTypes.test.ts
  packages/dht/test/end-to-end/Layer0WebRTC-Layer1.test.ts
  packages/dht/test/end-to-end/Layer0WebRTC.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-WebRTC.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-WebSocket.test.ts
  packages/dht/test/end-to-end/WebSocketConnectionRequest.test.ts
  packages/trackerless-network/test/end-to-end/random-graph-with-real-connections.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/NetworkStack.test.ts
Labels: network, dht

#1890 refactor(broker): Use updated contract names
  package-lock.json
  packages/broker/package.json
  packages/broker/src/plugins/operator/MaintainOperatorValueHelper.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/src/plugins/operator/checkOperatorPoolValueBreach.ts
  packages/broker/src/plugins/operator/checkOperatorValueBreach.ts
  packages/broker/src/plugins/operator/maintainOperatorValue.ts
  packages/broker/test/integration/plugins/operator/MaintainOperatorValueHelper.test.ts
  packages/broker/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/broker/test/integration/plugins/operator/contractUtils.ts
  packages/broker/test/integration/plugins/operator/maintainOperatorValue.test.ts
  packages/client/package.json
Labels: broker, client

#1886 refactor(broker): Read Docker dev entry point from config
  .github/workflows/validate.yml
  package-lock.json
  packages/broker/bin/entry-point.ts
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/package.json
  packages/broker/test/integration/config.test.ts
  packages/broker/test/utils.ts
  packages/client/package.json
  packages/client/src/ConfigTest.ts
Labels: ci, broker, client

#1889 refactor(trackerless-network): Simplify `StreamrNode#publishToStream`
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/Inspect.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
  packages/trackerless-network/test/integration/joining-streams-on-offline-peers.test.ts
  packages/trackerless-network/test/unit/StreamrNode.test.ts
Labels: network

#1897 refactor(trackerless-network): Simplify `NetworkStack` state
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
Labels: network, client

#1898 refactor(trackerless-network): Remove `NetworkNode#setExtraMetadata`
  packages/client/src/NetworkNodeFacade.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
Labels: network, client

#1893 refactor(trackerless-network): Inline `hasProxyConnection`
  packages/client/src/NetworkNodeFacade.ts
  packages/client/test/end-to-end/ProxyPublishSubscribe.test.ts
  packages/client/test/end-to-end/publish-subscribe-via-proxy.test.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/logic/IStreamNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
Labels: network, client

#1901 refactor(trackerless-network): Remove redundant fields from `RemoteProxyServer` RPCs
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionServer.ts
  packages/trackerless-network/src/logic/proxy/RemoteProxyServer.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/unit/RemoteProxyServer.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

#1902 test(trackerless-network): Use `createMockPeerDescriptor`
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/inspect.test.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/Inspect.test.ts
  packages/trackerless-network/test/integration/NetworkStack.test.ts
  packages/trackerless-network/test/integration/NetworkStackStoppedDuringStart.test.ts
  packages/trackerless-network/test/integration/Propagation.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/unit/Handshaker.test.ts
  packages/trackerless-network/test/unit/HandshakerServer.test.ts
  packages/trackerless-network/test/unit/Inspector.test.ts
  packages/trackerless-network/test/unit/RandomGraphNode.test.ts
  packages/trackerless-network/test/unit/StreamEntrypointDiscovery.test.ts
  packages/trackerless-network/test/unit/StreamNodeServer.test.ts
  packages/trackerless-network/test/unit/StreamrNode.test.ts
  packages/trackerless-network/test/utils/mock/MockLayer1.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

#1907 fix(dht): Fix browser webrtc ice servers
  packages/dht/src/connection/WebRTC/BrowserWebRtcConnection.ts
Labels: dht
