Repository streamr-dev/network, pull requests merged in 2023-12, with the labels that each got.

#2141 chore: temporary logging increase (testnet-one only)
  packages/broker/src/plugins/operator/ContractFacade.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
Labels: broker

#2147 fix(dht): Use `CUSTOM_GOING_AWAY` code in websocket close
  packages/dht/src/connection/websocket/ClientWebsocket.ts
  packages/dht/src/connection/websocket/ServerWebsocket.ts
Labels: dht

#2148 fix(dht): Recursive router can exclude peer
  packages/dht/src/dht/routing/Router.ts
Labels: dht

#2145 refactor(dht, trackerless-network): Use config options and named constants
  packages/dht/src/connection/ConnectionLockRpcRemote.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/connectivityChecker.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
  packages/dht/src/connection/websocket/WebsocketServer.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/ExternalApiRpcRemote.ts
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationSession.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/dht/store/StoreRpcLocal.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakeRpcLocal.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
  packages/trackerless-network/src/logic/temporary-connection/TemporaryConnectionRpcLocal.ts
Labels: network, dht

#2150 NET-998 query entrypoints from The Graph
  packages/broker/src/plugins/operator/ContractFacade.ts
  packages/client/src/Config.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/config.schema.json
  packages/client/src/exports.ts
  packages/client/src/generated/validateConfig.js
  packages/client/src/registry/OperatorRegistry.ts
  packages/client/test/integration/NetworkNodeFacade.test.ts
  packages/client/test/test-utils/fake/FakeEnvironment.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/client/test/test-utils/fake/FakeOperatorRegistry.ts
  packages/dht/src/connection/connectivityChecker.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/NetworkStack.ts
Labels: broker, network, client, dht

#2152 Fixed memory leak in ServerWebSocket
  packages/dht/src/connection/websocket/ServerWebsocket.ts
  packages/dht/test/benchmark/WebsocketServerMemoryLeak.test.ts
Labels: dht

#2154 Add try-catch around websocket accept
  packages/dht/src/connection/websocket/WebsocketServer.ts
Labels: dht

#2153 Fix websocket requestConnection()
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ConnectorFacade.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
  packages/dht/src/connection/websocket/WebsocketConnectorRpcLocal.ts
  packages/dht/src/connection/websocket/WebsocketConnectorRpcRemote.ts
  packages/dht/test/integration/SimultaneousConnections.test.ts
  packages/dht/test/integration/WebsocketConnectionManagement.test.ts
  packages/dht/test/integration/WebsocketConnectorRpc.test.ts
Labels: dht

#2155 refactor(dht): Optimize peer id utils
  packages/dht/src/helpers/PeerID.ts
  packages/dht/src/helpers/peerIdFromPeerDescriptor.ts
Labels: dht

#2161 fix(trackerless-network): fix first-message benchmark
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

#2156 fix(dht): Update of data `stale` state in `StoreRpcLocal#onNewContact`
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/store/StoreRpcLocal.ts
Labels: dht

#2160 deps: `@streamr/config` 5.0.4
  package-lock.json
  packages/broker/package.json
  packages/client/package.json
  packages/client/src/Config.ts
  packages/client/test/unit/Config.test.ts
Labels: broker, client

#2166 fix(dht): Close connections after timeout
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/WebrtcConnectionManagement.test.ts
  packages/dht/test/integration/WebsocketConnectionManagement.test.ts
Labels: dht

#2168 fix(trackerless-network): fix clean up
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
Labels: network

#2170 fix(autocertifier-client): Check the certificate.json file can be read and written before requesting certificates
  packages/autocertifier-client/src/AutoCertifierClient.ts
  packages/dht/src/connection/ConnectorFacade.ts
Labels: dht

#2177 Fix(DHT): Fix webrtc datachannel leak in cases where the channel was never opened
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
Labels: dht

#2174 refactor(dht): Remove `PeerManager` type assertions
  packages/dht/src/dht/PeerManager.ts
Labels: dht

#2178 ETH-716: manual gas limit to voting
  packages/broker/src/plugins/operator/ContractFacade.ts
Labels: ci, broker, network, client, protocol, test-utils, cli-tools, docs, tracker, utils

#2142 refactor(dht): Extract timeout handling from `LocalDataStore`
  packages/dht/src/dht/store/LocalDataStore.ts
  packages/dht/src/dht/store/StoreRpcLocal.ts
  packages/dht/src/helpers/MapWithTtl.ts
Labels: dht

#2143 refactor(dht): Extract `StoreManager`
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/store/StoreManager.ts
  packages/dht/src/dht/store/StoreRpcLocal.ts
Labels: dht

#2103 NET-1188: Update node start logs for v1.0
  docs/docs/guides/how-to-run-streamr-node.md
  packages/broker/src/broker.ts
  packages/broker/src/config/ConfigWizard.ts
  packages/broker/test/unit/ConfigWizard.test.ts
Labels: broker

#2188 Bump gas price by 30% when voting or flagging
  packages/broker/src/plugins/operator/ContractFacade.ts
Labels: broker

#2185 refactor(dht): Refactor `StoreManager`
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/dht/store/StoreManager.ts
  packages/dht/src/dht/store/StoreRpcRemote.ts
  packages/dht/test/unit/SortedContactList.test.ts
  packages/dht/test/unit/StoreManager.test.ts
Labels: dht

#2181 fix(network): Do not use virtual time
  packages/trackerless-network/test/integration/HandshakeRpcRemote.test.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/integration/Inspect.test.ts
  packages/trackerless-network/test/integration/NetworkNode.test.ts
  packages/trackerless-network/test/integration/NetworkRpc.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
Labels: network

#2189 refactor(dht): Refactor `RecursiveOperationSession`
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationSession.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationSessionRpcLocal.ts
  packages/dht/src/transport/ITransport.ts
  packages/dht/src/transport/ListeningRpcCommunicator.ts
  packages/dht/test/unit/RecursiveOperationManager.test.ts
  packages/dht/test/unit/RecursiveOperationSession.test.ts
  packages/dht/test/utils/FakeTransport.ts
Labels: dht

#2167 feat(dht): Change `WebsocketConnectorRpc#requestConnection` to notification
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/websocket/WebsocketConnector.ts
  packages/dht/src/connection/websocket/WebsocketConnectorRpcLocal.ts
  packages/dht/src/connection/websocket/WebsocketConnectorRpcRemote.ts
  packages/dht/src/helpers/protoClasses.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/integration/WebsocketConnectorRpc.test.ts
  packages/dht/test/utils/utils.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2192 fix(DHT): fix comparator in RoutingRpcComunicator
  packages/dht/src/transport/RoutingRpcCommunicator.ts
Labels: dht

#2194 refactor(dht): Options for `ITransport#send`
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/transport/ITransport.ts
  packages/dht/src/transport/ListeningRpcCommunicator.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
Labels: dht

#2187 test(dht): Use random node ids
  packages/browser-test-runner/karma.config.js
  packages/client/test/test-utils/customMatchers.ts
  packages/dht/jest.config.js
  packages/dht/karma-setup.js
  packages/dht/karma.config.js
  packages/dht/test/benchmark/Find.test.ts
  packages/dht/test/benchmark/KademliaCorrectness.test.ts
  packages/dht/test/end-to-end/Layer0-Layer1.test.ts
  packages/dht/test/end-to-end/Layer0.test.ts
  packages/dht/test/end-to-end/Layer0MixedConnectionTypes.test.ts
  packages/dht/test/end-to-end/Layer0Webrtc-Layer1.test.ts
  packages/dht/test/end-to-end/Layer0Webrtc.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-WebSocket.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-Webrtc.test.ts
  packages/dht/test/end-to-end/WebsocketConnectionRequest.test.ts
  packages/dht/test/end-to-end/memory-leak.test.ts
  packages/dht/test/integration/ConnectionLocking.test.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/DhtJoinPeerDiscovery.test.ts
  packages/dht/test/integration/DhtNodeExternalAPI.test.ts
  packages/dht/test/integration/DhtNodeRpcRemote.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/integration/Find.test.ts
  packages/dht/test/integration/Layer1-scale.test.ts
  packages/dht/test/integration/Mock-Layer1-Layer0.test.ts
  packages/dht/test/integration/MultipleEntryPointJoining.test.ts
  packages/dht/test/integration/ReplicateData.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/RouterRpcRemote.test.ts
  packages/dht/test/integration/RpcErrors.test.ts
  packages/dht/test/integration/ScaleDownDht.test.ts
  packages/dht/test/integration/SimultaneousConnections.test.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/StoreAndDelete.test.ts
  packages/dht/test/integration/StoreOnDhtWithTwoNodes.test.ts
  packages/dht/test/integration/StoreRpcRemote.test.ts
  packages/dht/test/integration/WebrtcConnectionManagement.test.ts
  packages/dht/test/integration/WebrtcConnectorRpc.test.ts
  packages/dht/test/integration/WebsocketConnectionManagement.test.ts
  packages/dht/test/integration/WebsocketConnectorRpc.test.ts
  packages/dht/test/unit/ConnectivityHelpers.test.ts
  packages/dht/test/unit/DuplicateDetector.test.ts
  packages/dht/test/unit/RandomContactList.test.ts
  packages/dht/test/unit/RecursiveOperationManager.test.ts
  packages/dht/test/unit/Router.test.ts
  packages/dht/test/unit/RoutingSession.test.ts
  packages/dht/test/unit/SortedContactList.test.ts
  packages/dht/test/unit/WebsocketConnector.test.ts
  packages/dht/test/unit/customMatchers.test.ts
  packages/dht/test/utils/customMatchers.ts
  packages/dht/test/utils/utils.ts
Labels: client, dht

#2195 refactor(dht): Remove `temporary-layer0-connection` lock
  packages/dht/src/dht/DhtNode.ts
Labels: dht

#2196 test(dht): Use mock data entries
  packages/dht/test/integration/DhtNodeExternalAPI.test.ts
  packages/dht/test/integration/ReplicateData.test.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/StoreAndDelete.test.ts
  packages/dht/test/integration/StoreOnDhtWithTwoNodes.test.ts
  packages/dht/test/integration/StoreRpcRemote.test.ts
  packages/dht/test/unit/LocalDataStore.test.ts
  packages/dht/test/utils/mock/mockDataEntry.ts
Labels: dht

#2183 fix(network): Less optimistic interleaving
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakeRpcLocal.ts
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakeRpcRemote.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.client.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.server.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/unit/HandshakeRpcLocal.test.ts
Labels: network

#2149 refactor(dht, trackerless-network): Remove unused interfaces
  packages/client/test/test-utils/fake/FakeOperatorRegistry.ts
  packages/client/test/test-utils/fake/FakeStorageNodeRegistry.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/test-utils/fake/FakeStreamStorageRegistry.ts
  packages/client/test/test-utils/types.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/store/StoreManager.ts
  packages/dht/test/unit/RecursiveOperationManager.test.ts
  packages/dht/test/utils/mock/Router.ts
  packages/test-utils/src/index.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/inspect/Inspector.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborFinder.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateRpcLocal.ts
  packages/trackerless-network/test/unit/RandomGraphNode.test.ts
  packages/trackerless-network/test/utils/mock/MockHandshaker.ts
  packages/trackerless-network/test/utils/mock/MockNeighborFinder.ts
  packages/trackerless-network/test/utils/mock/MockNeighborUpdateManager.ts
Labels: network, client, test-utils, dht

#2175 fix(dht): `PeerManager` excluded nodes
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/contact/SortedContactList.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/test/unit/PeerManager.test.ts
  packages/dht/test/unit/SortedContactList.test.ts
Labels: dht

#2203 fix(network): Fix stream split recovery filtering logic
  packages/trackerless-network/src/logic/EntryPointDiscovery.ts
Labels: network

#2193 test(dht): Remove `Simulator#useFakeTimers`
  package-lock.json
  packages/dht/package.json
  packages/dht/src/connection/simulator/Simulator.ts
Labels: dht

#2200 test(dht): Do not add duplicate entry point in `StoreAndDelete` test
  packages/dht/test/integration/StoreAndDelete.test.ts
Labels: dht

#2201 refactor(dht): Config objects
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/connection/websocket/AutoCertifierClientFacade.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
  packages/dht/src/connection/websocket/WebsocketServer.ts
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationSession.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/test/unit/RoutingSession.test.ts
Labels: dht

#2202 refactor(dht): Simplify `SendOptions`
  packages/dht/src/connection/ConnectionLockRpcRemote.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationRpcRemote.ts
  packages/dht/src/dht/routing/RouterRpcRemote.ts
  packages/dht/src/dht/store/StoreRpcRemote.ts
  packages/dht/src/rpc-protocol/DhtCallContext.ts
  packages/dht/src/rpc-protocol/DhtRpcOptions.ts
  packages/dht/src/transport/ITransport.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/dht/test/unit/StoreManager.test.ts
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakeRpcRemote.ts
Labels: network, dht

#2204 Fix(DHT): Critical WebSocket connection request bug
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ConnectorFacade.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
  packages/dht/src/connection/websocket/WebsocketConnectorRpcLocal.ts
Labels: dht

#2205 refactor(dht): Remove obsolete fields
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
  packages/dht/src/connection/websocket/ClientWebsocket.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
Labels: dht

#2206 Remove `StoreDataResponse#error`
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/store/StoreManager.ts
  packages/dht/src/dht/store/StoreRpcLocal.ts
  packages/dht/src/dht/store/StoreRpcRemote.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/integration/StoreRpcRemote.test.ts
  packages/dht/test/utils/utils.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2197 refactor(dht): `DataEntry#creator` is node id
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/ExternalApiRpcLocal.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationSession.ts
  packages/dht/src/dht/store/LocalDataStore.ts
  packages/dht/src/dht/store/StoreManager.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/integration/DhtNodeExternalAPI.test.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/StoreRpcRemote.test.ts
  packages/dht/test/unit/LocalDataStore.test.ts
  packages/dht/test/unit/StoreManager.test.ts
  packages/dht/test/utils/mock/mockDataEntry.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/test/unit/EntrypointDiscovery.test.ts
Labels: network, dht

#2128 feat(client): NET-1203 network -> controlLayer -> maxConnections config for the client
  packages/client/src/Config.ts
  packages/client/src/config.schema.json
  packages/client/src/generated/validateConfig.js
Labels: client

#2207 refactor(dht): Remove `RouterConfig#rpcRequestTimeout`
  packages/dht/src/dht/routing/Router.ts
Labels: dht

#2100 test(DHT): Latencies to simultaneous connections test
  packages/dht/test/integration/SimultaneousConnections.test.ts
Labels: dht

#2164 feat(trackerless-network): NET-1190 store new entry points for streams when entry points leave (re-opened)
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/logic/DeliveryRpcLocal.ts
  packages/trackerless-network/src/logic/DeliveryRpcRemote.ts
  packages/trackerless-network/src/logic/EntryPointDiscovery.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
  packages/trackerless-network/src/logic/proxy/ProxyConnectionRpcLocal.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/end-to-end/random-graph-with-real-connections.test.ts
  packages/trackerless-network/test/integration/DeliveryRpcRemote.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/integration/streamEntryPointReplacing.test.ts
  packages/trackerless-network/test/unit/DeliveryRpcLocal.test.ts
  packages/trackerless-network/test/unit/EntrypointDiscovery.test.ts
  packages/trackerless-network/test/unit/RandomGraphNode.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

#2209 fix(trackerless-network): Uniqueness check in `RandomGraphNode#getNeighborCandidatesFromLayer1`
  packages/trackerless-network/src/logic/RandomGraphNode.ts
Labels: network

#2184 feat(client, broker): [NET-1221] Use `ethers` overriders in operator plugin
  packages/broker/src/plugins/operator/ContractFacade.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/broker/test/integration/plugins/operator/contractUtils.ts
  packages/client/src/Config.ts
  packages/client/src/Ethereum.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/config.schema.json
  packages/client/src/exports.ts
  packages/client/src/generated/validateConfig.js
  packages/client/src/registry/StorageNodeRegistry.ts
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/registry/StreamStorageRegistry.ts
  packages/client/test/unit/Config.test.ts
Labels: broker, client

#2213 fix(DHT): Fix staleness corner case in small networks
  packages/dht/src/dht/store/StoreManager.ts
  packages/dht/src/dht/store/StoreRpcLocal.ts
  packages/dht/test/unit/StoreManager.test.ts
Labels: dht

#2210 refactor(dht): Type of `RouteMessageWrapper#destinationPeer`
  packages/client/src/utils/utils.ts
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationRpcRemote.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationSession.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RouterRpcLocal.ts
  packages/dht/src/dht/routing/RouterRpcRemote.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/integration/Layer1-scale.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/RouterRpcRemote.test.ts
  packages/dht/test/unit/RecursiveOperationManager.test.ts
  packages/dht/test/unit/Router.test.ts
  packages/dht/test/unit/RoutingSession.test.ts
  packages/dht/test/utils/customMatchers.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, client, dht

#2208 deps: `@streamr/config` 5.0.5
  package-lock.json
  packages/broker/package.json
  packages/client/package.json
Labels: broker, client

#2215 refactor(dht): Refactor `RpcRemote` constructor
  packages/dht/src/connection/ConnectionLockRpcRemote.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/connection/webrtc/WebrtcConnectorRpcLocal.ts
  packages/dht/src/connection/webrtc/WebrtcConnectorRpcRemote.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
  packages/dht/src/connection/websocket/WebsocketConnectorRpcRemote.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtNodeRpcRemote.ts
  packages/dht/src/dht/ExternalApiRpcRemote.ts
  packages/dht/src/dht/contact/RpcRemote.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationRpcRemote.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationSessionRpcRemote.ts
  packages/dht/src/dht/routing/RouterRpcRemote.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/dht/store/StoreRpcRemote.ts
  packages/dht/test/integration/DhtNodeRpcRemote.test.ts
  packages/dht/test/integration/RouterRpcRemote.test.ts
  packages/dht/test/integration/StoreRpcRemote.test.ts
  packages/dht/test/unit/PeerManager.test.ts
  packages/dht/test/unit/RecursiveOperationSession.test.ts
  packages/dht/test/unit/Router.test.ts
  packages/dht/test/unit/RoutingSession.test.ts
  packages/dht/test/utils/mock/MockRpcCommunicator.ts
  packages/proto-rpc/src/exports.ts
  packages/proto-rpc/src/toProtoRpcClient.ts
  packages/trackerless-network/src/logic/DeliveryRpcRemote.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/inspect/Inspector.ts
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakeRpcRemote.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateRpcLocal.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateRpcRemote.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
  packages/trackerless-network/src/logic/proxy/ProxyConnectionRpcLocal.ts
  packages/trackerless-network/src/logic/proxy/ProxyConnectionRpcRemote.ts
  packages/trackerless-network/src/logic/temporary-connection/TemporaryConnectionRpcLocal.ts
  packages/trackerless-network/src/logic/temporary-connection/TemporaryConnectionRpcRemote.ts
  packages/trackerless-network/test/integration/DeliveryRpcRemote.test.ts
  packages/trackerless-network/test/integration/HandshakeRpcRemote.test.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/integration/NeighborUpdateRpcRemote.test.ts
  packages/trackerless-network/test/unit/NodeList.test.ts
  packages/trackerless-network/test/unit/ProxyConnectionRpcRemote.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network, dht, proto-rpc

#2216 fix(broker): Wait for subscription in operator plugin test
  packages/broker/test/integration/plugins/operator/OperatorPlugin.test.ts
Labels: broker

#2199 NET-1133: Update config wizard to create v1.0 configs
  package-lock.json
  packages/broker/bin/config-wizard.ts
  packages/broker/package.json
  packages/broker/src/config/ConfigWizard.ts
  packages/broker/src/config/config.ts
  packages/broker/test/unit/ConfigWizard.test.ts
Labels: broker

#2225 NET-1231: Move `environment` into `client`
  packages/broker/src/config/ConfigWizard.ts
  packages/broker/test/unit/ConfigWizard.test.ts
Labels: broker

#2220 refactor(dht): Remove `LeaveNotice#serviceId`
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtNodeRpcLocal.ts
  packages/dht/src/dht/DhtNodeRpcRemote.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2227 feat(client): Enable `entryPointDiscovery`
  packages/client/src/config.schema.json
  packages/client/src/generated/validateConfig.js
Labels: client

#2223 fix(DHT): joinDht end condition
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
Labels: dht

#2219 feat(dht): Check version compatibility on handshakes
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/Handshaker.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/webrtc/WebrtcConnectorRpcLocal.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
  packages/dht/src/helpers/versionCompatibility.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/unit/versionCompatibility.test.ts
  packages/dht/tsconfig.browser.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.node.json
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2221 refactor(dht): Remove `RpcRemote#serviceId`
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/connection/webrtc/WebrtcConnectorRpcLocal.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtNodeRpcRemote.ts
  packages/dht/src/dht/contact/RpcRemote.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/test/integration/RouterRpcRemote.test.ts
  packages/dht/test/integration/StoreRpcRemote.test.ts
  packages/dht/test/unit/RecursiveOperationSession.test.ts
  packages/trackerless-network/src/logic/DeliveryRpcRemote.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/src/logic/inspect/Inspector.ts
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakeRpcRemote.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateRpcLocal.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateRpcRemote.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
  packages/trackerless-network/src/logic/proxy/ProxyConnectionRpcLocal.ts
  packages/trackerless-network/src/logic/temporary-connection/TemporaryConnectionRpcLocal.ts
  packages/trackerless-network/test/integration/DeliveryRpcRemote.test.ts
  packages/trackerless-network/test/integration/HandshakeRpcRemote.test.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/integration/NeighborUpdateRpcRemote.test.ts
  packages/trackerless-network/test/unit/NodeList.test.ts
  packages/trackerless-network/test/unit/ProxyConnectionRpcRemote.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network, dht

#2222 refactor: use `forEach()` instead of `map()`
  packages/dht/src/dht/PeerManager.ts
  packages/dht/test/benchmark/SortedContactListBenchmark.test.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
  packages/trackerless-network/test/benchmark/first-message.ts
Labels: network, dht

#2233 fix(DHT): Forwarding through connected entrypoints only
  packages/dht/src/dht/DhtNode.ts
Labels: dht

#2224 refactor: Remove commented-out code
  packages/client/src/utils/Gate.ts
  packages/client/src/utils/Pipeline.ts
  packages/client/src/utils/PushBuffer.ts
  packages/client/src/utils/WebStreamToNodeStream.ts
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/helpers/PeerID.ts
  packages/proto-rpc/src/ClientTransport.ts
  packages/proto-rpc/src/RpcCommunicator.ts
Labels: client, dht, proto-rpc

#2239 fix(dht): Private loopback addresses
  packages/dht/src/helpers/AddressTools.ts
  packages/dht/test/unit/AddressTools.test.ts
Labels: dht

#2241 fix(trackerless-network): Fix publishing
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
Labels: network

#2242 refactor(dht, trackerless-network): Remove redundant `DhtAddress` conversions
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/simulator/SimulatorConnection.ts
  packages/dht/src/connection/simulator/SimulatorConnector.ts
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtNodeRpcRemote.ts
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationRpcRemote.ts
  packages/dht/src/dht/routing/RouterRpcRemote.ts
  packages/dht/src/dht/store/StoreManager.ts
  packages/dht/src/helpers/peerIdFromPeerDescriptor.ts
  packages/dht/test/integration/ReplicateData.test.ts
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakeRpcLocal.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateRpcLocal.ts
Labels: network, dht

#2244 fix(DHT): Remove heavy trace log line
  packages/dht/src/connection/ConnectionManager.ts
Labels: dht

#2095 refactor(Proto-rpc, DHT): RpcCommunicator ProtoCallContext generic typing
  packages/dht/src/dht/DhtNodeRpcRemote.ts
  packages/dht/src/dht/contact/RpcRemote.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/dht/test/integration/DhtNodeRpcRemote.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/integration/RouterRpcRemote.test.ts
  packages/dht/test/integration/StoreRpcRemote.test.ts
  packages/dht/test/integration/WebrtcConnectorRpc.test.ts
  packages/dht/test/integration/WebsocketConnectorRpc.test.ts
  packages/proto-rpc/src/RpcCommunicator.ts
  packages/proto-rpc/test/unit/RpcCommunicator.test.ts
  packages/trackerless-network/src/logic/inspect/Inspector.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/test/integration/NetworkRpc.test.ts
Labels: network, dht, proto-rpc

#2243 refactor(trackerless-network): Rename `NodeList` methods
  packages/trackerless-network/src/logic/NodeList.ts
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakeRpcLocal.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/test/unit/NodeList.test.ts
Labels: network

#2245 test(dht): Fix `Find` test assertions
  packages/dht/test/benchmark/Find.test.ts
  packages/dht/test/integration/Find.test.ts
Labels: dht

#2246 test(dht): Simplify `RouteMessage` test
  packages/dht/test/integration/RouteMessage.test.ts
Labels: dht

#2250 fix(DHT): fix flaky find test, test was setup had a high chance of splitting
  packages/dht/test/integration/Find.test.ts
Labels: dht

#2236 fix(dht): Recursive operation second path close condition
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationSession.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationSessionRpcLocal.ts
  packages/dht/test/integration/StoreOnDhtWithThreeNodes.test.ts
  packages/dht/test/unit/RecursiveOperationSession.test.ts
  packages/dht/test/utils/FakeTransport.ts
Labels: dht

#2235 feat(DHT): Router exclude parallel path root
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/recursive-operation/RecursiveOperationRpcRemote.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationSession.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RouterRpcRemote.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/RouterRpcRemote.test.ts
  packages/dht/test/unit/RecursiveOperationManager.test.ts
  packages/dht/test/unit/Router.test.ts
  packages/dht/test/unit/RoutingSession.test.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2253 fix(network): fix flaky test `integration/RandomGraphNode-Layer1Node-Latencies.test.ts`
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
Labels: network

#1910 feat(protocol, client, network): NET-1009 Publish binary content
  packages/broker/test/integration/plugins/storage/BatchManager.test.ts
  packages/broker/test/integration/plugins/storage/Storage.test.ts
  packages/broker/test/integration/plugins/storage/cassanda-queries.test.ts
  packages/broker/test/sequential/plugins/storage/CassandraNullPayloads.test.ts
  packages/broker/test/unit/plugins/storage/dataQueryEndpoint.test.ts
  packages/client/src/Message.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/publish/MessageFactory.ts
  packages/client/test/end-to-end/binary-publish.test.ts
  packages/client/test/integration/Subscriber2.test.ts
  packages/client/test/integration/waitForStorage.test.ts
  packages/client/test/unit/GapFiller.test.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/client/test/unit/MessageStream.test.ts
  packages/client/test/unit/OrderMessages.test.ts
  packages/client/test/unit/OrderMessages2.test.ts
  packages/client/test/unit/OrderedMessageChain.test.ts
  packages/client/test/unit/PushPipeline.test.ts
  packages/client/test/unit/Resends.test.ts
  packages/client/test/unit/messagePipeline.test.ts
  packages/client/test/unit/validateStreamMessage2.test.ts
  packages/client/test/unit/waitForAssignmentsToPropagate.test.ts
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessage.test.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/StreamMessageTranslator.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/inspect.test.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/integration/NetworkNode.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/unit/StreamMessageTranslator.test.ts
Labels: broker, network, client, protocol
