Repository streamr-dev/network, pull requests merged in 2023-10, with the labels that each got.

#1827 refactor(client): StreamMessage Content binary
  packages/broker/src/plugins/storage/DataQueryFormat.ts
  packages/broker/test/integration/plugins/storage/BatchManager.test.ts
  packages/broker/test/integration/plugins/storage/Storage.test.ts
  packages/broker/test/integration/plugins/storage/cassanda-queries.test.ts
  packages/broker/test/sequential/plugins/storage/CassandraNullPayloads.test.ts
  packages/broker/test/unit/plugins/storage/dataQueryEndpoint.test.ts
  packages/cli-tools/bin/streamr-stream-subscribe.ts
  packages/cli-tools/test/stream-publish-subscribe.test.ts
  packages/client/src/encryption/EncryptionUtil.ts
  packages/client/src/encryption/GroupKey.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/publish/MessageFactory.ts
  packages/client/src/publish/Publisher.ts
  packages/client/src/subscribe/MessageStream.ts
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/client/test/integration/Subscriber.test.ts
  packages/client/test/integration/Subscriber2.test.ts
  packages/client/test/integration/waitForStorage.test.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/EncryptionUtil.test.ts
  packages/client/test/unit/GapFiller.test.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/client/test/unit/MessageStream.test.ts
  packages/client/test/unit/OrderMessages.test.ts
  packages/client/test/unit/OrderMessages2.test.ts
  packages/client/test/unit/OrderedMessageChain.test.ts
  packages/client/test/unit/PushPipeline.test.ts
  packages/client/test/unit/Resends.test.ts
  packages/client/test/unit/messagePipeline.test.ts
  packages/client/test/unit/validateStreamMessage2.test.ts
  packages/client/test/unit/waitForAssignmentsToPropagate.test.ts
  packages/protocol/src/protocol/message_layer/GroupKeyMessage.ts
  packages/protocol/src/protocol/message_layer/GroupKeyRequest.ts
  packages/protocol/src/protocol/message_layer/GroupKeyResponse.ts
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/protocol/src/protocol/message_layer/signature.ts
  packages/protocol/src/protocol/message_layer/streamMessageSerialization.ts
  packages/protocol/src/utils/validations.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessage.test.ts
  packages/protocol/test/unit/protocol/message_layer/streamMessageSerialization.test.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/StreamMessageTranslator.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/inspect.test.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/integration/NetworkNode.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/unit/StreamMessageTranslator.test.ts
Labels: broker, network, client, protocol, cli-tools

#1903 refactor(trackerless-network): [NET-1027] Remove redundant `senderId` from protobuf messages
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/RemoteRandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamNodeServer.ts
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakerServer.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManagerServer.ts
  packages/trackerless-network/src/logic/neighbor-discovery/RemoteHandshaker.ts
  packages/trackerless-network/src/logic/neighbor-discovery/RemoteNeighborUpdateManager.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionClient.ts
  packages/trackerless-network/src/logic/temporary-connection/RemoteTemporaryConnectionRpcServer.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/integration/RemoteNeighborUpdateManager.test.ts
  packages/trackerless-network/test/unit/HandshakerServer.test.ts
  packages/trackerless-network/test/unit/StreamNodeServer.test.ts
Labels: network

#1911 test(broker): Fix flaky "OperatorPlugin accepts proxy connections" test
  packages/broker/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionClient.ts
  packages/trackerless-network/src/logic/proxy/RemoteProxyServer.ts
Labels: broker, network

#1912 feat(broker): Add logging for `MaintainTopologyService`
  packages/broker/src/plugins/operator/MaintainTopologyService.ts
Labels: broker

#1905 feat(DHT): External store request
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/RemoteExternalApi.ts
  packages/dht/src/dht/registerExternalApiRpcMethod.ts
  packages/dht/src/dht/registerExternalApiRpcMethods.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/integration/DhtNodeExternalAPI.test.ts
Labels: dht

#1915 fix(proto-rpc): Response error handling
  packages/proto-rpc/src/RpcCommunicator.ts
Labels: proto-rpc

#1918 fix(DHT): Websocket server clean up fix
  packages/dht/src/connection/WebSocket/ServerWebSocket.ts
Labels: dht

#1880 refactor(trackerless-network): Rename `subscribe`/`unsubscribe` to `join`/`leave`
  docs/docs/usage/streamr-js-client/configuration/metrics-publishing.md
  packages/broker/src/plugins/storage/StoragePlugin.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/test/end-to-end/Metrics.test.ts
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/client/test/integration/Subscriber.test.ts
  packages/client/test/integration/Subscriber2.test.ts
  packages/client/test/integration/SubscriberKeyExchange.test.ts
  packages/client/test/integration/gap-fill.test.ts
  packages/client/test/integration/invalid-messages.test.ts
  packages/client/test/integration/parallel-key-exchange.test.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
  packages/client/test/test-utils/utils.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/inspect.test.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/Inspect.test.ts
  packages/trackerless-network/test/integration/NetworkNode.test.ts
  packages/trackerless-network/test/integration/NetworkStack.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
  packages/trackerless-network/test/integration/joining-streams-on-offline-peers.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/unit/NetworkNode.test.ts
  packages/trackerless-network/test/unit/StreamrNode.test.ts
Labels: broker, network, client

#1909 fix(trackerless-network): [NET-1093] `setProxies` doesn’t remove proxies when `connectionCount` is 0
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/StreamrClient.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionClient.ts
  packages/trackerless-network/test/unit/StreamrNode.test.ts
Labels: network, client

#1916 fix(dht): [NET-1099] Incorrect event payload `SortedContactList#onContactRemoved`
  packages/dht/src/dht/contact/SortedContactList.ts
  packages/dht/test/unit/SortedContactList.test.ts
Labels: dht

#1899 NET-1012: InfoRpc
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/info-rpc/InfoClient.ts
  packages/trackerless-network/src/logic/info-rpc/InfoRpcServer.ts
  packages/trackerless-network/src/logic/info-rpc/RemoteInfoRpcServer.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.client.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.server.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/integration/InfoRpc.test.ts
Labels: network

#1922 feat(broker): [NET-1089] Improve logging in `StreamPartAssignments`
  packages/broker/src/plugins/operator/MaintainTopologyService.ts
  packages/broker/src/plugins/operator/StreamPartAssignments.ts
  packages/broker/src/plugins/operator/inspectRandomNode.ts
  packages/broker/src/plugins/operator/inspectionUtils.ts
  packages/broker/test/unit/plugins/operator/MaintainTopologyService.test.ts
  packages/broker/test/unit/plugins/operator/StreamPartAssignments.test.ts
  packages/broker/test/unit/plugins/operator/inspectRandomNode.test.ts
  packages/broker/test/unit/plugins/operator/inspectionUtils.test.ts
Labels: broker

#1923 fix(network): [NET-1033, NET-1107] Flaky network browser tests
  packages/trackerless-network/test/integration/Inspect.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
Labels: network

#1906 fix(network): Avoid offline peers in network split avoidance
  packages/trackerless-network/src/logic/StreamEntryPointDiscovery.ts
Labels: network

#1920 fix(trackerless-network): [NET-1104] Duplicate entry points in `joinStream`
  packages/trackerless-network/src/logic/StreamEntryPointDiscovery.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
Labels: network

#1921 fix(trackerless-network): [NET-1106] Proxy connections counted as neighbors
  packages/client/src/NetworkNodeFacade.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
Labels: network, client

#1919 fix(network): Protobuf fromBinary error handling
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/Handshaker.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/StreamMessageTranslator.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionServer.ts
Labels: network, tracker, dht

#1908 feat: re-enable random node inspection + refactorings
  packages/broker/src/plugins/operator/MaintainTopologyService.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/src/plugins/operator/announceNodeToStream.ts
  packages/broker/src/plugins/operator/formCoordinationStreamId.ts
  packages/broker/src/plugins/operator/inspectionUtils.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/broker/test/integration/plugins/operator/announceNodeToStream.test.ts
  packages/broker/test/unit/plugins/operator/MaintainTopologyService.test.ts
  packages/broker/test/unit/plugins/operator/OperatorFleetState.test.ts
  packages/broker/test/unit/plugins/operator/formCoordinationStreamId.test.ts
Labels: broker

#1931 NET-1110: hotfix: add msg handler to MaintainTopologyService
  packages/broker/src/plugins/operator/MaintainTopologyService.ts
  packages/broker/test/unit/plugins/operator/MaintainTopologyService.test.ts
Labels: broker

#1930 test(trackerless-network): Update deprecated jest config
  packages/trackerless-network/jest.config.js
  packages/trackerless-network/tsconfig.jest.json
Labels: network

#1924 fix(network): NET 994 re-enable `multiple nodes can join without configured entrypoints simultaneously`
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
Labels: network

#1927 refactor(trackerless-network): Divide `StreamrNode#joinStream`
  packages/dht/src/dht/DhtNode.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/end-to-end/inspect.test.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/NetworkStack.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
  packages/trackerless-network/test/integration/joining-streams-on-offline-peers.test.ts
  packages/trackerless-network/test/unit/StreamrNode.test.ts
Labels: network, dht

#1932 refactor(dht): `ContactList` superclass
  packages/dht/src/dht/contact/ContactList.ts
  packages/dht/src/dht/contact/RandomContactList.ts
  packages/dht/src/dht/contact/SortedContactList.ts
Labels: dht

#1929 refactor(trackerless-network): Remove `IStreamNode`
  packages/trackerless-network/src/logic/IStreamNode.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamEntryPointDiscovery.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionClient.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
Labels: network

#1928 refactor(trackerless-network): Rename `stream` -> `streamPart` when operating on stream partitions
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/RemoteRandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamNodeServer.ts
  packages/trackerless-network/src/logic/StreamPartEntryPointDiscovery.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakerServer.ts
  packages/trackerless-network/src/logic/neighbor-discovery/RemoteHandshaker.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionClient.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionServer.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.client.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.server.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/inspect.test.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/integration/NetworkStack.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/RemoteHandshaker.test.ts
  packages/trackerless-network/test/integration/RemoteRandomGraphNode.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
  packages/trackerless-network/test/integration/joining-streams-on-offline-peers.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/unit/HandshakerServer.test.ts
  packages/trackerless-network/test/unit/StreamMessageTranslator.test.ts
  packages/trackerless-network/test/unit/StreamNodeServer.test.ts
  packages/trackerless-network/test/unit/StreamPartEntrypointDiscovery.test.ts
  packages/trackerless-network/test/unit/StreamrNode.test.ts
Labels: network

#1945 refactor(utils): Compatible timer types
  packages/utils/src/abortableTimers.ts
  packages/utils/test/TheGraphClient.test.ts
Labels: utils

#1951 fix(trackerless-network): [NET-1120] Use `streamPartitionMinPropagationTargets` in proxy client
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionClient.ts
Labels: network

#1933 refactor(dht): `ContactList` item type
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/contact/Contact.ts
  packages/dht/src/dht/contact/ContactList.ts
  packages/dht/src/dht/contact/RandomContactList.ts
  packages/dht/src/dht/contact/SortedContactList.ts
  packages/dht/src/dht/find/RecursiveFinder.ts
  packages/dht/test/unit/RandomContactList.test.ts
  packages/dht/test/unit/SortedContactList.test.ts
  packages/trackerless-network/src/logic/ILayer1.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network, dht

#1934 refactor(dht): `Remote` doesn't implement `IContact`
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/dht/contact/Contact.ts
  packages/dht/src/dht/contact/ContactList.ts
  packages/dht/src/dht/contact/RandomContactList.ts
  packages/dht/src/dht/contact/Remote.ts
  packages/dht/src/dht/contact/SortedContactList.ts
  packages/dht/src/dht/routing/RemoteRouter.ts
  packages/dht/src/dht/routing/RoutingSession.ts
Labels: dht

#1949 refactor(trackerless-network): Remove obsolete methods
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/NodeList.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborFinder.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManagerServer.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionClient.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionServer.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/unit/RandomGraphNode.test.ts
Labels: network

#1953 refactor(dht): Do not expose `DhtPeer`
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/exports.ts
  packages/dht/test/benchmark/KademliaCorrectness.test.ts
  packages/dht/test/end-to-end/Layer0-Layer1.test.ts
  packages/dht/test/integration/DhtWithMockConnectionLatencies.test.ts
  packages/dht/test/integration/DhtWithMockConnections.test.ts
  packages/dht/test/integration/DhtWithRealConnectionLatencies.test.ts
  packages/trackerless-network/src/logic/ILayer1.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/test/utils/mock/MockLayer1.ts
Labels: network, dht

#1935 refactor(broker): `ContractFacade` utility
  packages/broker/src/plugins/operator/AnnounceNodeToContractHelper.ts
  packages/broker/src/plugins/operator/ContractFacade.ts
  packages/broker/src/plugins/operator/InspectRandomNodeHelper.ts
  packages/broker/src/plugins/operator/MaintainOperatorValueHelper.ts
  packages/broker/src/plugins/operator/MaintainTopologyHelper.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/src/plugins/operator/VoteOnSuspectNodeHelper.ts
  packages/broker/src/plugins/operator/announceNodeToContract.ts
  packages/broker/src/plugins/operator/checkOperatorValueBreach.ts
  packages/broker/src/plugins/operator/inspectRandomNode.ts
  packages/broker/src/plugins/operator/inspectSuspectNode.ts
  packages/broker/src/plugins/operator/inspectionUtils.ts
  packages/broker/src/plugins/operator/maintainOperatorValue.ts
  packages/broker/test/integration/plugins/operator/ContractFacade.test.ts
  packages/broker/test/integration/plugins/operator/MaintainOperatorValueHelper.test.ts
  packages/broker/test/integration/plugins/operator/announceNodeToContract.test.ts
  packages/broker/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/broker/test/integration/plugins/operator/contractUtils.ts
  packages/broker/test/integration/plugins/operator/maintainOperatorValue.test.ts
  packages/broker/test/unit/plugins/operator/ContractFacade.test.ts
  packages/broker/test/unit/plugins/operator/VoteOnSuspectNodeHelper.test.ts
  packages/broker/test/unit/plugins/operator/announceNodeToContract.test.ts
  packages/broker/test/unit/plugins/operator/inspectRandomNode.test.ts
  packages/broker/test/unit/plugins/operator/inspectionUtils.test.ts
Labels: broker

#1955 refactor(trackerless-network): [NET-1116] `StreamEntryPointDiscover` instances are stream part specific
  packages/trackerless-network/src/logic/StreamPartEntryPointDiscovery.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/unit/StreamPartEntrypointDiscovery.test.ts
Labels: network

#1946 fix(network): NET-1017 fix flaky websocket-full-network test
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
Labels: network

#1957 fix(DHT): NET-1123 fixed browser connection attempts to clear text ws servers
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/DhtNode.ts
Labels: dht

#1964 fix(network): NET-1090 fix flaky `integration/RandomGraphNode-Layer1Node-Latencies.test.ts` test case in browser
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
Labels: network

#1963 fix(DHT): NET-1027 enable skipped integation/Store.test.ts test case
  packages/dht/test/integration/Store.test.ts
Labels: dht

#1954 refactor(client): `getSigner()` type contains `Provider`
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/client/src/Authentication.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/exports.ts
Labels: broker, client

#1956 refactor(dht): Do not export internal classes
  package-lock.json
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/dht/registerExternalApiRpcMethods.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/exports.ts
  packages/dht/test/benchmark/KademliaCorrectness.test.ts
  packages/dht/test/benchmark/RecursiveFind.test.ts
  packages/dht/test/integration/ConnectionLocking.test.ts
  packages/dht/test/integration/Layer1-scale.test.ts
  packages/dht/test/integration/MigrateData.test.ts
  packages/dht/test/integration/RecursiveFind.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/RpcErrors.test.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/StoreAndDelete.test.ts
  packages/dht/test/integration/WebRtcConnectionManagement.test.ts
  packages/dht/test/unit/RandomContactList.test.ts
  packages/trackerless-network/package.json
  packages/trackerless-network/src/identifiers.ts
  packages/trackerless-network/src/logic/ILayer0.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManagerServer.ts
  packages/trackerless-network/src/logic/neighbor-discovery/RemoteHandshaker.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionClient.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionServer.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/utils/mock/MockLayer0.ts
  packages/utils/test/ENSName.test.ts
Labels: network, dht, utils

#1959 refactor(trackerless-network): Remove obsolete config fields
  packages/client/src/Config.ts
  packages/client/src/config.schema.json
  packages/client/src/exports.ts
  packages/client/src/generated/validateConfig.js
  packages/dht/src/dht/DhtNode.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/ILayer0.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamPartEntryPointDiscovery.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakerServer.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborFinder.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
  packages/trackerless-network/src/logic/proxy/ProxyStreamConnectionClient.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/unit/Handshaker.test.ts
  packages/trackerless-network/test/unit/HandshakerServer.test.ts
  packages/trackerless-network/test/unit/NeighborFinder.test.ts
  packages/trackerless-network/test/unit/StreamPartEntrypointDiscovery.test.ts
  packages/trackerless-network/test/utils/mock/MockLayer0.ts
Labels: network, client, dht

#1968 test(dht): Enable `webrtcReplaceInternalIpWithExternalIp` test
  packages/dht/test/unit/webrtcReplaceInternalIpWithExternalIp.test.ts
Labels: dht

#1967 feat(dht, trackerless-network): Unify node id logging
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/RemoteConnectionLocker.ts
  packages/dht/src/connection/Simulator/SimulatorConnection.ts
  packages/dht/src/connection/Simulator/SimulatorConnector.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebSocket/RemoteWebSocketConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/find/RecursiveFinder.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/dht/store/DataStore.ts
  packages/dht/test/benchmark/KademliaCorrectness.test.ts
  packages/dht/test/benchmark/RecursiveFind.test.ts
  packages/dht/test/integration/MigrateData.test.ts
  packages/dht/test/integration/ScaleDownDht.test.ts
  packages/trackerless-network/src/logic/StreamPartEntryPointDiscovery.ts
Labels: network, dht

#1972 Improve connectivity checker logging
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
Labels: dht

#1966 refactor(dht): Method visibility
  packages/dht/src/connection/ConnectionLockHandler.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/Simulator/Simulator.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/dht/contact/ContactList.ts
  packages/dht/src/dht/contact/RandomContactList.ts
  packages/dht/src/dht/contact/SortedContactList.ts
  packages/dht/src/helpers/PeerID.ts
Labels: dht

#1971 refactor(dht): [NET-1130] Remove `nodeName`
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/benchmark/RecursiveFind.test.ts
  packages/dht/test/end-to-end/Layer0WebRTC.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-WebRTC.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-WebSocket.test.ts
  packages/dht/test/end-to-end/WebSocketConnectionRequest.test.ts
  packages/dht/test/integration/ConnectionLocking.test.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/DhtWithMockConnectionLatencies.test.ts
  packages/dht/test/integration/DhtWithMockConnections.test.ts
  packages/dht/test/integration/Layer1-scale.test.ts
  packages/dht/test/integration/MigrateData.test.ts
  packages/dht/test/integration/Mock-Layer1-Layer0.test.ts
  packages/dht/test/integration/RecursiveFind.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/ScaleDownDht.test.ts
  packages/dht/test/integration/SimultaneousConnections.test.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/StoreAndDelete.test.ts
  packages/dht/test/integration/StoreOnDhtWithTwoNodes.test.ts
  packages/dht/test/integration/WebRtcConnectionManagement.test.ts
  packages/dht/test/unit/LocalDataStore.test.ts
  packages/dht/test/unit/RecursiveFinder.test.ts
  packages/dht/test/unit/Router.test.ts
  packages/dht/test/utils/utils.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/NetworkStack.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/joining-streams-on-offline-peers.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/unit/StreamPartEntrypointDiscovery.test.ts
Labels: network, dht

#1974 Bump `network-contracts` to 7.0.2
  package-lock.json
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/package.json
  packages/broker/test/integration/plugins/operator/ContractFacade.test.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyHelper.test.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/broker/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/broker/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/broker/test/integration/plugins/operator/contractUtils.ts
  packages/broker/test/integration/plugins/operator/maintainOperatorValue.test.ts
  packages/client/package.json
Labels: broker, client

#1950 feat: make operator plugin configurable
  packages/broker/src/plugins/operator/ContractFacade.ts
  packages/broker/src/plugins/operator/OperatorFleetState.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/src/plugins/operator/checkOperatorValueBreach.ts
  packages/broker/src/plugins/operator/config.schema.json
  packages/broker/src/plugins/operator/inspectRandomNode.ts
  packages/broker/src/plugins/operator/inspectSuspectNode.ts
  packages/broker/src/plugins/operator/inspectionUtils.ts
  packages/broker/src/plugins/operator/maintainOperatorValue.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/broker/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/broker/test/integration/plugins/operator/maintainOperatorValue.test.ts
  packages/broker/test/unit/plugins/operator/OperatorFleetState.test.ts
  packages/broker/test/unit/plugins/operator/inspectRandomNode.test.ts
  packages/broker/test/unit/plugins/operator/inspectionUtils.test.ts
Labels: broker

#1973 refactor(trackerless-network): Rename `stream` -> `streamPart` when operating on stream partitions
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/logic/EntryPointDiscovery.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/src/logic/formStreamPartDeliveryServiceId.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/src/logic/propagation/Propagation.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
  packages/trackerless-network/src/logic/proxy/ProxyServer.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/inspect.test.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/integration/NetworkNode.test.ts
  packages/trackerless-network/test/integration/NetworkStack.test.ts
  packages/trackerless-network/test/integration/RemoteHandshaker.test.ts
  packages/trackerless-network/test/integration/RemoteNeighborUpdateManager.test.ts
  packages/trackerless-network/test/integration/RemoteRandomGraphNode.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
  packages/trackerless-network/test/integration/joining-streams-on-offline-peers.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/unit/EntrypointDiscovery.test.ts
  packages/trackerless-network/test/unit/NodeList.test.ts
  packages/trackerless-network/test/unit/StreamMessageTranslator.test.ts
  packages/trackerless-network/test/unit/StreamrNode.test.ts
Labels: network, dht

#1977 refactor(trackerless-network): Rename RPC classes
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/src/logic/inspect/Inspector.ts
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakeRpcLocal.ts
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakeRpcRemote.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateRpcLocal.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateRpcRemote.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
  packages/trackerless-network/src/logic/proxy/ProxyConnectionRpcLocal.ts
  packages/trackerless-network/src/logic/proxy/ProxyConnectionRpcRemote.ts
  packages/trackerless-network/src/logic/temporary-connection/TemporaryConnectionRpcLocal.ts
  packages/trackerless-network/src/logic/temporary-connection/TemporaryConnectionRpcRemote.ts
  packages/trackerless-network/test/integration/HandshakeRpcRemote.test.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/integration/NeighborUpdateRpcRemote.test.ts
  packages/trackerless-network/test/unit/HandshakeRpcLocal.test.ts
  packages/trackerless-network/test/unit/ProxyConnectionRpcRemote.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

#1948 refactor(DHT): DhtPeer -> RemoteDhtNode
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/RemoteDhtNode.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/find/RecursiveFinder.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/dht/store/DataStore.ts
  packages/dht/test/integration/RemoteDhtNode.test.ts
  packages/dht/test/integration/RemoteRouter.test.ts
  packages/dht/test/integration/RemoteStore.test.ts
  packages/dht/test/unit/RecursiveFinder.test.ts
  packages/dht/test/unit/Router.test.ts
Labels: dht

#1961 refactor(network): NET-1122, the DhtNode now uses the externalApi when necessary for DHT queries.
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/exports.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/StoreAndDelete.test.ts
  packages/dht/test/integration/StoreOnDhtWithTwoNodes.test.ts
  packages/trackerless-network/src/logic/EntryPointDiscovery.ts
  packages/trackerless-network/src/logic/ILayer0.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/unit/EntrypointDiscovery.test.ts
  packages/trackerless-network/test/utils/mock/MockLayer0.ts
Labels: network, dht

#1982 refactor(DHT): Connectivity checking now uses a for loop for reattempts
  packages/dht/src/connection/ConnectivityChecker.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
Labels: dht

#1979 refactor(trackerless-network): Rename `NetworkRpc`
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/logic/DeliveryRpcLocal.ts
  packages/trackerless-network/src/logic/DeliveryRpcRemote.ts
  packages/trackerless-network/src/logic/NodeList.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakeRpcLocal.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateRpcLocal.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
  packages/trackerless-network/src/logic/proxy/ProxyConnectionRpcLocal.ts
  packages/trackerless-network/src/logic/temporary-connection/TemporaryConnectionRpcLocal.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.client.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.server.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/integration/DeliveryRpcRemote.test.ts
  packages/trackerless-network/test/integration/NetworkRpc.test.ts
  packages/trackerless-network/test/unit/DeliveryRpcLocal.test.ts
  packages/trackerless-network/test/unit/HandshakeRpcLocal.test.ts
  packages/trackerless-network/test/unit/Handshaker.test.ts
  packages/trackerless-network/test/unit/NeighborFinder.test.ts
  packages/trackerless-network/test/unit/NodeList.test.ts
  packages/trackerless-network/test/unit/RandomGraphNode.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

#1980 refactor: use `forEach`
  packages/client/src/MetricsPublisher.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/find/RecursiveFindSession.ts
  packages/dht/test/integration/Layer1-scale.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
Labels: network, client, dht

#1984 feat(DHT): NET-1136 maxMessageSize configuration.
  packages/client/src/Config.ts
  packages/client/src/config.schema.json
  packages/client/src/generated/validateConfig.js
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketServer.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/test/integration/WebSocket.test.ts
  packages/dht/test/unit/WebSocketServer.test.ts
Labels: client, dht

#1986 refactor(dht): `ConnectorFacade`
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ConnectorFacade.ts
  packages/dht/src/connection/Simulator/SimulatorConnector.ts
  packages/dht/src/connection/Simulator/SimulatorTransport.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/test/integration/ConnectionLocking.test.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/RpcErrors.test.ts
  packages/dht/test/integration/SimultaneousConnections.test.ts
  packages/dht/test/integration/WebRtcConnectionManagement.test.ts
  packages/dht/test/integration/WebSocketConnectionManagement.test.ts
  packages/dht/test/unit/WebSocketConnector.test.ts
  packages/dht/test/utils/utils.ts
  packages/trackerless-network/test/integration/DeliveryRpcRemote.test.ts
  packages/trackerless-network/test/integration/HandshakeRpcRemote.test.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/integration/Inspect.test.ts
  packages/trackerless-network/test/integration/NeighborUpdateRpcRemote.test.ts
  packages/trackerless-network/test/integration/NetworkNode.test.ts
  packages/trackerless-network/test/integration/Propagation.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
  packages/trackerless-network/test/integration/joining-streams-on-offline-peers.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/unit/Handshaker.test.ts
  packages/trackerless-network/test/unit/NodeList.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network, dht

#1987 refactor(dht): `isBrowserEnvironment`
  packages/client/webpack.config.js
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/helpers/browser/isBrowser.ts
  packages/dht/src/helpers/browser/isBrowserEnvironment.ts
  packages/dht/src/helpers/browser/isBrowserEnvironment_override.ts
  packages/dht/src/helpers/browser/isNodeJS.ts
Labels: client, dht

#1985 refactor(dht, trackerless-network): Remove obsolete parameters
  packages/client/src/publish/MessageFactory.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/test-utils/fake/FakeStreamStorageRegistry.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/Simulator/SimulatorConnector.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketServer.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/find/RecursiveFindSession.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/dht/store/DataStore.ts
  packages/dht/test/integration/ConnectionLocking.test.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/integration/RemoteDhtNode.test.ts
  packages/dht/test/integration/RemoteRouter.test.ts
  packages/dht/test/integration/RemoteStore.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/RpcErrors.test.ts
  packages/dht/test/integration/WebRtcConnectionManagement.test.ts
  packages/dht/test/integration/WebRtcConnectorRpc.test.ts
  packages/dht/test/integration/WebSocketConnectorRpc.test.ts
  packages/dht/test/unit/RecursiveFinder.test.ts
  packages/dht/test/unit/Router.test.ts
  packages/dht/test/utils/mock/RecursiveFinder.ts
  packages/dht/test/utils/mock/Router.ts
  packages/dht/test/utils/mock/Transport.ts
  packages/dht/test/utils/utils.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
  packages/trackerless-network/test/integration/DeliveryRpcRemote.test.ts
  packages/trackerless-network/test/integration/HandshakeRpcRemote.test.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/integration/NeighborUpdateRpcRemote.test.ts
  packages/trackerless-network/test/integration/NetworkRpc.test.ts
  packages/trackerless-network/test/unit/EntrypointDiscovery.test.ts
  packages/trackerless-network/test/unit/Inspector.test.ts
  packages/trackerless-network/test/unit/RandomGraphNode.test.ts
  packages/trackerless-network/test/utils/mock/MockLayer0.ts
  packages/trackerless-network/test/utils/mock/MockLayer1.ts
  packages/trackerless-network/test/utils/mock/MockNeighborFinder.ts
  packages/trackerless-network/test/utils/mock/MockNeighborUpdateManager.ts
  packages/trackerless-network/test/utils/mock/Transport.ts
Labels: network, client, dht

#1991 test(dht): Merge bucket size tests
  packages/dht/test/integration/DhtJoinPeerDiscovery.test.ts
  packages/dht/test/integration/DhtWithMockConnectionLatencies.test.ts
  packages/dht/test/integration/DhtWithMockConnections.test.ts
  packages/dht/test/integration/DhtWithRealConnectionLatencies.test.ts
Labels: dht

#2001 deps: Bump `@streamr/network-contracts`
  package-lock.json
  packages/broker/package.json
Labels: broker

#1995 refactor(dht): Remove redundant `ownPeerId`
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/find/RecursiveFindSession.ts
  packages/dht/src/dht/find/RecursiveFinder.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/test/unit/RecursiveFinder.test.ts
  packages/dht/test/unit/Router.test.ts
Labels: dht

#2004 refactor(dht): Simplify peer discovery runner
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/helpers/kademliaId.ts
Labels: dht

#1989 refactor(dht, trackerless-network): Simplify stopped state
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
Labels: network, dht

#1992 refactor(dht): Remove obsolete accessors
  packages/dht/src/dht/DhtNode.ts
  packages/dht/test/end-to-end/Layer1-Scale-WebRTC.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-WebSocket.test.ts
  packages/dht/test/integration/DhtJoinPeerDiscovery.test.ts
  packages/dht/test/integration/Layer1-scale.test.ts
  packages/dht/test/utils/utils.ts
  packages/trackerless-network/src/logic/ILayer0.ts
  packages/trackerless-network/test/utils/mock/MockLayer0.ts
Labels: network, dht

#1997 refactor(dht): Simplify handling of `DhtNode` defaults
  package-lock.json
  packages/dht/package.json
  packages/dht/src/dht/DhtNode.ts
Labels: dht

#1998 refactor(dht): Remove obsolete counters
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/Simulator/SimulatorConnector.ts
  packages/dht/src/dht/DhtNode.ts
Labels: dht

#1996 refactor(dht): Rename `isSamePeerDescriptor`
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/find/RecursiveFinder.ts
  packages/dht/src/dht/routing/RemoteRouter.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/store/DataStore.ts
  packages/dht/src/exports.ts
  packages/dht/src/helpers/peerIdFromPeerDescriptor.ts
  packages/dht/test/end-to-end/Layer0-Layer1.test.ts
  packages/dht/test/end-to-end/WebSocketConnectionRequest.test.ts
  packages/dht/test/integration/ScaleDownDht.test.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/StoreAndDelete.test.ts
  packages/dht/test/integration/StoreOnDhtWithTwoNodes.test.ts
  packages/dht/test/unit/LocalDataStore.test.ts
  packages/dht/test/unit/RecursiveFinder.test.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/EntryPointDiscovery.ts
  packages/trackerless-network/test/unit/EntrypointDiscovery.test.ts
  packages/trackerless-network/test/unit/StreamrNode.test.ts
Labels: network, dht

#2005 refactor(dht, trackerless-network): Unify transport naming
  packages/dht/src/connection/ConnectorFacade.ts
  packages/dht/src/connection/WebRTC/WebRtcConnector.ts
  packages/dht/src/connection/WebSocket/WebSocketConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/find/RecursiveFindSession.ts
  packages/dht/src/dht/find/RecursiveFinder.ts
  packages/dht/test/end-to-end/Layer0-Layer1.test.ts
  packages/dht/test/end-to-end/Layer0WebRTC-Layer1.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-WebRTC.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-WebSocket.test.ts
  packages/dht/test/integration/ConnectionLocking.test.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/RpcErrors.test.ts
  packages/dht/test/integration/SimultaneousConnections.test.ts
  packages/dht/test/integration/WebRtcConnectionManagement.test.ts
  packages/dht/test/integration/WebSocketConnectionManagement.test.ts
  packages/dht/test/unit/WebSocketConnector.test.ts
  packages/dht/test/utils/utils.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/integration/Inspect.test.ts
  packages/trackerless-network/test/integration/NetworkNode.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
  packages/trackerless-network/test/integration/joining-streams-on-offline-peers.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network, dht
