Repository streamr-dev/network, pull requests merged in 2023-02, with the labels that each got.

#1074 fix(utils): Duplicate invocations in `scheduleAtFixedRate`
  packages/broker/CHANGELOG.md
  packages/utils/src/scheduleAtFixedRate.ts
Labels: broker, changelog, utils

#1077 feat(broker): Minimal config
  packages/broker/src/Plugin.ts
  packages/broker/src/broker.ts
  packages/broker/src/config/config.schema.json
  packages/broker/src/config/config.ts
  packages/broker/src/config/validateConfig.ts
  packages/broker/src/httpServer.ts
  packages/broker/test/integration/config.test.ts
  packages/broker/test/unit/config.test.ts
Labels: broker

#1079 ci(deps): bump ws from 7.5.0 to 8.12.0
  package-lock.json
  packages/broker/package.json
  packages/broker/src/plugins/websocket/PublishConnection.ts
  packages/broker/src/plugins/websocket/WebsocketServer.ts
  packages/broker/test/integration/multiple-publisher-plugins.test.ts
  packages/broker/test/integration/plugins/websocket/WebsocketPlugin.test.ts
  packages/network/package.json
  packages/network/src/connection/ws/AbstractClientWsEndpoint.ts
  packages/network/src/connection/ws/NodeClientWsEndpoint.ts
  packages/network/src/connection/ws/ServerWsEndpoint.ts
  packages/network/src/simulator/AbstractClientWsEndpoint_simulator.ts
  packages/network/src/simulator/NodeClientWsEndpoint_simulator.ts
  packages/network/test/integration/UnixSocketWsServer.test.ts
  packages/network/test/integration/browser-ws-endpoint.test.ts
  packages/network/test/integration/killing-dead-connections.test.ts
  packages/network/test/integration/tracker-node-disconnects-on-invalid-status.test.ts
  packages/network/test/integration/ws-endpoint.test.ts
Labels: broker, network

#1081 feat(client): Key request timeout for v5
  packages/client/src/Config.ts
  packages/client/src/stream/encryption/KeyExchangeSubscriber.ts
  packages/client/src/stream/encryption/KeyExchangeUtils.ts
  packages/client/src/subscribe/Decrypt.js
Labels: client

#1082 feat(Broker): Application layer ping support
  packages/broker/CHANGELOG.md
  packages/broker/plugins.md
  packages/broker/src/plugins/websocket/Connection.ts
  packages/broker/src/plugins/websocket/PublishConnection.ts
  packages/broker/src/plugins/websocket/WebsocketServer.ts
  packages/broker/test/integration/plugins/websocket/ping.test.ts
Labels: broker, changelog

#1083 fix(broker): Do not wait for server close event
  packages/broker/src/plugins/websocket/WebsocketServer.ts
  packages/broker/test/integration/plugins/websocket/close.test.ts
Labels: broker

#1084 feat(broker): Websocket plugin sends pings
  packages/broker/CHANGELOG.md
  packages/broker/plugins.md
  packages/broker/src/plugins/websocket/Connection.ts
  packages/broker/src/plugins/websocket/WebsocketPlugin.ts
  packages/broker/src/plugins/websocket/WebsocketServer.ts
  packages/broker/src/plugins/websocket/config.schema.json
  packages/broker/test/integration/plugins/websocket/close.test.ts
  packages/broker/test/integration/plugins/websocket/ping.test.ts
  packages/broker/test/unit/plugins/websocket/WebsocketServer.test.ts
Labels: broker, changelog

#1085 feat(client): NET-932 Use all RPC providers
  packages/client/CHANGELOG.md
  packages/client/src/Authentication.ts
  packages/client/src/Ethereum.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/registry/StorageNodeRegistry.ts
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/registry/StreamStorageRegistry.ts
  packages/client/src/registry/trackerRegistry.ts
  packages/client/src/utils/contract.ts
  packages/client/src/utils/promises.ts
  packages/client/test/unit/promises.test.ts
Labels: client, changelog

#1088 style: add eslint rule `no-multi-spaces`
  .eslintrc.js
  packages/broker/src/config/ConfigWizard.ts
  packages/broker/test/unit/plugins/storage/Batch.test.ts
  packages/client/src/MetricsPublisher.ts
  packages/client/src/StreamMessageValidator.ts
  packages/client/src/utils/GraphQLClient.ts
  packages/client/src/utils/utils.ts
  packages/client/test/unit/OrderedMsgChain.test.ts
  packages/dht/src/connection/ManagedWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/BrowserWebRtcConnection.ts
  packages/dht/src/connection/WebRTC/NodeWebRtcConnection.ts
  packages/dht/test/benchmark/kademlia-simulation/KademliaSimulation.ts
  packages/dht/test/end-to-end/Layer0WebRTC.test.ts
  packages/dht/test/unit/SortedContactList.test.ts
  packages/network/src/connection/PeerInfo.ts
  packages/network/src/connection/webrtc/BrowserWebRtcConnection.ts
  packages/network/src/connection/webrtc/WebRtcConnection.ts
  packages/network/src/connection/ws/AbstractWsEndpoint.ts
  packages/network/src/logic/Node.ts
  packages/network/src/logic/TrackerManager.ts
  packages/network/src/simulator/NodeClientWsConnection_simulator.ts
  packages/network/src/simulator/Simulator.ts
  packages/network/test/browser/IntegrationBrowserWebRtcConnection.test.ts
  packages/network/test/integration/NodeWebRtcConnection.test.ts
  packages/network/test/integration/delivery-of-messages-protocol-layer.test.ts
  packages/network/test/integration/killing-dead-connections.test.ts
  packages/network/test/integration/network-stabilization.test.ts
  packages/network/test/integration/node-to-node-protocol-version-negotiation.test.ts
  packages/network/test/integration/webrtc-endpoint-back-pressure-handling.test.ts
  packages/proto-rpc/test/integration/ClientRpcTransport.test.ts
  packages/utils/src/scheduleAtFixedRate.ts
  packages/utils/src/toEthereumAddressOrENSName.ts
  packages/utils/test/abortableTimers.test.ts
Labels: broker, network, client, dht, utils, proto-rpc

#1052 feat: lit protocol key exchange
  package-lock.json
  package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/client/src/Config.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/StreamrClientError.ts
  packages/client/src/config.schema.json
  packages/client/src/encryption/GroupKey.ts
  packages/client/src/encryption/GroupKeyManager.ts
  packages/client/src/encryption/GroupKeyStore.ts
  packages/client/src/encryption/LitProtocolFacade.ts
  packages/client/src/publish/GroupKeyQueue.ts
  packages/client/src/publish/Publisher.ts
  packages/client/src/subscribe/Decrypt.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/src/subscribe/subscribePipeline.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Decrypt.test.ts
  packages/client/test/unit/GroupKeyManager.test.ts
  packages/client/test/unit/GroupKeyQueue.test.ts
  packages/client/test/unit/Publisher.test.ts
  packages/client/test/unit/StreamrClient.test.ts
  packages/client/test/unit/subscribePipeline.test.ts
  packages/utils/src/exports.ts
  packages/utils/src/withRateLimit.ts
  packages/utils/test/withRateLimit.test.ts
Labels: client, changelog, utils

#1089 feat!(client): Client deprecated functionality
  packages/broker/test/sequential/plugins/storage/DeleteExpiredCmd.test.ts
  packages/broker/test/utils.ts
  packages/cli-tools/src/client.ts
  packages/client/CHANGELOG.md
  packages/client/src/Config.ts
  packages/client/src/ConfigTest.ts
  packages/client/src/Ethereum.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/exports.ts
  packages/client/test/benchmarks/publish.js
  packages/client/test/benchmarks/resend.js
  packages/client/test/benchmarks/subscribe.js
  packages/client/test/browser/browser.html
  packages/client/test/unit/Config.test.ts
Labels: broker, client, cli-tools, changelog

#1090 feat!(client): Encryption config
  packages/client/CHANGELOG.md
  packages/client/README.md
  packages/client/src/Config.ts
  packages/client/src/config.schema.json
  packages/client/src/encryption/GroupKeyManager.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/test/integration/resend-with-existing-key.test.ts
  packages/client/test/integration/revoke-permissions.test.ts
  packages/client/test/integration/update-encryption-key.test.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/GroupKeyManager.test.ts
  packages/client/test/unit/subscribePipeline.test.ts
Labels: client, changelog

#1073 NET-943: Fallback proxies
  packages/client/CHANGELOG.md
  packages/client/README.md
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/ProxyPublishSubscribe.ts
  packages/client/src/StreamrClient.ts
  packages/client/test/end-to-end/ProxyPublishSubscribe.test.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/network/src/logic/NetworkNode.ts
  packages/network/src/logic/Node.ts
  packages/network/src/logic/ProxyStreamConnectionManager.ts
  packages/network/src/logic/StreamPartManager.ts
  packages/network/src/logic/TrackerConnector.ts
  packages/network/src/logic/TrackerManager.ts
  packages/network/src/logic/proxy/ProxyStreamConnectionClient.ts
  packages/network/src/logic/proxy/ProxyStreamConnectionServer.ts
  packages/network/src/protocol/NodeToNode.ts
  packages/network/test/integration/proxy-connections.test.ts
  packages/network/test/integration/proxy-groupkey-exchange.test.ts
Labels: network, client, changelog

#1094 deps(client): Update lit-protocol
  package-lock.json
  packages/client/package.json
Labels: client

#1101 refactor: Tree-shake `lodash`
  packages/broker/src/config/config.ts
  packages/broker/src/config/migration.ts
  packages/broker/src/plugins/consoleMetrics/ConsoleMetricsPlugin.ts
  packages/broker/src/plugins/mqtt/Bridge.ts
  packages/broker/test/integration/multiple-publisher-plugins.test.ts
  packages/broker/test/unit/configMigration.test.ts
  packages/broker/test/unit/plugins/storage/StorageConfig.test.ts
  packages/broker/test/utils.ts
  packages/cli-tools/src/client.ts
  packages/client/src/Stream.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/publish/MessageFactory.ts
  packages/client/src/publish/Publisher.ts
  packages/client/src/registry/StreamStorageRegistry.ts
  packages/client/src/registry/trackerRegistry.ts
  packages/client/src/subscribe/MessageStream.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/utils/contract.ts
  packages/client/src/utils/persistence/BrowserPersistence.ts
  packages/client/src/utils/waitForAssignmentsToPropagate.ts
  packages/client/test/end-to-end/resend.test.ts
  packages/client/test/integration/parallel-key-exchange.test.ts
  packages/client/test/integration/parallel-publish.test.ts
  packages/client/test/integration/unsubscribe.test.ts
  packages/client/test/test-utils/customMatchers.ts
  packages/client/test/test-utils/fake/FakeEnvironment.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
  packages/client/test/unit/GroupKeyStore.test.ts
  packages/client/test/unit/HttpUtil.test.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/client/test/unit/MessageStream.test.ts
  packages/client/test/unit/StreamrClient.test.ts
  packages/client/test/unit/contract.test.ts
  packages/client/test/unit/waitForAssignmentsToPropagate.test.ts
  packages/network-tracker/src/logic/InstructionAndStatusAckSender.ts
  packages/network-tracker/src/logic/OverlayTopology.ts
  packages/network/src/logic/StreamPartManager.ts
  packages/network/src/logic/proxy/ProxyStreamConnectionClient.ts
  packages/utils/src/Defer.ts
  packages/utils/src/Logger.ts
  packages/utils/src/Metric.ts
  packages/utils/src/waitForCondition.ts
  packages/utils/test/composeAbortSignals.test.ts
Labels: broker, network, client, cli-tools, tracker, utils

#1099 refactor(broker): Remove `ApiAuthenticator` rule object
  packages/broker/src/Plugin.ts
  packages/broker/src/apiAuthentication.ts
  packages/broker/src/apiAuthenticator.ts
  packages/broker/src/broker.ts
  packages/broker/src/config/config.ts
  packages/broker/src/httpServer.ts
  packages/broker/src/plugins/mqtt/MqttPlugin.ts
  packages/broker/src/plugins/mqtt/MqttServer.ts
  packages/broker/src/plugins/websocket/WebsocketPlugin.ts
  packages/broker/src/plugins/websocket/WebsocketServer.ts
  packages/broker/test/integration/plugins/mqtt/MqttServer.test.ts
  packages/broker/test/integration/plugins/subscriber/SubscriberPlugin.test.ts
  packages/broker/test/integration/plugins/websocket/close.test.ts
  packages/broker/test/integration/plugins/websocket/ping.test.ts
  packages/broker/test/unit/configMigration.test.ts
  packages/broker/test/unit/httpServer.test.ts
  packages/broker/test/unit/plugins/websocket/WebsocketServer.test.ts
Labels: broker

#1100 refactor(broker): Declarative HTTP endpoints
  packages/broker/src/Plugin.ts
  packages/broker/src/broker.ts
  packages/broker/src/httpServer.ts
  packages/broker/src/plugins/http/HttpPlugin.ts
  packages/broker/src/plugins/http/publishEndpoint.ts
  packages/broker/src/plugins/info/InfoPlugin.ts
  packages/broker/src/plugins/storage/DataQueryEndpoints.ts
  packages/broker/src/plugins/storage/Storage.ts
  packages/broker/src/plugins/storage/StoragePlugin.ts
  packages/broker/src/plugins/storage/dataMetadataEndpoint.ts
  packages/broker/src/plugins/storage/dataQueryEndpoint.ts
  packages/broker/src/plugins/storage/storageConfigEndpoint.ts
  packages/broker/test/integration/plugins/storage/dataMetadataEndpoint.test.ts
  packages/broker/test/unit/httpServer.test.ts
  packages/broker/test/unit/plugins/http/publishEndpoint.test.ts
  packages/broker/test/unit/plugins/storage/dataQueryEndpoint.test.ts
  packages/broker/test/unit/plugins/storage/storageConfigEndpoint.test.ts
Labels: broker

#1096 NET-846: implement dht storage
  packages/dht/proto.sh
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/RemoteConnectionLocker.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/dht/DiscoverySession.ts
  packages/dht/src/dht/RecursiveFindSession.ts
  packages/dht/src/dht/RemoteRecursiveFindSession.ts
  packages/dht/src/dht/RoutingSession.ts
  packages/dht/src/helpers/errors.ts
  packages/dht/src/proto/google/protobuf/any.ts
  packages/dht/src/proto/google/protobuf/empty.ts
  packages/dht/src/proto/google/protobuf/timestamp.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/src/proto/packages/proto-rpc/protos/ProtoRpc.ts
  packages/dht/test/benchmark/RecursiveFind.test.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/StoreOnDhtWithTwoNodes.test.ts
  packages/dht/test/unit/RandomContactList.test.ts
  packages/dht/test/unit/SortedContactList.test.ts
  packages/dht/test/utils.ts
  packages/trackerless-network/proto.sh
  packages/trackerless-network/src/logic/protocol-integration/stream-message/StreamMessageTranslator.ts
  packages/trackerless-network/src/proto/google/protobuf/any.ts
  packages/trackerless-network/src/proto/google/protobuf/empty.ts
  packages/trackerless-network/src/proto/google/protobuf/timestamp.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/src/proto/packages/proto-rpc/protos/ProtoRpc.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.client.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.server.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/unit/Propagation.test.ts
  packages/trackerless-network/test/utils.ts
  packages/utils/src/waitForEvent3.ts
Labels: dht, utils
