Repository streamr-dev/network, pull requests merged in 2023-05, with the labels that each got.

#1280 Docs
  .github/workflows/deploy-docs.yml
  .github/workflows/test-docs.yml
  docs/docs/quickstart/nodejs.md
  docs/docs/quickstart/use-any-language-or-device.md
  docs/docs/quickstart/web-app-frameworks.md
Labels: ci

#1291 fix: switch 'stream-creation with ENS owner sync from mainnet' e2e te…
  .github/workflows/validate.yml
  packages/client/test/end-to-end/StreamRegistry.test.ts
Labels: ci, client

#1298 fix(cli-tools): Output of `stream create` command
  packages/cli-tools/CHANGELOG.md
  packages/cli-tools/bin/streamr-stream-create.ts
Labels: cli-tools, changelog

#1290 fix(network): do not send duplicate messages when buffers full
  packages/network/src/connection/webrtc/BrowserWebRtcConnection.ts
  packages/network/src/connection/webrtc/NodeWebRtcConnection.ts
  packages/network/src/connection/webrtc/WebRtcConnection.ts
  packages/network/src/simulator/NodeWebRtcConnection_simulator.ts
Labels: network

#1300 chore(network): fix / simplify attemptToFlushMessages
  packages/network/src/connection/webrtc/WebRtcConnection.ts
Labels: network

#1301 test(cli-tools): Add end-to-end tests
  .github/workflows/validate.yml
  package-lock.json
  packages/cli-tools/.npmignore
  packages/cli-tools/jest.config.js
  packages/cli-tools/jest.teardown.js
  packages/cli-tools/package.json
  packages/cli-tools/test/mock-data.test.ts
  packages/cli-tools/test/storage-node.test.ts
  packages/cli-tools/test/stream-create.test.ts
  packages/cli-tools/test/stream-permission.test.ts
  packages/cli-tools/test/stream-publish-subscribe.test.ts
  packages/cli-tools/test/stream-resend.test.ts
  packages/cli-tools/test/stream-search.test.ts
  packages/cli-tools/test/stream-show.test.ts
  packages/cli-tools/test/utils.ts
  packages/cli-tools/test/wallet.test.ts
  packages/cli-tools/tsconfig.jest.json
Labels: ci, cli-tools

#1302 fix(client): Re-assign storage node
  packages/client/src/Stream.ts
  packages/client/test/end-to-end/StorageNodeRegistry2.test.ts
  packages/client/test/test-utils/fake/FakeStreamStorageRegistry.ts
Labels: client

#1303 refactor: move `collect` utility to utils package
  packages/cli-tools/test/mock-data.test.ts
  packages/cli-tools/test/stream-publish-subscribe.test.ts
  packages/cli-tools/test/utils.ts
  packages/client/src/Stream.ts
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/registry/StreamStorageRegistry.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/utils/GeneratorUtils.ts
  packages/client/src/utils/Pipeline.ts
  packages/client/src/utils/PushBuffer.ts
  packages/client/src/utils/iterators.ts
  packages/client/src/utils/waitForAssignmentsToPropagate.ts
  packages/client/test/end-to-end/StreamRegistry.test.ts
  packages/client/test/end-to-end/searchStreams.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/Resends2.test.ts
  packages/client/test/integration/Sequencing.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/integration/Subscriber2.test.ts
  packages/client/test/integration/basics.test.ts
  packages/client/test/integration/client-destroy.test.ts
  packages/client/test/integration/parallel-key-exchange.test.ts
  packages/client/test/integration/publisher-key-reuse.test.ts
  packages/client/test/integration/resend-with-existing-key.test.ts
  packages/client/test/integration/sequential-resend-subscribe.test.ts
  packages/client/test/integration/unsubscribe.test.ts
  packages/client/test/unit/HttpUtil.test.ts
  packages/client/test/unit/Pipeline.test.ts
  packages/client/test/unit/PushPipeline.test.ts
  packages/client/test/unit/searchStreams.test.ts
  packages/client/test/unit/subscribePipeline.test.ts
  packages/utils/src/collect.ts
  packages/utils/src/exports.ts
  packages/utils/test/collect.test.ts
Labels: client, cli-tools, utils

#1304 NET-846: generate random PeerID
  packages/dht/src/helpers/PeerID.ts
Labels: dht

#1306 NET-846: Max route failures
  packages/dht/src/dht/routing/RoutingSession.ts
Labels: dht

#1307 NET-846: Improve dht debug logging
  packages/dht/src/connection/Simulator/Simulator.ts
  packages/dht/src/dht/routing/RemoteRouter.ts
Labels: dht

#1305 NET-846: Dht node configurability
  packages/dht/src/dht/DhtNode.ts
Labels: dht

#1314 docs: combine client and cli-tools CHANGELOG
  CHANGELOG.md
  README.md
  packages/cli-tools/OLD_CHANGELOG.md
Labels: cli-tools, docs

#1315 NET-846: Proto rpc server timeout config
  packages/proto-rpc/src/RpcCommunicator.ts
  packages/proto-rpc/src/ServerRegistry.ts
  packages/proto-rpc/src/exports.ts
  packages/proto-rpc/test/unit/ConversionWrappers.test.ts
  packages/proto-rpc/test/unit/ServerRegistry.test.ts
Labels: proto-rpc

#1316 NET-846: Remote Find Data
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/dht/ExternalApi.ts
  packages/dht/src/proto/google/protobuf/any.ts
  packages/dht/src/proto/google/protobuf/empty.ts
  packages/dht/src/proto/google/protobuf/timestamp.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/integration/DhtNodeExternalAPI.test.ts
  packages/dht/test/unit/RandomContactList.test.ts
  packages/dht/test/unit/SortedContactList.test.ts
  packages/dht/test/utils/utils.ts
Labels: dht

#1318 fix(cli-tools): fix a few issues
  packages/cli-tools/src/client.ts
  packages/cli-tools/test/utils.ts
Labels: cli-tools

#1332 fix(client): Include all modules in browser bundle
  packages/client/webpack.config.js
Labels: client

#1330 refactor(cli-tools): Remove obsolete interface
  packages/cli-tools/src/client.ts
  packages/cli-tools/src/command.ts
  packages/cli-tools/src/common.ts
Labels: cli-tools

#1331 NET-927: fix cli-tools ci
  .github/workflows/validate.yml
  packages/cli-tools/test/storage-node.test.ts
  packages/cli-tools/test/stream-resend.test.ts
Labels: ci, cli-tools

#1333 refactor(client): Remove redundant `OrderedMsgChain` defaults
  packages/client/src/subscribe/ordering/OrderedMsgChain.ts
  packages/client/src/subscribe/ordering/OrderingUtil.ts
  packages/client/test/unit/OrderedMsgChain.test.ts
  packages/client/test/unit/OrderingUtil.test.ts
Labels: client

#1342 test(cli-tools): Improve matcher of `storage-node list` test
  packages/cli-tools/test/storage-node.test.ts
Labels: cli-tools

#1317 feat(cli-tools): [NET-972] raw subscription and metadata support to `subscribe` command
  CHANGELOG.md
  packages/cli-tools/bin/streamr-stream-subscribe.ts
  packages/cli-tools/test/stream-publish-subscribe.test.ts
Labels: cli-tools, docs

#1343 chore(client): reduce webpack size by aliasing unused modules
  packages/client/webpack.config.js
Labels: client

#1344 NET-977: routing session partialSuccess event
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RoutingSession.ts
Labels: dht

#1354 chore: fix `no-unnecessary-type-assertion` eslint rule issues
  packages/broker/src/plugins/brubeckMiner/BrubeckMinerPlugin.ts
  packages/broker/src/plugins/consoleMetrics/ConsoleMetricsPlugin.ts
  packages/broker/src/plugins/http/HttpPlugin.ts
  packages/broker/src/plugins/http/publishEndpoint.ts
  packages/broker/src/plugins/mqtt/MqttPlugin.ts
  packages/broker/src/plugins/storage/BucketManager.ts
  packages/broker/src/plugins/storage/Storage.ts
  packages/broker/src/plugins/storage/StoragePlugin.ts
  packages/broker/src/plugins/websocket/WebsocketPlugin.ts
  packages/broker/test/unit/plugins/http/publishEndpoint.test.ts
  packages/client/src/StreamMessageValidator.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/decrypt.ts
  packages/client/src/publish/GroupKeyQueue.ts
  packages/client/src/publish/messageChain.ts
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/utils/GraphQLClient.ts
  packages/client/test/integration/PublisherKeyExchange.test.ts
  packages/client/test/integration/SubscriberKeyExchange.test.ts
  packages/client/test/test-utils/customMatchers.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/client/test/unit/StreamMessageValidator.test.ts
  packages/client/test/unit/SynchronizedGraphQLClient.test.ts
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/utils/src/Logger.ts
Labels: broker, client, protocol, utils

#1355 chore: fix `restrict-plus-operands` eslint rule issues
  packages/broker/src/config/ConfigWizard.ts
  packages/broker/test/integration/plugins/mqtt/Bridge.test.ts
  packages/broker/test/integration/plugins/mqtt/MqttPlugin.test.ts
  packages/broker/test/integration/plugins/storage/cassanda-queries.test.ts
  packages/broker/test/integration/plugins/storage/storage-lots-of-data.test.ts
  packages/broker/test/utils.ts
  packages/client/src/encryption/EncryptionUtil.ts
  packages/client/test/end-to-end/StreamRegistry.test.ts
Labels: broker, client

#1359 fix(cli-tools): fix hardcoded value in test
  packages/cli-tools/test/stream-publish-subscribe.test.ts
Labels: cli-tools

#1357 NET-974: external ip
  packages/client/src/Config.ts
  packages/client/src/config.schema.json
  packages/network/src/connection/webrtc/NodeWebRtcConnection.ts
  packages/network/src/connection/webrtc/ParsedLocalCandidate.ts
  packages/network/src/connection/webrtc/WebRtcConnection.ts
  packages/network/src/connection/webrtc/WebRtcEndpoint.ts
  packages/network/src/createNetworkNode.ts
  packages/network/src/exports.ts
  packages/network/test/unit/LocalCandidate.test.ts
  packages/network/test/utils.ts
Labels: network, client

#1356 broker: remove local-propagation.test.ts
  packages/broker/test/integration/local-propagation.test.ts
Labels: broker

#1362 refactor(client): Refactor `waitForAssignmentsToPropagate`
  packages/client/src/Stream.ts
  packages/client/src/utils/waitForAssignmentsToPropagate.ts
  packages/client/test/unit/waitForAssignmentsToPropagate.test.ts
Labels: client

#1367 test(client): Simplify gap fill tests
  packages/client/test/integration/GapFill.test.ts
  packages/client/test/integration/gap-fill.test.ts
  packages/client/test/unit/OrderMessages.test.ts
Labels: client

#1375 refactor(client): Refactor ordering util
  package-lock.json
  packages/client/package.json
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/ordering/OrderedMsgChain.ts
  packages/client/src/subscribe/ordering/OrderingUtil.ts
  packages/client/src/subscribe/subscribePipeline.ts
  packages/client/test/unit/OrderedMsgChain.test.ts
  packages/client/test/unit/OrderingUtil.test.ts
  packages/client/test/unit/OrderingUtil2.test.ts
Labels: client

#1377 NET-976
  package-lock.json
  packages/dht/package.json
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/RemoteConnectionLocker.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtPeer.ts
  packages/dht/src/dht/ExternalApi.ts
  packages/dht/src/dht/RemoteExternalApi.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/find/RecursiveFinder.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/exports.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/utils/utils.ts
  packages/network/src/helpers/AddressTools.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/ILayer0.ts
  packages/trackerless-network/src/logic/RemoteRandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamEntryPointDiscovery.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/NetworkStack.test.ts
  packages/trackerless-network/test/unit/StreamEntrypointDiscovery.test.ts
  packages/trackerless-network/test/utils/mock/MockLayer0.ts
Labels: network, dht

#1376 feat(broker): MQTT plugin partition support
  packages/broker/plugins.md
  packages/broker/src/helpers/parser.ts
  packages/broker/src/plugins/mqtt/Bridge.ts
  packages/broker/test/unit/helpers/parser.test.ts
  packages/broker/test/unit/plugins/mqtt/Bridge.test.ts
Labels: broker

#1382 docs(broker): Fix default partition
  packages/broker/plugins.md
Labels: broker

#1396 Fix fatal bug if DhtNode's stop is called during start.
  packages/dht/src/dht/DhtNode.ts
Labels: dht

#1395 Broker(test): no longer explicitly create a kademliaId for non-entrypoint peers in tests
  packages/broker/test/integration/createMessagingPluginTest.ts
  packages/broker/test/integration/plugins/mqtt/Bridge.test.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/integration/plugins/storage/dataMetadataEndpoint.test.ts
  packages/broker/test/integration/plugins/subscriber/SubscriberPlugin.test.ts
Labels: broker

#1392 refactor(client): Refactor The Graph client
  packages/client/src/ContractFactory.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/events.ts
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/registry/StreamStorageRegistry.ts
  packages/client/src/registry/searchStreams.ts
  packages/client/src/subscribe/MsgChainUtil.ts
  packages/client/src/utils/Gate.ts
  packages/client/src/utils/GraphQLClient.ts
  packages/client/src/utils/SynchronizedGraphQLClient.ts
  packages/client/src/utils/utils.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/unit/searchStreams.test.ts
  packages/utils/src/Gate.ts
  packages/utils/src/TheGraphClient.ts
  packages/utils/src/exports.ts
  packages/utils/test/Gate.test.ts
  packages/utils/test/TheGraphClient.test.ts
Labels: client, utils

#1398 refactor(client): `MsgChainContext`
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/ordering/GapFillFailedError.ts
  packages/client/src/subscribe/ordering/OrderedMsgChain.ts
  packages/client/src/subscribe/ordering/OrderingUtil.ts
  packages/client/test/unit/OrderedMsgChain.test.ts
  packages/client/test/unit/OrderingUtil.test.ts
  packages/client/test/unit/OrderingUtil2.test.ts
Labels: client

#1391 refactor(client): Refactor message validator
  packages/client/src/StreamMessageValidator.ts
  packages/client/src/Validator.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/subscribe/subscribePipeline.ts
  packages/client/src/utils/promises.ts
  packages/client/src/utils/validateStreamMessage.ts
  packages/client/test/unit/promises.test.ts
  packages/client/test/unit/validateStreamMessage.test.ts
  packages/client/test/unit/validateStreamMessage2.test.ts
Labels: client

#1407 refactor(client): Refactor `OrderMessages`
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/ResendSubscription.ts
  packages/client/src/subscribe/subscribePipeline.ts
Labels: client

#1403 add internal declaration to methods & variables that have internally declared vars, types or methods
  packages/client/src/Config.ts
  packages/client/src/StreamFactory.ts
  packages/client/src/registry/StreamRegistry.ts
  packages/client/src/utils/HttpFetcher.ts
  packages/client/src/utils/utils.ts
  packages/protocol/src/protocol/message_layer/EncryptedGroupKey.ts
  packages/protocol/src/protocol/message_layer/GroupKeyResponse.ts
  packages/protocol/src/protocol/message_layer/MessageID.ts
Labels: client, protocol

#1422 refactor(client): Simplify message cloning
  packages/client/src/encryption/decrypt.ts
  packages/client/test/test-utils/fake/FakeNetwork.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
Labels: client

#1421 fix(client): Active gap fill for encrypted streams
  CHANGELOG.md
  packages/client/src/Stream.ts
  packages/client/src/subscribe/OrderMessages.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/test/integration/gap-fill.test.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/OrderMessages.test.ts
Labels: client, docs

#1424 client: use lighter `@lit-protocol/core`
  package-lock.json
  packages/client/package.json
  packages/client/src/encryption/LitProtocolFacade.ts
  packages/client/webpack.config.js
Labels: client

#1432 client: fix ts-essentials skipLibCheck issue
  package-lock.json
  packages/client/package.json
Labels: client
