Repository streamr-dev/network, pull requests merged in 2024-05, with the labels that each got.

#2533 refactor(dht): Optimize storer analysis
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/store/StoreManager.ts
  packages/dht/src/dht/store/StoreRpcLocal.ts
  packages/dht/test/unit/StoreManager.test.ts
Labels: dht

#2535 fix(DHT): Require connectionsView if transport is given in config
  packages/dht/src/dht/DhtNode.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network, dht

#2536 bump @streamr/config to 5.3.3
  package-lock.json
  packages/broker/package.json
  packages/client/package.json
Labels: broker, client

#2538 feat(cli-tools): Remove `governance vote` command
  CHANGELOG.md
  packages/cli-tools/bin/streamr-governance-vote.ts
  packages/cli-tools/bin/streamr-governance.ts
  packages/cli-tools/bin/streamr.ts
Labels: cli-tools, docs

#2537 Add support for amoy instead of mumbai (WIP)
  docs/static/assets/mumbai-default.json
  package-lock.json
  packages/broker/package.json
  packages/broker/src/config/ConfigWizard.ts
  packages/broker/src/config/config.ts
  packages/broker/test/unit/ConfigWizard.test.ts
  packages/client/package.json
  packages/client/src/Config.ts
  packages/client/src/config.schema.json
  packages/client/src/generated/validateConfig.js
  packages/client/test/unit/Config.test.ts
  packages/dht/README.md
Labels: broker, client, dht

#2540 Polygon Amoy related docs update
  docs/docs/guides/become-an-operator.md
  docs/docs/guides/how-to-run-streamr-node.md
  docs/docs/guides/how-to-stake-and-earn.md
  docs/docs/streamr-network/network-roles/delegators.md
  docs/static/assets/testnet-default.json
  packages/broker/src/config/ConfigWizard.ts
Labels: broker

#2519 fix(DHT): fix hanging connection issue with connectivity requests
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
Labels: dht

#2544 Bump config to 5.3.6
  package-lock.json
  packages/broker/package.json
  packages/client/package.json
Labels: broker, client

#2543 refactor(DHT): StoreRpcLocal unit tests
  packages/dht/src/dht/store/StoreManager.ts
  packages/dht/src/dht/store/StoreRpcLocal.ts
  packages/dht/test/unit/StoreRpcLocal.test.ts
Labels: dht

#2546 refactor(client): Remove `TrackerRegistry` ABI
  packages/client/src/ethereumArtifacts/TrackerRegistry.json
Labels: client

#2532 refactor(trackerless-network): EntryPointDiscovery refactor
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/EntryPointDiscovery.ts
  packages/trackerless-network/src/logic/StreamPartNetworkSplitAvoidance.ts
  packages/trackerless-network/src/logic/StreamPartReconnect.ts
  packages/trackerless-network/test/unit/EntrypointDiscovery.test.ts
  packages/trackerless-network/test/unit/StreamPartNetworkSplitAvoidance.test.ts
  packages/trackerless-network/test/utils/fake/FakeEntryPointDiscovery.ts
Labels: network

#2092 ClientWebSocket connect selfSigned default false
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/connectivityChecker.ts
  packages/dht/src/connection/connectivityRequestHandler.ts
  packages/dht/src/connection/websocket/AbstractWebsocketClientConnection.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/benchmark/WebsocketServerMemoryLeak.test.ts
  packages/dht/test/integration/ConnectivityChecking.test.ts
  packages/dht/test/integration/GeoIpConnectivityChecking.test.ts
  packages/dht/test/integration/Websocket.test.ts
  packages/dht/test/unit/connectivityRequestHandler.test.ts
  packages/trackerless-network/src/proto/google/protobuf/any.ts
  packages/trackerless-network/src/proto/google/protobuf/empty.ts
  packages/trackerless-network/src/proto/google/protobuf/timestamp.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2548 feat(DHT): Queried stream entrypoint filtering
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/EntryPointDiscovery.ts
  packages/trackerless-network/src/logic/StreamPartNetworkSplitAvoidance.ts
  packages/trackerless-network/src/logic/StreamPartReconnect.ts
  packages/trackerless-network/test/unit/EntrypointDiscovery.test.ts
  packages/trackerless-network/test/utils/fake/FakeEntryPointDiscovery.ts
Labels: network

#2553 test(client): Fix `ProxyDirection` import
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
Labels: client

#2560 test(broker): Run integration test sequentially
  packages/broker/package.json
Labels: broker

#2556 docs(client): Remove duplicate document generation
  .github/workflows/validate.yml
  README.md
  docs/package-lock.json
  docs/package.json
  package-lock.json
  packages/client/README.md
  packages/client/package.json
  packages/client/typedoc.js
Labels: ci, client, docs

#2557 ci(client): Remove `ens-sync-script` service
  .github/workflows/validate.yml
Labels: ci

#2573 PendingConnection unit test
  packages/dht/src/connection/Handshaker.ts
  packages/dht/src/connection/PendingConnection.ts
  packages/dht/src/connection/simulator/SimulatorConnector.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/connection/websocket/WebsocketServerConnector.ts
  packages/dht/test/unit/PendingConnection.test.ts
Labels: dht

#2572 test(DHT): Managed connection unit tests
  packages/dht/src/connection/Handshaker.ts
  packages/dht/src/connection/PendingConnection.ts
  packages/dht/src/connection/simulator/SimulatorConnector.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/connection/websocket/WebsocketServerConnector.ts
  packages/dht/test/unit/ManagedConnection.test.ts
  packages/dht/test/unit/PendingConnection.test.ts
  packages/dht/test/utils/mock/MockConnection.ts
Labels: dht
