Repository streamr-dev/network, pull requests merged in 2024-11, with the labels that each got.

#2780 feat(sdk): [NET-1316] Use `StreamRegistry` v5 permission methods
  CHANGELOG.md
  package-lock.json
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/searchStreams.ts
  packages/sdk/src/ethereumArtifacts/StreamRegistryV5.d.ts
  packages/sdk/src/ethereumArtifacts/StreamRegistryV5Abi.json
  packages/sdk/src/permission.ts
  packages/sdk/test/end-to-end/Permissions.test.ts
  packages/sdk/test/end-to-end/decorated-contract.test.ts
  packages/sdk/test/test-utils/FakeJsonRpcServer.ts
  packages/test-utils/package.json
  packages/test-utils/src/index.ts
Labels: test-utils, docs, sdk

#2819 feat(sdk): Validate permission types for public permissions
  CHANGELOG.md
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/test/end-to-end/Permissions.test.ts
Labels: docs, sdk

#2807 refactor(sdk): Use `HexString` in public API
  packages/sdk/src/Config.ts
  packages/sdk/src/Stream.ts
  packages/sdk/src/StreamrClient.ts
Labels: sdk

#2811 refactor(sdk)!: Unify `user` parameter naming
  CHANGELOG.md
  docs/docs/guides/nodejs.md
  docs/docs/guides/use-any-language-or-device.md
  docs/docs/usage/sdk/utility-functions.md
  docs/docs/usage/streams/permissions.md
  packages/cli-tools/bin/streamr-stream-search.ts
  packages/cli-tools/bin/streamr-stream-show.ts
  packages/cli-tools/src/permission.ts
  packages/cli-tools/test/stream-permission.test.ts
  packages/cli-tools/test/stream-publish-subscribe.test.ts
  packages/node/test/integration/broker-subscriptions.test.ts
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/searchStreams.ts
  packages/sdk/src/permission.ts
  packages/sdk/test/browser-smoke-test/smoke-test.html
  packages/sdk/test/end-to-end/Permissions.test.ts
  packages/sdk/test/end-to-end/binary-publish.test.ts
  packages/sdk/test/end-to-end/erc1271-publish-subscribe.test.ts
  packages/sdk/test/end-to-end/publish-subscribe-via-proxy.test.ts
  packages/sdk/test/end-to-end/publish-subscribe.test.ts
  packages/sdk/test/end-to-end/resend.test.ts
  packages/sdk/test/end-to-end/searchStreams.test.ts
  packages/sdk/test/integration/GroupKeyPersistence.test.ts
  packages/sdk/test/integration/PublisherKeyExchange.test.ts
  packages/sdk/test/integration/Resends.test.ts
  packages/sdk/test/integration/StreamrClient.test.ts
  packages/sdk/test/integration/Subscriber.test.ts
  packages/sdk/test/integration/SubscriberKeyExchange.test.ts
  packages/sdk/test/integration/multiple-clients.test.ts
  packages/sdk/test/integration/parallel-key-exchange.test.ts
  packages/sdk/test/integration/pre-agreed-encryption-key.test.ts
  packages/sdk/test/integration/publisher-key-reuse.test.ts
  packages/sdk/test/integration/resend-and-subscribe.test.ts
  packages/sdk/test/integration/resend-with-existing-key.test.ts
  packages/sdk/test/integration/revoke-permissions.test.ts
  packages/sdk/test/integration/sequential-resend-subscribe.test.ts
  packages/sdk/test/integration/update-encryption-key.test.ts
  packages/sdk/test/test-utils/fake/FakeStreamRegistry.ts
Labels: cli-tools, docs, sdk, node

#2852 test(sdk): Optimize gap fill test case
  packages/sdk/test/integration/gap-fill.test.ts
Labels: sdk

#2845 feat(sdk)!: Untyped `StreamMetadata`
  CHANGELOG.md
  packages/node/src/plugins/storage/DeleteExpiredCmd.ts
  packages/node/test/utils.ts
  packages/sdk/src/Stream.ts
  packages/sdk/src/StreamFactory.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/exports.ts
  packages/sdk/test/integration/Stream.test.ts
  packages/sdk/test/test-utils/fake/FakeStorageNode.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/Stream.test.ts
Labels: docs, sdk, node

#2851 feat(sdk)!: Do not set metadata defaults in `Stream` constructor
  CHANGELOG.md
  packages/sdk/src/Stream.ts
  packages/sdk/test/end-to-end/StreamRegistry.test.ts
  packages/sdk/test/unit/Stream.test.ts
Labels: docs, sdk

#2854 feat(sdk): Validate partition count when it is used
  packages/sdk/src/Stream.ts
  packages/sdk/src/contracts/searchStreams.ts
  packages/sdk/test/end-to-end/StreamRegistry.test.ts
  packages/sdk/test/unit/Stream.test.ts
  packages/sdk/test/unit/searchStreams.test.ts
Labels: sdk

#2855 feat(sdk)!: `StreamrClient#updateStream()` return type
  CHANGELOG.md
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/test/test-utils/fake/FakeStreamRegistry.ts
Labels: docs, sdk

#2856 refactor(sdk): `StreamRegistry#getStreamMetadata()`
  packages/sdk/src/Stream.ts
  packages/sdk/src/StreamFactory.ts
  packages/sdk/src/StreamMetadata.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/StreamStorageRegistry.ts
  packages/sdk/src/contracts/searchStreams.ts
  packages/sdk/src/exports.ts
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/src/utils/validateStreamMessage.ts
  packages/sdk/test/test-utils/fake/FakeChain.ts
  packages/sdk/test/test-utils/fake/FakeStreamRegistry.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/Stream.test.ts
  packages/sdk/test/unit/StreamMetadata.test.ts
  packages/sdk/test/unit/messagePipeline.test.ts
  packages/sdk/test/unit/searchStreams.test.ts
  packages/sdk/test/unit/validateStreamMessage.test.ts
  packages/sdk/test/unit/validateStreamMessage2.test.ts
Labels: sdk

#2857 refactor(sdk): Create `Stream` instances outside of `StreamRegistry`/`StreamStorageRegistry`
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/StreamStorageRegistry.ts
  packages/sdk/src/subscribe/Resends.ts
  packages/sdk/test/test-utils/fake/FakeStreamRegistry.ts
  packages/sdk/test/test-utils/fake/FakeStreamStorageRegistry.ts
Labels: sdk

#2858 feat(sdk): Unify `addStreamToStorageNode` API
  CHANGELOG.md
  packages/sdk/src/Stream.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/utils/addStreamToStorageNode.ts
Labels: docs, sdk

#2859 feat(sdk)!: Method parameters of `StreamrClient#updateStream`
  CHANGELOG.md
  packages/sdk/src/StreamrClient.ts
Labels: docs, sdk

#2861 refactor(sdk): `Stream` methods call `StreamrClient`
  packages/sdk/src/Stream.ts
  packages/sdk/src/StreamFactory.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/searchStreams.ts
  packages/sdk/test/test-utils/fake/FakeStreamRegistry.ts
  packages/sdk/test/unit/Stream.test.ts
  packages/sdk/test/unit/searchStreams.test.ts
Labels: sdk

#2862 feat(sdk)!: Rename `StreamrClient#updateStream()` and `Stream#update()`
  CHANGELOG.md
  packages/sdk/src/Stream.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/test/end-to-end/StreamRegistry.test.ts
  packages/sdk/test/test-utils/fake/FakeStreamRegistry.ts
  packages/sdk/test/unit/Stream.test.ts
Labels: docs, sdk

#2863 feat(sdk)!: Remove `Stream#delete()`
  CHANGELOG.md
  packages/sdk/src/Stream.ts
  packages/sdk/test/end-to-end/StreamRegistry.test.ts
Labels: docs, sdk

#2864 feat(sdk)!: Remove `Stream#detectFields()`
  CHANGELOG.md
  packages/sdk/src/Stream.ts
  packages/sdk/test/integration/Stream.test.ts
Labels: docs, sdk

#2865 build(deps): Bump `uuid`
  package-lock.json
  packages/autocertifier-server/package.json
  packages/dht/package.json
  packages/geoip-location/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/trackerless-network/package.json
Labels: network, dht, proto-rpc, sdk, node

#2872 build(deps): Bump `typescript-eslint`
  package-lock.json
  package.json
  packages/utils/src/types.ts
Labels: utils

#2871 refactor(sdk): Convert `CacheAsyncFn` to class
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/src/subscribe/messagePipeline.ts
  packages/sdk/src/subscribe/ordering/OrderMessages.ts
  packages/sdk/src/utils/CacheAsyncFn.ts
  packages/sdk/src/utils/CachingMap.ts
  packages/sdk/src/utils/addStreamToStorageNode.ts
  packages/sdk/test/test-utils/fake/FakeStreamRegistry.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/CachingMap.test.ts
  packages/sdk/test/unit/CachingMap2.test.ts
  packages/sdk/test/unit/Publisher.test.ts
  packages/sdk/test/unit/messagePipeline.test.ts
Labels: sdk

#2867 refactor(sdk): Remove `CancelableGenerator`
  packages/sdk/src/utils/iterators.ts
  packages/sdk/src/utils/promises.ts
  packages/sdk/test/unit/iterators.test.ts
Labels: sdk

#2869 refactor(sdk): Remove duplicate `until` function
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/utils/promises.ts
  packages/sdk/test/end-to-end/StorageNodeRegistry.test.ts
  packages/sdk/test/end-to-end/StreamRegistry.test.ts
  packages/sdk/test/integration/GroupKeyPersistence.test.ts
  packages/sdk/test/unit/promises.test.ts
Labels: sdk

#2877 chore(sdk): Use `StreamrClient` cache config in `GapFiller`
  CHANGELOG.md
  packages/sdk/src/subscribe/messagePipeline.ts
  packages/sdk/src/subscribe/ordering/OrderMessages.ts
  packages/sdk/test/unit/OrderMessages.test.ts
  packages/sdk/test/unit/OrderMessages2.test.ts
  packages/sdk/test/unit/resendSubscription.test.ts
Labels: docs, sdk

#2881 feat(node): Remove `streamr-broker` command
  CHANGELOG.md
  package-lock.json
  packages/node/bin/broker.ts
  packages/node/package.json
Labels: docs, node

#2876 feat(sdk)!: Remove `StreamrClient#findOperators()`
  CHANGELOG.md
  packages/sdk/src/StreamrClient.ts
Labels: docs, sdk

#2874 refactor(sdk): Improve `StreamRegistry` cache invalidation
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/src/subscribe/messagePipeline.ts
  packages/sdk/src/utils/addStreamToStorageNode.ts
  packages/sdk/test/test-utils/fake/FakeStreamRegistry.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/Publisher.test.ts
  packages/sdk/test/unit/messagePipeline.test.ts
Labels: sdk

#2878 refactor(sdk): Move storage node caching to `StreamStorageRegistry`
  CHANGELOG.md
  packages/sdk/src/contracts/StreamStorageRegistry.ts
  packages/sdk/src/subscribe/messagePipeline.ts
  packages/sdk/src/subscribe/ordering/OrderMessages.ts
  packages/sdk/test/unit/OrderMessages.test.ts
  packages/sdk/test/unit/OrderMessages2.test.ts
  packages/sdk/test/unit/resendSubscription.test.ts
Labels: docs, sdk

#2889 feat(sdk): Consistent state for metadata and permissions
  CHANGELOG.md
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/StreamRegistry.ts
Labels: docs, sdk

#2885 refactor(sdk): `StreamRegistry` cache invalidation
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/utils/CachingMap.ts
  packages/sdk/test/test-utils/fake/FakeStreamRegistry.ts
Labels: sdk

#2893 fix(node): [NET-1377] Operator stops inspecting after Polygon RPC timeout
  CHANGELOG.md
  packages/node/src/plugins/operator/inspectOverTime.ts
  packages/node/test/unit/plugins/operator/inspectOverTime.test.ts
Labels: docs, node

#2892 test(dht): Fix `toEqualPeerDescriptor` inverse custom matcher
  packages/dht/test/unit/customMatchers.test.ts
  packages/dht/test/utils/customMatchers.ts
Labels: dht

#2883 refactor(sdk)!: Stateless `Stream`
  CHANGELOG.md
  docs/docs/usage/streams/partitioning.md
  packages/cli-tools/bin/streamr-storage-node-list-streams.ts
  packages/cli-tools/bin/streamr-stream-create.ts
  packages/cli-tools/bin/streamr-stream-show.ts
  packages/cli-tools/test/stream-create.test.ts
  packages/node/src/plugins/storage/DeleteExpiredCmd.ts
  packages/node/src/plugins/storage/StorageConfig.ts
  packages/node/src/plugins/storage/StorageEventListener.ts
  packages/node/src/plugins/storage/StoragePoller.ts
  packages/node/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/node/test/unit/plugins/storage/StorageConfig.test.ts
  packages/node/test/unit/plugins/storage/StorageEventListener.test.ts
  packages/node/test/unit/plugins/storage/StoragePoller.test.ts
  packages/sdk/src/Stream.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/searchStreams.ts
  packages/sdk/test/end-to-end/StreamRegistry.test.ts
  packages/sdk/test/end-to-end/contract-call-cache.test.ts
  packages/sdk/test/integration/GroupKeyPersistence.test.ts
  packages/sdk/test/integration/PublisherKeyExchange.test.ts
  packages/sdk/test/integration/StreamrClient.test.ts
  packages/sdk/test/integration/resend-and-subscribe.test.ts
  packages/sdk/test/integration/resend-with-existing-key.test.ts
  packages/sdk/test/integration/update-encryption-key.test.ts
  packages/sdk/test/test-utils/ProxyHttpServer.ts
  packages/sdk/test/test-utils/fake/FakeStreamRegistry.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/Stream.test.ts
  packages/sdk/test/unit/searchStreams.test.ts
Labels: cli-tools, docs, sdk, node

#2898 test(sdk): Simplify `karma-setup.js`
  packages/sdk/karma-setup.js
Labels: sdk

#2899 feat(sdk): `Mapping` concurrency
  packages/sdk/src/utils/Mapping.ts
  packages/sdk/test/unit/Mapping.test.ts
Labels: sdk

#2897 test(sdk): Add `toEqualStreamrClientError()` custom matcher
  packages/sdk/test/test-utils/customMatchers.ts
  packages/sdk/test/unit/customMatchers.test.ts
Labels: sdk

#2912 test(DHT): NET-1380: removed test case `Disconnects webrtcconnection while being connected`
  packages/dht/test/integration/WebrtcConnectionManagement.test.ts
Labels: dht

#2894 test(sdk): Unify `toThrowStreamrError()`
  packages/sdk/test/test-utils/customMatchers.ts
  packages/sdk/test/unit/customMatchers.test.ts
Labels: sdk

#2896 test(sdk): Rename `toThrowStreamrError()`, add `toEqualStreamrClientError()`
  packages/sdk/test/end-to-end/Permissions.test.ts
  packages/sdk/test/end-to-end/StreamRegistry.test.ts
  packages/sdk/test/integration/NetworkNodeFacade.test.ts
  packages/sdk/test/integration/Resends2.test.ts
  packages/sdk/test/integration/client-destroy.test.ts
  packages/sdk/test/integration/waitForStorage.test.ts
  packages/sdk/test/test-utils/customMatchers.ts
  packages/sdk/test/unit/Publisher.test.ts
  packages/sdk/test/unit/PushBuffer.test.ts
  packages/sdk/test/unit/Resends.test.ts
  packages/sdk/test/unit/Stream.test.ts
  packages/sdk/test/unit/StreamrClient.test.ts
  packages/sdk/test/unit/customMatchers.test.ts
Labels: sdk

#2895 feat(sdk): Decrypt error is `StreamrClientError`
  packages/sdk/src/StreamrClientError.ts
  packages/sdk/src/encryption/EncryptionUtil.ts
  packages/sdk/src/encryption/decrypt.ts
  packages/sdk/test/integration/resend-with-existing-key.test.ts
  packages/sdk/test/integration/revoke-permissions.test.ts
  packages/sdk/test/integration/update-encryption-key.test.ts
  packages/sdk/test/unit/Decrypt.test.ts
  packages/sdk/test/unit/EncryptionUtil.test.ts
  packages/sdk/test/unit/messagePipeline.test.ts
Labels: sdk

#2905 test: Replace deprecated `toThrowError()` calls
  packages/dht/test/integration/StoreRpcRemote.test.ts
  packages/node/test/unit/plugins/operator/heartbeatUtils.test.ts
  packages/sdk/test/unit/Operator.test.ts
  packages/trackerless-network/test/unit/DuplicateMessageDetector.test.ts
  packages/utils/test/ENSName.test.ts
  packages/utils/test/EthereumAddress.test.ts
  packages/utils/test/Metric.test.ts
  packages/utils/test/StreamID.test.ts
  packages/utils/test/collect.test.ts
  packages/utils/test/pTransaction.test.ts
  packages/utils/test/signingUtils.test.ts
  packages/utils/test/toEthereumAddressOrENSName.test.ts
Labels: network, dht, utils, sdk, node

#2907 test: use Jest instead of NodeJS assertions
  packages/sdk/test/unit/MessageRef.test.ts
  packages/sdk/test/unit/StreamMessage.test.ts
  packages/sdk/test/unit/validateStreamMessage2.test.ts
  packages/utils/test/signingUtils.test.ts
Labels: utils, sdk

#2908 chore: Add `eslint-jest-plugin`
  eslint.config.mjs
  package-lock.json
  package.json
  packages/dht/test/integration/ConnectionLocking.test.ts
  packages/node/test/integration/broker-subscriptions.test.ts
  packages/node/test/integration/plugins/storage/Storage.test.ts
  packages/proto-rpc/test/unit/RpcCommunicator.test.ts
  packages/sdk/test/end-to-end/contract-call-cache.test.ts
  packages/sdk/test/unit/MessageRef.test.ts
  packages/sdk/test/unit/PushBuffer.test.ts
  packages/sdk/test/unit/Stream.test.ts
  packages/sdk/test/unit/StreamMessage.test.ts
  packages/sdk/test/unit/StreamMessageTranslator.test.ts
  packages/sdk/test/unit/iterators.test.ts
  packages/trackerless-network/test/unit/ContentDeliveryManager.test.ts
  packages/trackerless-network/test/unit/DuplicateMessageDetector.test.ts
  packages/trackerless-network/test/unit/HandshakeRpcLocal.test.ts
Labels: network, dht, proto-rpc, sdk, node

#2910 chore: Add `@typescript-eslint/no-confusing-void-expression` rule
  eslint.config.mjs
  packages/autocertifier-server/src/DnsServer.ts
  packages/autocertifier-server/src/StreamrChallenger.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/simulator/Simulator.ts
  packages/dht/test/integration/ConnectionLocking.test.ts
  packages/node/test/integration/multiple-publisher-plugins.test.ts
  packages/node/test/integration/plugins/storage/cassanda-queries.test.ts
  packages/node/test/unit/ConfigWizard.test.ts
  packages/node/test/unit/helpers/weightedSample.test.ts
  packages/sdk/src/MetricsPublisher.ts
  packages/sdk/src/utils/PushPipeline.ts
  packages/sdk/src/utils/Scaffold.ts
  packages/sdk/src/utils/Signal.ts
  packages/sdk/test/end-to-end/Permissions.test.ts
  packages/sdk/test/end-to-end/StorageNodeRegistry2.test.ts
  packages/sdk/test/end-to-end/StreamRegistry.test.ts
  packages/sdk/test/integration/basics.test.ts
  packages/sdk/test/unit/iterators.test.ts
  packages/test-utils/src/index.ts
  packages/trackerless-network/test/end-to-end/content-delivery-layer-node-with-real-connections.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryManager.test.ts
  packages/trackerless-network/test/unit/InspectSession.test.ts
  packages/utils/src/Metric.ts
  packages/utils/test/StreamID.test.ts
  packages/utils/test/randomString.test.ts
Labels: network, test-utils, dht, utils, sdk, node

#2901 feat(sdk): `Mapping` cache constraints
  packages/sdk/src/contracts/ERC1271ContractFacade.ts
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/src/publish/Publisher.ts
  packages/sdk/src/subscribe/ordering/OrderMessages.ts
  packages/sdk/src/utils/Mapping.ts
  packages/sdk/test/integration/parallel-key-exchange.test.ts
  packages/sdk/test/unit/Mapping.test.ts
Labels: sdk
