Repository streamr-dev/network, pull requests merged in 2024-01, with the labels that each got.

#2254 test(dht): Fix imports
  packages/dht/test/benchmark/WebsocketServerMemoryLeak.test.ts
  packages/dht/test/end-to-end/Layer0Webrtc-Layer1.test.ts
  packages/dht/test/end-to-end/memory-leak.test.ts
  packages/dht/test/integration/ConnectionLocking.test.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/Mock-Layer1-Layer0.test.ts
  packages/dht/test/integration/WebsocketConnectionManagement.test.ts
  packages/dht/test/unit/RecursiveOperationManager.test.ts
  packages/dht/test/unit/RecursiveOperationSession.test.ts
Labels: dht

#2255 refactor(dht): Use random nodeId in `StreamrChallenger`
  packages/autocertifier-server/src/StreamrChallenger.ts
  packages/autocertifier-server/test/integration/StreamrChallenger.test.ts
  packages/dht/src/exports.ts
Labels: dht

#2256 refactor(dht): Use nodeId in offering hash
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/helpers/PeerID.ts
  packages/dht/src/helpers/offering.ts
  packages/dht/src/identifiers.ts
Labels: dht

#2257 refactor(trackerless-network): Simplify `NodeList` methods
  packages/trackerless-network/src/logic/NodeList.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakeRpcLocal.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateRpcLocal.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
  packages/trackerless-network/src/logic/temporary-connection/TemporaryConnectionRpcLocal.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/unit/NodeList.test.ts
  packages/trackerless-network/test/unit/RandomGraphNode.test.ts
Labels: network

#2258 refactor(dht): Remove redundant `DhtAddress` conversions
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ConnectorFacade.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
  packages/dht/src/connection/websocket/WebsocketConnectorRpcLocal.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtNodeRpcLocal.ts
  packages/dht/src/dht/ExternalApiRpcLocal.ts
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/test/end-to-end/Layer0Webrtc.test.ts
  packages/dht/test/end-to-end/WebsocketConnectionRequest.test.ts
  packages/dht/test/integration/ConnectionLocking.test.ts
  packages/dht/test/integration/SimultaneousConnections.test.ts
  packages/dht/test/integration/WebrtcConnectionManagement.test.ts
  packages/dht/test/integration/WebsocketConnectionManagement.test.ts
  packages/trackerless-network/src/logic/Layer1Node.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
Labels: network, dht

#2260 fix(dht): `DisconnectNoticeResponse` as notification
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2261 fix(dht): Do not send message while `ConnectionManager` is stopping
  packages/dht/src/connection/ConnectionManager.ts
Labels: dht

#2263 refactor(dht): `DhtNodeOptions#peerId` type
  packages/broker/bin/entry-point.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/test/end-to-end/Layer0Webrtc-Layer1.test.ts
Labels: broker, dht

#2265 refactor(dht): `ConnectionID` as branded string
  packages/dht/src/connection/Connection.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/IConnection.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/connection/webrtc/WebrtcConnectorRpcLocal.ts
  packages/dht/src/connection/websocket/ClientWebsocket.ts
  packages/dht/src/connection/websocket/ServerWebsocket.ts
Labels: dht

#2267 ci: run eslint & versions & check separately from build phase
  .github/workflows/test-setup.yml
  .github/workflows/validate.yml
Labels: ci

#2262 feat NET-1036[!]: binary storage and resend support
  package-lock.json
  packages/broker/src/plugins/storage/Batch.ts
  packages/broker/src/plugins/storage/BatchManager.ts
  packages/broker/src/plugins/storage/DataQueryFormat.ts
  packages/broker/src/plugins/storage/Storage.ts
  packages/broker/src/plugins/storage/dataQueryEndpoint.ts
  packages/broker/test/integration/plugins/storage/BatchManager.test.ts
  packages/broker/test/integration/plugins/storage/Storage.test.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/integration/plugins/storage/cassanda-queries.test.ts
  packages/broker/test/integration/plugins/storage/dataMetadataEndpoint.test.ts
  packages/broker/test/unit/plugins/storage/Batch.test.ts
  packages/broker/test/unit/plugins/storage/dataQueryEndpoint.test.ts
  packages/client/package.json
  packages/client/src/subscribe/Resends.ts
  packages/client/src/utils/utils.ts
  packages/client/test/end-to-end/resend.test.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
  packages/client/test/unit/Resends.test.ts
  packages/client/test/unit/utils.test.ts
  packages/trackerless-network/src/exports.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/oldStreamMessageBinaryUtils.ts
  packages/trackerless-network/test/unit/oldStreamMessageBinaryUtils.test.ts
  packages/utils/src/exports.ts
  packages/utils/src/lengthPrefixedFrameUtils.ts
  packages/utils/test/lengthPrefixFrameUtils.test.ts
Labels: broker, network, client, utils

#2264 refactor(dht): Rename `DhtNodeOptions#peerId`
  packages/broker/bin/entry-point.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/test/benchmark/SortedContactListBenchmark.test.ts
  packages/dht/test/end-to-end/Layer0Webrtc-Layer1.test.ts
  packages/dht/test/end-to-end/memory-leak.test.ts
  packages/proto-rpc/test/integration/ClientRpcTransport.test.ts
  packages/proto-rpc/test/proto/TestProtos.ts
  packages/proto-rpc/test/protos/TestProtos.proto
  packages/proto-rpc/test/utils.ts
Labels: broker, dht, proto-rpc

#1788 update to Typescript 5.2
  package-lock.json
  package.json
  packages/client/package.json
  packages/client/src/utils/WebStreamToNodeStream.ts
  packages/client/test/unit/WebStreamToNodeStream.test.ts
  packages/client/tsconfig.jest.json
  packages/client/tsconfig.node.json
  tsconfig.node.json
Labels: client

#2266 refactor(dht): Remove `UUID` class
  packages/dht/src/connection/websocket/WebsocketServer.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/helpers/UUID.ts
  packages/dht/test/unit/UUID.test.ts
Labels: dht

#2271 Update to Node 20
  .nvmrc
  Dockerfile.broker
  package-lock.json
  package.json
  packages/broker/test/unit/httpServer.test.ts
  packages/dht/src/rpc-protocol/DhtCallContext.ts
  tsconfig.node.json
Labels: broker, dht

#2276 fix(DHT): NET-1242 fix flaky `integration/find.test.ts`
  packages/dht/test/integration/Find.test.ts
Labels: dht

#2274 update to TS 5.3
  package-lock.json
  package.json
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/client/src/encryption/RSAKeyPair.ts
  packages/dht/package.json
  packages/proto-rpc/package.json
  packages/trackerless-network/package.json
Labels: network, client, dht, proto-rpc

#1988 refactor(protocol, client): All signing utils to binary
  packages/broker/test/unit/ConfigWizard.test.ts
  packages/cli-tools/test/utils.ts
  packages/client/src/Authentication.ts
  packages/client/src/encryption/LitProtocolFacade.ts
  packages/client/src/utils/signingUtils.ts
  packages/client/test/benchmarks/SigningUtil.test.ts
  packages/client/test/unit/Authentication.test.ts
  packages/client/test/unit/SigningUtil.test.ts
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/protocol/src/protocol/message_layer/signature.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/utils/test/lengthPrefixFrameUtils.test.ts
Labels: broker, network, client, protocol, cli-tools, utils

#2278 refactor(protocol): remove unused serialization logic & make fields readonly
  packages/broker/src/plugins/storage/Storage.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/utils/validateStreamMessage.ts
  packages/client/test/integration/PublisherKeyExchange.test.ts
  packages/client/test/integration/resend-and-subscribe.test.ts
  packages/client/test/unit/validateStreamMessage2.test.ts
  packages/protocol/src/protocol/message_layer/EncryptedGroupKey.ts
  packages/protocol/src/protocol/message_layer/GroupKeyMessage.ts
  packages/protocol/src/protocol/message_layer/GroupKeyRequest.ts
  packages/protocol/src/protocol/message_layer/GroupKeyResponse.ts
  packages/protocol/src/protocol/message_layer/MessageID.ts
  packages/protocol/src/protocol/message_layer/MessageRef.ts
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/protocol/src/protocol/message_layer/exports.ts
  packages/protocol/src/protocol/message_layer/groupKeySerialization.ts
  packages/protocol/src/protocol/message_layer/signature.ts
  packages/protocol/src/protocol/message_layer/streamMessageSerialization.ts
  packages/protocol/test/unit/protocol/message_layer/GroupKeyRequest.test.ts
  packages/protocol/test/unit/protocol/message_layer/GroupKeyResponse.test.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessage.test.ts
  packages/protocol/test/unit/protocol/message_layer/groupKeySerialization.test.ts
  packages/protocol/test/unit/protocol/message_layer/streamMessageSerialization.test.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/GroupKeyRequestTranslator.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/StreamMessageTranslator.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
Labels: broker, network, client, protocol

#2282 refactor: clean `StreamMessage`
  packages/client/src/encryption/EncryptionUtil.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/publish/MessageFactory.ts
  packages/client/src/subscribe/messagePipeline.ts
  packages/client/src/subscribe/ordering/OrderMessages.ts
  packages/client/src/subscribe/ordering/OrderedMessageChain.ts
  packages/client/src/subscribe/waitForStorage.ts
  packages/client/src/utils/validateStreamMessage.ts
  packages/client/test/benchmarks/raw-pipeline.js
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/client/test/integration/PublisherKeyExchange.test.ts
  packages/client/test/integration/Subscriber2.test.ts
  packages/client/test/integration/resend-and-subscribe.test.ts
  packages/client/test/integration/waitForStorage.test.ts
  packages/client/test/unit/EncryptionUtil.test.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/client/test/unit/MessageStream.test.ts
  packages/client/test/unit/PushPipeline.test.ts
  packages/client/test/unit/messagePipeline.test.ts
  packages/client/test/unit/resendSubscription.test.ts
  packages/client/test/unit/validateStreamMessage2.test.ts
  packages/client/test/unit/waitForAssignmentsToPropagate.test.ts
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/protocol/src/protocol/message_layer/signature.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessage.test.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/StreamMessageTranslator.ts
Labels: network, client, protocol

#2240 chore: remove unused function
  packages/broker/src/plugins/operator/inspectionUtils.ts
  packages/broker/test/unit/plugins/operator/inspectionUtils.test.ts
Labels: broker

#2279 refactor(trackerless-network, client): Rename `targetNeighbor`
  packages/client/src/config.schema.json
  packages/client/src/generated/validateConfig.js
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakeRpcLocal.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborFinder.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateRpcLocal.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/random-graph-with-real-connections.test.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/integration/Propagation.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/unit/HandshakeRpcLocal.test.ts
  packages/trackerless-network/test/unit/Handshaker.test.ts
  packages/trackerless-network/test/unit/NeighborFinder.test.ts
  packages/trackerless-network/test/unit/RandomGraphNode.test.ts
Labels: network, client

#2285 protocol: make `encryptionType` field mandatory
  packages/broker/test/integration/plugins/storage/Storage.test.ts
  packages/broker/test/integration/plugins/storage/cassanda-queries.test.ts
  packages/broker/test/sequential/plugins/storage/CassandraNullPayloads.test.ts
  packages/broker/test/unit/plugins/storage/dataQueryEndpoint.test.ts
  packages/client/test/integration/Subscriber2.test.ts
  packages/client/test/integration/waitForStorage.test.ts
  packages/client/test/unit/GapFiller.test.ts
  packages/client/test/unit/MessageStream.test.ts
  packages/client/test/unit/OrderMessages.test.ts
  packages/client/test/unit/OrderMessages2.test.ts
  packages/client/test/unit/OrderedMessageChain.test.ts
  packages/client/test/unit/PushPipeline.test.ts
  packages/client/test/unit/Resends.test.ts
  packages/client/test/unit/messagePipeline.test.ts
  packages/client/test/unit/validateStreamMessage2.test.ts
  packages/client/test/unit/waitForAssignmentsToPropagate.test.ts
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessage.test.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/inspect.test.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/integration/NetworkNode.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
Labels: broker, network, client, protocol

#2280 refactor(dht): Rename `DhtNode#getAllNeighborPeerDescriptors()`
  packages/dht/src/dht/DhtNode.ts
  packages/dht/test/integration/Mock-Layer1-Layer0.test.ts
  packages/trackerless-network/src/logic/EntryPointDiscovery.ts
  packages/trackerless-network/src/logic/Layer1Node.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/utils/mock/MockLayer1Node.ts
Labels: network, dht

#2088 test(dht): Fix `ReplicateData` checks
  packages/dht/test/integration/ReplicateData.test.ts
Labels: dht

#2272 fix(DHT): fix flaky `integration/StoreAndDelete.test.ts`
  packages/dht/test/integration/StoreAndDelete.test.ts
Labels: dht

#2286 chore[!]: New signature method
  packages/broker/test/integration/plugins/storage/Storage.test.ts
  packages/broker/test/integration/plugins/storage/cassanda-queries.test.ts
  packages/broker/test/sequential/plugins/storage/CassandraNullPayloads.test.ts
  packages/broker/test/unit/plugins/storage/dataQueryEndpoint.test.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/publish/MessageFactory.ts
  packages/client/src/utils/validateStreamMessage.ts
  packages/client/test/integration/Subscriber2.test.ts
  packages/client/test/integration/waitForStorage.test.ts
  packages/client/test/unit/GapFiller.test.ts
  packages/client/test/unit/MessageStream.test.ts
  packages/client/test/unit/OrderMessages.test.ts
  packages/client/test/unit/OrderMessages2.test.ts
  packages/client/test/unit/OrderedMessageChain.test.ts
  packages/client/test/unit/PushPipeline.test.ts
  packages/client/test/unit/Resends.test.ts
  packages/client/test/unit/legacySignatures.test.ts
  packages/client/test/unit/messagePipeline.test.ts
  packages/client/test/unit/validateStreamMessage2.test.ts
  packages/client/test/unit/waitForAssignmentsToPropagate.test.ts
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/protocol/src/protocol/message_layer/signature.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessage.test.ts
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/logic/protocol-integration/stream-message/StreamMessageTranslator.ts
  packages/trackerless-network/src/proto/google/protobuf/any.ts
  packages/trackerless-network/src/proto/google/protobuf/empty.ts
  packages/trackerless-network/src/proto/google/protobuf/timestamp.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/inspect.test.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/integration/NetworkNode.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/unit/Propagation.test.ts
  packages/trackerless-network/test/unit/StreamMessageTranslator.test.ts
  packages/trackerless-network/test/unit/oldStreamMessageBinaryUtils.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: broker, network, client, protocol

#2281 refactor: Unify names of functions, variables representing counts
  developer-docs/index.md
  packages/broker/src/plugins/storage/Batch.ts
  packages/broker/src/plugins/storage/BatchManager.ts
  packages/broker/src/plugins/storage/Bucket.ts
  packages/broker/src/plugins/storage/DeleteExpiredCmd.ts
  packages/broker/test/integration/plugins/storage/BatchManager.test.ts
  packages/broker/test/unit/plugins/storage/Batch.test.ts
  packages/broker/test/unit/plugins/storage/Bucket.test.ts
  packages/client/src/Config.ts
  packages/client/src/config.schema.json
  packages/client/src/generated/validateConfig.js
  packages/client/test/unit/OrderMessages2.test.ts
  packages/dht/src/connection/ConnectionLockHandler.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/routing/DuplicateDetector.ts
  packages/dht/test/benchmark/Find.test.ts
  packages/dht/test/benchmark/KademliaCorrectness.test.ts
  packages/dht/test/benchmark/kademlia-simulation/KademliaSimulation.ts
  packages/dht/test/benchmark/kademlia-simulation/SimulationNode.ts
  packages/dht/test/end-to-end/Layer0.test.ts
  packages/dht/test/end-to-end/Layer0MixedConnectionTypes.test.ts
  packages/dht/test/end-to-end/Layer0Webrtc-Layer1.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-WebSocket.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-Webrtc.test.ts
  packages/dht/test/end-to-end/RecoveryFromFailedAutoCertification.test.ts
  packages/dht/test/integration/DhtJoinPeerDiscovery.test.ts
  packages/dht/test/integration/Layer1-scale.test.ts
  packages/dht/test/integration/Mock-Layer1-Layer0.test.ts
  packages/dht/test/integration/MultipleEntryPointJoining.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/StoreOnDhtWithTwoNodes.test.ts
  packages/dht/test/utils/utils.ts
  packages/trackerless-network/src/logic/DuplicateMessageDetector.ts
  packages/trackerless-network/src/logic/EntryPointDiscovery.ts
  packages/trackerless-network/src/logic/Layer1Node.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/random-graph-with-real-connections.test.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/utils/mock/MockLayer1Node.ts
Labels: broker, network, client, dht

#2108 chore(utils): make executeSafePromise exit on error
  packages/utils/src/executeSafePromise.ts
Labels: utils

#2284 fix(DHT): use distant id instead of random id in additional join
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
Labels: dht

#1812 refactor: cleanup of ts and jest configs
  jest.config.js
  packages/trackerless-network/jest.config.js
  packages/trackerless-network/tsconfig.jest.json
  packages/trackerless-network/tsconfig.node.json
  packages/utils/tsconfig.jest.json
  packages/utils/tsconfig.node.json
Labels: network, utils

#2291 refactor: "Immutable" `StreamMessage`
  packages/client/src/encryption/EncryptionUtil.ts
  packages/client/src/encryption/decrypt.ts
  packages/client/test/benchmarks/raw-pipeline.js
  packages/client/test/integration/update-encryption-key.test.ts
  packages/client/test/unit/Decrypt.test.ts
  packages/client/test/unit/EncryptionUtil.test.ts
  packages/client/test/unit/messagePipeline.test.ts
  packages/client/test/unit/validateStreamMessage.test.ts
  packages/client/test/unit/validateStreamMessage2.test.ts
  packages/protocol/src/protocol/message_layer/MessageID.ts
  packages/protocol/src/protocol/message_layer/MessageRef.ts
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessage.test.ts
Labels: client, protocol

#2295 refactor(protocol): Rename `EncryptedGroupKey#groupKeyId`
  packages/client/src/encryption/GroupKey.ts
  packages/client/test/integration/PublisherKeyExchange.test.ts
  packages/client/test/integration/update-encryption-key.test.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/protocol/src/protocol/message_layer/EncryptedGroupKey.ts
  packages/protocol/src/protocol/message_layer/groupKeySerialization.ts
  packages/protocol/src/protocol/message_layer/signature.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/GroupKeyResponseTranslator.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/StreamMessageTranslator.ts
Labels: network, client, protocol

#2296 refactor(protocol): `StreamMessage` field types `null` -> `undefined`
  packages/broker/src/plugins/storage/DataQueryFormat.ts
  packages/client/src/subscribe/ordering/OrderedMessageChain.ts
  packages/client/test/integration/parallel-publish.test.ts
  packages/client/test/unit/GapFiller.test.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/client/test/unit/OrderMessages2.test.ts
  packages/client/test/unit/OrderedMessageChain.test.ts
  packages/client/test/unit/validateStreamMessage2.test.ts
  packages/protocol/src/protocol/message_layer/EncryptedGroupKey.ts
  packages/protocol/src/protocol/message_layer/GroupKeyRequest.ts
  packages/protocol/src/protocol/message_layer/GroupKeyResponse.ts
  packages/protocol/src/protocol/message_layer/MessageID.ts
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/protocol/src/utils/validations.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessage.test.ts
  packages/protocol/test/unit/utils/validations.test.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/unit/StreamMessageTranslator.test.ts
Labels: broker, network, client, protocol

#2299 refactor(protocol): rm runtime type validation from classes
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/test/integration/PublisherKeyExchange.test.ts
  packages/protocol/src/protocol/message_layer/EncryptedGroupKey.ts
  packages/protocol/src/protocol/message_layer/MessageID.ts
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/protocol/src/utils/validations.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessage.test.ts
  packages/protocol/test/unit/utils/validations.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
Labels: network, client, protocol

#2300 chore: move signing functions to `@streamr/utils`
  packages/client/src/Authentication.ts
  packages/client/src/utils/validateStreamMessage.ts
  packages/client/test/benchmarks/SigningUtil.test.ts
  packages/utils/src/exports.ts
  packages/utils/src/signingUtils.ts
  packages/utils/test/SigningUtil.test.ts
Labels: client, utils

#2301 refactor(utils): Do not export `recoverSignature`
  packages/utils/src/exports.ts
  packages/utils/src/signingUtils.ts
  packages/utils/test/SigningUtil.test.ts
Labels: utils

#2304 refactor(client): Use `urls` storage node metadata field
  packages/broker/test/utils.ts
  packages/client/src/registry/StorageNodeRegistry.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/test/end-to-end/StorageNodeRegistry.test.ts
  packages/client/test/end-to-end/StorageNodeRegistry2.test.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
  packages/client/test/unit/Resends.test.ts
Labels: broker, client

#2305 chore(broker): remove 2nd part of MaintainTopologyHelper.test.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyHelper.test.ts
Labels: broker

#2302 Refactor peer descriptor v2
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/helpers/createPeerDescriptorSignaturePayload.ts
  packages/dht/src/identifiers.ts
  packages/dht/src/proto/google/protobuf/any.ts
  packages/dht/src/proto/google/protobuf/empty.ts
  packages/dht/src/proto/google/protobuf/timestamp.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/src/proto/packages/proto-rpc/protos/ProtoRpc.ts
Labels: dht

#2307 fix(network): fix default value for nearbyNodeViewSize
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
Labels: network

#2309 feat(client): Allow empty `StreamMessage` content
  packages/protocol/src/protocol/message_layer/StreamMessage.ts
  packages/protocol/src/utils/validations.ts
  packages/protocol/test/unit/protocol/message_layer/StreamMessage.test.ts
Labels: protocol

#2310 chore: Enable `@typescript-eslint/no-unnecessary-type-assertion` eslint rule
  .eslintrc.js
  packages/autocertifier-server/src/StreamrChallenger.ts
  packages/broker/bin/entry-point.ts
  packages/broker/src/plugins/operator/ContractFacade.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/client/src/utils/WebStreamToNodeStream.ts
  packages/dht/test/integration/WebrtcConnectionManagement.test.ts
  packages/dht/test/unit/connectivityRequestHandler.test.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/StreamMessageTranslator.ts
Labels: broker, network, client, dht

#1883 feat(network): NET-1012 NodeInfoRpc
  packages/autocertifier-server/test/integration/StreamrChallenger.test.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/transport/ITransport.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/Layer1-scale.test.ts
  packages/dht/test/integration/ScaleDownDht.test.ts
  packages/dht/test/utils/FakeTransport.ts
  packages/dht/test/utils/mock/Transport.ts
  packages/dht/test/utils/utils.ts
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/Layer0Node.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/node-info/NodeInfoClient.ts
  packages/trackerless-network/src/logic/node-info/NodeInfoRpcLocal.ts
  packages/trackerless-network/src/logic/node-info/NodeInfoRpcRemote.ts
  packages/trackerless-network/src/proto/google/protobuf/any.ts
  packages/trackerless-network/src/proto/google/protobuf/empty.ts
  packages/trackerless-network/src/proto/google/protobuf/timestamp.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/src/proto/packages/proto-rpc/protos/ProtoRpc.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.client.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.server.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/random-graph-with-real-connections.test.ts
  packages/trackerless-network/test/integration/NetworkNode.test.ts
  packages/trackerless-network/test/integration/NodeInfoRpc.test.ts
  packages/trackerless-network/test/integration/Propagation.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node.test.ts
  packages/trackerless-network/test/unit/RandomGraphNode.test.ts
  packages/trackerless-network/test/unit/StreamrNode.test.ts
  packages/trackerless-network/test/utils/mock/MockLayer0Node.ts
  packages/trackerless-network/test/utils/mock/Transport.ts
Labels: network, dht

#2293 fix(proto-rpc): toProtoRpcClient() in case of calls with responses with all-optional response parameters
  packages/proto-rpc/src/proto/ProtoRpc.ts
  packages/proto-rpc/src/proto/google/protobuf/any.ts
  packages/proto-rpc/src/proto/google/protobuf/empty.ts
  packages/proto-rpc/src/toProtoRpcClient.ts
  packages/proto-rpc/test/integration/toProtoRpcClient.test.ts
  packages/proto-rpc/test/proto/HelloRpc.client.ts
  packages/proto-rpc/test/proto/HelloRpc.server.ts
  packages/proto-rpc/test/proto/HelloRpc.ts
  packages/proto-rpc/test/proto/TestProtos.client.ts
  packages/proto-rpc/test/proto/TestProtos.server.ts
  packages/proto-rpc/test/proto/TestProtos.ts
  packages/proto-rpc/test/proto/WakeUpRpc.client.ts
  packages/proto-rpc/test/proto/WakeUpRpc.server.ts
  packages/proto-rpc/test/proto/WakeUpRpc.ts
  packages/proto-rpc/test/proto/google/protobuf/empty.ts
  packages/proto-rpc/test/protos/TestProtos.proto
Labels: proto-rpc

#2315 refactor(utils): Change `createSignature` method parameter type
  packages/client/src/Authentication.ts
  packages/client/test/benchmarks/SigningUtil.test.ts
  packages/utils/src/signingUtils.ts
  packages/utils/test/SigningUtil.test.ts
Labels: client, utils

#2313 feat(dht): Generate nodeIds in new format when not explicitly set
  packages/client/src/utils/utils.ts
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/connectivityRequestHandler.ts
  packages/dht/src/connection/websocket/ServerWebsocket.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/helpers/createPeerDescriptor.ts
  packages/dht/src/helpers/createPeerDescriptorSignaturePayload.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/end-to-end/Layer0MixedConnectionTypes.test.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/unit/connectivityRequestHandler.test.ts
  packages/dht/test/unit/createPeerDescriptor.test.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/test/integration/NodeInfoRpc.test.ts
  packages/utils/src/exports.ts
  packages/utils/src/ipv4ToNumber.ts
  packages/utils/src/signingUtils.ts
  packages/utils/test/ipv4ToNumber.test.ts
Labels: network, client, dht, utils

#2319 chore(ci): tweak release.sh and remove `prepublishOnly` NPM scripts
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/client/package.json
  packages/dht/package.json
  packages/proto-rpc/package.json
  release.sh
Labels: client, dht, proto-rpc

#2314 chore(ci): workflow to publish to npm
  .github/workflows/publish-npm.yml
  .github/workflows/reusable/cached-build/action.yml
Labels: ci

#2320 feat(network): Connectivity check versioning
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/Handshaker.ts
  packages/dht/src/connection/connectivityChecker.ts
  packages/dht/src/connection/connectivityRequestHandler.ts
  packages/dht/src/connection/webrtc/WebrtcConnectorRpcLocal.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
  packages/dht/src/proto/google/protobuf/any.ts
  packages/dht/src/proto/google/protobuf/empty.ts
  packages/dht/src/proto/google/protobuf/timestamp.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/integration/ConnectivityChecking.test.ts
  packages/dht/test/unit/connectivityRequestHandler.test.ts
  packages/trackerless-network/src/proto/google/protobuf/any.ts
  packages/trackerless-network/src/proto/google/protobuf/empty.ts
  packages/trackerless-network/src/proto/google/protobuf/timestamp.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2308 feat(network): disconnect excess stream connections when detected
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateRpcLocal.ts
  packages/trackerless-network/test/unit/NeighborUpdateRpcLocal.test.ts
Labels: network

#2321 refactor(network): NET-1257 neighborCount -> neighborTargetCount
  packages/client/src/Config.ts
  packages/client/src/config.schema.json
  packages/client/src/generated/validateConfig.js
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateRpcLocal.ts
  packages/trackerless-network/test/unit/NeighborUpdateRpcLocal.test.ts
Labels: network, client

#2322 ci: manual release of Docker image
  .github/workflows/auto-release-docker.yml
  .github/workflows/docker-build.yml
  .github/workflows/release-docker.yml
  .github/workflows/release.yml
Labels: ci

#2323 test(client): Signature validation test
  packages/client/test/unit/legacySignatures.test.ts
  packages/client/test/unit/signature.test.ts
Labels: client

#2326 feat(DHT): Enforce node id length
  package-lock.json
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/broker/package.json
  packages/broker/test/integration/config.test.ts
  packages/client/package.json
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/identifiers.ts
  packages/dht/test/end-to-end/Layer0Webrtc-Layer1.test.ts
Labels: broker, client, dht

#2328 fix(DHT): Reject WS server connections during start
  packages/dht/src/connection/websocket/WebsocketConnector.ts
Labels: dht

#2327 fix(DHT): Only emit newContact if contact was added to SortedContactList
  packages/dht/src/dht/contact/SortedContactList.ts
  packages/dht/test/unit/SortedContactList.test.ts
Labels: dht

#2331 test(broker): make integration test ContractFacade.test.ts slightly faster
  packages/broker/test/integration/plugins/operator/ContractFacade.test.ts
Labels: broker

#2335 refactor(dht): Rename `ContactList#newContact` event
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtNodeRpcLocal.ts
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/contact/ContactList.ts
  packages/dht/src/dht/contact/RandomContactList.ts
  packages/dht/src/dht/contact/SortedContactList.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/store/StoreManager.ts
  packages/dht/test/unit/SortedContactList.test.ts
  packages/dht/test/unit/StoreManager.test.ts
  packages/trackerless-network/src/logic/Layer1Node.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/test/unit/RandomGraphNode.test.ts
Labels: network, dht

#2329 test(broker): convert test for `MaintainTopologyHelper` into unit tests
  packages/broker/src/plugins/operator/MaintainTopologyHelper.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyHelper.test.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/broker/test/unit/plugins/operator/MaintainTopologyHelper.test.ts
Labels: broker

#2330 feat(DHT): validate explicit peer descriptor nodeId length
  packages/dht/src/dht/DhtNode.ts
  packages/trackerless-network/test/end-to-end/random-graph-with-real-connections.test.ts
  packages/trackerless-network/test/integration/NetworkNode.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
  packages/trackerless-network/test/integration/joining-streams-on-offline-peers.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/unit/InspectSession.test.ts
  packages/trackerless-network/test/unit/Inspector.test.ts
  packages/trackerless-network/test/unit/NeighborFinder.test.ts
  packages/trackerless-network/test/unit/NodeList.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network, dht

#2334 fix(DHT): Check if data should be replicated per key instead of per entry
  packages/dht/src/dht/store/LocalDataStore.ts
  packages/dht/src/dht/store/StoreManager.ts
  packages/dht/test/unit/StoreManager.test.ts
Labels: dht

#2337 fix(dht): Remove also from `randomPeers` when peer is unresponsive
  packages/dht/src/dht/PeerManager.ts
Labels: dht

#2340 refactor(dht): Optimize `SortedContactList#addContact`
  packages/dht/src/dht/contact/SortedContactList.ts
Labels: dht

#2338 refactor(dht): Rename `PeerManager` methods
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/test/unit/PeerManager.test.ts
Labels: dht

#2333 fix(DHT): minor performance improvement by limiting number of contacts in StoreManager
  packages/dht/src/dht/store/StoreManager.ts
Labels: dht

#2332 fix(DHT): Performance: no longer add the source of a routed message as a contact
  packages/dht/src/dht/recursive-operation/RecursiveOperationRpcLocal.ts
  packages/dht/src/dht/routing/RouterRpcLocal.ts
Labels: dht

#2342 fix(broker) [NET-1266]: add missing catch to voting
  packages/broker/src/plugins/operator/reviewSuspectNode.ts
Labels: broker

#2336 fix(DHT) limit the contactList size in RoutingSession
  packages/dht/src/dht/routing/RoutingSession.ts
Labels: dht

#2339 fix(network): unlock connections with removeMe in NeighborUpdates
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateRpcLocal.ts
  packages/trackerless-network/test/unit/NeighborUpdateRpcLocal.test.ts
Labels: network

#2344 ci(client): bump chromedriver to v120
  package-lock.json
  packages/client/package.json
Labels: client

#2318 fix(network): propagation during inspection, passing inspection
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/inspect/InspectSession.ts
  packages/trackerless-network/src/logic/inspect/Inspector.ts
  packages/trackerless-network/src/logic/temporary-connection/TemporaryConnectionRpcLocal.ts
Labels: network

#2345 chore(broker): remove self-check from entry-point.ts
  packages/broker/bin/entry-point.ts
Labels: broker

#2346 refactor(DHT): Extract connectivity probe logic to its own function
  packages/dht/src/connection/connectivityRequestHandler.ts
  packages/dht/test/end-to-end/Layer0Webrtc.test.ts
Labels: dht

#2347 fix(dht): Criticial forwarding fix to requestIds (duplicate detection)
  packages/dht/src/dht/routing/RouterRpcLocal.ts
Labels: dht
