Repository streamr-dev/network, pull requests merged in 2024-02, with the labels that each got.

#2343 fix(network): unlock connections after removal from proxy client
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
Labels: network

#1265 chore(client): run tests using karma / electron
  .github/workflows/validate.yml
  package-lock.json
  packages/browser-test-runner/karma-setup.js
  packages/browser-test-runner/package.json
  packages/client/.babel.browser.config.js
  packages/client/karma-end-to-end.config.js
  packages/client/karma-integration.config.js
  packages/client/karma-setup.js
  packages/client/karma-unit.config.js
  packages/client/package.json
  packages/client/src/utils/contract.ts
  packages/client/src/utils/utils.ts
  packages/client/test/browser-smoke-test/browser.js
  packages/client/test/browser-smoke-test/nightwatch.conf.js
  packages/client/test/browser-smoke-test/server.js
  packages/client/test/browser-smoke-test/smoke-test.html
  packages/client/test/browser-smoke-test/smoke-test.sh
  packages/client/test/browser/browser.html
  packages/client/test/browser/browser.js
  packages/client/test/browser/server.js
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/end-to-end/Permissions.test.ts
  packages/client/test/end-to-end/StorageNodeRegistry2.test.ts
  packages/client/test/end-to-end/StreamRegistry.test.ts
  packages/client/test/end-to-end/StreamrClient.test.ts
  packages/client/test/end-to-end/publish-subscribe-via-proxy.test.ts
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/client/test/end-to-end/resend.test.ts
  packages/client/test/end-to-end/searchStreams.test.ts
  packages/client/test/integration/Resends2.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/integration/gap-fill.test.ts
  packages/client/test/test-utils/customMatchers.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/PushPipeline.test.ts
  packages/client/test/unit/Resends.test.ts
  packages/client/test/unit/ServerPersistence.test.ts
  packages/client/test/unit/WebStreamToNodeStream.test.ts
  packages/client/test/unit/utils.test.ts
  packages/client/test/unit/uuid.test.ts
  packages/client/tsconfig.browser.json
  packages/client/webpack.config.js
  packages/test-utils/src/index.ts
  packages/test-utils/tsconfig.node.json
Labels: ci, client, test-utils

#2351 docs(network): update network README
  packages/trackerless-network/README.md
Labels: network

#2356 feat(trackerless-network): Version number in `NodeInfoResponse`
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/logic/node-info/NodeInfoRpcLocal.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/integration/NodeInfoRpc.test.ts
  packages/trackerless-network/tsconfig.jest.json
  packages/trackerless-network/tsconfig.node.json
Labels: network

#2357 chore(broker): [ETH-729] increase gas limit of vote on flag
  packages/broker/src/plugins/operator/ContractFacade.ts
Labels: broker

#2359 chore: tweak leftover points from browser test PR
  packages/client/karma-setup.js
  packages/client/test/browser-smoke-test/browser.js
  packages/client/test/integration/Resends2.test.ts
  packages/client/test/integration/StreamrClient.test.ts
  packages/client/test/test-utils/utils.ts
Labels: client

#2360 feat(trackerless-network): Export node info types and functions
  packages/trackerless-network/src/exports.ts
Labels: network

#2361 fix(utils): Add `secp256k1` dependency
  package-lock.json
  packages/client/package.json
  packages/utils/package.json
Labels: client, utils

#2352 fix(network): NeighborUpdateRpcLocal does not reply with removeMe if handshake is ongoing
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateRpcLocal.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/unit/Handshaker.test.ts
  packages/trackerless-network/test/unit/NeighborUpdateRpcLocal.test.ts
Labels: network

#2362 fix(DHT): clean up hanging invalid connections from the ConnectionManagers state
  packages/dht/src/connection/ConnectionManager.ts
Labels: dht

#2363 chore(utils) [NET-1208]: add missing try-catch
  packages/utils/src/TheGraphClient.ts
Labels: utils

#2366 feat(trackerless-network): Log exit event
  packages/trackerless-network/src/NetworkStack.ts
Labels: network

#2365 fix(network): fix infinite loop corner case in parallel handshakes
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
Labels: network

#2367 refactor(dht, trackerless-network): Remove unnecessary type assertions
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/unit/LocalDataStore.test.ts
  packages/dht/test/unit/PeerManager.test.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/test/end-to-end/inspect.test.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/NetworkStack.test.ts
  packages/trackerless-network/test/unit/GroupKeyResponseTranslator.test.ts
Labels: network, dht

#2368 chore(client): build both production & dev webpacks in release
  packages/client/package.json
  release.sh
Labels: client

#2369 fix(DHT): avoid unnecessary updateAndGetRoutablePeers calls
  packages/dht/src/dht/routing/RoutingSession.ts
Labels: dht

#2370 refactor(DHT): no longer set stopped outside of RoutingSession#stop()
  packages/dht/src/dht/routing/RoutingSession.ts
Labels: dht

#2371 fix(DHT) off handshaker onData after handshake is completed.
  packages/dht/src/connection/Handshaker.ts
  packages/dht/src/connection/ManagedConnection.ts
Labels: dht

#2373 feat(trackerless-network): Get local info via `fetchNodeInfo`
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/exports.ts
  packages/trackerless-network/src/logic/node-info/NodeInfoClient.ts
  packages/trackerless-network/src/logic/node-info/NodeInfoRpcLocal.ts
  packages/trackerless-network/test/integration/NetworkNode.test.ts
Labels: network

#2375 fix(DHT): less emitted events due DhtNode - ConnectionManager circular dependency
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RouterRpcLocal.ts
  packages/dht/test/unit/Router.test.ts
Labels: dht

#2374 fix(DHT): reduce duplicate detector max size
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/routing/Router.ts
Labels: dht

#2372 feat(DHT): LRU routing table cache
  package-lock.json
  packages/dht/package.json
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/dht/routing/RoutingTablesCache.ts
  packages/dht/test/unit/RoutingSession.test.ts
  packages/dht/test/utils/mock/Router.ts
Labels: dht

#2377 fix(client): Type definition file path
  packages/client/copy-package.js
Labels: client

#2379 feat(utils): `Multimap#values()`
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/utils/src/Multimap.ts
  packages/utils/test/Multimap.test.ts
Labels: client, utils

#2381 refactor(trackerless-network, client): Group key binary signature
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/publish/MessageFactory.ts
  packages/client/src/signature.ts
  packages/client/src/utils/validateStreamMessage.ts
  packages/client/test/integration/PublisherKeyExchange.test.ts
  packages/client/test/integration/Subscriber2.test.ts
  packages/client/test/integration/SubscriberKeyExchange.test.ts
  packages/client/test/integration/resend-and-subscribe.test.ts
  packages/client/test/integration/waitForStorage.test.ts
  packages/client/test/unit/MessageStream.test.ts
  packages/client/test/unit/PushPipeline.test.ts
  packages/client/test/unit/messagePipeline.test.ts
  packages/client/test/unit/validateStreamMessage2.test.ts
  packages/client/test/unit/waitForAssignmentsToPropagate.test.ts
  packages/protocol/src/protocol/message_layer/exports.ts
  packages/protocol/src/protocol/message_layer/groupKeySerialization.ts
  packages/protocol/src/protocol/message_layer/signature.ts
  packages/protocol/test/unit/protocol/message_layer/groupKeySerialization.test.ts
  packages/trackerless-network/src/exports.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/GroupKeyResponseTranslator.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/StreamMessageTranslator.ts
  packages/trackerless-network/src/logic/protocol-integration/stream-message/oldStreamMessageBinaryUtils.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/unit/GroupKeyRequestTranslator.test.ts
Labels: network, client, protocol

#2382 refactor(client): Simplify signature header
  packages/client/src/signature.ts
  packages/client/test/unit/signature.test.ts
Labels: client

#2386 refactor(dht): Unify `executeRecursiveOperation` API
  packages/dht/src/dht/DhtNode.ts
  packages/dht/test/benchmark/Find.test.ts
  packages/dht/test/integration/DhtNodeExternalAPI.test.ts
  packages/dht/test/integration/Find.test.ts
  packages/dht/test/integration/ReplicateData.test.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/StoreAndDelete.test.ts
  packages/dht/test/integration/StoreOnDhtWithThreeNodes.test.ts
  packages/dht/test/integration/StoreOnDhtWithTwoNodes.test.ts
  packages/trackerless-network/src/logic/EntryPointDiscovery.ts
  packages/trackerless-network/src/logic/Layer0Node.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/unit/EntrypointDiscovery.test.ts
  packages/trackerless-network/test/utils/mock/MockLayer0Node.ts
Labels: network, dht

#2388 refactor(dht): Remove `Message#messageType`
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/Handshaker.ts
  packages/dht/src/connection/connectivityChecker.ts
  packages/dht/src/connection/connectivityRequestHandler.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationSession.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/dht/test/end-to-end/memory-leak.test.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/Layer1-scale.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/RouterRpcRemote.test.ts
  packages/dht/test/integration/SimultaneousConnections.test.ts
  packages/dht/test/integration/WebrtcConnectionManagement.test.ts
  packages/dht/test/integration/WebsocketConnectionManagement.test.ts
  packages/dht/test/integration/rpc-connections-over-webrpc.test.ts
  packages/dht/test/unit/RecursiveOperationManager.test.ts
  packages/dht/test/unit/Router.test.ts
  packages/dht/test/unit/RoutingSession.test.ts
  packages/dht/test/unit/connectivityRequestHandler.test.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2391 refactor(dht): Rename `externalFindData`
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/ExternalApiRpcLocal.ts
  packages/dht/src/dht/ExternalApiRpcRemote.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/integration/DhtNodeExternalAPI.test.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2392 Rename `RecursiveOperation#FIND_NODE`
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/store/StoreManager.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/unit/RecursiveOperationManager.test.ts
  packages/dht/test/unit/RecursiveOperationSession.test.ts
  packages/dht/test/utils/utils.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2390 refactor(network): NET-1271 lock/unlock connections based on neighbor events in RandomGraphNode
  packages/trackerless-network/src/logic/NodeList.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakeRpcLocal.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateRpcLocal.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/unit/HandshakeRpcLocal.test.ts
  packages/trackerless-network/test/unit/Handshaker.test.ts
  packages/trackerless-network/test/unit/NeighborUpdateRpcLocal.test.ts
Labels: network

#2355 fix(network): StreamPartID data keys to 160 bits
  packages/trackerless-network/src/logic/EntryPointDiscovery.ts
  packages/trackerless-network/test/benchmark/StreamPartIdDataKeyDistribution.test.ts
  packages/trackerless-network/test/unit/StreamPartIDDataKey.test.ts
Labels: network

#2393 feat(network): Layer2 stricter handshake rejections
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakeRpcLocal.ts
  packages/trackerless-network/test/unit/HandshakeRpcLocal.test.ts
Labels: network

#2398 feat(utils): `numberToIpv4`
  packages/utils/src/exports.ts
  packages/utils/src/ipv4ToNumber.ts
  packages/utils/test/ipv4ToNumber.test.ts
Labels: utils

#2354 feat(network, DHT): Weak lock stream connections
  packages/dht/src/connection/ConnectionLockHandler.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/PeerManager.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/src/logic/inspect/Inspector.ts
  packages/trackerless-network/src/logic/temporary-connection/TemporaryConnectionRpcLocal.ts
  packages/trackerless-network/test/unit/TemporaryConnectionRpcLocal.test.ts
Labels: network, dht

#2383 chore(DHT): use WS library instead of websocket in the server side
  package-lock.json
  packages/browser-test-runner/preload.js
  packages/browser-test-runner/webpack.config.js
  packages/dht/package.json
  packages/dht/src/connection/connectivityRequestHandler.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
  packages/dht/src/connection/websocket/WebsocketServer.ts
  packages/dht/src/connection/websocket/WebsocketServerConnection.ts
  packages/dht/test/unit/connectivityRequestHandler.test.ts
Labels: dht

#2399 feat(network): Select layer2 neighbors with bias towards Hybrid DHT neighbors
  packages/dht/src/exports.ts
  packages/trackerless-network/.gitignore
  packages/trackerless-network/src/logic/Layer1Node.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/StreamrNode.ts
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborFinder.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/integration/streamEntryPointReplacing.test.ts
  packages/trackerless-network/test/unit/Handshaker.test.ts
  packages/trackerless-network/test/unit/NeighborFinder.test.ts
  packages/trackerless-network/test/utils/mock/MockLayer1Node.ts
Labels: network, dht

#2404 feat(dht): [NET-1256] Protocol version
  packages/dht/src/connection/Handshaker.ts
  packages/dht/src/connection/connectivityChecker.ts
  packages/dht/src/connection/connectivityRequestHandler.ts
  packages/dht/src/connection/webrtc/WebrtcConnectorRpcLocal.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
  packages/dht/src/exports.ts
  packages/dht/src/helpers/version.ts
  packages/dht/src/helpers/versionCompatibility.ts
  packages/dht/test/integration/ConnectivityChecking.test.ts
  packages/dht/test/unit/connectivityRequestHandler.test.ts
  packages/dht/test/unit/version.test.ts
  packages/dht/test/unit/versionCompatibility.test.ts
  packages/trackerless-network/src/NetworkStack.ts
Labels: network, dht

#2406 fix(DHT): send leave notices to ring contacts
  packages/dht/src/dht/PeerManager.ts
Labels: dht

#2405 feat(trackerless-network): Application version in node info
  packages/dht/src/exports.ts
  packages/dht/test/integration/ConnectivityChecking.test.ts
  packages/dht/test/unit/connectivityRequestHandler.test.ts
  packages/trackerless-network/src/NetworkStack.ts
Labels: network, dht

#2407 fix(DHT): reduce Handshaker HandshakeRequest parse error log level
  packages/dht/src/connection/Handshaker.ts
Labels: dht
