Repository streamr-dev/network, pull requests merged in 2024-10, with the labels that each got.

#2767 chore(deps): update `typescript-eslint` to v8
  .eslintrc.js
  package-lock.json
  package.json
  packages/autocertifier-client/src/RestClient.ts
  packages/autocertifier-server/src/StreamrChallenger.ts
  packages/cdn-location/test/integration/getLocalRegion.test.ts
  packages/cli-tools/bin/streamr-stream-publish.ts
  packages/dht/src/connection/connectivityChecker.ts
  packages/node/src/plugins/storage/BucketManager.ts
  packages/node/test/unit/ConfigWizard.test.ts
  packages/proto-rpc/src/toProtoRpcClient.ts
  packages/sdk/test/unit/iterators.test.ts
  packages/test-utils/src/customMatcherTypes.ts
  packages/utils/src/Defer.ts
Labels: test-utils, cli-tools, dht, utils, proto-rpc, sdk, node

#2768 chore(eslint): enable `restrict-template-expressions` rule
  .eslintrc.js
  packages/autocertifier-server/src/DnsServer.ts
  packages/browser-test-runner/webpack.config.js
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/dht/store/StoreRpcRemote.ts
  packages/node/src/config/migration.ts
  packages/node/src/config/validateConfig.ts
  packages/node/src/helpers/PayloadFormat.ts
  packages/node/src/plugins/storage/dataQueryEndpoint.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/unit/ConfigWizard.test.ts
  packages/sdk/src/Config.ts
  packages/sdk/src/MetricsPublisher.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/contract.ts
  packages/sdk/src/encryption/EncryptionUtil.ts
  packages/sdk/src/encryption/GroupKey.ts
  packages/sdk/src/encryption/decrypt.ts
  packages/sdk/src/protocol/GroupKeyResponse.ts
  packages/sdk/src/protocol/StreamMessageTranslator.ts
  packages/sdk/src/publish/Publisher.ts
  packages/sdk/src/signature/SignatureValidator.ts
  packages/sdk/src/subscribe/Resends.ts
  packages/sdk/test/browser-smoke-test/browser.js
  packages/sdk/test/test-utils/FakeJsonRpcServer.ts
  packages/sdk/test/test-utils/LeaksDetector.ts
  packages/sdk/test/test-utils/jest-utils.ts
  packages/sdk/test/unit/ChainEventPoller.test.ts
  packages/sdk/test/unit/Scaffold.test.ts
  packages/test-utils/src/customMatchers.ts
  packages/trackerless-network/src/logic/DuplicateMessageDetector.ts
  packages/trackerless-network/src/logic/StreamPartNetworkSplitAvoidance.ts
  packages/utils/test/lengthPrefixFrameUtils.test.ts
Labels: network, test-utils, dht, utils, sdk, node

#2778 chore(sdk): Use `MaxUint256` in permissions
  packages/sdk/src/permission.ts
Labels: sdk

#2776 chore(sdk): Remove `webrtcNewConnectionTimeout` config option
  packages/sdk/src/Config.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/generated/validateConfig.js
Labels: sdk

#2777 chore(sdk): Remove node id config option
  packages/node/configs/development-1.env.json
  packages/node/configs/development-2.env.json
  packages/node/configs/development-3.env.json
  packages/node/configs/development-prod-resend.env.json
  packages/node/configs/docker-1.env.json
  packages/node/configs/docker-2.env.json
  packages/node/configs/docker-3.env.json
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/node/test/utils.ts
  packages/sdk/src/Config.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/generated/validateConfig.js
  packages/sdk/test/end-to-end/StorageNodeRegistry.test.ts
Labels: sdk, node

#2738 feat(network): NET-1312 include RTTs to layer2 neighbors in the InfoResponse
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/ContentDeliveryRpcRemote.ts
  packages/trackerless-network/src/logic/NodeList.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
  packages/trackerless-network/src/proto/google/protobuf/any.ts
  packages/trackerless-network/src/proto/google/protobuf/empty.ts
  packages/trackerless-network/src/proto/google/protobuf/timestamp.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/integration/ContentDeliveryManager.test.ts
  packages/trackerless-network/test/integration/NodeInfoRpc.test.ts
  packages/trackerless-network/test/unit/ContentDeliveryLayerNode.test.ts
Labels: network

#2781 test(node): Update `@streamr/network-contracts` dev dependency
  package-lock.json
  packages/node/package.json
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/node/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
Labels: node

#2785 chore(eslint): Enable `@typescript-eslint/await-thenable` rule
  .eslintrc.js
  packages/autocertifier-server/src/DnsServer.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/connection/websocket/WebsocketClientConnector.ts
  packages/dht/src/connection/websocket/WebsocketServerConnector.ts
  packages/dht/test/unit/PendingConnection.test.ts
  packages/node/src/plugins/operator/OperatorPlugin.ts
  packages/sdk/test/end-to-end/Operator.test.ts
Labels: dht, sdk, node

#2790 feat(network): Improve `StreamPartitionInfo` compatibility
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
Labels: network

#2793 chore(node): Express v5 compatibility in `publishEndpoint`
  packages/node/src/plugins/http/publishEndpoint.ts
Labels: node

#2798 chore(eslint): Remove unnecessary ignores
  packages/autocertifier-server/src/AutoCertifierServer.ts
  packages/autocertifier-server/src/Database.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/test/integration/ReplicateData.test.ts
  packages/dht/test/integration/Websocket.test.ts
  packages/dht/test/integration/WebsocketConnectionManagement.test.ts
  packages/dht/test/utils/FakeTransport.ts
  packages/node/src/plugins/mqtt/MqttPlugin.ts
  packages/node/src/plugins/storage/BucketManager.ts
  packages/node/src/plugins/storage/Storage.ts
  packages/node/test/integration/plugins/storage/BucketManager.test.ts
  packages/node/test/integration/plugins/storage/Storage.test.ts
  packages/node/test/unit/plugins/storage/Batch.test.ts
  packages/node/test/unit/plugins/storage/Bucket.test.ts
  packages/node/test/unit/plugins/storage/dataQueryEndpoint.test.ts
  packages/proto-rpc/src/errors.ts
  packages/proto-rpc/src/toProtoRpcClient.ts
  packages/sdk/src/Authentication.ts
  packages/sdk/src/Stream.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/StreamStorageRegistry.ts
  packages/sdk/src/contracts/searchStreams.ts
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
  packages/sdk/src/exports.ts
  packages/sdk/src/protocol/StreamMessage.ts
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/src/subscribe/MessagePipelineFactory.ts
  packages/sdk/src/subscribe/messagePipeline.ts
  packages/sdk/src/subscribe/waitForStorage.ts
  packages/sdk/src/utils/WebStreamToNodeStream.ts
  packages/sdk/src/utils/promises.ts
  packages/sdk/test/end-to-end/contract-call-error.test.ts
  packages/sdk/test/integration/multiple-clients.test.ts
  packages/sdk/test/test-utils/fake/FakeERC1271ContractFacade.ts
  packages/sdk/test/test-utils/fake/FakeNetworkNode.ts
  packages/sdk/test/test-utils/fake/FakeStorageNodeRegistry.ts
  packages/sdk/test/test-utils/fake/FakeStreamRegistry.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/LocalGroupKeyStore.test.ts
  packages/sdk/test/unit/SignatureValidator.test.ts
  packages/test-utils/src/index.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/logic/ExternalNetworkRpc.ts
  packages/trackerless-network/src/logic/PeerDescriptorStoreManager.ts
  packages/trackerless-network/src/logic/propagation/Propagation.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/utils/src/Multimap.ts
  packages/utils/src/waitForEvent.ts
  packages/utils/test/lengthPrefixFrameUtils.test.ts
Labels: network, test-utils, dht, utils, proto-rpc, sdk, node

#2797 chore(cli-tools): Import group for `logLevel`
  packages/cli-tools/bin/streamr-storage-node-add-stream.ts
  packages/cli-tools/bin/streamr-storage-node-list-streams.ts
  packages/cli-tools/bin/streamr-storage-node-list.ts
  packages/cli-tools/bin/streamr-storage-node-remove-stream.ts
  packages/cli-tools/bin/streamr-stream-create.ts
  packages/cli-tools/bin/streamr-stream-grant-permission.ts
  packages/cli-tools/bin/streamr-stream-publish.ts
  packages/cli-tools/bin/streamr-stream-resend-from.ts
  packages/cli-tools/bin/streamr-stream-resend-last.ts
  packages/cli-tools/bin/streamr-stream-resend-range.ts
  packages/cli-tools/bin/streamr-stream-resend.ts
  packages/cli-tools/bin/streamr-stream-revoke-permission.ts
  packages/cli-tools/bin/streamr-stream-search.ts
  packages/cli-tools/bin/streamr-stream-show.ts
  packages/cli-tools/bin/streamr-stream-subscribe.ts
  packages/cli-tools/bin/streamr-wallet-whoami.ts
Labels: cli-tools

#2786 fix(network): NET-1360 Reattempt handshakes if neighbor count is 0 and contacts exist
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborFinder.ts
Labels: network

#2803 test(node): Use `PayloadFormat` in messaging plugin tests
  packages/node/test/integration/createMessagingPluginTest.ts
  packages/node/test/integration/plugins/mqtt/MqttPlugin.test.ts
  packages/node/test/integration/plugins/websocket/WebsocketPlugin.test.ts
Labels: node

#2779 logging(network): reduce failed network split avoidance log level to trace
  packages/trackerless-network/src/logic/StreamPartNetworkSplitAvoidance.ts
Labels: network

#2802 feat(DHT): NET-1358: time out webrtc connections early if signalling fails
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/test/unit/WebrtcConnection.test.ts
Labels: dht

#2804 test: Random user ids
  packages/node/test/integration/plugins/storage/Storage.test.ts
  packages/node/test/integration/plugins/storage/cassanda-queries.test.ts
  packages/node/test/integration/plugins/storage/storage-lots-of-data.test.ts
  packages/node/test/sequential/plugins/storage/CassandraNullPayloads.test.ts
  packages/node/test/unit/helpers/PayloadFormat.test.ts
  packages/node/test/unit/plugins/storage/dataQueryEndpoint.test.ts
  packages/node/test/utils.ts
  packages/sdk/test/unit/OrderMessages2.test.ts
  packages/sdk/test/unit/StreamMessage.test.ts
  packages/trackerless-network/test/end-to-end/inspect.test.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/integration/NetworkNode.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/utils/src/UserID.ts
  packages/utils/src/exports.ts
Labels: network, utils, sdk, node

#2801 feat(network): NET-1346 avoid routing through proxy connections
  packages/autocertifier-server/test/integration/StreamrChallenger.test.ts
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/ConnectionLockRpcLocal.ts
  packages/dht/src/connection/ConnectionLockRpcRemote.ts
  packages/dht/src/connection/ConnectionLockStates.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/simulator/SimulatorTransport.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/proto/google/protobuf/any.ts
  packages/dht/src/proto/google/protobuf/empty.ts
  packages/dht/src/proto/google/protobuf/timestamp.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/integration/ConnectionLocking.test.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/ConnectivityChecking.test.ts
  packages/dht/test/integration/GeoIpConnectivityChecking.test.ts
  packages/dht/test/integration/SimultaneousConnections.test.ts
  packages/dht/test/integration/WebrtcConnectionManagement.test.ts
  packages/dht/test/integration/WebsocketConnectionManagement.test.ts
  packages/dht/test/integration/rpc-connections-over-webrtc.test.ts
  packages/dht/test/unit/ConnectionManager.test.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/test/utils/mock/MockTransport.ts
Labels: network, dht

#2809 refactor(node): Use `UserID` in `Storage`
  packages/node/src/plugins/storage/Batch.ts
  packages/node/src/plugins/storage/Storage.ts
  packages/node/src/plugins/storage/dataQueryEndpoint.ts
  packages/node/test/integration/plugins/storage/cassanda-queries.test.ts
  packages/node/test/unit/plugins/storage/Batch.test.ts
  packages/node/test/unit/plugins/storage/dataQueryEndpoint.test.ts
  packages/utils/src/UserID.ts
  packages/utils/src/exports.ts
Labels: utils, node

#2806 test(trackerless-network): Use `toEqualBinary()` custom matcher
  packages/trackerless-network/jest.config.js
  packages/trackerless-network/karma-setup.js
  packages/trackerless-network/karma.config.js
  packages/trackerless-network/test/types/global.d.ts
  packages/trackerless-network/test/unit/ProxyConnectionRpcRemote.test.ts
  packages/trackerless-network/tsconfig.json
Labels: network

#2808 perf(utils): Optimize `toEthereumAddress`
  packages/utils/src/EthereumAddress.ts
Labels: utils

#2814 refactor(proto-rpc): NET-873 move `src/proto/` to `generated/`
  packages/proto-rpc/.eslintignore
  packages/proto-rpc/generated/ProtoRpc.ts
  packages/proto-rpc/generated/google/protobuf/any.ts
  packages/proto-rpc/generated/google/protobuf/empty.ts
  packages/proto-rpc/proto.sh
  packages/proto-rpc/src/ClientTransport.ts
  packages/proto-rpc/src/RpcCommunicator.ts
  packages/proto-rpc/src/ServerRegistry.ts
  packages/proto-rpc/src/exports.ts
  packages/proto-rpc/src/protoClasses.ts
  packages/proto-rpc/src/toProtoRpcClient.ts
  packages/proto-rpc/test/integration/ClientRpcTransport.test.ts
  packages/proto-rpc/test/integration/toProtoRpcClient.test.ts
  packages/proto-rpc/test/proto/HelloRpc.client.ts
  packages/proto-rpc/test/proto/HelloRpc.server.ts
  packages/proto-rpc/test/proto/HelloRpc.ts
  packages/proto-rpc/test/proto/TestProtos.client.ts
  packages/proto-rpc/test/proto/TestProtos.server.ts
  packages/proto-rpc/test/proto/TestProtos.ts
  packages/proto-rpc/test/proto/WakeUpRpc.client.ts
  packages/proto-rpc/test/proto/WakeUpRpc.server.ts
  packages/proto-rpc/test/proto/WakeUpRpc.ts
  packages/proto-rpc/test/proto/google/protobuf/empty.ts
  packages/proto-rpc/test/unit/ConversionWrappers.test.ts
  packages/proto-rpc/test/unit/RpcCommunicator.test.ts
  packages/proto-rpc/test/unit/ServerRegistry.test.ts
  packages/proto-rpc/tsconfig.jest.json
  packages/proto-rpc/tsconfig.node.json
Labels: proto-rpc

#2812 feat(utils): `merge()` does deep merge
  packages/sdk/src/Config.ts
  packages/sdk/src/Stream.ts
  packages/utils/src/merge.ts
  packages/utils/test/merge.test.ts
Labels: utils, sdk

#2813 feat(sdk): `dev2` environment applies `CONFIG_TEST` values
  CHANGELOG.md
  packages/cli-tools/src/client.ts
  packages/cli-tools/test/utils.ts
  packages/node/test/utils.ts
  packages/sdk/src/Config.ts
  packages/sdk/src/ConfigTest.ts
  packages/sdk/src/exports.ts
  packages/sdk/test/benchmarks/publish.js
  packages/sdk/test/benchmarks/resend.js
  packages/sdk/test/benchmarks/subscribe.js
  packages/sdk/test/browser-smoke-test/smoke-test.html
  packages/sdk/test/end-to-end/MemoryLeaks.test.ts
  packages/sdk/test/end-to-end/Operator.test.ts
  packages/sdk/test/end-to-end/Permissions.test.ts
  packages/sdk/test/end-to-end/StorageNodeRegistry.test.ts
  packages/sdk/test/end-to-end/StreamRegistry.test.ts
  packages/sdk/test/end-to-end/StreamrClient.test.ts
  packages/sdk/test/end-to-end/contract-call-error.test.ts
  packages/sdk/test/end-to-end/publish-subscribe.test.ts
  packages/sdk/test/end-to-end/searchStreams.test.ts
  packages/sdk/test/end-to-end/start-node.test.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/Config.test.ts
  packages/sdk/test/unit/StreamrClient.test.ts
Labels: cli-tools, docs, sdk, node

#2817 feat(cli-tools)!: [NET-1363] Add support for arbitrary `--env`
  CHANGELOG.md
  docs/docs/usage/cli-tool.md
  packages/cli-tools/README.md
  packages/cli-tools/src/client.ts
  packages/cli-tools/src/command.ts
  packages/cli-tools/src/common.ts
  packages/cli-tools/test/environment.test.ts
  packages/cli-tools/test/utils.ts
  packages/sdk/src/Config.ts
  packages/sdk/src/exports.ts
  packages/sdk/test/unit/Config.test.ts
Labels: cli-tools, docs, sdk

#2823 fix(trackerless-network): `NodeInfoResponse#controlLayer` optionality
  packages/trackerless-network/generated/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/protos/NetworkRpc.proto
Labels: network

#2824 refactor(network): remove use of private fields in `integration/Handshakes.test.ts`
  packages/trackerless-network/test/integration/Handshakes.test.ts
Labels: network

#2827 test(trackerless-network): NET-1195 remove setStreamPartEntryPoints calls from e2e tests
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
Labels: network

#2833 test(network): fix test flakyness `end-to-end/websocket-full-node-network.test.ts`
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
Labels: network

#2822 chore(trackerless-network): Export `NodeInfo` types
  package-lock.json
  packages/trackerless-network/package.json
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/exports.ts
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/node-info/NodeInfoClient.ts
  packages/trackerless-network/src/types.ts
  packages/utils/src/exports.ts
  packages/utils/src/types.ts
Labels: network, utils

#2834 fix(cli-tools): `--env` flag overrides config file
  CHANGELOG.md
  packages/cli-tools/src/client.ts
Labels: cli-tools, docs

#2835 feat(sdk): Add internal `show-sdk-config` command
  packages/cli-tools/bin/streamr-internal-show-sdk-config.ts
  packages/cli-tools/bin/streamr-internal.ts
Labels: cli-tools

#2837 refactor: Fix `@typescript-eslint/await-thenable` warnings
  packages/node/test/integration/broker-subscriptions.test.ts
  packages/sdk/test/unit/Pipeline.test.ts
  packages/sdk/test/unit/PushBuffer.test.ts
  packages/sdk/test/unit/iterators.test.ts
  packages/sdk/test/unit/resendSubscription.test.ts
Labels: sdk, node

#2838 refactor: Fix `@typescript-eslint/dot-notation` warnings
  packages/dht/src/connection/simulator/Simulator.ts
  packages/dht/test/benchmark/Find.test.ts
  packages/node/src/helpers/partitions.ts
  packages/node/src/plugins/http/publishEndpoint.ts
  packages/node/test/unit/helpers/parser.test.ts
  packages/node/test/unit/helpers/weightedSample.test.ts
  packages/node/test/utils.ts
  packages/sdk/bin/generate-config-validator.js
  packages/sdk/src/contracts/contract.ts
  packages/sdk/src/utils/persistence/ServerPersistence.ts
Labels: dht, sdk, node

#2839 refactor: Fix `@typescript-eslint/prefer-nullish-coalescing` warnings
  packages/autocertifier-server/src/RestServer.ts
  packages/node/src/config/ConfigWizard.ts
  packages/node/src/plugins/operator/MaintainTopologyHelper.ts
  packages/node/src/plugins/storage/DeleteExpiredCmd.ts
  packages/node/src/plugins/storage/SetMembershipSynchronizer.ts
  packages/node/src/plugins/storage/Storage.ts
  packages/node/test/utils.ts
  packages/sdk/test/test-utils/LeaksDetector.ts
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
Labels: network, sdk, node

#2840 refactor: Fix `@typescript-eslint/array-type` warnings
  packages/autocertifier-server/src/Database.ts
  packages/cdn-location/src/getLocalRegion.ts
  packages/dht/src/connection/simulator/Simulator.ts
  packages/dht/src/connection/simulator/pings.ts
  packages/dht/src/dht/DhtNodeRpcLocal.ts
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/src/dht/routing/DuplicateDetector.ts
  packages/dht/src/dht/store/StoreManager.ts
  packages/dht/src/dht/store/StoreRpcLocal.ts
  packages/dht/src/helpers/protoClasses.ts
  packages/dht/test/benchmark/Find.test.ts
  packages/dht/test/benchmark/KademliaCorrectness.test.ts
  packages/dht/test/benchmark/RingCorrectness.test.ts
  packages/dht/test/benchmark/hybrid-network-simulation/RingContactList.test.ts
  packages/node/test/unit/plugins/operator/inspectionUtils.test.ts
  packages/proto-rpc/src/protoClasses.ts
  packages/sdk/src/NetworkNodeFacade.ts
  packages/sdk/src/Stream.ts
  packages/sdk/src/protocol/GroupKeyRequest.ts
  packages/sdk/src/protocol/GroupKeyResponse.ts
  packages/sdk/src/protocol/StreamMessage.ts
  packages/sdk/test/end-to-end/resend.test.ts
  packages/sdk/test/test-utils/fake/FakeNetworkNode.ts
  packages/sdk/test/test-utils/fake/FakeStreamRegistry.ts
  packages/sdk/test/unit/OrderMessages2.test.ts
  packages/test-utils/src/index.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/logic/DuplicateMessageDetector.ts
  packages/trackerless-network/test/unit/Propagation.test.ts
  packages/utils/src/waitForEvent3.ts
  packages/utils/test/Logger.test.ts
  packages/utils/test/pTransaction.test.ts
Labels: network, test-utils, dht, utils, proto-rpc, sdk, node

#2796 New internal `node-info` command
  package-lock.json
  packages/cli-tools/bin/streamr-internal-node-info.ts
  packages/cli-tools/bin/streamr-internal.ts
  packages/cli-tools/package.json
Labels: cli-tools

#2825 feat(sdk)!: `StreamMetadata#partitions` is nullable
  CHANGELOG.md
  packages/sdk/src/Stream.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/src/utils/validateStreamMessage.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/validateStreamMessage.test.ts
  packages/sdk/test/unit/validateStreamMessage2.test.ts
  packages/utils/src/exports.ts
  packages/utils/src/partition.ts
Labels: docs, utils, sdk

#2844 test(cli-tools): `--env` flag precedence test
  CHANGELOG.md
  packages/cli-tools/test/environment.test.ts
Labels: cli-tools, docs

#2830 chore(node)!: Remove deprecated config wizard wrappers
  CHANGELOG.md
  Dockerfile.node
  docs/docs/guides/how-to-run-streamr-node.md
  package-lock.json
  packages/node/bin/config-wizard.js
  packages/node/bin/config-wizard.ts
  packages/node/package.json
Labels: docs, node

#2846 refactor: Simplify partition handling
  docs/docs/usage/streams/partitioning.md
  packages/cli-tools/bin/streamr-storage-node-list-streams.ts
  packages/cli-tools/test/stream-create.test.ts
  packages/node/test/unit/plugins/storage/StorageConfig.test.ts
  packages/node/test/unit/plugins/storage/StorageEventListener.test.ts
  packages/node/test/unit/plugins/storage/StoragePoller.test.ts
  packages/sdk/src/Stream.ts
  packages/sdk/test/unit/searchStreams.test.ts
Labels: cli-tools, sdk, node

#2847 chore: Update `tsconfig` includes
  packages/autocertifier-server/tsconfig.jest.json
  packages/cdn-location/tsconfig.jest.json
  packages/cli-tools/package.json
  packages/cli-tools/tsconfig.jest.json
  packages/cli-tools/tsconfig.json
  packages/cli-tools/tsconfig.node.json
  packages/node/tsconfig.jest.json
  packages/sdk/tsconfig.jest.json
Labels: cli-tools, sdk, node

#2810 feat(sdk)!: `Stream#addToStorageNode` wait options
  CHANGELOG.md
  packages/cli-tools/test/stream-resend.test.ts
  packages/node/test/integration/plugins/storage/StorageConfig.test.ts
  packages/node/test/integration/plugins/storage/dataMetadataEndpoint.test.ts
  packages/sdk/src/Stream.ts
  packages/sdk/test/end-to-end/resend.test.ts
  packages/sdk/test/integration/GroupKeyPersistence.test.ts
  packages/sdk/test/integration/Resends2.test.ts
  packages/sdk/test/integration/Stream.test.ts
  packages/sdk/test/integration/multiple-clients.test.ts
  packages/sdk/test/integration/revoke-permissions.test.ts
  packages/sdk/test/integration/sequential-resend-subscribe.test.ts
  packages/sdk/test/integration/waitForStorage.test.ts
Labels: cli-tools, docs, sdk, node
