Repository streamr-dev/network, pull requests merged in 2024-04, with the labels that each got.

#2463 refactor(dht): Add `DhtNodeOptions#connectionLocker`
  packages/dht/src/dht/DhtNode.ts
  packages/dht/test/utils/utils.ts
Labels: dht

#2464 feat(client) [NET-1281]: Include nodeId in metrics payload
  docs/docs/usage/streamr-js-client/configuration/metrics-publishing.md
  packages/client/src/MetricsPublisher.ts
  packages/client/test/end-to-end/Metrics.test.ts
  packages/client/test/unit/MetricsPublisher.test.ts
Labels: client

#2468 feat(client): Use node ID as partition key in metrics publishing
  CHANGELOG.md
  packages/client/src/MetricsPublisher.ts
  packages/client/test/end-to-end/Metrics.test.ts
  packages/client/test/unit/MetricsPublisher.test.ts
Labels: client, docs

#2471 docs: Changelog for v100.2.1
  CHANGELOG.md
Labels: docs

#2470 refactor(trackerless-network): Rename `RandomGraphNode`
  packages/dht/test/RandomGraphSimulation.ts
  packages/trackerless-network/README.md
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/createContentDeliveryLayerNode.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/content-delivery-layer-node-with-real-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryLayerNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryLayerNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/Propagation.test.ts
  packages/trackerless-network/test/integration/RandomGraphNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/unit/ContentDeliveryLayerNode.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network, dht

#2484 feat(cli-tools): Add `internal visualize-topology` command
  packages/cli-tools/bin/streamr-internal-visualize-topology.ts
  packages/cli-tools/bin/streamr-internal.ts
  packages/cli-tools/bin/streamr.ts
Labels: cli-tools

#2485 feat(cli-tools): `stdin` support for `internal visualize-topology`
  packages/cli-tools/bin/streamr-internal-visualize-topology.ts
Labels: cli-tools

#2480 test(dht): `DhtNode` integration test
  packages/dht/src/dht/DhtNode.ts
  packages/dht/test/integration/DhtNode.test.ts
  packages/dht/test/utils/FakeTransport.ts
Labels: dht

#2490 chore: Update GitHub actions to Node 20
  .github/workflows/reusable/cached-build/action.yml
  .github/workflows/reusable/collect-and-upload-logs/action.yml
Labels: ci

#2491 refactor(dht): Fix ring peer naming
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtNodeRpcLocal.ts
  packages/dht/src/dht/DhtNodeRpcRemote.ts
  packages/dht/test/integration/DhtNode.test.ts
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
Labels: network, dht

#2493 refactor(dht): Remove contact list event parameter
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/contact/ContactList.ts
  packages/dht/src/dht/contact/RandomContactList.ts
  packages/dht/src/dht/contact/RingContactList.ts
  packages/dht/src/dht/contact/SortedContactList.ts
  packages/dht/test/unit/SortedContactList.test.ts
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/Layer1Node.ts
  packages/trackerless-network/test/unit/ContentDeliveryLayerNode.test.ts
  packages/trackerless-network/test/utils/mock/MockLayer1Node.ts
Labels: network, dht

#2489 chore: Enable `no-lonely-if` eslint rule
  .eslintrc.js
  packages/broker/src/plugins/storage/dataQueryEndpoint.ts
  packages/dht/src/connection/ConnectionLockStates.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationSession.ts
  packages/proto-rpc/src/RpcCommunicator.ts
  packages/trackerless-network/src/NetworkStack.ts
Labels: broker, network, dht, proto-rpc

#2483 feat(client): Use StaticJsonProvider
  packages/client/src/Ethereum.ts
  packages/client/test/integration/static-json-rpc-provider.test.ts
Labels: client

#2495 feat: LoggingStaticJsonRpcProvider
  packages/client/src/Ethereum.ts
  packages/client/src/utils/LoggingStaticJsonRpcProvider.ts
Labels: client

#2496 feat(client): add configurable timeout for JSON RPC calls
  packages/client/src/Authentication.ts
  packages/client/src/Config.ts
  packages/client/src/Ethereum.ts
  packages/client/src/config.schema.json
  packages/client/src/contracts/ERC1271ContractFacade.ts
  packages/client/src/contracts/StorageNodeRegistry.ts
  packages/client/src/contracts/StreamStorageRegistry.ts
  packages/client/src/generated/validateConfig.js
Labels: client

#2498 refactor(dht): Fix closest peer naming
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtNodeRpcLocal.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/discovery/RingDiscoverySession.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationSession.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationSessionRpcLocal.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationSessionRpcRemote.ts
  packages/dht/src/dht/store/StoreRpcLocal.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/dht/src/proto/packages/dht/protos/DhtRpc.ts
  packages/dht/test/integration/DhtNode.test.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2476 feat(dht): `DiscoverySession` waits for all branches
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/test/unit/DiscoverySession.test.ts
Labels: dht

#2477 refactor(dht): Simplify `DiscoverySession`
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/test/unit/DiscoverySession.test.ts
Labels: dht

#2482 refactor(dht) [NET-128]: Do not store duplicate connection information
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/transport/ITransport.ts
  packages/dht/test/end-to-end/Layer0MixedConnectionTypes.test.ts
  packages/dht/test/integration/Layer1-scale.test.ts
  packages/dht/test/integration/ScaleDownDht.test.ts
  packages/dht/test/unit/DiscoverySession.test.ts
  packages/dht/test/unit/PeerManager.test.ts
  packages/dht/test/unit/RecursiveOperationManager.test.ts
  packages/dht/test/unit/Router.test.ts
  packages/dht/test/unit/RoutingSession.test.ts
  packages/dht/test/utils/FakeTransport.ts
  packages/dht/test/utils/mock/Transport.ts
  packages/trackerless-network/test/utils/mock/MockLayer0Node.ts
  packages/trackerless-network/test/utils/mock/Transport.ts
Labels: network, dht

#2494 refactor(network): no longer update contacts in ContentDeliveryLayerNode start()
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/test/end-to-end/content-delivery-layer-node-with-real-connections.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryLayerNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryLayerNode-Layer1Node.test.ts
Labels: network

#2487 refactor(dht): Simplify disconnection contact management
  packages/dht/src/dht/DhtNode.ts
Labels: dht

#2497 feat(client): reuse JSON RPC providers
  packages/client/src/Authentication.ts
  packages/client/src/Ethereum.ts
  packages/client/src/RpcProviderFactory.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/contracts/ERC1271ContractFacade.ts
  packages/client/src/contracts/StorageNodeRegistry.ts
  packages/client/src/contracts/StreamRegistry.ts
  packages/client/src/contracts/StreamStorageRegistry.ts
  packages/client/src/ethereumUtils.ts
  packages/client/src/utils/LoggingStaticJsonRpcProvider.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/integration/Resends.test.ts
  packages/client/test/integration/Subscriber2.test.ts
  packages/client/test/integration/gap-fill.test.ts
  packages/client/test/integration/parallel-key-exchange.test.ts
  packages/client/test/test-utils/LeaksDetector.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/Authentication.test.ts
  packages/client/test/unit/Config.test.ts
  packages/client/test/unit/Decrypt.test.ts
  packages/client/test/unit/ERC1271ContractFacade.test.ts
  packages/client/test/unit/GroupKeyManager.test.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/client/test/unit/messagePipeline.test.ts
Labels: client

#2500 ci: extra-log-prefix
  .github/workflows/test-setup.yml
  .github/workflows/validate.yml
Labels: ci

#2503 Take geoip-location server into use in Broker
  packages/broker/src/broker.ts
  packages/client/src/Config.ts
  packages/client/src/config.schema.json
  packages/client/src/generated/validateConfig.js
Labels: broker, client

#2501 feat(DHT): Ping neighbors and ring contacts in layer1
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/test/unit/PeerManager.test.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
Labels: network, dht

#2502 feat(network): Manual rejoin trigger after lost connectivity in layer1
  packages/dht/src/dht/DhtNode.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/EntryPointDiscovery.ts
  packages/trackerless-network/src/logic/Layer1Node.ts
  packages/trackerless-network/src/logic/StreamPartReconnect.ts
  packages/trackerless-network/test/unit/StreamPartReconnect.test.ts
  packages/trackerless-network/test/utils/fake/FakeEntryPointDiscovery.ts
Labels: network, dht

#2508 test(trackerless-network): Use typed `EventEmitter`
  packages/dht/src/exports.ts
  packages/trackerless-network/test/utils/mock/MockLayer0Node.ts
  packages/trackerless-network/test/utils/mock/MockLayer1Node.ts
  packages/trackerless-network/test/utils/mock/Transport.ts
Labels: network, dht

#2513 refactor(dht): Move `ManagedWebrtcConnection` class
  packages/dht/src/connection/webrtc/ManagedWebrtcConnection.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/connection/webrtc/WebrtcConnectorRpcLocal.ts
Labels: dht

#2512 fix(dht): Do not limit neighbor list in `PeerManager#onKBucketPing`
  packages/dht/src/dht/PeerManager.ts
Labels: dht

#2507 refactor(dht): Rename `PeerManager#closestContacts`
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtNodeRpcLocal.ts
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/discovery/RingDiscoverySession.ts
  packages/dht/test/unit/PeerManager.test.ts
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/Layer1Node.ts
  packages/trackerless-network/test/unit/ContentDeliveryLayerNode.test.ts
Labels: network, dht

#2511 fix(dht): Do not use nearby contacts in `PeerManager#getClosestRingContactsTo`
  packages/dht/src/dht/PeerManager.ts
Labels: dht

#2514 refactor(dht): Extract `ConnectionsView`
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ConnectionsView.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/src/exports.ts
  packages/dht/src/transport/ITransport.ts
  packages/dht/test/benchmark/Find.test.ts
  packages/dht/test/end-to-end/Layer0-Layer1.test.ts
  packages/dht/test/end-to-end/Layer0Webrtc-Layer1.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-WebSocket.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-Webrtc.test.ts
  packages/dht/test/integration/DhtNode.test.ts
  packages/dht/test/integration/Layer1-scale.test.ts
  packages/dht/test/integration/ScaleDownDht.test.ts
  packages/dht/test/unit/RecursiveOperationManager.test.ts
  packages/dht/test/utils/FakeTransport.ts
  packages/dht/test/utils/mock/MockConnectionsView.ts
  packages/dht/test/utils/mock/MockTransport.ts
  packages/dht/test/utils/utils.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/Layer0Node.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/integration/ContentDeliveryLayerNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryLayerNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryManager.test.ts
  packages/trackerless-network/test/integration/Inspect.test.ts
  packages/trackerless-network/test/integration/NetworkNode.test.ts
  packages/trackerless-network/test/integration/NodeInfoRpc.test.ts
  packages/trackerless-network/test/integration/joining-streams-on-offline-peers.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/integration/streamEntryPointReplacing.test.ts
  packages/trackerless-network/test/utils/mock/MockConnectionsView.ts
  packages/trackerless-network/test/utils/mock/MockLayer0Node.ts
  packages/trackerless-network/test/utils/mock/MockTransport.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network, dht

#2518 refactor(DHT): remove duplicate connectingConnections check
  packages/dht/src/connection/websocket/WebsocketConnector.ts
Labels: dht

#2505 ci(DHT): update node-datachannel to v0.8.0
  package-lock.json
  packages/dht/package.json
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
Labels: dht

#2525 deps(client): Remove `@ethersproject/wordlists`
  package-lock.json
  packages/client/package.json
  packages/client/tsconfig.browser.json
  packages/client/webpack.config.js
Labels: client

#2526 refactor(dht): Simplify `RingDiscoverySession`
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/discovery/RingDiscoverySession.ts
Labels: dht

#2520 ci(network): remove express dev dependency from dht, trackerless-network and proto-rpc
  package-lock.json
  packages/dht/package.json
  packages/proto-rpc/package.json
  packages/trackerless-network/package.json
Labels: network, dht, proto-rpc

#2528 refactor(trackerless-network): Explicit size for `randomNodeView`
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/contact/ContactList.ts
  packages/dht/src/dht/contact/RandomContactList.ts
  packages/dht/test/unit/RandomContactList.test.ts
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/Layer1Node.ts
Labels: network, dht

#2530 refactor(dht): Use `getClosestNodes` in `DiscoverySession`
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/contact/getClosestContacts.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/test/unit/DiscoverySession.test.ts
  packages/dht/test/unit/getClosestContacts.test.ts
  packages/dht/test/unit/getClosestNodes.test.ts
Labels: dht
