Repository streamr-dev/network, pull requests merged in 2024-12, with the labels that each got.

#2902 feat(sdk): Add `Mapping#isCacheableValue()` option
  packages/sdk/src/utils/Mapping.ts
  packages/sdk/test/unit/Mapping.test.ts
Labels: sdk

#2921 refactor(sdk): Remove obsolete `onError` index parameter
  packages/sdk/src/subscribe/MessageStream.ts
  packages/sdk/src/subscribe/MsgChainUtil.ts
  packages/sdk/src/utils/GeneratorUtils.ts
  packages/sdk/src/utils/Pipeline.ts
Labels: sdk

#2925 refactor(sdk): Improve `InternalPermissionQuery` type safety
  packages/sdk/src/Stream.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/permission.ts
  packages/sdk/test/test-utils/fake/FakeStreamRegistry.ts
Labels: sdk

#2913 test(dht): Fix `getClosestNodes` unit test
  packages/dht/test/unit/getClosestNodes.test.ts
Labels: dht

#2903 refactor(sdk): Use `Mapping` instead of `CachingMap`
  packages/sdk/src/contracts/ERC1271ContractFacade.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/StreamStorageRegistry.ts
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/src/publish/Publisher.ts
  packages/sdk/src/subscribe/ordering/OrderMessages.ts
  packages/sdk/src/utils/Mapping.ts
  packages/sdk/src/utils/utils.ts
  packages/sdk/test/end-to-end/contract-call-cache.test.ts
  packages/sdk/test/unit/Mapping.test.ts
Labels: sdk

#2904 refactor(sdk): Remove `CachingMap`
  packages/sdk/src/utils/CachingMap.ts
  packages/sdk/test/unit/CachingMap.test.ts
  packages/sdk/test/unit/CachingMap2.test.ts
Labels: sdk

#2930 refactor(sdk)!: Rename storage node event
  CHANGELOG.md
  packages/node/src/plugins/storage/StorageEventListener.ts
  packages/node/test/unit/plugins/storage/StorageConfig.test.ts
  packages/sdk/src/contracts/StreamStorageRegistry.ts
  packages/sdk/src/events.ts
  packages/sdk/test/end-to-end/StorageNodeRegistry.test.ts
Labels: docs, sdk, node

#2906 test(node): Fix config wizard storage path tests
  packages/node/test/unit/ConfigWizard.test.ts
Labels: node

#2880 build(deps): Bump `typescript` to v5.6
  package-lock.json
  package.json
  packages/dht/src/connection/ConnectionManager.ts
  packages/sdk/src/contracts/contract.ts
Labels: dht, sdk

#2924 refactor(sdk): Replace `quick-lru` with `lru-cache`
  package-lock.json
  packages/dht/package.json
  packages/sdk/.gitignore
  packages/sdk/package.json
  packages/sdk/src/utils/Mapping.ts
  packages/sdk/src/utils/utils.ts
  packages/sdk/test/unit/Mapping.test.ts
  packages/sdk/vendor-hack.sh
Labels: dht, sdk

#2936 test(node): Fix `MaintainTopologyService` test variable shadowning
  packages/node/test/integration/plugins/operator/MaintainTopologyService.test.ts
Labels: node

#2938 test(sdk): Fix ANSI color handling in `customMatchers` test
  packages/sdk/test/unit/customMatchers.test.ts
Labels: sdk

#2941 test(sdk): Custom matchers accept message substrings
  packages/sdk/test/integration/resend-with-existing-key.test.ts
  packages/sdk/test/integration/update-encryption-key.test.ts
  packages/sdk/test/test-utils/customMatchers.ts
  packages/sdk/test/unit/customMatchers.test.ts
  packages/sdk/test/unit/messagePipeline.test.ts
Labels: sdk

#2934 chore(docs): [DREL-250] Smoke test for API docs
  .github/workflows/test-docs.yml
  docs/api-docs-smoke-test.sh
Labels: ci

#2927 feat(sdk)!: Use `StreamrClientError` instead of `StreamMessagError`
  CHANGELOG.md
  packages/sdk/src/StreamrClientError.ts
  packages/sdk/src/encryption/EncryptionUtil.ts
  packages/sdk/src/encryption/decrypt.ts
  packages/sdk/src/protocol/InvalidJsonError.ts
  packages/sdk/src/protocol/StreamMessage.ts
  packages/sdk/src/protocol/StreamMessageError.ts
  packages/sdk/src/signature/SignatureValidator.ts
  packages/sdk/src/subscribe/messagePipeline.ts
  packages/sdk/src/utils/validateStreamMessage.ts
  packages/sdk/test/unit/Decrypt.test.ts
  packages/sdk/test/unit/EncryptionUtil.test.ts
  packages/sdk/test/unit/SignatureValidator.test.ts
  packages/sdk/test/unit/messagePipeline.test.ts
  packages/sdk/test/unit/validateStreamMessage2.test.ts
Labels: docs, sdk

#2939 feat(sdk)!: Export `AbstractSigner` instead of `Signer`
  packages/sdk/src/exports.ts
Labels: sdk

#2944 refactor(sdk): `NetworkNodeFacade#registerOperator()`
  packages/node/src/plugins/operator/OperatorPlugin.ts
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/sdk/src/NetworkNodeFacade.ts
  packages/sdk/src/exports.ts
Labels: sdk, node

#2951 sdk(test): [NET-1385] Use `DATAv2` instead of `TestToken`
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/src/ethereumArtifacts/DATAv2.d.ts
  packages/sdk/src/ethereumArtifacts/DATAv2Abi.json
  packages/sdk/src/ethereumArtifacts/TestToken.d.ts
  packages/sdk/src/ethereumArtifacts/TestTokenAbi.json
Labels: sdk

#2954 fix(trackerless-network): `@streamr/test-utils` as dev dependency
  package-lock.json
  packages/trackerless-network/package.json
Labels: network

#2842 refactor: remove generated protobuf files from the repo
  .github/workflows/reusable/cached-build/action.yml
  Dockerfile.node
  packages/autocertifier-client/.gitignore
  packages/autocertifier-client/generated/packages/autocertifier-client/protos/AutoCertifier.client.ts
  packages/autocertifier-client/generated/packages/autocertifier-client/protos/AutoCertifier.server.ts
  packages/autocertifier-client/generated/packages/autocertifier-client/protos/AutoCertifier.ts
  packages/autocertifier-client/package.json
  packages/dht/.gitignore
  packages/dht/generated/google/protobuf/any.ts
  packages/dht/generated/google/protobuf/empty.ts
  packages/dht/generated/google/protobuf/timestamp.ts
  packages/dht/generated/packages/dht/protos/DhtRpc.client.ts
  packages/dht/generated/packages/dht/protos/DhtRpc.server.ts
  packages/dht/generated/packages/proto-rpc/protos/ProtoRpc.ts
  packages/dht/package.json
  packages/proto-rpc/.gitignore
  packages/proto-rpc/generated/ProtoRpc.ts
  packages/proto-rpc/generated/google/protobuf/any.ts
  packages/proto-rpc/generated/google/protobuf/empty.ts
  packages/proto-rpc/package.json
  packages/proto-rpc/proto.sh
  packages/proto-rpc/test-proto.sh
  packages/proto-rpc/test/proto/HelloRpc.client.ts
  packages/proto-rpc/test/proto/HelloRpc.server.ts
  packages/proto-rpc/test/proto/HelloRpc.ts
  packages/proto-rpc/test/proto/TestProtos.client.ts
  packages/proto-rpc/test/proto/TestProtos.server.ts
  packages/proto-rpc/test/proto/TestProtos.ts
  packages/proto-rpc/test/proto/WakeUpRpc.client.ts
  packages/proto-rpc/test/proto/WakeUpRpc.server.ts
  packages/proto-rpc/test/proto/WakeUpRpc.ts
  packages/proto-rpc/test/proto/google/protobuf/empty.ts
  packages/sdk/.gitignore
  packages/sdk/package.json
  packages/sdk/src/generated/google/protobuf/any.ts
  packages/sdk/src/generated/google/protobuf/empty.ts
  packages/sdk/src/generated/google/protobuf/timestamp.ts
  packages/sdk/src/generated/packages/dht/protos/DhtRpc.client.ts
  packages/sdk/src/generated/packages/dht/protos/DhtRpc.server.ts
  packages/sdk/src/generated/packages/dht/protos/DhtRpc.ts
  packages/sdk/src/generated/packages/proto-rpc/protos/ProtoRpc.ts
  packages/sdk/src/generated/packages/sdk/protos/SdkRpc.client.ts
  packages/sdk/src/generated/packages/sdk/protos/SdkRpc.server.ts
  packages/sdk/src/generated/packages/sdk/protos/SdkRpc.ts
  packages/trackerless-network/.gitignore
  packages/trackerless-network/generated/google/protobuf/any.ts
  packages/trackerless-network/generated/google/protobuf/empty.ts
  packages/trackerless-network/generated/google/protobuf/timestamp.ts
  packages/trackerless-network/generated/packages/proto-rpc/protos/ProtoRpc.ts
  packages/trackerless-network/generated/packages/trackerless-network/protos/NetworkRpc.client.ts
  packages/trackerless-network/generated/packages/trackerless-network/protos/NetworkRpc.server.ts
  packages/trackerless-network/generated/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/package.json
Labels: ci, network, dht, proto-rpc, sdk

#2943 deps: Swap `node-fetch` library with a having-it-all native `fetch`
  package-lock.json
  packages/node/package.json
  packages/node/src/config/ConfigWizard.ts
  packages/node/src/helpers/fetchOrThrow.ts
  packages/node/test/integration/multiple-publisher-plugins.test.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/unit/ConfigWizard.test.ts
  packages/node/test/unit/httpServer.test.ts
  packages/sdk/package.json
  packages/sdk/src/shim/http-https.ts
  packages/sdk/src/shim/node-fetch.ts
  packages/sdk/src/utils/WebStreamToNodeStream.ts
  packages/sdk/src/utils/utils.ts
  packages/sdk/test/benchmarks/publish.js
  packages/sdk/test/benchmarks/raw-pipeline.js
  packages/sdk/test/benchmarks/resend.js
  packages/sdk/test/benchmarks/subscribe.js
  packages/sdk/test/end-to-end/Operator.test.ts
  packages/sdk/test/test-utils/ProxyHttpServer.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/Resends.test.ts
  packages/sdk/test/unit/utils.test.ts
  packages/sdk/tsconfig.browser.json
  packages/sdk/webpack.config.js
  packages/test-utils/package.json
  packages/test-utils/src/index.ts
  packages/utils/package.json
  packages/utils/src/TheGraphClient.ts
  packages/utils/src/composeAbortSignals.ts
  packages/utils/src/exports.ts
  packages/utils/src/until.ts
  packages/utils/test/composeAbortSignals.test.ts
Labels: test-utils, utils, sdk, node

#2952 refactor(sdk): [NET-1388] Use `bigint` for Wei amounts in `operatorContractUtils`
  packages/node/src/helpers/multiply.ts
  packages/node/src/plugins/operator/OperatorPlugin.ts
  packages/node/src/plugins/operator/checkOperatorValueBreach.ts
  packages/node/src/plugins/operator/maintainOperatorValue.ts
  packages/node/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/node/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/node/test/integration/plugins/operator/maintainOperatorValue.test.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
  packages/sdk/src/contracts/Operator.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/test/end-to-end/Operator.test.ts
  packages/utils/src/WeiAmount.ts
  packages/utils/src/exports.ts
Labels: utils, sdk, node

#2946 feat(cli-tools): add binary support to mock data generation
  CHANGELOG.md
  packages/cli-tools/bin/streamr-mock-data-generate.ts
  packages/cli-tools/bin/streamr-mock-data.ts
  packages/cli-tools/test/mock-data.test.ts
Labels: cli-tools, docs

#2948 feat(cli-tool): add binary support to subscribe
  CHANGELOG.md
  packages/cli-tools/bin/streamr-stream-subscribe.ts
Labels: cli-tools, docs

#2947 feat(cli-tool): add binary support to publish
  CHANGELOG.md
  packages/cli-tools/bin/streamr-stream-publish.ts
Labels: cli-tools, docs
