Repository streamr-dev/network, pull requests merged in 2024-07, with the labels that each got.

#2613 refactor(client): Change `StreamrClient#getNode` return type
  packages/broker/src/plugins/consoleMetrics/ConsoleMetricsPlugin.ts
  packages/broker/src/plugins/storage/StoragePlugin.ts
  packages/broker/test/integration/plugins/subscriber/SubscriberPlugin.test.ts
  packages/client/src/MetricsPublisher.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/exports.ts
  packages/client/src/publish/Publisher.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/test/end-to-end/start-node.test.ts
  packages/client/test/integration/GroupKeyPersistence.test.ts
  packages/client/test/integration/NetworkNodeFacade.test.ts
  packages/client/test/integration/PublisherKeyExchange.test.ts
  packages/client/test/integration/Subscriber.test.ts
  packages/client/test/integration/SubscriberKeyExchange.test.ts
  packages/client/test/integration/gap-fill.test.ts
  packages/client/test/integration/invalid-messages.test.ts
  packages/client/test/integration/parallel-key-exchange.test.ts
  packages/client/test/test-utils/fake/FakeChain.ts
  packages/client/test/test-utils/fake/FakeERC1271ContractFacade.ts
  packages/client/test/test-utils/fake/FakeEnvironment.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
  packages/client/test/test-utils/fake/FakeStorageNodeRegistry.ts
  packages/client/test/test-utils/fake/FakeStreamRegistry.ts
  packages/client/test/test-utils/fake/FakeStreamStorageRegistry.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/MetricsPublisher.test.ts
  packages/client/test/unit/Resends.test.ts
  packages/client/test/unit/SubscriptionSession.test.ts
  packages/client/test/unit/validateStreamMessage2.test.ts
Labels: broker, client

#2614 refactor(trackerless-network, client): Move protocol translator
  packages/broker/src/plugins/storage/DataQueryFormat.ts
  packages/broker/src/plugins/storage/Storage.ts
  packages/broker/src/plugins/storage/StoragePlugin.ts
  packages/broker/test/integration/plugins/storage/Storage.test.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/integration/plugins/storage/cassanda-queries.test.ts
  packages/broker/test/unit/plugins/storage/dataQueryEndpoint.test.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/exports.ts
  packages/client/src/protocol/GroupKeyRequestTranslator.ts
  packages/client/src/protocol/GroupKeyResponseTranslator.ts
  packages/client/src/protocol/StreamMessageTranslator.ts
  packages/client/src/protocol/oldStreamMessageBinaryUtils.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/src/utils/validateStreamMessage.ts
  packages/client/test/end-to-end/publish-subscribe.test.ts
  packages/client/test/integration/PublisherKeyExchange.test.ts
  packages/client/test/integration/Subscriber2.test.ts
  packages/client/test/integration/SubscriberKeyExchange.test.ts
  packages/client/test/integration/resend-and-subscribe.test.ts
  packages/client/test/integration/unsubscribe.test.ts
  packages/client/test/test-utils/fake/FakeNetwork.ts
  packages/client/test/test-utils/fake/FakeNetworkNode.ts
  packages/client/test/test-utils/fake/FakeStorageNode.ts
  packages/client/test/unit/GroupKeyResponseTranslator.test.ts
  packages/client/test/unit/Resends.test.ts
  packages/client/test/unit/StreamMessageTranslator.test.ts
  packages/client/test/unit/oldStreamMessageBinaryUtils.test.ts
  packages/client/test/unit/validateStreamMessage2.test.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/exports.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/inspect.test.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/integration/NetworkNode.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/unit/NetworkNode.test.ts
Labels: broker, network, client

#2612 fix(sdk) [NET-1318]: Avoid reference to @streamr/test-utils from src code
  packages/client/src/contracts/operatorContractUtils.ts
Labels: client

#2618 refactor(protocol): Remove `protocol` package
  .github/labeler.yml
  .github/workflows/validate.yml
  .idea/runConfigurations/protocol__all_.xml
  README.md
  package-lock.json
  package.json
  packages/client/package.json
  packages/protocol/.eslintignore
  packages/protocol/.eslintrc.js
  packages/protocol/.gitignore
  packages/protocol/.idea/codeStyles/Project.xml
  packages/protocol/.idea/codeStyles/codeStyleConfig.xml
  packages/protocol/.idea/inspectionProfiles/Project_Default.xml
  packages/protocol/.idea/misc.xml
  packages/protocol/.idea/modules.xml
  packages/protocol/.idea/streamr-client-protocol-js.iml
  packages/protocol/.idea/vcs.xml
  packages/protocol/.npmignore
  packages/protocol/LICENSE
  packages/protocol/README.md
  packages/protocol/jest.config.js
  packages/protocol/package.json
  packages/protocol/src/exports.ts
  packages/protocol/tsconfig.jest.json
  packages/protocol/tsconfig.json
  packages/protocol/tsconfig.node.json
  release.sh
  update-versions.sh
Labels: ci, client, protocol, docs

#2616 chore: add eslint rules on importing dependencies
  .eslintrc.js
  package-lock.json
  package.json
  packages/autocertifier-client/src/AutoCertifierClient.ts
  packages/autocertifier-client/src/RestClient.ts
  packages/autocertifier-server/package.json
  packages/autocertifier-server/src/CertificateCreator.ts
  packages/autocertifier-server/src/Database.ts
  packages/autocertifier-server/src/RestInterface.ts
  packages/autocertifier-server/src/RestServer.ts
  packages/autocertifier-server/test/integration/RestServer-real-http-client.test.ts
  packages/autocertifier-server/test/unit/DnsServer.test.ts
  packages/broker/package.json
  packages/broker/src/plugins/mqtt/MqttServer.ts
  packages/broker/src/plugins/storage/BatchManager.ts
  packages/broker/src/plugins/storage/BucketManager.ts
  packages/broker/test/integration/multiple-publisher-plugins.test.ts
  packages/broker/test/integration/plugins/mqtt/MqttPlugin.test.ts
  packages/broker/test/integration/plugins/storage/StorageConfig.test.ts
  packages/broker/test/integration/plugins/storage/storage-lots-of-data.test.ts
  packages/broker/test/unit/plugins/websocket/WebsocketServer.test.ts
  packages/browser-test-runner/.eslintrc
  packages/browser-test-runner/preload.js
  packages/cdn-location/package.json
  packages/client/bin/generate-config-validator.js
  packages/client/package.json
  packages/client/src/Authentication.ts
  packages/client/src/Stream.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/contracts/Operator.ts
  packages/client/src/contracts/operatorContractUtils.ts
  packages/client/src/utils/LoggingJsonRpcProvider.ts
  packages/client/test/end-to-end/MemoryLeaks.test.ts
  packages/client/test/integration/Resends2.test.ts
  packages/client/test/integration/revoke-permissions.test.ts
  packages/client/test/test-utils/deployTestERC1271Contract.ts
  packages/client/test/test-utils/fake/FakeERC1271ContractFacade.ts
  packages/client/test/test-utils/publish.ts
  packages/dht/package.json
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
  packages/dht/src/connection/websocket/WebsocketClientConnectorRpcLocal.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/ExternalApiRpcLocal.ts
  packages/dht/src/types/textencoding.d.ts
  packages/dht/test/integration/StoreAndDelete.test.ts
  packages/dht/test/integration/WebsocketClientConnectorRpc.test.ts
  packages/geoip-location/package.json
  packages/proto-rpc/examples/errors/errors.ts
  packages/proto-rpc/examples/hello/hello.ts
  packages/proto-rpc/examples/routed-hello/routedhello.ts
  packages/proto-rpc/examples/wakeup/wakeup.ts
  packages/proto-rpc/src/RpcCommunicator.ts
  packages/proto-rpc/src/types/textencoding.d.ts
  packages/proto-rpc/test/utils.ts
  packages/test-utils/package.json
  packages/trackerless-network/src/logic/createContentDeliveryLayerNode.ts
  packages/trackerless-network/test/unit/StreamPartNetworkSplitAvoidance.test.ts
  packages/trackerless-network/test/utils/mock/MockTransport.ts
Labels: broker, network, client, protocol, test-utils, dht, proto-rpc

#2619 chore(client) [NET-1322]: add extra `fromBlock` updating to `ChainEventPoller`
  packages/client/src/contracts/ChainEventPoller.ts
Labels: client

#2624 chore: remove broker git tag releasing
  .github/workflows/docker-build.yml
  release-git-tags.sh
Labels: ci

#2625 chore: rename broker to node in CI scripts where possible
  .github/workflows/reusable/collect-and-upload-logs/action.yml
  .github/workflows/reusable/run-brokers/action.yml
  .github/workflows/reusable/run-nodes/action.yml
  .github/workflows/test-setup.yml
  .github/workflows/validate.yml
  bin/run-nodes.sh
Labels: ci

#2657 deps(cli-tools): remove unused pkg @snapshot-labs/snapshot.js
  package-lock.json
  packages/cli-tools/package.json
Labels: cli-tools

#2674 deps: bump `electron` to `^31.1.0`
  package-lock.json
  packages/browser-test-runner/package.json
  packages/utils/test/composeAbortSignals.test.ts
Labels: utils

#2676 deps(dht): bump node-datachannel to 0.10.1
  package-lock.json
  packages/dht/package.json
Labels: dht

#2677 deps: bump @streamr/network-contracts-ethers6 to 7.1.2 and move to devDependencies
  package-lock.json
  packages/node/package.json
Labels: node

#2681 chore: remove unused dependencies
  package-lock.json
  packages/dht/package.json
  packages/node/package.json
  packages/proto-rpc/package.json
  packages/sdk/package.json
  packages/trackerless-network/package.json
  packages/utils/package.json
Labels: network, dht, utils, proto-rpc, sdk, node

#2693 NET-1252 (network): Fix nodes running multiple keep intervals in PeerDescriptorStoreManager
  packages/trackerless-network/src/logic/StreamPartReconnect.ts
Labels: network

#2682 fix(trackerless-network) [NET-1119]: account for propagation expiration ttl properly
  packages/trackerless-network/src/logic/propagation/FifoMapWithTTL.ts
  packages/trackerless-network/src/logic/propagation/PropagationTaskStore.ts
  packages/trackerless-network/test/unit/FifoMapWithTtl.test.ts
Labels: network

#2695 NET-1322: add simple test for explicit polling
  packages/sdk/src/contracts/ChainEventPoller.ts
  packages/sdk/test/unit/ChainEventPoller.test.ts
Labels: sdk

#2694 NET-1252(network): register external local server methods
  packages/proto-rpc/src/exports.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/logic/ExternalNetworkRpc.ts
  packages/trackerless-network/test/end-to-end/external-network-rpc.test.ts
  packages/trackerless-network/test/unit/ExternalNetworkRpc.test.ts
Labels: network, proto-rpc
