Repository streamr-dev/network, pull requests merged in 2024-03, with the labels that each got.

#2409 Rc docs
  docs/docs/guides/become-an-operator.md
  docs/docs/guides/how-to-run-streamr-node.md
  docs/docs/guides/how-to-stake-and-earn.md
  docs/docs/guides/how-to-update-your-streamr-node.md
  docs/docs/guides/nodejs.md
  docs/docs/guides/use-any-language-or-device.md
  docs/docs/guides/web-app-frameworks.md
  docs/docs/help/debugging-tools.md
  docs/docs/help/how-to-contribute.md
  docs/docs/help/how-to-get-support.md
  docs/docs/help/operator-faq.md
  docs/docs/help/project-contracts.md
  docs/docs/help/project-faq.md
  docs/docs/help/pub-sub.md
  docs/docs/help/useful-links.md
  docs/docs/streamr-network/brubeck-network/run-a-node.md
  docs/docs/streamr-network/incentives/network-incentives.md
  docs/docs/streamr-network/incentives/network-penalties.md
  docs/docs/streamr-network/incentives/node-inspection.md
  docs/docs/streamr-network/incentives/stream-sponsorships.md
  docs/docs/streamr-network/network-roles/delegators.md
  docs/docs/streamr-network/network-roles/operators.md
  docs/docs/streamr-network/security/end-to-end-encryption.md
  docs/docs/streamr-testnets/_category_.json
  docs/docs/streamr-testnets/testnet-faq.md
  docs/docs/streamr-testnets/testnets.md
  docs/docs/usage/cli-tool.md
  docs/docs/usage/connect-apps-and-iot/streamr-node-interface.md
  docs/docs/usage/streamr-js-client/configuration/metrics-publishing.md
  docs/docs/usage/streamr-js-client/how-to-use.md
  docs/docs/usage/streams/permissions.md
  docs/docs/usage/streams/publishing.md
  docs/docs/usage/streams/store-and-retrieve.md
  docs/docs/usage/streams/subscribing.md
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/plugins/refine-docs/index.js
  docs/src/css/custom.css
  docs/static/assets/default.json
  docs/static/assets/mumbai-default.json
  docs/static/img/mumbai-to-testnet.jpg
  docs/static/img/node-addresses.png
  docs/static/img/operator-address.png
  docs/static/img/operator-status-green.png
  docs/static/img/stream-sponsorship.png
  docs/static/img/testnets.jpg
  docs/static/robots.txt
  packages/broker/src/config/ConfigWizard.ts
Labels: broker

#2412 fix(trackerless-network): fix connection locking in streams
  packages/trackerless-network/src/logic/NodeList.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
Labels: network

#2414 fix(dht): Provide all parameters to `NodeWebrtcConnection`
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/connection/webrtc/WebrtcConnectorRpcLocal.ts
Labels: dht

#2418 feat(ci) [NET-1274]: Automate `latest` tag for Docker image release
  .github/workflows/docker-build.yml
  .github/workflows/release-docker.yml
Labels: ci

#2424 chore(broker): Update config file version numbers
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/development-prod-resend.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
Labels: broker

#2425 feat(client): Config option to disable WebSocket server
  packages/client/src/Config.ts
  packages/client/src/NetworkNodeFacade.ts
  packages/client/src/config.schema.json
  packages/client/src/generated/validateConfig.js
  packages/client/test/end-to-end/start-node.test.ts
Labels: client

#2140 refactor(trackerless-network): Rename `StreamrNode`
  docs/docs/guides/how-to-run-streamr-node.md
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/exports.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/inspect.test.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryManager.test.ts
  packages/trackerless-network/test/integration/Inspect.test.ts
  packages/trackerless-network/test/integration/NetworkStack.test.ts
  packages/trackerless-network/test/integration/NodeInfoRpc.test.ts
  packages/trackerless-network/test/integration/StreamrNode.test.ts
  packages/trackerless-network/test/integration/joining-streams-on-offline-peers.test.ts
  packages/trackerless-network/test/integration/streamEntryPointReplacing.test.ts
  packages/trackerless-network/test/unit/ContentDeliveryManager.test.ts
  packages/trackerless-network/test/unit/NetworkNode.test.ts
  packages/trackerless-network/test/unit/StreamrNode.test.ts
Labels: network, requires-discussion

#2437 refactor(dht): Simplify `PeerManager#addContact`
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/discovery/RingDiscoverySession.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RouterRpcLocal.ts
  packages/dht/test/unit/PeerManager.test.ts
  packages/dht/test/unit/Router.test.ts
Labels: dht

#2438 test(dht): `waitForStableTopology` utility
  packages/dht/test/integration/Find.test.ts
  packages/dht/test/integration/ReplicateData.test.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/StoreAndDelete.test.ts
  packages/dht/test/utils/utils.ts
Labels: dht

#2439 refactor(dht): Rename `ManagedConnection#lastUsed`
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
Labels: dht

#2440 refactor(dht): Use `ConnectionLocker` instead of `ConnectionManager`
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network, dht

#2430 refactor(trackerless-network): Rename `DeliveryRpc`
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/ContentDeliveryRpcLocal.ts
  packages/trackerless-network/src/logic/ContentDeliveryRpcRemote.ts
  packages/trackerless-network/src/logic/NodeList.ts
  packages/trackerless-network/src/logic/RandomGraphNode.ts
  packages/trackerless-network/src/logic/createRandomGraphNode.ts
  packages/trackerless-network/src/logic/formStreamPartDeliveryServiceId.ts
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakeRpcLocal.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateRpcLocal.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
  packages/trackerless-network/src/logic/proxy/ProxyConnectionRpcLocal.ts
  packages/trackerless-network/src/logic/temporary-connection/TemporaryConnectionRpcLocal.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/src/proto/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.client.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.server.ts
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
  packages/trackerless-network/test/integration/ContentDeliveryRpcRemote.test.ts
  packages/trackerless-network/test/integration/NetworkRpc.test.ts
  packages/trackerless-network/test/integration/NodeInfoRpc.test.ts
  packages/trackerless-network/test/unit/ContentDeliveryRpcLocal.test.ts
  packages/trackerless-network/test/unit/HandshakeRpcLocal.test.ts
  packages/trackerless-network/test/unit/Handshaker.test.ts
  packages/trackerless-network/test/unit/NeighborFinder.test.ts
  packages/trackerless-network/test/unit/NeighborUpdateRpcLocal.test.ts
  packages/trackerless-network/test/unit/NodeList.test.ts
  packages/trackerless-network/test/unit/RandomGraphNode.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

#2441 refactor(dht): Rename `ConnectionLockHandler`
  packages/dht/src/connection/ConnectionLockRpcLocal.ts
  packages/dht/src/connection/ConnectionLockRpcRemote.ts
  packages/dht/src/connection/ConnectionLockStates.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/exports.ts
Labels: dht

#2442 feat(dht): Optimize `PeerManager#getClosestContactsTo` and `PeerManager#getClosestNeighborsTo`
  packages/dht/src/dht/PeerManager.ts
  packages/dht/test/unit/PeerManager.test.ts
Labels: dht

#2446 feat(dht): Optimize `PeerManager#getContactCount`
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/contact/SortedContactList.ts
  packages/dht/test/unit/PeerManager.test.ts
Labels: dht

#2443 refactor(dht): Remove unnecessary `SortedContactList` checks
  packages/dht/src/dht/contact/SortedContactList.ts
Labels: dht

#2449 test: add unit tests for CacheAsyncFn behavior
  packages/client/test/unit/CacheAsyncFn.test.ts
Labels: client

#2427 fix(DHT), react to disconnected, failed and closed events in browser webrtc
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
Labels: dht

#2447 refactor(dht): Remove `ContactState#contacted`
  packages/dht/src/dht/contact/ContactList.ts
  packages/dht/src/dht/contact/SortedContactList.ts
  packages/dht/test/unit/SortedContactList.test.ts
Labels: dht

#2455 refactor(dht): Use `SortedContactList#getClosestContacts`
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/contact/SortedContactList.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationSession.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/dht/routing/RoutingTablesCache.ts
  packages/dht/src/dht/store/StoreManager.ts
  packages/dht/test/unit/SortedContactList.test.ts
Labels: dht

#2456 refactor(dht): Manage active states in `PeerManager`
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/contact/ContactList.ts
  packages/dht/src/dht/contact/SortedContactList.ts
  packages/dht/test/unit/PeerManager.test.ts
  packages/dht/test/unit/SortedContactList.test.ts
Labels: dht

#2457 Remove `SortedContactList#emitEvents` config option
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/contact/RingContactList.ts
  packages/dht/src/dht/contact/SortedContactList.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationSession.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/dht/store/StoreManager.ts
  packages/dht/test/benchmark/SortedContactListBenchmark.test.ts
  packages/dht/test/benchmark/hybrid-network-simulation/RingContactList.test.ts
  packages/dht/test/integration/ReplicateData.test.ts
  packages/dht/test/unit/PeerManager.test.ts
  packages/dht/test/unit/SortedContactList.test.ts
Labels: dht

#2458 refactor(dht): Rename `PeerManager` fields
  packages/dht/src/dht/PeerManager.ts
Labels: dht

#2420 fix(DHT): fix browser webrtc logging
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
Labels: dht

#2454 feat(sdk): subscribe on behalf of an ERC-1271 contract
  CHANGELOG.md
  packages/client/src/Stream.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/subscribe/Subscriber.ts
  packages/client/src/subscribe/Subscription.ts
  packages/client/src/subscribe/SubscriptionSession.ts
  packages/client/test/end-to-end/erc1271-publish-subscribe.test.ts
  packages/client/test/integration/SubscriberKeyExchange.test.ts
  packages/client/test/unit/SubscriptionSession.test.ts
  packages/client/test/unit/resendSubscription.test.ts
Labels: client, docs

#2459 refactor(dht): Remove `ContactState` wrapper
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/contact/ContactList.ts
  packages/dht/src/dht/contact/RandomContactList.ts
  packages/dht/src/dht/contact/SortedContactList.ts
Labels: dht

#2461 fix(network): Change NetworkStack#start info logs
  packages/trackerless-network/src/NetworkStack.ts
Labels: network

#2460 feat(dht): Optimize `SortedContactList` iteration
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/contact/SortedContactList.ts
  packages/dht/test/integration/ReplicateData.test.ts
  packages/dht/test/unit/SortedContactList.test.ts
Labels: dht

#2462 fix(dht): Node 18 compatibility in `SortedContactList#getFurthestContacts`
  packages/dht/src/dht/contact/SortedContactList.ts
Labels: dht
