Repository streamr-dev/network, pull requests merged in 2024-09, with the labels that each got.

#2734 fix(sdk): Fix `Operator#voteOnFlag` gas estimation
  CHANGELOG.md
  packages/sdk/src/contracts/contract.ts
  packages/sdk/test/end-to-end/Operator.test.ts
Labels: docs, sdk

#2739 fix(sdk): Flag expiration timestamp
  CHANGELOG.md
  packages/node/src/plugins/operator/config.schema.json
  packages/sdk/src/contracts/Operator.ts
Labels: docs, sdk, node

#2736 fix (DHT): NET-1347 fix hanging sends to connecting connections with `connect: false`
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/store/StoreManager.ts
  packages/dht/src/dht/store/StoreRpcRemote.ts
  packages/dht/test/unit/StoreManager.test.ts
Labels: dht

#2742 test(node): `OperatorPlugin` inspection config options
  packages/node/src/plugins/operator/OperatorPlugin.ts
  packages/node/src/plugins/operator/config.schema.json
  packages/node/src/plugins/operator/inspectOverTime.ts
  packages/node/src/plugins/operator/inspectRandomNode.ts
  packages/node/src/plugins/operator/reviewSuspectNode.ts
Labels: node

#2753 feat(node): Do not run `checkOperatorValueBreach` immediately
  packages/node/src/plugins/operator/OperatorPlugin.ts
Labels: node

#2746 fix(DHT): NET-1354 fix webrtc connections in firefox
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
Labels: dht

#2745 test(node): Inspection smoke test
  packages/node/test/smoke/inspect.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/src/exports.ts
  packages/sdk/test/end-to-end/Operator.test.ts
Labels: sdk, node

#2754 test(node): Profit smoke test
  packages/node/test/smoke/profit.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/src/exports.ts
Labels: sdk, node

#2757 feat(sdk): Remove support for legacy encryption keys
  CHANGELOG.md
  packages/sdk/src/encryption/LocalGroupKeyStore.ts
  packages/sdk/test/unit/LocalGroupKeyStore.test.ts
Labels: docs, sdk

#2737 refactor(proto-rpc): NET-1335 Remove unused eventemitter from RpcCommunicator
  packages/dht/test/integration/DhtNodeRpcRemote.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/integration/RouterRpcRemote.test.ts
  packages/dht/test/integration/StoreRpcRemote.test.ts
  packages/dht/test/integration/WebrtcConnectorRpc.test.ts
  packages/dht/test/integration/WebsocketClientConnectorRpc.test.ts
  packages/proto-rpc/src/RpcCommunicator.ts
  packages/proto-rpc/test/integration/ClientRpcTransport.test.ts
  packages/proto-rpc/test/integration/toProtoRpcClient.test.ts
  packages/proto-rpc/test/unit/RpcCommunicator.test.ts
  packages/trackerless-network/test/integration/NetworkRpc.test.ts
Labels: network, dht, proto-rpc

#2758 test-utils: `toEqualBinary` custom matcher
  package-lock.json
  packages/browser-test-runner/package.json
  packages/dht/package.json
  packages/sdk/jest.config.js
  packages/sdk/karma-setup.js
  packages/sdk/package.json
  packages/sdk/test/types/global.d.ts
  packages/sdk/test/unit/EncryptionUtil.test.ts
  packages/sdk/test/unit/StreamMessage.test.ts
  packages/sdk/test/unit/StreamMessageTranslator.test.ts
  packages/test-utils/customMatcherTypes.d.ts
  packages/test-utils/jest.config.js
  packages/test-utils/package.json
  packages/test-utils/setupCustomMatchers.js
  packages/test-utils/src/customMatcherTypes.ts
  packages/test-utils/src/customMatchers.ts
  packages/test-utils/src/index.ts
  packages/test-utils/src/setupCustomMatchers.ts
  packages/test-utils/test/customMatchers.test.ts
Labels: test-utils, dht, sdk

#2762 test: Move `global.d.ts` files
  packages/browser-test-runner/webpack.config.js
  packages/dht/test/types/global.d.ts
  packages/node/test/types/global.d.ts
  packages/utils/test/types/global.d.ts
Labels: dht, utils, node

#2763 refactor: `UserID` annotation
  packages/node/test/integration/plugins/storage/Storage.test.ts
  packages/sdk/src/Authentication.ts
  packages/sdk/src/Message.ts
  packages/sdk/src/NetworkNodeFacade.ts
  packages/sdk/src/PersistenceManager.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/ERC1271ContractFacade.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/searchStreams.ts
  packages/sdk/src/encryption/GroupKeyManager.ts
  packages/sdk/src/encryption/LocalGroupKeyStore.ts
  packages/sdk/src/encryption/PublisherKeyExchange.ts
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
  packages/sdk/src/permission.ts
  packages/sdk/src/protocol/GroupKeyRequest.ts
  packages/sdk/src/protocol/GroupKeyResponse.ts
  packages/sdk/src/protocol/MessageID.ts
  packages/sdk/src/protocol/StreamMessage.ts
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/src/subscribe/ordering/OrderMessages.ts
  packages/sdk/src/subscribe/ordering/OrderedMessageChain.ts
  packages/sdk/src/utils/persistence/BrowserPersistence.ts
  packages/sdk/src/utils/persistence/PersistenceContext.ts
  packages/sdk/src/utils/persistence/ServerPersistence.ts
  packages/sdk/src/utils/validateStreamMessage.ts
  packages/sdk/test/integration/PublisherKeyExchange.test.ts
  packages/sdk/test/integration/SubscriberKeyExchange.test.ts
  packages/sdk/test/test-utils/fake/FakeChain.ts
  packages/sdk/test/test-utils/fake/FakeNetworkNode.ts
  packages/sdk/test/test-utils/fake/FakeStreamRegistry.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/GroupKeyResponseTranslator.test.ts
  packages/sdk/test/unit/LocalGroupKeyStore.test.ts
  packages/sdk/test/unit/OrderMessages2.test.ts
  packages/sdk/test/unit/ServerPersistence.test.ts
  packages/sdk/test/unit/StreamMessageTranslator.test.ts
  packages/sdk/test/unit/validateStreamMessage.test.ts
  packages/sdk/test/unit/validateStreamMessage2.test.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
  packages/trackerless-network/src/logic/proxy/ProxyConnectionRpcLocal.ts
  packages/trackerless-network/src/logic/proxy/ProxyConnectionRpcRemote.ts
  packages/trackerless-network/test/utils/utils.ts
  packages/utils/src/UserID.ts
  packages/utils/src/exports.ts
Labels: network, utils, sdk, node

#2764 test: use random user id
  packages/cli-tools/test/stream-permission.test.ts
  packages/node/test/integration/plugins/storage/BatchManager.test.ts
  packages/sdk/test/end-to-end/Permissions.test.ts
  packages/sdk/test/end-to-end/StreamRegistry.test.ts
  packages/sdk/test/end-to-end/searchStreams.test.ts
  packages/sdk/test/integration/json-rpc-provider.test.ts
  packages/sdk/test/integration/waitForStorage.test.ts
  packages/sdk/test/unit/GapFiller.test.ts
  packages/sdk/test/unit/GroupKeyManager.test.ts
  packages/sdk/test/unit/LocalGroupKeyStore.test.ts
  packages/sdk/test/unit/MessageStream.test.ts
  packages/sdk/test/unit/OrderMessages.test.ts
  packages/sdk/test/unit/OrderedMessageChain.test.ts
  packages/sdk/test/unit/PushPipeline.test.ts
  packages/sdk/test/unit/Resends.test.ts
  packages/sdk/test/unit/ServerPersistence.test.ts
  packages/test-utils/src/index.ts
  packages/trackerless-network/test/end-to-end/content-delivery-layer-node-with-real-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/end-to-end/proxy-connections.test.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryManager.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryRpcRemote.test.ts
  packages/trackerless-network/test/integration/Inspect.test.ts
  packages/trackerless-network/test/integration/NetworkRpc.test.ts
  packages/trackerless-network/test/integration/NetworkStack.test.ts
  packages/trackerless-network/test/integration/Propagation.test.ts
  packages/trackerless-network/test/integration/joining-streams-on-offline-peers.test.ts
  packages/trackerless-network/test/integration/streamEntryPointReplacing.test.ts
  packages/trackerless-network/test/unit/ContentDeliveryManager.test.ts
  packages/trackerless-network/test/unit/ContentDeliveryRpcLocal.test.ts
  packages/trackerless-network/test/unit/NetworkNode.test.ts
  packages/trackerless-network/test/unit/Propagation.test.ts
  packages/trackerless-network/test/unit/ProxyConnectionRpcRemote.test.ts
Labels: network, test-utils, cli-tools, sdk, node

#2766 build: `noEmit` in `tsconfig.jest.json` files
  packages/autocertifier-client/package.json
  packages/autocertifier-client/tsconfig.jest.json
  packages/autocertifier-server/package.json
  packages/autocertifier-server/tsconfig.jest.json
  packages/cdn-location/package.json
  packages/cdn-location/tsconfig.jest.json
  packages/cli-tools/package.json
  packages/cli-tools/tsconfig.jest.json
  packages/dht/package.json
  packages/dht/tsconfig.jest.json
  packages/geoip-location/package.json
  packages/geoip-location/tsconfig.jest.json
  packages/node/package.json
  packages/node/tsconfig.jest.json
  packages/proto-rpc/package.json
  packages/proto-rpc/tsconfig.jest.json
  packages/sdk/package.json
  packages/sdk/tsconfig.jest.json
  packages/test-utils/package.json
  packages/test-utils/tsconfig.jest.json
  packages/trackerless-network/package.json
  packages/trackerless-network/tsconfig.jest.json
  packages/utils/package.json
  packages/utils/tsconfig.jest.json
  tsconfig.jest.json
Labels: network, test-utils, cli-tools, dht, utils, proto-rpc, sdk, node

#2740 feat(DHT): NET-1334 Diagnostics info layer0
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/transport/ITransport.ts
  packages/dht/test/utils/FakeTransport.ts
  packages/dht/test/utils/mock/MockRouter.ts
  packages/dht/test/utils/mock/MockTransport.ts
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/test/utils/mock/MockControlLayerNode.ts
  packages/trackerless-network/test/utils/mock/MockTransport.ts
Labels: network, dht

#2741 feat(network): NET-1334 Diagnostics network
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/transport/ITransport.ts
  packages/dht/test/utils/FakeTransport.ts
  packages/dht/test/utils/mock/MockTransport.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
  packages/trackerless-network/test/utils/mock/MockControlLayerNode.ts
  packages/trackerless-network/test/utils/mock/MockTransport.ts
Labels: network, dht

#2760 feat(network): React to disconnected event to reject requests
  packages/dht/src/transport/ListeningRpcCommunicator.ts
  packages/dht/test/integration/DhtNodeRpcRemote.test.ts
  packages/dht/test/integration/DhtRpc.test.ts
  packages/dht/test/integration/RouterRpcRemote.test.ts
  packages/dht/test/integration/StoreRpcRemote.test.ts
  packages/dht/test/integration/WebrtcConnectorRpc.test.ts
  packages/dht/test/integration/WebsocketClientConnectorRpc.test.ts
  packages/dht/test/unit/ListeningRpcCommunicator.test.ts
  packages/proto-rpc/src/RpcCommunicator.ts
  packages/proto-rpc/src/errors.ts
  packages/proto-rpc/test/integration/ClientRpcTransport.test.ts
  packages/proto-rpc/test/integration/toProtoRpcClient.test.ts
  packages/proto-rpc/test/unit/RpcCommunicator.test.ts
  packages/trackerless-network/test/integration/NetworkRpc.test.ts
Labels: network, dht, proto-rpc

#2770 refactor(sdk): Use `signer.getAddress()` in `Authentication`
  packages/sdk/src/Authentication.ts
Labels: sdk

#2771 refactor(utils): User id semantics in `signingUtils`
  packages/sdk/src/contracts/ERC1271ContractFacade.ts
  packages/sdk/src/signature/SignatureValidator.ts
  packages/sdk/test/benchmarks/signingUtils.test.ts
  packages/sdk/test/test-utils/fake/FakeERC1271ContractFacade.ts
  packages/utils/src/exports.ts
  packages/utils/src/signingUtils.ts
  packages/utils/test/signingUtils.test.ts
Labels: utils, sdk
