Repository streamr-dev/network, pull requests merged in 2024-06, with the labels that each got.

#2574 test(DHT): Connector connect unit tests
  packages/dht/test/unit/WebrtcConnector.test.ts
  packages/dht/test/unit/WebsocketClientConnector.test.ts
  packages/dht/test/unit/WebsocketServerConnector.test.ts
Labels: dht

#2576 refactor(DHT): Duplicate connection debug
  packages/autocertifier-server/src/StreamrChallenger.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ConnectorFacade.ts
  packages/dht/src/connection/Handshaker.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/PendingConnection.ts
  packages/dht/src/connection/simulator/SimulatorConnector.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/connection/websocket/AbstractWebsocketClientConnection.ts
  packages/dht/src/connection/websocket/NodeWebsocketClientConnection.ts
  packages/dht/src/connection/websocket/WebsocketClientConnector.ts
  packages/dht/src/connection/websocket/WebsocketServerConnector.ts
  packages/dht/src/exports.ts
  packages/dht/test/unit/ConnectionManager.test.ts
  packages/dht/test/unit/Handshaker.test.ts
  packages/dht/test/unit/WebrtcConnector.test.ts
  packages/dht/test/unit/WebsocketClientConnector.test.ts
  packages/dht/test/unit/WebsocketServerConnector.test.ts
  packages/dht/test/utils/FakeConnectorFacade.ts
Labels: dht

#2578 fix(broker): address memory leak in Subscriber plugin
  CHANGELOG.md
  packages/broker/src/plugins/subscriber/SubscriberPlugin.ts
Labels: broker

#2581 refactor(client)[!]: Move `chainId` config
  CHANGELOG.md
  packages/broker/configs/development-1.env.json
  packages/broker/configs/development-2.env.json
  packages/broker/configs/development-3.env.json
  packages/broker/configs/docker-1.env.json
  packages/broker/configs/docker-2.env.json
  packages/broker/configs/docker-3.env.json
  packages/client/src/Authentication.ts
  packages/client/src/Config.ts
  packages/client/src/RpcProviderFactory.ts
  packages/client/src/config.schema.json
  packages/client/src/exports.ts
  packages/client/src/generated/validateConfig.js
  packages/client/test/end-to-end/contract-call-error.test.ts
  packages/client/test/integration/static-json-rpc-provider.test.ts
  packages/client/test/unit/Config.test.ts
Labels: broker, client, docs

#2562 chore(client) [NET-1287]: use `FallbackProvider`
  CHANGELOG.md
  package-lock.json
  packages/broker/package.json
  packages/cli-tools/package.json
  packages/client/package.json
  packages/client/src/Authentication.ts
  packages/client/src/Config.ts
  packages/client/src/ContractFactory.ts
  packages/client/src/RpcProviderFactory.ts
  packages/client/src/RpcProviderSource.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/config.schema.json
  packages/client/src/contracts/ChainEventPoller.ts
  packages/client/src/contracts/ERC1271ContractFacade.ts
  packages/client/src/contracts/StorageNodeRegistry.ts
  packages/client/src/contracts/StreamRegistry.ts
  packages/client/src/contracts/StreamStorageRegistry.ts
  packages/client/src/contracts/contract.ts
  packages/client/src/ethereumUtils.ts
  packages/client/src/generated/validateConfig.js
  packages/client/test/end-to-end/contract-call-error.test.ts
  packages/client/test/end-to-end/decorated-contract.test.ts
  packages/client/test/integration/json-rpc-provider.test.ts
  packages/client/test/integration/static-json-rpc-provider.test.ts
  packages/client/test/test-utils/FakeJsonRpcServer.ts
  packages/client/test/unit/ChainEventPoller.test.ts
  packages/client/test/unit/ERC1271ContractFacade.test.ts
  packages/client/test/unit/contract.test.ts
  packages/client/test/unit/promises.test.ts
  packages/test-utils/package.json
  packages/utils/src/Multimap.ts
Labels: broker, client, test-utils, cli-tools, docs, utils

#2575 refactor: abstract signature handling
  packages/client/src/Authentication.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/contracts/StorageNodeRegistry.ts
  packages/client/src/contracts/StreamRegistry.ts
  packages/client/src/contracts/StreamStorageRegistry.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/encryption/SubscriberKeyExchange.ts
  packages/client/src/publish/MessageFactory.ts
  packages/client/src/publish/Publisher.ts
  packages/client/src/signature.ts
  packages/client/src/signature/MessageSigner.ts
  packages/client/src/signature/SignatureValidator.ts
  packages/client/src/signature/createLegacySignaturePayload.ts
  packages/client/src/signature/createSignaturePayload.ts
  packages/client/src/subscribe/MessagePipelineFactory.ts
  packages/client/src/subscribe/Resends.ts
  packages/client/src/subscribe/messagePipeline.ts
  packages/client/src/utils/validateStreamMessage.ts
  packages/client/test/integration/Resends.test.ts
  packages/client/test/integration/Subscriber2.test.ts
  packages/client/test/integration/gap-fill.test.ts
  packages/client/test/integration/parallel-key-exchange.test.ts
  packages/client/test/integration/waitForStorage.test.ts
  packages/client/test/test-utils/utils.ts
  packages/client/test/unit/MessageFactory.test.ts
  packages/client/test/unit/MessageStream.test.ts
  packages/client/test/unit/Publisher.test.ts
  packages/client/test/unit/PushPipeline.test.ts
  packages/client/test/unit/SignatureValidator.test.ts
  packages/client/test/unit/messagePipeline.test.ts
  packages/client/test/unit/resendSubscription.test.ts
  packages/client/test/unit/validateStreamMessage.test.ts
  packages/client/test/unit/validateStreamMessage2.test.ts
  packages/client/test/unit/waitForAssignmentsToPropagate.test.ts
Labels: client

#2591 refactor(dht): Rename `DhtNodeOptions#maxNeighborListSize`
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/PeerManager.ts
Labels: dht

#2592 refactor(trackerless-network): Use named layers
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/ControlLayerNode.ts
  packages/trackerless-network/src/logic/DiscoveryLayerNode.ts
  packages/trackerless-network/src/logic/StreamPartNetworkSplitAvoidance.ts
  packages/trackerless-network/src/logic/StreamPartReconnect.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/end-to-end/content-delivery-layer-node-with-real-connections.test.ts
  packages/trackerless-network/test/end-to-end/proxy-and-full-node.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryLayerNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryLayerNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryManager.test.ts
  packages/trackerless-network/test/integration/Inspect.test.ts
  packages/trackerless-network/test/integration/Propagation.test.ts
  packages/trackerless-network/test/integration/joining-streams-on-offline-peers.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/unit/ContentDeliveryLayerNode.test.ts
  packages/trackerless-network/test/unit/ContentDeliveryManager.test.ts
  packages/trackerless-network/test/unit/StreamPartNetworkSplitAvoidance.test.ts
  packages/trackerless-network/test/unit/StreamPartReconnect.test.ts
  packages/trackerless-network/test/utils/mock/MockControlLayerNode.ts
  packages/trackerless-network/test/utils/mock/MockDiscoveryLayerNode.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network, dht

#2549 refactor(DHT): remove input buffer from ManagedConnection
  packages/dht/src/connection/ManagedConnection.ts
Labels: dht

#2551 refactor(DHT): Extract output buffer from ManagedConnection
  packages/autocertifier-server/src/StreamrChallenger.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/OutputBuffer.ts
Labels: dht

#2559 refactor(DHT): Extract handshaker from managed connection
  packages/autocertifier-server/src/StreamrChallenger.ts
  packages/dht/src/connection/ConnectorFacade.ts
  packages/dht/src/connection/Handshaker.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/simulator/SimulatorConnection.ts
  packages/dht/src/connection/simulator/SimulatorConnector.ts
  packages/dht/src/connection/webrtc/ManagedWebrtcConnection.ts
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/connection/webrtc/WebrtcConnectorRpcLocal.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/exports.ts
  packages/dht/test/integration/GeoIpConnectivityChecking.test.ts
  packages/dht/test/integration/WebrtcConnectionManagement.test.ts
Labels: dht

#2563 test(DHT): Handshaker unit tests
  packages/dht/src/connection/Handshaker.ts
  packages/dht/test/unit/Handshaker.test.ts
Labels: dht

#2564 refactor(DHT): Remove `ManagedConnection#sendNoWait`
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
Labels: dht

#2565 refactor(DHT): remove IConnectionSource
  packages/dht/src/connection/IConnectionSource.ts
  packages/dht/src/connection/simulator/Simulator.ts
  packages/dht/src/connection/websocket/WebsocketServer.ts
Labels: dht

#2567 refactor(DHT): Remove refs to handshakes managed connection
  packages/autocertifier-server/src/StreamrChallenger.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/Handshaker.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/simulator/SimulatorConnector.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/connection/websocket/WebsocketConnector.ts
  packages/dht/test/unit/Handshaker.test.ts
Labels: dht

#2571 refactor(DHT): Remove managed connection from connectors
  packages/autocertifier-server/src/StreamrChallenger.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ConnectorFacade.ts
  packages/dht/src/connection/Handshaker.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/PendingConnection.ts
  packages/dht/src/connection/simulator/SimulatorConnector.ts
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/connection/webrtc/WebrtcConnectorRpcLocal.ts
  packages/dht/src/connection/websocket/AbstractWebsocketClientConnection.ts
  packages/dht/src/connection/websocket/NodeWebsocketClientConnection.ts
  packages/dht/src/connection/websocket/WebsocketClientConnector.ts
  packages/dht/src/connection/websocket/WebsocketClientConnectorRpcLocal.ts
  packages/dht/src/connection/websocket/WebsocketServerConnector.ts
  packages/dht/src/exports.ts
  packages/dht/test/end-to-end/Layer0Webrtc.test.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/WebrtcConnectionManagement.test.ts
  packages/dht/test/integration/WebsocketConnectionManagement.test.ts
  packages/dht/test/unit/ConnectionManager.test.ts
  packages/dht/test/unit/Handshaker.test.ts
  packages/dht/test/unit/ManagedConnection.test.ts
  packages/dht/test/unit/PendingConnection.test.ts
  packages/dht/test/unit/WebrtcConnector.test.ts
  packages/dht/test/unit/WebsocketClientConnector.test.ts
  packages/dht/test/unit/WebsocketServerConnector.test.ts
  packages/dht/test/utils/FakeConnectorFacade.ts
  packages/dht/test/utils/mock/MockConnection.ts
Labels: dht

#2595 refactor(trackerless-network): `PeerDescriptorStoreManager`
  packages/trackerless-network/src/exports.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/EntryPointDiscovery.ts
  packages/trackerless-network/src/logic/PeerDescriptorStoreManager.ts
  packages/trackerless-network/src/logic/StreamPartReconnect.ts
  packages/trackerless-network/test/benchmark/StreamPartIdDataKeyDistribution.test.ts
  packages/trackerless-network/test/benchmark/first-message.ts
  packages/trackerless-network/test/integration/joining-streams-on-offline-peers.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/integration/streamEntryPointReplacing.test.ts
  packages/trackerless-network/test/unit/PeerDescriptorStoreManager.test.ts
  packages/trackerless-network/test/unit/StreamPartIDDataKey.test.ts
  packages/trackerless-network/test/unit/StreamPartReconnect.test.ts
  packages/trackerless-network/test/utils/fake/FakeEntryPointDiscovery.ts
  packages/trackerless-network/test/utils/fake/FakePeerDescriptorStoreManager.ts
Labels: network

#2596 refactor: rename dependency configs to `Options`
  packages/dht/src/connection/ConnectionLockRpcLocal.ts
  packages/dht/src/connection/ConnectionLockRpcRemote.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ConnectorFacade.ts
  packages/dht/src/connection/connectivityChecker.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/connection/webrtc/WebrtcConnectorRpcLocal.ts
  packages/dht/src/connection/websocket/AutoCertifierClientFacade.ts
  packages/dht/src/connection/websocket/WebsocketClientConnector.ts
  packages/dht/src/connection/websocket/WebsocketClientConnectorRpcLocal.ts
  packages/dht/src/connection/websocket/WebsocketServer.ts
  packages/dht/src/connection/websocket/WebsocketServerConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/DhtNodeRpcLocal.ts
  packages/dht/src/dht/ExternalApiRpcLocal.ts
  packages/dht/src/dht/ExternalApiRpcRemote.ts
  packages/dht/src/dht/PeerManager.ts
  packages/dht/src/dht/contact/SortedContactList.ts
  packages/dht/src/dht/discovery/DiscoverySession.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/discovery/RingDiscoverySession.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationRpcLocal.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationSession.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationSessionRpcLocal.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/src/dht/routing/RouterRpcLocal.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/dht/store/StoreManager.ts
  packages/dht/src/dht/store/StoreRpcLocal.ts
  packages/dht/src/transport/ListeningRpcCommunicator.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/SimultaneousConnections.test.ts
  packages/dht/test/integration/WebsocketConnectionManagement.test.ts
  packages/dht/test/unit/DiscoverySession.test.ts
  packages/proto-rpc/src/RpcCommunicator.ts
  packages/proto-rpc/src/exports.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/exports.ts
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/ContentDeliveryRpcLocal.ts
  packages/trackerless-network/src/logic/PeerDescriptorStoreManager.ts
  packages/trackerless-network/src/logic/StreamPartNetworkSplitAvoidance.ts
  packages/trackerless-network/src/logic/createContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/inspect/InspectSession.ts
  packages/trackerless-network/src/logic/inspect/Inspector.ts
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakeRpcLocal.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborFinder.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateRpcLocal.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
  packages/trackerless-network/src/logic/proxy/ProxyConnectionRpcLocal.ts
  packages/trackerless-network/src/logic/temporary-connection/TemporaryConnectionRpcLocal.ts
Labels: network, dht, proto-rpc

#2598 refactor(trackerless-network): Remove `StreamMessageType` enum
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/proto/packages/trackerless-network/protos/NetworkRpc.ts
Labels: network

#2590 Update @streamr/config to 5.3.10
  package-lock.json
  packages/broker/package.json
  packages/client/package.json
Labels: broker, client

#2603 deps: update @streamr/config to 5.3.12
  package-lock.json
  packages/broker/package.json
  packages/client/package.json
Labels: broker, client

#2604 refactor(client)[!]: Rename client events
  CHANGELOG.md
  packages/broker/src/plugins/storage/StorageEventListener.ts
  packages/broker/test/unit/plugins/storage/StorageConfig.test.ts
  packages/broker/test/unit/plugins/storage/StorageEventListener.test.ts
  packages/client/src/ContractFactory.ts
  packages/client/src/MetricsPublisher.ts
  packages/client/src/Stream.ts
  packages/client/src/StreamrClient.ts
  packages/client/src/contracts/StreamRegistry.ts
  packages/client/src/contracts/StreamStorageRegistry.ts
  packages/client/src/encryption/GroupKeyManager.ts
  packages/client/src/encryption/LocalGroupKeyStore.ts
  packages/client/src/encryption/PublisherKeyExchange.ts
  packages/client/src/events.ts
  packages/client/src/utils/utils.ts
  packages/client/test/end-to-end/StorageNodeRegistry.test.ts
  packages/client/test/end-to-end/StreamRegistry.test.ts
  packages/client/test/integration/events.test.ts
  packages/client/test/integration/json-rpc-provider.test.ts
  packages/client/test/unit/GroupKeyManager.test.ts
  packages/client/test/unit/MetricsPublisher.test.ts
  packages/client/test/unit/events.test.ts
Labels: broker, client, docs

#2610 docs(client): add remark about test
  packages/client/test/integration/json-rpc-provider.test.ts
Labels: client

#2608 refactor(utils): Refactor `addManagedEventListener` types
  packages/broker/src/plugins/operator/ContractFacade.ts
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
  packages/utils/src/addManagedEventListener.ts
  packages/utils/test/addManagedEventListener.test.ts
Labels: broker, network, utils

#2601 feat(client, broker): [NET-1310] Use custom event polling logic for Broker features
  CHANGELOG.md
  package-lock.json
  packages/broker/src/plugins/operator/MaintainTopologyHelper.ts
  packages/broker/src/plugins/operator/OperatorPlugin.ts
  packages/broker/src/plugins/operator/announceNodeToContract.ts
  packages/broker/src/plugins/operator/checkOperatorValueBreach.ts
  packages/broker/src/plugins/operator/closeExpiredFlags.ts
  packages/broker/src/plugins/operator/fetchRedundancyFactor.ts
  packages/broker/src/plugins/operator/inspectRandomNode.ts
  packages/broker/src/plugins/operator/inspectionUtils.ts
  packages/broker/src/plugins/operator/maintainOperatorValue.ts
  packages/broker/src/plugins/operator/reviewSuspectNode.ts
  packages/broker/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/broker/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/broker/test/integration/plugins/operator/announceNodeToContract.test.ts
  packages/broker/test/integration/plugins/operator/announceNodeToStream.test.ts
  packages/broker/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/broker/test/integration/plugins/operator/fetchRedundancyFactor.test.ts
  packages/broker/test/integration/plugins/operator/maintainOperatorValue.test.ts
  packages/broker/test/unit/plugins/operator/ContractFacade.test.ts
  packages/broker/test/unit/plugins/operator/MaintainTopologyHelper.test.ts
  packages/broker/test/unit/plugins/operator/announceNodeToContract.test.ts
  packages/broker/test/unit/plugins/operator/closeExpiredFlags.test.ts
  packages/broker/test/unit/plugins/operator/inspectionUtils.test.ts
  packages/client/package.json
  packages/client/src/StreamrClient.ts
  packages/client/src/contracts/ContractFactory.ts
  packages/client/src/contracts/ERC1271ContractFacade.ts
  packages/client/src/contracts/Operator.ts
  packages/client/src/contracts/OperatorRegistry.ts
  packages/client/src/contracts/StorageNodeRegistry.ts
  packages/client/src/contracts/StreamRegistry.ts
  packages/client/src/contracts/StreamStorageRegistry.ts
  packages/client/src/contracts/contract.ts
  packages/client/src/contracts/operatorContractUtils.ts
  packages/client/src/ethereumArtifacts/Operator.d.ts
  packages/client/src/ethereumArtifacts/OperatorAbi.json
  packages/client/src/ethereumArtifacts/OperatorFactory.d.ts
  packages/client/src/ethereumArtifacts/OperatorFactoryAbi.json
  packages/client/src/ethereumArtifacts/Sponsorship.d.ts
  packages/client/src/ethereumArtifacts/SponsorshipAbi.json
  packages/client/src/ethereumArtifacts/SponsorshipFactory.d.ts
  packages/client/src/ethereumArtifacts/SponsorshipFactoryAbi.json
  packages/client/src/ethereumArtifacts/TestToken.d.ts
  packages/client/src/ethereumArtifacts/TestTokenAbi.json
  packages/client/src/ethereumUtils.ts
  packages/client/src/exports.ts
  packages/client/test/end-to-end/Operator.test.ts
  packages/client/test/unit/ERC1271ContractFacade.test.ts
  packages/client/test/unit/Operator.test.ts
Labels: broker, client, docs
