Repository streamr-dev/network, pull requests merged in 2024-08, with the labels that each got.

#2692 NET-1252: add `getAssignedNodesForStreamPart` to `StreamPartAssignments`
  packages/node/src/plugins/operator/StreamPartAssignments.ts
  packages/node/test/unit/plugins/operator/StreamPartAssignments.test.ts
Labels: node

#2698 NET-1252: external rpc to NetworkNodeFacade
  package-lock.json
  packages/sdk/package.json
  packages/sdk/src/NetworkNodeFacade.ts
  packages/sdk/test/test-utils/fake/FakeNetworkNode.ts
  packages/trackerless-network/src/NetworkNode.ts
  packages/trackerless-network/src/exports.ts
  packages/trackerless-network/src/logic/ExternalNetworkRpc.ts
Labels: network, sdk

#2700 feat(sdk): NET-1252 protobuf in SDK
  packages/sdk/package.json
  packages/sdk/proto.sh
  packages/sdk/protos/SdkRpc.proto
  packages/sdk/src/NetworkNodeFacade.ts
  packages/sdk/src/generated/google/protobuf/any.ts
  packages/sdk/src/generated/google/protobuf/empty.ts
  packages/sdk/src/generated/google/protobuf/timestamp.ts
  packages/sdk/src/generated/packages/dht/protos/DhtRpc.client.ts
  packages/sdk/src/generated/packages/dht/protos/DhtRpc.server.ts
  packages/sdk/src/generated/packages/dht/protos/DhtRpc.ts
  packages/sdk/src/generated/packages/proto-rpc/protos/ProtoRpc.ts
  packages/sdk/src/generated/packages/sdk/protos/SdkRpc.client.ts
  packages/sdk/src/generated/packages/sdk/protos/SdkRpc.server.ts
  packages/sdk/src/generated/packages/sdk/protos/SdkRpc.ts
  packages/sdk/tsconfig.node.json
Labels: sdk

#2704 feat: ci failure slack notification remove
  .github/workflows/notifier.yml
Labels: ci

#2702 feat(node): NET-1252 OperatorPlugin registers RPC method
  packages/node/src/plugins/operator/OperatorPlugin.ts
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/sdk/src/exports.ts
Labels: sdk, node

#2703 feat(sdk): NET-1252 query operators on stream
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/OperatorRegistry.ts
  packages/sdk/test/test-utils/fake/FakeOperatorRegistry.ts
Labels: sdk

#2712 NET-1323: `integration/Find.test.ts` flakyness reduced
  packages/dht/test/integration/Find.test.ts
  packages/dht/test/utils/utils.ts
Labels: dht

#2713 refactor: Fix `@typescript-eslint/no-unused-vars` warnings
  packages/autocertifier-server/src/DnsServer.ts
  packages/cdn-location/src/getLocalRegion.ts
  packages/cli-tools/src/config.ts
  packages/dht/src/connection/connectivityChecker.ts
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
  packages/dht/src/dht/ExternalApiRpcRemote.ts
  packages/dht/src/dht/discovery/PeerDiscovery.ts
  packages/dht/src/dht/routing/Router.ts
  packages/dht/test/benchmark/KademliaCorrectness.test.ts
  packages/dht/test/benchmark/RingCorrectness.test.ts
  packages/dht/test/utils/utils.ts
  packages/geoip-location/src/downloadGeoIpDatabase.ts
  packages/geoip-location/test/helpers/TestServer.ts
  packages/geoip-location/test/unit/GeoIpLocator-intervals.test.ts
  packages/geoip-location/test/unit/downloadGeoIpDatabase.test.ts
  packages/node/src/config/ConfigWizard.ts
  packages/proto-rpc/test/unit/ConversionWrappers.test.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/subscribe/Resends.ts
  packages/sdk/test/end-to-end/StreamRegistry.test.ts
  packages/trackerless-network/src/logic/PeerDescriptorStoreManager.ts
  packages/trackerless-network/src/logic/StreamPartNetworkSplitAvoidance.ts
  packages/trackerless-network/src/logic/inspect/Inspector.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
  packages/utils/src/signingUtils.ts
Labels: network, cli-tools, dht, utils, proto-rpc, sdk, node

#2714 fix(sdk): [NET-1337] Fix `ReviewRequest` event parsing
  CHANGELOG.md
  packages/sdk/src/contracts/Operator.ts
  packages/sdk/src/contracts/contract.ts
  packages/sdk/test/unit/Operator.test.ts
Labels: docs, sdk

#2716 fix(DHT): NET-1325 remove ScaleDownDht.test.ts, fix WS server graceful leave bug
  packages/dht/src/connection/ConnectionLockRpcLocal.ts
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/ScaleDownDht.test.ts
Labels: dht

#2720 ci(deps): Update `@streamr/network-contracts-ethers6`
  package-lock.json
  packages/node/package.json
Labels: node

#2721 perf(node): [NET-1113] Optimize operators query in `checkOperatorValueBreach`
  packages/node/src/plugins/operator/OperatorPlugin.ts
  packages/node/src/plugins/operator/checkOperatorValueBreach.ts
  packages/node/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/sdk/src/contracts/Operator.ts
  packages/sdk/test/end-to-end/Operator.test.ts
  packages/utils/src/Cache.ts
  packages/utils/src/exports.ts
  packages/utils/test/Cache.test.ts
Labels: utils, sdk, node

#2723 fix(network): Reduce worst case network timeouts
  packages/dht/src/dht/contact/RpcRemote.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationSession.ts
  packages/dht/src/dht/routing/RouterRpcRemote.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/trackerless-network/src/logic/neighbor-discovery/HandshakeRpcRemote.ts
Labels: network, dht

#2724 feat(network): naive parallel handshakes
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborFinder.ts
Labels: network

#2726 feat(network): Prioritise ws connections in layer2
  packages/trackerless-network/src/logic/NodeList.ts
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
  packages/trackerless-network/test/unit/NodeList.test.ts
Labels: network

#2727 fix(network): exclude initial ws neighbors for parallel operations
  packages/trackerless-network/src/logic/neighbor-discovery/Handshaker.ts
Labels: network

#2725 fix: NET-1343 don't send a transaction when asked to close a non-existing flag
  packages/node/src/plugins/operator/closeExpiredFlags.ts
  packages/sdk/src/contracts/Operator.ts
  packages/sdk/test/end-to-end/Operator.test.ts
Labels: sdk, node

#2732 chore(sdk): reduce Propagation buffer time to 10 secs
  packages/trackerless-network/src/logic/propagation/Propagation.ts
Labels: network
