Repository streamr-dev/network, pull requests merged in 2025-06, with the labels that each got.

#3142 feat(sdk): add "iotex" environment
  CHANGELOG.md
  package-lock.json
  packages/cli-tools/package.json
  packages/cli-tools/test/environment.test.ts
  packages/node/package.json
  packages/sdk/package.json
  packages/sdk/src/Config.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/generated/validateConfig.js
  packages/sdk/test/unit/Config.test.ts
  packages/test-utils/package.json
Labels: test-utils, cli-tools, docs, sdk, node

#3143 feat(cli-tools): Add `--max-operator-count` flag to `sponsorship-create` command
  packages/cli-tools/bin/streamr-internal-sponsorship-create.ts
  packages/cli-tools/bin/streamr-internal-sponsorship-sponsor.ts
  packages/cli-tools/test/internal-sponsorship-create.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: cli-tools, sdk

#3131 feat(sdk)!: [NET-1464] Remove orderBy functionality from `StreamrClient#searchStreams()`
  CHANGELOG.md
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/searchStreams.ts
  packages/sdk/src/exports.ts
  packages/sdk/test/end-to-end/searchStreams.test.ts
  packages/sdk/test/unit/searchStreams.test.ts
Labels: docs, sdk

#3146 chore: bump config version
  package-lock.json
  packages/cli-tools/package.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: test-utils, cli-tools, sdk, node

#3149 chore: Bump `@streamr/config` to v5.8.0
  package-lock.json
  packages/cli-tools/package.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: test-utils, cli-tools, sdk, node

#3086 feat(node): [NET-1455] Autostaker plugin
  CHANGELOG.md
  packages/node/src/pluginRegistry.ts
  packages/node/src/plugins/autostaker/AutostakerPlugin.ts
  packages/node/src/plugins/autostaker/config.schema.json
  packages/node/src/plugins/autostaker/payoutProportionalStrategy.ts
  packages/node/src/plugins/autostaker/types.ts
  packages/node/test/smoke/autostaker.test.ts
  packages/node/test/unit/plugins/autostaker/payoutProportionalStrategy.test.ts
  packages/utils/src/sum.ts
Labels: docs, utils, node

#3147 feat(network): [NET-1473] PlumTree can now be enabled from the sdk
  CHANGELOG.md
  packages/sdk/src/NetworkNodeFacade.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/exports.ts
  packages/sdk/src/publish/Publisher.ts
  packages/sdk/src/subscribe/Subscription.ts
  packages/sdk/src/subscribe/SubscriptionSession.ts
  packages/sdk/src/utils/addStreamToStorageNode.ts
  packages/sdk/test/unit/SubscriptionSession.test.ts
  packages/sdk/test/unit/resendSubscription.test.ts
  packages/trackerless-network/src/ContentDeliveryManager.ts
  packages/trackerless-network/src/content-delivery-layer/createContentDeliveryLayerNode.ts
  packages/trackerless-network/src/exports.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network, docs, sdk

#3152 fix(cli-tools): Redundancy factor as number
  packages/cli-tools/bin/streamr-internal-operator-create.ts
Labels: cli-tools

#3141 fix(network): reduce the number of nodes in the test to fix flakyness
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

#3155 test(node): Update inspection smoke test
  packages/node/test/smoke/inspect.test.ts
Labels: node
