Repository streamr-dev/network, pull requests merged in 2025-08, with the labels that each got.

#3181 fix: Fix geoip tests reference latitude and longitude
  packages/dht/test/integration/GeoIpConnectivityChecking.test.ts
  packages/geoip-location/test/unit/GeoIpLocator-intervals.test.ts
  packages/geoip-location/test/unit/GeoIpLocator-no-network-at-monthly.test.ts
  packages/geoip-location/test/unit/GeoIpLocator.test.ts
Labels: dht

#3177 feat(network): Setting for max paused neighbors in Plumtree
  packages/trackerless-network/src/ContentDeliveryManager.ts
  packages/trackerless-network/src/content-delivery-layer/createContentDeliveryLayerNode.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PlumtreeManager.ts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

#3179 feat(network): No longer send pause messages if the maxNeighborPaused option is met
  packages/trackerless-network/src/content-delivery-layer/plumtree/PausedNeighbors.ts
  packages/trackerless-network/src/content-delivery-layer/plumtree/PlumtreeManager.ts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

#3182 deps: update jest to v30
  package-lock.json
  package.json
  packages/browser-test-runner/package.json
  packages/browser-test-runner/src/karma-setup.js
  packages/browser-test-runner/src/preload.js
  packages/dht/package.json
  packages/node/test/unit/plugins/storage/Bucket.test.ts
  packages/sdk/package.json
  packages/sdk/test/test-utils/jestGlobalsMock.ts
  packages/sdk/webpack-karma.config.js
  packages/test-utils/package.json
  packages/trackerless-network/package.json
Labels: network, test-utils, dht, sdk, node
