Repository streamr-dev/network, pull requests merged in 2025-04, with the labels that each got.

#3055 refactor(DHT): executeRecursiveOperation helper method in DhtNode
  packages/dht/src/dht/DhtNode.ts
Labels: dht

#3060 feat: [NET-1445] quantum resistant key exchange using ML-KEM
  CHANGELOG.md
  docs/docs/streamr-network/security/end-to-end-encryption.md
  package-lock.json
  packages/cli-tools/src/client.ts
  packages/cli-tools/src/command.ts
  packages/sdk/package.json
  packages/sdk/src/Config.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/encryption/EncryptionUtil.ts
  packages/sdk/src/encryption/GroupKey.ts
  packages/sdk/src/encryption/KeyExchangeKeyPair.ts
  packages/sdk/src/encryption/MLKEMKeyPair.ts
  packages/sdk/src/encryption/PublisherKeyExchange.ts
  packages/sdk/src/encryption/RSAKeyPair.ts
  packages/sdk/src/encryption/SubscriberKeyExchange.ts
  packages/sdk/src/exports.ts
  packages/sdk/src/generated/validateConfig.js
  packages/sdk/src/protocol/EncryptedGroupKey.ts
  packages/sdk/src/protocol/GroupKeyRequest.ts
  packages/sdk/src/protocol/GroupKeyRequestTranslator.ts
  packages/sdk/src/protocol/GroupKeyResponse.ts
  packages/sdk/src/protocol/GroupKeyResponseTranslator.ts
  packages/sdk/src/protocol/StreamMessage.ts
  packages/sdk/src/protocol/StreamMessageTranslator.ts
  packages/sdk/src/protocol/oldStreamMessageBinaryUtils.ts
  packages/sdk/src/publish/MessageFactory.ts
  packages/sdk/src/signature/createLegacySignaturePayload.ts
  packages/sdk/src/signature/createSignaturePayload.ts
  packages/sdk/src/utils/crossPlatformCrypto.ts
  packages/sdk/src/utils/validateStreamMessage.ts
  packages/sdk/test/integration/PublisherKeyExchange.test.ts
  packages/sdk/test/integration/SubscriberKeyExchange.test.ts
  packages/sdk/test/integration/resend-and-subscribe.test.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/EncryptionUtil.test.ts
  packages/sdk/test/unit/GroupKeyResponseTranslator.test.ts
  packages/sdk/test/unit/RSAKeyPair.test.ts
  packages/sdk/test/unit/StreamMessage.test.ts
  packages/sdk/test/unit/validateStreamMessage2.test.ts
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/exports.ts
  packages/trackerless-network/test/end-to-end/proxy-key-exchange.test.ts
Labels: network, cli-tools, docs, sdk

#3065 fix(dht): [NET-1448] Memory leak in `DhtNode`
  CHANGELOG.md
  packages/dht/src/dht/DhtNode.ts
Labels: docs, dht

#3066 refactor(dht): Simplify `RoutingRpcCommunicator`
  packages/dht/src/transport/RoutingRpcCommunicator.ts
Labels: dht

#3067 chore: Prefer nullish coalescing operator
  packages/cli-tools/src/resend.ts
  packages/proto-rpc/src/toProtoRpcClient.ts
  packages/sdk/src/PersistenceManager.ts
  packages/sdk/src/RpcProviderSource.ts
  packages/sdk/src/utils/Gate.ts
  packages/sdk/src/utils/iterators.ts
  packages/sdk/src/utils/persistence/ServerPersistence.ts
  packages/sdk/src/utils/validateStreamMessage.ts
  packages/utils/src/Gate.ts
Labels: cli-tools, utils, proto-rpc, sdk

#3057 fix(DHT): `findClosestNodes` queries can be ran via the External API
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/ExternalApiRpcLocal.ts
  packages/dht/src/dht/ExternalApiRpcRemote.ts
  packages/dht/test/integration/DhtNodeExternalAPI.test.ts
Labels: dht

#3072 chore(node): Remove `OperatorServiceConfig` interface
  packages/node/src/plugins/operator/OperatorPlugin.ts
  packages/sdk/src/contracts/Operator.ts
Labels: sdk, node

#3081 refactor(sdk): Operator contract utils without token ABI
  packages/cli-tools/bin/streamr-internal-operator-delegate.ts
  packages/cli-tools/bin/streamr-internal-sponsorship-sponsor.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/test-utils/src/index.ts
Labels: test-utils, cli-tools, sdk

#3077 feat(cli-tools): Add internal `operator-create` command
  packages/cli-tools/bin/streamr-internal-operator-create.ts
  packages/cli-tools/bin/streamr-internal.ts
  packages/cli-tools/src/common.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: cli-tools, sdk

#3078 feat(cli-tools): Add internal `sponsorship-create` command
  packages/cli-tools/bin/streamr-internal-sponsorship-create.ts
  packages/cli-tools/bin/streamr-internal.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: cli-tools, sdk

#3079 chore(sdk) [NET-1452]: Optimize ABI JSON files
  packages/sdk/src/ethereumArtifacts/DATAv2Abi.json
  packages/sdk/src/ethereumArtifacts/IERC1271Abi.json
  packages/sdk/src/ethereumArtifacts/NodeRegistryAbi.json
  packages/sdk/src/ethereumArtifacts/OperatorAbi.json
  packages/sdk/src/ethereumArtifacts/OperatorFactoryAbi.json
  packages/sdk/src/ethereumArtifacts/SponsorshipAbi.json
  packages/sdk/src/ethereumArtifacts/SponsorshipFactoryAbi.json
  packages/sdk/src/ethereumArtifacts/StreamRegistryV5Abi.json
  packages/sdk/src/ethereumArtifacts/StreamStorageRegistryV2Abi.json
Labels: sdk

#3087 chore(sdk): Add `StreamrClient#getTheGraphClient()` internal method
  packages/sdk/src/StreamrClient.ts
Labels: sdk

#3089 refactor(sdk): Use addresses instead of contract objects in `operatorContractUtils`
  packages/cli-tools/bin/streamr-internal-operator-delegate.ts
  packages/cli-tools/bin/streamr-internal-operator-stake.ts
  packages/cli-tools/bin/streamr-internal-operator-undelegate.ts
  packages/cli-tools/bin/streamr-internal-operator-unstake.ts
  packages/cli-tools/test/internal-operator.test.ts
  packages/node/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/node/test/integration/plugins/operator/announceNodeToContract.test.ts
  packages/node/test/integration/plugins/operator/announceNodeToStream.test.ts
  packages/node/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/node/test/integration/plugins/operator/maintainOperatorValue.test.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/test/end-to-end/Operator.test.ts
Labels: cli-tools, sdk, node

#3090 refactor(sdk): Use contracts from `@streamr/network-contracts`
  package-lock.json
  packages/cli-tools/test/internal-sponsorship-sponsor.test.ts
  packages/node/package.json
  packages/node/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
  packages/sdk/package.json
  packages/sdk/src/contracts/Operator.ts
  packages/sdk/src/contracts/StorageNodeRegistry.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/StreamStorageRegistry.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/src/ethereumArtifacts/NodeRegistry.d.ts
  packages/sdk/src/ethereumArtifacts/NodeRegistryAbi.json
  packages/sdk/src/ethereumArtifacts/Operator.d.ts
  packages/sdk/src/ethereumArtifacts/OperatorAbi.json
  packages/sdk/src/ethereumArtifacts/OperatorFactory.d.ts
  packages/sdk/src/ethereumArtifacts/OperatorFactoryAbi.json
  packages/sdk/src/ethereumArtifacts/Sponsorship.d.ts
  packages/sdk/src/ethereumArtifacts/SponsorshipAbi.json
  packages/sdk/src/ethereumArtifacts/SponsorshipFactory.d.ts
  packages/sdk/src/ethereumArtifacts/SponsorshipFactoryAbi.json
  packages/sdk/src/ethereumArtifacts/StreamRegistryV5.d.ts
  packages/sdk/src/ethereumArtifacts/StreamRegistryV5Abi.json
  packages/sdk/src/ethereumArtifacts/StreamStorageRegistryV2.d.ts
  packages/sdk/src/ethereumArtifacts/StreamStorageRegistryV2Abi.json
  packages/sdk/test/end-to-end/Operator.test.ts
  packages/sdk/test/end-to-end/decorated-contract.test.ts
Labels: cli-tools, sdk, node

#3092 test: move `setupOperatorContract()` to `test-utils`
  package-lock.json
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/node/test/integration/plugins/operator/announceNodeToContract.test.ts
  packages/node/test/integration/plugins/operator/announceNodeToStream.test.ts
  packages/node/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/node/test/integration/plugins/operator/maintainOperatorValue.test.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/src/exports.ts
  packages/sdk/test/end-to-end/Operator.test.ts
  packages/test-utils/package.json
  packages/test-utils/src/index.ts
Labels: test-utils, sdk, node

#3096 refactor(cli-tools): Use DATA token from `@streamr/network-contracts` in `token-mint` command
  package-lock.json
  packages/cli-tools/bin/streamr-internal-token-mint.ts
  packages/cli-tools/package.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: test-utils, cli-tools, sdk, node

#3097 refactor(sdk): Move test utils from `operatorContractUtils` to `test-utils`
  packages/node/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/src/exports.ts
  packages/sdk/test/end-to-end/Operator.test.ts
  packages/sdk/test/end-to-end/decorated-contract.test.ts
  packages/test-utils/src/index.ts
Labels: test-utils, sdk, node
