Repository streamr-dev/network, pull requests merged in 2025-02, with the labels that each got.

#3008 test: Adjust coordinate equality check
  packages/dht/test/integration/GeoIpConnectivityChecking.test.ts
  packages/geoip-location/test/unit/GeoIpLocator-intervals.test.ts
  packages/geoip-location/test/unit/GeoIpLocator-no-network-at-monthly.test.ts
  packages/geoip-location/test/unit/GeoIpLocator.test.ts
Labels: dht

#3006 fix(node) [NET-1426]: Fix raising flag on empty inspection array
  CHANGELOG.md
  packages/node/src/plugins/operator/inspectRandomNode.ts
Labels: docs, node

#3014 deps: bump @streamr/config to 5.5.1
  package-lock.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: test-utils, sdk, node

#3018 chore: Selective `lodash` imports
  eslint.config.mjs
  packages/autocertifier-server/bin/copyARecordsToRoute53.ts
  packages/cli-tools/bin/streamr-stream-show.ts
  packages/dht/src/connection/websocket/WebsocketServer.ts
  packages/dht/src/connection/websocket/WebsocketServerConnector.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/contact/SortedContactList.ts
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/dht/routing/getPreviousPeer.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/DhtNode.test.ts
  packages/dht/test/integration/ReplicateData.test.ts
  packages/dht/test/unit/DiscoverySession.test.ts
  packages/dht/test/unit/PeerManager.test.ts
  packages/dht/test/unit/RecursiveOperationSession.test.ts
  packages/dht/test/unit/StoreManager.test.ts
  packages/dht/test/unit/StoreRpcLocal.test.ts
  packages/dht/test/unit/customMatchers.test.ts
  packages/dht/test/unit/getClosestNodes.test.ts
  packages/dht/test/utils/customMatchers.ts
  packages/dht/test/utils/mock/mockDataEntry.ts
  packages/dht/test/utils/topology.ts
  packages/node/src/plugins/operator/checkOperatorValueBreach.ts
  packages/node/src/plugins/operator/inspectionUtils.ts
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/node/test/unit/helpers/weightedSample.test.ts
  packages/node/test/unit/plugins/operator/heartbeatUtils.test.ts
  packages/sdk/src/NetworkNodeFacade.ts
  packages/sdk/src/Stream.ts
  packages/sdk/src/contracts/ChainEventPoller.ts
  packages/sdk/src/contracts/OperatorRegistry.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/test/end-to-end/Operator.test.ts
  packages/sdk/test/integration/json-rpc-provider.test.ts
  packages/sdk/test/test-utils/FakeJsonRpcServer.ts
  packages/sdk/test/test-utils/customMatchers.ts
  packages/sdk/test/unit/Config.test.ts
  packages/sdk/test/unit/Mapping.test.ts
  packages/sdk/test/unit/Operator.test.ts
  packages/sdk/test/unit/OrderMessages2.test.ts
  packages/sdk/test/unit/resendSubscription.test.ts
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/NodeList.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
  packages/trackerless-network/test/benchmark/StreamPartIdDataKeyDistribution.test.ts
  packages/trackerless-network/test/end-to-end/webrtc-full-node-network.test.ts
  packages/trackerless-network/test/end-to-end/websocket-full-node-network.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryLayerNode-Layer1Node-Latencies.test.ts
  packages/trackerless-network/test/integration/ContentDeliveryLayerNode-Layer1Node.test.ts
  packages/trackerless-network/test/integration/Inspect.test.ts
  packages/trackerless-network/test/integration/Propagation.test.ts
  packages/trackerless-network/test/integration/stream-without-default-entrypoints.test.ts
  packages/trackerless-network/test/integration/streamEntryPointReplacing.test.ts
  packages/trackerless-network/test/unit/Handshaker.test.ts
  packages/trackerless-network/test/unit/NeighborFinder.test.ts
  packages/trackerless-network/test/unit/NeighborUpdateRpcLocal.test.ts
  packages/utils/src/merge.ts
  packages/utils/test/Logger.test.ts
Labels: network, cli-tools, dht, utils, sdk, node

#3020 chore(sdk) [NET-1394]: add new storage node cluster address
  CHANGELOG.md
  docs/docs/usage/streams/store-and-retrieve.md
  packages/sdk/src/Config.ts
  packages/sdk/src/exports.ts
Labels: docs, sdk

#3017 chore(dht): Use `URLSearchParams` to parse search params
  package-lock.json
  packages/browser-test-runner/src/createWebpackConfig.ts
  packages/browser-test-runner/src/preload.js
  packages/dht/package.json
  packages/dht/src/connection/websocket/WebsocketServerConnector.ts
Labels: dht
