Repository streamr-dev/network, pull requests merged in 2025-01, with the labels that each got.

#2964 fix(network): clean up generated code
  packages/dht/generated/packages/dht/protos/DhtRpc.ts
  packages/trackerless-network/generated/packages/dht/protos/DhtRpc.client.ts
  packages/trackerless-network/generated/packages/dht/protos/DhtRpc.server.ts
  packages/trackerless-network/generated/packages/dht/protos/DhtRpc.ts
Labels: network, dht

#2962 refactor(sdk): Remove chain config options from `operatorContractUtils`
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: sdk

#2963 test: move `generateWalletWithGasAndTokens()` to `test-utils`
  package-lock.json
  packages/node/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/node/test/integration/plugins/operator/announceNodeToContract.test.ts
  packages/node/test/integration/plugins/operator/announceNodeToStream.test.ts
  packages/node/test/integration/plugins/operator/checkOperatorValueBreach.test.ts
  packages/node/test/integration/plugins/operator/maintainOperatorValue.test.ts
  packages/node/test/smoke/inspect.test.ts
  packages/node/test/smoke/profit.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/src/exports.ts
  packages/sdk/test/end-to-end/Operator.test.ts
  packages/test-utils/package.json
  packages/test-utils/src/index.ts
Labels: test-utils, sdk, node

#2961 feat(DHT): NET-1382 add application version to handshake
  packages/cli-tools/bin/streamr-internal-node-info.ts
  packages/dht/protos/DhtRpc.proto
  packages/dht/src/connection/Handshaker.ts
  packages/dht/src/connection/connectivityChecker.ts
  packages/dht/src/connection/connectivityRequestHandler.ts
  packages/dht/src/connection/webrtc/WebrtcConnector.ts
  packages/dht/src/connection/websocket/WebsocketServerConnector.ts
  packages/dht/src/helpers/version.ts
  packages/dht/test/benchmark/hybrid-network-simulation/RingContactList.test.ts
  packages/dht/test/integration/ConnectivityChecking.test.ts
  packages/dht/test/integration/GeoIpConnectivityChecking.test.ts
  packages/dht/test/unit/Handshaker.test.ts
  packages/dht/test/unit/connectivityRequestHandler.test.ts
  packages/dht/test/unit/version.test.ts
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/trackerless-network/src/NetworkStack.ts
  packages/trackerless-network/test/integration/NodeInfoRpc.test.ts
Labels: network, cli-tools, dht

#2957 test: Use test token faucet instead of `KeyServer`
  packages/cli-tools/jest.config.js
  packages/cli-tools/jest.teardown.js
  packages/node/jest.config.js
  packages/node/jest.teardown.js
  packages/sdk/jest.config.js
  packages/sdk/jest.teardown.js
  packages/sdk/test/benchmarks/publish.js
  packages/sdk/test/benchmarks/raw-pipeline.js
  packages/sdk/test/benchmarks/resend.js
  packages/sdk/test/benchmarks/subscribe.js
  packages/test-utils/src/index.ts
Labels: test-utils, cli-tools, sdk, node

#2974 Switch to using helsinki.fi instead of suomi.fi in GeoIpLocation tests
  packages/dht/test/integration/GeoIpConnectivityChecking.test.ts
  packages/geoip-location/test/unit/GeoIpLocator-intervals.test.ts
  packages/geoip-location/test/unit/GeoIpLocator-no-network-at-monthly.test.ts
  packages/geoip-location/test/unit/GeoIpLocator.test.ts
Labels: dht

#2967 chore: Convert Jest configs into typescript
  jest.config.js
  jest.config.ts
  packages/autocertifier-server/jest.config.js
  packages/autocertifier-server/jest.config.ts
  packages/cdn-location/jest.config.js
  packages/cdn-location/jest.config.ts
  packages/cli-tools/jest.config.js
  packages/cli-tools/jest.config.ts
  packages/dht/jest.config.js
  packages/dht/jest.config.ts
  packages/geoip-location/jest.config.js
  packages/geoip-location/jest.config.ts
  packages/node/jest.config.js
  packages/node/jest.config.ts
  packages/proto-rpc/jest.config.js
  packages/proto-rpc/jest.config.ts
  packages/sdk/jest.config.js
  packages/sdk/jest.config.ts
  packages/sdk/jest.setup.js
  packages/sdk/jest.setup.ts
  packages/test-utils/jest.config.js
  packages/test-utils/jest.config.ts
  packages/trackerless-network/jest.config.js
  packages/trackerless-network/jest.config.ts
  packages/trackerless-network/protos/NetworkRpc.proto
  packages/utils/jest.config.js
  packages/utils/jest.config.ts
Labels: network, test-utils, cli-tools, dht, utils, proto-rpc, sdk, node

#2971 feat(sdk): Export stream metadata utils
  packages/sdk/src/exports.ts
Labels: sdk

#2980 fix(test): [NET-1400] Electron binary permissions
  .github/workflows/test-setup.yml
  .github/workflows/validate.yml
Labels: ci

#2976 NET-1383: Reduce the size of the routing tables to 5 for performance
  packages/dht/src/dht/routing/RoutingSession.ts
  packages/dht/src/dht/routing/RoutingTablesCache.ts
  packages/dht/test/unit/RoutingSession.test.ts
Labels: dht

#2979 feat(network): limit pings in layer1 NET-1384
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/dht/PeerManager.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network, dht

#2926 feat(cli-tools): [NET-1398] Add internal operator and sponsorship commands
  packages/cli-tools/bin/streamr-internal-operator-delegate.ts
  packages/cli-tools/bin/streamr-internal-operator-stake.ts
  packages/cli-tools/bin/streamr-internal-operator-undelegate.ts
  packages/cli-tools/bin/streamr-internal-operator-unstake.ts
  packages/cli-tools/bin/streamr-internal-sponsorship-sponsor.ts
  packages/cli-tools/bin/streamr-internal.ts
  packages/cli-tools/test/internal-operator.test.ts
  packages/cli-tools/test/internal-sponsorship-sponsor.test.ts
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/node/test/smoke/profit.test.ts
  packages/sdk/src/contracts/operatorContractUtils.ts
Labels: cli-tools, sdk, node

#2918 feat(node): [NET-1381] Add version to operator heartbeats
  packages/node/src/plugins/operator/heartbeatUtils.ts
  packages/node/test/integration/plugins/operator/announceNodeToStream.test.ts
  packages/node/test/unit/plugins/operator/heartbeatUtils.test.ts
Labels: node

#2986 fix [NET-1407]: add missing .npmignore files so that protobuf files are included in NPM packaging
  packages/autocertifier-client/.npmignore
  packages/dht/.npmignore
  packages/proto-rpc/.npmignore
  packages/trackerless-network/.npmignore
Labels: network, dht, proto-rpc

#2848 chore: Lint browser implementations
  packages/dht/eslint.config.mjs
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/tsconfig.jest.json
  packages/sdk/eslint.config.mjs
  packages/sdk/package.json
  packages/sdk/src/utils/persistence/BrowserPersistence.mts
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.node.json
  packages/sdk/webpack.config.js
Labels: dht, sdk

#2988 fix(test-utils): Update `files` list in `package.json`
  packages/test-utils/.npmignore
  packages/test-utils/package.json
Labels: test-utils

#2987 ci: Default value for `tag` in NPM publish workflow
  .github/workflows/publish-npm.yml
  release.sh
Labels: ci

#2985 feat(cli-tools): [NET-1405] Add internal `token-mint` command
  packages/cli-tools/bin/streamr-internal-token-mint.ts
  packages/cli-tools/bin/streamr-internal.ts
Labels: cli-tools

#2989 bug:DREL-256 S3 sync needs be able to descructively synchronize source and target folders
  .github/workflows/deploy-docs.yml
Labels: ci

#2981 deps [NET-1401]: update to Node.js 22
  .nvmrc
  Dockerfile.node
  package-lock.json
  package.json
  packages/cli-tools/test/utils.ts
  tsconfig.node.json
Labels: cli-tools

#2994 feat(network): NET-1419 Configurable propagation buffer sizes
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/createContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/propagation/Propagation.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
Labels: network

#2993 test: [NET-1420] Use `createTestWallet()` instead of `fastWallet()`
  packages/node/test/integration/broker-subscriptions.test.ts
  packages/node/test/integration/multiple-publisher-plugins.test.ts
  packages/node/test/integration/plugins/operator/MaintainTopologyService.test.ts
  packages/node/test/integration/plugins/operator/OperatorPlugin.test.ts
  packages/node/test/integration/plugins/operator/announceNodeToStream.test.ts
  packages/node/test/integration/plugins/subscriber/SubscriberPlugin.test.ts
  packages/node/test/utils.ts
  packages/sdk/test/benchmarks/signingUtils.test.ts
  packages/sdk/test/end-to-end/Permissions.test.ts
  packages/sdk/test/end-to-end/StreamrClient.test.ts
  packages/sdk/test/end-to-end/binary-publish.test.ts
  packages/sdk/test/end-to-end/contract-call-error.test.ts
  packages/sdk/test/end-to-end/erc1271-publish-subscribe.test.ts
  packages/sdk/test/end-to-end/publish-subscribe-via-proxy.test.ts
  packages/sdk/test/end-to-end/publish-subscribe.test.ts
  packages/sdk/test/end-to-end/resend.test.ts
  packages/sdk/test/integration/GroupKeyPersistence.test.ts
  packages/sdk/test/integration/NetworkNodeFacade.test.ts
  packages/sdk/test/integration/PublisherKeyExchange.test.ts
  packages/sdk/test/integration/Resends.test.ts
  packages/sdk/test/integration/Resends2.test.ts
  packages/sdk/test/integration/StreamrClient.test.ts
  packages/sdk/test/integration/Subscriber.test.ts
  packages/sdk/test/integration/Subscriber2.test.ts
  packages/sdk/test/integration/SubscriberKeyExchange.test.ts
  packages/sdk/test/integration/gap-fill.test.ts
  packages/sdk/test/integration/invalid-messages.test.ts
  packages/sdk/test/integration/parallel-key-exchange.test.ts
  packages/sdk/test/integration/parallel-publish.test.ts
  packages/sdk/test/integration/publisher-key-reuse.test.ts
  packages/sdk/test/integration/resend-and-subscribe.test.ts
  packages/sdk/test/integration/resend-with-existing-key.test.ts
  packages/sdk/test/integration/revoke-permissions.test.ts
  packages/sdk/test/integration/unsubscribe.test.ts
  packages/sdk/test/integration/waitForStorage.test.ts
  packages/sdk/test/test-utils/fake/FakeEnvironment.ts
  packages/sdk/test/test-utils/fake/FakeStorageNode.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/Decrypt.test.ts
  packages/sdk/test/unit/ERC1271ContractFacade.test.ts
  packages/sdk/test/unit/EncryptionUtil.test.ts
  packages/sdk/test/unit/GroupKeyManager.test.ts
  packages/sdk/test/unit/GroupKeyQueue.test.ts
  packages/sdk/test/unit/MessageFactory.test.ts
  packages/sdk/test/unit/MessageStream.test.ts
  packages/sdk/test/unit/Publisher.test.ts
  packages/sdk/test/unit/PushPipeline.test.ts
  packages/sdk/test/unit/messagePipeline.test.ts
  packages/sdk/test/unit/resendSubscription.test.ts
  packages/sdk/test/unit/validateStreamMessage.test.ts
  packages/sdk/test/unit/validateStreamMessage2.test.ts
  packages/sdk/test/unit/waitForAssignmentsToPropagate.test.ts
  packages/test-utils/src/index.ts
Labels: test-utils, sdk, node
