Repository streamr-dev/network, pull requests merged in 2025-05, with the labels that each got.

#3098 refactor(sdk): `operatorContractUtils#transferTokens()` uses token ABI from `@streamr/network-contracts`
  packages/sdk/src/contracts/operatorContractUtils.ts
  packages/sdk/src/ethereumArtifacts/DATAv2.d.ts
  packages/sdk/src/ethereumArtifacts/DATAv2Abi.json
Labels: sdk

#3099 fix(network): Fixed function binding for event listener in PlumTreeManager
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
Labels: network

#3100 DREL-264 MATIC to POL docs rename
  docs/docs/guides/become-an-operator.md
  docs/docs/guides/how-to-stake-and-earn.md
  docs/docs/guides/nodejs.md
  docs/docs/guides/use-any-language-or-device.md
  docs/docs/guides/web-app-frameworks.md
  docs/docs/help/operator-faq.md
  docs/docs/streamr-network/network-roles/operators.md
  docs/docs/usage/streams/creating-streams.md
  docs/docs/usage/streams/interacting-with-streams.md
  docs/docs/usage/streams/partitioning.md
  docs/docs/usage/streams/permissions.md
  packages/node/src/config/ConfigWizard.ts
  packages/sdk/README.md
Labels: sdk, node

#3084 chore(sdk)!: Rename `Message#groupKeyId` field
  CHANGELOG.md
  packages/sdk/src/Message.ts
  packages/sdk/test/end-to-end/erc1271-publish-subscribe.test.ts
Labels: docs, sdk

#3104 Use `isolatedModules`
  packages/autocertifier-client/src/exports.ts
  packages/dht/src/exports.ts
  packages/node/src/exports.ts
  packages/proto-rpc/src/exports.ts
  packages/sdk/src/exports.ts
  packages/sdk/src/publish/Publisher.ts
  packages/sdk/src/subscribe/Resends.ts
  packages/trackerless-network/src/exports.ts
  packages/utils/src/exports.ts
  packages/utils/src/signingUtils.ts
  tsconfig.browser.json
  tsconfig.jest.json
  tsconfig.node.json
Labels: network, dht, utils, proto-rpc, sdk, node

#3105 refactor(utils,cdn-location): Simplify exports
  packages/cdn-location/src/exports.ts
  packages/utils/src/exports.ts
Labels: utils

#3106 test(dht): Optimize topology tests
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/test/benchmark/Find.test.ts
  packages/dht/test/benchmark/KademliaCorrectness.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-WebSocket.test.ts
  packages/dht/test/end-to-end/Layer1-Scale-Webrtc.test.ts
  packages/dht/test/integration/DhtJoinPeerDiscovery.test.ts
  packages/dht/test/integration/Find.test.ts
  packages/dht/test/integration/Layer1-scale.test.ts
  packages/dht/test/integration/ReplicateData.test.ts
  packages/dht/test/integration/Store.test.ts
  packages/dht/test/integration/StoreAndDelete.test.ts
  packages/dht/test/utils/utils.ts
Labels: dht

#3102 test(network): add unit test for onNeighborRemoved in PlumTreeManager
  packages/trackerless-network/test/unit/PlumTreeManager.test.ts
Labels: network

#3107 feat(network): Limit number of paused connections in PlumTree
  packages/trackerless-network/src/logic/plumtree/PausedNeighbors.ts
  packages/trackerless-network/src/logic/plumtree/PlumTreeManager.ts
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
  packages/trackerless-network/test/unit/PlumTreeManager.test.ts
  packages/trackerless-network/test/unit/PlumTreeRpcLocal.test.ts
Labels: network

#3109 build: update @streamr/config to 5.5.6
  package-lock.json
  packages/cli-tools/package.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: test-utils, cli-tools, sdk, node

#3110 bugfix: getting subtle in web workers
  packages/sdk/test/unit/ECDSAKeyPairIdentity.test.ts
  packages/utils/src/crossPlatformCrypto.ts
Labels: utils, sdk

#3111 feat(sdk): add "peaq" environment
  packages/cli-tools/test/environment.test.ts
  packages/sdk/src/Config.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/generated/validateConfig.js
  packages/sdk/test/unit/Config.test.ts
Labels: cli-tools, sdk

#3115 fix(network): fix import of `waitForEvent3` in InspectSession.test.ts
  packages/trackerless-network/test/unit/InspectSession.test.ts
Labels: network

#3119 refactor(dht): Simplify event definitions
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/connection/ManagedConnection.ts
  packages/dht/src/connection/webrtc/BrowserWebrtcConnection.ts
  packages/dht/src/connection/webrtc/IWebrtcConnection.ts
  packages/dht/src/connection/webrtc/NodeWebrtcConnection.ts
  packages/dht/src/dht/DhtNode.ts
  packages/dht/src/transport/ITransport.ts
  packages/dht/test/integration/RouteMessage.test.ts
Labels: dht

#3112 fix(network): Fix PlumTreePropagation test
  packages/trackerless-network/test/integration/PlumTreePropagation.test.ts
Labels: network

#3117 NET-1457: Define explicit "exports" for SDK
  packages/sdk/package.json
Labels: sdk

#3123 bugfix: fix ecdsa verification on safari
  packages/utils/src/SigningUtil.ts
  packages/utils/test/SigningUtil.test.ts
Labels: utils

#3124 chore(test-utils): Remove `runAndWaitForEvents()` and `runAndRaceEvents()`
  packages/test-utils/src/index.ts
Labels: test-utils

#3125 test(utils): Tests for `raceEvents()`
  packages/utils/test/raceEvents.test.ts
Labels: utils

#3126 refactor(dht): Inline `runAndWaitForEvents()` and `runAndRaceEvents()`
  packages/dht/src/connection/connectivityChecker.ts
  packages/dht/src/dht/recursive-operation/RecursiveOperationManager.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/utils/src/exports.ts
  packages/utils/src/raceEvents.ts
Labels: dht, utils

#3129 test(dht): Equality check in `Mock-Layer1-Layer0.test.ts`
  packages/dht/test/integration/Mock-Layer1-Layer0.test.ts
Labels: dht

#3128 refactor(utils): Simple `raceForEvent()`
  packages/dht/src/connection/connectivityChecker.ts
  packages/dht/src/dht/routing/Router.ts
  packages/utils/src/exports.ts
  packages/utils/src/raceEvents.ts
  packages/utils/src/raceForEvent.ts
  packages/utils/test/raceForEvent.test.ts
Labels: dht, utils

#3135 feat(cli-tools): Add internal `operator-grant-controller-role` command
  packages/cli-tools/bin/streamr-internal-operator-grant-controller-role.ts
  packages/cli-tools/bin/streamr-internal.ts
  packages/cli-tools/test/internal-operator.test.ts
Labels: cli-tools
