Repository streamr-dev/network, pull requests merged in 2025-03, with the labels that each got.

#2997 refactor(network): Default configs as constants for layer2
  packages/trackerless-network/src/logic/ContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/createContentDeliveryLayerNode.ts
  packages/trackerless-network/src/logic/neighbor-discovery/NeighborUpdateManager.ts
  packages/trackerless-network/src/logic/propagation/Propagation.ts
  packages/trackerless-network/src/logic/proxy/ProxyClient.ts
Labels: network

#3037 ci: use ubuntu-latest as docker host machine in docker-build.yml
  .github/workflows/docker-build.yml
Labels: ci

#3019 fix: NET-1428: Ensure proper ESM/CJS entry point in the "browser" export
  CHANGELOG.md
  docs/docs/usage/sdk/how-to-use.md
  eslint.config.mjs
  package-lock.json
  packages/autocertifier-server/package.json
  packages/browser-test-runner/package.json
  packages/browser-test-runner/src/createWebpackConfig.ts
  packages/dht/.npmignore
  packages/dht/karma.config.js
  packages/dht/package.json
  packages/dht/scripts/postbuild.sh
  packages/dht/scripts/rewrite-package.ts
  packages/dht/test/integration/ConnectionLocking.test.ts
  packages/dht/test/unit/createPeerDescriptor.test.ts
  packages/dht/tsconfig.browser.json
  packages/dht/tsconfig.jest.json
  packages/dht/tsconfig.node.json
  packages/proto-rpc/karma.config.js
  packages/sdk/.npmignore
  packages/sdk/copy-package.js
  packages/sdk/copy-package.sh
  packages/sdk/karma-end-to-end.config.js
  packages/sdk/karma-integration.config.js
  packages/sdk/karma-unit.config.js
  packages/sdk/package.json
  packages/sdk/scripts/postbuild.sh
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/exports-esm.mjs
  packages/sdk/test/exports/webpack.config.js
  packages/sdk/tsconfig.browser.json
  packages/sdk/tsconfig.jest.json
  packages/sdk/tsconfig.node.json
  packages/sdk/webpack-karma.config.js
  packages/sdk/webpack.config.js
  packages/trackerless-network/karma.config.js
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/utils/karma.config.js
  release.sh
Labels: network, docs, dht, utils, proto-rpc, sdk

#3034 refactor(network): always use createMockDescriptor in trackerless-network tests
  packages/trackerless-network/test/integration/ContentDeliveryRpcRemote.test.ts
  packages/trackerless-network/test/integration/HandshakeRpcRemote.test.ts
  packages/trackerless-network/test/integration/Handshakes.test.ts
  packages/trackerless-network/test/integration/NeighborUpdateRpcRemote.test.ts
  packages/trackerless-network/test/unit/HandshakeRpcLocal.test.ts
  packages/trackerless-network/test/unit/NodeList.test.ts
  packages/trackerless-network/test/utils/utils.ts
Labels: network

#3036 chore(sdk)!: remove lit-protocol integration
  CHANGELOG.md
  docs/docs/streamr-network/security/key-encryption.md
  docs/docs/usage/streams/store-and-retrieve.md
  package-lock.json
  packages/sdk/package.json
  packages/sdk/src/Config.ts
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/config.schema.json
  packages/sdk/src/encryption/GroupKeyManager.ts
  packages/sdk/src/encryption/LitProtocolFacade.ts
  packages/sdk/test/test-utils/utils.ts
  packages/sdk/test/unit/GroupKeyManager.test.ts
  packages/sdk/test/unit/StreamrClient.test.ts
  packages/sdk/test/unit/messagePipeline.test.ts
Labels: docs, sdk

#3039 chore(DHT): update node-datachannel to 0.26.0
  package-lock.json
  package.json
  packages/dht/package.json
Labels: dht

#3035 refactor(DHT): Always use createMockPeerDescriptor in DHT tests
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/dht/test/integration/RouteMessage.test.ts
  packages/dht/test/integration/WebrtcConnectionManagement.test.ts
  packages/dht/test/integration/WebsocketConnectionManagement.test.ts
  packages/dht/test/utils/utils.ts
Labels: dht

#3040 feat(network): new `doNotBufferWhileConnecting` transport flag.
  packages/dht/src/connection/ConnectionManager.ts
  packages/dht/src/rpc-protocol/DhtCallContext.ts
  packages/dht/src/rpc-protocol/DhtRpcOptions.ts
  packages/dht/src/transport/ITransport.ts
  packages/dht/src/transport/RoutingRpcCommunicator.ts
  packages/dht/test/integration/ConnectionManager.test.ts
  packages/trackerless-network/src/logic/ContentDeliveryManager.ts
  packages/trackerless-network/src/logic/ContentDeliveryRpcRemote.ts
  packages/trackerless-network/src/logic/createContentDeliveryLayerNode.ts
Labels: network, dht

#2928 refactor(sdk): Support multiple contracts in `ChainEventPoller`
  packages/sdk/src/StreamrClient.ts
  packages/sdk/src/contracts/ChainEventPoller.ts
  packages/sdk/src/contracts/Operator.ts
  packages/sdk/src/contracts/StreamRegistry.ts
  packages/sdk/src/contracts/StreamStorageRegistry.ts
  packages/sdk/src/contracts/contract.ts
  packages/sdk/test/test-utils/FakeJsonRpcServer.ts
  packages/sdk/test/unit/ChainEventPoller.test.ts
  packages/sdk/test/unit/Operator.test.ts
Labels: sdk

#3038 chore [NET-1433]: replace .npmignore with files property
  packages/autocertifier-client/package.json
  packages/autocertifier-server/package.json
  packages/cdn-location/package.json
  packages/cli-tools/.npmignore
  packages/cli-tools/package.json
  packages/geoip-location/package.json
  packages/node/.npmignore
  packages/node/package.json
  packages/proto-rpc/.npmignore
  packages/proto-rpc/package.json
  packages/trackerless-network/.npmignore
  packages/trackerless-network/package.json
  packages/utils/.npmignore
  packages/utils/package.json
Labels: network, cli-tools, utils, proto-rpc, node

#3058 Bump `@streamr/config` to v5.5.2
  package-lock.json
  packages/node/package.json
  packages/sdk/package.json
  packages/test-utils/package.json
Labels: test-utils, sdk, node
